<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Accounts forslag</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Accounts forslag</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/0992e1a7-2c90-4fef-b109-254a9c50409c.png" alt="Accounts forslag" usemap="#0992e1a7-2c90-4fef-b109-254a9c50409cmap"/>
			   <map name="0992e1a7-2c90-4fef-b109-254a9c50409cmap">
				  				<area shape="rect" coords="286,46,839,635" href="../elements/5c79a847-5054-4087-8cd4-9615b4831c44.html"  target="element">

				  		<area shape="rect" coords="274,10,851,647" href="../elements/bc383e0f-d3cc-4659-8749-01798c60a38a.html"  target="element">
				  		<area shape="rect" coords="1474,118,1594,173" href="../elements/31f73a6a-464f-4727-944c-0db06c02b187.html"  target="element">
				  						<area shape="rect" coords="1054,352,1174,461" href="../elements/d63568a2-7827-4961-8dd3-24f175b62d08.html"  target="element">
				  						<area shape="rect" coords="1241,448,1361,533" href="../elements/c3a4e9d3-3b89-458e-aa50-48d9978e6e89.html"  target="element">
				  						<area shape="rect" coords="1241,352,1361,407" href="../elements/e7d4ad33-3682-46e2-a242-e94cd836520d.html"  target="element">
				  						<area shape="rect" coords="1054,257,1174,312" href="../elements/e6074d78-5fb7-4d65-9d01-7e625ee7adb5.html"  target="element">
				  						<area shape="rect" coords="1241,257,1361,312" href="../elements/a23393f6-b0d7-42f6-ae78-efe7a29dec87.html"  target="element">
				  						<area shape="rect" coords="1054,184,1367,227" href="../elements/ed5a02c4-32f6-4504-9e92-ba3004b53f53.html"  target="element">
				  						<area shape="rect" coords="1054,124,1367,161" href="../elements/87ce19b3-0b50-4e1c-8fd5-5c2fd1a77f71.html"  target="element">

				  				<area shape="rect" coords="1042,88,1379,653" href="../elements/cd20803e-0300-4553-bc67-8ca742fe371b.html"  target="element">

				  		<area shape="rect" coords="1030,64,1391,665" href="../elements/bc383e0f-d3cc-4659-8749-01798c60a38a.html"  target="element">
				  		<area shape="rect" coords="10,574,215,629" href="../elements/cf0f5e72-afe6-4870-aa9d-85917ffaa710.html"  target="element">
				  		<area shape="rect" coords="874,91,994,146" href="../elements/101511f3-dbd2-463c-b1d8-b9eba1f4fec7.html"  target="element">
				  		<area shape="rect" coords="10,334,215,395" href="../elements/9acda997-5174-40bd-8d73-a8ff2c52eb90.html"  target="element">
				  		<area shape="rect" coords="10,250,215,311" href="../elements/e0a1a809-4c9a-4919-800b-83e11b21a737.html"  target="element">
				  		<area shape="rect" coords="10,166,215,227" href="../elements/bf302ea5-fc1b-4332-8b66-4742e79a2cce.html"  target="element">
				  		<area shape="rect" coords="10,82,215,143" href="../elements/5b120c4a-ab2f-4b81-a23c-552c79cfd908.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/5b120c4a-ab2f-4b81-a23c-552c79cfd908.html" target="element"> Vest Suppliers </a> </td>
											    <td> <a href="../elements/5b120c4a-ab2f-4b81-a23c-552c79cfd908.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/bf302ea5-fc1b-4332-8b66-4742e79a2cce.html" target="element"> HSTAT Suppliers </a> </td>
											    <td> <a href="../elements/bf302ea5-fc1b-4332-8b66-4742e79a2cce.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e0a1a809-4c9a-4919-800b-83e11b21a737.html" target="element"> MERCELL Suppliers </a> </td>
											    <td> <a href="../elements/e0a1a809-4c9a-4919-800b-83e11b21a737.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9acda997-5174-40bd-8d73-a8ff2c52eb90.html" target="element"> FarmaSys Suppliers </a> </td>
											    <td> <a href="../elements/9acda997-5174-40bd-8d73-a8ff2c52eb90.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/101511f3-dbd2-463c-b1d8-b9eba1f4fec7.html" target="element"> AccountMaps </a> </td>
											    <td> <a href="../elements/101511f3-dbd2-463c-b1d8-b9eba1f4fec7.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cf0f5e72-afe6-4870-aa9d-85917ffaa710.html" target="element"> Brreg </a> </td>
											    <td> <a href="../elements/cf0f5e72-afe6-4870-aa9d-85917ffaa710.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/bc383e0f-d3cc-4659-8749-01798c60a38a.html" target="element"> Power Automate </a> </td>
											    <td> <a href="../elements/bc383e0f-d3cc-4659-8749-01798c60a38a.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/cd20803e-0300-4553-bc67-8ca742fe371b.html" target="element"> Last inn forretningsforbindelse </a> </td>
													    <td> <a href="../elements/cd20803e-0300-4553-bc67-8ca742fe371b.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/87ce19b3-0b50-4e1c-8fd5-5c2fd1a77f71.html" target="element"> On AccountMap Create/Update </a> </td>
															    <td> <a href="../elements/87ce19b3-0b50-4e1c-8fd5-5c2fd1a77f71.html" target="element" class="i18n-elementtype-ApplicationEvent">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/ed5a02c4-32f6-4504-9e92-ba3004b53f53.html" target="element"> Sjekk Brreg nummer </a> </td>
															    <td> <a href="../elements/ed5a02c4-32f6-4504-9e92-ba3004b53f53.html" target="element" class="i18n-elementtype-ApplicationProcess">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/a23393f6-b0d7-42f6-ae78-efe7a29dec87.html" target="element"> Hvis Brreg </a> </td>
															    <td> <a href="../elements/a23393f6-b0d7-42f6-ae78-efe7a29dec87.html" target="element" class="i18n-elementtype-ApplicationProcess">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/e6074d78-5fb7-4d65-9d01-7e625ee7adb5.html" target="element"> Hvis ikke Brreg </a> </td>
															    <td> <a href="../elements/e6074d78-5fb7-4d65-9d01-7e625ee7adb5.html" target="element" class="i18n-elementtype-ApplicationProcess">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/e7d4ad33-3682-46e2-a242-e94cd836520d.html" target="element"> Upsert Account </a> </td>
															    <td> <a href="../elements/e7d4ad33-3682-46e2-a242-e94cd836520d.html" target="element" class="i18n-elementtype-ApplicationProcess">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/c3a4e9d3-3b89-458e-aa50-48d9978e6e89.html" target="element"> Update AccountMaps with referance to account </a> </td>
															    <td> <a href="../elements/c3a4e9d3-3b89-458e-aa50-48d9978e6e89.html" target="element" class="i18n-elementtype-ApplicationProcess">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/d63568a2-7827-4961-8dd3-24f175b62d08.html" target="element"> Update AccountMaps with manual registration tagg </a> </td>
															    <td> <a href="../elements/d63568a2-7827-4961-8dd3-24f175b62d08.html" target="element" class="i18n-elementtype-ApplicationProcess">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/31f73a6a-464f-4727-944c-0db06c02b187.html" target="element"> Accounts </a> </td>
											    <td> <a href="../elements/31f73a6a-464f-4727-944c-0db06c02b187.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/bc383e0f-d3cc-4659-8749-01798c60a38a.html" target="element"> Power Automate </a> </td>
											    <td> <a href="../elements/bc383e0f-d3cc-4659-8749-01798c60a38a.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/5c79a847-5054-4087-8cd4-9615b4831c44.html" target="element"> Last inn AccountMaps </a> </td>
													    <td> <a href="../elements/5c79a847-5054-4087-8cd4-9615b4831c44.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/04ef8713-4671-48e2-a527-60a5ef8516a2.html" target="element">  </a> </td>
																		<td> <a href="../elements/04ef8713-4671-48e2-a527-60a5ef8516a2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/5b120c4a-ab2f-4b81-a23c-552c79cfd908.html" target="element"> Vest Suppliers </a> </td>
																		<td> <a href="../elements/101511f3-dbd2-463c-b1d8-b9eba1f4fec7.html" target="element"> AccountMaps </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/913b534d-7100-442d-8961-ca8a3625dd89.html" target="element">  </a> </td>
																		<td> <a href="../elements/913b534d-7100-442d-8961-ca8a3625dd89.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/bf302ea5-fc1b-4332-8b66-4742e79a2cce.html" target="element"> HSTAT Suppliers </a> </td>
																		<td> <a href="../elements/101511f3-dbd2-463c-b1d8-b9eba1f4fec7.html" target="element"> AccountMaps </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/3af99684-d23b-407f-8144-e64a3203665b.html" target="element">  </a> </td>
																		<td> <a href="../elements/3af99684-d23b-407f-8144-e64a3203665b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/e0a1a809-4c9a-4919-800b-83e11b21a737.html" target="element"> MERCELL Suppliers </a> </td>
																		<td> <a href="../elements/101511f3-dbd2-463c-b1d8-b9eba1f4fec7.html" target="element"> AccountMaps </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/148d484d-0377-4ce1-b3a4-d62634f662e6.html" target="element">  </a> </td>
																		<td> <a href="../elements/148d484d-0377-4ce1-b3a4-d62634f662e6.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/9acda997-5174-40bd-8d73-a8ff2c52eb90.html" target="element"> FarmaSys Suppliers </a> </td>
																		<td> <a href="../elements/101511f3-dbd2-463c-b1d8-b9eba1f4fec7.html" target="element"> AccountMaps </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/831713bf-6503-4187-a706-b3328fd005e5.html" target="element">  </a> </td>
																		<td> <a href="../elements/831713bf-6503-4187-a706-b3328fd005e5.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/bc383e0f-d3cc-4659-8749-01798c60a38a.html" target="element"> Power Automate </a> </td>
																		<td> <a href="../elements/cd20803e-0300-4553-bc67-8ca742fe371b.html" target="element"> Last inn forretningsforbindelse </a> </td>
																	</tr>

																					<tr>
																						<td> <a href="../elements/b52fc78b-36ae-4e4d-856b-5f2b87938989.html" target="element">  </a> </td>
																						<td> <a href="../elements/b52fc78b-36ae-4e4d-856b-5f2b87938989.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																						</a> </td>
																						<td> <a href="../elements/87ce19b3-0b50-4e1c-8fd5-5c2fd1a77f71.html" target="element"> On AccountMap Create/Update </a> </td>
																						<td> <a href="../elements/ed5a02c4-32f6-4504-9e92-ba3004b53f53.html" target="element"> Sjekk Brreg nummer </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/828ec79a-29a9-4457-b17e-b0499e5ed326.html" target="element">  </a> </td>
																						<td> <a href="../elements/828ec79a-29a9-4457-b17e-b0499e5ed326.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/ed5a02c4-32f6-4504-9e92-ba3004b53f53.html" target="element"> Sjekk Brreg nummer </a> </td>
																						<td> <a href="../elements/cd20803e-0300-4553-bc67-8ca742fe371b.html" target="element"> Last inn forretningsforbindelse </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/ded260db-ec10-46ad-9c07-8b82c9f04a4e.html" target="element">  </a> </td>
																						<td> <a href="../elements/ded260db-ec10-46ad-9c07-8b82c9f04a4e.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/ed5a02c4-32f6-4504-9e92-ba3004b53f53.html" target="element"> Sjekk Brreg nummer </a> </td>
																						<td> <a href="../elements/cf0f5e72-afe6-4870-aa9d-85917ffaa710.html" target="element"> Brreg </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/f0b853fa-a607-4d42-8e91-c52f3aca1270.html" target="element">  </a> </td>
																						<td> <a href="../elements/f0b853fa-a607-4d42-8e91-c52f3aca1270.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/ed5a02c4-32f6-4504-9e92-ba3004b53f53.html" target="element"> Sjekk Brreg nummer </a> </td>
																						<td> <a href="../elements/101511f3-dbd2-463c-b1d8-b9eba1f4fec7.html" target="element"> AccountMaps </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/995d5b19-7d6c-4030-a6fb-b96757680184.html" target="element">  </a> </td>
																						<td> <a href="../elements/995d5b19-7d6c-4030-a6fb-b96757680184.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																						</a> </td>
																						<td> <a href="../elements/ed5a02c4-32f6-4504-9e92-ba3004b53f53.html" target="element"> Sjekk Brreg nummer </a> </td>
																						<td> <a href="../elements/e6074d78-5fb7-4d65-9d01-7e625ee7adb5.html" target="element"> Hvis ikke Brreg </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/1d876608-67f0-4675-ba2c-38d4bf26f86d.html" target="element">  </a> </td>
																						<td> <a href="../elements/1d876608-67f0-4675-ba2c-38d4bf26f86d.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																						</a> </td>
																						<td> <a href="../elements/ed5a02c4-32f6-4504-9e92-ba3004b53f53.html" target="element"> Sjekk Brreg nummer </a> </td>
																						<td> <a href="../elements/a23393f6-b0d7-42f6-ae78-efe7a29dec87.html" target="element"> Hvis Brreg </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/d82099ee-38e4-4f1f-b593-54153bbc30c3.html" target="element">  </a> </td>
																						<td> <a href="../elements/d82099ee-38e4-4f1f-b593-54153bbc30c3.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/a23393f6-b0d7-42f6-ae78-efe7a29dec87.html" target="element"> Hvis Brreg </a> </td>
																						<td> <a href="../elements/cd20803e-0300-4553-bc67-8ca742fe371b.html" target="element"> Last inn forretningsforbindelse </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/0bd3a343-a3a0-4279-bde6-d11c174e4c97.html" target="element">  </a> </td>
																						<td> <a href="../elements/0bd3a343-a3a0-4279-bde6-d11c174e4c97.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																						</a> </td>
																						<td> <a href="../elements/a23393f6-b0d7-42f6-ae78-efe7a29dec87.html" target="element"> Hvis Brreg </a> </td>
																						<td> <a href="../elements/e7d4ad33-3682-46e2-a242-e94cd836520d.html" target="element"> Upsert Account </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/10bd4942-6d2b-4d58-8ce8-6111c36127d2.html" target="element">  </a> </td>
																						<td> <a href="../elements/10bd4942-6d2b-4d58-8ce8-6111c36127d2.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/e6074d78-5fb7-4d65-9d01-7e625ee7adb5.html" target="element"> Hvis ikke Brreg </a> </td>
																						<td> <a href="../elements/cd20803e-0300-4553-bc67-8ca742fe371b.html" target="element"> Last inn forretningsforbindelse </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/91f6c645-7e6f-4f34-afcb-8e38ca846a33.html" target="element">  </a> </td>
																						<td> <a href="../elements/91f6c645-7e6f-4f34-afcb-8e38ca846a33.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																						</a> </td>
																						<td> <a href="../elements/e6074d78-5fb7-4d65-9d01-7e625ee7adb5.html" target="element"> Hvis ikke Brreg </a> </td>
																						<td> <a href="../elements/d63568a2-7827-4961-8dd3-24f175b62d08.html" target="element"> Update AccountMaps with manual registration tagg </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/5575eeb1-c42e-4b8a-bedf-016f53380fdd.html" target="element">  </a> </td>
																						<td> <a href="../elements/5575eeb1-c42e-4b8a-bedf-016f53380fdd.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/e7d4ad33-3682-46e2-a242-e94cd836520d.html" target="element"> Upsert Account </a> </td>
																						<td> <a href="../elements/cd20803e-0300-4553-bc67-8ca742fe371b.html" target="element"> Last inn forretningsforbindelse </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/d7718a05-65dd-4d81-9907-42803711b199.html" target="element">  </a> </td>
																						<td> <a href="../elements/d7718a05-65dd-4d81-9907-42803711b199.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/e7d4ad33-3682-46e2-a242-e94cd836520d.html" target="element"> Upsert Account </a> </td>
																						<td> <a href="../elements/cf0f5e72-afe6-4870-aa9d-85917ffaa710.html" target="element"> Brreg </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/08037887-74ca-4bcc-838e-53be540da8d6.html" target="element">  </a> </td>
																						<td> <a href="../elements/08037887-74ca-4bcc-838e-53be540da8d6.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/e7d4ad33-3682-46e2-a242-e94cd836520d.html" target="element"> Upsert Account </a> </td>
																						<td> <a href="../elements/31f73a6a-464f-4727-944c-0db06c02b187.html" target="element"> Accounts </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/b383d14d-40a7-4192-a01b-d03f01777e96.html" target="element">  </a> </td>
																						<td> <a href="../elements/b383d14d-40a7-4192-a01b-d03f01777e96.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																						</a> </td>
																						<td> <a href="../elements/e7d4ad33-3682-46e2-a242-e94cd836520d.html" target="element"> Upsert Account </a> </td>
																						<td> <a href="../elements/c3a4e9d3-3b89-458e-aa50-48d9978e6e89.html" target="element"> Update AccountMaps with referance to account </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/589d2356-2ec9-45e6-ba59-9d4819935786.html" target="element">  </a> </td>
																						<td> <a href="../elements/589d2356-2ec9-45e6-ba59-9d4819935786.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/c3a4e9d3-3b89-458e-aa50-48d9978e6e89.html" target="element"> Update AccountMaps with referance to account </a> </td>
																						<td> <a href="../elements/cd20803e-0300-4553-bc67-8ca742fe371b.html" target="element"> Last inn forretningsforbindelse </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/12052b26-91af-4394-ac72-2e3ea521d544.html" target="element">  </a> </td>
																						<td> <a href="../elements/12052b26-91af-4394-ac72-2e3ea521d544.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/c3a4e9d3-3b89-458e-aa50-48d9978e6e89.html" target="element"> Update AccountMaps with referance to account </a> </td>
																						<td> <a href="../elements/31f73a6a-464f-4727-944c-0db06c02b187.html" target="element"> Accounts </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/1789f527-f0e0-41c9-ab0e-efae7094c64e.html" target="element">  </a> </td>
																						<td> <a href="../elements/1789f527-f0e0-41c9-ab0e-efae7094c64e.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/c3a4e9d3-3b89-458e-aa50-48d9978e6e89.html" target="element"> Update AccountMaps with referance to account </a> </td>
																						<td> <a href="../elements/101511f3-dbd2-463c-b1d8-b9eba1f4fec7.html" target="element"> AccountMaps </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/c5fa3743-f791-4e0a-8093-da6301372568.html" target="element">  </a> </td>
																						<td> <a href="../elements/c5fa3743-f791-4e0a-8093-da6301372568.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/d63568a2-7827-4961-8dd3-24f175b62d08.html" target="element"> Update AccountMaps with manual registration tagg </a> </td>
																						<td> <a href="../elements/cd20803e-0300-4553-bc67-8ca742fe371b.html" target="element"> Last inn forretningsforbindelse </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/84b153a7-8a5c-4c92-a528-4b3337ac1893.html" target="element">  </a> </td>
																						<td> <a href="../elements/84b153a7-8a5c-4c92-a528-4b3337ac1893.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/d63568a2-7827-4961-8dd3-24f175b62d08.html" target="element"> Update AccountMaps with manual registration tagg </a> </td>
																						<td> <a href="../elements/101511f3-dbd2-463c-b1d8-b9eba1f4fec7.html" target="element"> AccountMaps </a> </td>
																					</tr>

													
											
																	<tr>
																		<td> <a href="../elements/69d10ee9-14f8-4ddb-922a-20a593c26882.html" target="element">  </a> </td>
																		<td> <a href="../elements/69d10ee9-14f8-4ddb-922a-20a593c26882.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/bc383e0f-d3cc-4659-8749-01798c60a38a.html" target="element"> Power Automate </a> </td>
																		<td> <a href="../elements/5c79a847-5054-4087-8cd4-9615b4831c44.html" target="element"> Last inn AccountMaps </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>