<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Saksbehandling</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Saksbehandling</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/12f207bb-0eca-4c4f-b055-e113f2cb24eb.png" alt="Saksbehandling" usemap="#12f207bb-0eca-4c4f-b055-e113f2cb24ebmap"/>
			   <map name="12f207bb-0eca-4c4f-b055-e113f2cb24ebmap">
				  		<area shape="rect" coords="116,452,236,507" href="../elements/8e28f729-a7f8-42a1-83d9-96dffb8e74c9.html"  target="element">
				  		<area shape="rect" coords="956,452,1076,507" href="../elements/6e0fd76b-362e-4544-828c-0058867d7b82.html"  target="element">
				  		<area shape="rect" coords="186,67,306,122" href="../elements/15799b12-5530-474b-bbe2-be3f20c36f82.html"  target="element">
				  		<area shape="rect" coords="764,452,884,507" href="../elements/acc41889-7241-40a3-8211-30c50873f8fd.html"  target="element">
				  		<area shape="rect" coords="308,452,428,507" href="../elements/dfc63321-f8e5-4cb9-a7a6-c0469ffd6f15.html"  target="element">
				  						<area shape="rect" coords="541,656,661,711" href="../elements/d351b047-c8c7-48f8-abbf-014a04cb3f7f.html"  target="element">
				  						<area shape="rect" coords="541,728,661,783" href="../elements/0e63a222-044e-4d50-a3e6-704407b1013f.html"  target="element">

				  				<area shape="rect" coords="505,608,698,801" href="../elements/7e6115b9-ca6f-406c-8e84-f1995eb90985.html"  target="element">

				  		<area shape="rect" coords="421,548,789,837" href="../elements/cc190324-3b14-4028-b546-1342737f5e34.html"  target="element">
				  		<area shape="rect" coords="224,164,344,219" href="../elements/53a0f281-4dc9-4dd7-a2eb-619d9b4d27b5.html"  target="element">
				  		<area shape="rect" coords="536,308,656,363" href="../elements/e981095c-fedb-4254-8b74-5bf3e35ec460.html"  target="element">
				  				<area shape="rect" coords="488,92,608,147" href="../elements/bad1fa60-f66d-4258-a978-682f9f9d518e.html"  target="element">

				  		<area shape="rect" coords="464,32,741,177" href="../elements/f221b484-f189-42a2-9cb2-8f240f8c4b57.html"  target="element">
				  		<area shape="rect" coords="476,1052,596,1107" href="../elements/9657dc77-d20c-421c-bed9-062773ab2440.html"  target="element">
				  		<area shape="rect" coords="572,980,692,1035" href="../elements/14e8e897-18f6-4f02-9dba-6f89ada796b6.html"  target="element">
				  		<area shape="rect" coords="1016,1430,1136,1485" href="../elements/add68761-c984-4adb-a4f5-5827380205d4.html"  target="element">
				  		<area shape="rect" coords="1040,560,1160,615" href="../elements/2d316e96-f72b-4e0f-9141-417bdbb22441.html"  target="element">
				  		<area shape="rect" coords="837,164,957,219" href="../elements/3e4ac463-f938-43d2-88b3-714e09ceafe2.html"  target="element">
				  		<area shape="rect" coords="619,218,739,273" href="../elements/548d752a-b3f4-4a5d-922d-fde60ca60c51.html"  target="element">
				  		<area shape="rect" coords="728,344,848,399" href="../elements/1ae81f39-db05-4e4d-9cf9-960532e07c75.html"  target="element">
				  		<area shape="rect" coords="343,344,463,399" href="../elements/26711b8b-56da-4a7e-a0ed-e3ea75d87952.html"  target="element">
				  				<area shape="rect" coords="896,1154,1016,1209" href="../elements/5faeaf09-a3b7-420e-9459-d7e0f329d839.html"  target="element">
				  				<area shape="rect" coords="752,1154,872,1209" href="../elements/869e4932-840b-4940-ae5f-9c835c38f481.html"  target="element">

				  		<area shape="rect" coords="716,1106,1053,1227" href="../elements/2f3e0ff2-e3f7-48a5-b000-0f465b96dd3f.html"  target="element">
				  		<area shape="rect" coords="524,1172,644,1227" href="../elements/6ef36f8b-ecc5-4aea-a9a7-0c2032b1a3ca.html"  target="element">
				  				<area shape="rect" coords="445,1322,565,1377" href="../elements/54a0e758-a7c0-4a27-877c-977c8b903a3c.html"  target="element">
				  				<area shape="rect" coords="589,1322,709,1377" href="../elements/e7a86eef-fe3b-4d7b-bee6-c76caf2b8fd3.html"  target="element">

				  		<area shape="rect" coords="421,1286,746,1407" href="../elements/4d705fed-ca9d-4bea-a609-263be186591c.html"  target="element">
				  		<area shape="rect" coords="536,452,656,507" href="../elements/0b615d4f-dd39-464c-99f9-5fe4d2b826ae.html"  target="element">
				  		<area shape="rect" coords="847,548,967,603" href="../elements/fbc5983a-2ae9-4a00-9165-f75628c68462.html"  target="element">
				  		<area shape="rect" coords="248,536,368,591" href="../elements/08243a86-4368-41d2-9888-5f7dcb0533ed.html"  target="element">
				  				<area shape="rect" coords="224,1082,344,1137" href="../elements/a8d1ea8c-430d-4206-b237-8c88a9d0b98c.html"  target="element">
				  				<area shape="rect" coords="296,1154,416,1209" href="../elements/0da19b2f-e78f-4a89-ae7e-38ec69692e6b.html"  target="element">
				  				<area shape="rect" coords="152,1154,272,1209" href="../elements/067de4d0-7c99-4741-9c8b-5b179cd12c28.html"  target="element">

				  		<area shape="rect" coords="116,1034,453,1227" href="../elements/acb630d1-e85f-475b-9ae4-a0dfa519b1be.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/acb630d1-e85f-475b-9ae4-a0dfa519b1be.html" target="element"> Behovsliste (konsolidert) </a> </td>
											    <td> <a href="../elements/acb630d1-e85f-475b-9ae4-a0dfa519b1be.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/067de4d0-7c99-4741-9c8b-5b179cd12c28.html" target="element"> Beregnet behov </a> </td>
													    <td> <a href="../elements/067de4d0-7c99-4741-9c8b-5b179cd12c28.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/0da19b2f-e78f-4a89-ae7e-38ec69692e6b.html" target="element"> Innmeldt behov </a> </td>
													    <td> <a href="../elements/0da19b2f-e78f-4a89-ae7e-38ec69692e6b.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/a8d1ea8c-430d-4206-b237-8c88a9d0b98c.html" target="element"> Prosjektforslag </a> </td>
													    <td> <a href="../elements/a8d1ea8c-430d-4206-b237-8c88a9d0b98c.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/08243a86-4368-41d2-9888-5f7dcb0533ed.html" target="element"> Kundem&#248;te </a> </td>
											    <td> <a href="../elements/08243a86-4368-41d2-9888-5f7dcb0533ed.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/fbc5983a-2ae9-4a00-9165-f75628c68462.html" target="element"> Kundehenvendelse </a> </td>
											    <td> <a href="../elements/fbc5983a-2ae9-4a00-9165-f75628c68462.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0b615d4f-dd39-464c-99f9-5fe4d2b826ae.html" target="element"> Saksnummer </a> </td>
											    <td> <a href="../elements/0b615d4f-dd39-464c-99f9-5fe4d2b826ae.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4d705fed-ca9d-4bea-a609-263be186591c.html" target="element"> Anskaffelser </a> </td>
											    <td> <a href="../elements/4d705fed-ca9d-4bea-a609-263be186591c.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/e7a86eef-fe3b-4d7b-bee6-c76caf2b8fd3.html" target="element"> P&#229;g&#229;ende </a> </td>
													    <td> <a href="../elements/e7a86eef-fe3b-4d7b-bee6-c76caf2b8fd3.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/54a0e758-a7c0-4a27-877c-977c8b903a3c.html" target="element"> Planlagte (Behovsliste 4-&#229;rig) (Sprint) (P-nr) </a> </td>
													    <td> <a href="../elements/54a0e758-a7c0-4a27-877c-977c8b903a3c.html" target="element" class="i18n-elementtype-Product">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/6ef36f8b-ecc5-4aea-a9a7-0c2032b1a3ca.html" target="element"> Analysere behov og dekning </a> </td>
											    <td> <a href="../elements/6ef36f8b-ecc5-4aea-a9a7-0c2032b1a3ca.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2f3e0ff2-e3f7-48a5-b000-0f465b96dd3f.html" target="element"> Kontrakt og Avtaler </a> </td>
											    <td> <a href="../elements/2f3e0ff2-e3f7-48a5-b000-0f465b96dd3f.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/869e4932-840b-4940-ae5f-9c835c38f481.html" target="element"> Kontrakt </a> </td>
													    <td> <a href="../elements/869e4932-840b-4940-ae5f-9c835c38f481.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/5faeaf09-a3b7-420e-9459-d7e0f329d839.html" target="element"> Avtalesortiment </a> </td>
													    <td> <a href="../elements/5faeaf09-a3b7-420e-9459-d7e0f329d839.html" target="element" class="i18n-elementtype-Representation">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/26711b8b-56da-4a7e-a0ed-e3ea75d87952.html" target="element"> Styrem&#248;ter </a> </td>
											    <td> <a href="../elements/26711b8b-56da-4a7e-a0ed-e3ea75d87952.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1ae81f39-db05-4e4d-9cf9-960532e07c75.html" target="element"> Innsynsbegj&#230;ring </a> </td>
											    <td> <a href="../elements/1ae81f39-db05-4e4d-9cf9-960532e07c75.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/548d752a-b3f4-4a5d-922d-fde60ca60c51.html" target="element"> Postmottak </a> </td>
											    <td> <a href="../elements/548d752a-b3f4-4a5d-922d-fde60ca60c51.html" target="element" class="i18n-elementtype-BusinessInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3e4ac463-f938-43d2-88b3-714e09ceafe2.html" target="element"> Journalpost </a> </td>
											    <td> <a href="../elements/3e4ac463-f938-43d2-88b3-714e09ceafe2.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2d316e96-f72b-4e0f-9141-417bdbb22441.html" target="element"> Velge tilbud og inng&#229; avtale </a> </td>
											    <td> <a href="../elements/2d316e96-f72b-4e0f-9141-417bdbb22441.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/add68761-c984-4adb-a4f5-5827380205d4.html" target="element"> Kunngj&#248;re konkurranse </a> </td>
											    <td> <a href="../elements/add68761-c984-4adb-a4f5-5827380205d4.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/14e8e897-18f6-4f02-9dba-6f89ada796b6.html" target="element"> Avtaledekning </a> </td>
											    <td> <a href="../elements/14e8e897-18f6-4f02-9dba-6f89ada796b6.html" target="element" class="i18n-elementtype-Product">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9657dc77-d20c-421c-bed9-062773ab2440.html" target="element"> Avtalelojalitet </a> </td>
											    <td> <a href="../elements/9657dc77-d20c-421c-bed9-062773ab2440.html" target="element" class="i18n-elementtype-Product">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f221b484-f189-42a2-9cb2-8f240f8c4b57.html" target="element"> Oppdrag </a> </td>
											    <td> <a href="../elements/f221b484-f189-42a2-9cb2-8f240f8c4b57.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/bad1fa60-f66d-4258-a978-682f9f9d518e.html" target="element"> Oppdragsdokument </a> </td>
													    <td> <a href="../elements/bad1fa60-f66d-4258-a978-682f9f9d518e.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/e981095c-fedb-4254-8b74-5bf3e35ec460.html" target="element"> Generelle henvendelser </a> </td>
											    <td> <a href="../elements/e981095c-fedb-4254-8b74-5bf3e35ec460.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/53a0f281-4dc9-4dd7-a2eb-619d9b4d27b5.html" target="element"> Analysere samsvar </a> </td>
											    <td> <a href="../elements/53a0f281-4dc9-4dd7-a2eb-619d9b4d27b5.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cc190324-3b14-4028-b546-1342737f5e34.html" target="element"> Kundesak </a> </td>
											    <td> <a href="../elements/cc190324-3b14-4028-b546-1342737f5e34.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/7e6115b9-ca6f-406c-8e84-f1995eb90985.html" target="element"> Ordre "Request for Service" (ANS-nr)  </a> </td>
													    <td> <a href="../elements/7e6115b9-ca6f-406c-8e84-f1995eb90985.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/0e63a222-044e-4d50-a3e6-704407b1013f.html" target="element"> Leveringsbekreftelse </a> </td>
															    <td> <a href="../elements/0e63a222-044e-4d50-a3e6-704407b1013f.html" target="element" class="i18n-elementtype-DataObject">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/d351b047-c8c7-48f8-abbf-014a04cb3f7f.html" target="element"> Ordrebekreftelse </a> </td>
															    <td> <a href="../elements/d351b047-c8c7-48f8-abbf-014a04cb3f7f.html" target="element" class="i18n-elementtype-DataObject">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/dfc63321-f8e5-4cb9-a7a6-c0469ffd6f15.html" target="element"> Styresak </a> </td>
											    <td> <a href="../elements/dfc63321-f8e5-4cb9-a7a6-c0469ffd6f15.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/acc41889-7241-40a3-8211-30c50873f8fd.html" target="element"> Intern sak </a> </td>
											    <td> <a href="../elements/acc41889-7241-40a3-8211-30c50873f8fd.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/15799b12-5530-474b-bbe2-be3f20c36f82.html" target="element"> Vedtak </a> </td>
											    <td> <a href="../elements/15799b12-5530-474b-bbe2-be3f20c36f82.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6e0fd76b-362e-4544-828c-0058867d7b82.html" target="element"> Forbedringstiltak </a> </td>
											    <td> <a href="../elements/6e0fd76b-362e-4544-828c-0058867d7b82.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8e28f729-a7f8-42a1-83d9-96dffb8e74c9.html" target="element"> Intern saksforberedelse </a> </td>
											    <td> <a href="../elements/8e28f729-a7f8-42a1-83d9-96dffb8e74c9.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/5520c1aa-0fac-49ef-b351-89af5229fa18.html" target="element">  </a> </td>
																		<td> <a href="../elements/5520c1aa-0fac-49ef-b351-89af5229fa18.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/acb630d1-e85f-475b-9ae4-a0dfa519b1be.html" target="element"> Behovsliste (konsolidert) </a> </td>
																		<td> <a href="../elements/067de4d0-7c99-4741-9c8b-5b179cd12c28.html" target="element"> Beregnet behov </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/76b0b209-dce4-4192-95a5-71ff69552690.html" target="element">  </a> </td>
																		<td> <a href="../elements/76b0b209-dce4-4192-95a5-71ff69552690.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/acb630d1-e85f-475b-9ae4-a0dfa519b1be.html" target="element"> Behovsliste (konsolidert) </a> </td>
																		<td> <a href="../elements/0da19b2f-e78f-4a89-ae7e-38ec69692e6b.html" target="element"> Innmeldt behov </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/370626ca-cdc6-48cb-9a52-f97306f450a2.html" target="element">  </a> </td>
																		<td> <a href="../elements/370626ca-cdc6-48cb-9a52-f97306f450a2.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/acb630d1-e85f-475b-9ae4-a0dfa519b1be.html" target="element"> Behovsliste (konsolidert) </a> </td>
																		<td> <a href="../elements/6ef36f8b-ecc5-4aea-a9a7-0c2032b1a3ca.html" target="element"> Analysere behov og dekning </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/79d4e5d8-c872-4af5-896a-e94506bc3bfc.html" target="element">  </a> </td>
																		<td> <a href="../elements/79d4e5d8-c872-4af5-896a-e94506bc3bfc.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/acb630d1-e85f-475b-9ae4-a0dfa519b1be.html" target="element"> Behovsliste (konsolidert) </a> </td>
																		<td> <a href="../elements/a8d1ea8c-430d-4206-b237-8c88a9d0b98c.html" target="element"> Prosjektforslag </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/d89e30f4-2d4b-4c59-99a4-c868bad60d22.html" target="element">  </a> </td>
																				<td> <a href="../elements/d89e30f4-2d4b-4c59-99a4-c868bad60d22.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/a8d1ea8c-430d-4206-b237-8c88a9d0b98c.html" target="element"> Prosjektforslag </a> </td>
																				<td> <a href="../elements/0da19b2f-e78f-4a89-ae7e-38ec69692e6b.html" target="element"> Innmeldt behov </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/80612213-bd2a-415b-8991-836fef67b875.html" target="element">  </a> </td>
																				<td> <a href="../elements/80612213-bd2a-415b-8991-836fef67b875.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/a8d1ea8c-430d-4206-b237-8c88a9d0b98c.html" target="element"> Prosjektforslag </a> </td>
																				<td> <a href="../elements/067de4d0-7c99-4741-9c8b-5b179cd12c28.html" target="element"> Beregnet behov </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/f2cd092b-a2af-40a8-967b-10c334877e85.html" target="element">  </a> </td>
																		<td> <a href="../elements/f2cd092b-a2af-40a8-967b-10c334877e85.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/08243a86-4368-41d2-9888-5f7dcb0533ed.html" target="element"> Kundem&#248;te </a> </td>
																		<td> <a href="../elements/067de4d0-7c99-4741-9c8b-5b179cd12c28.html" target="element"> Beregnet behov </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/78518153-a861-4415-be5d-58541694c082.html" target="element">  </a> </td>
																		<td> <a href="../elements/78518153-a861-4415-be5d-58541694c082.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/08243a86-4368-41d2-9888-5f7dcb0533ed.html" target="element"> Kundem&#248;te </a> </td>
																		<td> <a href="../elements/2f3e0ff2-e3f7-48a5-b000-0f465b96dd3f.html" target="element"> Kontrakt og Avtaler </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/eca627e1-8e4b-49ed-a73a-dc1abfc747ba.html" target="element">  </a> </td>
																		<td> <a href="../elements/eca627e1-8e4b-49ed-a73a-dc1abfc747ba.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/08243a86-4368-41d2-9888-5f7dcb0533ed.html" target="element"> Kundem&#248;te </a> </td>
																		<td> <a href="../elements/0b615d4f-dd39-464c-99f9-5fe4d2b826ae.html" target="element"> Saksnummer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/36e77fa2-b5da-4010-927f-873fe1876d05.html" target="element">  </a> </td>
																		<td> <a href="../elements/36e77fa2-b5da-4010-927f-873fe1876d05.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/08243a86-4368-41d2-9888-5f7dcb0533ed.html" target="element"> Kundem&#248;te </a> </td>
																		<td> <a href="../elements/a8d1ea8c-430d-4206-b237-8c88a9d0b98c.html" target="element"> Prosjektforslag </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9ebb3fa2-872e-480e-b18e-9e08e642e462.html" target="element">  </a> </td>
																		<td> <a href="../elements/9ebb3fa2-872e-480e-b18e-9e08e642e462.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/08243a86-4368-41d2-9888-5f7dcb0533ed.html" target="element"> Kundem&#248;te </a> </td>
																		<td> <a href="../elements/cc190324-3b14-4028-b546-1342737f5e34.html" target="element"> Kundesak </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/fe58d0f5-434a-42ac-a28c-35278d2c1e3a.html" target="element">  </a> </td>
																		<td> <a href="../elements/fe58d0f5-434a-42ac-a28c-35278d2c1e3a.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/fbc5983a-2ae9-4a00-9165-f75628c68462.html" target="element"> Kundehenvendelse </a> </td>
																		<td> <a href="../elements/0da19b2f-e78f-4a89-ae7e-38ec69692e6b.html" target="element"> Innmeldt behov </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3ca1f899-ab48-47d4-b728-87427a4e625f.html" target="element">  </a> </td>
																		<td> <a href="../elements/3ca1f899-ab48-47d4-b728-87427a4e625f.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/fbc5983a-2ae9-4a00-9165-f75628c68462.html" target="element"> Kundehenvendelse </a> </td>
																		<td> <a href="../elements/869e4932-840b-4940-ae5f-9c835c38f481.html" target="element"> Kontrakt </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5b0efd00-6e23-4254-952e-29ba8d097d95.html" target="element">  </a> </td>
																		<td> <a href="../elements/5b0efd00-6e23-4254-952e-29ba8d097d95.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/fbc5983a-2ae9-4a00-9165-f75628c68462.html" target="element"> Kundehenvendelse </a> </td>
																		<td> <a href="../elements/5faeaf09-a3b7-420e-9459-d7e0f329d839.html" target="element"> Avtalesortiment </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d96ea782-bc98-400b-b9a7-04c76522a881.html" target="element">  </a> </td>
																		<td> <a href="../elements/d96ea782-bc98-400b-b9a7-04c76522a881.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/fbc5983a-2ae9-4a00-9165-f75628c68462.html" target="element"> Kundehenvendelse </a> </td>
																		<td> <a href="../elements/0b615d4f-dd39-464c-99f9-5fe4d2b826ae.html" target="element"> Saksnummer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/91c4249c-b370-400e-9ac5-7b2c503e89bf.html" target="element">  </a> </td>
																		<td> <a href="../elements/91c4249c-b370-400e-9ac5-7b2c503e89bf.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/fbc5983a-2ae9-4a00-9165-f75628c68462.html" target="element"> Kundehenvendelse </a> </td>
																		<td> <a href="../elements/cc190324-3b14-4028-b546-1342737f5e34.html" target="element"> Kundesak </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/850070ef-008f-43e2-963a-cfa90e70050a.html" target="element">  </a> </td>
																		<td> <a href="../elements/850070ef-008f-43e2-963a-cfa90e70050a.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/0b615d4f-dd39-464c-99f9-5fe4d2b826ae.html" target="element"> Saksnummer </a> </td>
																		<td> <a href="../elements/fbc5983a-2ae9-4a00-9165-f75628c68462.html" target="element"> Kundehenvendelse </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/52ddc229-ff05-4f15-a22b-2e9de85bc25b.html" target="element">  </a> </td>
																		<td> <a href="../elements/52ddc229-ff05-4f15-a22b-2e9de85bc25b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/0b615d4f-dd39-464c-99f9-5fe4d2b826ae.html" target="element"> Saksnummer </a> </td>
																		<td> <a href="../elements/08243a86-4368-41d2-9888-5f7dcb0533ed.html" target="element"> Kundem&#248;te </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c475524a-23ff-4642-832f-608446dcd1a4.html" target="element">  </a> </td>
																		<td> <a href="../elements/c475524a-23ff-4642-832f-608446dcd1a4.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/0b615d4f-dd39-464c-99f9-5fe4d2b826ae.html" target="element"> Saksnummer </a> </td>
																		<td> <a href="../elements/26711b8b-56da-4a7e-a0ed-e3ea75d87952.html" target="element"> Styrem&#248;ter </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/4f56e5d0-36d7-4796-b459-83ccbf7d4d13.html" target="element">  </a> </td>
																		<td> <a href="../elements/4f56e5d0-36d7-4796-b459-83ccbf7d4d13.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/4d705fed-ca9d-4bea-a609-263be186591c.html" target="element"> Anskaffelser </a> </td>
																		<td> <a href="../elements/e7a86eef-fe3b-4d7b-bee6-c76caf2b8fd3.html" target="element"> P&#229;g&#229;ende </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/81345d70-05d1-4d6a-869e-30f8b7cf3d6f.html" target="element">  </a> </td>
																		<td> <a href="../elements/81345d70-05d1-4d6a-869e-30f8b7cf3d6f.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/4d705fed-ca9d-4bea-a609-263be186591c.html" target="element"> Anskaffelser </a> </td>
																		<td> <a href="../elements/6ef36f8b-ecc5-4aea-a9a7-0c2032b1a3ca.html" target="element"> Analysere behov og dekning </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/9aa4d017-3bd3-4b91-a77f-19756a4494f5.html" target="element">  </a> </td>
																				<td> <a href="../elements/9aa4d017-3bd3-4b91-a77f-19756a4494f5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/54a0e758-a7c0-4a27-877c-977c8b903a3c.html" target="element"> Planlagte (Behovsliste 4-&#229;rig) (Sprint) (P-nr) </a> </td>
																				<td> <a href="../elements/acb630d1-e85f-475b-9ae4-a0dfa519b1be.html" target="element"> Behovsliste (konsolidert) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/5c5a0120-0467-47ed-b4fc-46a88df1b5b7.html" target="element">  </a> </td>
																				<td> <a href="../elements/5c5a0120-0467-47ed-b4fc-46a88df1b5b7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/54a0e758-a7c0-4a27-877c-977c8b903a3c.html" target="element"> Planlagte (Behovsliste 4-&#229;rig) (Sprint) (P-nr) </a> </td>
																				<td> <a href="../elements/4d705fed-ca9d-4bea-a609-263be186591c.html" target="element"> Anskaffelser </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/971a19e0-0433-4504-ab63-39a5210f1a90.html" target="element">  </a> </td>
																				<td> <a href="../elements/971a19e0-0433-4504-ab63-39a5210f1a90.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/54a0e758-a7c0-4a27-877c-977c8b903a3c.html" target="element"> Planlagte (Behovsliste 4-&#229;rig) (Sprint) (P-nr) </a> </td>
																				<td> <a href="../elements/e7a86eef-fe3b-4d7b-bee6-c76caf2b8fd3.html" target="element"> P&#229;g&#229;ende </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/9147fed8-0f4c-4747-829e-b1bf9334a411.html" target="element">  </a> </td>
																				<td> <a href="../elements/9147fed8-0f4c-4747-829e-b1bf9334a411.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/54a0e758-a7c0-4a27-877c-977c8b903a3c.html" target="element"> Planlagte (Behovsliste 4-&#229;rig) (Sprint) (P-nr) </a> </td>
																				<td> <a href="../elements/d351b047-c8c7-48f8-abbf-014a04cb3f7f.html" target="element"> Ordrebekreftelse </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/6b4c92c8-8e00-47d5-97fb-0893060ab655.html" target="element">  </a> </td>
																		<td> <a href="../elements/6b4c92c8-8e00-47d5-97fb-0893060ab655.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/6ef36f8b-ecc5-4aea-a9a7-0c2032b1a3ca.html" target="element"> Analysere behov og dekning </a> </td>
																		<td> <a href="../elements/14e8e897-18f6-4f02-9dba-6f89ada796b6.html" target="element"> Avtaledekning </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d42a6f6b-488d-4ac1-9955-d55f2a09d8a1.html" target="element">  </a> </td>
																		<td> <a href="../elements/d42a6f6b-488d-4ac1-9955-d55f2a09d8a1.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/6ef36f8b-ecc5-4aea-a9a7-0c2032b1a3ca.html" target="element"> Analysere behov og dekning </a> </td>
																		<td> <a href="../elements/9657dc77-d20c-421c-bed9-062773ab2440.html" target="element"> Avtalelojalitet </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/0fa5d369-9cfa-4b06-93a7-da5e21e36ced.html" target="element">  </a> </td>
																		<td> <a href="../elements/0fa5d369-9cfa-4b06-93a7-da5e21e36ced.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/2f3e0ff2-e3f7-48a5-b000-0f465b96dd3f.html" target="element"> Kontrakt og Avtaler </a> </td>
																		<td> <a href="../elements/869e4932-840b-4940-ae5f-9c835c38f481.html" target="element"> Kontrakt </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1fd64585-eb47-4c4c-83ad-48e35782a5ba.html" target="element">  </a> </td>
																		<td> <a href="../elements/1fd64585-eb47-4c4c-83ad-48e35782a5ba.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/2f3e0ff2-e3f7-48a5-b000-0f465b96dd3f.html" target="element"> Kontrakt og Avtaler </a> </td>
																		<td> <a href="../elements/6ef36f8b-ecc5-4aea-a9a7-0c2032b1a3ca.html" target="element"> Analysere behov og dekning </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c3460648-a947-422c-ac58-205422587372.html" target="element">  </a> </td>
																		<td> <a href="../elements/c3460648-a947-422c-ac58-205422587372.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/2f3e0ff2-e3f7-48a5-b000-0f465b96dd3f.html" target="element"> Kontrakt og Avtaler </a> </td>
																		<td> <a href="../elements/e7a86eef-fe3b-4d7b-bee6-c76caf2b8fd3.html" target="element"> P&#229;g&#229;ende </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/fc0be417-1516-494f-b842-9b58c1703d06.html" target="element">  </a> </td>
																				<td> <a href="../elements/fc0be417-1516-494f-b842-9b58c1703d06.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/5faeaf09-a3b7-420e-9459-d7e0f329d839.html" target="element"> Avtalesortiment </a> </td>
																				<td> <a href="../elements/2f3e0ff2-e3f7-48a5-b000-0f465b96dd3f.html" target="element"> Kontrakt og Avtaler </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/d2ce80d4-6830-4e7c-9ead-5c24f4bcb00c.html" target="element">  </a> </td>
																		<td> <a href="../elements/d2ce80d4-6830-4e7c-9ead-5c24f4bcb00c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/26711b8b-56da-4a7e-a0ed-e3ea75d87952.html" target="element"> Styrem&#248;ter </a> </td>
																		<td> <a href="../elements/0b615d4f-dd39-464c-99f9-5fe4d2b826ae.html" target="element"> Saksnummer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/35053812-ffbd-4500-947e-2f781ea75366.html" target="element">  </a> </td>
																		<td> <a href="../elements/35053812-ffbd-4500-947e-2f781ea75366.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/26711b8b-56da-4a7e-a0ed-e3ea75d87952.html" target="element"> Styrem&#248;ter </a> </td>
																		<td> <a href="../elements/f221b484-f189-42a2-9cb2-8f240f8c4b57.html" target="element"> Oppdrag </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/739922bc-ca00-4e1f-956f-ccb910ab6b97.html" target="element">  </a> </td>
																		<td> <a href="../elements/739922bc-ca00-4e1f-956f-ccb910ab6b97.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/26711b8b-56da-4a7e-a0ed-e3ea75d87952.html" target="element"> Styrem&#248;ter </a> </td>
																		<td> <a href="../elements/dfc63321-f8e5-4cb9-a7a6-c0469ffd6f15.html" target="element"> Styresak </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/c13db8c5-07b9-42b3-9287-400ac54ed5b4.html" target="element">  </a> </td>
																		<td> <a href="../elements/c13db8c5-07b9-42b3-9287-400ac54ed5b4.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/1ae81f39-db05-4e4d-9cf9-960532e07c75.html" target="element"> Innsynsbegj&#230;ring </a> </td>
																		<td> <a href="../elements/0b615d4f-dd39-464c-99f9-5fe4d2b826ae.html" target="element"> Saksnummer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3a005867-cf7e-4681-82c1-d7850af006d2.html" target="element">  </a> </td>
																		<td> <a href="../elements/3a005867-cf7e-4681-82c1-d7850af006d2.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/1ae81f39-db05-4e4d-9cf9-960532e07c75.html" target="element"> Innsynsbegj&#230;ring </a> </td>
																		<td> <a href="../elements/0b615d4f-dd39-464c-99f9-5fe4d2b826ae.html" target="element"> Saksnummer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3be557e9-fc10-446f-9148-38cddb9318a8.html" target="element">  </a> </td>
																		<td> <a href="../elements/3be557e9-fc10-446f-9148-38cddb9318a8.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/1ae81f39-db05-4e4d-9cf9-960532e07c75.html" target="element"> Innsynsbegj&#230;ring </a> </td>
																		<td> <a href="../elements/4d705fed-ca9d-4bea-a609-263be186591c.html" target="element"> Anskaffelser </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ace23def-b8cf-419e-b4b7-780ef6311881.html" target="element">  </a> </td>
																		<td> <a href="../elements/ace23def-b8cf-419e-b4b7-780ef6311881.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/1ae81f39-db05-4e4d-9cf9-960532e07c75.html" target="element"> Innsynsbegj&#230;ring </a> </td>
																		<td> <a href="../elements/3e4ac463-f938-43d2-88b3-714e09ceafe2.html" target="element"> Journalpost </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/986f3c99-5609-445f-8724-9f860ce26cc6.html" target="element">  </a> </td>
																		<td> <a href="../elements/986f3c99-5609-445f-8724-9f860ce26cc6.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/548d752a-b3f4-4a5d-922d-fde60ca60c51.html" target="element"> Postmottak </a> </td>
																		<td> <a href="../elements/1ae81f39-db05-4e4d-9cf9-960532e07c75.html" target="element"> Innsynsbegj&#230;ring </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/aa9f8fc1-c02f-49f5-a176-32d2023e3cb7.html" target="element">  </a> </td>
																		<td> <a href="../elements/aa9f8fc1-c02f-49f5-a176-32d2023e3cb7.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/548d752a-b3f4-4a5d-922d-fde60ca60c51.html" target="element"> Postmottak </a> </td>
																		<td> <a href="../elements/e981095c-fedb-4254-8b74-5bf3e35ec460.html" target="element"> Generelle henvendelser </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4abac98d-4913-4f10-b5c4-ddd76ee3c92a.html" target="element">  </a> </td>
																		<td> <a href="../elements/4abac98d-4913-4f10-b5c4-ddd76ee3c92a.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/548d752a-b3f4-4a5d-922d-fde60ca60c51.html" target="element"> Postmottak </a> </td>
																		<td> <a href="../elements/bad1fa60-f66d-4258-a978-682f9f9d518e.html" target="element"> Oppdragsdokument </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/65b9bef2-6dc2-4844-a474-0641b562fa88.html" target="element">  </a> </td>
																		<td> <a href="../elements/65b9bef2-6dc2-4844-a474-0641b562fa88.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/2d316e96-f72b-4e0f-9141-417bdbb22441.html" target="element"> Velge tilbud og inng&#229; avtale </a> </td>
																		<td> <a href="../elements/3e4ac463-f938-43d2-88b3-714e09ceafe2.html" target="element"> Journalpost </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c9b26bf0-24ec-4517-a818-5c2246af700a.html" target="element">  </a> </td>
																		<td> <a href="../elements/c9b26bf0-24ec-4517-a818-5c2246af700a.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/2d316e96-f72b-4e0f-9141-417bdbb22441.html" target="element"> Velge tilbud og inng&#229; avtale </a> </td>
																		<td> <a href="../elements/2f3e0ff2-e3f7-48a5-b000-0f465b96dd3f.html" target="element"> Kontrakt og Avtaler </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/dd09697b-a7c5-4590-90a7-c0586386e78a.html" target="element">  </a> </td>
																		<td> <a href="../elements/dd09697b-a7c5-4590-90a7-c0586386e78a.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/add68761-c984-4adb-a4f5-5827380205d4.html" target="element"> Kunngj&#248;re konkurranse </a> </td>
																		<td> <a href="../elements/e7a86eef-fe3b-4d7b-bee6-c76caf2b8fd3.html" target="element"> P&#229;g&#229;ende </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7b180ca4-e716-4e10-912a-b933784131b1.html" target="element">  </a> </td>
																		<td> <a href="../elements/7b180ca4-e716-4e10-912a-b933784131b1.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/add68761-c984-4adb-a4f5-5827380205d4.html" target="element"> Kunngj&#248;re konkurranse </a> </td>
																		<td> <a href="../elements/3e4ac463-f938-43d2-88b3-714e09ceafe2.html" target="element"> Journalpost </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/39370564-dc54-4d9e-9d93-caf812b066e1.html" target="element">  </a> </td>
																		<td> <a href="../elements/39370564-dc54-4d9e-9d93-caf812b066e1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/f221b484-f189-42a2-9cb2-8f240f8c4b57.html" target="element"> Oppdrag </a> </td>
																		<td> <a href="../elements/bad1fa60-f66d-4258-a978-682f9f9d518e.html" target="element"> Oppdragsdokument </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1a2e68dd-fbbb-4bc2-8d01-7758b1a567c9.html" target="element">  </a> </td>
																		<td> <a href="../elements/1a2e68dd-fbbb-4bc2-8d01-7758b1a567c9.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/f221b484-f189-42a2-9cb2-8f240f8c4b57.html" target="element"> Oppdrag </a> </td>
																		<td> <a href="../elements/53a0f281-4dc9-4dd7-a2eb-619d9b4d27b5.html" target="element"> Analysere samsvar </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/ec74ac40-f858-4fba-86a5-6e4a9293b25c.html" target="element">  </a> </td>
																				<td> <a href="../elements/ec74ac40-f858-4fba-86a5-6e4a9293b25c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/bad1fa60-f66d-4258-a978-682f9f9d518e.html" target="element"> Oppdragsdokument </a> </td>
																				<td> <a href="../elements/f221b484-f189-42a2-9cb2-8f240f8c4b57.html" target="element"> Oppdrag </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/ba601d4a-45af-4768-bebe-584cd3e6e2a5.html" target="element">  </a> </td>
																		<td> <a href="../elements/ba601d4a-45af-4768-bebe-584cd3e6e2a5.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/e981095c-fedb-4254-8b74-5bf3e35ec460.html" target="element"> Generelle henvendelser </a> </td>
																		<td> <a href="../elements/0b615d4f-dd39-464c-99f9-5fe4d2b826ae.html" target="element"> Saksnummer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6c8b176e-8ec2-4c87-add8-2be597721fb6.html" target="element">  </a> </td>
																		<td> <a href="../elements/6c8b176e-8ec2-4c87-add8-2be597721fb6.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/e981095c-fedb-4254-8b74-5bf3e35ec460.html" target="element"> Generelle henvendelser </a> </td>
																		<td> <a href="../elements/acc41889-7241-40a3-8211-30c50873f8fd.html" target="element"> Intern sak </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/eabef37b-5e2b-4fdf-8e57-041d28ad0f82.html" target="element">  </a> </td>
																		<td> <a href="../elements/eabef37b-5e2b-4fdf-8e57-041d28ad0f82.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/cc190324-3b14-4028-b546-1342737f5e34.html" target="element"> Kundesak </a> </td>
																		<td> <a href="../elements/0b615d4f-dd39-464c-99f9-5fe4d2b826ae.html" target="element"> Saksnummer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/456daa7f-d6b6-48f0-b511-54afff097e21.html" target="element">  </a> </td>
																		<td> <a href="../elements/456daa7f-d6b6-48f0-b511-54afff097e21.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/cc190324-3b14-4028-b546-1342737f5e34.html" target="element"> Kundesak </a> </td>
																		<td> <a href="../elements/7e6115b9-ca6f-406c-8e84-f1995eb90985.html" target="element"> Ordre "Request for Service" (ANS-nr)  </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/d652e179-0cf3-483b-99d3-b8e737784fa7.html" target="element">  </a> </td>
																				<td> <a href="../elements/d652e179-0cf3-483b-99d3-b8e737784fa7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/7e6115b9-ca6f-406c-8e84-f1995eb90985.html" target="element"> Ordre "Request for Service" (ANS-nr)  </a> </td>
																				<td> <a href="../elements/0e63a222-044e-4d50-a3e6-704407b1013f.html" target="element"> Leveringsbekreftelse </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/05a30ccc-4aec-4f22-bda8-27cd9ad81596.html" target="element">  </a> </td>
																				<td> <a href="../elements/05a30ccc-4aec-4f22-bda8-27cd9ad81596.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/7e6115b9-ca6f-406c-8e84-f1995eb90985.html" target="element"> Ordre "Request for Service" (ANS-nr)  </a> </td>
																				<td> <a href="../elements/d351b047-c8c7-48f8-abbf-014a04cb3f7f.html" target="element"> Ordrebekreftelse </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/7d68adcf-1b84-4644-8707-966539bee6d9.html" target="element">  </a> </td>
																						<td> <a href="../elements/7d68adcf-1b84-4644-8707-966539bee6d9.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/0e63a222-044e-4d50-a3e6-704407b1013f.html" target="element"> Leveringsbekreftelse </a> </td>
																						<td> <a href="../elements/869e4932-840b-4940-ae5f-9c835c38f481.html" target="element"> Kontrakt </a> </td>
																					</tr>

													
											
																	<tr>
																		<td> <a href="../elements/10db09e6-d31e-4c12-81b2-984894bf6c44.html" target="element">  </a> </td>
																		<td> <a href="../elements/10db09e6-d31e-4c12-81b2-984894bf6c44.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/dfc63321-f8e5-4cb9-a7a6-c0469ffd6f15.html" target="element"> Styresak </a> </td>
																		<td> <a href="../elements/0b615d4f-dd39-464c-99f9-5fe4d2b826ae.html" target="element"> Saksnummer </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/0e0e3b1d-38e5-4fa8-947f-085673813704.html" target="element">  </a> </td>
																		<td> <a href="../elements/0e0e3b1d-38e5-4fa8-947f-085673813704.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/acc41889-7241-40a3-8211-30c50873f8fd.html" target="element"> Intern sak </a> </td>
																		<td> <a href="../elements/0b615d4f-dd39-464c-99f9-5fe4d2b826ae.html" target="element"> Saksnummer </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6158c85b-7d22-49fc-ba1f-8e44cf1651c4.html" target="element">  </a> </td>
																		<td> <a href="../elements/6158c85b-7d22-49fc-ba1f-8e44cf1651c4.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/15799b12-5530-474b-bbe2-be3f20c36f82.html" target="element"> Vedtak </a> </td>
																		<td> <a href="../elements/f221b484-f189-42a2-9cb2-8f240f8c4b57.html" target="element"> Oppdrag </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9d288ebd-fcd8-4f9b-b465-0c004e1922e8.html" target="element">  </a> </td>
																		<td> <a href="../elements/9d288ebd-fcd8-4f9b-b465-0c004e1922e8.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/15799b12-5530-474b-bbe2-be3f20c36f82.html" target="element"> Vedtak </a> </td>
																		<td> <a href="../elements/3e4ac463-f938-43d2-88b3-714e09ceafe2.html" target="element"> Journalpost </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/f47f8ad9-0e3c-461e-9ae8-d440f5d9fe95.html" target="element">  </a> </td>
																		<td> <a href="../elements/f47f8ad9-0e3c-461e-9ae8-d440f5d9fe95.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/6e0fd76b-362e-4544-828c-0058867d7b82.html" target="element"> Forbedringstiltak </a> </td>
																		<td> <a href="../elements/acc41889-7241-40a3-8211-30c50873f8fd.html" target="element"> Intern sak </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/d3a8f0f3-9fb1-46d7-a6d8-d378716c58e1.html" target="element">  </a> </td>
																		<td> <a href="../elements/d3a8f0f3-9fb1-46d7-a6d8-d378716c58e1.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/8e28f729-a7f8-42a1-83d9-96dffb8e74c9.html" target="element"> Intern saksforberedelse </a> </td>
																		<td> <a href="../elements/dfc63321-f8e5-4cb9-a7a6-c0469ffd6f15.html" target="element"> Styresak </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>