<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Maldokumenter</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Maldokumenter</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/1dc1db22-7129-4179-b97c-ac2ef4d893e6.png" alt="Maldokumenter" usemap="#1dc1db22-7129-4179-b97c-ac2ef4d893e6map"/>
			   <map name="1dc1db22-7129-4179-b97c-ac2ef4d893e6map">
				          <area shape="rect" coords="1210,274,1331,354" href="../objects/ac87bd31-a282-47b3-933c-331223483483.html" target="element" >
				  						<area shape="rect" coords="322,418,947,473" href="../elements/8a6e4d07-aebc-4c28-9175-1b6eb910c416.html"  target="element">
				  						<area shape="rect" coords="334,334,947,389" href="../elements/98dacfd2-ab51-43fe-bfa2-11eedd8bf0b3.html"  target="element">
				  						<area shape="rect" coords="334,250,947,305" href="../elements/7a5828c1-90b6-4457-964d-4488cdec570c.html"  target="element">
				  						<area shape="rect" coords="610,166,730,221" href="../elements/bbdd829a-7543-4f85-b49d-f387746e7208.html"  target="element">
				  						<area shape="rect" coords="478,166,598,221" href="../elements/6e17d67a-d84a-4e73-a4c6-139efd711998.html"  target="element">
				  						<area shape="rect" coords="346,166,466,221" href="../elements/297ed8e4-53b3-444a-9155-e52bcf54dc23.html"  target="element">
				  						<area shape="rect" coords="346,82,959,119" href="../elements/fdaa99a3-cc53-44c7-9c03-f9c37fea0d7a.html"  target="element">

				  				<area shape="rect" coords="310,46,983,503" href="../elements/85d9bdd1-be50-4b4f-969a-85314b95c8fe.html"  target="element">

				  		<area shape="rect" coords="298,10,1007,527" href="../elements/bc383e0f-d3cc-4659-8749-01798c60a38a.html"  target="element">
				  		<area shape="rect" coords="10,94,251,149" href="../elements/83cac4ab-6520-416b-b4c7-857db9c9d7a4.html"  target="element">
				  		<area shape="rect" coords="10,418,251,473" href="../elements/814ed372-0bef-4ca6-9faf-4de75fa63fcf.html"  target="element">
				  		<area shape="rect" coords="10,274,251,329" href="../elements/f6b33a89-3a3f-4d59-a4eb-411e6db9da80.html"  target="element">
				  		<area shape="rect" coords="10,178,251,233" href="../elements/78bb1f32-d81b-416f-8bfb-7b55f0b7f681.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/78bb1f32-d81b-416f-8bfb-7b55f0b7f681.html" target="element"> shi_procurements </a> </td>
											    <td> <a href="../elements/78bb1f32-d81b-416f-8bfb-7b55f0b7f681.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f6b33a89-3a3f-4d59-a4eb-411e6db9da80.html" target="element"> shi_document_templates </a> </td>
											    <td> <a href="../elements/f6b33a89-3a3f-4d59-a4eb-411e6db9da80.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/814ed372-0bef-4ca6-9faf-4de75fa63fcf.html" target="element"> shi_generated_document_templates </a> </td>
											    <td> <a href="../elements/814ed372-0bef-4ca6-9faf-4de75fa63fcf.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/83cac4ab-6520-416b-b4c7-857db9c9d7a4.html" target="element"> shi_projects </a> </td>
											    <td> <a href="../elements/83cac4ab-6520-416b-b4c7-857db9c9d7a4.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/bc383e0f-d3cc-4659-8749-01798c60a38a.html" target="element"> Power Automate </a> </td>
											    <td> <a href="../elements/bc383e0f-d3cc-4659-8749-01798c60a38a.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/85d9bdd1-be50-4b4f-969a-85314b95c8fe.html" target="element"> Opprett maldokument Kontroller </a> </td>
													    <td> <a href="../elements/85d9bdd1-be50-4b4f-969a-85314b95c8fe.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/fdaa99a3-cc53-44c7-9c03-f9c37fea0d7a.html" target="element"> On Create: shi_generated_document_templates </a> </td>
															    <td> <a href="../elements/fdaa99a3-cc53-44c7-9c03-f9c37fea0d7a.html" target="element" class="i18n-elementtype-ApplicationEvent">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/297ed8e4-53b3-444a-9155-e52bcf54dc23.html" target="element"> Get project </a> </td>
															    <td> <a href="../elements/297ed8e4-53b3-444a-9155-e52bcf54dc23.html" target="element" class="i18n-elementtype-ApplicationProcess">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/6e17d67a-d84a-4e73-a4c6-139efd711998.html" target="element"> get procurement </a> </td>
															    <td> <a href="../elements/6e17d67a-d84a-4e73-a4c6-139efd711998.html" target="element" class="i18n-elementtype-ApplicationProcess">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/bbdd829a-7543-4f85-b49d-f387746e7208.html" target="element"> get document template </a> </td>
															    <td> <a href="../elements/bbdd829a-7543-4f85-b49d-f387746e7208.html" target="element" class="i18n-elementtype-ApplicationProcess">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/7a5828c1-90b6-4457-964d-4488cdec570c.html" target="element"> basert p&#229; shi_document_template / URL til PowerAutomate </a> </td>
															    <td> <a href="../elements/7a5828c1-90b6-4457-964d-4488cdec570c.html" target="element" class="i18n-elementtype-ApplicationProcess">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/98dacfd2-ab51-43fe-bfa2-11eedd8bf0b3.html" target="element"> Svar fra PowerAutomate </a> </td>
															    <td> <a href="../elements/98dacfd2-ab51-43fe-bfa2-11eedd8bf0b3.html" target="element" class="i18n-elementtype-ApplicationProcess">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/8a6e4d07-aebc-4c28-9175-1b6eb910c416.html" target="element"> Lagre status og prosjekt p&#229; generated_document_template </a> </td>
															    <td> <a href="../elements/8a6e4d07-aebc-4c28-9175-1b6eb910c416.html" target="element" class="i18n-elementtype-ApplicationProcess">
															    </a> </td>
															</tr>

													
											
									        <tr>
									           <td> <a href="../objects/ac87bd31-a282-47b3-933c-331223483483.html" target="element">  </a> </td>
									           <td> <a href="../objects/ac87bd31-a282-47b3-933c-331223483483.html" target="element" class="i18n-elementtype-DiagramModelNote"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/bef02831-9158-4278-9e16-c9011906f9af.html" target="element">  </a> </td>
																		<td> <a href="../elements/bef02831-9158-4278-9e16-c9011906f9af.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/bc383e0f-d3cc-4659-8749-01798c60a38a.html" target="element"> Power Automate </a> </td>
																		<td> <a href="../elements/85d9bdd1-be50-4b4f-969a-85314b95c8fe.html" target="element"> Opprett maldokument Kontroller </a> </td>
																	</tr>

																					<tr>
																						<td> <a href="../elements/15e51bd5-4fe7-4300-b53d-4643b4e1fa88.html" target="element">  </a> </td>
																						<td> <a href="../elements/15e51bd5-4fe7-4300-b53d-4643b4e1fa88.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																						</a> </td>
																						<td> <a href="../elements/fdaa99a3-cc53-44c7-9c03-f9c37fea0d7a.html" target="element"> On Create: shi_generated_document_templates </a> </td>
																						<td> <a href="../elements/297ed8e4-53b3-444a-9155-e52bcf54dc23.html" target="element"> Get project </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/f416b86b-fef3-48b4-83cb-7b8179f913bd.html" target="element">  </a> </td>
																						<td> <a href="../elements/f416b86b-fef3-48b4-83cb-7b8179f913bd.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																						</a> </td>
																						<td> <a href="../elements/fdaa99a3-cc53-44c7-9c03-f9c37fea0d7a.html" target="element"> On Create: shi_generated_document_templates </a> </td>
																						<td> <a href="../elements/6e17d67a-d84a-4e73-a4c6-139efd711998.html" target="element"> get procurement </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/e2446471-6dc2-4004-81f9-a4f489d78886.html" target="element">  </a> </td>
																						<td> <a href="../elements/e2446471-6dc2-4004-81f9-a4f489d78886.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																						</a> </td>
																						<td> <a href="../elements/fdaa99a3-cc53-44c7-9c03-f9c37fea0d7a.html" target="element"> On Create: shi_generated_document_templates </a> </td>
																						<td> <a href="../elements/bbdd829a-7543-4f85-b49d-f387746e7208.html" target="element"> get document template </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/ff97494b-6857-49a0-a01e-a5b87fcd4824.html" target="element">  </a> </td>
																						<td> <a href="../elements/ff97494b-6857-49a0-a01e-a5b87fcd4824.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/297ed8e4-53b3-444a-9155-e52bcf54dc23.html" target="element"> Get project </a> </td>
																						<td> <a href="../elements/85d9bdd1-be50-4b4f-969a-85314b95c8fe.html" target="element"> Opprett maldokument Kontroller </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/55ab08aa-d7d3-4e53-ac54-bada2843bbb5.html" target="element">  </a> </td>
																						<td> <a href="../elements/55ab08aa-d7d3-4e53-ac54-bada2843bbb5.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																						</a> </td>
																						<td> <a href="../elements/297ed8e4-53b3-444a-9155-e52bcf54dc23.html" target="element"> Get project </a> </td>
																						<td> <a href="../elements/7a5828c1-90b6-4457-964d-4488cdec570c.html" target="element"> basert p&#229; shi_document_template / URL til PowerAutomate </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/0b79093e-538c-4d43-86b4-d8cec89fca50.html" target="element">  </a> </td>
																						<td> <a href="../elements/0b79093e-538c-4d43-86b4-d8cec89fca50.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/297ed8e4-53b3-444a-9155-e52bcf54dc23.html" target="element"> Get project </a> </td>
																						<td> <a href="../elements/83cac4ab-6520-416b-b4c7-857db9c9d7a4.html" target="element"> shi_projects </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/f5113f2b-8405-4a34-b653-116ab0dd7b7e.html" target="element">  </a> </td>
																						<td> <a href="../elements/f5113f2b-8405-4a34-b653-116ab0dd7b7e.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/6e17d67a-d84a-4e73-a4c6-139efd711998.html" target="element"> get procurement </a> </td>
																						<td> <a href="../elements/85d9bdd1-be50-4b4f-969a-85314b95c8fe.html" target="element"> Opprett maldokument Kontroller </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/e7d6610a-f350-4d9b-b2ed-86279dab4263.html" target="element">  </a> </td>
																						<td> <a href="../elements/e7d6610a-f350-4d9b-b2ed-86279dab4263.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																						</a> </td>
																						<td> <a href="../elements/6e17d67a-d84a-4e73-a4c6-139efd711998.html" target="element"> get procurement </a> </td>
																						<td> <a href="../elements/7a5828c1-90b6-4457-964d-4488cdec570c.html" target="element"> basert p&#229; shi_document_template / URL til PowerAutomate </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/3547159b-35c8-4d10-a24e-c33bf2ece6e5.html" target="element">  </a> </td>
																						<td> <a href="../elements/3547159b-35c8-4d10-a24e-c33bf2ece6e5.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/6e17d67a-d84a-4e73-a4c6-139efd711998.html" target="element"> get procurement </a> </td>
																						<td> <a href="../elements/78bb1f32-d81b-416f-8bfb-7b55f0b7f681.html" target="element"> shi_procurements </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/523002b9-d6ed-4490-a39d-a15d01463746.html" target="element">  </a> </td>
																						<td> <a href="../elements/523002b9-d6ed-4490-a39d-a15d01463746.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/bbdd829a-7543-4f85-b49d-f387746e7208.html" target="element"> get document template </a> </td>
																						<td> <a href="../elements/85d9bdd1-be50-4b4f-969a-85314b95c8fe.html" target="element"> Opprett maldokument Kontroller </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/d886b247-90b8-4495-a254-40c38ddc53d3.html" target="element">  </a> </td>
																						<td> <a href="../elements/d886b247-90b8-4495-a254-40c38ddc53d3.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																						</a> </td>
																						<td> <a href="../elements/bbdd829a-7543-4f85-b49d-f387746e7208.html" target="element"> get document template </a> </td>
																						<td> <a href="../elements/7a5828c1-90b6-4457-964d-4488cdec570c.html" target="element"> basert p&#229; shi_document_template / URL til PowerAutomate </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/f34cf2a5-20c6-4acc-a2f1-5e10d08513e0.html" target="element">  </a> </td>
																						<td> <a href="../elements/f34cf2a5-20c6-4acc-a2f1-5e10d08513e0.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/bbdd829a-7543-4f85-b49d-f387746e7208.html" target="element"> get document template </a> </td>
																						<td> <a href="../elements/f6b33a89-3a3f-4d59-a4eb-411e6db9da80.html" target="element"> shi_document_templates </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/9df0af2c-40ea-43f0-bcac-a82015ef143b.html" target="element">  </a> </td>
																						<td> <a href="../elements/9df0af2c-40ea-43f0-bcac-a82015ef143b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/7a5828c1-90b6-4457-964d-4488cdec570c.html" target="element"> basert p&#229; shi_document_template / URL til PowerAutomate </a> </td>
																						<td> <a href="../elements/85d9bdd1-be50-4b4f-969a-85314b95c8fe.html" target="element"> Opprett maldokument Kontroller </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/e4e4aa76-93ae-4582-b00a-b47148d3ca66.html" target="element">  </a> </td>
																						<td> <a href="../elements/e4e4aa76-93ae-4582-b00a-b47148d3ca66.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																						</a> </td>
																						<td> <a href="../elements/7a5828c1-90b6-4457-964d-4488cdec570c.html" target="element"> basert p&#229; shi_document_template / URL til PowerAutomate </a> </td>
																						<td> <a href="../elements/98dacfd2-ab51-43fe-bfa2-11eedd8bf0b3.html" target="element"> Svar fra PowerAutomate </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/29b64e2a-e292-4ad3-8ef6-fad74df746ae.html" target="element">  </a> </td>
																						<td> <a href="../elements/29b64e2a-e292-4ad3-8ef6-fad74df746ae.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/98dacfd2-ab51-43fe-bfa2-11eedd8bf0b3.html" target="element"> Svar fra PowerAutomate </a> </td>
																						<td> <a href="../elements/85d9bdd1-be50-4b4f-969a-85314b95c8fe.html" target="element"> Opprett maldokument Kontroller </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/4820c7f1-9bc7-4f17-a190-15e0e796a3be.html" target="element">  </a> </td>
																						<td> <a href="../elements/4820c7f1-9bc7-4f17-a190-15e0e796a3be.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																						</a> </td>
																						<td> <a href="../elements/98dacfd2-ab51-43fe-bfa2-11eedd8bf0b3.html" target="element"> Svar fra PowerAutomate </a> </td>
																						<td> <a href="../elements/8a6e4d07-aebc-4c28-9175-1b6eb910c416.html" target="element"> Lagre status og prosjekt p&#229; generated_document_template </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/42b90427-8722-48ea-aaf9-26cd18e0110c.html" target="element">  </a> </td>
																						<td> <a href="../elements/42b90427-8722-48ea-aaf9-26cd18e0110c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/8a6e4d07-aebc-4c28-9175-1b6eb910c416.html" target="element"> Lagre status og prosjekt p&#229; generated_document_template </a> </td>
																						<td> <a href="../elements/85d9bdd1-be50-4b4f-969a-85314b95c8fe.html" target="element"> Opprett maldokument Kontroller </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/6612ac67-eead-4f9c-a416-dedb14169906.html" target="element">  </a> </td>
																						<td> <a href="../elements/6612ac67-eead-4f9c-a416-dedb14169906.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/8a6e4d07-aebc-4c28-9175-1b6eb910c416.html" target="element"> Lagre status og prosjekt p&#229; generated_document_template </a> </td>
																						<td> <a href="../elements/814ed372-0bef-4ca6-9faf-4de75fa63fcf.html" target="element"> shi_generated_document_templates </a> </td>
																					</tr>

													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>