<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Ferdinand</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Ferdinand</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/223f4858-194a-4d66-976c-f970636c7924.png" alt="Ferdinand" usemap="#223f4858-194a-4d66-976c-f970636c7924map"/>
			   <map name="223f4858-194a-4d66-976c-f970636c7924map">
				  				<area shape="rect" coords="56,740,213,795" href="../elements/8fc6fb64-7432-4810-aafd-a01db761db21.html"  target="element">

				  		<area shape="rect" coords="44,704,225,837" href="../elements/23ea4f85-97f4-4f1c-8814-f970b210d8ce.html"  target="element">
				  				<area shape="rect" coords="56,584,213,633" href="../elements/a1fc222b-5b83-449e-8aa5-230e509714af.html"  target="element">

				  		<area shape="rect" coords="44,548,225,693" href="../elements/1de842fe-783c-41b4-a6c9-2a7a19bcfdcd.html"  target="element">
				  		<area shape="rect" coords="392,32,512,69" href="../elements/512b71d4-8b0c-4cbe-bf9d-44d53a5b93d1.html"  target="element">
				  				<area shape="rect" coords="488,596,669,651" href="../elements/80dea1bb-65b9-4341-9950-0d7d50732a7d.html"  target="element">
				  				<area shape="rect" coords="488,668,669,717" href="../elements/8b4fc6e9-f317-4707-aaa9-c70b1f4f62bd.html"  target="element">

				  		<area shape="rect" coords="476,572,681,777" href="../elements/b1feb72c-85f2-4623-901d-ae9d48c15ff2.html"  target="element">
				  				<area shape="rect" coords="1304,104,1424,267" href="../elements/f8fbd756-8532-4723-9939-2006095fdb8b.html"  target="element">
				  				<area shape="rect" coords="1124,104,1244,165" href="../elements/adca2610-8c3c-41e3-bd59-3e8edf006719.html"  target="element">
				  				<area shape="rect" coords="956,308,1113,363" href="../elements/7dfda676-cc41-4617-8f30-4a1f1fb46fef.html"  target="element">
				  						<area shape="rect" coords="968,188,1101,243" href="../elements/6d0bc8a5-1cb7-4af2-8308-2526e6cbce65.html"  target="element">

				  				<area shape="rect" coords="956,104,1113,273" href="../elements/4fc7f67d-bcfa-4982-a630-8e96bbc270d7.html"  target="element">

				  		<area shape="rect" coords="944,68,1449,382" href="../elements/b32b5faa-7950-440e-90b5-8aa6927fed98.html"  target="element">
				  				<area shape="rect" coords="68,92,213,213" href="../elements/f6c8ed97-556a-4667-a569-c76c4dfac015.html"  target="element">
				  				<area shape="rect" coords="68,314,213,369" href="../elements/ff497bcf-9300-4e26-8510-6d25070cb98a.html"  target="element">
				  				<area shape="rect" coords="68,248,213,303" href="../elements/e2abd7d9-145a-425c-b6b9-be77ef45007a.html"  target="element">
				  				<area shape="rect" coords="68,404,213,459" href="../elements/31f73a6a-464f-4727-944c-0db06c02b187.html"  target="element">

				  		<area shape="rect" coords="56,68,225,477" href="../elements/8da7ad56-1291-43e6-9bed-ca059abf2228.html"  target="element">
				  				<area shape="rect" coords="728,212,848,267" href="../elements/f26cb0e0-1259-450d-8f8d-8d0c39b441ba.html"  target="element">
				  				<area shape="rect" coords="536,212,681,267" href="../elements/5c0d7724-f6f5-41dd-a45b-104a2786cd53.html"  target="element">
				  				<area shape="rect" coords="536,122,681,177" href="../elements/f5d55c16-0fe8-4533-832c-c4d4fa4eb0e6.html"  target="element">
				  				<area shape="rect" coords="308,122,489,195" href="../elements/c0932312-308e-45bf-95e1-673df39c9326.html"  target="element">
				  				<area shape="rect" coords="308,206,489,261" href="../elements/12970e15-8bdc-44b7-94eb-3aef77e62e52.html"  target="element">
				  				<area shape="rect" coords="308,278,489,333" href="../elements/3b67a4bc-1c44-4598-b88b-431615aaf88f.html"  target="element">
				  				<area shape="rect" coords="308,362,489,417" href="../elements/d2cdb8c0-f878-4ee3-9119-baa6ec050265.html"  target="element">

				  		<area shape="rect" coords="296,98,897,447" href="../elements/3d324b4b-0f4a-4df8-9c20-270b1530019d.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/3d324b4b-0f4a-4df8-9c20-270b1530019d.html" target="element"> Pharmasys 2.0 </a> </td>
											    <td> <a href="../elements/3d324b4b-0f4a-4df8-9c20-270b1530019d.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/d2cdb8c0-f878-4ee3-9119-baa6ec050265.html" target="element"> /Leverand&#248;r </a> </td>
													    <td> <a href="../elements/d2cdb8c0-f878-4ee3-9119-baa6ec050265.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/3b67a4bc-1c44-4598-b88b-431615aaf88f.html" target="element"> /Avtaler </a> </td>
													    <td> <a href="../elements/3b67a4bc-1c44-4598-b88b-431615aaf88f.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/12970e15-8bdc-44b7-94eb-3aef77e62e52.html" target="element"> /Kontrakt </a> </td>
													    <td> <a href="../elements/12970e15-8bdc-44b7-94eb-3aef77e62e52.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/c0932312-308e-45bf-95e1-673df39c9326.html" target="element"> /Anskaffelser </a> </td>
													    <td> <a href="../elements/c0932312-308e-45bf-95e1-673df39c9326.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/f5d55c16-0fe8-4533-832c-c4d4fa4eb0e6.html" target="element"> Anskaffelse </a> </td>
													    <td> <a href="../elements/f5d55c16-0fe8-4533-832c-c4d4fa4eb0e6.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/5c0d7724-f6f5-41dd-a45b-104a2786cd53.html" target="element"> Artikler </a> </td>
													    <td> <a href="../elements/5c0d7724-f6f5-41dd-a45b-104a2786cd53.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/f26cb0e0-1259-450d-8f8d-8d0c39b441ba.html" target="element"> FARMALOGG </a> </td>
													    <td> <a href="../elements/f26cb0e0-1259-450d-8f8d-8d0c39b441ba.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/8da7ad56-1291-43e6-9bed-ca059abf2228.html" target="element"> Quantus CRM </a> </td>
											    <td> <a href="../elements/8da7ad56-1291-43e6-9bed-ca059abf2228.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/31f73a6a-464f-4727-944c-0db06c02b187.html" target="element"> Accounts </a> </td>
													    <td> <a href="../elements/31f73a6a-464f-4727-944c-0db06c02b187.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/e2abd7d9-145a-425c-b6b9-be77ef45007a.html" target="element"> shi_contract_headers </a> </td>
													    <td> <a href="../elements/e2abd7d9-145a-425c-b6b9-be77ef45007a.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/ff497bcf-9300-4e26-8510-6d25070cb98a.html" target="element"> shi_agreements_headers </a> </td>
													    <td> <a href="../elements/ff497bcf-9300-4e26-8510-6d25070cb98a.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/f6c8ed97-556a-4667-a569-c76c4dfac015.html" target="element"> shi_procurements </a> </td>
													    <td> <a href="../elements/f6c8ed97-556a-4667-a569-c76c4dfac015.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/b32b5faa-7950-440e-90b5-8aa6927fed98.html" target="element"> Mercel </a> </td>
											    <td> <a href="../elements/b32b5faa-7950-440e-90b5-8aa6927fed98.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/4fc7f67d-bcfa-4982-a630-8e96bbc270d7.html" target="element"> Kunngj&#248;ringer </a> </td>
													    <td> <a href="../elements/4fc7f67d-bcfa-4982-a630-8e96bbc270d7.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/6d0bc8a5-1cb7-4af2-8308-2526e6cbce65.html" target="element"> anbud </a> </td>
															    <td> <a href="../elements/6d0bc8a5-1cb7-4af2-8308-2526e6cbce65.html" target="element" class="i18n-elementtype-DataObject">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/7dfda676-cc41-4617-8f30-4a1f1fb46fef.html" target="element"> Tilbud </a> </td>
													    <td> <a href="../elements/7dfda676-cc41-4617-8f30-4a1f1fb46fef.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/adca2610-8c3c-41e3-bd59-3e8edf006719.html" target="element"> CPV-koder </a> </td>
													    <td> <a href="../elements/adca2610-8c3c-41e3-bd59-3e8edf006719.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/f8fbd756-8532-4723-9939-2006095fdb8b.html" target="element"> Leverand&#248;rer  </a> </td>
													    <td> <a href="../elements/f8fbd756-8532-4723-9939-2006095fdb8b.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/b1feb72c-85f2-4623-901d-ae9d48c15ff2.html" target="element"> Documaster </a> </td>
											    <td> <a href="../elements/b1feb72c-85f2-4623-901d-ae9d48c15ff2.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/8b4fc6e9-f317-4707-aaa9-c70b1f4f62bd.html" target="element"> Saksmappe </a> </td>
													    <td> <a href="../elements/8b4fc6e9-f317-4707-aaa9-c70b1f4f62bd.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/80dea1bb-65b9-4341-9950-0d7d50732a7d.html" target="element"> REST API </a> </td>
													    <td> <a href="../elements/80dea1bb-65b9-4341-9950-0d7d50732a7d.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/512b71d4-8b0c-4cbe-bf9d-44d53a5b93d1.html" target="element"> Saksnummer </a> </td>
											    <td> <a href="../elements/512b71d4-8b0c-4cbe-bf9d-44d53a5b93d1.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1de842fe-783c-41b4-a6c9-2a7a19bcfdcd.html" target="element"> MS SharePoint Online </a> </td>
											    <td> <a href="../elements/1de842fe-783c-41b4-a6c9-2a7a19bcfdcd.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/a1fc222b-5b83-449e-8aa5-230e509714af.html" target="element"> Saksmappe  </a> </td>
													    <td> <a href="../elements/a1fc222b-5b83-449e-8aa5-230e509714af.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/23ea4f85-97f4-4f1c-8814-f970b210d8ce.html" target="element"> Databricks Pinggu </a> </td>
											    <td> <a href="../elements/23ea4f85-97f4-4f1c-8814-f970b210d8ce.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/8fc6fb64-7432-4810-aafd-a01db761db21.html" target="element"> pythonnotebook </a> </td>
													    <td> <a href="../elements/8fc6fb64-7432-4810-aafd-a01db761db21.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/7eb2ef71-8ad9-4bf0-9595-657b91b5f3b1.html" target="element">  </a> </td>
																		<td> <a href="../elements/7eb2ef71-8ad9-4bf0-9595-657b91b5f3b1.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/3d324b4b-0f4a-4df8-9c20-270b1530019d.html" target="element"> Pharmasys 2.0 </a> </td>
																		<td> <a href="../elements/d2cdb8c0-f878-4ee3-9119-baa6ec050265.html" target="element"> /Leverand&#248;r </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/12ae76ac-cc3c-4ba9-a788-ba562fadf1b4.html" target="element">  </a> </td>
																		<td> <a href="../elements/12ae76ac-cc3c-4ba9-a788-ba562fadf1b4.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/3d324b4b-0f4a-4df8-9c20-270b1530019d.html" target="element"> Pharmasys 2.0 </a> </td>
																		<td> <a href="../elements/3b67a4bc-1c44-4598-b88b-431615aaf88f.html" target="element"> /Avtaler </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ba18c5d3-9724-4924-95b8-ab9af2e702ce.html" target="element">  </a> </td>
																		<td> <a href="../elements/ba18c5d3-9724-4924-95b8-ab9af2e702ce.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/3d324b4b-0f4a-4df8-9c20-270b1530019d.html" target="element"> Pharmasys 2.0 </a> </td>
																		<td> <a href="../elements/12970e15-8bdc-44b7-94eb-3aef77e62e52.html" target="element"> /Kontrakt </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3af43944-a556-4f70-b164-7756ec3b6f01.html" target="element">  </a> </td>
																		<td> <a href="../elements/3af43944-a556-4f70-b164-7756ec3b6f01.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/3d324b4b-0f4a-4df8-9c20-270b1530019d.html" target="element"> Pharmasys 2.0 </a> </td>
																		<td> <a href="../elements/c0932312-308e-45bf-95e1-673df39c9326.html" target="element"> /Anskaffelser </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d00aa0f8-7e9e-4cb4-a462-28d0f103f2fa.html" target="element">  </a> </td>
																		<td> <a href="../elements/d00aa0f8-7e9e-4cb4-a462-28d0f103f2fa.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/3d324b4b-0f4a-4df8-9c20-270b1530019d.html" target="element"> Pharmasys 2.0 </a> </td>
																		<td> <a href="../elements/f5d55c16-0fe8-4533-832c-c4d4fa4eb0e6.html" target="element"> Anskaffelse </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/88b64a60-0dc2-42a1-9aa4-ccb1385bacdf.html" target="element">  </a> </td>
																		<td> <a href="../elements/88b64a60-0dc2-42a1-9aa4-ccb1385bacdf.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/3d324b4b-0f4a-4df8-9c20-270b1530019d.html" target="element"> Pharmasys 2.0 </a> </td>
																		<td> <a href="../elements/5c0d7724-f6f5-41dd-a45b-104a2786cd53.html" target="element"> Artikler </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f34ab193-0074-43a9-9b6a-a8d2e4a1a5c5.html" target="element">  </a> </td>
																		<td> <a href="../elements/f34ab193-0074-43a9-9b6a-a8d2e4a1a5c5.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/3d324b4b-0f4a-4df8-9c20-270b1530019d.html" target="element"> Pharmasys 2.0 </a> </td>
																		<td> <a href="../elements/f26cb0e0-1259-450d-8f8d-8d0c39b441ba.html" target="element"> FARMALOGG </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/128ce840-16dd-43f4-8514-621f7c4ece11.html" target="element">  </a> </td>
																				<td> <a href="../elements/128ce840-16dd-43f4-8514-621f7c4ece11.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/d2cdb8c0-f878-4ee3-9119-baa6ec050265.html" target="element"> /Leverand&#248;r </a> </td>
																				<td> <a href="../elements/31f73a6a-464f-4727-944c-0db06c02b187.html" target="element"> Accounts </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/3719ec12-7b59-443d-996d-85587eb748b7.html" target="element">  </a> </td>
																				<td> <a href="../elements/3719ec12-7b59-443d-996d-85587eb748b7.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/3b67a4bc-1c44-4598-b88b-431615aaf88f.html" target="element"> /Avtaler </a> </td>
																				<td> <a href="../elements/ff497bcf-9300-4e26-8510-6d25070cb98a.html" target="element"> shi_agreements_headers </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/4751ecea-3906-4512-ac82-530b823d49d8.html" target="element">  </a> </td>
																				<td> <a href="../elements/4751ecea-3906-4512-ac82-530b823d49d8.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/12970e15-8bdc-44b7-94eb-3aef77e62e52.html" target="element"> /Kontrakt </a> </td>
																				<td> <a href="../elements/e2abd7d9-145a-425c-b6b9-be77ef45007a.html" target="element"> shi_contract_headers </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/e2430bdf-a7ca-4d0d-ad05-ea5b1a29c9fb.html" target="element">  </a> </td>
																				<td> <a href="../elements/e2430bdf-a7ca-4d0d-ad05-ea5b1a29c9fb.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/c0932312-308e-45bf-95e1-673df39c9326.html" target="element"> /Anskaffelser </a> </td>
																				<td> <a href="../elements/f6c8ed97-556a-4667-a569-c76c4dfac015.html" target="element"> shi_procurements </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/13f34310-0158-4c53-8f49-3f4ae051c661.html" target="element">  </a> </td>
																				<td> <a href="../elements/13f34310-0158-4c53-8f49-3f4ae051c661.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/c0932312-308e-45bf-95e1-673df39c9326.html" target="element"> /Anskaffelser </a> </td>
																				<td> <a href="../elements/f5d55c16-0fe8-4533-832c-c4d4fa4eb0e6.html" target="element"> Anskaffelse </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/a6f915f7-0688-4046-af08-1762b09b2045.html" target="element">  </a> </td>
																				<td> <a href="../elements/a6f915f7-0688-4046-af08-1762b09b2045.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/5c0d7724-f6f5-41dd-a45b-104a2786cd53.html" target="element"> Artikler </a> </td>
																				<td> <a href="../elements/f5d55c16-0fe8-4533-832c-c4d4fa4eb0e6.html" target="element"> Anskaffelse </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/655cdcbf-96e2-4e22-b2be-1858bf787e2c.html" target="element">  </a> </td>
																				<td> <a href="../elements/655cdcbf-96e2-4e22-b2be-1858bf787e2c.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/f26cb0e0-1259-450d-8f8d-8d0c39b441ba.html" target="element"> FARMALOGG </a> </td>
																				<td> <a href="../elements/5c0d7724-f6f5-41dd-a45b-104a2786cd53.html" target="element"> Artikler </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/bba47e16-d15c-4780-b2c5-709a1db22851.html" target="element">  </a> </td>
																		<td> <a href="../elements/bba47e16-d15c-4780-b2c5-709a1db22851.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/8da7ad56-1291-43e6-9bed-ca059abf2228.html" target="element"> Quantus CRM </a> </td>
																		<td> <a href="../elements/31f73a6a-464f-4727-944c-0db06c02b187.html" target="element"> Accounts </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f057e8f4-d983-4d6f-8024-5fac764bd292.html" target="element">  </a> </td>
																		<td> <a href="../elements/f057e8f4-d983-4d6f-8024-5fac764bd292.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/8da7ad56-1291-43e6-9bed-ca059abf2228.html" target="element"> Quantus CRM </a> </td>
																		<td> <a href="../elements/e2abd7d9-145a-425c-b6b9-be77ef45007a.html" target="element"> shi_contract_headers </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4452f477-ddfa-4882-81cb-01d1ddb0e39e.html" target="element">  </a> </td>
																		<td> <a href="../elements/4452f477-ddfa-4882-81cb-01d1ddb0e39e.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/8da7ad56-1291-43e6-9bed-ca059abf2228.html" target="element"> Quantus CRM </a> </td>
																		<td> <a href="../elements/ff497bcf-9300-4e26-8510-6d25070cb98a.html" target="element"> shi_agreements_headers </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a0fca120-498e-4892-8266-081f97e67f14.html" target="element">  </a> </td>
																		<td> <a href="../elements/a0fca120-498e-4892-8266-081f97e67f14.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/8da7ad56-1291-43e6-9bed-ca059abf2228.html" target="element"> Quantus CRM </a> </td>
																		<td> <a href="../elements/f6c8ed97-556a-4667-a569-c76c4dfac015.html" target="element"> shi_procurements </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/dc9959a3-5140-404a-b9fc-e2a7e5d00e79.html" target="element">  </a> </td>
																		<td> <a href="../elements/dc9959a3-5140-404a-b9fc-e2a7e5d00e79.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/b32b5faa-7950-440e-90b5-8aa6927fed98.html" target="element"> Mercel </a> </td>
																		<td> <a href="../elements/4fc7f67d-bcfa-4982-a630-8e96bbc270d7.html" target="element"> Kunngj&#248;ringer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8ec273ca-66bb-4cb9-b10f-7b1245622562.html" target="element">  </a> </td>
																		<td> <a href="../elements/8ec273ca-66bb-4cb9-b10f-7b1245622562.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/b32b5faa-7950-440e-90b5-8aa6927fed98.html" target="element"> Mercel </a> </td>
																		<td> <a href="../elements/7dfda676-cc41-4617-8f30-4a1f1fb46fef.html" target="element"> Tilbud </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/cc4bb2fd-7ac2-4384-95fb-a68a6516269f.html" target="element">  </a> </td>
																		<td> <a href="../elements/cc4bb2fd-7ac2-4384-95fb-a68a6516269f.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/b32b5faa-7950-440e-90b5-8aa6927fed98.html" target="element"> Mercel </a> </td>
																		<td> <a href="../elements/adca2610-8c3c-41e3-bd59-3e8edf006719.html" target="element"> CPV-koder </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/a29721cd-7841-4a32-bc77-0930b0ddccf1.html" target="element">  </a> </td>
																				<td> <a href="../elements/a29721cd-7841-4a32-bc77-0930b0ddccf1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/4fc7f67d-bcfa-4982-a630-8e96bbc270d7.html" target="element"> Kunngj&#248;ringer </a> </td>
																				<td> <a href="../elements/6d0bc8a5-1cb7-4af2-8308-2526e6cbce65.html" target="element"> anbud </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/ba2896dc-86e3-4f23-a360-798636b30907.html" target="element">  </a> </td>
																				<td> <a href="../elements/ba2896dc-86e3-4f23-a360-798636b30907.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/4fc7f67d-bcfa-4982-a630-8e96bbc270d7.html" target="element"> Kunngj&#248;ringer </a> </td>
																				<td> <a href="../elements/8b4fc6e9-f317-4707-aaa9-c70b1f4f62bd.html" target="element"> Saksmappe </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/938c7092-6fa8-4073-9a13-4e2c0512b563.html" target="element">  </a> </td>
																				<td> <a href="../elements/938c7092-6fa8-4073-9a13-4e2c0512b563.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/7dfda676-cc41-4617-8f30-4a1f1fb46fef.html" target="element"> Tilbud </a> </td>
																				<td> <a href="../elements/8b4fc6e9-f317-4707-aaa9-c70b1f4f62bd.html" target="element"> Saksmappe </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/ebebba59-570a-42e2-ab3a-27c5b1289639.html" target="element">  </a> </td>
																				<td> <a href="../elements/ebebba59-570a-42e2-ab3a-27c5b1289639.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/adca2610-8c3c-41e3-bd59-3e8edf006719.html" target="element"> CPV-koder </a> </td>
																				<td> <a href="../elements/6d0bc8a5-1cb7-4af2-8308-2526e6cbce65.html" target="element"> anbud </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/db0dbff1-afae-428f-a0de-e5286a2e166f.html" target="element">  </a> </td>
																				<td> <a href="../elements/db0dbff1-afae-428f-a0de-e5286a2e166f.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/f8fbd756-8532-4723-9939-2006095fdb8b.html" target="element"> Leverand&#248;rer  </a> </td>
																				<td> <a href="../elements/adca2610-8c3c-41e3-bd59-3e8edf006719.html" target="element"> CPV-koder </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/f6ba7288-77a1-47ee-b009-3559dd2c5538.html" target="element">  </a> </td>
																				<td> <a href="../elements/f6ba7288-77a1-47ee-b009-3559dd2c5538.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/f8fbd756-8532-4723-9939-2006095fdb8b.html" target="element"> Leverand&#248;rer  </a> </td>
																				<td> <a href="../elements/7dfda676-cc41-4617-8f30-4a1f1fb46fef.html" target="element"> Tilbud </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/b35ae7d5-2e95-4952-8998-e1f1ba34435f.html" target="element">  </a> </td>
																		<td> <a href="../elements/b35ae7d5-2e95-4952-8998-e1f1ba34435f.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/b1feb72c-85f2-4623-901d-ae9d48c15ff2.html" target="element"> Documaster </a> </td>
																		<td> <a href="../elements/8b4fc6e9-f317-4707-aaa9-c70b1f4f62bd.html" target="element"> Saksmappe </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c2f1e815-2153-4137-8847-ede123d23311.html" target="element">  </a> </td>
																		<td> <a href="../elements/c2f1e815-2153-4137-8847-ede123d23311.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/b1feb72c-85f2-4623-901d-ae9d48c15ff2.html" target="element"> Documaster </a> </td>
																		<td> <a href="../elements/80dea1bb-65b9-4341-9950-0d7d50732a7d.html" target="element"> REST API </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/420267a2-b557-43b9-b089-549bcee7df7b.html" target="element">  </a> </td>
																				<td> <a href="../elements/420267a2-b557-43b9-b089-549bcee7df7b.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/80dea1bb-65b9-4341-9950-0d7d50732a7d.html" target="element"> REST API </a> </td>
																				<td> <a href="../elements/a1fc222b-5b83-449e-8aa5-230e509714af.html" target="element"> Saksmappe  </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/76798738-47ee-4d2b-8a77-25848b1c648b.html" target="element">  </a> </td>
																		<td> <a href="../elements/76798738-47ee-4d2b-8a77-25848b1c648b.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/512b71d4-8b0c-4cbe-bf9d-44d53a5b93d1.html" target="element"> Saksnummer </a> </td>
																		<td> <a href="../elements/f6c8ed97-556a-4667-a569-c76c4dfac015.html" target="element"> shi_procurements </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a08bbc51-ed2d-4776-bf33-94325db94f79.html" target="element">  </a> </td>
																		<td> <a href="../elements/a08bbc51-ed2d-4776-bf33-94325db94f79.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/512b71d4-8b0c-4cbe-bf9d-44d53a5b93d1.html" target="element"> Saksnummer </a> </td>
																		<td> <a href="../elements/f5d55c16-0fe8-4533-832c-c4d4fa4eb0e6.html" target="element"> Anskaffelse </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d99c48de-70be-4dd7-be0e-ac0dd64cf64b.html" target="element">  </a> </td>
																		<td> <a href="../elements/d99c48de-70be-4dd7-be0e-ac0dd64cf64b.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/512b71d4-8b0c-4cbe-bf9d-44d53a5b93d1.html" target="element"> Saksnummer </a> </td>
																		<td> <a href="../elements/4fc7f67d-bcfa-4982-a630-8e96bbc270d7.html" target="element"> Kunngj&#248;ringer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/98566c8a-9eea-4dce-be9b-661584ab92a2.html" target="element">  </a> </td>
																		<td> <a href="../elements/98566c8a-9eea-4dce-be9b-661584ab92a2.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/512b71d4-8b0c-4cbe-bf9d-44d53a5b93d1.html" target="element"> Saksnummer </a> </td>
																		<td> <a href="../elements/8b4fc6e9-f317-4707-aaa9-c70b1f4f62bd.html" target="element"> Saksmappe </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0b4e03d5-4f54-4365-9de2-3930c9a3ff5b.html" target="element">  </a> </td>
																		<td> <a href="../elements/0b4e03d5-4f54-4365-9de2-3930c9a3ff5b.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/512b71d4-8b0c-4cbe-bf9d-44d53a5b93d1.html" target="element"> Saksnummer </a> </td>
																		<td> <a href="../elements/a1fc222b-5b83-449e-8aa5-230e509714af.html" target="element"> Saksmappe  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6f5b789e-6550-4d7e-870e-81452b586bbd.html" target="element">  </a> </td>
																		<td> <a href="../elements/6f5b789e-6550-4d7e-870e-81452b586bbd.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/1de842fe-783c-41b4-a6c9-2a7a19bcfdcd.html" target="element"> MS SharePoint Online </a> </td>
																		<td> <a href="../elements/a1fc222b-5b83-449e-8aa5-230e509714af.html" target="element"> Saksmappe  </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/343f321a-df82-4fd3-8e1f-4f4ffa9f717d.html" target="element">  </a> </td>
																		<td> <a href="../elements/343f321a-df82-4fd3-8e1f-4f4ffa9f717d.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/23ea4f85-97f4-4f1c-8814-f970b210d8ce.html" target="element"> Databricks Pinggu </a> </td>
																		<td> <a href="../elements/8fc6fb64-7432-4810-aafd-a01db761db21.html" target="element"> pythonnotebook </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/7c630d3f-ca5f-4bbd-be40-b60ccf46d523.html" target="element">  </a> </td>
																				<td> <a href="../elements/7c630d3f-ca5f-4bbd-be40-b60ccf46d523.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/8fc6fb64-7432-4810-aafd-a01db761db21.html" target="element"> pythonnotebook </a> </td>
																				<td> <a href="../elements/a1fc222b-5b83-449e-8aa5-230e509714af.html" target="element"> Saksmappe  </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>