<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Helseforetaksfamilien</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Helseforetaksfamilien</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/2acbe3c5-b6db-4abd-a8c2-83f3553149c2.png" alt="Helseforetaksfamilien" usemap="#2acbe3c5-b6db-4abd-a8c2-83f3553149c2map"/>
			   <map name="2acbe3c5-b6db-4abd-a8c2-83f3553149c2map">
				  						<area shape="rect" coords="802,106,922,161" href="../elements/6a5ac53a-a6b7-4411-a42f-eba22b004313.html"  target="element">
				  						<area shape="rect" coords="802,178,922,233" href="../elements/186708f9-10c4-4d66-b478-46278f99a1dc.html"  target="element">
				  						<area shape="rect" coords="802,394,922,449" href="../elements/635fece6-c15b-4a7d-a9d2-68c893fdb5a5.html"  target="element">
				  						<area shape="rect" coords="802,466,922,521" href="../elements/cc831a18-5f53-4a28-8fc3-d789ab5b9798.html"  target="element">
				  						<area shape="rect" coords="802,250,922,305" href="../elements/b2c7f0a7-2d8b-46b5-8a28-e695ea42f232.html"  target="element">
				  						<area shape="rect" coords="802,322,922,377" href="../elements/17382d78-49e0-48b9-bf95-d3d1b5393a67.html"  target="element">

				  				<area shape="rect" coords="802,46,922,551" href="../elements/5f8362d3-51f5-4e9e-b277-254d5a60e359.html"  target="element">
				  						<area shape="rect" coords="178,106,298,161" href="../elements/bcbaf1e7-e9a0-49a2-a9db-08599d755bda.html"  target="element">
				  						<area shape="rect" coords="178,250,298,305" href="../elements/3f726063-8bf7-41ad-96c2-f12a16245b9c.html"  target="element">
				  						<area shape="rect" coords="34,106,154,161" href="../elements/00bd0c1e-c1bf-4a5c-ada4-4aa505ef7c1d.html"  target="element">
				  						<area shape="rect" coords="34,178,154,233" href="../elements/7c9f7e42-318d-4f29-b15c-d528b51074a7.html"  target="element">
				  						<area shape="rect" coords="34,322,154,377" href="../elements/fae56e8f-1068-42b0-99d0-64a9ce5faf38.html"  target="element">
				  						<area shape="rect" coords="34,250,154,305" href="../elements/4430f6bd-72cc-405c-b9f8-465fe2838a87.html"  target="element">
				  						<area shape="rect" coords="178,178,298,233" href="../elements/71404866-deac-4f44-aeda-d8c0d81a0ee5.html"  target="element">

				  				<area shape="rect" coords="34,46,311,407" href="../elements/077bbd94-a157-4f32-89d0-c2ba5c910ee1.html"  target="element">
				  						<area shape="rect" coords="490,250,610,305" href="../elements/cd622b97-46c6-4384-ae3c-8ae5389bcc27.html"  target="element">
				  						<area shape="rect" coords="490,178,610,233" href="../elements/0cd96123-1540-4835-837f-118a777d24e7.html"  target="element">
				  						<area shape="rect" coords="490,106,610,161" href="../elements/de5e94e2-27f3-4407-af1c-191f1bf245b8.html"  target="element">
				  						<area shape="rect" coords="346,178,466,233" href="../elements/ca4582e1-0dae-4707-8a3d-20eec4464eaa.html"  target="element">
				  						<area shape="rect" coords="346,250,466,305" href="../elements/2c2e8913-4e0c-4d94-a203-255978fba462.html"  target="element">
				  						<area shape="rect" coords="346,322,466,377" href="../elements/9841b42f-4911-4252-84b6-95c902c096de.html"  target="element">
				  						<area shape="rect" coords="346,394,466,449" href="../elements/f2d34176-efac-4a4c-88f1-dd5ee758bfe0.html"  target="element">
				  						<area shape="rect" coords="346,466,466,521" href="../elements/2a14b077-c61d-4f6b-8f61-0e5aeb74db84.html"  target="element">
				  						<area shape="rect" coords="490,394,610,449" href="../elements/225bade4-14b6-4639-8d2d-2d63dbaaf1ef.html"  target="element">
				  						<area shape="rect" coords="490,322,610,377" href="../elements/800dc615-fe03-4d3b-a492-96619036aa7a.html"  target="element">
				  						<area shape="rect" coords="346,106,466,161" href="../elements/0779b6cd-18dc-40b5-8b34-f6adb014337d.html"  target="element">

				  				<area shape="rect" coords="346,46,611,551" href="../elements/b5d9551e-1037-45aa-883b-144556c98ac9.html"  target="element">
				  						<area shape="rect" coords="646,394,766,449" href="../elements/31dd86ce-f803-4e52-adfb-692211a1010a.html"  target="element">
				  						<area shape="rect" coords="646,322,766,377" href="../elements/c5e74598-0971-4a74-ab43-5fefcd939644.html"  target="element">
				  						<area shape="rect" coords="646,250,766,305" href="../elements/9bff10d9-5d81-4d3f-8ce7-6c198340348a.html"  target="element">
				  						<area shape="rect" coords="646,178,766,233" href="../elements/1a35cd41-b0be-4d9a-ac01-fc9f0a67acf2.html"  target="element">
				  						<area shape="rect" coords="646,106,766,161" href="../elements/f5e6b59b-9ebf-447c-a8d4-5f76b54eee66.html"  target="element">

				  				<area shape="rect" coords="646,46,766,551" href="../elements/d7e31ec4-b143-4f60-92cb-3c5d05d4b9c4.html"  target="element">

				  		<area shape="rect" coords="10,10,959,579" href="../elements/89aa7dfb-37ac-430c-9c24-0528d0b68915.html"  target="element">
				  				<area shape="rect" coords="754,670,874,725" href="../elements/f1f3c48e-1c7a-4c0d-b108-0d44d771bdfd.html"  target="element">
				  				<area shape="rect" coords="178,670,298,725" href="../elements/06d398a6-1f23-4ba8-b522-f696d3636f33.html"  target="element">
				  				<area shape="rect" coords="610,670,730,725" href="../elements/47867339-20c8-44c3-abde-d7788e04e135.html"  target="element">
				  				<area shape="rect" coords="322,670,442,725" href="../elements/2e5325ea-0e03-4f9c-b4c1-1bd94e117fe2.html"  target="element">
				  				<area shape="rect" coords="466,670,586,725" href="../elements/4cd97194-29b9-4bb9-af3e-deea5c78d5a3.html"  target="element">
				  				<area shape="rect" coords="34,670,154,725" href="../elements/08ed6367-72f0-4360-a0e0-bd9daeee1c37.html"  target="element">

				  		<area shape="rect" coords="10,622,959,762" href="../elements/82186684-83d3-4543-a983-36ee1382b69a.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/82186684-83d3-4543-a983-36ee1382b69a.html" target="element"> Felleseide helseforetak </a> </td>
											    <td> <a href="../elements/82186684-83d3-4543-a983-36ee1382b69a.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/08ed6367-72f0-4360-a0e0-bd9daeee1c37.html" target="element"> Helseforetakenes driftsorganisasjon for&#160;n&#248;dnett HF  </a> </td>
													    <td> <a href="../elements/08ed6367-72f0-4360-a0e0-bd9daeee1c37.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/4cd97194-29b9-4bb9-af3e-deea5c78d5a3.html" target="element"> Sykehusbygg HF&#160;  </a> </td>
													    <td> <a href="../elements/4cd97194-29b9-4bb9-af3e-deea5c78d5a3.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/2e5325ea-0e03-4f9c-b4c1-1bd94e117fe2.html" target="element"> Luftambulansetjenesten HF  </a> </td>
													    <td> <a href="../elements/2e5325ea-0e03-4f9c-b4c1-1bd94e117fe2.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/47867339-20c8-44c3-abde-d7788e04e135.html" target="element"> Nasjonal IKT HF&#160;  </a> </td>
													    <td> <a href="../elements/47867339-20c8-44c3-abde-d7788e04e135.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/06d398a6-1f23-4ba8-b522-f696d3636f33.html" target="element"> Pasientreiser HF  </a> </td>
													    <td> <a href="../elements/06d398a6-1f23-4ba8-b522-f696d3636f33.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/f1f3c48e-1c7a-4c0d-b108-0d44d771bdfd.html" target="element"> Sykehusinnkj&#248;p HF </a> </td>
													    <td> <a href="../elements/f1f3c48e-1c7a-4c0d-b108-0d44d771bdfd.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/89aa7dfb-37ac-430c-9c24-0528d0b68915.html" target="element"> Regionalt eide helseforetak </a> </td>
											    <td> <a href="../elements/89aa7dfb-37ac-430c-9c24-0528d0b68915.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/d7e31ec4-b143-4f60-92cb-3c5d05d4b9c4.html" target="element"> Helse Midt-Norge RHF </a> </td>
													    <td> <a href="../elements/d7e31ec4-b143-4f60-92cb-3c5d05d4b9c4.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/f5e6b59b-9ebf-447c-a8d4-5f76b54eee66.html" target="element"> Helse M&#248;re og Romsdal HF  </a> </td>
															    <td> <a href="../elements/f5e6b59b-9ebf-447c-a8d4-5f76b54eee66.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/1a35cd41-b0be-4d9a-ac01-fc9f0a67acf2.html" target="element"> St. Olavs Hospital HF  </a> </td>
															    <td> <a href="../elements/1a35cd41-b0be-4d9a-ac01-fc9f0a67acf2.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/9bff10d9-5d81-4d3f-8ce7-6c198340348a.html" target="element"> Helse Nord-Tr&#248;ndelag HF  </a> </td>
															    <td> <a href="../elements/9bff10d9-5d81-4d3f-8ce7-6c198340348a.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/c5e74598-0971-4a74-ab43-5fefcd939644.html" target="element"> Sykehusapotekene i Midt-Norge HF  </a> </td>
															    <td> <a href="../elements/c5e74598-0971-4a74-ab43-5fefcd939644.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/31dd86ce-f803-4e52-adfb-692211a1010a.html" target="element"> Helse Midt-Norge IT (HEMIT)&#160;  </a> </td>
															    <td> <a href="../elements/31dd86ce-f803-4e52-adfb-692211a1010a.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/b5d9551e-1037-45aa-883b-144556c98ac9.html" target="element"> Helse S&#248;r-&#216;st RHF </a> </td>
													    <td> <a href="../elements/b5d9551e-1037-45aa-883b-144556c98ac9.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/0779b6cd-18dc-40b5-8b34-f6adb014337d.html" target="element"> Akershus universitetssykehus HF  </a> </td>
															    <td> <a href="../elements/0779b6cd-18dc-40b5-8b34-f6adb014337d.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/800dc615-fe03-4d3b-a492-96619036aa7a.html" target="element"> S&#248;rlandet sykehus HF  </a> </td>
															    <td> <a href="../elements/800dc615-fe03-4d3b-a492-96619036aa7a.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/225bade4-14b6-4639-8d2d-2d63dbaaf1ef.html" target="element"> Sykehusapotekene HF  </a> </td>
															    <td> <a href="../elements/225bade4-14b6-4639-8d2d-2d63dbaaf1ef.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/2a14b077-c61d-4f6b-8f61-0e5aeb74db84.html" target="element"> Sykehuspartner HF  </a> </td>
															    <td> <a href="../elements/2a14b077-c61d-4f6b-8f61-0e5aeb74db84.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/f2d34176-efac-4a4c-88f1-dd5ee758bfe0.html" target="element"> Vestre Viken HF  </a> </td>
															    <td> <a href="../elements/f2d34176-efac-4a4c-88f1-dd5ee758bfe0.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/9841b42f-4911-4252-84b6-95c902c096de.html" target="element"> Sykehuset &#216;stfold HF  </a> </td>
															    <td> <a href="../elements/9841b42f-4911-4252-84b6-95c902c096de.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/2c2e8913-4e0c-4d94-a203-255978fba462.html" target="element"> Sykehuset Innlandet HF  </a> </td>
															    <td> <a href="../elements/2c2e8913-4e0c-4d94-a203-255978fba462.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/ca4582e1-0dae-4707-8a3d-20eec4464eaa.html" target="element"> Sunnaas sykehus HF  </a> </td>
															    <td> <a href="../elements/ca4582e1-0dae-4707-8a3d-20eec4464eaa.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/de5e94e2-27f3-4407-af1c-191f1bf245b8.html" target="element"> Oslo universitetssykehus HF  </a> </td>
															    <td> <a href="../elements/de5e94e2-27f3-4407-af1c-191f1bf245b8.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/0cd96123-1540-4835-837f-118a777d24e7.html" target="element"> Sykehuset i Vestfold HF  </a> </td>
															    <td> <a href="../elements/0cd96123-1540-4835-837f-118a777d24e7.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/cd622b97-46c6-4384-ae3c-8ae5389bcc27.html" target="element"> Sykehuset Telemark HF  </a> </td>
															    <td> <a href="../elements/cd622b97-46c6-4384-ae3c-8ae5389bcc27.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/077bbd94-a157-4f32-89d0-c2ba5c910ee1.html" target="element"> Helse Nord RHF </a> </td>
													    <td> <a href="../elements/077bbd94-a157-4f32-89d0-c2ba5c910ee1.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/71404866-deac-4f44-aeda-d8c0d81a0ee5.html" target="element"> Sykehusapotek Nord HF  </a> </td>
															    <td> <a href="../elements/71404866-deac-4f44-aeda-d8c0d81a0ee5.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/4430f6bd-72cc-405c-b9f8-465fe2838a87.html" target="element"> Universitetssykehuset Nord-Norge HF  </a> </td>
															    <td> <a href="../elements/4430f6bd-72cc-405c-b9f8-465fe2838a87.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/fae56e8f-1068-42b0-99d0-64a9ce5faf38.html" target="element"> Helse Nord IKT HF&#160;  </a> </td>
															    <td> <a href="../elements/fae56e8f-1068-42b0-99d0-64a9ce5faf38.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/7c9f7e42-318d-4f29-b15c-d528b51074a7.html" target="element"> Nordlandssykehuset HF  </a> </td>
															    <td> <a href="../elements/7c9f7e42-318d-4f29-b15c-d528b51074a7.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/00bd0c1e-c1bf-4a5c-ada4-4aa505ef7c1d.html" target="element"> Helgelandssykehuset HF  </a> </td>
															    <td> <a href="../elements/00bd0c1e-c1bf-4a5c-ada4-4aa505ef7c1d.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/3f726063-8bf7-41ad-96c2-f12a16245b9c.html" target="element"> Senter for klinisk dokumentasjon og evaluering (SKDE)  </a> </td>
															    <td> <a href="../elements/3f726063-8bf7-41ad-96c2-f12a16245b9c.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/bcbaf1e7-e9a0-49a2-a9db-08599d755bda.html" target="element"> Finnmarkssykehuset HF  </a> </td>
															    <td> <a href="../elements/bcbaf1e7-e9a0-49a2-a9db-08599d755bda.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/5f8362d3-51f5-4e9e-b277-254d5a60e359.html" target="element"> Helse Vest RHF </a> </td>
													    <td> <a href="../elements/5f8362d3-51f5-4e9e-b277-254d5a60e359.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/17382d78-49e0-48b9-bf95-d3d1b5393a67.html" target="element"> Helse F&#248;rde HF  </a> </td>
															    <td> <a href="../elements/17382d78-49e0-48b9-bf95-d3d1b5393a67.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/b2c7f0a7-2d8b-46b5-8a28-e695ea42f232.html" target="element"> Helse Bergen HF  </a> </td>
															    <td> <a href="../elements/b2c7f0a7-2d8b-46b5-8a28-e695ea42f232.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/cc831a18-5f53-4a28-8fc3-d789ab5b9798.html" target="element"> Helse Vest IKT AS  </a> </td>
															    <td> <a href="../elements/cc831a18-5f53-4a28-8fc3-d789ab5b9798.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/635fece6-c15b-4a7d-a9d2-68c893fdb5a5.html" target="element"> Sjukehusapoteka Vest HF  </a> </td>
															    <td> <a href="../elements/635fece6-c15b-4a7d-a9d2-68c893fdb5a5.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/186708f9-10c4-4d66-b478-46278f99a1dc.html" target="element"> Helse Fonna HF  </a> </td>
															    <td> <a href="../elements/186708f9-10c4-4d66-b478-46278f99a1dc.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/6a5ac53a-a6b7-4411-a42f-eba22b004313.html" target="element"> Helse Stavanger HF  </a> </td>
															    <td> <a href="../elements/6a5ac53a-a6b7-4411-a42f-eba22b004313.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
															</tr>

													
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/47b7c037-d36d-49d1-98fa-310a8c2e57fb.html" target="element">  </a> </td>
																		<td> <a href="../elements/47b7c037-d36d-49d1-98fa-310a8c2e57fb.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/82186684-83d3-4543-a983-36ee1382b69a.html" target="element"> Felleseide helseforetak </a> </td>
																		<td> <a href="../elements/08ed6367-72f0-4360-a0e0-bd9daeee1c37.html" target="element"> Helseforetakenes driftsorganisasjon for&#160;n&#248;dnett HF  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6c8935dc-8511-460b-86d4-ffbec6b4e527.html" target="element">  </a> </td>
																		<td> <a href="../elements/6c8935dc-8511-460b-86d4-ffbec6b4e527.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/82186684-83d3-4543-a983-36ee1382b69a.html" target="element"> Felleseide helseforetak </a> </td>
																		<td> <a href="../elements/4cd97194-29b9-4bb9-af3e-deea5c78d5a3.html" target="element"> Sykehusbygg HF&#160;  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4d975821-4195-4b3a-99e8-455fe5610e70.html" target="element">  </a> </td>
																		<td> <a href="../elements/4d975821-4195-4b3a-99e8-455fe5610e70.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/82186684-83d3-4543-a983-36ee1382b69a.html" target="element"> Felleseide helseforetak </a> </td>
																		<td> <a href="../elements/2e5325ea-0e03-4f9c-b4c1-1bd94e117fe2.html" target="element"> Luftambulansetjenesten HF  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5549d53d-2528-4fac-a526-cef5d38cdef2.html" target="element">  </a> </td>
																		<td> <a href="../elements/5549d53d-2528-4fac-a526-cef5d38cdef2.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/82186684-83d3-4543-a983-36ee1382b69a.html" target="element"> Felleseide helseforetak </a> </td>
																		<td> <a href="../elements/47867339-20c8-44c3-abde-d7788e04e135.html" target="element"> Nasjonal IKT HF&#160;  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/047352b5-c332-46e0-9b54-3349249be52e.html" target="element">  </a> </td>
																		<td> <a href="../elements/047352b5-c332-46e0-9b54-3349249be52e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/82186684-83d3-4543-a983-36ee1382b69a.html" target="element"> Felleseide helseforetak </a> </td>
																		<td> <a href="../elements/06d398a6-1f23-4ba8-b522-f696d3636f33.html" target="element"> Pasientreiser HF  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/cdc3a261-a8de-42f9-8684-c94e039492e1.html" target="element">  </a> </td>
																		<td> <a href="../elements/cdc3a261-a8de-42f9-8684-c94e039492e1.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/82186684-83d3-4543-a983-36ee1382b69a.html" target="element"> Felleseide helseforetak </a> </td>
																		<td> <a href="../elements/f1f3c48e-1c7a-4c0d-b108-0d44d771bdfd.html" target="element"> Sykehusinnkj&#248;p HF </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/cb5e82e2-1517-4f44-83c7-f60dbecc270f.html" target="element">  </a> </td>
																		<td> <a href="../elements/cb5e82e2-1517-4f44-83c7-f60dbecc270f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/82186684-83d3-4543-a983-36ee1382b69a.html" target="element"> Felleseide helseforetak </a> </td>
																		<td> <a href="../elements/89aa7dfb-37ac-430c-9c24-0528d0b68915.html" target="element"> Regionalt eide helseforetak </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/964bd205-a4ea-41b4-9efa-d8a470a0207f.html" target="element">  </a> </td>
																		<td> <a href="../elements/964bd205-a4ea-41b4-9efa-d8a470a0207f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/89aa7dfb-37ac-430c-9c24-0528d0b68915.html" target="element"> Regionalt eide helseforetak </a> </td>
																		<td> <a href="../elements/d7e31ec4-b143-4f60-92cb-3c5d05d4b9c4.html" target="element"> Helse Midt-Norge RHF </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c34400f6-a534-4d81-9259-2dfc00f48bc0.html" target="element">  </a> </td>
																		<td> <a href="../elements/c34400f6-a534-4d81-9259-2dfc00f48bc0.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/89aa7dfb-37ac-430c-9c24-0528d0b68915.html" target="element"> Regionalt eide helseforetak </a> </td>
																		<td> <a href="../elements/b5d9551e-1037-45aa-883b-144556c98ac9.html" target="element"> Helse S&#248;r-&#216;st RHF </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/66b4fac5-833f-4445-af13-8a6225554425.html" target="element">  </a> </td>
																		<td> <a href="../elements/66b4fac5-833f-4445-af13-8a6225554425.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/89aa7dfb-37ac-430c-9c24-0528d0b68915.html" target="element"> Regionalt eide helseforetak </a> </td>
																		<td> <a href="../elements/077bbd94-a157-4f32-89d0-c2ba5c910ee1.html" target="element"> Helse Nord RHF </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/16ce536d-4024-4bb7-90e1-b1c437ef612d.html" target="element">  </a> </td>
																		<td> <a href="../elements/16ce536d-4024-4bb7-90e1-b1c437ef612d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/89aa7dfb-37ac-430c-9c24-0528d0b68915.html" target="element"> Regionalt eide helseforetak </a> </td>
																		<td> <a href="../elements/5f8362d3-51f5-4e9e-b277-254d5a60e359.html" target="element"> Helse Vest RHF </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/c9f2c7d0-176f-4efe-8087-727da9013ce7.html" target="element">  </a> </td>
																				<td> <a href="../elements/c9f2c7d0-176f-4efe-8087-727da9013ce7.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/d7e31ec4-b143-4f60-92cb-3c5d05d4b9c4.html" target="element"> Helse Midt-Norge RHF </a> </td>
																				<td> <a href="../elements/f5e6b59b-9ebf-447c-a8d4-5f76b54eee66.html" target="element"> Helse M&#248;re og Romsdal HF  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/c52ee34c-3c0a-4107-9102-464bf8d15aba.html" target="element">  </a> </td>
																				<td> <a href="../elements/c52ee34c-3c0a-4107-9102-464bf8d15aba.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/d7e31ec4-b143-4f60-92cb-3c5d05d4b9c4.html" target="element"> Helse Midt-Norge RHF </a> </td>
																				<td> <a href="../elements/1a35cd41-b0be-4d9a-ac01-fc9f0a67acf2.html" target="element"> St. Olavs Hospital HF  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/66e5a144-a3b2-4d63-8bbd-8acb996f9983.html" target="element">  </a> </td>
																				<td> <a href="../elements/66e5a144-a3b2-4d63-8bbd-8acb996f9983.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/d7e31ec4-b143-4f60-92cb-3c5d05d4b9c4.html" target="element"> Helse Midt-Norge RHF </a> </td>
																				<td> <a href="../elements/9bff10d9-5d81-4d3f-8ce7-6c198340348a.html" target="element"> Helse Nord-Tr&#248;ndelag HF  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/3624a239-6636-4523-90e7-85d911b29113.html" target="element">  </a> </td>
																				<td> <a href="../elements/3624a239-6636-4523-90e7-85d911b29113.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/d7e31ec4-b143-4f60-92cb-3c5d05d4b9c4.html" target="element"> Helse Midt-Norge RHF </a> </td>
																				<td> <a href="../elements/c5e74598-0971-4a74-ab43-5fefcd939644.html" target="element"> Sykehusapotekene i Midt-Norge HF  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/b3c73463-991d-4f56-b50c-e1901d5223d5.html" target="element">  </a> </td>
																				<td> <a href="../elements/b3c73463-991d-4f56-b50c-e1901d5223d5.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/d7e31ec4-b143-4f60-92cb-3c5d05d4b9c4.html" target="element"> Helse Midt-Norge RHF </a> </td>
																				<td> <a href="../elements/31dd86ce-f803-4e52-adfb-692211a1010a.html" target="element"> Helse Midt-Norge IT (HEMIT)&#160;  </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/c5cefe98-8541-4d7a-bdc5-27710d031177.html" target="element">  </a> </td>
																				<td> <a href="../elements/c5cefe98-8541-4d7a-bdc5-27710d031177.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/b5d9551e-1037-45aa-883b-144556c98ac9.html" target="element"> Helse S&#248;r-&#216;st RHF </a> </td>
																				<td> <a href="../elements/0779b6cd-18dc-40b5-8b34-f6adb014337d.html" target="element"> Akershus universitetssykehus HF  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/751fb4be-d566-41bb-9756-f75de6821142.html" target="element">  </a> </td>
																				<td> <a href="../elements/751fb4be-d566-41bb-9756-f75de6821142.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/b5d9551e-1037-45aa-883b-144556c98ac9.html" target="element"> Helse S&#248;r-&#216;st RHF </a> </td>
																				<td> <a href="../elements/800dc615-fe03-4d3b-a492-96619036aa7a.html" target="element"> S&#248;rlandet sykehus HF  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/89cdc0c0-55cd-4ad2-93ed-a59501cf0b7d.html" target="element">  </a> </td>
																				<td> <a href="../elements/89cdc0c0-55cd-4ad2-93ed-a59501cf0b7d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/b5d9551e-1037-45aa-883b-144556c98ac9.html" target="element"> Helse S&#248;r-&#216;st RHF </a> </td>
																				<td> <a href="../elements/225bade4-14b6-4639-8d2d-2d63dbaaf1ef.html" target="element"> Sykehusapotekene HF  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/c644169a-ff98-42fa-96c1-248e7724c483.html" target="element">  </a> </td>
																				<td> <a href="../elements/c644169a-ff98-42fa-96c1-248e7724c483.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/b5d9551e-1037-45aa-883b-144556c98ac9.html" target="element"> Helse S&#248;r-&#216;st RHF </a> </td>
																				<td> <a href="../elements/2a14b077-c61d-4f6b-8f61-0e5aeb74db84.html" target="element"> Sykehuspartner HF  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/36f1cf67-9f56-4b9a-b1c5-62fe811ddc48.html" target="element">  </a> </td>
																				<td> <a href="../elements/36f1cf67-9f56-4b9a-b1c5-62fe811ddc48.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/b5d9551e-1037-45aa-883b-144556c98ac9.html" target="element"> Helse S&#248;r-&#216;st RHF </a> </td>
																				<td> <a href="../elements/f2d34176-efac-4a4c-88f1-dd5ee758bfe0.html" target="element"> Vestre Viken HF  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/c5a66a56-5771-4f39-a299-f1e873c7bf7f.html" target="element">  </a> </td>
																				<td> <a href="../elements/c5a66a56-5771-4f39-a299-f1e873c7bf7f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/b5d9551e-1037-45aa-883b-144556c98ac9.html" target="element"> Helse S&#248;r-&#216;st RHF </a> </td>
																				<td> <a href="../elements/9841b42f-4911-4252-84b6-95c902c096de.html" target="element"> Sykehuset &#216;stfold HF  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/d3d9a019-7af4-46a1-a887-7ae960644ffc.html" target="element">  </a> </td>
																				<td> <a href="../elements/d3d9a019-7af4-46a1-a887-7ae960644ffc.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/b5d9551e-1037-45aa-883b-144556c98ac9.html" target="element"> Helse S&#248;r-&#216;st RHF </a> </td>
																				<td> <a href="../elements/2c2e8913-4e0c-4d94-a203-255978fba462.html" target="element"> Sykehuset Innlandet HF  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/40db9a44-52cc-4837-82ea-4e0d2cc9d031.html" target="element">  </a> </td>
																				<td> <a href="../elements/40db9a44-52cc-4837-82ea-4e0d2cc9d031.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/b5d9551e-1037-45aa-883b-144556c98ac9.html" target="element"> Helse S&#248;r-&#216;st RHF </a> </td>
																				<td> <a href="../elements/ca4582e1-0dae-4707-8a3d-20eec4464eaa.html" target="element"> Sunnaas sykehus HF  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/14c0a865-1bda-4be9-8163-92c7068e0d46.html" target="element">  </a> </td>
																				<td> <a href="../elements/14c0a865-1bda-4be9-8163-92c7068e0d46.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/b5d9551e-1037-45aa-883b-144556c98ac9.html" target="element"> Helse S&#248;r-&#216;st RHF </a> </td>
																				<td> <a href="../elements/de5e94e2-27f3-4407-af1c-191f1bf245b8.html" target="element"> Oslo universitetssykehus HF  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/30c62939-72f2-4abe-a850-0ae6c2e89319.html" target="element">  </a> </td>
																				<td> <a href="../elements/30c62939-72f2-4abe-a850-0ae6c2e89319.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/b5d9551e-1037-45aa-883b-144556c98ac9.html" target="element"> Helse S&#248;r-&#216;st RHF </a> </td>
																				<td> <a href="../elements/0cd96123-1540-4835-837f-118a777d24e7.html" target="element"> Sykehuset i Vestfold HF  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/80cd0eab-10c8-49e2-9b37-0f4b15844737.html" target="element">  </a> </td>
																				<td> <a href="../elements/80cd0eab-10c8-49e2-9b37-0f4b15844737.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/b5d9551e-1037-45aa-883b-144556c98ac9.html" target="element"> Helse S&#248;r-&#216;st RHF </a> </td>
																				<td> <a href="../elements/cd622b97-46c6-4384-ae3c-8ae5389bcc27.html" target="element"> Sykehuset Telemark HF  </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/81cc23d5-9156-4d9b-9cd9-448013a6b86d.html" target="element">  </a> </td>
																				<td> <a href="../elements/81cc23d5-9156-4d9b-9cd9-448013a6b86d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/077bbd94-a157-4f32-89d0-c2ba5c910ee1.html" target="element"> Helse Nord RHF </a> </td>
																				<td> <a href="../elements/71404866-deac-4f44-aeda-d8c0d81a0ee5.html" target="element"> Sykehusapotek Nord HF  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/edc9cdc0-c6c9-413f-8d26-7da849b6926c.html" target="element">  </a> </td>
																				<td> <a href="../elements/edc9cdc0-c6c9-413f-8d26-7da849b6926c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/077bbd94-a157-4f32-89d0-c2ba5c910ee1.html" target="element"> Helse Nord RHF </a> </td>
																				<td> <a href="../elements/4430f6bd-72cc-405c-b9f8-465fe2838a87.html" target="element"> Universitetssykehuset Nord-Norge HF  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/b36cdc22-0469-4821-bd3c-6bbae7e6c2ba.html" target="element">  </a> </td>
																				<td> <a href="../elements/b36cdc22-0469-4821-bd3c-6bbae7e6c2ba.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/077bbd94-a157-4f32-89d0-c2ba5c910ee1.html" target="element"> Helse Nord RHF </a> </td>
																				<td> <a href="../elements/fae56e8f-1068-42b0-99d0-64a9ce5faf38.html" target="element"> Helse Nord IKT HF&#160;  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/2273783f-ad31-4dd7-94d7-a8b6644aad2b.html" target="element">  </a> </td>
																				<td> <a href="../elements/2273783f-ad31-4dd7-94d7-a8b6644aad2b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/077bbd94-a157-4f32-89d0-c2ba5c910ee1.html" target="element"> Helse Nord RHF </a> </td>
																				<td> <a href="../elements/7c9f7e42-318d-4f29-b15c-d528b51074a7.html" target="element"> Nordlandssykehuset HF  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/23eea0c7-0d26-4ccd-b79b-a26ea83b664c.html" target="element">  </a> </td>
																				<td> <a href="../elements/23eea0c7-0d26-4ccd-b79b-a26ea83b664c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/077bbd94-a157-4f32-89d0-c2ba5c910ee1.html" target="element"> Helse Nord RHF </a> </td>
																				<td> <a href="../elements/00bd0c1e-c1bf-4a5c-ada4-4aa505ef7c1d.html" target="element"> Helgelandssykehuset HF  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/c72d69eb-4f30-4bb9-be90-699d65c18775.html" target="element">  </a> </td>
																				<td> <a href="../elements/c72d69eb-4f30-4bb9-be90-699d65c18775.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/077bbd94-a157-4f32-89d0-c2ba5c910ee1.html" target="element"> Helse Nord RHF </a> </td>
																				<td> <a href="../elements/3f726063-8bf7-41ad-96c2-f12a16245b9c.html" target="element"> Senter for klinisk dokumentasjon og evaluering (SKDE)  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/6fa82064-3087-4ac4-81fc-1db70202c83d.html" target="element">  </a> </td>
																				<td> <a href="../elements/6fa82064-3087-4ac4-81fc-1db70202c83d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/077bbd94-a157-4f32-89d0-c2ba5c910ee1.html" target="element"> Helse Nord RHF </a> </td>
																				<td> <a href="../elements/bcbaf1e7-e9a0-49a2-a9db-08599d755bda.html" target="element"> Finnmarkssykehuset HF  </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/fc43cd54-1b5c-4d78-954d-1beadb1ae8d6.html" target="element">  </a> </td>
																				<td> <a href="../elements/fc43cd54-1b5c-4d78-954d-1beadb1ae8d6.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/5f8362d3-51f5-4e9e-b277-254d5a60e359.html" target="element"> Helse Vest RHF </a> </td>
																				<td> <a href="../elements/17382d78-49e0-48b9-bf95-d3d1b5393a67.html" target="element"> Helse F&#248;rde HF  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/fa10a2ac-f7f7-4093-b8db-da9040987d1f.html" target="element">  </a> </td>
																				<td> <a href="../elements/fa10a2ac-f7f7-4093-b8db-da9040987d1f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/5f8362d3-51f5-4e9e-b277-254d5a60e359.html" target="element"> Helse Vest RHF </a> </td>
																				<td> <a href="../elements/b2c7f0a7-2d8b-46b5-8a28-e695ea42f232.html" target="element"> Helse Bergen HF  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/ddc9a08e-18a2-49d9-b35f-e6b0c452768e.html" target="element">  </a> </td>
																				<td> <a href="../elements/ddc9a08e-18a2-49d9-b35f-e6b0c452768e.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/5f8362d3-51f5-4e9e-b277-254d5a60e359.html" target="element"> Helse Vest RHF </a> </td>
																				<td> <a href="../elements/cc831a18-5f53-4a28-8fc3-d789ab5b9798.html" target="element"> Helse Vest IKT AS  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/907debd5-c33e-495c-8cd3-fc91654f2791.html" target="element">  </a> </td>
																				<td> <a href="../elements/907debd5-c33e-495c-8cd3-fc91654f2791.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/5f8362d3-51f5-4e9e-b277-254d5a60e359.html" target="element"> Helse Vest RHF </a> </td>
																				<td> <a href="../elements/635fece6-c15b-4a7d-a9d2-68c893fdb5a5.html" target="element"> Sjukehusapoteka Vest HF  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/cf726cec-6aad-46a3-a4b6-9c2f2f0ee883.html" target="element">  </a> </td>
																				<td> <a href="../elements/cf726cec-6aad-46a3-a4b6-9c2f2f0ee883.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/5f8362d3-51f5-4e9e-b277-254d5a60e359.html" target="element"> Helse Vest RHF </a> </td>
																				<td> <a href="../elements/186708f9-10c4-4d66-b478-46278f99a1dc.html" target="element"> Helse Fonna HF  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/5696d389-4527-40ec-9353-ec2d475f1bbc.html" target="element">  </a> </td>
																				<td> <a href="../elements/5696d389-4527-40ec-9353-ec2d475f1bbc.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/5f8362d3-51f5-4e9e-b277-254d5a60e359.html" target="element"> Helse Vest RHF </a> </td>
																				<td> <a href="../elements/6a5ac53a-a6b7-4411-a42f-eba22b004313.html" target="element"> Helse Stavanger HF  </a> </td>
																			</tr>

													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>