<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Domener</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Domener</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/326f6a8b-883a-4461-9e51-0b9f5b7e559b.png" alt="Domener" usemap="#326f6a8b-883a-4461-9e51-0b9f5b7e559bmap"/>
			   <map name="326f6a8b-883a-4461-9e51-0b9f5b7e559bmap">
				  				<area shape="rect" coords="670,1030,790,1085" href="../views/id-740fa32bef434dcc97e2923c9eeb3099.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="538,1030,658,1085" href="../views/1fd9a40d-ca7a-49cd-8653-d75c671aebc8.html"  target="view">
				  		    <!-- Other diagram objects -->

				          <area shape="rect" coords="526,982,1007,1122" href="../objects/32e130da-4167-495a-916a-558887e7f0fe.html" target="element" >
				  				<area shape="rect" coords="178,1030,298,1085" href="../views/id-17465a03c56c4cbfa3e01ca1f3bdf8e1.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="34,1030,154,1085" href="../views/id-1739dbd38485466e8d04750621e72e77.html"  target="view">
				  		    <!-- Other diagram objects -->

				          <area shape="rect" coords="10,982,512,1122" href="../objects/eea34efb-9bfa-4000-b3af-84e7ec09d133.html" target="element" >
				  				<area shape="rect" coords="673,850,793,905" href="../views/493e151d-2f96-4edd-8197-2784dd85c3e5.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="205,850,325,905" href="../views/7a6be0d3-4743-4ef5-a2ee-77e7f7693c14.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="361,850,481,905" href="../views/0369575a-886f-4736-985b-9de878980719.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="517,850,637,905" href="../views/4fba1343-a760-49d5-95e6-eb254fb369a4.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="49,850,169,905" href="../views/8b504994-13b9-4a1b-b111-f83edec5c2e5.html"  target="view">
				  		    <!-- Other diagram objects -->

				          <area shape="rect" coords="13,814,1007,954" href="../objects/d737eaa0-ad4c-412e-824e-69c925dfb6f5.html" target="element" >
				  				<area shape="rect" coords="517,682,637,737" href="../views/id-f34fc7882edc4f7993ab96d626ee2abd.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="49,586,169,641" href="../views/371b6f04-2b85-41e0-a018-56645af7deaa.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="517,586,637,641" href="../views/12f207bb-0eca-4c4f-b055-e113f2cb24eb.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="361,586,481,641" href="../views/ac4ca4a3-0312-4d7d-90de-8094641b8359.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="49,682,169,737" href="../views/f057fa50-536f-4300-8123-72035288060f.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="205,682,325,737" href="../views/82f8a92c-79b8-4bdc-90cc-4bd477e298c8.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="361,682,481,737" href="../views/a034d103-f8a5-4dcb-9a17-29af53eee676.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="205,586,325,641" href="../views/73a8bc5e-7762-4f79-bd75-bbdee664cfae.html"  target="view">
				  		    <!-- Other diagram objects -->

				          <area shape="rect" coords="13,538,1007,791" href="../objects/b76d5de0-6af6-4870-9829-fcbf569b9e2e.html" target="element" >
				  				<area shape="rect" coords="685,406,805,461" href="../views/id-f34fc7882edc4f7993ab96d626ee2abd.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="685,322,805,377" href="../views/526e6794-3104-4f63-afd8-dcb910d66f37.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="49,406,169,461" href="../views/6cd2835f-0da0-4c3d-9e81-06843e980af9.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="49,322,169,377" href="../views/5540d9cb-cff4-4176-be03-eb61ed9b2200.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="517,322,637,377" href="../views/4de9053a-614e-4a0a-b7ce-df183ed56cae.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="361,322,481,377" href="../views/4e62a2cc-9578-4ce4-b3f8-6d367f389e29.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="205,322,325,377" href="../views/dfd49927-c01a-4890-81be-7f9a23e39893.html"  target="view">
				  		    <!-- Other diagram objects -->

				          <area shape="rect" coords="13,286,1007,498" href="../objects/dd907461-9552-4ef6-b501-b063c803bdf6.html" target="element" >
				  				<area shape="rect" coords="673,142,793,197" href="../views/2acbe3c5-b6db-4abd-a8c2-83f3553149c2.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="361,58,481,113" href="../views/id-2e279ebeca424962911b7ff21f863047.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="517,142,637,197" href="../views/95f6d673-5745-4e27-aaa4-d4d34eb86dbf.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="361,142,481,197" href="../views/838c5af0-c2ba-45a8-94d9-c8cf4c4649d7.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="49,142,169,197" href="../views/972e53ed-71c8-420f-97f1-21ef0248685a.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="205,142,325,197" href="../views/7709ba8d-53bd-4c5e-a3a9-0e6e8e3f7b6b.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="673,58,793,113" href="../views/97bb37b6-79f0-41e6-9ec2-59f0af379323.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="205,58,325,113" href="../views/590ecc1a-dbdf-43b6-9865-9b58d0aecef1.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="517,58,637,113" href="../views/e934adbf-8828-45dd-81e6-81607450bb23.html"  target="view">
				  		    <!-- Other diagram objects -->
				  				<area shape="rect" coords="49,58,169,113" href="../views/6f9afe44-bc5e-4959-8aca-3c06e944a373.html"  target="view">
				  		    <!-- Other diagram objects -->

				          <area shape="rect" coords="13,10,1007,239" href="../objects/39a11cc5-22ab-4939-9f63-b0e1242e4449.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/39a11cc5-22ab-4939-9f63-b0e1242e4449.html" target="element"> Styring og retning </a> </td>
									           <td> <a href="../objects/39a11cc5-22ab-4939-9f63-b0e1242e4449.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../views/6f9afe44-bc5e-4959-8aca-3c06e944a373.html" target="view"> GNF </a> </td>
													    <td> <a href="../views/6f9afe44-bc5e-4959-8aca-3c06e944a373.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/e934adbf-8828-45dd-81e6-81607450bb23.html" target="view"> Informasjonssikkerhet </a> </td>
													    <td> <a href="../views/e934adbf-8828-45dd-81e6-81607450bb23.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/590ecc1a-dbdf-43b6-9865-9b58d0aecef1.html" target="view"> Beredskapsmål og metodikk </a> </td>
													    <td> <a href="../views/590ecc1a-dbdf-43b6-9865-9b58d0aecef1.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/97bb37b6-79f0-41e6-9ec2-59f0af379323.html" target="view"> DPIA </a> </td>
													    <td> <a href="../views/97bb37b6-79f0-41e6-9ec2-59f0af379323.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/7709ba8d-53bd-4c5e-a3a9-0e6e8e3f7b6b.html" target="view"> Prinsipper </a> </td>
													    <td> <a href="../views/7709ba8d-53bd-4c5e-a3a9-0e6e8e3f7b6b.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/972e53ed-71c8-420f-97f1-21ef0248685a.html" target="view"> Sikkerhet og risiko </a> </td>
													    <td> <a href="../views/972e53ed-71c8-420f-97f1-21ef0248685a.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/838c5af0-c2ba-45a8-94d9-c8cf4c4649d7.html" target="view"> Intressenter </a> </td>
													    <td> <a href="../views/838c5af0-c2ba-45a8-94d9-c8cf4c4649d7.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/95f6d673-5745-4e27-aaa4-d4d34eb86dbf.html" target="view"> Driftsmodell </a> </td>
													    <td> <a href="../views/95f6d673-5745-4e27-aaa4-d4d34eb86dbf.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/id-2e279ebeca424962911b7ff21f863047.html" target="view"> Arkitekturstyring </a> </td>
													    <td> <a href="../views/id-2e279ebeca424962911b7ff21f863047.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/2acbe3c5-b6db-4abd-a8c2-83f3553149c2.html" target="view"> Helseforetaksfamilien </a> </td>
													    <td> <a href="../views/2acbe3c5-b6db-4abd-a8c2-83f3553149c2.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

											
									        <tr>
									           <td> <a href="../objects/dd907461-9552-4ef6-b501-b063c803bdf6.html" target="element"> Strategi </a> </td>
									           <td> <a href="../objects/dd907461-9552-4ef6-b501-b063c803bdf6.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../views/dfd49927-c01a-4890-81be-7f9a23e39893.html" target="view"> Virksomhetsstrategi </a> </td>
													    <td> <a href="../views/dfd49927-c01a-4890-81be-7f9a23e39893.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/4e62a2cc-9578-4ce4-b3f8-6d367f389e29.html" target="view"> IKT-Strategi </a> </td>
													    <td> <a href="../views/4e62a2cc-9578-4ce4-b3f8-6d367f389e29.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/4de9053a-614e-4a0a-b7ce-df183ed56cae.html" target="view"> IKT-Styringsmodell </a> </td>
													    <td> <a href="../views/4de9053a-614e-4a0a-b7ce-df183ed56cae.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/5540d9cb-cff4-4176-be03-eb61ed9b2200.html" target="view"> Beredskapsorganisering </a> </td>
													    <td> <a href="../views/5540d9cb-cff4-4176-be03-eb61ed9b2200.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/6cd2835f-0da0-4c3d-9e81-06843e980af9.html" target="view"> Satstningsområde - Samhandling </a> </td>
													    <td> <a href="../views/6cd2835f-0da0-4c3d-9e81-06843e980af9.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/526e6794-3104-4f63-afd8-dcb910d66f37.html" target="view"> HR-Strategi </a> </td>
													    <td> <a href="../views/526e6794-3104-4f63-afd8-dcb910d66f37.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/id-f34fc7882edc4f7993ab96d626ee2abd.html" target="view"> EHF-katalog (tverrfunksjonell flytdiagram) </a> </td>
													    <td> <a href="../views/id-f34fc7882edc4f7993ab96d626ee2abd.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

											
									        <tr>
									           <td> <a href="../objects/b76d5de0-6af6-4870-9829-fcbf569b9e2e.html" target="element"> Forretning </a> </td>
									           <td> <a href="../objects/b76d5de0-6af6-4870-9829-fcbf569b9e2e.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../views/73a8bc5e-7762-4f79-bd75-bbdee664cfae.html" target="view"> Plattform </a> </td>
													    <td> <a href="../views/73a8bc5e-7762-4f79-bd75-bbdee664cfae.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/a034d103-f8a5-4dcb-9a17-29af53eee676.html" target="view"> Virksomhetsmodell </a> </td>
													    <td> <a href="../views/a034d103-f8a5-4dcb-9a17-29af53eee676.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/82f8a92c-79b8-4bdc-90cc-4bd477e298c8.html" target="view"> Prosess - Anskaffelse </a> </td>
													    <td> <a href="../views/82f8a92c-79b8-4bdc-90cc-4bd477e298c8.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/f057fa50-536f-4300-8123-72035288060f.html" target="view"> Dokumentproduksjon </a> </td>
													    <td> <a href="../views/f057fa50-536f-4300-8123-72035288060f.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/ac4ca4a3-0312-4d7d-90de-8094641b8359.html" target="view"> ITSM </a> </td>
													    <td> <a href="../views/ac4ca4a3-0312-4d7d-90de-8094641b8359.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/12f207bb-0eca-4c4f-b055-e113f2cb24eb.html" target="view"> Saksbehandling </a> </td>
													    <td> <a href="../views/12f207bb-0eca-4c4f-b055-e113f2cb24eb.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/371b6f04-2b85-41e0-a018-56645af7deaa.html" target="view"> IKT-Tjenestekatalog </a> </td>
													    <td> <a href="../views/371b6f04-2b85-41e0-a018-56645af7deaa.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/id-f34fc7882edc4f7993ab96d626ee2abd.html" target="view"> EHF-katalog (tverrfunksjonell flytdiagram) </a> </td>
													    <td> <a href="../views/id-f34fc7882edc4f7993ab96d626ee2abd.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

											
									        <tr>
									           <td> <a href="../objects/d737eaa0-ad4c-412e-824e-69c925dfb6f5.html" target="element"> Applikasjon </a> </td>
									           <td> <a href="../objects/d737eaa0-ad4c-412e-824e-69c925dfb6f5.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../views/8b504994-13b9-4a1b-b111-f83edec5c2e5.html" target="view"> Arkivkjerne </a> </td>
													    <td> <a href="../views/8b504994-13b9-4a1b-b111-f83edec5c2e5.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/4fba1343-a760-49d5-95e6-eb254fb369a4.html" target="view"> PS Dokumentasjon </a> </td>
													    <td> <a href="../views/4fba1343-a760-49d5-95e6-eb254fb369a4.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/0369575a-886f-4736-985b-9de878980719.html" target="view"> ISMS Dokumentasjon </a> </td>
													    <td> <a href="../views/0369575a-886f-4736-985b-9de878980719.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/7a6be0d3-4743-4ef5-a2ee-77e7f7693c14.html" target="view"> Tjenestestyring </a> </td>
													    <td> <a href="../views/7a6be0d3-4743-4ef5-a2ee-77e7f7693c14.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/493e151d-2f96-4edd-8197-2784dd85c3e5.html" target="view"> Saksbehandling </a> </td>
													    <td> <a href="../views/493e151d-2f96-4edd-8197-2784dd85c3e5.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

											
									        <tr>
									           <td> <a href="../objects/eea34efb-9bfa-4000-b3af-84e7ec09d133.html" target="element"> Teknologi </a> </td>
									           <td> <a href="../objects/eea34efb-9bfa-4000-b3af-84e7ec09d133.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../views/id-1739dbd38485466e8d04750621e72e77.html" target="view"> Standardisering - PEPPOL BIS </a> </td>
													    <td> <a href="../views/id-1739dbd38485466e8d04750621e72e77.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/id-17465a03c56c4cbfa3e01ca1f3bdf8e1.html" target="view"> Standardisering - PEPPOL BIS (K) </a> </td>
													    <td> <a href="../views/id-17465a03c56c4cbfa3e01ca1f3bdf8e1.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

											
									        <tr>
									           <td> <a href="../objects/32e130da-4167-495a-916a-558887e7f0fe.html" target="element"> Implementering og overgang </a> </td>
									           <td> <a href="../objects/32e130da-4167-495a-916a-558887e7f0fe.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

													<tr>
													    <td> <a href="../views/1fd9a40d-ca7a-49cd-8653-d75c671aebc8.html" target="view"> Veikart.Forvaltning.Dokumentasjon </a> </td>
													    <td> <a href="../views/1fd9a40d-ca7a-49cd-8653-d75c671aebc8.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

													<tr>
													    <td> <a href="../views/id-740fa32bef434dcc97e2923c9eeb3099.html" target="view"> Endringsstyring </a> </td>
													    <td> <a href="../views/id-740fa32bef434dcc97e2923c9eeb3099.html" target="view" class="i18n-viewpoint-"> </a> </td>
													</tr>
											    <!-- Other graphical objects -->

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelReference -->
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>