<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Styringsmodell</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Styringsmodell</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/42d1b9fe-8960-41ff-b2cb-678de8a9ec6d.png" alt="Styringsmodell" usemap="#42d1b9fe-8960-41ff-b2cb-678de8a9ec6dmap"/>
			   <map name="42d1b9fe-8960-41ff-b2cb-678de8a9ec6dmap">
				  		<area shape="rect" coords="154,10,274,65" href="../elements/37bfc8dc-8f0b-4b56-81be-013e56e6ed26.html"  target="element">
				  		<area shape="rect" coords="154,82,274,137" href="../elements/7e64e08e-1ca8-41a3-8e70-8e77a959c068.html"  target="element">
				  		<area shape="rect" coords="154,262,274,317" href="../elements/1739a1a6-2c3c-46fa-a32d-3249899c531f.html"  target="element">
				  		<area shape="rect" coords="154,154,274,209" href="../elements/a3401d9e-306a-4318-9d0b-46d96b293cba.html"  target="element">
				  		<area shape="rect" coords="10,466,130,521" href="../elements/4a16ed23-3358-41d0-8b70-f9d55783d702.html"  target="element">
				  		<area shape="rect" coords="10,118,130,173" href="../elements/357a5d7e-0dc6-4292-9fbd-1ec03260fcfd.html"  target="element">
				  		<area shape="rect" coords="10,262,130,317" href="../elements/6e60f464-5925-4e42-975d-c38a818028af.html"  target="element">
				  		<area shape="rect" coords="10,190,130,245" href="../elements/f92ad3cb-285c-422d-9928-3c80d6b8f9e7.html"  target="element">
				  		<area shape="rect" coords="10,46,130,101" href="../elements/5bf40e64-bdd7-4229-8739-264efb31d226.html"  target="element">
				  		<area shape="rect" coords="1294,394,1414,449" href="../elements/166be6b4-5971-40bf-a37f-3b9127ec6c1c.html"  target="element">
				  		<area shape="rect" coords="1294,478,1414,533" href="../elements/f8d83141-0fef-4a40-8854-956362475d40.html"  target="element">
				  		<area shape="rect" coords="1294,310,1414,365" href="../elements/55b78183-34fd-4b55-9979-17e7d14892bf.html"  target="element">
				  		<area shape="rect" coords="538,598,658,653" href="../elements/32dbd8d3-16ac-45f4-965f-5b023095c6d6.html"  target="element">
				  		<area shape="rect" coords="406,466,526,521" href="../elements/ca0dbeaf-45ad-438b-97a6-bc600d01c0f3.html"  target="element">
				  		<area shape="rect" coords="382,274,502,329" href="../elements/8aa847a2-d996-4c68-8223-86fff13c43c5.html"  target="element">
				  		<area shape="rect" coords="394,370,514,425" href="../elements/3a826614-dd7c-4339-9a37-6d228c60849c.html"  target="element">
				  		<area shape="rect" coords="370,178,490,233" href="../elements/eb92c6b2-00b3-4064-bce5-647e0bd1f478.html"  target="element">
				  		<area shape="rect" coords="1041,46,1161,101" href="../elements/a16a46af-9c02-4d71-9cde-5864f253b414.html"  target="element">
				  		<area shape="rect" coords="322,598,442,653" href="../elements/801036f4-e517-4ce4-ab4a-81a28c69dfa1.html"  target="element">
				  		<area shape="rect" coords="1162,682,1282,737" href="../elements/d57d7b70-d504-41a0-b418-a15ddcf92c74.html"  target="element">
				  		<area shape="rect" coords="1041,598,1161,653" href="../elements/6e9bc60b-b207-4341-855c-803f095150f7.html"  target="element">
				  		<area shape="rect" coords="922,502,1042,557" href="../elements/75ff1622-785e-4ca7-b357-90b9cade0e16.html"  target="element">
				  		<area shape="rect" coords="803,406,923,461" href="../elements/bc25495f-750b-44c0-a7ce-7f55979c35a3.html"  target="element">
				  		<area shape="rect" coords="684,310,804,365" href="../elements/ae464e66-b581-4a38-80ff-1139c7fcdb29.html"  target="element">
				  		<area shape="rect" coords="565,214,685,269" href="../elements/3335edcd-bd6d-4f84-bb58-29a060ab42fc.html"  target="element">
				  		<area shape="rect" coords="446,118,566,173" href="../elements/96589d01-75ed-41ac-9277-e11e89b905c9.html"  target="element">
				  		<area shape="rect" coords="327,46,447,101" href="../elements/4f7b04d8-f848-4593-904a-3274316be71e.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/4f7b04d8-f848-4593-904a-3274316be71e.html" target="element"> Eier </a> </td>
											    <td> <a href="../elements/4f7b04d8-f848-4593-904a-3274316be71e.html" target="element" class="i18n-elementtype-Stakeholder"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/96589d01-75ed-41ac-9277-e11e89b905c9.html" target="element"> Oppdrag </a> </td>
											    <td> <a href="../elements/96589d01-75ed-41ac-9277-e11e89b905c9.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3335edcd-bd6d-4f84-bb58-29a060ab42fc.html" target="element"> Evaluering </a> </td>
											    <td> <a href="../elements/3335edcd-bd6d-4f84-bb58-29a060ab42fc.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ae464e66-b581-4a38-80ff-1139c7fcdb29.html" target="element"> Gevinst </a> </td>
											    <td> <a href="../elements/ae464e66-b581-4a38-80ff-1139c7fcdb29.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/bc25495f-750b-44c0-a7ce-7f55979c35a3.html" target="element"> Effekt </a> </td>
											    <td> <a href="../elements/bc25495f-750b-44c0-a7ce-7f55979c35a3.html" target="element" class="i18n-elementtype-Outcome"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/75ff1622-785e-4ca7-b357-90b9cade0e16.html" target="element"> Prinsipp </a> </td>
											    <td> <a href="../elements/75ff1622-785e-4ca7-b357-90b9cade0e16.html" target="element" class="i18n-elementtype-Principle"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6e9bc60b-b207-4341-855c-803f095150f7.html" target="element"> Krav </a> </td>
											    <td> <a href="../elements/6e9bc60b-b207-4341-855c-803f095150f7.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d57d7b70-d504-41a0-b418-a15ddcf92c74.html" target="element"> Regelverk </a> </td>
											    <td> <a href="../elements/d57d7b70-d504-41a0-b418-a15ddcf92c74.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/801036f4-e517-4ce4-ab4a-81a28c69dfa1.html" target="element"> Form&#229;l </a> </td>
											    <td> <a href="../elements/801036f4-e517-4ce4-ab4a-81a28c69dfa1.html" target="element" class="i18n-elementtype-Meaning"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a16a46af-9c02-4d71-9cde-5864f253b414.html" target="element"> Verdi </a> </td>
											    <td> <a href="../elements/a16a46af-9c02-4d71-9cde-5864f253b414.html" target="element" class="i18n-elementtype-Value"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/eb92c6b2-00b3-4064-bce5-647e0bd1f478.html" target="element"> Oppdragsdokument </a> </td>
											    <td> <a href="../elements/eb92c6b2-00b3-4064-bce5-647e0bd1f478.html" target="element" class="i18n-elementtype-CourseOfAction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3a826614-dd7c-4339-9a37-6d228c60849c.html" target="element"> Virksomhets, Prosjektplan </a> </td>
											    <td> <a href="../elements/3a826614-dd7c-4339-9a37-6d228c60849c.html" target="element" class="i18n-elementtype-CourseOfAction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8aa847a2-d996-4c68-8223-86fff13c43c5.html" target="element"> Veikart, Gevinstplan </a> </td>
											    <td> <a href="../elements/8aa847a2-d996-4c68-8223-86fff13c43c5.html" target="element" class="i18n-elementtype-CourseOfAction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ca0dbeaf-45ad-438b-97a6-bc600d01c0f3.html" target="element"> Evne, Kapabilitet </a> </td>
											    <td> <a href="../elements/ca0dbeaf-45ad-438b-97a6-bc600d01c0f3.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/32dbd8d3-16ac-45f4-965f-5b023095c6d6.html" target="element"> Ressurser </a> </td>
											    <td> <a href="../elements/32dbd8d3-16ac-45f4-965f-5b023095c6d6.html" target="element" class="i18n-elementtype-Resource"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/55b78183-34fd-4b55-9979-17e7d14892bf.html" target="element"> Tiltak, Aktivitet. Leveranse </a> </td>
											    <td> <a href="../elements/55b78183-34fd-4b55-9979-17e7d14892bf.html" target="element" class="i18n-elementtype-WorkPackage"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f8d83141-0fef-4a40-8854-956362475d40.html" target="element"> Leveranse </a> </td>
											    <td> <a href="../elements/f8d83141-0fef-4a40-8854-956362475d40.html" target="element" class="i18n-elementtype-Deliverable"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/166be6b4-5971-40bf-a37f-3b9127ec6c1c.html" target="element"> Implementering </a> </td>
											    <td> <a href="../elements/166be6b4-5971-40bf-a37f-3b9127ec6c1c.html" target="element" class="i18n-elementtype-ImplementationEvent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5bf40e64-bdd7-4229-8739-264efb31d226.html" target="element"> Styre </a> </td>
											    <td> <a href="../elements/5bf40e64-bdd7-4229-8739-264efb31d226.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f92ad3cb-285c-422d-9928-3c80d6b8f9e7.html" target="element"> Divisjonsdirekt&#248;r </a> </td>
											    <td> <a href="../elements/f92ad3cb-285c-422d-9928-3c80d6b8f9e7.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6e60f464-5925-4e42-975d-c38a818028af.html" target="element"> Avdelingsleder </a> </td>
											    <td> <a href="../elements/6e60f464-5925-4e42-975d-c38a818028af.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/357a5d7e-0dc6-4292-9fbd-1ec03260fcfd.html" target="element"> Adm. Dir </a> </td>
											    <td> <a href="../elements/357a5d7e-0dc6-4292-9fbd-1ec03260fcfd.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4a16ed23-3358-41d0-8b70-f9d55783d702.html" target="element"> Avdeling </a> </td>
											    <td> <a href="../elements/4a16ed23-3358-41d0-8b70-f9d55783d702.html" target="element" class="i18n-elementtype-BusinessEvent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a3401d9e-306a-4318-9d0b-46d96b293cba.html" target="element"> Niv&#229; 2 Ledergruppe </a> </td>
											    <td> <a href="../elements/a3401d9e-306a-4318-9d0b-46d96b293cba.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1739a1a6-2c3c-46fa-a32d-3249899c531f.html" target="element"> Niv&#229; 3 Ledergruppe </a> </td>
											    <td> <a href="../elements/1739a1a6-2c3c-46fa-a32d-3249899c531f.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7e64e08e-1ca8-41a3-8e70-8e77a959c068.html" target="element"> Styrem&#248;te </a> </td>
											    <td> <a href="../elements/7e64e08e-1ca8-41a3-8e70-8e77a959c068.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/37bfc8dc-8f0b-4b56-81be-013e56e6ed26.html" target="element"> Foretaksm&#248;te </a> </td>
											    <td> <a href="../elements/37bfc8dc-8f0b-4b56-81be-013e56e6ed26.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/6b1faef4-5298-450f-8a49-719ba632befd.html" target="element">  </a> </td>
																		<td> <a href="../elements/6b1faef4-5298-450f-8a49-719ba632befd.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/3335edcd-bd6d-4f84-bb58-29a060ab42fc.html" target="element"> Evaluering </a> </td>
																		<td> <a href="../elements/96589d01-75ed-41ac-9277-e11e89b905c9.html" target="element"> Oppdrag </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3cd5a7a6-4692-4524-92e8-9e4c5cb6172a.html" target="element">  </a> </td>
																		<td> <a href="../elements/3cd5a7a6-4692-4524-92e8-9e4c5cb6172a.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/3335edcd-bd6d-4f84-bb58-29a060ab42fc.html" target="element"> Evaluering </a> </td>
																		<td> <a href="../elements/8aa847a2-d996-4c68-8223-86fff13c43c5.html" target="element"> Veikart, Gevinstplan </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/a7021706-72ec-408d-a2eb-9c177d088d3d.html" target="element">  </a> </td>
																		<td> <a href="../elements/a7021706-72ec-408d-a2eb-9c177d088d3d.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/ae464e66-b581-4a38-80ff-1139c7fcdb29.html" target="element"> Gevinst </a> </td>
																		<td> <a href="../elements/3335edcd-bd6d-4f84-bb58-29a060ab42fc.html" target="element"> Evaluering </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e6a1eceb-0e49-468d-b7a9-696ed0a5030a.html" target="element">  </a> </td>
																		<td> <a href="../elements/e6a1eceb-0e49-468d-b7a9-696ed0a5030a.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/ae464e66-b581-4a38-80ff-1139c7fcdb29.html" target="element"> Gevinst </a> </td>
																		<td> <a href="../elements/96589d01-75ed-41ac-9277-e11e89b905c9.html" target="element"> Oppdrag </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/bf55dc9e-c328-4683-9030-7b28c09c0692.html" target="element">  </a> </td>
																		<td> <a href="../elements/bf55dc9e-c328-4683-9030-7b28c09c0692.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/bc25495f-750b-44c0-a7ce-7f55979c35a3.html" target="element"> Effekt </a> </td>
																		<td> <a href="../elements/a16a46af-9c02-4d71-9cde-5864f253b414.html" target="element"> Verdi </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/af15d798-ed5f-48db-bb83-ac8797aba8fd.html" target="element">  </a> </td>
																		<td> <a href="../elements/af15d798-ed5f-48db-bb83-ac8797aba8fd.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/bc25495f-750b-44c0-a7ce-7f55979c35a3.html" target="element"> Effekt </a> </td>
																		<td> <a href="../elements/ae464e66-b581-4a38-80ff-1139c7fcdb29.html" target="element"> Gevinst </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/84bf149e-6409-409d-a015-46373ca5eb7b.html" target="element">  </a> </td>
																		<td> <a href="../elements/84bf149e-6409-409d-a015-46373ca5eb7b.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/75ff1622-785e-4ca7-b357-90b9cade0e16.html" target="element"> Prinsipp </a> </td>
																		<td> <a href="../elements/bc25495f-750b-44c0-a7ce-7f55979c35a3.html" target="element"> Effekt </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/19e59ed8-aee4-43f0-aba7-f22306f1d24b.html" target="element">  </a> </td>
																		<td> <a href="../elements/19e59ed8-aee4-43f0-aba7-f22306f1d24b.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/6e9bc60b-b207-4341-855c-803f095150f7.html" target="element"> Krav </a> </td>
																		<td> <a href="../elements/a16a46af-9c02-4d71-9cde-5864f253b414.html" target="element"> Verdi </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/180c4ae9-c600-4fd2-b23f-fde9b5aaeda8.html" target="element">  </a> </td>
																		<td> <a href="../elements/180c4ae9-c600-4fd2-b23f-fde9b5aaeda8.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/6e9bc60b-b207-4341-855c-803f095150f7.html" target="element"> Krav </a> </td>
																		<td> <a href="../elements/75ff1622-785e-4ca7-b357-90b9cade0e16.html" target="element"> Prinsipp </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/fe955397-f4eb-4a30-910a-b55f2fd451ce.html" target="element">  </a> </td>
																		<td> <a href="../elements/fe955397-f4eb-4a30-910a-b55f2fd451ce.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/6e9bc60b-b207-4341-855c-803f095150f7.html" target="element"> Krav </a> </td>
																		<td> <a href="../elements/bc25495f-750b-44c0-a7ce-7f55979c35a3.html" target="element"> Effekt </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/a15db788-cd31-49bf-a2f0-ac79070a57fe.html" target="element">  </a> </td>
																		<td> <a href="../elements/a15db788-cd31-49bf-a2f0-ac79070a57fe.html" target="element" class="i18n-elementtype-SpecializationRelationship"></a> </td>
																		<td> <a href="../elements/d57d7b70-d504-41a0-b418-a15ddcf92c74.html" target="element"> Regelverk </a> </td>
																		<td> <a href="../elements/6e9bc60b-b207-4341-855c-803f095150f7.html" target="element"> Krav </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/e3d27ff4-dbf4-4af4-9beb-d1009dd78c0c.html" target="element">  </a> </td>
																		<td> <a href="../elements/e3d27ff4-dbf4-4af4-9beb-d1009dd78c0c.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/801036f4-e517-4ce4-ab4a-81a28c69dfa1.html" target="element"> Form&#229;l </a> </td>
																		<td> <a href="../elements/6e9bc60b-b207-4341-855c-803f095150f7.html" target="element"> Krav </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/92861308-4840-4dfb-9860-9d5b1b212bc1.html" target="element">  </a> </td>
																		<td> <a href="../elements/92861308-4840-4dfb-9860-9d5b1b212bc1.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/801036f4-e517-4ce4-ab4a-81a28c69dfa1.html" target="element"> Form&#229;l </a> </td>
																		<td> <a href="../elements/bc25495f-750b-44c0-a7ce-7f55979c35a3.html" target="element"> Effekt </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ed608fff-11ca-4182-8ceb-f7003ddab924.html" target="element">  </a> </td>
																		<td> <a href="../elements/ed608fff-11ca-4182-8ceb-f7003ddab924.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/801036f4-e517-4ce4-ab4a-81a28c69dfa1.html" target="element"> Form&#229;l </a> </td>
																		<td> <a href="../elements/4f7b04d8-f848-4593-904a-3274316be71e.html" target="element"> Eier </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b2fda7ae-204a-4b8a-809c-a3bd58eab3b2.html" target="element">  </a> </td>
																		<td> <a href="../elements/b2fda7ae-204a-4b8a-809c-a3bd58eab3b2.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/801036f4-e517-4ce4-ab4a-81a28c69dfa1.html" target="element"> Form&#229;l </a> </td>
																		<td> <a href="../elements/75ff1622-785e-4ca7-b357-90b9cade0e16.html" target="element"> Prinsipp </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/811aebd5-8260-4cdc-af99-f0f48a0e4390.html" target="element">  </a> </td>
																		<td> <a href="../elements/811aebd5-8260-4cdc-af99-f0f48a0e4390.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/801036f4-e517-4ce4-ab4a-81a28c69dfa1.html" target="element"> Form&#229;l </a> </td>
																		<td> <a href="../elements/ae464e66-b581-4a38-80ff-1139c7fcdb29.html" target="element"> Gevinst </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/904b9a59-3cda-471b-b5f0-a44fa9fa5814.html" target="element">  </a> </td>
																		<td> <a href="../elements/904b9a59-3cda-471b-b5f0-a44fa9fa5814.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/801036f4-e517-4ce4-ab4a-81a28c69dfa1.html" target="element"> Form&#229;l </a> </td>
																		<td> <a href="../elements/3335edcd-bd6d-4f84-bb58-29a060ab42fc.html" target="element"> Evaluering </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/25da60b6-e8a8-4ec7-b812-1505dbbaba5c.html" target="element">  </a> </td>
																		<td> <a href="../elements/25da60b6-e8a8-4ec7-b812-1505dbbaba5c.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/801036f4-e517-4ce4-ab4a-81a28c69dfa1.html" target="element"> Form&#229;l </a> </td>
																		<td> <a href="../elements/96589d01-75ed-41ac-9277-e11e89b905c9.html" target="element"> Oppdrag </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/7a086957-caf4-4c0e-b764-4e381d957068.html" target="element">  </a> </td>
																		<td> <a href="../elements/7a086957-caf4-4c0e-b764-4e381d957068.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/a16a46af-9c02-4d71-9cde-5864f253b414.html" target="element"> Verdi </a> </td>
																		<td> <a href="../elements/75ff1622-785e-4ca7-b357-90b9cade0e16.html" target="element"> Prinsipp </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/44f75197-e1e0-4c79-98eb-b1a6e094c154.html" target="element">  </a> </td>
																		<td> <a href="../elements/44f75197-e1e0-4c79-98eb-b1a6e094c154.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/a16a46af-9c02-4d71-9cde-5864f253b414.html" target="element"> Verdi </a> </td>
																		<td> <a href="../elements/ae464e66-b581-4a38-80ff-1139c7fcdb29.html" target="element"> Gevinst </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e50ce4d3-432f-4543-9ea0-c0b037c778f4.html" target="element">  </a> </td>
																		<td> <a href="../elements/e50ce4d3-432f-4543-9ea0-c0b037c778f4.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/a16a46af-9c02-4d71-9cde-5864f253b414.html" target="element"> Verdi </a> </td>
																		<td> <a href="../elements/4f7b04d8-f848-4593-904a-3274316be71e.html" target="element"> Eier </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/04c7dae1-cca2-416a-b5f7-5a56939f18ea.html" target="element">  </a> </td>
																		<td> <a href="../elements/04c7dae1-cca2-416a-b5f7-5a56939f18ea.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/a16a46af-9c02-4d71-9cde-5864f253b414.html" target="element"> Verdi </a> </td>
																		<td> <a href="../elements/96589d01-75ed-41ac-9277-e11e89b905c9.html" target="element"> Oppdrag </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1af032d4-cf23-4704-8392-49e01eb5ed5a.html" target="element">  </a> </td>
																		<td> <a href="../elements/1af032d4-cf23-4704-8392-49e01eb5ed5a.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/a16a46af-9c02-4d71-9cde-5864f253b414.html" target="element"> Verdi </a> </td>
																		<td> <a href="../elements/3335edcd-bd6d-4f84-bb58-29a060ab42fc.html" target="element"> Evaluering </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/90cd963b-5bfb-4e0e-9827-1ccb53bd5eb7.html" target="element">  </a> </td>
																		<td> <a href="../elements/90cd963b-5bfb-4e0e-9827-1ccb53bd5eb7.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/eb92c6b2-00b3-4064-bce5-647e0bd1f478.html" target="element"> Oppdragsdokument </a> </td>
																		<td> <a href="../elements/96589d01-75ed-41ac-9277-e11e89b905c9.html" target="element"> Oppdrag </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/386b6333-f736-4158-8f36-275299759877.html" target="element">  </a> </td>
																		<td> <a href="../elements/386b6333-f736-4158-8f36-275299759877.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/3a826614-dd7c-4339-9a37-6d228c60849c.html" target="element"> Virksomhets, Prosjektplan </a> </td>
																		<td> <a href="../elements/8aa847a2-d996-4c68-8223-86fff13c43c5.html" target="element"> Veikart, Gevinstplan </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4e70ee82-c4fd-438b-a89c-a0277aebd403.html" target="element">  </a> </td>
																		<td> <a href="../elements/4e70ee82-c4fd-438b-a89c-a0277aebd403.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/3a826614-dd7c-4339-9a37-6d228c60849c.html" target="element"> Virksomhets, Prosjektplan </a> </td>
																		<td> <a href="../elements/bc25495f-750b-44c0-a7ce-7f55979c35a3.html" target="element"> Effekt </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/7092e520-9619-468c-aefa-24ed024f8b51.html" target="element">  </a> </td>
																		<td> <a href="../elements/7092e520-9619-468c-aefa-24ed024f8b51.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/8aa847a2-d996-4c68-8223-86fff13c43c5.html" target="element"> Veikart, Gevinstplan </a> </td>
																		<td> <a href="../elements/eb92c6b2-00b3-4064-bce5-647e0bd1f478.html" target="element"> Oppdragsdokument </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0178d91e-0980-47fc-87fa-8a73536d012d.html" target="element">  </a> </td>
																		<td> <a href="../elements/0178d91e-0980-47fc-87fa-8a73536d012d.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/8aa847a2-d996-4c68-8223-86fff13c43c5.html" target="element"> Veikart, Gevinstplan </a> </td>
																		<td> <a href="../elements/ae464e66-b581-4a38-80ff-1139c7fcdb29.html" target="element"> Gevinst </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/c0ae040d-f801-4f0a-afa2-3b5f54c2f479.html" target="element">  </a> </td>
																		<td> <a href="../elements/c0ae040d-f801-4f0a-afa2-3b5f54c2f479.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/ca0dbeaf-45ad-438b-97a6-bc600d01c0f3.html" target="element"> Evne, Kapabilitet </a> </td>
																		<td> <a href="../elements/4a16ed23-3358-41d0-8b70-f9d55783d702.html" target="element"> Avdeling </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/fb7e1a2a-37fd-4777-9751-3e2c5cd7b0cd.html" target="element">  </a> </td>
																		<td> <a href="../elements/fb7e1a2a-37fd-4777-9751-3e2c5cd7b0cd.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/ca0dbeaf-45ad-438b-97a6-bc600d01c0f3.html" target="element"> Evne, Kapabilitet </a> </td>
																		<td> <a href="../elements/bc25495f-750b-44c0-a7ce-7f55979c35a3.html" target="element"> Effekt </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d8bb8cd1-26d7-4fa8-93c7-00f124e7788d.html" target="element">  </a> </td>
																		<td> <a href="../elements/d8bb8cd1-26d7-4fa8-93c7-00f124e7788d.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/ca0dbeaf-45ad-438b-97a6-bc600d01c0f3.html" target="element"> Evne, Kapabilitet </a> </td>
																		<td> <a href="../elements/3a826614-dd7c-4339-9a37-6d228c60849c.html" target="element"> Virksomhets, Prosjektplan </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/eea6e1b6-81a0-4f0b-8f45-a0ae47227980.html" target="element">  </a> </td>
																		<td> <a href="../elements/eea6e1b6-81a0-4f0b-8f45-a0ae47227980.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/32dbd8d3-16ac-45f4-965f-5b023095c6d6.html" target="element"> Ressurser </a> </td>
																		<td> <a href="../elements/ca0dbeaf-45ad-438b-97a6-bc600d01c0f3.html" target="element"> Evne, Kapabilitet </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4f846c94-da5b-4c0e-9eaf-9c5777169d52.html" target="element">  </a> </td>
																		<td> <a href="../elements/4f846c94-da5b-4c0e-9eaf-9c5777169d52.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/32dbd8d3-16ac-45f4-965f-5b023095c6d6.html" target="element"> Ressurser </a> </td>
																		<td> <a href="../elements/75ff1622-785e-4ca7-b357-90b9cade0e16.html" target="element"> Prinsipp </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/917f5e2b-4e0d-4605-bf36-f164e17c7703.html" target="element">  </a> </td>
																		<td> <a href="../elements/917f5e2b-4e0d-4605-bf36-f164e17c7703.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/32dbd8d3-16ac-45f4-965f-5b023095c6d6.html" target="element"> Ressurser </a> </td>
																		<td> <a href="../elements/3a826614-dd7c-4339-9a37-6d228c60849c.html" target="element"> Virksomhets, Prosjektplan </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/018d8e23-a7f5-49db-bdf5-3c347d21fe2d.html" target="element">  </a> </td>
																		<td> <a href="../elements/018d8e23-a7f5-49db-bdf5-3c347d21fe2d.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/32dbd8d3-16ac-45f4-965f-5b023095c6d6.html" target="element"> Ressurser </a> </td>
																		<td> <a href="../elements/6e9bc60b-b207-4341-855c-803f095150f7.html" target="element"> Krav </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/1e04a965-1279-4d6b-a00a-5208cbe1118d.html" target="element">  </a> </td>
																		<td> <a href="../elements/1e04a965-1279-4d6b-a00a-5208cbe1118d.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/55b78183-34fd-4b55-9979-17e7d14892bf.html" target="element"> Tiltak, Aktivitet. Leveranse </a> </td>
																		<td> <a href="../elements/bc25495f-750b-44c0-a7ce-7f55979c35a3.html" target="element"> Effekt </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5d249292-e9c1-4931-929a-1ac37415cdde.html" target="element">  </a> </td>
																		<td> <a href="../elements/5d249292-e9c1-4931-929a-1ac37415cdde.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/55b78183-34fd-4b55-9979-17e7d14892bf.html" target="element"> Tiltak, Aktivitet. Leveranse </a> </td>
																		<td> <a href="../elements/166be6b4-5971-40bf-a37f-3b9127ec6c1c.html" target="element"> Implementering </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c9880fe3-646c-4508-8dd7-20c0497b205b.html" target="element">  </a> </td>
																		<td> <a href="../elements/c9880fe3-646c-4508-8dd7-20c0497b205b.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/55b78183-34fd-4b55-9979-17e7d14892bf.html" target="element"> Tiltak, Aktivitet. Leveranse </a> </td>
																		<td> <a href="../elements/3a826614-dd7c-4339-9a37-6d228c60849c.html" target="element"> Virksomhets, Prosjektplan </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/e22f3126-74b7-454a-bfd9-3b8f57387968.html" target="element">  </a> </td>
																		<td> <a href="../elements/e22f3126-74b7-454a-bfd9-3b8f57387968.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/f8d83141-0fef-4a40-8854-956362475d40.html" target="element"> Leveranse </a> </td>
																		<td> <a href="../elements/bc25495f-750b-44c0-a7ce-7f55979c35a3.html" target="element"> Effekt </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/4ae14908-d83f-4c23-9467-12412d621911.html" target="element">  </a> </td>
																		<td> <a href="../elements/4ae14908-d83f-4c23-9467-12412d621911.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/166be6b4-5971-40bf-a37f-3b9127ec6c1c.html" target="element"> Implementering </a> </td>
																		<td> <a href="../elements/f8d83141-0fef-4a40-8854-956362475d40.html" target="element"> Leveranse </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/64efa124-4f3b-42a6-a2e9-807b4dcfcb5f.html" target="element">  </a> </td>
																		<td> <a href="../elements/64efa124-4f3b-42a6-a2e9-807b4dcfcb5f.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/166be6b4-5971-40bf-a37f-3b9127ec6c1c.html" target="element"> Implementering </a> </td>
																		<td> <a href="../elements/bc25495f-750b-44c0-a7ce-7f55979c35a3.html" target="element"> Effekt </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/99233a93-dbbb-43da-81e2-ee1f32b5b9ad.html" target="element">  </a> </td>
																		<td> <a href="../elements/99233a93-dbbb-43da-81e2-ee1f32b5b9ad.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/5bf40e64-bdd7-4229-8739-264efb31d226.html" target="element"> Styre </a> </td>
																		<td> <a href="../elements/4f7b04d8-f848-4593-904a-3274316be71e.html" target="element"> Eier </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c6959648-d123-48c0-839c-0a331874745b.html" target="element">  </a> </td>
																		<td> <a href="../elements/c6959648-d123-48c0-839c-0a331874745b.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/5bf40e64-bdd7-4229-8739-264efb31d226.html" target="element"> Styre </a> </td>
																		<td> <a href="../elements/7e64e08e-1ca8-41a3-8e70-8e77a959c068.html" target="element"> Styrem&#248;te </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/a7faa838-4c9a-44b2-8b2d-57e7cc657d03.html" target="element">  </a> </td>
																		<td> <a href="../elements/a7faa838-4c9a-44b2-8b2d-57e7cc657d03.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/f92ad3cb-285c-422d-9928-3c80d6b8f9e7.html" target="element"> Divisjonsdirekt&#248;r </a> </td>
																		<td> <a href="../elements/357a5d7e-0dc6-4292-9fbd-1ec03260fcfd.html" target="element"> Adm. Dir </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/51dcf6f6-ecf6-4578-a6e3-0276b9f59d8e.html" target="element">  </a> </td>
																		<td> <a href="../elements/51dcf6f6-ecf6-4578-a6e3-0276b9f59d8e.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/f92ad3cb-285c-422d-9928-3c80d6b8f9e7.html" target="element"> Divisjonsdirekt&#248;r </a> </td>
																		<td> <a href="../elements/a3401d9e-306a-4318-9d0b-46d96b293cba.html" target="element"> Niv&#229; 2 Ledergruppe </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/64db2cf1-8264-4bc3-a34f-e3d347d4ec93.html" target="element">  </a> </td>
																		<td> <a href="../elements/64db2cf1-8264-4bc3-a34f-e3d347d4ec93.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/6e60f464-5925-4e42-975d-c38a818028af.html" target="element"> Avdelingsleder </a> </td>
																		<td> <a href="../elements/f92ad3cb-285c-422d-9928-3c80d6b8f9e7.html" target="element"> Divisjonsdirekt&#248;r </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/51ff98ea-3268-49c8-b198-8ce8cb218f12.html" target="element">  </a> </td>
																		<td> <a href="../elements/51ff98ea-3268-49c8-b198-8ce8cb218f12.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/6e60f464-5925-4e42-975d-c38a818028af.html" target="element"> Avdelingsleder </a> </td>
																		<td> <a href="../elements/4a16ed23-3358-41d0-8b70-f9d55783d702.html" target="element"> Avdeling </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f84314a4-5b19-42ef-a2a9-43e1a8bd7917.html" target="element">  </a> </td>
																		<td> <a href="../elements/f84314a4-5b19-42ef-a2a9-43e1a8bd7917.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/6e60f464-5925-4e42-975d-c38a818028af.html" target="element"> Avdelingsleder </a> </td>
																		<td> <a href="../elements/1739a1a6-2c3c-46fa-a32d-3249899c531f.html" target="element"> Niv&#229; 3 Ledergruppe </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/f39033a5-59d3-4364-880d-5a02576a15c3.html" target="element">  </a> </td>
																		<td> <a href="../elements/f39033a5-59d3-4364-880d-5a02576a15c3.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/357a5d7e-0dc6-4292-9fbd-1ec03260fcfd.html" target="element"> Adm. Dir </a> </td>
																		<td> <a href="../elements/5bf40e64-bdd7-4229-8739-264efb31d226.html" target="element"> Styre </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9f6a0613-0eb9-462a-88eb-396933ea7d9a.html" target="element">  </a> </td>
																		<td> <a href="../elements/9f6a0613-0eb9-462a-88eb-396933ea7d9a.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/357a5d7e-0dc6-4292-9fbd-1ec03260fcfd.html" target="element"> Adm. Dir </a> </td>
																		<td> <a href="../elements/7e64e08e-1ca8-41a3-8e70-8e77a959c068.html" target="element"> Styrem&#248;te </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/a91cf11f-dddc-427a-a425-6824c97fe988.html" target="element">  </a> </td>
																		<td> <a href="../elements/a91cf11f-dddc-427a-a425-6824c97fe988.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/a3401d9e-306a-4318-9d0b-46d96b293cba.html" target="element"> Niv&#229; 2 Ledergruppe </a> </td>
																		<td> <a href="../elements/8aa847a2-d996-4c68-8223-86fff13c43c5.html" target="element"> Veikart, Gevinstplan </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3dc077f1-a462-4fe3-901b-ec555667153d.html" target="element">  </a> </td>
																		<td> <a href="../elements/3dc077f1-a462-4fe3-901b-ec555667153d.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/a3401d9e-306a-4318-9d0b-46d96b293cba.html" target="element"> Niv&#229; 2 Ledergruppe </a> </td>
																		<td> <a href="../elements/357a5d7e-0dc6-4292-9fbd-1ec03260fcfd.html" target="element"> Adm. Dir </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/cd38adfe-ff2b-4e89-9d7b-078360e23c9f.html" target="element">  </a> </td>
																		<td> <a href="../elements/cd38adfe-ff2b-4e89-9d7b-078360e23c9f.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/1739a1a6-2c3c-46fa-a32d-3249899c531f.html" target="element"> Niv&#229; 3 Ledergruppe </a> </td>
																		<td> <a href="../elements/3a826614-dd7c-4339-9a37-6d228c60849c.html" target="element"> Virksomhets, Prosjektplan </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4ead98c0-ec04-4666-b96c-78029fd2fa98.html" target="element">  </a> </td>
																		<td> <a href="../elements/4ead98c0-ec04-4666-b96c-78029fd2fa98.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/1739a1a6-2c3c-46fa-a32d-3249899c531f.html" target="element"> Niv&#229; 3 Ledergruppe </a> </td>
																		<td> <a href="../elements/3a826614-dd7c-4339-9a37-6d228c60849c.html" target="element"> Virksomhets, Prosjektplan </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b7745573-36d2-4ce0-8338-0a872a8f7498.html" target="element">  </a> </td>
																		<td> <a href="../elements/b7745573-36d2-4ce0-8338-0a872a8f7498.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/1739a1a6-2c3c-46fa-a32d-3249899c531f.html" target="element"> Niv&#229; 3 Ledergruppe </a> </td>
																		<td> <a href="../elements/f92ad3cb-285c-422d-9928-3c80d6b8f9e7.html" target="element"> Divisjonsdirekt&#248;r </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/c830e2bb-6896-4ce1-be33-10ad30b5d607.html" target="element">  </a> </td>
																		<td> <a href="../elements/c830e2bb-6896-4ce1-be33-10ad30b5d607.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/7e64e08e-1ca8-41a3-8e70-8e77a959c068.html" target="element"> Styrem&#248;te </a> </td>
																		<td> <a href="../elements/eb92c6b2-00b3-4064-bce5-647e0bd1f478.html" target="element"> Oppdragsdokument </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/5ca9495b-9c57-446a-a8ba-1b9f03b35666.html" target="element">  </a> </td>
																		<td> <a href="../elements/5ca9495b-9c57-446a-a8ba-1b9f03b35666.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/37bfc8dc-8f0b-4b56-81be-013e56e6ed26.html" target="element"> Foretaksm&#248;te </a> </td>
																		<td> <a href="../elements/4f7b04d8-f848-4593-904a-3274316be71e.html" target="element"> Eier </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>