<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Azets Data</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Azets Data</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/43d5ded9-419d-4fb5-9b7c-6f36e5e276b8.png" alt="Azets Data" usemap="#43d5ded9-419d-4fb5-9b7c-6f36e5e276b8map"/>
			   <map name="43d5ded9-419d-4fb5-9b7c-6f36e5e276b8map">
				  				<area shape="rect" coords="34,604,131,665" href="../elements/7eedede3-0c93-4c87-ae96-2f9e66778a79.html"  target="element">
				  				<area shape="rect" coords="154,604,275,797" href="../elements/d63e7677-6750-4330-b3e3-44586a36a750.html"  target="element">

				  		<area shape="rect" coords="10,544,287,833" href="../elements/0e050b5c-6ad3-4e5a-bc04-68de1efaa065.html"  target="element">
				  						<area shape="rect" coords="562,448,779,497" href="../elements/ca22be2a-4ee2-4d3a-8448-536c455f6126.html"  target="element">
				  						<area shape="rect" coords="562,388,779,437" href="../elements/50e0cd2d-1561-4a11-8eae-e033d0174ddb.html"  target="element">
				  						<area shape="rect" coords="562,340,779,377" href="../elements/4dbe3a8d-6033-454c-bca0-29b6e461fde6.html"  target="element">

				  				<area shape="rect" coords="550,304,791,509" href="../elements/c129e169-3554-4887-beb1-6f3d556479a2.html"  target="element">
				  						<area shape="rect" coords="562,112,779,149" href="../elements/c494facd-7ec1-4580-8fc9-138596260863.html"  target="element">
				  						<area shape="rect" coords="562,220,779,269" href="../elements/bfe182eb-ac49-483a-88fe-51b778e669a2.html"  target="element">
				  						<area shape="rect" coords="562,160,779,209" href="../elements/97be88a8-b2e6-47a6-9a62-75e9ed0b7b7d.html"  target="element">

				  				<area shape="rect" coords="550,76,791,281" href="../elements/9be40330-c5dc-4a0d-a275-84443e7932b1.html"  target="element">

				  		<area shape="rect" coords="538,52,803,533" href="../elements/bc383e0f-d3cc-4659-8749-01798c60a38a.html"  target="element">
				  				<area shape="rect" coords="70,70,275,227" href="../elements/4a8f8c9b-dd65-4446-bd17-7a3b7437b6b9.html"  target="element">
				  				<area shape="rect" coords="70,274,275,491" href="../elements/9abc53d4-e0f3-4b44-93df-ed011fdf6cd0.html"  target="element">

				  		<area shape="rect" coords="10,10,287,509" href="../elements/9fb8897d-83d3-45eb-b94b-c21ae60d239e.html"  target="element">
				  						<area shape="rect" coords="1006,527,1163,720" href="../elements/c1ffe6d1-3f7b-49d1-8ac8-2cad4cddce38.html"  target="element">
				  						<area shape="rect" coords="1006,107,1163,276" href="../elements/0276a690-5bf9-4c81-bde6-4b5af23ffc25.html"  target="element">
				  						<area shape="rect" coords="1006,299,1163,492" href="../elements/fcba51f4-5865-4f42-a7ba-931c733ed168.html"  target="element">

				  				<area shape="rect" coords="994,59,1175,744" href="../elements/bddf6ff0-2475-43ca-9970-04943a0dfc62.html"  target="element">
				  								<area shape="rect" coords="1258,563,1427,618" href="../elements/606349a6-b62e-488c-91bc-3df7974fa9be.html"  target="element">
				  								<area shape="rect" coords="1258,635,1427,690" href="../elements/4dfbd10a-ed7b-4cd0-b49b-c4971632345d.html"  target="element">

				  						<area shape="rect" coords="1246,539,1439,708" href="../elements/eca8007a-7c62-42ee-9593-53225d2a21ac.html"  target="element">
				  								<area shape="rect" coords="1258,323,1427,378" href="../elements/5884dd9f-9149-4981-9d6e-a54a43813451.html"  target="element">
				  								<area shape="rect" coords="1258,395,1427,450" href="../elements/6f2786fb-8d76-410c-b566-920e3ea46858.html"  target="element">

				  						<area shape="rect" coords="1246,299,1439,468" href="../elements/dc504c88-3fe5-44ca-a2f1-43cad6e43873.html"  target="element">
				  								<area shape="rect" coords="1258,179,1427,234" href="../elements/9f8a2e2f-4cb6-4e08-a5be-c2a2110da3d6.html"  target="element">
				  								<area shape="rect" coords="1258,107,1427,162" href="../elements/95839b66-a5c2-42b6-aedb-9b23aa4f77d8.html"  target="element">

				  						<area shape="rect" coords="1246,83,1439,240" href="../elements/3228c8d8-41bd-49d6-b147-a94856ccbfe7.html"  target="element">

				  				<area shape="rect" coords="1234,59,1451,744" href="../elements/c5a43d80-abdd-42ab-a09c-de0e24c36fa9.html"  target="element">

				  		<area shape="rect" coords="982,11,1487,761" href="../elements/72a388ff-3e21-4bb8-865d-b2a76b8b8e95.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/72a388ff-3e21-4bb8-865d-b2a76b8b8e95.html" target="element"> Common Data Service </a> </td>
											    <td> <a href="../elements/72a388ff-3e21-4bb8-865d-b2a76b8b8e95.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/c5a43d80-abdd-42ab-a09c-de0e24c36fa9.html" target="element"> Solution &#216;konomi </a> </td>
													    <td> <a href="../elements/c5a43d80-abdd-42ab-a09c-de0e24c36fa9.html" target="element" class="i18n-elementtype-Artifact"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/3228c8d8-41bd-49d6-b147-a94856ccbfe7.html" target="element"> Resultattransaksjoner </a> </td>
															    <td> <a href="../elements/3228c8d8-41bd-49d6-b147-a94856ccbfe7.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/95839b66-a5c2-42b6-aedb-9b23aa4f77d8.html" target="element"> /api/data/v9.1/azets_result_transactions </a> </td>
																	    <td> <a href="../elements/95839b66-a5c2-42b6-aedb-9b23aa4f77d8.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/9f8a2e2f-4cb6-4e08-a5be-c2a2110da3d6.html" target="element"> Resultattransaksjoner </a> </td>
																	    <td> <a href="../elements/9f8a2e2f-4cb6-4e08-a5be-c2a2110da3d6.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/dc504c88-3fe5-44ca-a2f1-43cad6e43873.html" target="element"> Budsjett </a> </td>
															    <td> <a href="../elements/dc504c88-3fe5-44ca-a2f1-43cad6e43873.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/6f2786fb-8d76-410c-b566-920e3ea46858.html" target="element"> budsjett </a> </td>
																	    <td> <a href="../elements/6f2786fb-8d76-410c-b566-920e3ea46858.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/5884dd9f-9149-4981-9d6e-a54a43813451.html" target="element"> /api/data/v9.1/azets_budget </a> </td>
																	    <td> <a href="../elements/5884dd9f-9149-4981-9d6e-a54a43813451.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/eca8007a-7c62-42ee-9593-53225d2a21ac.html" target="element"> Kontoplan </a> </td>
															    <td> <a href="../elements/eca8007a-7c62-42ee-9593-53225d2a21ac.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/4dfbd10a-ed7b-4cd0-b49b-c4971632345d.html" target="element"> Kontoplan </a> </td>
																	    <td> <a href="../elements/4dfbd10a-ed7b-4cd0-b49b-c4971632345d.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/606349a6-b62e-488c-91bc-3df7974fa9be.html" target="element"> /api/data/v9.1/azets_accountplans </a> </td>
																	    <td> <a href="../elements/606349a6-b62e-488c-91bc-3df7974fa9be.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																	</tr>

															
													
													<tr>
													    <td> <a href="../elements/bddf6ff0-2475-43ca-9970-04943a0dfc62.html" target="element"> CDS Dataflows </a> </td>
													    <td> <a href="../elements/bddf6ff0-2475-43ca-9970-04943a0dfc62.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/fcba51f4-5865-4f42-a7ba-931c733ed168.html" target="element"> 16966_BudsjettTotalt (Periodisk Trigger) </a> </td>
															    <td> <a href="../elements/fcba51f4-5865-4f42-a7ba-931c733ed168.html" target="element" class="i18n-elementtype-ApplicationProcess"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/0276a690-5bf9-4c81-bde6-4b5af23ffc25.html" target="element"> 16966_Resultattransaksjoner (Periodisk Trigger) </a> </td>
															    <td> <a href="../elements/0276a690-5bf9-4c81-bde6-4b5af23ffc25.html" target="element" class="i18n-elementtype-ApplicationProcess"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/c1ffe6d1-3f7b-49d1-8ac8-2cad4cddce38.html" target="element"> Kontoplan (Perriodisk Trigger) </a> </td>
															    <td> <a href="../elements/c1ffe6d1-3f7b-49d1-8ac8-2cad4cddce38.html" target="element" class="i18n-elementtype-ApplicationProcess"> </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/9fb8897d-83d3-45eb-b94b-c21ae60d239e.html" target="element"> Azets </a> </td>
											    <td> <a href="../elements/9fb8897d-83d3-45eb-b94b-c21ae60d239e.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/9abc53d4-e0f3-4b44-93df-ed011fdf6cd0.html" target="element"> /F16966/S30001/report/16966_BudsjettTotalt/ </a> </td>
													    <td> <a href="../elements/9abc53d4-e0f3-4b44-93df-ed011fdf6cd0.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/4a8f8c9b-dd65-4446-bd17-7a3b7437b6b9.html" target="element"> /F16966/S30001/report/16966_Resultattransaksjoner/ </a> </td>
													    <td> <a href="../elements/4a8f8c9b-dd65-4446-bd17-7a3b7437b6b9.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/bc383e0f-d3cc-4659-8749-01798c60a38a.html" target="element"> Power Automate </a> </td>
											    <td> <a href="../elements/bc383e0f-d3cc-4659-8749-01798c60a38a.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/9be40330-c5dc-4a0d-a275-84443e7932b1.html" target="element"> Azets Resultattransaksjoner </a> </td>
													    <td> <a href="../elements/9be40330-c5dc-4a0d-a275-84443e7932b1.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/97be88a8-b2e6-47a6-9a62-75e9ed0b7b7d.html" target="element"> Hent Resultattransaksjoner </a> </td>
															    <td> <a href="../elements/97be88a8-b2e6-47a6-9a62-75e9ed0b7b7d.html" target="element" class="i18n-elementtype-ApplicationProcess"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/bfe182eb-ac49-483a-88fe-51b778e669a2.html" target="element"> Response </a> </td>
															    <td> <a href="../elements/bfe182eb-ac49-483a-88fe-51b778e669a2.html" target="element" class="i18n-elementtype-ApplicationProcess"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/c494facd-7ec1-4580-8fc9-138596260863.html" target="element"> HTTP Trigger </a> </td>
															    <td> <a href="../elements/c494facd-7ec1-4580-8fc9-138596260863.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/c129e169-3554-4887-beb1-6f3d556479a2.html" target="element"> Azets Budsjett </a> </td>
													    <td> <a href="../elements/c129e169-3554-4887-beb1-6f3d556479a2.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/4dbe3a8d-6033-454c-bca0-29b6e461fde6.html" target="element"> HTTP Trigger </a> </td>
															    <td> <a href="../elements/4dbe3a8d-6033-454c-bca0-29b6e461fde6.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/50e0cd2d-1561-4a11-8eae-e033d0174ddb.html" target="element"> Hent Budsjett </a> </td>
															    <td> <a href="../elements/50e0cd2d-1561-4a11-8eae-e033d0174ddb.html" target="element" class="i18n-elementtype-ApplicationProcess"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/ca22be2a-4ee2-4d3a-8448-536c455f6126.html" target="element"> Response </a> </td>
															    <td> <a href="../elements/ca22be2a-4ee2-4d3a-8448-536c455f6126.html" target="element" class="i18n-elementtype-ApplicationProcess"> </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/0e050b5c-6ad3-4e5a-bc04-68de1efaa065.html" target="element"> Virksomhetsportalen </a> </td>
											    <td> <a href="../elements/0e050b5c-6ad3-4e5a-bc04-68de1efaa065.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/d63e7677-6750-4330-b3e3-44586a36a750.html" target="element"> Rapportering &#216;konomi </a> </td>
													    <td> <a href="../elements/d63e7677-6750-4330-b3e3-44586a36a750.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/7eedede3-0c93-4c87-ae96-2f9e66778a79.html" target="element"> Kontoplan.xlsx </a> </td>
													    <td> <a href="../elements/7eedede3-0c93-4c87-ae96-2f9e66778a79.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/18a96e1b-04d3-48c2-85d1-b1a97a643c15.html" target="element">  </a> </td>
																		<td> <a href="../elements/18a96e1b-04d3-48c2-85d1-b1a97a643c15.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/72a388ff-3e21-4bb8-865d-b2a76b8b8e95.html" target="element"> Common Data Service </a> </td>
																		<td> <a href="../elements/c5a43d80-abdd-42ab-a09c-de0e24c36fa9.html" target="element"> Solution &#216;konomi </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ae567373-8fc3-482f-a46b-a9241886e60e.html" target="element">  </a> </td>
																		<td> <a href="../elements/ae567373-8fc3-482f-a46b-a9241886e60e.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/72a388ff-3e21-4bb8-865d-b2a76b8b8e95.html" target="element"> Common Data Service </a> </td>
																		<td> <a href="../elements/bddf6ff0-2475-43ca-9970-04943a0dfc62.html" target="element"> CDS Dataflows </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/0e4a01a6-c884-4e48-a6f4-6b686ddb5596.html" target="element">  </a> </td>
																				<td> <a href="../elements/0e4a01a6-c884-4e48-a6f4-6b686ddb5596.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/c5a43d80-abdd-42ab-a09c-de0e24c36fa9.html" target="element"> Solution &#216;konomi </a> </td>
																				<td> <a href="../elements/3228c8d8-41bd-49d6-b147-a94856ccbfe7.html" target="element"> Resultattransaksjoner </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/0d48ad3f-05d1-4222-b995-4f1562c10dbe.html" target="element">  </a> </td>
																				<td> <a href="../elements/0d48ad3f-05d1-4222-b995-4f1562c10dbe.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/c5a43d80-abdd-42ab-a09c-de0e24c36fa9.html" target="element"> Solution &#216;konomi </a> </td>
																				<td> <a href="../elements/dc504c88-3fe5-44ca-a2f1-43cad6e43873.html" target="element"> Budsjett </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/773115b3-1cd8-4acc-9295-3c09f61413a9.html" target="element">  </a> </td>
																				<td> <a href="../elements/773115b3-1cd8-4acc-9295-3c09f61413a9.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/c5a43d80-abdd-42ab-a09c-de0e24c36fa9.html" target="element"> Solution &#216;konomi </a> </td>
																				<td> <a href="../elements/eca8007a-7c62-42ee-9593-53225d2a21ac.html" target="element"> Kontoplan </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/c5a4a91f-4eb4-443f-a37e-6c24cbd81697.html" target="element">  </a> </td>
																						<td> <a href="../elements/c5a4a91f-4eb4-443f-a37e-6c24cbd81697.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																						<td> <a href="../elements/3228c8d8-41bd-49d6-b147-a94856ccbfe7.html" target="element"> Resultattransaksjoner </a> </td>
																						<td> <a href="../elements/9f8a2e2f-4cb6-4e08-a5be-c2a2110da3d6.html" target="element"> Resultattransaksjoner </a> </td>
																					</tr>

																							<tr>
																								<td> <a href="../elements/f26afd22-a402-478c-b446-c7ed81cffefc.html" target="element">  </a> </td>
																								<td> <a href="../elements/f26afd22-a402-478c-b446-c7ed81cffefc.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																								<td> <a href="../elements/95839b66-a5c2-42b6-aedb-9b23aa4f77d8.html" target="element"> /api/data/v9.1/azets_result_transactions </a> </td>
																								<td> <a href="../elements/3228c8d8-41bd-49d6-b147-a94856ccbfe7.html" target="element"> Resultattransaksjoner </a> </td>
																							</tr>
																							<tr>
																								<td> <a href="../elements/5da1babf-afa9-4f14-8e01-7c42b7bca374.html" target="element">  </a> </td>
																								<td> <a href="../elements/5da1babf-afa9-4f14-8e01-7c42b7bca374.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																								<td> <a href="../elements/95839b66-a5c2-42b6-aedb-9b23aa4f77d8.html" target="element"> /api/data/v9.1/azets_result_transactions </a> </td>
																								<td> <a href="../elements/9f8a2e2f-4cb6-4e08-a5be-c2a2110da3d6.html" target="element"> Resultattransaksjoner </a> </td>
																							</tr>

															
																					<tr>
																						<td> <a href="../elements/1426b885-3554-42b1-b051-6d969a6960fd.html" target="element">  </a> </td>
																						<td> <a href="../elements/1426b885-3554-42b1-b051-6d969a6960fd.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																						<td> <a href="../elements/dc504c88-3fe5-44ca-a2f1-43cad6e43873.html" target="element"> Budsjett </a> </td>
																						<td> <a href="../elements/6f2786fb-8d76-410c-b566-920e3ea46858.html" target="element"> budsjett </a> </td>
																					</tr>

																							<tr>
																								<td> <a href="../elements/98cd3e02-b20b-4f86-ae88-5fa8e317dff8.html" target="element">  </a> </td>
																								<td> <a href="../elements/98cd3e02-b20b-4f86-ae88-5fa8e317dff8.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																								<td> <a href="../elements/5884dd9f-9149-4981-9d6e-a54a43813451.html" target="element"> /api/data/v9.1/azets_budget </a> </td>
																								<td> <a href="../elements/dc504c88-3fe5-44ca-a2f1-43cad6e43873.html" target="element"> Budsjett </a> </td>
																							</tr>
																							<tr>
																								<td> <a href="../elements/412185f8-00a2-4333-aed0-f21bab355c28.html" target="element">  </a> </td>
																								<td> <a href="../elements/412185f8-00a2-4333-aed0-f21bab355c28.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																								<td> <a href="../elements/5884dd9f-9149-4981-9d6e-a54a43813451.html" target="element"> /api/data/v9.1/azets_budget </a> </td>
																								<td> <a href="../elements/6f2786fb-8d76-410c-b566-920e3ea46858.html" target="element"> budsjett </a> </td>
																							</tr>

															
																					<tr>
																						<td> <a href="../elements/c5e92966-45b4-40d1-a4ec-415254f8e20f.html" target="element">  </a> </td>
																						<td> <a href="../elements/c5e92966-45b4-40d1-a4ec-415254f8e20f.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																						<td> <a href="../elements/eca8007a-7c62-42ee-9593-53225d2a21ac.html" target="element"> Kontoplan </a> </td>
																						<td> <a href="../elements/4dfbd10a-ed7b-4cd0-b49b-c4971632345d.html" target="element"> Kontoplan </a> </td>
																					</tr>

																							<tr>
																								<td> <a href="../elements/a4a954ea-a9a9-4f1b-b95f-e888f1512c3e.html" target="element">  </a> </td>
																								<td> <a href="../elements/a4a954ea-a9a9-4f1b-b95f-e888f1512c3e.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																								<td> <a href="../elements/606349a6-b62e-488c-91bc-3df7974fa9be.html" target="element"> /api/data/v9.1/azets_accountplans </a> </td>
																								<td> <a href="../elements/4dfbd10a-ed7b-4cd0-b49b-c4971632345d.html" target="element"> Kontoplan </a> </td>
																							</tr>
																							<tr>
																								<td> <a href="../elements/2a186821-77cb-461d-8492-e3a36b2d1c46.html" target="element">  </a> </td>
																								<td> <a href="../elements/2a186821-77cb-461d-8492-e3a36b2d1c46.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																								<td> <a href="../elements/606349a6-b62e-488c-91bc-3df7974fa9be.html" target="element"> /api/data/v9.1/azets_accountplans </a> </td>
																								<td> <a href="../elements/eca8007a-7c62-42ee-9593-53225d2a21ac.html" target="element"> Kontoplan </a> </td>
																							</tr>

															
													
																					<tr>
																						<td> <a href="../elements/8e98c396-935f-480e-8ac4-5a1bf81e0016.html" target="element">  </a> </td>
																						<td> <a href="../elements/8e98c396-935f-480e-8ac4-5a1bf81e0016.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/fcba51f4-5865-4f42-a7ba-931c733ed168.html" target="element"> 16966_BudsjettTotalt (Periodisk Trigger) </a> </td>
																						<td> <a href="../elements/bddf6ff0-2475-43ca-9970-04943a0dfc62.html" target="element"> CDS Dataflows </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/9acfc153-01ca-4cfd-bbd3-4fe3b03b57dc.html" target="element"> Request Budsjett </a> </td>
																						<td> <a href="../elements/9acfc153-01ca-4cfd-bbd3-4fe3b03b57dc.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																						<td> <a href="../elements/fcba51f4-5865-4f42-a7ba-931c733ed168.html" target="element"> 16966_BudsjettTotalt (Periodisk Trigger) </a> </td>
																						<td> <a href="../elements/4dbe3a8d-6033-454c-bca0-29b6e461fde6.html" target="element"> HTTP Trigger </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/a2cdfa82-2586-4f04-b3e4-23ab8381c1cf.html" target="element"> Update </a> </td>
																						<td> <a href="../elements/a2cdfa82-2586-4f04-b3e4-23ab8381c1cf.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																						<td> <a href="../elements/fcba51f4-5865-4f42-a7ba-931c733ed168.html" target="element"> 16966_BudsjettTotalt (Periodisk Trigger) </a> </td>
																						<td> <a href="../elements/5884dd9f-9149-4981-9d6e-a54a43813451.html" target="element"> /api/data/v9.1/azets_budget </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/ff1fcbb5-aed2-4432-8dc7-d6d3f90e6217.html" target="element">  </a> </td>
																						<td> <a href="../elements/ff1fcbb5-aed2-4432-8dc7-d6d3f90e6217.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/0276a690-5bf9-4c81-bde6-4b5af23ffc25.html" target="element"> 16966_Resultattransaksjoner (Periodisk Trigger) </a> </td>
																						<td> <a href="../elements/bddf6ff0-2475-43ca-9970-04943a0dfc62.html" target="element"> CDS Dataflows </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/73d70f43-53fe-4c00-8b69-48ec19f9eebc.html" target="element"> Request Resultattransaksjoner </a> </td>
																						<td> <a href="../elements/73d70f43-53fe-4c00-8b69-48ec19f9eebc.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																						<td> <a href="../elements/0276a690-5bf9-4c81-bde6-4b5af23ffc25.html" target="element"> 16966_Resultattransaksjoner (Periodisk Trigger) </a> </td>
																						<td> <a href="../elements/c494facd-7ec1-4580-8fc9-138596260863.html" target="element"> HTTP Trigger </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/ce468d5f-bb5d-45fb-a0e8-a33bd74d5bf0.html" target="element"> Update </a> </td>
																						<td> <a href="../elements/ce468d5f-bb5d-45fb-a0e8-a33bd74d5bf0.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																						<td> <a href="../elements/0276a690-5bf9-4c81-bde6-4b5af23ffc25.html" target="element"> 16966_Resultattransaksjoner (Periodisk Trigger) </a> </td>
																						<td> <a href="../elements/95839b66-a5c2-42b6-aedb-9b23aa4f77d8.html" target="element"> /api/data/v9.1/azets_result_transactions </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/6056ebe2-003e-4361-8aa7-903bcefd43cf.html" target="element">  </a> </td>
																						<td> <a href="../elements/6056ebe2-003e-4361-8aa7-903bcefd43cf.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/c1ffe6d1-3f7b-49d1-8ac8-2cad4cddce38.html" target="element"> Kontoplan (Perriodisk Trigger) </a> </td>
																						<td> <a href="../elements/bddf6ff0-2475-43ca-9970-04943a0dfc62.html" target="element"> CDS Dataflows </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/749251fa-6989-4e05-960a-f2fd1c814f21.html" target="element"> Request Kontoplaner </a> </td>
																						<td> <a href="../elements/749251fa-6989-4e05-960a-f2fd1c814f21.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																						<td> <a href="../elements/c1ffe6d1-3f7b-49d1-8ac8-2cad4cddce38.html" target="element"> Kontoplan (Perriodisk Trigger) </a> </td>
																						<td> <a href="../elements/d63e7677-6750-4330-b3e3-44586a36a750.html" target="element"> Rapportering &#216;konomi </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/3796ab34-06ed-4ce6-9781-b12938491369.html" target="element"> Update </a> </td>
																						<td> <a href="../elements/3796ab34-06ed-4ce6-9781-b12938491369.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																						<td> <a href="../elements/c1ffe6d1-3f7b-49d1-8ac8-2cad4cddce38.html" target="element"> Kontoplan (Perriodisk Trigger) </a> </td>
																						<td> <a href="../elements/606349a6-b62e-488c-91bc-3df7974fa9be.html" target="element"> /api/data/v9.1/azets_accountplans </a> </td>
																					</tr>

													
											
																	<tr>
																		<td> <a href="../elements/34239dab-0984-4f7e-ba6f-e809086970b0.html" target="element">  </a> </td>
																		<td> <a href="../elements/34239dab-0984-4f7e-ba6f-e809086970b0.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/9fb8897d-83d3-45eb-b94b-c21ae60d239e.html" target="element"> Azets </a> </td>
																		<td> <a href="../elements/4a8f8c9b-dd65-4446-bd17-7a3b7437b6b9.html" target="element"> /F16966/S30001/report/16966_Resultattransaksjoner/ </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/119966e4-8276-43a4-b067-6f537dcd1b30.html" target="element">  </a> </td>
																		<td> <a href="../elements/119966e4-8276-43a4-b067-6f537dcd1b30.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/9fb8897d-83d3-45eb-b94b-c21ae60d239e.html" target="element"> Azets </a> </td>
																		<td> <a href="../elements/9abc53d4-e0f3-4b44-93df-ed011fdf6cd0.html" target="element"> /F16966/S30001/report/16966_BudsjettTotalt/ </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/1180c574-5ecd-450c-bc55-44a6de5ec8fd.html" target="element">  </a> </td>
																				<td> <a href="../elements/1180c574-5ecd-450c-bc55-44a6de5ec8fd.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/9abc53d4-e0f3-4b44-93df-ed011fdf6cd0.html" target="element"> /F16966/S30001/report/16966_BudsjettTotalt/ </a> </td>
																				<td> <a href="../elements/ca22be2a-4ee2-4d3a-8448-536c455f6126.html" target="element"> Response </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/d460fa2a-1c89-4fe6-8ca0-6873ebbfe60c.html" target="element">  </a> </td>
																				<td> <a href="../elements/d460fa2a-1c89-4fe6-8ca0-6873ebbfe60c.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/4a8f8c9b-dd65-4446-bd17-7a3b7437b6b9.html" target="element"> /F16966/S30001/report/16966_Resultattransaksjoner/ </a> </td>
																				<td> <a href="../elements/bfe182eb-ac49-483a-88fe-51b778e669a2.html" target="element"> Response </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/11b3a1d9-99cc-4711-96a0-33bd39519fc8.html" target="element">  </a> </td>
																		<td> <a href="../elements/11b3a1d9-99cc-4711-96a0-33bd39519fc8.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/bc383e0f-d3cc-4659-8749-01798c60a38a.html" target="element"> Power Automate </a> </td>
																		<td> <a href="../elements/9be40330-c5dc-4a0d-a275-84443e7932b1.html" target="element"> Azets Resultattransaksjoner </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f633400a-1244-4734-ad23-30a3ce2427c4.html" target="element">  </a> </td>
																		<td> <a href="../elements/f633400a-1244-4734-ad23-30a3ce2427c4.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/bc383e0f-d3cc-4659-8749-01798c60a38a.html" target="element"> Power Automate </a> </td>
																		<td> <a href="../elements/c129e169-3554-4887-beb1-6f3d556479a2.html" target="element"> Azets Budsjett </a> </td>
																	</tr>

																					<tr>
																						<td> <a href="../elements/341c38dc-aecb-4b38-b461-a4aa6f27999c.html" target="element">  </a> </td>
																						<td> <a href="../elements/341c38dc-aecb-4b38-b461-a4aa6f27999c.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/97be88a8-b2e6-47a6-9a62-75e9ed0b7b7d.html" target="element"> Hent Resultattransaksjoner </a> </td>
																						<td> <a href="../elements/9be40330-c5dc-4a0d-a275-84443e7932b1.html" target="element"> Azets Resultattransaksjoner </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/3c2c44c6-bdfe-477b-8757-db15c4cfbafc.html" target="element"> Request Resultattransaksjoner fra siste 5 dager </a> </td>
																						<td> <a href="../elements/3c2c44c6-bdfe-477b-8757-db15c4cfbafc.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																						<td> <a href="../elements/97be88a8-b2e6-47a6-9a62-75e9ed0b7b7d.html" target="element"> Hent Resultattransaksjoner </a> </td>
																						<td> <a href="../elements/4a8f8c9b-dd65-4446-bd17-7a3b7437b6b9.html" target="element"> /F16966/S30001/report/16966_Resultattransaksjoner/ </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/ea52b1a9-2ccf-4541-b85d-c9e9bbf42e48.html" target="element">  </a> </td>
																						<td> <a href="../elements/ea52b1a9-2ccf-4541-b85d-c9e9bbf42e48.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/bfe182eb-ac49-483a-88fe-51b778e669a2.html" target="element"> Response </a> </td>
																						<td> <a href="../elements/9be40330-c5dc-4a0d-a275-84443e7932b1.html" target="element"> Azets Resultattransaksjoner </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/e0e8d7d8-fff1-4af7-8f90-b415824eb711.html" target="element">  </a> </td>
																						<td> <a href="../elements/e0e8d7d8-fff1-4af7-8f90-b415824eb711.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																						<td> <a href="../elements/bfe182eb-ac49-483a-88fe-51b778e669a2.html" target="element"> Response </a> </td>
																						<td> <a href="../elements/0276a690-5bf9-4c81-bde6-4b5af23ffc25.html" target="element"> 16966_Resultattransaksjoner (Periodisk Trigger) </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/34e44588-4569-40e9-b70b-6819c22556f2.html" target="element">  </a> </td>
																						<td> <a href="../elements/34e44588-4569-40e9-b70b-6819c22556f2.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																						<td> <a href="../elements/c494facd-7ec1-4580-8fc9-138596260863.html" target="element"> HTTP Trigger </a> </td>
																						<td> <a href="../elements/9be40330-c5dc-4a0d-a275-84443e7932b1.html" target="element"> Azets Resultattransaksjoner </a> </td>
																					</tr>

													
																					<tr>
																						<td> <a href="../elements/06946e8c-b99e-42df-b613-36775fe4a413.html" target="element">  </a> </td>
																						<td> <a href="../elements/06946e8c-b99e-42df-b613-36775fe4a413.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																						<td> <a href="../elements/4dbe3a8d-6033-454c-bca0-29b6e461fde6.html" target="element"> HTTP Trigger </a> </td>
																						<td> <a href="../elements/c129e169-3554-4887-beb1-6f3d556479a2.html" target="element"> Azets Budsjett </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/e7c03964-9bdd-4a4a-8805-dc6292c2e441.html" target="element">  </a> </td>
																						<td> <a href="../elements/e7c03964-9bdd-4a4a-8805-dc6292c2e441.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/50e0cd2d-1561-4a11-8eae-e033d0174ddb.html" target="element"> Hent Budsjett </a> </td>
																						<td> <a href="../elements/c129e169-3554-4887-beb1-6f3d556479a2.html" target="element"> Azets Budsjett </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/878c492c-70a6-4d5c-a004-3490746fb4a2.html" target="element"> Request BudsjettTotalt for 2020 </a> </td>
																						<td> <a href="../elements/878c492c-70a6-4d5c-a004-3490746fb4a2.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																						<td> <a href="../elements/50e0cd2d-1561-4a11-8eae-e033d0174ddb.html" target="element"> Hent Budsjett </a> </td>
																						<td> <a href="../elements/9abc53d4-e0f3-4b44-93df-ed011fdf6cd0.html" target="element"> /F16966/S30001/report/16966_BudsjettTotalt/ </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/a5f2f12d-b025-4d3b-975d-2dbc1093bd50.html" target="element">  </a> </td>
																						<td> <a href="../elements/a5f2f12d-b025-4d3b-975d-2dbc1093bd50.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/ca22be2a-4ee2-4d3a-8448-536c455f6126.html" target="element"> Response </a> </td>
																						<td> <a href="../elements/c129e169-3554-4887-beb1-6f3d556479a2.html" target="element"> Azets Budsjett </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/b5674bab-bc8c-4aad-b85f-2ebf4ccd9ded.html" target="element">  </a> </td>
																						<td> <a href="../elements/b5674bab-bc8c-4aad-b85f-2ebf4ccd9ded.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																						<td> <a href="../elements/ca22be2a-4ee2-4d3a-8448-536c455f6126.html" target="element"> Response </a> </td>
																						<td> <a href="../elements/fcba51f4-5865-4f42-a7ba-931c733ed168.html" target="element"> 16966_BudsjettTotalt (Periodisk Trigger) </a> </td>
																					</tr>

													
											
																	<tr>
																		<td> <a href="../elements/beca7985-ea14-43f4-a8ba-de64f0c41e33.html" target="element">  </a> </td>
																		<td> <a href="../elements/beca7985-ea14-43f4-a8ba-de64f0c41e33.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/0e050b5c-6ad3-4e5a-bc04-68de1efaa065.html" target="element"> Virksomhetsportalen </a> </td>
																		<td> <a href="../elements/d63e7677-6750-4330-b3e3-44586a36a750.html" target="element"> Rapportering &#216;konomi </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/88700952-f8b4-4e01-b1bd-154731807fa4.html" target="element">  </a> </td>
																		<td> <a href="../elements/88700952-f8b4-4e01-b1bd-154731807fa4.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/0e050b5c-6ad3-4e5a-bc04-68de1efaa065.html" target="element"> Virksomhetsportalen </a> </td>
																		<td> <a href="../elements/7eedede3-0c93-4c87-ae96-2f9e66778a79.html" target="element"> Kontoplan.xlsx </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/513eec6a-034a-4dc4-9517-6a7298c6990e.html" target="element">  </a> </td>
																				<td> <a href="../elements/513eec6a-034a-4dc4-9517-6a7298c6990e.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/d63e7677-6750-4330-b3e3-44586a36a750.html" target="element"> Rapportering &#216;konomi </a> </td>
																				<td> <a href="../elements/c1ffe6d1-3f7b-49d1-8ac8-2cad4cddce38.html" target="element"> Kontoplan (Perriodisk Trigger) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/3cc31117-3a84-4c95-9c85-d132304b016f.html" target="element">  </a> </td>
																				<td> <a href="../elements/3cc31117-3a84-4c95-9c85-d132304b016f.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/d63e7677-6750-4330-b3e3-44586a36a750.html" target="element"> Rapportering &#216;konomi </a> </td>
																				<td> <a href="../elements/7eedede3-0c93-4c87-ae96-2f9e66778a79.html" target="element"> Kontoplan.xlsx </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>