<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Planlegge anskaffelse</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Planlegge anskaffelse</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/491c540c-9f11-4fd6-9447-81a1e5c7482f.png" alt="Planlegge anskaffelse" usemap="#491c540c-9f11-4fd6-9447-81a1e5c7482fmap">
			<map name="491c540c-9f11-4fd6-9447-81a1e5c7482fmap">
								<area shape="rect" coords="25,70,145,125" href="../elements/a9fca6c2-5c9b-43a4-93c4-a1eef1b2d028.html"  target="element">
								<area shape="rect" coords="25,178,145,233" href="../elements/d912bf05-78e8-485e-baa8-2028c5dacfe4.html"  target="element">
								<area shape="rect" coords="25,250,145,305" href="../elements/255f945d-2e7f-4baa-80ae-493297a69462.html"  target="element">

						<area shape="rect" coords="25,10,145,359" href="../elements/b5bd9d54-2833-491f-b0a1-8ea63464c99e.html"  target="element">
								<area shape="rect" coords="229,58,349,113" href="../elements/4cfee827-c42a-42e8-9330-874210aea238.html"  target="element">
								<area shape="rect" coords="397,58,517,113" href="../elements/39f3aa6b-ca6a-4a5f-bb60-b5a0a592f4dc.html"  target="element">
								<area shape="rect" coords="229,142,349,197" href="../elements/ed770c62-94a3-4647-8082-a1c4f1f5bebd.html"  target="element">
								<area shape="rect" coords="397,142,517,197" href="../elements/188f3abd-b39f-4187-8ffc-816d90e6eeba.html"  target="element">
								<area shape="rect" coords="301,226,421,281" href="../elements/1afc11ad-df9a-428d-b8f9-6ec3f47ce653.html"  target="element">
								<area shape="rect" coords="301,334,421,389" href="../elements/0ca7c4bf-c0f9-4b32-be0f-11188553b443.html"  target="element">
								<area shape="rect" coords="301,466,421,521" href="../elements/82c01262-5eaa-4ed3-bf2b-56a8b46358c7.html"  target="element">
								<area shape="rect" coords="229,562,349,617" href="../elements/33006d23-27d0-4d1f-a0fe-da9467e1d50f.html"  target="element">
								<area shape="rect" coords="385,562,505,617" href="../elements/fdb9b1b1-78e9-4795-aff6-6ff523af0c2b.html"  target="element">
								<area shape="rect" coords="313,646,433,701" href="../elements/22424593-dc21-4abe-a9f3-573c888c9e12.html"  target="element">
								<area shape="rect" coords="313,730,433,785" href="../elements/632af209-5d17-430a-80bc-e095b9df0df3.html"  target="element">
								<area shape="rect" coords="229,850,349,905" href="../elements/b8913211-5401-473f-bbd9-212bec71071d.html"  target="element">
								<area shape="rect" coords="385,850,505,905" href="../elements/b8a307f1-c03c-45d9-a9bb-0595c662b69f.html"  target="element">

						<area shape="rect" coords="217,10,530,959" href="../elements/ec5022f4-85a2-458d-b68d-42d784f08693.html"  target="element">
								<area shape="rect" coords="601,478,721,533" href="../elements/62e06df1-344c-443b-8082-aa7847412fdd.html"  target="element">
								<area shape="rect" coords="601,550,721,605" href="../elements/2da4cefb-47ed-4c8f-89e4-f502ea2e4bf7.html"  target="element">

						<area shape="rect" coords="601,406,721,647" href="../elements/1882d038-5d0f-44ad-879d-9de495d89975.html"  target="element">
								<area shape="rect" coords="25,490,145,545" href="../elements/eaca3ac6-fa5d-4520-9c09-e0fa09df29d1.html"  target="element">
								<area shape="rect" coords="25,586,145,641" href="../elements/645fd43e-2bf5-4ca2-a6a8-abb23fe2547f.html"  target="element">
								<area shape="rect" coords="25,658,145,713" href="../elements/d59ea3cc-04f3-466b-9d0f-71e322d59a44.html"  target="element">
								<area shape="rect" coords="25,730,145,785" href="../elements/ad36a6fd-0191-4d8f-973a-91783d01fe04.html"  target="element">
								<area shape="rect" coords="25,802,145,857" href="../elements/60876c1b-c6bf-4005-bc24-4ec5fe2a3996.html"  target="element">

						<area shape="rect" coords="25,430,145,959" href="../elements/d7228d57-6e73-4a85-b885-f3e12536b88e.html"  target="element">
								<area shape="rect" coords="601,58,721,113" href="../elements/caa9dc7f-fd0f-430c-a807-5196c3ddd461.html"  target="element">
								<area shape="rect" coords="601,130,721,185" href="../elements/6e83f5b7-b600-43d1-bdb3-31bc34531f06.html"  target="element">
								<area shape="rect" coords="601,214,721,269" href="../elements/9430d938-e5d0-46c8-9b35-b189a63dab38.html"  target="element">
								<area shape="rect" coords="601,286,721,341" href="../elements/943e6dec-f643-48fe-8baf-368fa08763da.html"  target="element">

						<area shape="rect" coords="601,10,721,359" href="../elements/9c423f53-29f1-4a34-acc6-32b0a5fdf98f.html"  target="element">
								<area shape="rect" coords="793,226,913,281" href="../elements/2004ae27-249c-420b-92dc-104fce6df7f3.html"  target="element">
								<area shape="rect" coords="793,298,913,353" href="../elements/6a56efc6-115e-47c3-82bf-696a4e8cd036.html"  target="element">
								<area shape="rect" coords="793,370,913,425" href="../elements/5b47ada8-ee86-4e0b-bb1f-aaf48d65f1b2.html"  target="element">
								<area shape="rect" coords="793,442,913,497" href="../elements/78c63073-c73d-44f8-b219-afbdd9224b66.html"  target="element">
								<area shape="rect" coords="793,514,913,569" href="../elements/d75ba6f5-a42e-4afb-9ea1-441482a5b931.html"  target="element">

						<area shape="rect" coords="793,166,913,594" href="../elements/4b7bd556-aefd-4405-a230-43f5f34c22a5.html"  target="element">
								<area shape="rect" coords="961,310,1081,365" href="../elements/991b661a-641c-4521-8762-e9596d51de9c.html"  target="element">
								<area shape="rect" coords="961,382,1081,437" href="../elements/1b502aff-54a6-43b1-a0ee-ba260b0f5b91.html"  target="element">
								<area shape="rect" coords="961,454,1081,509" href="../elements/15f96ea3-750e-4029-a18e-f289ccfc9e0c.html"  target="element">
								<area shape="rect" coords="961,526,1081,581" href="../elements/ab57f8c2-61d6-48e8-8f38-d255aaf673e9.html"  target="element">
								<area shape="rect" coords="961,598,1081,653" href="../elements/3c46731e-5a90-4ef7-a8ae-04223d020512.html"  target="element">

						<area shape="rect" coords="961,250,1081,671" href="../elements/717ff02d-26cf-4442-954c-bc5fe7b32bb0.html"  target="element">
								<area shape="rect" coords="961,70,1081,125" href="../elements/22344a2e-5551-4ca8-8197-6e80dc2d7ce1.html"  target="element">
								<area shape="rect" coords="961,142,1081,197" href="../elements/bed66350-dd08-4b08-bf7c-617024ed64a7.html"  target="element">

						<area shape="rect" coords="961,10,1081,226" href="../elements/0065552a-aaac-40fe-a892-d4c431791851.html"  target="element">
								<area shape="rect" coords="793,658,913,713" href="../elements/63176a79-e82c-4a57-bf2b-c7c673c98bf2.html"  target="element">

						<area shape="rect" coords="793,610,913,764" href="../elements/034fcc25-dc72-418f-9de9-208895e70589.html"  target="element">
								<area shape="rect" coords="793,70,913,125" href="../elements/85936d8a-8720-4b7e-b5eb-748516f811b8.html"  target="element">

						<area shape="rect" coords="793,10,913,148" href="../elements/db1e245d-c820-4b08-9c4d-1c1be9f206ff.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
					<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="elements">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
								</tr>
							</thead>
							<tbody>
										<tr><td> <a href="../elements/b5bd9d54-2833-491f-b0a1-8ea63464c99e.html" target="element"> Kategoriansvarlig </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
												<tr><td> <a href="../elements/a9fca6c2-5c9b-43a4-93c4-a1eef1b2d028.html" target="element"> 1 Fordel anskaffelsen </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/d912bf05-78e8-485e-baa8-2028c5dacfe4.html" target="element"> 10b. Gi innspill til tiltak </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/255f945d-2e7f-4baa-80ae-493297a69462.html" target="element"> 16b. Gi innspill til plan </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
										
										<tr><td> <a href="../elements/ec5022f4-85a2-458d-b68d-42d784f08693.html" target="element"> Leder - Anskaffelse </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
												<tr><td> <a href="../elements/4cfee827-c42a-42e8-9330-874210aea238.html" target="element"> 2a. Avklar omfang og deltakelse </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/39f3aa6b-ca6a-4a5f-bb60-b5a0a592f4dc.html" target="element"> 3a. Forbered og klargj&#248;r underlag til oppstartsm&#248;te </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/ed770c62-94a3-4647-8082-a1c4f1f5bebd.html" target="element"> 4a. Gjennomf&#248;r oppstartsm&#248;te </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/188f3abd-b39f-4187-8ffc-816d90e6eeba.html" target="element"> 5a. Gjennomf&#248;r markedsdialog </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/1afc11ad-df9a-428d-b8f9-6ec3f47ce653.html" target="element"> 6a. Oppdater risikovurdering for anskaffelsen </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/0ca7c4bf-c0f9-4b32-be0f-11188553b443.html" target="element"> 7. Risiko oppjustert </a> </td><td class="i18n-elementtype-BusinessEvent"></td></tr>
												<tr><td> <a href="../elements/82c01262-5eaa-4ed3-bf2b-56a8b46358c7.html" target="element"> 10a. Gjennomf&#248;r eventuelle risikoreduserende tiltak </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/33006d23-27d0-4d1f-a0fe-da9467e1d50f.html" target="element"> 11a. Fastsett estimert verdiomfang og konkurranseform </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/fdb9b1b1-78e9-4795-aff6-6ff523af0c2b.html" target="element"> 12. Ferdigstill utkast p&#229; plan for anskaffelsen </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/22424593-dc21-4abe-a9f3-573c888c9e12.html" target="element"> 13. Godkjenn plan </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/632af209-5d17-430a-80bc-e095b9df0df3.html" target="element"> 14. Implementer eventuelle endringer </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/b8913211-5401-473f-bbd9-212bec71071d.html" target="element"> 16a. Ferdigstill endelig plan med eventuelle endringer </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/b8a307f1-c03c-45d9-a9bb-0595c662b69f.html" target="element"> 15. Godkjenn plan </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
										
										<tr><td> <a href="../elements/1882d038-5d0f-44ad-879d-9de495d89975.html" target="element"> Leder - Anskaffelsestyret  </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
												<tr><td> <a href="../elements/62e06df1-344c-443b-8082-aa7847412fdd.html" target="element"> 9. Bidra med erfaring og innspill </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/2da4cefb-47ed-4c8f-89e4-f502ea2e4bf7.html" target="element"> 10c. Gi innspill til tiltak </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
										
										<tr><td> <a href="../elements/d7228d57-6e73-4a85-b885-f3e12536b88e.html" target="element"> Behovseier </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
												<tr><td> <a href="../elements/eaca3ac6-fa5d-4520-9c09-e0fa09df29d1.html" target="element"> 8. Bidra med erfaring og innspill </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/645fd43e-2bf5-4ca2-a6a8-abb23fe2547f.html" target="element"> 2b. Bidra i vurderingene </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/d59ea3cc-04f3-466b-9d0f-71e322d59a44.html" target="element"> 2c. Gi innspill til omfang og deltakere </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/ad36a6fd-0191-4d8f-973a-91783d01fe04.html" target="element"> 6d. Avklar risiko </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/60876c1b-c6bf-4005-bc24-4ec5fe2a3996.html" target="element"> 10d. Gi innspill til tiltak </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
										
										<tr><td> <a href="../elements/9c423f53-29f1-4a34-acc6-32b0a5fdf98f.html" target="element"> Avtaleforvalter </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
												<tr><td> <a href="../elements/caa9dc7f-fd0f-430c-a807-5196c3ddd461.html" target="element"> 3b. Innhent avtalehistorikk </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/6e83f5b7-b600-43d1-bdb3-31bc34531f06.html" target="element"> 4b. Delta i oppstartsm&#248;te </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/9430d938-e5d0-46c8-9b35-b189a63dab38.html" target="element"> 5b. Gi innspill og bist&#229; ved behov </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/943e6dec-f643-48fe-8baf-368fa08763da.html" target="element"> 6b. Delta og gi innspill til risikovurdering </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
										
										<tr><td> <a href="../elements/4b7bd556-aefd-4405-a230-43f5f34c22a5.html" target="element"> Kvalitetssikrer - Anskaffelse  </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
												<tr><td> <a href="../elements/2004ae27-249c-420b-92dc-104fce6df7f3.html" target="element"> 3c. Gi innspill til underlag </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/6a56efc6-115e-47c3-82bf-696a4e8cd036.html" target="element"> 4c. Delta i oppstartsm&#248;te </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/5b47ada8-ee86-4e0b-bb1f-aaf48d65f1b2.html" target="element"> 5c. Gi innspill og bist&#229; ved behov </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/78c63073-c73d-44f8-b219-afbdd9224b66.html" target="element"> 6c. Delta og gi innspill til risikovurdering </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/d75ba6f5-a42e-4afb-9ea1-441482a5b931.html" target="element"> 11b. Bidra i vurderingene </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
										
										<tr><td> <a href="../elements/717ff02d-26cf-4442-954c-bc5fe7b32bb0.html" target="element"> Fagrepresentant </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
												<tr><td> <a href="../elements/991b661a-641c-4521-8762-e9596d51de9c.html" target="element"> 3d. Innhent informasjon </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/1b502aff-54a6-43b1-a0ee-ba260b0f5b91.html" target="element"> 4d. Delta i oppstartsm&#248;te </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/15f96ea3-750e-4029-a18e-f289ccfc9e0c.html" target="element"> 5d. Delta i markedsdialog </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/ab57f8c2-61d6-48e8-8f38-d255aaf673e9.html" target="element"> 6e. Delta og gi innspill til risikovurdering </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/3c46731e-5a90-4ef7-a8ae-04223d020512.html" target="element"> 11c. Bidra i vurderingene </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
										
										<tr><td> <a href="../elements/0065552a-aaac-40fe-a892-d4c431791851.html" target="element"> ERP - Masterdata </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
												<tr><td> <a href="../elements/22344a2e-5551-4ca8-8197-6e80dc2d7ce1.html" target="element"> 3e. Gi innspill til underlag </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/bed66350-dd08-4b08-bf7c-617024ed64a7.html" target="element"> 4e. Delta i oppstartsm&#248;te </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
										
										<tr><td> <a href="../elements/034fcc25-dc72-418f-9de9-208895e70589.html" target="element"> Logistikk og forsyning </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
												<tr><td> <a href="../elements/63176a79-e82c-4a57-bf2b-c7c673c98bf2.html" target="element"> 3f. Gi innspill til underlag </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
										
										<tr><td> <a href="../elements/db1e245d-c820-4b08-9c4d-1c1be9f206ff.html" target="element"> Brukerrepresentant </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
												<tr><td> <a href="../elements/85936d8a-8720-4b7e-b5eb-748516f811b8.html" target="element"> 3g. Gi innspill til underlag </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
										

							</tbody>
						</table>
					</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>