<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Saksbehandling</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Saksbehandling</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/493e151d-2f96-4edd-8197-2784dd85c3e5.png" alt="Saksbehandling" usemap="#493e151d-2f96-4edd-8197-2784dd85c3e5map"/>
			   <map name="493e151d-2f96-4edd-8197-2784dd85c3e5map">
				  		<area shape="rect" coords="838,970,958,1025" href="../elements/id-98f6aa5d9ff74537b79ca5726df51981.html"  target="element">
				  		<area shape="rect" coords="838,874,958,929" href="../elements/id-b8437db2a62c4b39b10c0201e52d7ab1.html"  target="element">
				  				<area shape="rect" coords="347,1246,467,1301" href="../elements/691f3458-4e65-4797-9a9e-d03f471822cf.html"  target="element">
				  				<area shape="rect" coords="119,1246,239,1301" href="../elements/dfc63321-f8e5-4cb9-a7a6-c0469ffd6f15.html"  target="element">

				  		<area shape="rect" coords="71,1138,516,1331" href="../elements/5d0f9151-cbad-4092-b687-73584c4e85ba.html"  target="element">
				  		<area shape="rect" coords="515,1054,635,1109" href="../elements/1ae81f39-db05-4e4d-9cf9-960532e07c75.html"  target="element">
				  						<area shape="rect" coords="1834,562,1954,617" href="../elements/73bb58b9-2a1a-4782-a754-5c3b8b7900cd.html"  target="element">
				  						<area shape="rect" coords="1834,634,1954,689" href="../elements/899a98bf-c1a8-4d77-a6b3-c437da26201d.html"  target="element">

				  				<area shape="rect" coords="1798,514,2087,755" href="../elements/5db86080-db3e-4bf0-b6d3-47ab90b799d4.html"  target="element">
				  						<area shape="rect" coords="1390,583,1510,638" href="../elements/9b4df62a-80c6-4a7c-bdb6-c1c10913886c.html"  target="element">
				  						<area shape="rect" coords="1390,439,1510,494" href="../elements/id-3b9aef554b7243d48764982744971509.html"  target="element">
				  						<area shape="rect" coords="1390,655,1510,710" href="../elements/c863ed8e-acc7-49f7-be38-a69e31c40149.html"  target="element">
				  						<area shape="rect" coords="1390,511,1510,566" href="../elements/23882243-aeaa-4e93-951c-53b6c3c8b433.html"  target="element">

				  				<area shape="rect" coords="1354,391,1643,755" href="../elements/6b47830e-6bf2-4b3f-986b-01d077a2d8ac.html"  target="element">

				  		<area shape="rect" coords="1282,346,2219,803" href="../elements/bf956fca-a728-4e69-afce-1d9f006a64e6.html"  target="element">
				  		<area shape="rect" coords="1282,850,2219,1043" href="../elements/c5c1813d-2f85-4593-b55e-85ab81864405.html"  target="element">
				  				<area shape="rect" coords="1018,82,1138,137" href="../elements/d5588d74-b490-4a5c-85f5-711a0f62b60a.html"  target="element">

				  		<area shape="rect" coords="982,10,1362,191" href="../elements/147e3425-657f-45a7-8584-9a92635aae2b.html"  target="element">
				  		<area shape="rect" coords="526,154,646,209" href="../elements/6e0fd76b-362e-4544-828c-0058867d7b82.html"  target="element">
				  				<area shape="rect" coords="1018,826,1138,881" href="../elements/6c542eaa-914e-4096-9f89-ca08d583539e.html"  target="element">
				  				<area shape="rect" coords="1018,742,1138,797" href="../elements/605a1c53-0e31-4a6a-a4b8-85471736b170.html"  target="element">

				  		<area shape="rect" coords="1006,646,1187,983" href="../elements/cb01a09c-caac-4372-b157-b786b6e593b2.html"  target="element">
				  				<area shape="rect" coords="1006,1186,1126,1241" href="../elements/3e4ac463-f938-43d2-88b3-714e09ceafe2.html"  target="element">

				  		<area shape="rect" coords="994,1150,1199,1283" href="../elements/1ad8f7bd-f11f-4436-ad22-f7f80e6224c4.html"  target="element">
				  		<area shape="rect" coords="250,1054,370,1109" href="../elements/47398ffd-e3db-40d8-b1e9-67144b45b79c.html"  target="element">
				  		<area shape="rect" coords="850,382,970,437" href="../elements/e981095c-fedb-4254-8b74-5bf3e35ec460.html"  target="element">
				  		<area shape="rect" coords="10,658,130,713" href="../elements/26711b8b-56da-4a7e-a0ed-e3ea75d87952.html"  target="element">
				  		<area shape="rect" coords="238,154,358,209" href="../elements/fbc5983a-2ae9-4a00-9165-f75628c68462.html"  target="element">
				  		<area shape="rect" coords="10,358,130,413" href="../elements/08243a86-4368-41d2-9888-5f7dcb0533ed.html"  target="element">
				  						<area shape="rect" coords="514,406,634,461" href="../elements/acc41889-7241-40a3-8211-30c50873f8fd.html"  target="element">
				  						<area shape="rect" coords="274,406,394,461" href="../elements/cc190324-3b14-4028-b546-1342737f5e34.html"  target="element">

				  				<area shape="rect" coords="238,358,683,743" href="../elements/9c96ed34-cb41-46a5-aff0-aaaec81293ce.html"  target="element">

				  		<area shape="rect" coords="190,262,815,983" href="../elements/0b615d4f-dd39-464c-99f9-5fe4d2b826ae.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/0b615d4f-dd39-464c-99f9-5fe4d2b826ae.html" target="element"> Saksnummer </a> </td>
											    <td> <a href="../elements/0b615d4f-dd39-464c-99f9-5fe4d2b826ae.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/9c96ed34-cb41-46a5-aff0-aaaec81293ce.html" target="element"> ITIL </a> </td>
													    <td> <a href="../elements/9c96ed34-cb41-46a5-aff0-aaaec81293ce.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/cc190324-3b14-4028-b546-1342737f5e34.html" target="element"> Kundesak </a> </td>
															    <td> <a href="../elements/cc190324-3b14-4028-b546-1342737f5e34.html" target="element" class="i18n-elementtype-DataObject">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/acc41889-7241-40a3-8211-30c50873f8fd.html" target="element"> Intern sak </a> </td>
															    <td> <a href="../elements/acc41889-7241-40a3-8211-30c50873f8fd.html" target="element" class="i18n-elementtype-DataObject">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/08243a86-4368-41d2-9888-5f7dcb0533ed.html" target="element"> Kundem&#248;te </a> </td>
											    <td> <a href="../elements/08243a86-4368-41d2-9888-5f7dcb0533ed.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/fbc5983a-2ae9-4a00-9165-f75628c68462.html" target="element"> Kundehenvendelse </a> </td>
											    <td> <a href="../elements/fbc5983a-2ae9-4a00-9165-f75628c68462.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/26711b8b-56da-4a7e-a0ed-e3ea75d87952.html" target="element"> Styrem&#248;ter </a> </td>
											    <td> <a href="../elements/26711b8b-56da-4a7e-a0ed-e3ea75d87952.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e981095c-fedb-4254-8b74-5bf3e35ec460.html" target="element"> Generelle henvendelser </a> </td>
											    <td> <a href="../elements/e981095c-fedb-4254-8b74-5bf3e35ec460.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/47398ffd-e3db-40d8-b1e9-67144b45b79c.html" target="element"> Oppdragsdokument </a> </td>
											    <td> <a href="../elements/47398ffd-e3db-40d8-b1e9-67144b45b79c.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1ad8f7bd-f11f-4436-ad22-f7f80e6224c4.html" target="element"> DF Klasse 3-9 Offentlig forvaltning </a> </td>
											    <td> <a href="../elements/1ad8f7bd-f11f-4436-ad22-f7f80e6224c4.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/3e4ac463-f938-43d2-88b3-714e09ceafe2.html" target="element"> Journalpost </a> </td>
													    <td> <a href="../elements/3e4ac463-f938-43d2-88b3-714e09ceafe2.html" target="element" class="i18n-elementtype-Constraint">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/cb01a09c-caac-4372-b157-b786b6e593b2.html" target="element"> DF Klasse 0-2 Egenforvaltning </a> </td>
											    <td> <a href="../elements/cb01a09c-caac-4372-b157-b786b6e593b2.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/605a1c53-0e31-4a6a-a4b8-85471736b170.html" target="element"> Kvalitetsstyring og internkontroll </a> </td>
													    <td> <a href="../elements/605a1c53-0e31-4a6a-a4b8-85471736b170.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/6c542eaa-914e-4096-9f89-ca08d583539e.html" target="element"> Samarbeidsavtale </a> </td>
													    <td> <a href="../elements/6c542eaa-914e-4096-9f89-ca08d583539e.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/6e0fd76b-362e-4544-828c-0058867d7b82.html" target="element"> Forbedringstiltak </a> </td>
											    <td> <a href="../elements/6e0fd76b-362e-4544-828c-0058867d7b82.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/147e3425-657f-45a7-8584-9a92635aae2b.html" target="element"> AS.M365 Exchange </a> </td>
											    <td> <a href="../elements/147e3425-657f-45a7-8584-9a92635aae2b.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/d5588d74-b490-4a5c-85f5-711a0f62b60a.html" target="element"> Direktemeldinger og e-postbehandling </a> </td>
													    <td> <a href="../elements/d5588d74-b490-4a5c-85f5-711a0f62b60a.html" target="element" class="i18n-elementtype-ApplicationEvent">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/c5c1813d-2f85-4593-b55e-85ab81864405.html" target="element"> AS.M365 SharePoint (sykehusinnkjop.no) </a> </td>
											    <td> <a href="../elements/c5c1813d-2f85-4593-b55e-85ab81864405.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/bf956fca-a728-4e69-afce-1d9f006a64e6.html" target="element"> AS.Dynamics 365  CRM </a> </td>
											    <td> <a href="../elements/bf956fca-a728-4e69-afce-1d9f006a64e6.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/6b47830e-6bf2-4b3f-986b-01d077a2d8ac.html" target="element"> SHI.Kunde og ordrebehandling </a> </td>
													    <td> <a href="../elements/6b47830e-6bf2-4b3f-986b-01d077a2d8ac.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/23882243-aeaa-4e93-951c-53b6c3c8b433.html" target="element"> Dynamics 365 CRM </a> </td>
															    <td> <a href="../elements/23882243-aeaa-4e93-951c-53b6c3c8b433.html" target="element" class="i18n-elementtype-ApplicationInterface">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/c863ed8e-acc7-49f7-be38-a69e31c40149.html" target="element"> Opprett kundesak </a> </td>
															    <td> <a href="../elements/c863ed8e-acc7-49f7-be38-a69e31c40149.html" target="element" class="i18n-elementtype-ApplicationProcess">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-3b9aef554b7243d48764982744971509.html" target="element"> Opprett intern sak </a> </td>
															    <td> <a href="../elements/id-3b9aef554b7243d48764982744971509.html" target="element" class="i18n-elementtype-ApplicationProcess">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/9b4df62a-80c6-4a7c-bdb6-c1c10913886c.html" target="element"> Opprett styresak </a> </td>
															    <td> <a href="../elements/9b4df62a-80c6-4a7c-bdb6-c1c10913886c.html" target="element" class="i18n-elementtype-ApplicationProcess">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/5db86080-db3e-4bf0-b6d3-47ab90b799d4.html" target="element"> SHI.Quantus </a> </td>
													    <td> <a href="../elements/5db86080-db3e-4bf0-b6d3-47ab90b799d4.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/899a98bf-c1a8-4d77-a6b3-c437da26201d.html" target="element"> API.Quantus </a> </td>
															    <td> <a href="../elements/899a98bf-c1a8-4d77-a6b3-c437da26201d.html" target="element" class="i18n-elementtype-ApplicationInterface">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/73bb58b9-2a1a-4782-a754-5c3b8b7900cd.html" target="element"> Opprett leveranseoppdrag </a> </td>
															    <td> <a href="../elements/73bb58b9-2a1a-4782-a754-5c3b8b7900cd.html" target="element" class="i18n-elementtype-ApplicationProcess">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/1ae81f39-db05-4e4d-9cf9-960532e07c75.html" target="element"> Innsynsbegj&#230;ring </a> </td>
											    <td> <a href="../elements/1ae81f39-db05-4e4d-9cf9-960532e07c75.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5d0f9151-cbad-4092-b687-73584c4e85ba.html" target="element"> Offentlighetsloven (offl.) &#167; 13 jf. Forvaltningsloven (fvl) &#167; 13, 1. ledd nr. 2: Forretningsmessig taushetsplikt </a> </td>
											    <td> <a href="../elements/5d0f9151-cbad-4092-b687-73584c4e85ba.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/dfc63321-f8e5-4cb9-a7a6-c0469ffd6f15.html" target="element"> Styresak </a> </td>
													    <td> <a href="../elements/dfc63321-f8e5-4cb9-a7a6-c0469ffd6f15.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/691f3458-4e65-4797-9a9e-d03f471822cf.html" target="element"> Innsynssak </a> </td>
													    <td> <a href="../elements/691f3458-4e65-4797-9a9e-d03f471822cf.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-b8437db2a62c4b39b10c0201e52d7ab1.html" target="element"> Kunngj&#248;ing </a> </td>
											    <td> <a href="../elements/id-b8437db2a62c4b39b10c0201e52d7ab1.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-98f6aa5d9ff74537b79ca5726df51981.html" target="element"> Kunngj&#248;ring henvendelse </a> </td>
											    <td> <a href="../elements/id-98f6aa5d9ff74537b79ca5726df51981.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/52ddc229-ff05-4f15-a22b-2e9de85bc25b.html" target="element">  </a> </td>
																		<td> <a href="../elements/52ddc229-ff05-4f15-a22b-2e9de85bc25b.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/0b615d4f-dd39-464c-99f9-5fe4d2b826ae.html" target="element"> Saksnummer </a> </td>
																		<td> <a href="../elements/08243a86-4368-41d2-9888-5f7dcb0533ed.html" target="element"> Kundem&#248;te </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-361091be27b84b2da274c88284c41dcd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-361091be27b84b2da274c88284c41dcd.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/0b615d4f-dd39-464c-99f9-5fe4d2b826ae.html" target="element"> Saksnummer </a> </td>
																		<td> <a href="../elements/5d0f9151-cbad-4092-b687-73584c4e85ba.html" target="element"> Offentlighetsloven (offl.) &#167; 13 jf. Forvaltningsloven (fvl) &#167; 13, 1. ledd nr. 2: Forretningsmessig taushetsplikt </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f0651674da714a7c98d05e69345fab12.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f0651674da714a7c98d05e69345fab12.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/0b615d4f-dd39-464c-99f9-5fe4d2b826ae.html" target="element"> Saksnummer </a> </td>
																		<td> <a href="../elements/9c96ed34-cb41-46a5-aff0-aaaec81293ce.html" target="element"> ITIL </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b0d31258957049d1b312b94023e16c50.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b0d31258957049d1b312b94023e16c50.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/0b615d4f-dd39-464c-99f9-5fe4d2b826ae.html" target="element"> Saksnummer </a> </td>
																		<td> <a href="../elements/605a1c53-0e31-4a6a-a4b8-85471736b170.html" target="element"> Kvalitetsstyring og internkontroll </a> </td>
																	</tr>

																					<tr>
																						<td> <a href="../elements/eabef37b-5e2b-4fdf-8e57-041d28ad0f82.html" target="element">  </a> </td>
																						<td> <a href="../elements/eabef37b-5e2b-4fdf-8e57-041d28ad0f82.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/cc190324-3b14-4028-b546-1342737f5e34.html" target="element"> Kundesak </a> </td>
																						<td> <a href="../elements/0b615d4f-dd39-464c-99f9-5fe4d2b826ae.html" target="element"> Saksnummer </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/e7371c5a-c86a-48b0-83f8-a37a9ecb02ea.html" target="element">  </a> </td>
																						<td> <a href="../elements/e7371c5a-c86a-48b0-83f8-a37a9ecb02ea.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																						</a> </td>
																						<td> <a href="../elements/cc190324-3b14-4028-b546-1342737f5e34.html" target="element"> Kundesak </a> </td>
																						<td> <a href="../elements/9c96ed34-cb41-46a5-aff0-aaaec81293ce.html" target="element"> ITIL </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/449a2217-409a-4347-af02-d94b32e6f1cb.html" target="element">  </a> </td>
																						<td> <a href="../elements/449a2217-409a-4347-af02-d94b32e6f1cb.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/cc190324-3b14-4028-b546-1342737f5e34.html" target="element"> Kundesak </a> </td>
																						<td> <a href="../elements/9c96ed34-cb41-46a5-aff0-aaaec81293ce.html" target="element"> ITIL </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/0e0e3b1d-38e5-4fa8-947f-085673813704.html" target="element">  </a> </td>
																						<td> <a href="../elements/0e0e3b1d-38e5-4fa8-947f-085673813704.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/acc41889-7241-40a3-8211-30c50873f8fd.html" target="element"> Intern sak </a> </td>
																						<td> <a href="../elements/0b615d4f-dd39-464c-99f9-5fe4d2b826ae.html" target="element"> Saksnummer </a> </td>
																					</tr>

													
											
																	<tr>
																		<td> <a href="../elements/9ebb3fa2-872e-480e-b18e-9e08e642e462.html" target="element">  </a> </td>
																		<td> <a href="../elements/9ebb3fa2-872e-480e-b18e-9e08e642e462.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/08243a86-4368-41d2-9888-5f7dcb0533ed.html" target="element"> Kundem&#248;te </a> </td>
																		<td> <a href="../elements/cc190324-3b14-4028-b546-1342737f5e34.html" target="element"> Kundesak </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d3190d46-e4f9-4ff0-8baf-aec6e48925c0.html" target="element">  </a> </td>
																		<td> <a href="../elements/d3190d46-e4f9-4ff0-8baf-aec6e48925c0.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/08243a86-4368-41d2-9888-5f7dcb0533ed.html" target="element"> Kundem&#248;te </a> </td>
																		<td> <a href="../elements/c863ed8e-acc7-49f7-be38-a69e31c40149.html" target="element"> Opprett kundesak </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/91c4249c-b370-400e-9ac5-7b2c503e89bf.html" target="element">  </a> </td>
																		<td> <a href="../elements/91c4249c-b370-400e-9ac5-7b2c503e89bf.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/fbc5983a-2ae9-4a00-9165-f75628c68462.html" target="element"> Kundehenvendelse </a> </td>
																		<td> <a href="../elements/cc190324-3b14-4028-b546-1342737f5e34.html" target="element"> Kundesak </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d96ea782-bc98-400b-b9a7-04c76522a881.html" target="element">  </a> </td>
																		<td> <a href="../elements/d96ea782-bc98-400b-b9a7-04c76522a881.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/fbc5983a-2ae9-4a00-9165-f75628c68462.html" target="element"> Kundehenvendelse </a> </td>
																		<td> <a href="../elements/0b615d4f-dd39-464c-99f9-5fe4d2b826ae.html" target="element"> Saksnummer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7bf931c5-1ae3-4a9f-8d78-e26349cbcbbc.html" target="element">  </a> </td>
																		<td> <a href="../elements/7bf931c5-1ae3-4a9f-8d78-e26349cbcbbc.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/fbc5983a-2ae9-4a00-9165-f75628c68462.html" target="element"> Kundehenvendelse </a> </td>
																		<td> <a href="../elements/c863ed8e-acc7-49f7-be38-a69e31c40149.html" target="element"> Opprett kundesak </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/739922bc-ca00-4e1f-956f-ccb910ab6b97.html" target="element">  </a> </td>
																		<td> <a href="../elements/739922bc-ca00-4e1f-956f-ccb910ab6b97.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/26711b8b-56da-4a7e-a0ed-e3ea75d87952.html" target="element"> Styrem&#248;ter </a> </td>
																		<td> <a href="../elements/dfc63321-f8e5-4cb9-a7a6-c0469ffd6f15.html" target="element"> Styresak </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d2ce80d4-6830-4e7c-9ead-5c24f4bcb00c.html" target="element">  </a> </td>
																		<td> <a href="../elements/d2ce80d4-6830-4e7c-9ead-5c24f4bcb00c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/26711b8b-56da-4a7e-a0ed-e3ea75d87952.html" target="element"> Styrem&#248;ter </a> </td>
																		<td> <a href="../elements/0b615d4f-dd39-464c-99f9-5fe4d2b826ae.html" target="element"> Saksnummer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/634b25d8-cf86-4896-b48f-e9dface31163.html" target="element">  </a> </td>
																		<td> <a href="../elements/634b25d8-cf86-4896-b48f-e9dface31163.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/26711b8b-56da-4a7e-a0ed-e3ea75d87952.html" target="element"> Styrem&#248;ter </a> </td>
																		<td> <a href="../elements/1ad8f7bd-f11f-4436-ad22-f7f80e6224c4.html" target="element"> DF Klasse 3-9 Offentlig forvaltning </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/bea742e8-0075-405e-a72f-8156369d1de6.html" target="element">  </a> </td>
																		<td> <a href="../elements/bea742e8-0075-405e-a72f-8156369d1de6.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/26711b8b-56da-4a7e-a0ed-e3ea75d87952.html" target="element"> Styrem&#248;ter </a> </td>
																		<td> <a href="../elements/9b4df62a-80c6-4a7c-bdb6-c1c10913886c.html" target="element"> Opprett styresak </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6c8b176e-8ec2-4c87-add8-2be597721fb6.html" target="element">  </a> </td>
																		<td> <a href="../elements/6c8b176e-8ec2-4c87-add8-2be597721fb6.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/e981095c-fedb-4254-8b74-5bf3e35ec460.html" target="element"> Generelle henvendelser </a> </td>
																		<td> <a href="../elements/acc41889-7241-40a3-8211-30c50873f8fd.html" target="element"> Intern sak </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/36b526c4-4c51-400c-ba57-631300b796f3.html" target="element">  </a> </td>
																		<td> <a href="../elements/36b526c4-4c51-400c-ba57-631300b796f3.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/47398ffd-e3db-40d8-b1e9-67144b45b79c.html" target="element"> Oppdragsdokument </a> </td>
																		<td> <a href="../elements/1ad8f7bd-f11f-4436-ad22-f7f80e6224c4.html" target="element"> DF Klasse 3-9 Offentlig forvaltning </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3e04e415-77ad-499f-8044-24d36624af4a.html" target="element">  </a> </td>
																		<td> <a href="../elements/3e04e415-77ad-499f-8044-24d36624af4a.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/47398ffd-e3db-40d8-b1e9-67144b45b79c.html" target="element"> Oppdragsdokument </a> </td>
																		<td> <a href="../elements/0b615d4f-dd39-464c-99f9-5fe4d2b826ae.html" target="element"> Saksnummer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e3179290-b06c-4350-9795-44c3e26148e2.html" target="element">  </a> </td>
																		<td> <a href="../elements/e3179290-b06c-4350-9795-44c3e26148e2.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/47398ffd-e3db-40d8-b1e9-67144b45b79c.html" target="element"> Oppdragsdokument </a> </td>
																		<td> <a href="../elements/dfc63321-f8e5-4cb9-a7a6-c0469ffd6f15.html" target="element"> Styresak </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-9787953f5c57495d92b99476836efd1c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9787953f5c57495d92b99476836efd1c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/1ad8f7bd-f11f-4436-ad22-f7f80e6224c4.html" target="element"> DF Klasse 3-9 Offentlig forvaltning </a> </td>
																		<td> <a href="../elements/3e4ac463-f938-43d2-88b3-714e09ceafe2.html" target="element"> Journalpost </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/ba5beb9d-027c-4631-976a-f2102edcdd63.html" target="element">  </a> </td>
																		<td> <a href="../elements/ba5beb9d-027c-4631-976a-f2102edcdd63.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/cb01a09c-caac-4372-b157-b786b6e593b2.html" target="element"> DF Klasse 0-2 Egenforvaltning </a> </td>
																		<td> <a href="../elements/605a1c53-0e31-4a6a-a4b8-85471736b170.html" target="element"> Kvalitetsstyring og internkontroll </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4a1ab903457e4b838730875dd87b4e85.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4a1ab903457e4b838730875dd87b4e85.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/cb01a09c-caac-4372-b157-b786b6e593b2.html" target="element"> DF Klasse 0-2 Egenforvaltning </a> </td>
																		<td> <a href="../elements/6c542eaa-914e-4096-9f89-ca08d583539e.html" target="element"> Samarbeidsavtale </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/5378b90b-667b-4404-917b-cdaf7ccbd2a3.html" target="element">  </a> </td>
																				<td> <a href="../elements/5378b90b-667b-4404-917b-cdaf7ccbd2a3.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/6c542eaa-914e-4096-9f89-ca08d583539e.html" target="element"> Samarbeidsavtale </a> </td>
																				<td> <a href="../elements/cb01a09c-caac-4372-b157-b786b6e593b2.html" target="element"> DF Klasse 0-2 Egenforvaltning </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/f47f8ad9-0e3c-461e-9ae8-d440f5d9fe95.html" target="element">  </a> </td>
																		<td> <a href="../elements/f47f8ad9-0e3c-461e-9ae8-d440f5d9fe95.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/6e0fd76b-362e-4544-828c-0058867d7b82.html" target="element"> Forbedringstiltak </a> </td>
																		<td> <a href="../elements/acc41889-7241-40a3-8211-30c50873f8fd.html" target="element"> Intern sak </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/774370ec-faf4-4122-a215-95c26e26438d.html" target="element">  </a> </td>
																		<td> <a href="../elements/774370ec-faf4-4122-a215-95c26e26438d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/6e0fd76b-362e-4544-828c-0058867d7b82.html" target="element"> Forbedringstiltak </a> </td>
																		<td> <a href="../elements/cb01a09c-caac-4372-b157-b786b6e593b2.html" target="element"> DF Klasse 0-2 Egenforvaltning </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9f2854ea-82b6-481a-a838-5fe202896f46.html" target="element">  </a> </td>
																		<td> <a href="../elements/9f2854ea-82b6-481a-a838-5fe202896f46.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/6e0fd76b-362e-4544-828c-0058867d7b82.html" target="element"> Forbedringstiltak </a> </td>
																		<td> <a href="../elements/605a1c53-0e31-4a6a-a4b8-85471736b170.html" target="element"> Kvalitetsstyring og internkontroll </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/d264bd06-765d-4df9-b78f-bf43cc8be282.html" target="element">  </a> </td>
																				<td> <a href="../elements/d264bd06-765d-4df9-b78f-bf43cc8be282.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/d5588d74-b490-4a5c-85f5-711a0f62b60a.html" target="element"> Direktemeldinger og e-postbehandling </a> </td>
																				<td> <a href="../elements/1ae81f39-db05-4e4d-9cf9-960532e07c75.html" target="element"> Innsynsbegj&#230;ring </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/87c8fee8-4b84-430e-a7af-f70fc976feab.html" target="element">  </a> </td>
																				<td> <a href="../elements/87c8fee8-4b84-430e-a7af-f70fc976feab.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/d5588d74-b490-4a5c-85f5-711a0f62b60a.html" target="element"> Direktemeldinger og e-postbehandling </a> </td>
																				<td> <a href="../elements/47398ffd-e3db-40d8-b1e9-67144b45b79c.html" target="element"> Oppdragsdokument </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/9a0de065-b65c-4ae7-b6de-2c7c67e75199.html" target="element">  </a> </td>
																				<td> <a href="../elements/9a0de065-b65c-4ae7-b6de-2c7c67e75199.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/d5588d74-b490-4a5c-85f5-711a0f62b60a.html" target="element"> Direktemeldinger og e-postbehandling </a> </td>
																				<td> <a href="../elements/e981095c-fedb-4254-8b74-5bf3e35ec460.html" target="element"> Generelle henvendelser </a> </td>
																			</tr>

											
																			<tr>
																				<td> <a href="../elements/8da0968c-4eee-4054-8dd8-96ae87867107.html" target="element">  </a> </td>
																				<td> <a href="../elements/8da0968c-4eee-4054-8dd8-96ae87867107.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/6b47830e-6bf2-4b3f-986b-01d077a2d8ac.html" target="element"> SHI.Kunde og ordrebehandling </a> </td>
																				<td> <a href="../elements/23882243-aeaa-4e93-951c-53b6c3c8b433.html" target="element"> Dynamics 365 CRM </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/13adca4a-be79-4137-9ce2-665f8b5adb19.html" target="element">  </a> </td>
																				<td> <a href="../elements/13adca4a-be79-4137-9ce2-665f8b5adb19.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/6b47830e-6bf2-4b3f-986b-01d077a2d8ac.html" target="element"> SHI.Kunde og ordrebehandling </a> </td>
																				<td> <a href="../elements/c863ed8e-acc7-49f7-be38-a69e31c40149.html" target="element"> Opprett kundesak </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-7f36bd4c65c04794b08c5e612578d7b6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7f36bd4c65c04794b08c5e612578d7b6.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/6b47830e-6bf2-4b3f-986b-01d077a2d8ac.html" target="element"> SHI.Kunde og ordrebehandling </a> </td>
																				<td> <a href="../elements/id-3b9aef554b7243d48764982744971509.html" target="element"> Opprett intern sak </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-abc361e41ec248c5af387f2d3e0f3a70.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-abc361e41ec248c5af387f2d3e0f3a70.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/6b47830e-6bf2-4b3f-986b-01d077a2d8ac.html" target="element"> SHI.Kunde og ordrebehandling </a> </td>
																				<td> <a href="../elements/9b4df62a-80c6-4a7c-bdb6-c1c10913886c.html" target="element"> Opprett styresak </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-a65430d6301543b1b5f5152eb06042f8.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-a65430d6301543b1b5f5152eb06042f8.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/6b47830e-6bf2-4b3f-986b-01d077a2d8ac.html" target="element"> SHI.Kunde og ordrebehandling </a> </td>
																				<td> <a href="../elements/bf956fca-a728-4e69-afce-1d9f006a64e6.html" target="element"> AS.Dynamics 365  CRM </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/03f8015f-45d4-47fb-9bfb-e4a41752d96a.html" target="element">  </a> </td>
																				<td> <a href="../elements/03f8015f-45d4-47fb-9bfb-e4a41752d96a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/5db86080-db3e-4bf0-b6d3-47ab90b799d4.html" target="element"> SHI.Quantus </a> </td>
																				<td> <a href="../elements/899a98bf-c1a8-4d77-a6b3-c437da26201d.html" target="element"> API.Quantus </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/99a56c97-c41f-4821-8c90-4d836b0458d1.html" target="element">  </a> </td>
																				<td> <a href="../elements/99a56c97-c41f-4821-8c90-4d836b0458d1.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/5db86080-db3e-4bf0-b6d3-47ab90b799d4.html" target="element"> SHI.Quantus </a> </td>
																				<td> <a href="../elements/73bb58b9-2a1a-4782-a754-5c3b8b7900cd.html" target="element"> Opprett leveranseoppdrag </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-b97c6da174ad4dc983fc1158ee3b98ef.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b97c6da174ad4dc983fc1158ee3b98ef.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/5db86080-db3e-4bf0-b6d3-47ab90b799d4.html" target="element"> SHI.Quantus </a> </td>
																				<td> <a href="../elements/bf956fca-a728-4e69-afce-1d9f006a64e6.html" target="element"> AS.Dynamics 365  CRM </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/586d0b79-7c18-4e8f-ab08-2971b44f8244.html" target="element">  </a> </td>
																						<td> <a href="../elements/586d0b79-7c18-4e8f-ab08-2971b44f8244.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/73bb58b9-2a1a-4782-a754-5c3b8b7900cd.html" target="element"> Opprett leveranseoppdrag </a> </td>
																						<td> <a href="../elements/cc190324-3b14-4028-b546-1342737f5e34.html" target="element"> Kundesak </a> </td>
																					</tr>

													
											
																	<tr>
																		<td> <a href="../elements/ace23def-b8cf-419e-b4b7-780ef6311881.html" target="element">  </a> </td>
																		<td> <a href="../elements/ace23def-b8cf-419e-b4b7-780ef6311881.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/1ae81f39-db05-4e4d-9cf9-960532e07c75.html" target="element"> Innsynsbegj&#230;ring </a> </td>
																		<td> <a href="../elements/3e4ac463-f938-43d2-88b3-714e09ceafe2.html" target="element"> Journalpost </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4a24d10c-9661-42ca-9f13-1bb2153d98af.html" target="element">  </a> </td>
																		<td> <a href="../elements/4a24d10c-9661-42ca-9f13-1bb2153d98af.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/1ae81f39-db05-4e4d-9cf9-960532e07c75.html" target="element"> Innsynsbegj&#230;ring </a> </td>
																		<td> <a href="../elements/691f3458-4e65-4797-9a9e-d03f471822cf.html" target="element"> Innsynssak </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/4f294f94-8d67-4131-bf79-8d7c796a716f.html" target="element">  </a> </td>
																				<td> <a href="../elements/4f294f94-8d67-4131-bf79-8d7c796a716f.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/dfc63321-f8e5-4cb9-a7a6-c0469ffd6f15.html" target="element"> Styresak </a> </td>
																				<td> <a href="../elements/5d0f9151-cbad-4092-b687-73584c4e85ba.html" target="element"> Offentlighetsloven (offl.) &#167; 13 jf. Forvaltningsloven (fvl) &#167; 13, 1. ledd nr. 2: Forretningsmessig taushetsplikt </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/85d28084-ca66-46b9-acd4-ece548a41a1c.html" target="element">  </a> </td>
																				<td> <a href="../elements/85d28084-ca66-46b9-acd4-ece548a41a1c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/691f3458-4e65-4797-9a9e-d03f471822cf.html" target="element"> Innsynssak </a> </td>
																				<td> <a href="../elements/0b615d4f-dd39-464c-99f9-5fe4d2b826ae.html" target="element"> Saksnummer </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/bdc7c97c-5e02-4116-8498-14030da61b23.html" target="element">  </a> </td>
																				<td> <a href="../elements/bdc7c97c-5e02-4116-8498-14030da61b23.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/691f3458-4e65-4797-9a9e-d03f471822cf.html" target="element"> Innsynssak </a> </td>
																				<td> <a href="../elements/5d0f9151-cbad-4092-b687-73584c4e85ba.html" target="element"> Offentlighetsloven (offl.) &#167; 13 jf. Forvaltningsloven (fvl) &#167; 13, 1. ledd nr. 2: Forretningsmessig taushetsplikt </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>