<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Systemstøtte - Anskaffelse</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Systemst&#248;tte - Anskaffelse</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/4ad86231-b49e-4f7a-bf77-c04ed84d13ff.png" alt="Systemstøtte - Anskaffelse" usemap="#4ad86231-b49e-4f7a-bf77-c04ed84d13ffmap">
			<map name="4ad86231-b49e-4f7a-bf77-c04ed84d13ffmap">
								<area shape="rect" coords="634,310,754,365" href="../elements/ba823433-846d-49bd-9ca8-b9ee55f51a5c.html"  target="element">
								<area shape="rect" coords="394,310,514,365" href="../elements/0227650f-541d-4b6e-a459-9a1ac498ea4a.html"  target="element">
								<area shape="rect" coords="874,310,994,365" href="../elements/009d2bbb-dcd6-4af4-9794-0dfd233e8256.html"  target="element">

						<area shape="rect" coords="358,214,1031,407" href="../elements/2e0ea489-62e9-4d09-b2f9-4aac10840c4e.html"  target="element">
						<area shape="rect" coords="804,898,924,953" href="../elements/0df0f536-de74-4381-9175-3515b917a58a.html"  target="element">
						<area shape="rect" coords="550,898,670,953" href="../elements/85206b06-d2f2-4ca1-b651-a83c7eebf01c.html"  target="element">
						<area shape="rect" coords="635,118,755,173" href="../elements/6242735d-14d5-4fa7-8194-e03ca2e71d7c.html"  target="element">
						<area shape="rect" coords="923,118,1043,173" href="../elements/bf3f2129-0085-4dcb-977e-e9032517c424.html"  target="element">
						<area shape="rect" coords="358,118,478,173" href="../elements/4ec297eb-8ed7-4711-9c3a-051d23939410.html"  target="element">
						<area shape="rect" coords="1054,898,1174,953" href="../elements/b270f8d6-05cf-4fa5-9133-fdb9339b2f35.html"  target="element">
						<area shape="rect" coords="982,994,1102,1049" href="../elements/4998c7ab-475e-490e-b7b4-f489dcb17b41.html"  target="element">
						<area shape="rect" coords="838,994,958,1049" href="../elements/5e581ea4-e576-42e7-b983-d94f4675a7b1.html"  target="element">
						<area shape="rect" coords="213,322,333,377" href="../elements/d3365882-8f8f-4de9-b647-950062302c0a.html"  target="element">
								<area shape="rect" coords="406,514,526,569" href="../elements/8ad9fa2c-3d08-458f-859b-e7b11b21c017.html"  target="element">
								<area shape="rect" coords="646,622,766,677" href="../elements/4ab92579-6cfc-4aa0-aaa6-501f43f61d7f.html"  target="element">
								<area shape="rect" coords="406,622,526,677" href="../elements/b3e91de9-d426-41bf-918e-fd85ec0a2742.html"  target="element">
								<area shape="rect" coords="898,622,1018,677" href="../elements/80b95750-dc0a-46e4-af45-3ad22945a4d8.html"  target="element">
								<area shape="rect" coords="646,514,766,569" href="../elements/bf8ce0fc-be89-4eed-b7df-80b88718ba9e.html"  target="element">
								<area shape="rect" coords="898,514,1018,569" href="../elements/696b4d4f-2dd9-4f8f-9f9c-dc6dfa7ded01.html"  target="element">

						<area shape="rect" coords="358,478,1042,719" href="../elements/05f3f650-8cbd-443f-a1a4-e969582d9762.html"  target="element">
						<area shape="rect" coords="369,898,489,953" href="../elements/c3dcf782-5d72-4525-bc6e-23f525a7c7f1.html"  target="element">
						<area shape="rect" coords="262,1102,382,1157" href="../elements/214f3a39-a6f6-46cc-9151-74a368807fc2.html"  target="element">
						<area shape="rect" coords="442,994,562,1049" href="../elements/b799a714-2104-4d1f-94ce-fb4b2cb77f7b.html"  target="element">
								<area shape="rect" coords="885,789,1005,844" href="../elements/7d0aa8b3-6d57-4268-ba5a-920c17346e36.html"  target="element">
								<area shape="rect" coords="381,789,501,844" href="../elements/cb11869c-32df-48b8-8ae4-61994ff037ee.html"  target="element">
								<area shape="rect" coords="549,789,669,844" href="../elements/37727927-d004-4dfc-997a-23af61567113.html"  target="element">
								<area shape="rect" coords="717,789,837,844" href="../elements/3e7cce26-354a-4cd1-8ca7-9365b703e3e8.html"  target="element">
								<area shape="rect" coords="1053,789,1173,844" href="../elements/4241e4f2-4f2b-4450-bdfc-0c3e7aa3ec47.html"  target="element">

						<area shape="rect" coords="357,753,1211,860" href="../elements/171d1e5a-a88a-4711-9ef5-a8925cc6d9c8.html"  target="element">
						<area shape="rect" coords="262,994,382,1049" href="../elements/663d1428-32b9-471b-824f-0b4dadb00a0d.html"  target="element">
								<area shape="rect" coords="514,1243,634,1298" href="../elements/5d292e1c-f1e1-47ec-9720-7cc48a7dbfa1.html"  target="element">
								<area shape="rect" coords="670,1243,790,1298" href="../elements/9b5a7769-c62e-4419-8a06-47b9e79d2d9d.html"  target="element">
								<area shape="rect" coords="358,1243,478,1298" href="../elements/367875eb-0ea2-433e-ae61-c26861286c2e.html"  target="element">

						<area shape="rect" coords="346,1207,984,1328" href="../elements/afd5c37a-ce03-46bd-8354-b22582dd54d5.html"  target="element">
								<area shape="rect" coords="1053,1126,1173,1181" href="../elements/78bb1f32-d81b-416f-8bfb-7b55f0b7f681.html"  target="element">

						<area shape="rect" coords="1017,1078,1210,1328" href="../elements/119aecf4-beda-42e1-a7d2-ead9b4bd75a5.html"  target="element">
								<area shape="rect" coords="838,1105,958,1160" href="../elements/22f92b85-8758-4941-b4a9-b3b8d8d8e672.html"  target="element">
								<area shape="rect" coords="670,1105,790,1160" href="../elements/e9cf73d6-c0af-494c-b7c5-acd5aab4e281.html"  target="element">

						<area shape="rect" coords="646,1081,983,1178" href="../elements/fcc3358c-d771-4996-8ace-30bd2b7fc258.html"  target="element">
						<area shape="rect" coords="94,898,214,953" href="../elements/08f9100c-0269-42d4-b548-f4fb4ff5dfca.html"  target="element">
						<area shape="rect" coords="94,994,214,1049" href="../elements/2d589993-120d-4ff2-b978-14d472fa2a18.html"  target="element">
						<area shape="rect" coords="94,1102,214,1157" href="../elements/27d005fb-2c7f-4b09-b231-b8e50da6c613.html"  target="element">
						<area shape="rect" coords="10,10,130,65" href="../elements/35971a13-cf91-4f1d-96b6-ade9580ec4bb.html"  target="element">
						<area shape="rect" coords="82,202,202,257" href="../elements/eea992c5-c181-41dd-bfdc-a0baef568bf8.html"  target="element">
						<area shape="rect" coords="166,10,286,65" href="../elements/a2b198e9-7867-4e81-ba35-daeeb3527d5b.html"  target="element">
						<area shape="rect" coords="334,10,454,65" href="../elements/34b60898-896f-4a63-bf4f-bca86caf0148.html"  target="element">
						<area shape="rect" coords="94,106,214,161" href="../elements/4a8ee5d8-223f-40d6-a372-4c786727e960.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
					<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="elements">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
								</tr>
							</thead>
							<tbody>
										<tr><td> <a href="../elements/2e0ea489-62e9-4d09-b2f9-4aac10840c4e.html" target="element"> Involvere eksterne ressurser i gjennomf&#248;ring av anskaffelse </a> </td><td class="i18n-elementtype-Capability"></td></tr>
												<tr><td> <a href="../elements/ba823433-846d-49bd-9ca8-b9ee55f51a5c.html" target="element"> B2B Gjesteinvitasjon </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/0227650f-541d-4b6e-a459-9a1ac498ea4a.html" target="element"> P2 Etablere prosjektgruppe </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/009d2bbb-dcd6-4af4-9794-0dfd233e8256.html" target="element"> P2 Oppstartsm&#248;te </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
										
										<tr><td> <a href="../elements/0df0f536-de74-4381-9175-3515b917a58a.html" target="element"> Project on the Web </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
										<tr><td> <a href="../elements/85206b06-d2f2-4ca1-b651-a83c7eebf01c.html" target="element"> Microsoft B2B </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
										<tr><td> <a href="../elements/6242735d-14d5-4fa7-8194-e03ca2e71d7c.html" target="element"> M&#229;l 1: S&#248;ml&#248;st og tett samspill med helseforetakene </a> </td><td class="i18n-elementtype-CourseOfAction"></td></tr>
										<tr><td> <a href="../elements/bf3f2129-0085-4dcb-977e-e9032517c424.html" target="element"> M&#248;teplasser og samhandlingsarenaer </a> </td><td class="i18n-elementtype-CourseOfAction"></td></tr>
										<tr><td> <a href="../elements/4ec297eb-8ed7-4711-9c3a-051d23939410.html" target="element"> Samhandling med fagmilj&#248;ene </a> </td><td class="i18n-elementtype-CourseOfAction"></td></tr>
										<tr><td> <a href="../elements/b270f8d6-05cf-4fa5-9133-fdb9339b2f35.html" target="element"> Innkj&#248;psportalen 104 </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
										<tr><td> <a href="../elements/4998c7ab-475e-490e-b7b4-f489dcb17b41.html" target="element"> API </a> </td><td class="i18n-elementtype-ApplicationInterface"></td></tr>
										<tr><td> <a href="../elements/5e581ea4-e576-42e7-b983-d94f4675a7b1.html" target="element"> Integrasjon </a> </td><td class="i18n-elementtype-ApplicationInteraction"></td></tr>
										<tr><td> <a href="../elements/d3365882-8f8f-4de9-b647-950062302c0a.html" target="element"> BP2 - Beslutte oppstart av planleggingsfasen </a> </td><td class="i18n-elementtype-BusinessEvent"></td></tr>
										<tr><td> <a href="../elements/05f3f650-8cbd-443f-a1a4-e969582d9762.html" target="element"> Prosjektgruppe </a> </td><td class="i18n-elementtype-BusinessCollaboration"></td></tr>
												<tr><td> <a href="../elements/8ad9fa2c-3d08-458f-859b-e7b11b21c017.html" target="element"> Jurist </a> </td><td class="i18n-elementtype-Resource"></td></tr>
												<tr><td> <a href="../elements/4ab92579-6cfc-4aa0-aaa6-501f43f61d7f.html" target="element"> Prosjektleder </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
												<tr><td> <a href="../elements/b3e91de9-d426-41bf-918e-fd85ec0a2742.html" target="element"> Prosjektdeltaker (intern) </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
												<tr><td> <a href="../elements/80b95750-dc0a-46e4-af45-3ad22945a4d8.html" target="element"> Prosjektdeltaker (ekstern) </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
												<tr><td> <a href="../elements/bf8ce0fc-be89-4eed-b7df-80b88718ba9e.html" target="element"> Prosjektleder </a> </td><td class="i18n-elementtype-Resource"></td></tr>
												<tr><td> <a href="../elements/696b4d4f-2dd9-4f8f-9f9c-dc6dfa7ded01.html" target="element"> Spesialist - Fag </a> </td><td class="i18n-elementtype-Resource"></td></tr>
										
										<tr><td> <a href="../elements/c3dcf782-5d72-4525-bc6e-23f525a7c7f1.html" target="element"> Visma Min Tid </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
										<tr><td> <a href="../elements/214f3a39-a6f6-46cc-9151-74a368807fc2.html" target="element"> Integrasjon 102 </a> </td><td class="i18n-elementtype-ApplicationInteraction"></td></tr>
										<tr><td> <a href="../elements/b799a714-2104-4d1f-94ce-fb4b2cb77f7b.html" target="element"> Prosjektliste </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
										<tr><td> <a href="../elements/171d1e5a-a88a-4711-9ef5-a8925cc6d9c8.html" target="element"> Brukerflate - Prosjekt </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
												<tr><td> <a href="../elements/7d0aa8b3-6d57-4268-ba5a-920c17346e36.html" target="element"> Office 365 Project Online </a> </td><td class="i18n-elementtype-ApplicationInterface"></td></tr>
												<tr><td> <a href="../elements/cb11869c-32df-48b8-8ae4-61994ff037ee.html" target="element"> Personalportalen </a> </td><td class="i18n-elementtype-ApplicationInterface"></td></tr>
												<tr><td> <a href="../elements/37727927-d004-4dfc-997a-23af61567113.html" target="element"> Office 365 Tilgangsportal </a> </td><td class="i18n-elementtype-ApplicationInterface"></td></tr>
												<tr><td> <a href="../elements/3e7cce26-354a-4cd1-8ca7-9365b703e3e8.html" target="element"> Office 365 Prosjekt Desktop </a> </td><td class="i18n-elementtype-ApplicationInterface"></td></tr>
												<tr><td> <a href="../elements/4241e4f2-4f2b-4450-bdfc-0c3e7aa3ec47.html" target="element"> Innkj&#248;psportalen </a> </td><td class="i18n-elementtype-ApplicationInterface"></td></tr>
										
										<tr><td> <a href="../elements/663d1428-32b9-471b-824f-0b4dadb00a0d.html" target="element"> SFTP </a> </td><td class="i18n-elementtype-ApplicationInterface"></td></tr>
										<tr><td> <a href="../elements/afd5c37a-ce03-46bd-8354-b22582dd54d5.html" target="element"> CDS </a> </td><td class="i18n-elementtype-TechnologyService"></td></tr>
												<tr><td> <a href="../elements/5d292e1c-f1e1-47ec-9720-7cc48a7dbfa1.html" target="element"> Prosjektportef&#248;lje (master) </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
												<tr><td> <a href="../elements/9b5a7769-c62e-4419-8a06-47b9e79d2d9d.html" target="element"> Risikoregister (anskaffelser) </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
												<tr><td> <a href="../elements/367875eb-0ea2-433e-ae61-c26861286c2e.html" target="element"> Prosjektportef&#248;lje </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
										
										<tr><td> <a href="../elements/119aecf4-beda-42e1-a7d2-ead9b4bd75a5.html" target="element"> Azure SQL </a> </td><td class="i18n-elementtype-TechnologyService"></td></tr>
												<tr><td> <a href="../elements/78bb1f32-d81b-416f-8bfb-7b55f0b7f681.html" target="element"> Anskaffelser </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
										
										<tr><td> <a href="../elements/fcc3358c-d771-4996-8ace-30bd2b7fc258.html" target="element"> Azure API Mgmt </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
												<tr><td> <a href="../elements/22f92b85-8758-4941-b4a9-b3b8d8d8e672.html" target="element"> API </a> </td><td class="i18n-elementtype-ApplicationInterface"></td></tr>
												<tr><td> <a href="../elements/e9cf73d6-c0af-494c-b7c5-acd5aab4e281.html" target="element"> API </a> </td><td class="i18n-elementtype-ApplicationInterface"></td></tr>
										
										<tr><td> <a href="../elements/08f9100c-0269-42d4-b548-f4fb4ff5dfca.html" target="element"> Visma Buisiness </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
										<tr><td> <a href="../elements/2d589993-120d-4ff2-b978-14d472fa2a18.html" target="element"> API 101 </a> </td><td class="i18n-elementtype-ApplicationInterface"></td></tr>
										<tr><td> <a href="../elements/27d005fb-2c7f-4b09-b231-b8e50da6c613.html" target="element"> Integrasjon 101 </a> </td><td class="i18n-elementtype-ApplicationInteraction"></td></tr>
										<tr><td> <a href="../elements/35971a13-cf91-4f1d-96b6-ade9580ec4bb.html" target="element"> Innkj&#248;psordre </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
										<tr><td> <a href="../elements/eea992c5-c181-41dd-bfdc-a0baef568bf8.html" target="element"> Kataqlog </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
										<tr><td> <a href="../elements/a2b198e9-7867-4e81-ba35-daeeb3527d5b.html" target="element"> Salgsordre </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
										<tr><td> <a href="../elements/34b60898-896f-4a63-bf4f-bca86caf0148.html" target="element"> Dynamics SCM </a> </td><td class="i18n-elementtype-ApplicationInterface"></td></tr>
										<tr><td> <a href="../elements/4a8ee5d8-223f-40d6-a372-4c786727e960.html" target="element"> Ordrebehandling </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>

							</tbody>
						</table>
					</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>