<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Systemstøtte - Anskaffelse</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Systemst&#248;tte - Anskaffelse</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/4ad86231-b49e-4f7a-bf77-c04ed84d13ff.png" alt="Systemstøtte - Anskaffelse" usemap="#4ad86231-b49e-4f7a-bf77-c04ed84d13ffmap"/>
			   <map name="4ad86231-b49e-4f7a-bf77-c04ed84d13ffmap">
				  		<area shape="rect" coords="10,994,130,1049" href="../elements/27d005fb-2c7f-4b09-b231-b8e50da6c613.html"  target="element">
				  		<area shape="rect" coords="10,886,130,941" href="../elements/2d589993-120d-4ff2-b978-14d472fa2a18.html"  target="element">
				  		<area shape="rect" coords="10,790,130,845" href="../elements/08f9100c-0269-42d4-b548-f4fb4ff5dfca.html"  target="element">
				  				<area shape="rect" coords="586,997,706,1052" href="../elements/e9cf73d6-c0af-494c-b7c5-acd5aab4e281.html"  target="element">
				  				<area shape="rect" coords="754,997,874,1052" href="../elements/22f92b85-8758-4941-b4a9-b3b8d8d8e672.html"  target="element">

				  		<area shape="rect" coords="562,973,899,1070" href="../elements/fcc3358c-d771-4996-8ace-30bd2b7fc258.html"  target="element">
				  				<area shape="rect" coords="969,1018,1089,1073" href="../elements/78bb1f32-d81b-416f-8bfb-7b55f0b7f681.html"  target="element">

				  		<area shape="rect" coords="933,970,1126,1220" href="../elements/119aecf4-beda-42e1-a7d2-ead9b4bd75a5.html"  target="element">
				  				<area shape="rect" coords="274,1135,394,1190" href="../elements/367875eb-0ea2-433e-ae61-c26861286c2e.html"  target="element">
				  				<area shape="rect" coords="586,1135,706,1190" href="../elements/9b5a7769-c62e-4419-8a06-47b9e79d2d9d.html"  target="element">
				  				<area shape="rect" coords="430,1135,550,1190" href="../elements/5d292e1c-f1e1-47ec-9720-7cc48a7dbfa1.html"  target="element">

				  		<area shape="rect" coords="262,1099,900,1220" href="../elements/afd5c37a-ce03-46bd-8354-b22582dd54d5.html"  target="element">
				  		<area shape="rect" coords="178,886,298,941" href="../elements/663d1428-32b9-471b-824f-0b4dadb00a0d.html"  target="element">
				  				<area shape="rect" coords="969,681,1089,736" href="../elements/4241e4f2-4f2b-4450-bdfc-0c3e7aa3ec47.html"  target="element">
				  				<area shape="rect" coords="633,681,753,736" href="../elements/3e7cce26-354a-4cd1-8ca7-9365b703e3e8.html"  target="element">
				  				<area shape="rect" coords="465,681,585,736" href="../elements/37727927-d004-4dfc-997a-23af61567113.html"  target="element">
				  				<area shape="rect" coords="297,681,417,736" href="../elements/cb11869c-32df-48b8-8ae4-61994ff037ee.html"  target="element">
				  				<area shape="rect" coords="801,681,921,736" href="../elements/7d0aa8b3-6d57-4268-ba5a-920c17346e36.html"  target="element">

				  		<area shape="rect" coords="273,645,1127,752" href="../elements/171d1e5a-a88a-4711-9ef5-a8925cc6d9c8.html"  target="element">
				  		<area shape="rect" coords="358,886,478,941" href="../elements/b799a714-2104-4d1f-94ce-fb4b2cb77f7b.html"  target="element">
				  		<area shape="rect" coords="178,994,298,1049" href="../elements/214f3a39-a6f6-46cc-9151-74a368807fc2.html"  target="element">
				  		<area shape="rect" coords="285,790,405,845" href="../elements/c3dcf782-5d72-4525-bc6e-23f525a7c7f1.html"  target="element">
				  				<area shape="rect" coords="814,406,934,461" href="../elements/696b4d4f-2dd9-4f8f-9f9c-dc6dfa7ded01.html"  target="element">
				  				<area shape="rect" coords="562,406,682,461" href="../elements/bf8ce0fc-be89-4eed-b7df-80b88718ba9e.html"  target="element">
				  				<area shape="rect" coords="814,514,934,569" href="../elements/80b95750-dc0a-46e4-af45-3ad22945a4d8.html"  target="element">
				  				<area shape="rect" coords="322,514,442,569" href="../elements/b3e91de9-d426-41bf-918e-fd85ec0a2742.html"  target="element">
				  				<area shape="rect" coords="562,514,682,569" href="../elements/4ab92579-6cfc-4aa0-aaa6-501f43f61d7f.html"  target="element">
				  				<area shape="rect" coords="322,406,442,461" href="../elements/8ad9fa2c-3d08-458f-859b-e7b11b21c017.html"  target="element">

				  		<area shape="rect" coords="274,370,958,611" href="../elements/05f3f650-8cbd-443f-a1a4-e969582d9762.html"  target="element">
				  		<area shape="rect" coords="71,106,191,161" href="../elements/d3365882-8f8f-4de9-b647-950062302c0a.html"  target="element">
				  		<area shape="rect" coords="754,886,874,941" href="../elements/5e581ea4-e576-42e7-b983-d94f4675a7b1.html"  target="element">
				  		<area shape="rect" coords="898,886,1018,941" href="../elements/4998c7ab-475e-490e-b7b4-f489dcb17b41.html"  target="element">
				  		<area shape="rect" coords="970,790,1090,845" href="../elements/b270f8d6-05cf-4fa5-9133-fdb9339b2f35.html"  target="element">
				  		<area shape="rect" coords="274,10,394,65" href="../elements/4ec297eb-8ed7-4711-9c3a-051d23939410.html"  target="element">
				  		<area shape="rect" coords="839,10,959,65" href="../elements/bf3f2129-0085-4dcb-977e-e9032517c424.html"  target="element">
				  		<area shape="rect" coords="551,10,671,65" href="../elements/6242735d-14d5-4fa7-8194-e03ca2e71d7c.html"  target="element">
				  		<area shape="rect" coords="466,790,586,845" href="../elements/85206b06-d2f2-4ca1-b651-a83c7eebf01c.html"  target="element">
				  		<area shape="rect" coords="720,790,840,845" href="../elements/0df0f536-de74-4381-9175-3515b917a58a.html"  target="element">
				  				<area shape="rect" coords="790,202,910,257" href="../elements/009d2bbb-dcd6-4af4-9794-0dfd233e8256.html"  target="element">
				  				<area shape="rect" coords="310,202,430,257" href="../elements/0227650f-541d-4b6e-a459-9a1ac498ea4a.html"  target="element">
				  				<area shape="rect" coords="550,202,670,257" href="../elements/ba823433-846d-49bd-9ca8-b9ee55f51a5c.html"  target="element">

				  		<area shape="rect" coords="274,106,947,299" href="../elements/2e0ea489-62e9-4d09-b2f9-4aac10840c4e.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/2e0ea489-62e9-4d09-b2f9-4aac10840c4e.html" target="element"> Involvere eksterne ressurser i gjennomf&#248;ring av anskaffelse </a> </td>
											    <td> <a href="../elements/2e0ea489-62e9-4d09-b2f9-4aac10840c4e.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/ba823433-846d-49bd-9ca8-b9ee55f51a5c.html" target="element"> B2B Gjesteinvitasjon </a> </td>
													    <td> <a href="../elements/ba823433-846d-49bd-9ca8-b9ee55f51a5c.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/0227650f-541d-4b6e-a459-9a1ac498ea4a.html" target="element"> P2 Etablere prosjektgruppe </a> </td>
													    <td> <a href="../elements/0227650f-541d-4b6e-a459-9a1ac498ea4a.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/009d2bbb-dcd6-4af4-9794-0dfd233e8256.html" target="element"> P2 Oppstartsm&#248;te </a> </td>
													    <td> <a href="../elements/009d2bbb-dcd6-4af4-9794-0dfd233e8256.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/0df0f536-de74-4381-9175-3515b917a58a.html" target="element"> Project on the Web </a> </td>
											    <td> <a href="../elements/0df0f536-de74-4381-9175-3515b917a58a.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/85206b06-d2f2-4ca1-b651-a83c7eebf01c.html" target="element"> Microsoft B2B </a> </td>
											    <td> <a href="../elements/85206b06-d2f2-4ca1-b651-a83c7eebf01c.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6242735d-14d5-4fa7-8194-e03ca2e71d7c.html" target="element"> M&#229;l 1: S&#248;ml&#248;st og tett samspill med helseforetakene </a> </td>
											    <td> <a href="../elements/6242735d-14d5-4fa7-8194-e03ca2e71d7c.html" target="element" class="i18n-elementtype-CourseOfAction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/bf3f2129-0085-4dcb-977e-e9032517c424.html" target="element"> M&#248;teplasser og samhandlingsarenaer </a> </td>
											    <td> <a href="../elements/bf3f2129-0085-4dcb-977e-e9032517c424.html" target="element" class="i18n-elementtype-CourseOfAction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4ec297eb-8ed7-4711-9c3a-051d23939410.html" target="element"> Samhandling med fagmilj&#248;ene </a> </td>
											    <td> <a href="../elements/4ec297eb-8ed7-4711-9c3a-051d23939410.html" target="element" class="i18n-elementtype-CourseOfAction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b270f8d6-05cf-4fa5-9133-fdb9339b2f35.html" target="element"> Innkj&#248;psportalen 104 </a> </td>
											    <td> <a href="../elements/b270f8d6-05cf-4fa5-9133-fdb9339b2f35.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4998c7ab-475e-490e-b7b4-f489dcb17b41.html" target="element"> API </a> </td>
											    <td> <a href="../elements/4998c7ab-475e-490e-b7b4-f489dcb17b41.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5e581ea4-e576-42e7-b983-d94f4675a7b1.html" target="element"> Integrasjon </a> </td>
											    <td> <a href="../elements/5e581ea4-e576-42e7-b983-d94f4675a7b1.html" target="element" class="i18n-elementtype-ApplicationInteraction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d3365882-8f8f-4de9-b647-950062302c0a.html" target="element"> BP2 - Beslutte oppstart av planleggingsfasen </a> </td>
											    <td> <a href="../elements/d3365882-8f8f-4de9-b647-950062302c0a.html" target="element" class="i18n-elementtype-BusinessEvent"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/05f3f650-8cbd-443f-a1a4-e969582d9762.html" target="element"> Prosjektgruppe </a> </td>
											    <td> <a href="../elements/05f3f650-8cbd-443f-a1a4-e969582d9762.html" target="element" class="i18n-elementtype-BusinessCollaboration"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/8ad9fa2c-3d08-458f-859b-e7b11b21c017.html" target="element"> Jurist </a> </td>
													    <td> <a href="../elements/8ad9fa2c-3d08-458f-859b-e7b11b21c017.html" target="element" class="i18n-elementtype-Resource"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/4ab92579-6cfc-4aa0-aaa6-501f43f61d7f.html" target="element"> Prosjektleder </a> </td>
													    <td> <a href="../elements/4ab92579-6cfc-4aa0-aaa6-501f43f61d7f.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/b3e91de9-d426-41bf-918e-fd85ec0a2742.html" target="element"> Prosjektdeltaker (intern) </a> </td>
													    <td> <a href="../elements/b3e91de9-d426-41bf-918e-fd85ec0a2742.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/80b95750-dc0a-46e4-af45-3ad22945a4d8.html" target="element"> Prosjektdeltaker (ekstern) </a> </td>
													    <td> <a href="../elements/80b95750-dc0a-46e4-af45-3ad22945a4d8.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/bf8ce0fc-be89-4eed-b7df-80b88718ba9e.html" target="element"> Prosjektleder </a> </td>
													    <td> <a href="../elements/bf8ce0fc-be89-4eed-b7df-80b88718ba9e.html" target="element" class="i18n-elementtype-Resource"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/696b4d4f-2dd9-4f8f-9f9c-dc6dfa7ded01.html" target="element"> Spesialist - Fag </a> </td>
													    <td> <a href="../elements/696b4d4f-2dd9-4f8f-9f9c-dc6dfa7ded01.html" target="element" class="i18n-elementtype-Resource"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/c3dcf782-5d72-4525-bc6e-23f525a7c7f1.html" target="element"> Visma Min Tid </a> </td>
											    <td> <a href="../elements/c3dcf782-5d72-4525-bc6e-23f525a7c7f1.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/214f3a39-a6f6-46cc-9151-74a368807fc2.html" target="element"> Integrasjon 102 </a> </td>
											    <td> <a href="../elements/214f3a39-a6f6-46cc-9151-74a368807fc2.html" target="element" class="i18n-elementtype-ApplicationInteraction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b799a714-2104-4d1f-94ce-fb4b2cb77f7b.html" target="element"> Prosjektliste </a> </td>
											    <td> <a href="../elements/b799a714-2104-4d1f-94ce-fb4b2cb77f7b.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/171d1e5a-a88a-4711-9ef5-a8925cc6d9c8.html" target="element"> Brukerflate - Prosjekt </a> </td>
											    <td> <a href="../elements/171d1e5a-a88a-4711-9ef5-a8925cc6d9c8.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/7d0aa8b3-6d57-4268-ba5a-920c17346e36.html" target="element"> Office 365 Project Online </a> </td>
													    <td> <a href="../elements/7d0aa8b3-6d57-4268-ba5a-920c17346e36.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/cb11869c-32df-48b8-8ae4-61994ff037ee.html" target="element"> Personalportalen </a> </td>
													    <td> <a href="../elements/cb11869c-32df-48b8-8ae4-61994ff037ee.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/37727927-d004-4dfc-997a-23af61567113.html" target="element"> Office 365 Tilgangsportal </a> </td>
													    <td> <a href="../elements/37727927-d004-4dfc-997a-23af61567113.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/3e7cce26-354a-4cd1-8ca7-9365b703e3e8.html" target="element"> Office 365 Prosjekt Desktop </a> </td>
													    <td> <a href="../elements/3e7cce26-354a-4cd1-8ca7-9365b703e3e8.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/4241e4f2-4f2b-4450-bdfc-0c3e7aa3ec47.html" target="element"> Innkj&#248;psportalen </a> </td>
													    <td> <a href="../elements/4241e4f2-4f2b-4450-bdfc-0c3e7aa3ec47.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/663d1428-32b9-471b-824f-0b4dadb00a0d.html" target="element"> SFTP </a> </td>
											    <td> <a href="../elements/663d1428-32b9-471b-824f-0b4dadb00a0d.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/afd5c37a-ce03-46bd-8354-b22582dd54d5.html" target="element"> CDS </a> </td>
											    <td> <a href="../elements/afd5c37a-ce03-46bd-8354-b22582dd54d5.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/5d292e1c-f1e1-47ec-9720-7cc48a7dbfa1.html" target="element"> Prosjektportef&#248;lje (master) </a> </td>
													    <td> <a href="../elements/5d292e1c-f1e1-47ec-9720-7cc48a7dbfa1.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/9b5a7769-c62e-4419-8a06-47b9e79d2d9d.html" target="element"> Risikoregister (anskaffelser) </a> </td>
													    <td> <a href="../elements/9b5a7769-c62e-4419-8a06-47b9e79d2d9d.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/367875eb-0ea2-433e-ae61-c26861286c2e.html" target="element"> Prosjektportef&#248;lje </a> </td>
													    <td> <a href="../elements/367875eb-0ea2-433e-ae61-c26861286c2e.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/119aecf4-beda-42e1-a7d2-ead9b4bd75a5.html" target="element"> Azure SQL </a> </td>
											    <td> <a href="../elements/119aecf4-beda-42e1-a7d2-ead9b4bd75a5.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/78bb1f32-d81b-416f-8bfb-7b55f0b7f681.html" target="element"> Anskaffelser </a> </td>
													    <td> <a href="../elements/78bb1f32-d81b-416f-8bfb-7b55f0b7f681.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/fcc3358c-d771-4996-8ace-30bd2b7fc258.html" target="element"> Azure API Mgmt </a> </td>
											    <td> <a href="../elements/fcc3358c-d771-4996-8ace-30bd2b7fc258.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/22f92b85-8758-4941-b4a9-b3b8d8d8e672.html" target="element"> API </a> </td>
													    <td> <a href="../elements/22f92b85-8758-4941-b4a9-b3b8d8d8e672.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/e9cf73d6-c0af-494c-b7c5-acd5aab4e281.html" target="element"> API </a> </td>
													    <td> <a href="../elements/e9cf73d6-c0af-494c-b7c5-acd5aab4e281.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/08f9100c-0269-42d4-b548-f4fb4ff5dfca.html" target="element"> Visma Buisiness </a> </td>
											    <td> <a href="../elements/08f9100c-0269-42d4-b548-f4fb4ff5dfca.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2d589993-120d-4ff2-b978-14d472fa2a18.html" target="element"> API 101 </a> </td>
											    <td> <a href="../elements/2d589993-120d-4ff2-b978-14d472fa2a18.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/27d005fb-2c7f-4b09-b231-b8e50da6c613.html" target="element"> Integrasjon 101 </a> </td>
											    <td> <a href="../elements/27d005fb-2c7f-4b09-b231-b8e50da6c613.html" target="element" class="i18n-elementtype-ApplicationInteraction"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/b08ffafd-5ab2-436a-ac5c-785fe937c5ed.html" target="element">  </a> </td>
																		<td> <a href="../elements/b08ffafd-5ab2-436a-ac5c-785fe937c5ed.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/2e0ea489-62e9-4d09-b2f9-4aac10840c4e.html" target="element"> Involvere eksterne ressurser i gjennomf&#248;ring av anskaffelse </a> </td>
																		<td> <a href="../elements/bf3f2129-0085-4dcb-977e-e9032517c424.html" target="element"> M&#248;teplasser og samhandlingsarenaer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/cf34ddd7-7b0a-4ad1-be88-c90b2e40f066.html" target="element">  </a> </td>
																		<td> <a href="../elements/cf34ddd7-7b0a-4ad1-be88-c90b2e40f066.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/2e0ea489-62e9-4d09-b2f9-4aac10840c4e.html" target="element"> Involvere eksterne ressurser i gjennomf&#248;ring av anskaffelse </a> </td>
																		<td> <a href="../elements/4ec297eb-8ed7-4711-9c3a-051d23939410.html" target="element"> Samhandling med fagmilj&#248;ene </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/800a34c8-364d-452e-b285-01305759a6ff.html" target="element">  </a> </td>
																				<td> <a href="../elements/800a34c8-364d-452e-b285-01305759a6ff.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/0227650f-541d-4b6e-a459-9a1ac498ea4a.html" target="element"> P2 Etablere prosjektgruppe </a> </td>
																				<td> <a href="../elements/ba823433-846d-49bd-9ca8-b9ee55f51a5c.html" target="element"> B2B Gjesteinvitasjon </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/5b65bf3f-9e69-4c6e-866a-537a15b25584.html" target="element">  </a> </td>
																				<td> <a href="../elements/5b65bf3f-9e69-4c6e-866a-537a15b25584.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/0227650f-541d-4b6e-a459-9a1ac498ea4a.html" target="element"> P2 Etablere prosjektgruppe </a> </td>
																				<td> <a href="../elements/009d2bbb-dcd6-4af4-9794-0dfd233e8256.html" target="element"> P2 Oppstartsm&#248;te </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/aa9a8052-6260-4f46-aa03-bc0f88f9aa10.html" target="element"> realization </a> </td>
																				<td> <a href="../elements/aa9a8052-6260-4f46-aa03-bc0f88f9aa10.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/009d2bbb-dcd6-4af4-9794-0dfd233e8256.html" target="element"> P2 Oppstartsm&#248;te </a> </td>
																				<td> <a href="../elements/2e0ea489-62e9-4d09-b2f9-4aac10840c4e.html" target="element"> Involvere eksterne ressurser i gjennomf&#248;ring av anskaffelse </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/01965efa-901d-4f5b-821e-412a16e56a25.html" target="element">  </a> </td>
																				<td> <a href="../elements/01965efa-901d-4f5b-821e-412a16e56a25.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/009d2bbb-dcd6-4af4-9794-0dfd233e8256.html" target="element"> P2 Oppstartsm&#248;te </a> </td>
																				<td> <a href="../elements/05f3f650-8cbd-443f-a1a4-e969582d9762.html" target="element"> Prosjektgruppe </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/9cf0a48e-0a7e-493e-8fbe-3cd1b4063a43.html" target="element">  </a> </td>
																		<td> <a href="../elements/9cf0a48e-0a7e-493e-8fbe-3cd1b4063a43.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/0df0f536-de74-4381-9175-3515b917a58a.html" target="element"> Project on the Web </a> </td>
																		<td> <a href="../elements/367875eb-0ea2-433e-ae61-c26861286c2e.html" target="element"> Prosjektportef&#248;lje </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/4baf8a82-098c-48f9-819d-bdacf2e1335e.html" target="element">  </a> </td>
																		<td> <a href="../elements/4baf8a82-098c-48f9-819d-bdacf2e1335e.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/85206b06-d2f2-4ca1-b651-a83c7eebf01c.html" target="element"> Microsoft B2B </a> </td>
																		<td> <a href="../elements/0df0f536-de74-4381-9175-3515b917a58a.html" target="element"> Project on the Web </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6061a40c-1063-464c-91df-f4e332fc56f1.html" target="element">  </a> </td>
																		<td> <a href="../elements/6061a40c-1063-464c-91df-f4e332fc56f1.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6242735d-14d5-4fa7-8194-e03ca2e71d7c.html" target="element"> M&#229;l 1: S&#248;ml&#248;st og tett samspill med helseforetakene </a> </td>
																		<td> <a href="../elements/bf3f2129-0085-4dcb-977e-e9032517c424.html" target="element"> M&#248;teplasser og samhandlingsarenaer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/58d50dad-29a2-4530-848d-37421028b671.html" target="element">  </a> </td>
																		<td> <a href="../elements/58d50dad-29a2-4530-848d-37421028b671.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/6242735d-14d5-4fa7-8194-e03ca2e71d7c.html" target="element"> M&#229;l 1: S&#248;ml&#248;st og tett samspill med helseforetakene </a> </td>
																		<td> <a href="../elements/4ec297eb-8ed7-4711-9c3a-051d23939410.html" target="element"> Samhandling med fagmilj&#248;ene </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/e45f955e-97bf-4c91-a946-c2483689a21a.html" target="element">  </a> </td>
																		<td> <a href="../elements/e45f955e-97bf-4c91-a946-c2483689a21a.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/b270f8d6-05cf-4fa5-9133-fdb9339b2f35.html" target="element"> Innkj&#248;psportalen 104 </a> </td>
																		<td> <a href="../elements/78bb1f32-d81b-416f-8bfb-7b55f0b7f681.html" target="element"> Anskaffelser </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/ef78a601-2fb2-4891-951f-886b30938605.html" target="element">  </a> </td>
																		<td> <a href="../elements/ef78a601-2fb2-4891-951f-886b30938605.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/4998c7ab-475e-490e-b7b4-f489dcb17b41.html" target="element"> API </a> </td>
																		<td> <a href="../elements/b270f8d6-05cf-4fa5-9133-fdb9339b2f35.html" target="element"> Innkj&#248;psportalen 104 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b313115f-827b-4a4e-97d0-e014a01ffc60.html" target="element">  </a> </td>
																		<td> <a href="../elements/b313115f-827b-4a4e-97d0-e014a01ffc60.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/4998c7ab-475e-490e-b7b4-f489dcb17b41.html" target="element"> API </a> </td>
																		<td> <a href="../elements/5e581ea4-e576-42e7-b983-d94f4675a7b1.html" target="element"> Integrasjon </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/3a0280a4-da2e-46d4-9c2f-ea81f1a04cb1.html" target="element">  </a> </td>
																		<td> <a href="../elements/3a0280a4-da2e-46d4-9c2f-ea81f1a04cb1.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/d3365882-8f8f-4de9-b647-950062302c0a.html" target="element"> BP2 - Beslutte oppstart av planleggingsfasen </a> </td>
																		<td> <a href="../elements/0227650f-541d-4b6e-a459-9a1ac498ea4a.html" target="element"> P2 Etablere prosjektgruppe </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/0ec9ac4f-21bd-43e0-901b-7a8c9df0a444.html" target="element">  </a> </td>
																		<td> <a href="../elements/0ec9ac4f-21bd-43e0-901b-7a8c9df0a444.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/05f3f650-8cbd-443f-a1a4-e969582d9762.html" target="element"> Prosjektgruppe </a> </td>
																		<td> <a href="../elements/696b4d4f-2dd9-4f8f-9f9c-dc6dfa7ded01.html" target="element"> Spesialist - Fag </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/61be823f-f4cf-4597-af76-e6efb312a174.html" target="element">  </a> </td>
																		<td> <a href="../elements/61be823f-f4cf-4597-af76-e6efb312a174.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/05f3f650-8cbd-443f-a1a4-e969582d9762.html" target="element"> Prosjektgruppe </a> </td>
																		<td> <a href="../elements/8ad9fa2c-3d08-458f-859b-e7b11b21c017.html" target="element"> Jurist </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3a3b0f2f-8553-48ca-8e7b-d70e5a9bdb8b.html" target="element">  </a> </td>
																		<td> <a href="../elements/3a3b0f2f-8553-48ca-8e7b-d70e5a9bdb8b.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/05f3f650-8cbd-443f-a1a4-e969582d9762.html" target="element"> Prosjektgruppe </a> </td>
																		<td> <a href="../elements/bf8ce0fc-be89-4eed-b7df-80b88718ba9e.html" target="element"> Prosjektleder </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6b8522dd-aeb2-440d-9239-c03a622003bf.html" target="element">  </a> </td>
																		<td> <a href="../elements/6b8522dd-aeb2-440d-9239-c03a622003bf.html" target="element" class="i18n-elementtype-AggregationRelationship"></a> </td>
																		<td> <a href="../elements/05f3f650-8cbd-443f-a1a4-e969582d9762.html" target="element"> Prosjektgruppe </a> </td>
																		<td> <a href="../elements/4ab92579-6cfc-4aa0-aaa6-501f43f61d7f.html" target="element"> Prosjektleder </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f3bde64d-b471-4f5a-9c62-7bfd8a39197a.html" target="element">  </a> </td>
																		<td> <a href="../elements/f3bde64d-b471-4f5a-9c62-7bfd8a39197a.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/05f3f650-8cbd-443f-a1a4-e969582d9762.html" target="element"> Prosjektgruppe </a> </td>
																		<td> <a href="../elements/b3e91de9-d426-41bf-918e-fd85ec0a2742.html" target="element"> Prosjektdeltaker (intern) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/078d3fdc-14ee-4498-8383-3a2e591949e4.html" target="element">  </a> </td>
																		<td> <a href="../elements/078d3fdc-14ee-4498-8383-3a2e591949e4.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/05f3f650-8cbd-443f-a1a4-e969582d9762.html" target="element"> Prosjektgruppe </a> </td>
																		<td> <a href="../elements/80b95750-dc0a-46e4-af45-3ad22945a4d8.html" target="element"> Prosjektdeltaker (ekstern) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c1b4a769-bc12-4895-aa53-c6f66cab5777.html" target="element">  </a> </td>
																		<td> <a href="../elements/c1b4a769-bc12-4895-aa53-c6f66cab5777.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/05f3f650-8cbd-443f-a1a4-e969582d9762.html" target="element"> Prosjektgruppe </a> </td>
																		<td> <a href="../elements/2e0ea489-62e9-4d09-b2f9-4aac10840c4e.html" target="element"> Involvere eksterne ressurser i gjennomf&#248;ring av anskaffelse </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/39e9f145-fbd3-4565-bf56-97d0ea195074.html" target="element">  </a> </td>
																				<td> <a href="../elements/39e9f145-fbd3-4565-bf56-97d0ea195074.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/4ab92579-6cfc-4aa0-aaa6-501f43f61d7f.html" target="element"> Prosjektleder </a> </td>
																				<td> <a href="../elements/bf8ce0fc-be89-4eed-b7df-80b88718ba9e.html" target="element"> Prosjektleder </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/54664d55-13f4-4904-b25c-53a2b213deba.html" target="element">  </a> </td>
																				<td> <a href="../elements/54664d55-13f4-4904-b25c-53a2b213deba.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/b3e91de9-d426-41bf-918e-fd85ec0a2742.html" target="element"> Prosjektdeltaker (intern) </a> </td>
																				<td> <a href="../elements/8ad9fa2c-3d08-458f-859b-e7b11b21c017.html" target="element"> Jurist </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/c2b99817-83e1-44ad-8b00-65095bed368f.html" target="element">  </a> </td>
																				<td> <a href="../elements/c2b99817-83e1-44ad-8b00-65095bed368f.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/80b95750-dc0a-46e4-af45-3ad22945a4d8.html" target="element"> Prosjektdeltaker (ekstern) </a> </td>
																				<td> <a href="../elements/696b4d4f-2dd9-4f8f-9f9c-dc6dfa7ded01.html" target="element"> Spesialist - Fag </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/acd8841c-9357-4980-b65e-8840628f8040.html" target="element">  </a> </td>
																				<td> <a href="../elements/acd8841c-9357-4980-b65e-8840628f8040.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/bf8ce0fc-be89-4eed-b7df-80b88718ba9e.html" target="element"> Prosjektleder </a> </td>
																				<td> <a href="../elements/2e0ea489-62e9-4d09-b2f9-4aac10840c4e.html" target="element"> Involvere eksterne ressurser i gjennomf&#248;ring av anskaffelse </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/8996b2f2-1193-4381-abb6-308d3bce3ff8.html" target="element">  </a> </td>
																		<td> <a href="../elements/8996b2f2-1193-4381-abb6-308d3bce3ff8.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/c3dcf782-5d72-4525-bc6e-23f525a7c7f1.html" target="element"> Visma Min Tid </a> </td>
																		<td> <a href="../elements/b799a714-2104-4d1f-94ce-fb4b2cb77f7b.html" target="element"> Prosjektliste </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b3fec6c4-16e6-4f57-a170-237d36678eff.html" target="element">  </a> </td>
																		<td> <a href="../elements/b3fec6c4-16e6-4f57-a170-237d36678eff.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/c3dcf782-5d72-4525-bc6e-23f525a7c7f1.html" target="element"> Visma Min Tid </a> </td>
																		<td> <a href="../elements/663d1428-32b9-471b-824f-0b4dadb00a0d.html" target="element"> SFTP </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/d3ab14a2-a2f3-4fe8-89cc-e6b7a1ec19d1.html" target="element">  </a> </td>
																		<td> <a href="../elements/d3ab14a2-a2f3-4fe8-89cc-e6b7a1ec19d1.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/171d1e5a-a88a-4711-9ef5-a8925cc6d9c8.html" target="element"> Brukerflate - Prosjekt </a> </td>
																		<td> <a href="../elements/7d0aa8b3-6d57-4268-ba5a-920c17346e36.html" target="element"> Office 365 Project Online </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5c79a5e2-2dcf-4b8e-bbce-df0f83165a01.html" target="element">  </a> </td>
																		<td> <a href="../elements/5c79a5e2-2dcf-4b8e-bbce-df0f83165a01.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/171d1e5a-a88a-4711-9ef5-a8925cc6d9c8.html" target="element"> Brukerflate - Prosjekt </a> </td>
																		<td> <a href="../elements/cb11869c-32df-48b8-8ae4-61994ff037ee.html" target="element"> Personalportalen </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8b8c758b-cc81-4345-b928-0a3fe81cd04f.html" target="element">  </a> </td>
																		<td> <a href="../elements/8b8c758b-cc81-4345-b928-0a3fe81cd04f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/171d1e5a-a88a-4711-9ef5-a8925cc6d9c8.html" target="element"> Brukerflate - Prosjekt </a> </td>
																		<td> <a href="../elements/3e7cce26-354a-4cd1-8ca7-9365b703e3e8.html" target="element"> Office 365 Prosjekt Desktop </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9750bd62-cdaf-4daa-b813-5c7cac126fd4.html" target="element">  </a> </td>
																		<td> <a href="../elements/9750bd62-cdaf-4daa-b813-5c7cac126fd4.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/171d1e5a-a88a-4711-9ef5-a8925cc6d9c8.html" target="element"> Brukerflate - Prosjekt </a> </td>
																		<td> <a href="../elements/37727927-d004-4dfc-997a-23af61567113.html" target="element"> Office 365 Tilgangsportal </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/54558b70-875c-49ad-9d61-259dd90524b3.html" target="element">  </a> </td>
																		<td> <a href="../elements/54558b70-875c-49ad-9d61-259dd90524b3.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/171d1e5a-a88a-4711-9ef5-a8925cc6d9c8.html" target="element"> Brukerflate - Prosjekt </a> </td>
																		<td> <a href="../elements/05f3f650-8cbd-443f-a1a4-e969582d9762.html" target="element"> Prosjektgruppe </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0918feec-371b-4c67-b4bb-db7f3fe445fb.html" target="element">  </a> </td>
																		<td> <a href="../elements/0918feec-371b-4c67-b4bb-db7f3fe445fb.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/171d1e5a-a88a-4711-9ef5-a8925cc6d9c8.html" target="element"> Brukerflate - Prosjekt </a> </td>
																		<td> <a href="../elements/4241e4f2-4f2b-4450-bdfc-0c3e7aa3ec47.html" target="element"> Innkj&#248;psportalen </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/fe56dcbc-28a5-48b3-ac5b-b0f30c5a1f94.html" target="element">  </a> </td>
																				<td> <a href="../elements/fe56dcbc-28a5-48b3-ac5b-b0f30c5a1f94.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/7d0aa8b3-6d57-4268-ba5a-920c17346e36.html" target="element"> Office 365 Project Online </a> </td>
																				<td> <a href="../elements/0df0f536-de74-4381-9175-3515b917a58a.html" target="element"> Project on the Web </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/2f0edde7-bffd-44f3-a9c0-fd5093b732fc.html" target="element">  </a> </td>
																				<td> <a href="../elements/2f0edde7-bffd-44f3-a9c0-fd5093b732fc.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/cb11869c-32df-48b8-8ae4-61994ff037ee.html" target="element"> Personalportalen </a> </td>
																				<td> <a href="../elements/c3dcf782-5d72-4525-bc6e-23f525a7c7f1.html" target="element"> Visma Min Tid </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/abcaa529-ffff-45d4-9270-ba7086e26ca2.html" target="element">  </a> </td>
																				<td> <a href="../elements/abcaa529-ffff-45d4-9270-ba7086e26ca2.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/37727927-d004-4dfc-997a-23af61567113.html" target="element"> Office 365 Tilgangsportal </a> </td>
																				<td> <a href="../elements/85206b06-d2f2-4ca1-b651-a83c7eebf01c.html" target="element"> Microsoft B2B </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/07643c8a-a679-451f-8d82-577e9d3d9c09.html" target="element">  </a> </td>
																				<td> <a href="../elements/07643c8a-a679-451f-8d82-577e9d3d9c09.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/3e7cce26-354a-4cd1-8ca7-9365b703e3e8.html" target="element"> Office 365 Prosjekt Desktop </a> </td>
																				<td> <a href="../elements/0df0f536-de74-4381-9175-3515b917a58a.html" target="element"> Project on the Web </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/2863f894-630f-4d6c-a637-6151edb02541.html" target="element">  </a> </td>
																				<td> <a href="../elements/2863f894-630f-4d6c-a637-6151edb02541.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/4241e4f2-4f2b-4450-bdfc-0c3e7aa3ec47.html" target="element"> Innkj&#248;psportalen </a> </td>
																				<td> <a href="../elements/b270f8d6-05cf-4fa5-9133-fdb9339b2f35.html" target="element"> Innkj&#248;psportalen 104 </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/db8d17e2-525b-4a48-9122-d328b8f78203.html" target="element">  </a> </td>
																		<td> <a href="../elements/db8d17e2-525b-4a48-9122-d328b8f78203.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/663d1428-32b9-471b-824f-0b4dadb00a0d.html" target="element"> SFTP </a> </td>
																		<td> <a href="../elements/214f3a39-a6f6-46cc-9151-74a368807fc2.html" target="element"> Integrasjon 102 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/60e6771e-ae9b-41df-8932-419b52cd210c.html" target="element">  </a> </td>
																		<td> <a href="../elements/60e6771e-ae9b-41df-8932-419b52cd210c.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																		<td> <a href="../elements/663d1428-32b9-471b-824f-0b4dadb00a0d.html" target="element"> SFTP </a> </td>
																		<td> <a href="../elements/27d005fb-2c7f-4b09-b231-b8e50da6c613.html" target="element"> Integrasjon 101 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/af661de0-6815-4ad0-bfab-88634f198292.html" target="element">  </a> </td>
																		<td> <a href="../elements/af661de0-6815-4ad0-bfab-88634f198292.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/afd5c37a-ce03-46bd-8354-b22582dd54d5.html" target="element"> CDS </a> </td>
																		<td> <a href="../elements/5d292e1c-f1e1-47ec-9720-7cc48a7dbfa1.html" target="element"> Prosjektportef&#248;lje (master) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5b7d4c0d-0d7d-4195-8eda-16f3560a4719.html" target="element">  </a> </td>
																		<td> <a href="../elements/5b7d4c0d-0d7d-4195-8eda-16f3560a4719.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/afd5c37a-ce03-46bd-8354-b22582dd54d5.html" target="element"> CDS </a> </td>
																		<td> <a href="../elements/9b5a7769-c62e-4419-8a06-47b9e79d2d9d.html" target="element"> Risikoregister (anskaffelser) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/26f762bb-1a55-4276-9b73-b2de5a6d1bfc.html" target="element">  </a> </td>
																		<td> <a href="../elements/26f762bb-1a55-4276-9b73-b2de5a6d1bfc.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/afd5c37a-ce03-46bd-8354-b22582dd54d5.html" target="element"> CDS </a> </td>
																		<td> <a href="../elements/367875eb-0ea2-433e-ae61-c26861286c2e.html" target="element"> Prosjektportef&#248;lje </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8f0c418a-4cb3-4d74-bd10-dd7e99332d33.html" target="element">  </a> </td>
																		<td> <a href="../elements/8f0c418a-4cb3-4d74-bd10-dd7e99332d33.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/afd5c37a-ce03-46bd-8354-b22582dd54d5.html" target="element"> CDS </a> </td>
																		<td> <a href="../elements/22f92b85-8758-4941-b4a9-b3b8d8d8e672.html" target="element"> API </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/35d25baa-8e0f-4691-811d-e769232e8b34.html" target="element">  </a> </td>
																		<td> <a href="../elements/35d25baa-8e0f-4691-811d-e769232e8b34.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/afd5c37a-ce03-46bd-8354-b22582dd54d5.html" target="element"> CDS </a> </td>
																		<td> <a href="../elements/e9cf73d6-c0af-494c-b7c5-acd5aab4e281.html" target="element"> API </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/df950c4f-d9e2-4afa-b1f7-4d9ca65984d5.html" target="element">  </a> </td>
																		<td> <a href="../elements/df950c4f-d9e2-4afa-b1f7-4d9ca65984d5.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/119aecf4-beda-42e1-a7d2-ead9b4bd75a5.html" target="element"> Azure SQL </a> </td>
																		<td> <a href="../elements/78bb1f32-d81b-416f-8bfb-7b55f0b7f681.html" target="element"> Anskaffelser </a> </td>
																	</tr>

											
																			<tr>
																				<td> <a href="../elements/2e836e93-3bff-4dcf-b655-8c01a4686525.html" target="element">  </a> </td>
																				<td> <a href="../elements/2e836e93-3bff-4dcf-b655-8c01a4686525.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/22f92b85-8758-4941-b4a9-b3b8d8d8e672.html" target="element"> API </a> </td>
																				<td> <a href="../elements/5e581ea4-e576-42e7-b983-d94f4675a7b1.html" target="element"> Integrasjon </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/34e49fb4-aef8-4638-95cd-5f9bc744033a.html" target="element">  </a> </td>
																				<td> <a href="../elements/34e49fb4-aef8-4638-95cd-5f9bc744033a.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/22f92b85-8758-4941-b4a9-b3b8d8d8e672.html" target="element"> API </a> </td>
																				<td> <a href="../elements/fcc3358c-d771-4996-8ace-30bd2b7fc258.html" target="element"> Azure API Mgmt </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/bf249f9a-8fa4-4874-a89b-41f948ad5ba5.html" target="element">  </a> </td>
																				<td> <a href="../elements/bf249f9a-8fa4-4874-a89b-41f948ad5ba5.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/e9cf73d6-c0af-494c-b7c5-acd5aab4e281.html" target="element"> API </a> </td>
																				<td> <a href="../elements/214f3a39-a6f6-46cc-9151-74a368807fc2.html" target="element"> Integrasjon 102 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/1a5c9280-00fb-4ea0-aed5-0749564d3cf8.html" target="element">  </a> </td>
																				<td> <a href="../elements/1a5c9280-00fb-4ea0-aed5-0749564d3cf8.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/e9cf73d6-c0af-494c-b7c5-acd5aab4e281.html" target="element"> API </a> </td>
																				<td> <a href="../elements/fcc3358c-d771-4996-8ace-30bd2b7fc258.html" target="element"> Azure API Mgmt </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/b0229fcd-e357-4790-8f01-bf6b3975ef6c.html" target="element">  </a> </td>
																		<td> <a href="../elements/b0229fcd-e357-4790-8f01-bf6b3975ef6c.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/2d589993-120d-4ff2-b978-14d472fa2a18.html" target="element"> API 101 </a> </td>
																		<td> <a href="../elements/08f9100c-0269-42d4-b548-f4fb4ff5dfca.html" target="element"> Visma Buisiness </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c63e241c-33f9-487b-9df9-b2cecfae5d18.html" target="element">  </a> </td>
																		<td> <a href="../elements/c63e241c-33f9-487b-9df9-b2cecfae5d18.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/2d589993-120d-4ff2-b978-14d472fa2a18.html" target="element"> API 101 </a> </td>
																		<td> <a href="../elements/27d005fb-2c7f-4b09-b231-b8e50da6c613.html" target="element"> Integrasjon 101 </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>