<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>IKT-Styringsmodell</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>IKT-Styringsmodell</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/4de9053a-614e-4a0a-b7ce-df183ed56cae.png" alt="IKT-Styringsmodell" usemap="#4de9053a-614e-4a0a-b7ce-df183ed56caemap"/>
			   <map name="4de9053a-614e-4a0a-b7ce-df183ed56caemap">
				  		<area shape="rect" coords="466,10,586,65" href="../elements/940ec9a4-1d85-475f-863e-980d191e00ea.html"  target="element">
				  		<area shape="rect" coords="202,10,322,65" href="../elements/caf1f25e-19be-4251-8316-1a096f76e5fa.html"  target="element">
				  		<area shape="rect" coords="706,10,826,65" href="../elements/1a0c1f7a-0cb2-4c86-83c4-5dbdc860aa26.html"  target="element">
				  		<area shape="rect" coords="706,388,826,443" href="../elements/df1abf0d-ff2f-4b2e-86bc-29427e0bb0fd.html"  target="element">
				  		<area shape="rect" coords="202,178,322,233" href="../elements/ee1e3c2b-3a84-4028-b466-ee66cafc66f4.html"  target="element">
				  		<area shape="rect" coords="202,298,322,353" href="../elements/282ecf15-5b2d-49c6-89fa-bc29de383e13.html"  target="element">
				  		<area shape="rect" coords="34,250,154,305" href="../elements/e40c53dc-a398-4c48-a186-8e7a5bbe415b.html"  target="element">
				  				<area shape="rect" coords="538,586,658,641" href="../elements/b1db36f6-164d-4114-8b72-5fd6f05c7409.html"  target="element">
				  				<area shape="rect" coords="538,514,658,569" href="../elements/94f3c99c-735c-4431-a17d-9cd246e67b74.html"  target="element">

				  		<area shape="rect" coords="538,466,658,659" href="../elements/746f3980-c6e9-44ab-9eb2-924946a01cef.html"  target="element">
				  		<area shape="rect" coords="622,298,742,353" href="../elements/2ae797dc-399d-4ab1-bc36-45f12d8dd2b4.html"  target="element">
				  		<area shape="rect" coords="790,298,910,353" href="../elements/65ed53ed-19f0-43e4-b10f-957ca15c4be8.html"  target="element">
				  		<area shape="rect" coords="706,178,826,233" href="../elements/b745bfac-dd2a-4006-8b03-00397930c63f.html"  target="element">
				  				<area shape="rect" coords="862,538,982,611" href="../elements/f3fe683f-cc0b-41ed-ab9f-780ae2a500a0.html"  target="element">

				  		<area shape="rect" coords="862,466,982,659" href="../elements/e53cfa18-ef3d-4894-998b-08e82899f1a9.html"  target="element">
				  				<area shape="rect" coords="514,754,634,809" href="../elements/6692ae8a-964c-4334-8161-b99afe8f6c5e.html"  target="element">
				  				<area shape="rect" coords="658,754,778,809" href="../elements/c1230933-88f1-48c8-80a7-60a56bd9d40b.html"  target="element">
				  				<area shape="rect" coords="802,754,922,809" href="../elements/207b7adc-ef90-44a7-8021-d75156b9370c.html"  target="element">
				  				<area shape="rect" coords="370,754,490,809" href="../elements/68954305-c4b0-4846-87f9-9619c21c6ac6.html"  target="element">
				  				<area shape="rect" coords="226,754,346,809" href="../elements/b04cd7a7-9d7a-4a62-9e93-253df39b6eb5.html"  target="element">
				  				<area shape="rect" coords="82,754,202,809" href="../elements/b1ecab9a-852a-4354-ba30-013facfeac6e.html"  target="element">

				  		<area shape="rect" coords="10,718,994,851" href="../elements/3f9efe50-ab00-48e6-8947-0fbb6d656880.html"  target="element">
				  		<area shape="rect" coords="382,334,502,389" href="../elements/2bb9056c-0db3-4a5c-831d-29a965b7ff74.html"  target="element">
				  		<area shape="rect" coords="382,250,502,305" href="../elements/0752d850-b979-46e4-a876-48a02f9970d1.html"  target="element">
				  		<area shape="rect" coords="34,334,154,389" href="../elements/f5db9178-4bf2-469a-8a89-c70da7b4be35.html"  target="element">
				  				<area shape="rect" coords="202,538,322,611" href="../elements/f1391097-98fe-44de-bbf3-8781780525b2.html"  target="element">

				  		<area shape="rect" coords="202,466,322,659" href="../elements/8a2f00a7-6381-416f-9226-630d7c41ea74.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/8a2f00a7-6381-416f-9226-630d7c41ea74.html" target="element"> IKT-Tjenesteutvikling </a> </td>
											    <td> <a href="../elements/8a2f00a7-6381-416f-9226-630d7c41ea74.html" target="element" class="i18n-elementtype-BusinessCollaboration"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/f1391097-98fe-44de-bbf3-8781780525b2.html" target="element"> Situasjonsforst&#229;else omkring muligheter og innovasjon </a> </td>
													    <td> <a href="../elements/f1391097-98fe-44de-bbf3-8781780525b2.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/f5db9178-4bf2-469a-8a89-c70da7b4be35.html" target="element"> Forvaltnig </a> </td>
											    <td> <a href="../elements/f5db9178-4bf2-469a-8a89-c70da7b4be35.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0752d850-b979-46e4-a876-48a02f9970d1.html" target="element"> Analyse </a> </td>
											    <td> <a href="../elements/0752d850-b979-46e4-a876-48a02f9970d1.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2bb9056c-0db3-4a5c-831d-29a965b7ff74.html" target="element"> Anskaffelse </a> </td>
											    <td> <a href="../elements/2bb9056c-0db3-4a5c-831d-29a965b7ff74.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3f9efe50-ab00-48e6-8947-0fbb6d656880.html" target="element"> IKT Tjenestestyring </a> </td>
											    <td> <a href="../elements/3f9efe50-ab00-48e6-8947-0fbb6d656880.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/b1ecab9a-852a-4354-ba30-013facfeac6e.html" target="element"> ITIL Service Portfolio Management </a> </td>
													    <td> <a href="../elements/b1ecab9a-852a-4354-ba30-013facfeac6e.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/b04cd7a7-9d7a-4a62-9e93-253df39b6eb5.html" target="element"> ITIL Business Relationship Management </a> </td>
													    <td> <a href="../elements/b04cd7a7-9d7a-4a62-9e93-253df39b6eb5.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/68954305-c4b0-4846-87f9-9619c21c6ac6.html" target="element"> ITIL Strategy Management </a> </td>
													    <td> <a href="../elements/68954305-c4b0-4846-87f9-9619c21c6ac6.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/207b7adc-ef90-44a7-8021-d75156b9370c.html" target="element"> ITIL Demand Management </a> </td>
													    <td> <a href="../elements/207b7adc-ef90-44a7-8021-d75156b9370c.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/c1230933-88f1-48c8-80a7-60a56bd9d40b.html" target="element"> ITIL Security Management </a> </td>
													    <td> <a href="../elements/c1230933-88f1-48c8-80a7-60a56bd9d40b.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/6692ae8a-964c-4334-8161-b99afe8f6c5e.html" target="element"> ITIL Financial Management </a> </td>
													    <td> <a href="../elements/6692ae8a-964c-4334-8161-b99afe8f6c5e.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/e53cfa18-ef3d-4894-998b-08e82899f1a9.html" target="element"> IKT-tjenesteforvaltning </a> </td>
											    <td> <a href="../elements/e53cfa18-ef3d-4894-998b-08e82899f1a9.html" target="element" class="i18n-elementtype-BusinessCollaboration"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/f3fe683f-cc0b-41ed-ab9f-780ae2a500a0.html" target="element"> Situasjonsforst&#229;else omkring risiko og s&#229;rbarhetet </a> </td>
													    <td> <a href="../elements/f3fe683f-cc0b-41ed-ab9f-780ae2a500a0.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/b745bfac-dd2a-4006-8b03-00397930c63f.html" target="element"> IKT-Sikkerhetsr&#229;d </a> </td>
											    <td> <a href="../elements/b745bfac-dd2a-4006-8b03-00397930c63f.html" target="element" class="i18n-elementtype-BusinessInteraction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/65ed53ed-19f0-43e4-b10f-957ca15c4be8.html" target="element"> Personvernombud </a> </td>
											    <td> <a href="../elements/65ed53ed-19f0-43e4-b10f-957ca15c4be8.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2ae797dc-399d-4ab1-bc36-45f12d8dd2b4.html" target="element"> Informasjonssikkerhetsansvarlig </a> </td>
											    <td> <a href="../elements/2ae797dc-399d-4ab1-bc36-45f12d8dd2b4.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/746f3980-c6e9-44ab-9eb2-924946a01cef.html" target="element"> SIAM </a> </td>
											    <td> <a href="../elements/746f3980-c6e9-44ab-9eb2-924946a01cef.html" target="element" class="i18n-elementtype-BusinessInteraction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/94f3c99c-735c-4431-a17d-9cd246e67b74.html" target="element"> H&#229;ndtering av leveransemodeller </a> </td>
													    <td> <a href="../elements/94f3c99c-735c-4431-a17d-9cd246e67b74.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/b1db36f6-164d-4114-8b72-5fd6f05c7409.html" target="element"> Leverand&#248;rstyring </a> </td>
													    <td> <a href="../elements/b1db36f6-164d-4114-8b72-5fd6f05c7409.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/e40c53dc-a398-4c48-a186-8e7a5bbe415b.html" target="element"> Fellesfunksjoner </a> </td>
											    <td> <a href="../elements/e40c53dc-a398-4c48-a186-8e7a5bbe415b.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/282ecf15-5b2d-49c6-89fa-bc29de383e13.html" target="element"> Hovedomr&#229;dekoordinatorer </a> </td>
											    <td> <a href="../elements/282ecf15-5b2d-49c6-89fa-bc29de383e13.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ee1e3c2b-3a84-4028-b466-ee66cafc66f4.html" target="element"> IKT-Utviklingsr&#229;d </a> </td>
											    <td> <a href="../elements/ee1e3c2b-3a84-4028-b466-ee66cafc66f4.html" target="element" class="i18n-elementtype-BusinessInteraction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/df1abf0d-ff2f-4b2e-86bc-29427e0bb0fd.html" target="element"> Dokumentforvaltning </a> </td>
											    <td> <a href="../elements/df1abf0d-ff2f-4b2e-86bc-29427e0bb0fd.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1a0c1f7a-0cb2-4c86-83c4-5dbdc860aa26.html" target="element"> Nasjonalt cybersikkerhetssenter (NCSC) </a> </td>
											    <td> <a href="../elements/1a0c1f7a-0cb2-4c86-83c4-5dbdc860aa26.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/caf1f25e-19be-4251-8316-1a096f76e5fa.html" target="element"> Regional tjenesteforvaltning (ERP/ annet) </a> </td>
											    <td> <a href="../elements/caf1f25e-19be-4251-8316-1a096f76e5fa.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/940ec9a4-1d85-475f-863e-980d191e00ea.html" target="element"> Strategisk samarbeid </a> </td>
											    <td> <a href="../elements/940ec9a4-1d85-475f-863e-980d191e00ea.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/e142f962-02f7-4a21-b4f4-90ac42764dda.html" target="element">  </a> </td>
																		<td> <a href="../elements/e142f962-02f7-4a21-b4f4-90ac42764dda.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/8a2f00a7-6381-416f-9226-630d7c41ea74.html" target="element"> IKT-Tjenesteutvikling </a> </td>
																		<td> <a href="../elements/f1391097-98fe-44de-bbf3-8781780525b2.html" target="element"> Situasjonsforst&#229;else omkring muligheter og innovasjon </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/0a7719e2-9e57-4cd6-a241-cd1a7ecbbfe8.html" target="element">  </a> </td>
																		<td> <a href="../elements/0a7719e2-9e57-4cd6-a241-cd1a7ecbbfe8.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/f5db9178-4bf2-469a-8a89-c70da7b4be35.html" target="element"> Forvaltnig </a> </td>
																		<td> <a href="../elements/8a2f00a7-6381-416f-9226-630d7c41ea74.html" target="element"> IKT-Tjenesteutvikling </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/47bd6386-0c2f-461e-8a5a-2cb54d3b72dc.html" target="element">  </a> </td>
																		<td> <a href="../elements/47bd6386-0c2f-461e-8a5a-2cb54d3b72dc.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/0752d850-b979-46e4-a876-48a02f9970d1.html" target="element"> Analyse </a> </td>
																		<td> <a href="../elements/8a2f00a7-6381-416f-9226-630d7c41ea74.html" target="element"> IKT-Tjenesteutvikling </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6c8acdf6-cb7e-4827-901d-cf581d16592a.html" target="element">  </a> </td>
																		<td> <a href="../elements/6c8acdf6-cb7e-4827-901d-cf581d16592a.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																		<td> <a href="../elements/2bb9056c-0db3-4a5c-831d-29a965b7ff74.html" target="element"> Anskaffelse </a> </td>
																		<td> <a href="../elements/8a2f00a7-6381-416f-9226-630d7c41ea74.html" target="element"> IKT-Tjenesteutvikling </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/7ecbc8c3-62f4-4552-a802-65df270a1ef2.html" target="element">  </a> </td>
																		<td> <a href="../elements/7ecbc8c3-62f4-4552-a802-65df270a1ef2.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/3f9efe50-ab00-48e6-8947-0fbb6d656880.html" target="element"> IKT Tjenestestyring </a> </td>
																		<td> <a href="../elements/8a2f00a7-6381-416f-9226-630d7c41ea74.html" target="element"> IKT-Tjenesteutvikling </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4a9a9f11-5a2e-474e-a526-3505c1fdee5d.html" target="element">  </a> </td>
																		<td> <a href="../elements/4a9a9f11-5a2e-474e-a526-3505c1fdee5d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/3f9efe50-ab00-48e6-8947-0fbb6d656880.html" target="element"> IKT Tjenestestyring </a> </td>
																		<td> <a href="../elements/b1ecab9a-852a-4354-ba30-013facfeac6e.html" target="element"> ITIL Service Portfolio Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/71646dc3-9c4a-47dd-8c6e-6e93322f1927.html" target="element">  </a> </td>
																		<td> <a href="../elements/71646dc3-9c4a-47dd-8c6e-6e93322f1927.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/3f9efe50-ab00-48e6-8947-0fbb6d656880.html" target="element"> IKT Tjenestestyring </a> </td>
																		<td> <a href="../elements/b04cd7a7-9d7a-4a62-9e93-253df39b6eb5.html" target="element"> ITIL Business Relationship Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/de1a869e-4f55-4c4b-ab40-bd45d4010275.html" target="element">  </a> </td>
																		<td> <a href="../elements/de1a869e-4f55-4c4b-ab40-bd45d4010275.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/3f9efe50-ab00-48e6-8947-0fbb6d656880.html" target="element"> IKT Tjenestestyring </a> </td>
																		<td> <a href="../elements/68954305-c4b0-4846-87f9-9619c21c6ac6.html" target="element"> ITIL Strategy Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/90e2788c-2a1a-4ccd-86a4-8468001c4e02.html" target="element">  </a> </td>
																		<td> <a href="../elements/90e2788c-2a1a-4ccd-86a4-8468001c4e02.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/3f9efe50-ab00-48e6-8947-0fbb6d656880.html" target="element"> IKT Tjenestestyring </a> </td>
																		<td> <a href="../elements/207b7adc-ef90-44a7-8021-d75156b9370c.html" target="element"> ITIL Demand Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d4b18ed4-d107-464d-a176-72edee2465d8.html" target="element">  </a> </td>
																		<td> <a href="../elements/d4b18ed4-d107-464d-a176-72edee2465d8.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/3f9efe50-ab00-48e6-8947-0fbb6d656880.html" target="element"> IKT Tjenestestyring </a> </td>
																		<td> <a href="../elements/c1230933-88f1-48c8-80a7-60a56bd9d40b.html" target="element"> ITIL Security Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a8c6d18f-51f1-4020-9b2d-4aaddbb45756.html" target="element">  </a> </td>
																		<td> <a href="../elements/a8c6d18f-51f1-4020-9b2d-4aaddbb45756.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/3f9efe50-ab00-48e6-8947-0fbb6d656880.html" target="element"> IKT Tjenestestyring </a> </td>
																		<td> <a href="../elements/6692ae8a-964c-4334-8161-b99afe8f6c5e.html" target="element"> ITIL Financial Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5bd86423-e858-4dc4-8ad6-dc70ed65fe27.html" target="element">  </a> </td>
																		<td> <a href="../elements/5bd86423-e858-4dc4-8ad6-dc70ed65fe27.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/3f9efe50-ab00-48e6-8947-0fbb6d656880.html" target="element"> IKT Tjenestestyring </a> </td>
																		<td> <a href="../elements/e53cfa18-ef3d-4894-998b-08e82899f1a9.html" target="element"> IKT-tjenesteforvaltning </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/9793236b-956d-4b59-9b21-e001162126ab.html" target="element">  </a> </td>
																		<td> <a href="../elements/9793236b-956d-4b59-9b21-e001162126ab.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/e53cfa18-ef3d-4894-998b-08e82899f1a9.html" target="element"> IKT-tjenesteforvaltning </a> </td>
																		<td> <a href="../elements/f3fe683f-cc0b-41ed-ab9f-780ae2a500a0.html" target="element"> Situasjonsforst&#229;else omkring risiko og s&#229;rbarhetet </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f4f80ca2-0f85-4b43-9e57-341122d77c1e.html" target="element">  </a> </td>
																		<td> <a href="../elements/f4f80ca2-0f85-4b43-9e57-341122d77c1e.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/e53cfa18-ef3d-4894-998b-08e82899f1a9.html" target="element"> IKT-tjenesteforvaltning </a> </td>
																		<td> <a href="../elements/b745bfac-dd2a-4006-8b03-00397930c63f.html" target="element"> IKT-Sikkerhetsr&#229;d </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/2497d262-c782-4dba-bdde-98c680af939a.html" target="element">  </a> </td>
																		<td> <a href="../elements/2497d262-c782-4dba-bdde-98c680af939a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/b745bfac-dd2a-4006-8b03-00397930c63f.html" target="element"> IKT-Sikkerhetsr&#229;d </a> </td>
																		<td> <a href="../elements/746f3980-c6e9-44ab-9eb2-924946a01cef.html" target="element"> SIAM </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/cd6cba29-1029-44fa-8d12-718beacd3bcd.html" target="element">  </a> </td>
																		<td> <a href="../elements/cd6cba29-1029-44fa-8d12-718beacd3bcd.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/b745bfac-dd2a-4006-8b03-00397930c63f.html" target="element"> IKT-Sikkerhetsr&#229;d </a> </td>
																		<td> <a href="../elements/1a0c1f7a-0cb2-4c86-83c4-5dbdc860aa26.html" target="element"> Nasjonalt cybersikkerhetssenter (NCSC) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/208c0713-7a29-449e-8581-b79d07657766.html" target="element">  </a> </td>
																		<td> <a href="../elements/208c0713-7a29-449e-8581-b79d07657766.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/65ed53ed-19f0-43e4-b10f-957ca15c4be8.html" target="element"> Personvernombud </a> </td>
																		<td> <a href="../elements/b745bfac-dd2a-4006-8b03-00397930c63f.html" target="element"> IKT-Sikkerhetsr&#229;d </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/a2794edf-ddbc-4678-817c-a6fb82025ef4.html" target="element">  </a> </td>
																		<td> <a href="../elements/a2794edf-ddbc-4678-817c-a6fb82025ef4.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/2ae797dc-399d-4ab1-bc36-45f12d8dd2b4.html" target="element"> Informasjonssikkerhetsansvarlig </a> </td>
																		<td> <a href="../elements/b745bfac-dd2a-4006-8b03-00397930c63f.html" target="element"> IKT-Sikkerhetsr&#229;d </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/e3cde967-9965-461f-938f-f88fb4a4c910.html" target="element">  </a> </td>
																		<td> <a href="../elements/e3cde967-9965-461f-938f-f88fb4a4c910.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/746f3980-c6e9-44ab-9eb2-924946a01cef.html" target="element"> SIAM </a> </td>
																		<td> <a href="../elements/8a2f00a7-6381-416f-9226-630d7c41ea74.html" target="element"> IKT-Tjenesteutvikling </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c01bbab4-7e1f-44be-b594-79a8105c6ba4.html" target="element">  </a> </td>
																		<td> <a href="../elements/c01bbab4-7e1f-44be-b594-79a8105c6ba4.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/746f3980-c6e9-44ab-9eb2-924946a01cef.html" target="element"> SIAM </a> </td>
																		<td> <a href="../elements/e53cfa18-ef3d-4894-998b-08e82899f1a9.html" target="element"> IKT-tjenesteforvaltning </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b0ad12ad-29e9-4356-a875-c93c7812d8ca.html" target="element">  </a> </td>
																		<td> <a href="../elements/b0ad12ad-29e9-4356-a875-c93c7812d8ca.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/746f3980-c6e9-44ab-9eb2-924946a01cef.html" target="element"> SIAM </a> </td>
																		<td> <a href="../elements/94f3c99c-735c-4431-a17d-9cd246e67b74.html" target="element"> H&#229;ndtering av leveransemodeller </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/40a13ba0-c9f3-4729-83b1-cbf560457d0b.html" target="element">  </a> </td>
																		<td> <a href="../elements/40a13ba0-c9f3-4729-83b1-cbf560457d0b.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/746f3980-c6e9-44ab-9eb2-924946a01cef.html" target="element"> SIAM </a> </td>
																		<td> <a href="../elements/3f9efe50-ab00-48e6-8947-0fbb6d656880.html" target="element"> IKT Tjenestestyring </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d3d90c5e-d24a-4364-a6b8-c7e87e6ab8e0.html" target="element">  </a> </td>
																		<td> <a href="../elements/d3d90c5e-d24a-4364-a6b8-c7e87e6ab8e0.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/746f3980-c6e9-44ab-9eb2-924946a01cef.html" target="element"> SIAM </a> </td>
																		<td> <a href="../elements/b1db36f6-164d-4114-8b72-5fd6f05c7409.html" target="element"> Leverand&#248;rstyring </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/53935827-57e8-4def-be61-43d736c4b043.html" target="element">  </a> </td>
																		<td> <a href="../elements/53935827-57e8-4def-be61-43d736c4b043.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/e40c53dc-a398-4c48-a186-8e7a5bbe415b.html" target="element"> Fellesfunksjoner </a> </td>
																		<td> <a href="../elements/8a2f00a7-6381-416f-9226-630d7c41ea74.html" target="element"> IKT-Tjenesteutvikling </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/4149aa78-1563-455e-8b45-125e81a2a29f.html" target="element">  </a> </td>
																		<td> <a href="../elements/4149aa78-1563-455e-8b45-125e81a2a29f.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/282ecf15-5b2d-49c6-89fa-bc29de383e13.html" target="element"> Hovedomr&#229;dekoordinatorer </a> </td>
																		<td> <a href="../elements/f5db9178-4bf2-469a-8a89-c70da7b4be35.html" target="element"> Forvaltnig </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e13d7d83-9f89-4a7a-b49a-1f86f6e55343.html" target="element">  </a> </td>
																		<td> <a href="../elements/e13d7d83-9f89-4a7a-b49a-1f86f6e55343.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/282ecf15-5b2d-49c6-89fa-bc29de383e13.html" target="element"> Hovedomr&#229;dekoordinatorer </a> </td>
																		<td> <a href="../elements/2bb9056c-0db3-4a5c-831d-29a965b7ff74.html" target="element"> Anskaffelse </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/61a33260-4ce2-47a0-8cc5-23f1d51d14fe.html" target="element">  </a> </td>
																		<td> <a href="../elements/61a33260-4ce2-47a0-8cc5-23f1d51d14fe.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/282ecf15-5b2d-49c6-89fa-bc29de383e13.html" target="element"> Hovedomr&#229;dekoordinatorer </a> </td>
																		<td> <a href="../elements/0752d850-b979-46e4-a876-48a02f9970d1.html" target="element"> Analyse </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/855e474c-1338-4af0-8eb2-9aae69cd0b1b.html" target="element">  </a> </td>
																		<td> <a href="../elements/855e474c-1338-4af0-8eb2-9aae69cd0b1b.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/282ecf15-5b2d-49c6-89fa-bc29de383e13.html" target="element"> Hovedomr&#229;dekoordinatorer </a> </td>
																		<td> <a href="../elements/ee1e3c2b-3a84-4028-b466-ee66cafc66f4.html" target="element"> IKT-Utviklingsr&#229;d </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/3f1af759-d7f8-466a-8467-4f0ae904c2f2.html" target="element">  </a> </td>
																		<td> <a href="../elements/3f1af759-d7f8-466a-8467-4f0ae904c2f2.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/ee1e3c2b-3a84-4028-b466-ee66cafc66f4.html" target="element"> IKT-Utviklingsr&#229;d </a> </td>
																		<td> <a href="../elements/746f3980-c6e9-44ab-9eb2-924946a01cef.html" target="element"> SIAM </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/1562ccf6-1594-4bda-8035-469abebdd2f7.html" target="element">  </a> </td>
																		<td> <a href="../elements/1562ccf6-1594-4bda-8035-469abebdd2f7.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/df1abf0d-ff2f-4b2e-86bc-29427e0bb0fd.html" target="element"> Dokumentforvaltning </a> </td>
																		<td> <a href="../elements/2ae797dc-399d-4ab1-bc36-45f12d8dd2b4.html" target="element"> Informasjonssikkerhetsansvarlig </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/edba604d-404b-4891-b7ca-b613e5bbfd04.html" target="element">  </a> </td>
																		<td> <a href="../elements/edba604d-404b-4891-b7ca-b613e5bbfd04.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/df1abf0d-ff2f-4b2e-86bc-29427e0bb0fd.html" target="element"> Dokumentforvaltning </a> </td>
																		<td> <a href="../elements/65ed53ed-19f0-43e4-b10f-957ca15c4be8.html" target="element"> Personvernombud </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/da9a50e8-81f1-4f80-98ec-3ee421a06e57.html" target="element">  </a> </td>
																		<td> <a href="../elements/da9a50e8-81f1-4f80-98ec-3ee421a06e57.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/1a0c1f7a-0cb2-4c86-83c4-5dbdc860aa26.html" target="element"> Nasjonalt cybersikkerhetssenter (NCSC) </a> </td>
																		<td> <a href="../elements/940ec9a4-1d85-475f-863e-980d191e00ea.html" target="element"> Strategisk samarbeid </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/c4ffd1c0-800b-4e3f-be29-f0024dadcd11.html" target="element">  </a> </td>
																		<td> <a href="../elements/c4ffd1c0-800b-4e3f-be29-f0024dadcd11.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/caf1f25e-19be-4251-8316-1a096f76e5fa.html" target="element"> Regional tjenesteforvaltning (ERP/ annet) </a> </td>
																		<td> <a href="../elements/ee1e3c2b-3a84-4028-b466-ee66cafc66f4.html" target="element"> IKT-Utviklingsr&#229;d </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d9590b09-dedf-48a0-a479-ba2ee481ba27.html" target="element">  </a> </td>
																		<td> <a href="../elements/d9590b09-dedf-48a0-a479-ba2ee481ba27.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/caf1f25e-19be-4251-8316-1a096f76e5fa.html" target="element"> Regional tjenesteforvaltning (ERP/ annet) </a> </td>
																		<td> <a href="../elements/940ec9a4-1d85-475f-863e-980d191e00ea.html" target="element"> Strategisk samarbeid </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>