<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>PS Dokumentasjon</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>PS Dokumentasjon</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/4fba1343-a760-49d5-95e6-eb254fb369a4.png" alt="PS Dokumentasjon" usemap="#4fba1343-a760-49d5-95e6-eb254fb369a4map"/>
			   <map name="4fba1343-a760-49d5-95e6-eb254fb369a4map">
				  				<area shape="rect" coords="838,502,958,557" href="../elements/736ea294-96b5-4238-a1e3-837218a49f70.html"  target="element">
				  				<area shape="rect" coords="838,694,958,749" href="../elements/7d86e45e-dd8f-4f04-920b-ddd6b26b62f6.html"  target="element">

				  		<area shape="rect" coords="790,466,1007,803" href="../elements/2f0eb755-89be-4e4d-b13f-dab2ce40b54e.html"  target="element">
				  						<area shape="rect" coords="730,262,850,317" href="../elements/5faeaf09-a3b7-420e-9459-d7e0f329d839.html"  target="element">
				  						<area shape="rect" coords="550,262,670,317" href="../elements/a1f05e14-5b02-4080-9850-47bcd1689d61.html"  target="element">

				  				<area shape="rect" coords="526,226,875,317" href="../elements/2f3e0ff2-e3f7-48a5-b000-0f465b96dd3f.html"  target="element">
				  						<area shape="rect" coords="365,262,485,317" href="../elements/e7a86eef-fe3b-4d7b-bee6-c76caf2b8fd3.html"  target="element">
				  						<area shape="rect" coords="185,262,305,317" href="../elements/a8d1ea8c-430d-4206-b237-8c88a9d0b98c.html"  target="element">

				  				<area shape="rect" coords="166,226,503,317" href="../elements/4d705fed-ca9d-4bea-a609-263be186591c.html"  target="element">
				  				<area shape="rect" coords="226,154,346,209" href="../elements/a693cad8-c52e-4a63-a5e3-b2b5f89b8d92.html"  target="element">
				  				<area shape="rect" coords="658,157,778,212" href="../elements/f2f447a3-47b9-4fdb-955a-6b443e79e3d9.html"  target="element">
				  				<area shape="rect" coords="442,157,562,212" href="../elements/e7a85605-ebd5-40ae-89c3-7c1ddb0af3a8.html"  target="element">
				  				<area shape="rect" coords="814,157,934,212" href="../elements/208914cd-d823-4978-a4c7-4597e0481bf6.html"  target="element">
				  				<area shape="rect" coords="70,154,190,209" href="../elements/ebf2a193-c349-4134-a07a-2713fc768705.html"  target="element">
				  				<area shape="rect" coords="442,61,562,116" href="../elements/dcb62d2c-e077-4386-8de0-d396cc986868.html"  target="element">
				  				<area shape="rect" coords="142,61,262,116" href="../elements/4f648255-4e10-44f6-aa4b-ba6a005d4264.html"  target="element">
				  				<area shape="rect" coords="730,61,850,116" href="../elements/d9411cd9-1ba8-49a0-9914-bf50606eb188.html"  target="element">

				  		<area shape="rect" coords="10,10,1007,359" href="../elements/a48d8ca7-b8f6-4d7b-b358-d5b79700bb16.html"  target="element">
				  		<area shape="rect" coords="10,838,995,1139" href="../elements/bc383e0f-d3cc-4659-8749-01798c60a38a.html"  target="element">
				  								<area shape="rect" coords="502,718,694,743" href="../elements/b780cab6-bc88-4e90-b62a-7a4d6cf0f3a0.html"  target="element">

				  						<area shape="rect" coords="430,694,704,755" href="../elements/95e29c98-61ab-4d97-a972-7eae0955fb93.html"  target="element">
				  								<area shape="rect" coords="502,646,694,671" href="../elements/66833883-6611-4a35-9e52-4d451312e45f.html"  target="element">

				  						<area shape="rect" coords="430,622,704,683" href="../elements/d7f2c8ac-8aca-456b-a832-924c708fdea0.html"  target="element">
				  								<area shape="rect" coords="502,574,694,599" href="../elements/279103e5-4a22-42bf-897c-8250a872b721.html"  target="element">

				  						<area shape="rect" coords="430,550,704,611" href="../elements/c24a5392-f795-42aa-94ec-9716be02b1c8.html"  target="element">

				  				<area shape="rect" coords="370,502,755,779" href="../elements/8229ba9b-3cd2-41cb-a0c8-dbdf70c9f9ec.html"  target="element">
				  								<area shape="rect" coords="106,718,322,743" href="../elements/f3b8b440-7ae4-4d52-921f-ad061abf219a.html"  target="element">
				  								<area shape="rect" coords="106,646,322,671" href="../elements/921dd9c0-c983-460e-be65-811611f0e3c0.html"  target="element">
				  								<area shape="rect" coords="106,574,322,599" href="../elements/591d4a3e-647d-45f5-a403-5786fd8cab5c.html"  target="element">

				  						<area shape="rect" coords="58,538,332,755" href="../elements/0ab255f5-9edd-4bc5-a954-18afa0d716f2.html"  target="element">

				  				<area shape="rect" coords="34,502,347,779" href="../elements/89516af1-087b-4035-aff5-f8d8ddcadf1d.html"  target="element">

				  		<area shape="rect" coords="10,466,779,803" href="../elements/1de842fe-783c-41b4-a6c9-2a7a19bcfdcd.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/1de842fe-783c-41b4-a6c9-2a7a19bcfdcd.html" target="element"> MS SharePoint Online </a> </td>
											    <td> <a href="../elements/1de842fe-783c-41b4-a6c9-2a7a19bcfdcd.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/89516af1-087b-4035-aff5-f8d8ddcadf1d.html" target="element"> Anskaffelsesportalen (HUB) </a> </td>
													    <td> <a href="../elements/89516af1-087b-4035-aff5-f8d8ddcadf1d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/0ab255f5-9edd-4bc5-a954-18afa0d716f2.html" target="element"> Anskaffelser - Hovedomr&#229;de </a> </td>
															    <td> <a href="../elements/0ab255f5-9edd-4bc5-a954-18afa0d716f2.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/591d4a3e-647d-45f5-a403-5786fd8cab5c.html" target="element"> Anskaffels A - Dokumentasjon </a> </td>
																	    <td> <a href="../elements/591d4a3e-647d-45f5-a403-5786fd8cab5c.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/921dd9c0-c983-460e-be65-811611f0e3c0.html" target="element"> Anskaffelse B - Dokumentasjon </a> </td>
																	    <td> <a href="../elements/921dd9c0-c983-460e-be65-811611f0e3c0.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/f3b8b440-7ae4-4d52-921f-ad061abf219a.html" target="element"> Anskaffelses C - Dokumentasjon </a> </td>
																	    <td> <a href="../elements/f3b8b440-7ae4-4d52-921f-ad061abf219a.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																	</tr>

															
													
													<tr>
													    <td> <a href="../elements/8229ba9b-3cd2-41cb-a0c8-dbdf70c9f9ec.html" target="element"> Avtaleportal - Hovedomr&#229;de (HUB) </a> </td>
													    <td> <a href="../elements/8229ba9b-3cd2-41cb-a0c8-dbdf70c9f9ec.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/c24a5392-f795-42aa-94ec-9716be02b1c8.html" target="element"> Avtale A </a> </td>
															    <td> <a href="../elements/c24a5392-f795-42aa-94ec-9716be02b1c8.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/279103e5-4a22-42bf-897c-8250a872b721.html" target="element"> Avtale A - Dokumentasjon </a> </td>
																	    <td> <a href="../elements/279103e5-4a22-42bf-897c-8250a872b721.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/d7f2c8ac-8aca-456b-a832-924c708fdea0.html" target="element"> Avtale B </a> </td>
															    <td> <a href="../elements/d7f2c8ac-8aca-456b-a832-924c708fdea0.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/66833883-6611-4a35-9e52-4d451312e45f.html" target="element"> Avtale B - Dokumentasjon </a> </td>
																	    <td> <a href="../elements/66833883-6611-4a35-9e52-4d451312e45f.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/95e29c98-61ab-4d97-a972-7eae0955fb93.html" target="element"> Avtale C </a> </td>
															    <td> <a href="../elements/95e29c98-61ab-4d97-a972-7eae0955fb93.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/b780cab6-bc88-4e90-b62a-7a4d6cf0f3a0.html" target="element"> Avtale C - Dokumentasjon </a> </td>
																	    <td> <a href="../elements/b780cab6-bc88-4e90-b62a-7a4d6cf0f3a0.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
																	</tr>

															
													
											
											<tr>
											    <td> <a href="../elements/bc383e0f-d3cc-4659-8749-01798c60a38a.html" target="element"> Power Automate </a> </td>
											    <td> <a href="../elements/bc383e0f-d3cc-4659-8749-01798c60a38a.html" target="element" class="i18n-elementtype-TechnologyService"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a48d8ca7-b8f6-4d7b-b358-d5b79700bb16.html" target="element"> Portef&#248;ljestyring </a> </td>
											    <td> <a href="../elements/a48d8ca7-b8f6-4d7b-b358-d5b79700bb16.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/d9411cd9-1ba8-49a0-9914-bf50606eb188.html" target="element"> Forvaltning </a> </td>
													    <td> <a href="../elements/d9411cd9-1ba8-49a0-9914-bf50606eb188.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/4f648255-4e10-44f6-aa4b-ba6a005d4264.html" target="element"> Analyse </a> </td>
													    <td> <a href="../elements/4f648255-4e10-44f6-aa4b-ba6a005d4264.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/dcb62d2c-e077-4386-8de0-d396cc986868.html" target="element"> Anskaffelse </a> </td>
													    <td> <a href="../elements/dcb62d2c-e077-4386-8de0-d396cc986868.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/ebf2a193-c349-4134-a07a-2713fc768705.html" target="element"> Behovsanalyse </a> </td>
													    <td> <a href="../elements/ebf2a193-c349-4134-a07a-2713fc768705.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/208914cd-d823-4978-a4c7-4597e0481bf6.html" target="element"> Kontraktsoppf&#248;lging </a> </td>
													    <td> <a href="../elements/208914cd-d823-4978-a4c7-4597e0481bf6.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/e7a85605-ebd5-40ae-89c3-7c1ddb0af3a8.html" target="element"> Konkurransegjennomf&#248;ring </a> </td>
													    <td> <a href="../elements/e7a85605-ebd5-40ae-89c3-7c1ddb0af3a8.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/f2f447a3-47b9-4fdb-955a-6b443e79e3d9.html" target="element"> Implementering </a> </td>
													    <td> <a href="../elements/f2f447a3-47b9-4fdb-955a-6b443e79e3d9.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/a693cad8-c52e-4a63-a5e3-b2b5f89b8d92.html" target="element"> Planlegging </a> </td>
													    <td> <a href="../elements/a693cad8-c52e-4a63-a5e3-b2b5f89b8d92.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/4d705fed-ca9d-4bea-a609-263be186591c.html" target="element"> Anskaffelser </a> </td>
													    <td> <a href="../elements/4d705fed-ca9d-4bea-a609-263be186591c.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/a8d1ea8c-430d-4206-b237-8c88a9d0b98c.html" target="element"> Planlagte </a> </td>
															    <td> <a href="../elements/a8d1ea8c-430d-4206-b237-8c88a9d0b98c.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/e7a86eef-fe3b-4d7b-bee6-c76caf2b8fd3.html" target="element"> P&#229;g&#229;ende </a> </td>
															    <td> <a href="../elements/e7a86eef-fe3b-4d7b-bee6-c76caf2b8fd3.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/2f3e0ff2-e3f7-48a5-b000-0f465b96dd3f.html" target="element"> Kontrakt og Avtaler </a> </td>
													    <td> <a href="../elements/2f3e0ff2-e3f7-48a5-b000-0f465b96dd3f.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/a1f05e14-5b02-4080-9850-47bcd1689d61.html" target="element"> Kj&#248;psavtale </a> </td>
															    <td> <a href="../elements/a1f05e14-5b02-4080-9850-47bcd1689d61.html" target="element" class="i18n-elementtype-BusinessObject"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/5faeaf09-a3b7-420e-9459-d7e0f329d839.html" target="element"> Avtalesortiment </a> </td>
															    <td> <a href="../elements/5faeaf09-a3b7-420e-9459-d7e0f329d839.html" target="element" class="i18n-elementtype-Representation"> </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/2f0eb755-89be-4e4d-b13f-dab2ce40b54e.html" target="element"> SHI-D365-PROD </a> </td>
											    <td> <a href="../elements/2f0eb755-89be-4e4d-b13f-dab2ce40b54e.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/7d86e45e-dd8f-4f04-920b-ddd6b26b62f6.html" target="element"> Avtaleregister </a> </td>
													    <td> <a href="../elements/7d86e45e-dd8f-4f04-920b-ddd6b26b62f6.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/736ea294-96b5-4238-a1e3-837218a49f70.html" target="element"> Anskaffelsesregister </a> </td>
													    <td> <a href="../elements/736ea294-96b5-4238-a1e3-837218a49f70.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																			<tr>
																				<td> <a href="../elements/95174655-a947-4bc2-a40b-c491aa53592b.html" target="element">  </a> </td>
																				<td> <a href="../elements/95174655-a947-4bc2-a40b-c491aa53592b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/89516af1-087b-4035-aff5-f8d8ddcadf1d.html" target="element"> Anskaffelsesportalen (HUB) </a> </td>
																				<td> <a href="../elements/0ab255f5-9edd-4bc5-a954-18afa0d716f2.html" target="element"> Anskaffelser - Hovedomr&#229;de </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/a2f67273-cce0-4477-a481-88657004a473.html" target="element">  </a> </td>
																						<td> <a href="../elements/a2f67273-cce0-4477-a481-88657004a473.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																						<td> <a href="../elements/0ab255f5-9edd-4bc5-a954-18afa0d716f2.html" target="element"> Anskaffelser - Hovedomr&#229;de </a> </td>
																						<td> <a href="../elements/736ea294-96b5-4238-a1e3-837218a49f70.html" target="element"> Anskaffelsesregister </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/65b905af-97b5-4e72-9994-9499a4a497e8.html" target="element">  </a> </td>
																						<td> <a href="../elements/65b905af-97b5-4e72-9994-9499a4a497e8.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																						<td> <a href="../elements/0ab255f5-9edd-4bc5-a954-18afa0d716f2.html" target="element"> Anskaffelser - Hovedomr&#229;de </a> </td>
																						<td> <a href="../elements/591d4a3e-647d-45f5-a403-5786fd8cab5c.html" target="element"> Anskaffels A - Dokumentasjon </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/2d1499dc-2a88-4d3d-83c0-4c7e92701335.html" target="element">  </a> </td>
																						<td> <a href="../elements/2d1499dc-2a88-4d3d-83c0-4c7e92701335.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																						<td> <a href="../elements/0ab255f5-9edd-4bc5-a954-18afa0d716f2.html" target="element"> Anskaffelser - Hovedomr&#229;de </a> </td>
																						<td> <a href="../elements/921dd9c0-c983-460e-be65-811611f0e3c0.html" target="element"> Anskaffelse B - Dokumentasjon </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/3a92b401-4f7e-4d98-b1f1-10c342951691.html" target="element">  </a> </td>
																						<td> <a href="../elements/3a92b401-4f7e-4d98-b1f1-10c342951691.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																						<td> <a href="../elements/0ab255f5-9edd-4bc5-a954-18afa0d716f2.html" target="element"> Anskaffelser - Hovedomr&#229;de </a> </td>
																						<td> <a href="../elements/f3b8b440-7ae4-4d52-921f-ad061abf219a.html" target="element"> Anskaffelses C - Dokumentasjon </a> </td>
																					</tr>

																							<tr>
																								<td> <a href="../elements/03756745-b529-484e-bd6a-49f88097f4f8.html" target="element">  </a> </td>
																								<td> <a href="../elements/03756745-b529-484e-bd6a-49f88097f4f8.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																								<td> <a href="../elements/591d4a3e-647d-45f5-a403-5786fd8cab5c.html" target="element"> Anskaffels A - Dokumentasjon </a> </td>
																								<td> <a href="../elements/c24a5392-f795-42aa-94ec-9716be02b1c8.html" target="element"> Avtale A </a> </td>
																							</tr>

																							<tr>
																								<td> <a href="../elements/2ba4f0a4-16d3-4244-b48f-50ae9e04379f.html" target="element">  </a> </td>
																								<td> <a href="../elements/2ba4f0a4-16d3-4244-b48f-50ae9e04379f.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																								<td> <a href="../elements/921dd9c0-c983-460e-be65-811611f0e3c0.html" target="element"> Anskaffelse B - Dokumentasjon </a> </td>
																								<td> <a href="../elements/d7f2c8ac-8aca-456b-a832-924c708fdea0.html" target="element"> Avtale B </a> </td>
																							</tr>

																							<tr>
																								<td> <a href="../elements/915d8ccb-1418-4cfd-a7ca-b6482ee34c76.html" target="element">  </a> </td>
																								<td> <a href="../elements/915d8ccb-1418-4cfd-a7ca-b6482ee34c76.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																								<td> <a href="../elements/f3b8b440-7ae4-4d52-921f-ad061abf219a.html" target="element"> Anskaffelses C - Dokumentasjon </a> </td>
																								<td> <a href="../elements/95e29c98-61ab-4d97-a972-7eae0955fb93.html" target="element"> Avtale C </a> </td>
																							</tr>

															
													
																			<tr>
																				<td> <a href="../elements/e3251a68-66b8-44be-85af-3afa98a02100.html" target="element">  </a> </td>
																				<td> <a href="../elements/e3251a68-66b8-44be-85af-3afa98a02100.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/8229ba9b-3cd2-41cb-a0c8-dbdf70c9f9ec.html" target="element"> Avtaleportal - Hovedomr&#229;de (HUB) </a> </td>
																				<td> <a href="../elements/c24a5392-f795-42aa-94ec-9716be02b1c8.html" target="element"> Avtale A </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/500cab1d-3245-49cd-bd5a-f68fe2b8060a.html" target="element">  </a> </td>
																				<td> <a href="../elements/500cab1d-3245-49cd-bd5a-f68fe2b8060a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/8229ba9b-3cd2-41cb-a0c8-dbdf70c9f9ec.html" target="element"> Avtaleportal - Hovedomr&#229;de (HUB) </a> </td>
																				<td> <a href="../elements/7d86e45e-dd8f-4f04-920b-ddd6b26b62f6.html" target="element"> Avtaleregister </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/6eb50a0f-a6ea-4b85-93c1-649798e2f7c5.html" target="element">  </a> </td>
																				<td> <a href="../elements/6eb50a0f-a6ea-4b85-93c1-649798e2f7c5.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/8229ba9b-3cd2-41cb-a0c8-dbdf70c9f9ec.html" target="element"> Avtaleportal - Hovedomr&#229;de (HUB) </a> </td>
																				<td> <a href="../elements/d7f2c8ac-8aca-456b-a832-924c708fdea0.html" target="element"> Avtale B </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/cf984dfa-0999-429a-8139-fcded0dd4480.html" target="element">  </a> </td>
																				<td> <a href="../elements/cf984dfa-0999-429a-8139-fcded0dd4480.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/8229ba9b-3cd2-41cb-a0c8-dbdf70c9f9ec.html" target="element"> Avtaleportal - Hovedomr&#229;de (HUB) </a> </td>
																				<td> <a href="../elements/95e29c98-61ab-4d97-a972-7eae0955fb93.html" target="element"> Avtale C </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/52ceac9d-96fe-40c1-8466-7285094ddd40.html" target="element">  </a> </td>
																						<td> <a href="../elements/52ceac9d-96fe-40c1-8466-7285094ddd40.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																						<td> <a href="../elements/c24a5392-f795-42aa-94ec-9716be02b1c8.html" target="element"> Avtale A </a> </td>
																						<td> <a href="../elements/7d86e45e-dd8f-4f04-920b-ddd6b26b62f6.html" target="element"> Avtaleregister </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/7574caaa-2bad-4bf9-908a-55a413d586c7.html" target="element">  </a> </td>
																						<td> <a href="../elements/7574caaa-2bad-4bf9-908a-55a413d586c7.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																						<td> <a href="../elements/c24a5392-f795-42aa-94ec-9716be02b1c8.html" target="element"> Avtale A </a> </td>
																						<td> <a href="../elements/279103e5-4a22-42bf-897c-8250a872b721.html" target="element"> Avtale A - Dokumentasjon </a> </td>
																					</tr>

															
																					<tr>
																						<td> <a href="../elements/975cfe71-0988-4145-a804-95260eb7595b.html" target="element">  </a> </td>
																						<td> <a href="../elements/975cfe71-0988-4145-a804-95260eb7595b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																						<td> <a href="../elements/d7f2c8ac-8aca-456b-a832-924c708fdea0.html" target="element"> Avtale B </a> </td>
																						<td> <a href="../elements/66833883-6611-4a35-9e52-4d451312e45f.html" target="element"> Avtale B - Dokumentasjon </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/0ef2405f-10ce-4833-b258-19ca9d765704.html" target="element">  </a> </td>
																						<td> <a href="../elements/0ef2405f-10ce-4833-b258-19ca9d765704.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																						<td> <a href="../elements/d7f2c8ac-8aca-456b-a832-924c708fdea0.html" target="element"> Avtale B </a> </td>
																						<td> <a href="../elements/7d86e45e-dd8f-4f04-920b-ddd6b26b62f6.html" target="element"> Avtaleregister </a> </td>
																					</tr>

															
																					<tr>
																						<td> <a href="../elements/60dfdfdb-c079-4157-af79-782aa41f0b97.html" target="element">  </a> </td>
																						<td> <a href="../elements/60dfdfdb-c079-4157-af79-782aa41f0b97.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																						<td> <a href="../elements/95e29c98-61ab-4d97-a972-7eae0955fb93.html" target="element"> Avtale C </a> </td>
																						<td> <a href="../elements/b780cab6-bc88-4e90-b62a-7a4d6cf0f3a0.html" target="element"> Avtale C - Dokumentasjon </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/12c8615f-a0e6-44d5-9766-75135acf3676.html" target="element">  </a> </td>
																						<td> <a href="../elements/12c8615f-a0e6-44d5-9766-75135acf3676.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																						<td> <a href="../elements/95e29c98-61ab-4d97-a972-7eae0955fb93.html" target="element"> Avtale C </a> </td>
																						<td> <a href="../elements/7d86e45e-dd8f-4f04-920b-ddd6b26b62f6.html" target="element"> Avtaleregister </a> </td>
																					</tr>

															
													
											
																	<tr>
																		<td> <a href="../elements/5656bd5d-686c-4e7a-bc99-947b11d7070d.html" target="element">  </a> </td>
																		<td> <a href="../elements/5656bd5d-686c-4e7a-bc99-947b11d7070d.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/a48d8ca7-b8f6-4d7b-b358-d5b79700bb16.html" target="element"> Portef&#248;ljestyring </a> </td>
																		<td> <a href="../elements/dcb62d2c-e077-4386-8de0-d396cc986868.html" target="element"> Anskaffelse </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b7ed47c9-1e37-4d17-815b-6e7480c476af.html" target="element">  </a> </td>
																		<td> <a href="../elements/b7ed47c9-1e37-4d17-815b-6e7480c476af.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a48d8ca7-b8f6-4d7b-b358-d5b79700bb16.html" target="element"> Portef&#248;ljestyring </a> </td>
																		<td> <a href="../elements/4f648255-4e10-44f6-aa4b-ba6a005d4264.html" target="element"> Analyse </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9f82d587-32a6-4e28-b118-7a079fb35356.html" target="element">  </a> </td>
																		<td> <a href="../elements/9f82d587-32a6-4e28-b118-7a079fb35356.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a48d8ca7-b8f6-4d7b-b358-d5b79700bb16.html" target="element"> Portef&#248;ljestyring </a> </td>
																		<td> <a href="../elements/d9411cd9-1ba8-49a0-9914-bf50606eb188.html" target="element"> Forvaltning </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/067526b4-72bc-4066-9b71-c55dd64cf9c0.html" target="element">  </a> </td>
																		<td> <a href="../elements/067526b4-72bc-4066-9b71-c55dd64cf9c0.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/a48d8ca7-b8f6-4d7b-b358-d5b79700bb16.html" target="element"> Portef&#248;ljestyring </a> </td>
																		<td> <a href="../elements/dcb62d2c-e077-4386-8de0-d396cc986868.html" target="element"> Anskaffelse </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d0e6e2e0-1098-4638-b78f-7a3b14d2a9a6.html" target="element">  </a> </td>
																		<td> <a href="../elements/d0e6e2e0-1098-4638-b78f-7a3b14d2a9a6.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/a48d8ca7-b8f6-4d7b-b358-d5b79700bb16.html" target="element"> Portef&#248;ljestyring </a> </td>
																		<td> <a href="../elements/4d705fed-ca9d-4bea-a609-263be186591c.html" target="element"> Anskaffelser </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8f17d46c-a33d-4975-afd6-d475815e8460.html" target="element">  </a> </td>
																		<td> <a href="../elements/8f17d46c-a33d-4975-afd6-d475815e8460.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																		<td> <a href="../elements/a48d8ca7-b8f6-4d7b-b358-d5b79700bb16.html" target="element"> Portef&#248;ljestyring </a> </td>
																		<td> <a href="../elements/2f3e0ff2-e3f7-48a5-b000-0f465b96dd3f.html" target="element"> Kontrakt og Avtaler </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/958f873e-1bf6-4c6a-aad8-20c07c3b54b9.html" target="element">  </a> </td>
																				<td> <a href="../elements/958f873e-1bf6-4c6a-aad8-20c07c3b54b9.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/d9411cd9-1ba8-49a0-9914-bf50606eb188.html" target="element"> Forvaltning </a> </td>
																				<td> <a href="../elements/a48d8ca7-b8f6-4d7b-b358-d5b79700bb16.html" target="element"> Portef&#248;ljestyring </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/dfe4c2ae-f639-4d77-8fc3-c272de7c4de5.html" target="element">  </a> </td>
																				<td> <a href="../elements/dfe4c2ae-f639-4d77-8fc3-c272de7c4de5.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/d9411cd9-1ba8-49a0-9914-bf50606eb188.html" target="element"> Forvaltning </a> </td>
																				<td> <a href="../elements/208914cd-d823-4978-a4c7-4597e0481bf6.html" target="element"> Kontraktsoppf&#248;lging </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/21b772a7-b67b-413a-aa88-87fb4e9575b5.html" target="element">  </a> </td>
																				<td> <a href="../elements/21b772a7-b67b-413a-aa88-87fb4e9575b5.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/d9411cd9-1ba8-49a0-9914-bf50606eb188.html" target="element"> Forvaltning </a> </td>
																				<td> <a href="../elements/f2f447a3-47b9-4fdb-955a-6b443e79e3d9.html" target="element"> Implementering </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/347f274a-f245-4325-849a-918b5ec51024.html" target="element">  </a> </td>
																				<td> <a href="../elements/347f274a-f245-4325-849a-918b5ec51024.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/4f648255-4e10-44f6-aa4b-ba6a005d4264.html" target="element"> Analyse </a> </td>
																				<td> <a href="../elements/a48d8ca7-b8f6-4d7b-b358-d5b79700bb16.html" target="element"> Portef&#248;ljestyring </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/3cf90268-8201-4d55-af4b-21b9efb1b6a9.html" target="element">  </a> </td>
																				<td> <a href="../elements/3cf90268-8201-4d55-af4b-21b9efb1b6a9.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/4f648255-4e10-44f6-aa4b-ba6a005d4264.html" target="element"> Analyse </a> </td>
																				<td> <a href="../elements/ebf2a193-c349-4134-a07a-2713fc768705.html" target="element"> Behovsanalyse </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/bcf237c8-ef80-445b-9a5b-eb892ac4b158.html" target="element">  </a> </td>
																				<td> <a href="../elements/bcf237c8-ef80-445b-9a5b-eb892ac4b158.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/4f648255-4e10-44f6-aa4b-ba6a005d4264.html" target="element"> Analyse </a> </td>
																				<td> <a href="../elements/a693cad8-c52e-4a63-a5e3-b2b5f89b8d92.html" target="element"> Planlegging </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/00a94e18-ab04-4a31-909c-30ea7c6af4fa.html" target="element">  </a> </td>
																				<td> <a href="../elements/00a94e18-ab04-4a31-909c-30ea7c6af4fa.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/dcb62d2c-e077-4386-8de0-d396cc986868.html" target="element"> Anskaffelse </a> </td>
																				<td> <a href="../elements/e7a85605-ebd5-40ae-89c3-7c1ddb0af3a8.html" target="element"> Konkurransegjennomf&#248;ring </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/310ca4ad-4fef-4e97-a5b1-74f68c68a575.html" target="element">  </a> </td>
																				<td> <a href="../elements/310ca4ad-4fef-4e97-a5b1-74f68c68a575.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/ebf2a193-c349-4134-a07a-2713fc768705.html" target="element"> Behovsanalyse </a> </td>
																				<td> <a href="../elements/4d705fed-ca9d-4bea-a609-263be186591c.html" target="element"> Anskaffelser </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/30bef780-3b59-49e1-81d5-2760497ce81b.html" target="element">  </a> </td>
																				<td> <a href="../elements/30bef780-3b59-49e1-81d5-2760497ce81b.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/ebf2a193-c349-4134-a07a-2713fc768705.html" target="element"> Behovsanalyse </a> </td>
																				<td> <a href="../elements/2f3e0ff2-e3f7-48a5-b000-0f465b96dd3f.html" target="element"> Kontrakt og Avtaler </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/a7a7b352-53ff-440b-825f-a0137feac3ea.html" target="element">  </a> </td>
																				<td> <a href="../elements/a7a7b352-53ff-440b-825f-a0137feac3ea.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/208914cd-d823-4978-a4c7-4597e0481bf6.html" target="element"> Kontraktsoppf&#248;lging </a> </td>
																				<td> <a href="../elements/2f3e0ff2-e3f7-48a5-b000-0f465b96dd3f.html" target="element"> Kontrakt og Avtaler </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/1b0ea254-38e1-4db5-a5a4-f17b418dc7e0.html" target="element">  </a> </td>
																				<td> <a href="../elements/1b0ea254-38e1-4db5-a5a4-f17b418dc7e0.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/e7a85605-ebd5-40ae-89c3-7c1ddb0af3a8.html" target="element"> Konkurransegjennomf&#248;ring </a> </td>
																				<td> <a href="../elements/4d705fed-ca9d-4bea-a609-263be186591c.html" target="element"> Anskaffelser </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/559a6041-8d3b-416b-955f-e926c65b9d45.html" target="element">  </a> </td>
																				<td> <a href="../elements/559a6041-8d3b-416b-955f-e926c65b9d45.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/e7a85605-ebd5-40ae-89c3-7c1ddb0af3a8.html" target="element"> Konkurransegjennomf&#248;ring </a> </td>
																				<td> <a href="../elements/2f3e0ff2-e3f7-48a5-b000-0f465b96dd3f.html" target="element"> Kontrakt og Avtaler </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/247ee448-9496-4a69-8f52-0150e655faf2.html" target="element">  </a> </td>
																				<td> <a href="../elements/247ee448-9496-4a69-8f52-0150e655faf2.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/f2f447a3-47b9-4fdb-955a-6b443e79e3d9.html" target="element"> Implementering </a> </td>
																				<td> <a href="../elements/2f3e0ff2-e3f7-48a5-b000-0f465b96dd3f.html" target="element"> Kontrakt og Avtaler </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/a2eae49c-a2f7-44b4-aaa3-c3edb09a2b0d.html" target="element">  </a> </td>
																				<td> <a href="../elements/a2eae49c-a2f7-44b4-aaa3-c3edb09a2b0d.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/a693cad8-c52e-4a63-a5e3-b2b5f89b8d92.html" target="element"> Planlegging </a> </td>
																				<td> <a href="../elements/4d705fed-ca9d-4bea-a609-263be186591c.html" target="element"> Anskaffelser </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/1cad15e8-6ba3-4ee8-85b7-10ae0de37391.html" target="element">  </a> </td>
																				<td> <a href="../elements/1cad15e8-6ba3-4ee8-85b7-10ae0de37391.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/4d705fed-ca9d-4bea-a609-263be186591c.html" target="element"> Anskaffelser </a> </td>
																				<td> <a href="../elements/a8d1ea8c-430d-4206-b237-8c88a9d0b98c.html" target="element"> Planlagte </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/4f56e5d0-36d7-4796-b459-83ccbf7d4d13.html" target="element">  </a> </td>
																				<td> <a href="../elements/4f56e5d0-36d7-4796-b459-83ccbf7d4d13.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/4d705fed-ca9d-4bea-a609-263be186591c.html" target="element"> Anskaffelser </a> </td>
																				<td> <a href="../elements/e7a86eef-fe3b-4d7b-bee6-c76caf2b8fd3.html" target="element"> P&#229;g&#229;ende </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/fc20a4dd-d44f-4fec-883e-f7e1e995d7a5.html" target="element">  </a> </td>
																				<td> <a href="../elements/fc20a4dd-d44f-4fec-883e-f7e1e995d7a5.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/2f3e0ff2-e3f7-48a5-b000-0f465b96dd3f.html" target="element"> Kontrakt og Avtaler </a> </td>
																				<td> <a href="../elements/a1f05e14-5b02-4080-9850-47bcd1689d61.html" target="element"> Kj&#248;psavtale </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/fc0be417-1516-494f-b842-9b58c1703d06.html" target="element">  </a> </td>
																						<td> <a href="../elements/fc0be417-1516-494f-b842-9b58c1703d06.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/5faeaf09-a3b7-420e-9459-d7e0f329d839.html" target="element"> Avtalesortiment </a> </td>
																						<td> <a href="../elements/2f3e0ff2-e3f7-48a5-b000-0f465b96dd3f.html" target="element"> Kontrakt og Avtaler </a> </td>
																					</tr>

													
											
																			<tr>
																				<td> <a href="../elements/07598b1c-5c3e-4f47-b921-ce846697d759.html" target="element">  </a> </td>
																				<td> <a href="../elements/07598b1c-5c3e-4f47-b921-ce846697d759.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/7d86e45e-dd8f-4f04-920b-ddd6b26b62f6.html" target="element"> Avtaleregister </a> </td>
																				<td> <a href="../elements/2f3e0ff2-e3f7-48a5-b000-0f465b96dd3f.html" target="element"> Kontrakt og Avtaler </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/41be5f02-0335-4e64-9b7b-c12506ae4d2a.html" target="element">  </a> </td>
																				<td> <a href="../elements/41be5f02-0335-4e64-9b7b-c12506ae4d2a.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/7d86e45e-dd8f-4f04-920b-ddd6b26b62f6.html" target="element"> Avtaleregister </a> </td>
																				<td> <a href="../elements/2f0eb755-89be-4e4d-b13f-dab2ce40b54e.html" target="element"> SHI-D365-PROD </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/7567cd9d-1d68-416c-bdbf-96c1f46f0701.html" target="element">  </a> </td>
																				<td> <a href="../elements/7567cd9d-1d68-416c-bdbf-96c1f46f0701.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/736ea294-96b5-4238-a1e3-837218a49f70.html" target="element"> Anskaffelsesregister </a> </td>
																				<td> <a href="../elements/4d705fed-ca9d-4bea-a609-263be186591c.html" target="element"> Anskaffelser </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/39b5d092-2ef1-475b-a7eb-df30f857c1d6.html" target="element">  </a> </td>
																				<td> <a href="../elements/39b5d092-2ef1-475b-a7eb-df30f857c1d6.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/736ea294-96b5-4238-a1e3-837218a49f70.html" target="element"> Anskaffelsesregister </a> </td>
																				<td> <a href="../elements/2f0eb755-89be-4e4d-b13f-dab2ce40b54e.html" target="element"> SHI-D365-PROD </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>