<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>HR-Strategi</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>HR-Strategi</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/526e6794-3104-4f63-afd8-dcb910d66f37.png" alt="HR-Strategi" usemap="#526e6794-3104-4f63-afd8-dcb910d66f37map"/>
			   <map name="526e6794-3104-4f63-afd8-dcb910d66f37map">
				  		<area shape="rect" coords="442,610,562,665" href="../elements/3c0f6a95-eb2c-42fc-a294-03f43d2d7cb0.html"  target="element">
				  				<area shape="rect" coords="706,598,875,653" href="../elements/c9ffbaaf-e1e8-41d6-9e01-5d369fc680c5.html"  target="element">

				  		<area shape="rect" coords="658,550,923,695" href="../elements/690ab1ac-386d-4f04-812f-908c7346d663.html"  target="element">
				  				<area shape="rect" coords="1246,358,1571,455" href="../elements/b7161e23-27fa-4282-8720-ec8614d83736.html"  target="element">
				  				<area shape="rect" coords="1246,286,1571,335" href="../elements/12f38e92-8c05-43d0-a308-9138ad54249d.html"  target="element">
				  				<area shape="rect" coords="1246,550,1571,647" href="../elements/1267cb07-9d87-4408-ad9e-82e74e2f28a2.html"  target="element">
				  				<area shape="rect" coords="1246,478,1571,527" href="../elements/b532482f-9955-40a7-b81c-f7a4f1254220.html"  target="element">

				  		<area shape="rect" coords="1234,226,1583,671" href="../elements/id-65f4b176354442b8b2a39e37e551f91e.html"  target="element">
				  				<area shape="rect" coords="25,358,344,455" href="../elements/08e78979-d261-4509-a6cd-a6b85c2adc63.html"  target="element">
				  				<area shape="rect" coords="25,286,344,335" href="../elements/7dd3fb01-5f39-4910-9d14-2d22b3514a58.html"  target="element">
				  				<area shape="rect" coords="22,478,347,527" href="../elements/778970cf-a16e-4bb4-b1a7-0e2864bd6c81.html"  target="element">
				  				<area shape="rect" coords="22,550,347,647" href="../elements/dc1dafe7-da16-4172-9b85-d8c901897903.html"  target="element">

				  		<area shape="rect" coords="10,226,359,671" href="../elements/id-1f5d4823fa00436ab72a125797901bc8.html"  target="element">
				  				<area shape="rect" coords="712,358,881,413" href="../elements/081cf0da-3d40-4f48-8e5a-7ae2c2dd1752.html"  target="element">
				  				<area shape="rect" coords="712,442,881,497" href="../elements/a1eb7a63-3a38-4533-accb-f0dcf865b185.html"  target="element">
				  				<area shape="rect" coords="712,274,881,329" href="../elements/d607c019-a891-4c11-95a8-087bc51b05ed.html"  target="element">

				  		<area shape="rect" coords="658,202,923,515" href="../elements/77e54423-2584-434a-a40f-6aeca1838f08.html"  target="element">
				  				<area shape="rect" coords="304,46,460,107" href="../elements/b2871787-c215-4d88-8d9f-4efb6ec1783d.html"  target="element">
				  				<area shape="rect" coords="1324,46,1480,107" href="../elements/fb6a3fb2-c9af-4cad-824a-2c5979dd3ed3.html"  target="element">
				  				<area shape="rect" coords="1096,46,1252,107" href="../elements/fdb373bc-61f0-4a83-9303-0a23ef16cc4f.html"  target="element">
				  				<area shape="rect" coords="856,46,1012,107" href="../elements/68773440-b711-400c-ad91-199ca319096f.html"  target="element">
				  				<area shape="rect" coords="520,46,676,107" href="../elements/3087c407-3343-401c-9cde-785ac3b60b60.html"  target="element">
				  				<area shape="rect" coords="76,46,232,107" href="../elements/376e493b-73df-4d96-9a26-d6d512b91ce8.html"  target="element">

				  		<area shape="rect" coords="10,10,1583,131" href="../elements/7e591095-0d66-4015-bbda-a33ce5d510cd.html"  target="element">
				  				<area shape="rect" coords="1294,898,1511,953" href="../elements/7d192c86-034b-4e0e-9425-60ab9c54e93e.html"  target="element">
				  				<area shape="rect" coords="1138,1006,1342,1061" href="../elements/c9fe1205-8731-412a-978e-54d15f437870.html"  target="element">
				  				<area shape="rect" coords="689,1006,893,1061" href="../elements/16f9b7f6-de22-4631-8d58-412e8f20bd24.html"  target="element">
				  				<area shape="rect" coords="226,1006,430,1061" href="../elements/59f3d9d5-bdc1-457b-a56a-d1c6f58e854e.html"  target="element">
				  				<area shape="rect" coords="82,898,299,953" href="../elements/89ccf037-486c-4410-9744-5e4946877d3e.html"  target="element">
				  				<area shape="rect" coords="682,898,899,953" href="../elements/42dedbd1-41f1-4bd1-8998-2179ef5c6eb9.html"  target="element">
				  						<area shape="rect" coords="118,802,238,857" href="../elements/861dea17-703c-43b7-a9e8-8d08e76a49c4.html"  target="element">

				  				<area shape="rect" coords="34,778,329,863" href="../elements/5ca21590-9124-48f5-afc4-579805358d5f.html"  target="element">
				  						<area shape="rect" coords="1354,802,1474,857" href="../elements/id-ae85af952ef34841888def34118a0174.html"  target="element">

				  				<area shape="rect" coords="1258,778,1559,863" href="../elements/120953f7-35ca-4499-9cb6-31e84a961ef4.html"  target="element">
				  						<area shape="rect" coords="718,802,838,857" href="../elements/5aca410f-1456-4a29-8860-c4e9deb6b6aa.html"  target="element">

				  				<area shape="rect" coords="502,778,1055,863" href="../elements/690a2d6d-116a-4bef-9f45-1157123addcd.html"  target="element">

				  		<area shape="rect" coords="10,742,1583,1067" href="../elements/70106e93-35a2-425c-bb73-9787faee5f2e.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/70106e93-35a2-425c-bb73-9787faee5f2e.html" target="element"> Organisasjonsstyring </a> </td>
											    <td> <a href="../elements/70106e93-35a2-425c-bb73-9787faee5f2e.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/690a2d6d-116a-4bef-9f45-1157123addcd.html" target="element"> Administrasjon av arbeidsforhold </a> </td>
													    <td> <a href="../elements/690a2d6d-116a-4bef-9f45-1157123addcd.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/5aca410f-1456-4a29-8860-c4e9deb6b6aa.html" target="element"> St&#248;tteprosess Y </a> </td>
															    <td> <a href="../elements/5aca410f-1456-4a29-8860-c4e9deb6b6aa.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/120953f7-35ca-4499-9cb6-31e84a961ef4.html" target="element"> L&#248;nnsbehandling </a> </td>
													    <td> <a href="../elements/120953f7-35ca-4499-9cb6-31e84a961ef4.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-ae85af952ef34841888def34118a0174.html" target="element"> St&#248;tteprosess Z </a> </td>
															    <td> <a href="../elements/id-ae85af952ef34841888def34118a0174.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/5ca21590-9124-48f5-afc4-579805358d5f.html" target="element"> Rekruttering </a> </td>
													    <td> <a href="../elements/5ca21590-9124-48f5-afc4-579805358d5f.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/861dea17-703c-43b7-a9e8-8d08e76a49c4.html" target="element"> St&#248;tteprosess X </a> </td>
															    <td> <a href="../elements/861dea17-703c-43b7-a9e8-8d08e76a49c4.html" target="element" class="i18n-elementtype-BusinessProcess">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/42dedbd1-41f1-4bd1-8998-2179ef5c6eb9.html" target="element"> Etablere kultur for l&#230;ring </a> </td>
													    <td> <a href="../elements/42dedbd1-41f1-4bd1-8998-2179ef5c6eb9.html" target="element" class="i18n-elementtype-Driver">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/89ccf037-486c-4410-9744-5e4946877d3e.html" target="element"> Faglig fundament </a> </td>
													    <td> <a href="../elements/89ccf037-486c-4410-9744-5e4946877d3e.html" target="element" class="i18n-elementtype-Driver">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/59f3d9d5-bdc1-457b-a56a-d1c6f58e854e.html" target="element"> Lov om arbeidsmilj&#248;, arbeidstid og stillingsvern mv.  </a> </td>
													    <td> <a href="../elements/59f3d9d5-bdc1-457b-a56a-d1c6f58e854e.html" target="element" class="i18n-elementtype-Constraint">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/16f9b7f6-de22-4631-8d58-412e8f20bd24.html" target="element"> Lov om arkiv </a> </td>
													    <td> <a href="../elements/16f9b7f6-de22-4631-8d58-412e8f20bd24.html" target="element" class="i18n-elementtype-Constraint">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/c9fe1205-8731-412a-978e-54d15f437870.html" target="element"> Lov om behandling av personopplysninger </a> </td>
													    <td> <a href="../elements/c9fe1205-8731-412a-978e-54d15f437870.html" target="element" class="i18n-elementtype-Constraint">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/7d192c86-034b-4e0e-9425-60ab9c54e93e.html" target="element"> Beslutningsmyndighet </a> </td>
													    <td> <a href="../elements/7d192c86-034b-4e0e-9425-60ab9c54e93e.html" target="element" class="i18n-elementtype-Driver">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/7e591095-0d66-4015-bbda-a33ce5d510cd.html" target="element"> Virksomhetsstrategi </a> </td>
											    <td> <a href="../elements/7e591095-0d66-4015-bbda-a33ce5d510cd.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/376e493b-73df-4d96-9a26-d6d512b91ce8.html" target="element"> Fremragende kompetanseorganisasjon </a> </td>
													    <td> <a href="../elements/376e493b-73df-4d96-9a26-d6d512b91ce8.html" target="element" class="i18n-elementtype-CourseOfAction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/3087c407-3343-401c-9cde-785ac3b60b60.html" target="element"> Felles og standardiserte prosesser </a> </td>
													    <td> <a href="../elements/3087c407-3343-401c-9cde-785ac3b60b60.html" target="element" class="i18n-elementtype-CourseOfAction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/68773440-b711-400c-ad91-199ca319096f.html" target="element"> Kategoribasert tiln&#230;rming </a> </td>
													    <td> <a href="../elements/68773440-b711-400c-ad91-199ca319096f.html" target="element" class="i18n-elementtype-CourseOfAction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/fdb373bc-61f0-4a83-9303-0a23ef16cc4f.html" target="element"> Digitalisering </a> </td>
													    <td> <a href="../elements/fdb373bc-61f0-4a83-9303-0a23ef16cc4f.html" target="element" class="i18n-elementtype-CourseOfAction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/fb6a3fb2-c9af-4cad-824a-2c5979dd3ed3.html" target="element"> Kvalitet og risikostyring </a> </td>
													    <td> <a href="../elements/fb6a3fb2-c9af-4cad-824a-2c5979dd3ed3.html" target="element" class="i18n-elementtype-CourseOfAction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/b2871787-c215-4d88-8d9f-4efb6ec1783d.html" target="element"> Kunnskap og kompetanse </a> </td>
													    <td> <a href="../elements/b2871787-c215-4d88-8d9f-4efb6ec1783d.html" target="element" class="i18n-elementtype-CourseOfAction">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/77e54423-2584-434a-a40f-6aeca1838f08.html" target="element"> HR-Strategi - Sentrale satsningsomr&#229;der </a> </td>
											    <td> <a href="../elements/77e54423-2584-434a-a40f-6aeca1838f08.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/d607c019-a891-4c11-95a8-087bc51b05ed.html" target="element"> Satsningsomr&#229;de A </a> </td>
													    <td> <a href="../elements/d607c019-a891-4c11-95a8-087bc51b05ed.html" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/a1eb7a63-3a38-4533-accb-f0dcf865b185.html" target="element"> Satsningsomr&#229;de B </a> </td>
													    <td> <a href="../elements/a1eb7a63-3a38-4533-accb-f0dcf865b185.html" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/081cf0da-3d40-4f48-8e5a-7ae2c2dd1752.html" target="element"> Satsningsomr&#229;de C </a> </td>
													    <td> <a href="../elements/081cf0da-3d40-4f48-8e5a-7ae2c2dd1752.html" target="element" class="i18n-elementtype-Resource">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-1f5d4823fa00436ab72a125797901bc8.html" target="element"> Organisasjonsutvikling </a> </td>
											    <td> <a href="../elements/id-1f5d4823fa00436ab72a125797901bc8.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/dc1dafe7-da16-4172-9b85-d8c901897903.html" target="element"> S&#248;rge for at virksomhetens medarbeidere, b&#229;de individuelt og samlet, har riktige og tilstrekkelige ferdigheter og kunnskap til &#229; dekke virksomhetens behov i forhold til de oppgaver som m&#229; gj&#248;res for &#229; n&#229; dens m&#229;l. </a> </td>
													    <td> <a href="../elements/dc1dafe7-da16-4172-9b85-d8c901897903.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/778970cf-a16e-4bb4-b1a7-0e2864bd6c81.html" target="element"> Tilrettelegge for kompetanseutvikling for hele foretaket </a> </td>
													    <td> <a href="../elements/778970cf-a16e-4bb4-b1a7-0e2864bd6c81.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/7dd3fb01-5f39-4910-9d14-2d22b3514a58.html" target="element"> Tiltrekke seg, velge ut og ansette kvalifisert personell. </a> </td>
													    <td> <a href="../elements/7dd3fb01-5f39-4910-9d14-2d22b3514a58.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/08e78979-d261-4509-a6cd-a6b85c2adc63.html" target="element"> Rekruttere, sikre kompetanse, f&#248;lge opp, evaluere og bel&#248;nne medarbeidere, bygge organisasjonskultur, samt f&#248;re tilsyn over organisatorisk ledelse og sikre etterlevelse av lover og regler for arbeidsgivere og arbeidstakere. </a> </td>
													    <td> <a href="../elements/08e78979-d261-4509-a6cd-a6b85c2adc63.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-65f4b176354442b8b2a39e37e551f91e.html" target="element"> Organisasjonsstyring </a> </td>
											    <td> <a href="../elements/id-65f4b176354442b8b2a39e37e551f91e.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/b532482f-9955-40a7-b81c-f7a4f1254220.html" target="element"> Kompensere medarbeidere for tjenesten de utf&#248;rer for arbeidsgiver. </a> </td>
													    <td> <a href="../elements/b532482f-9955-40a7-b81c-f7a4f1254220.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/1267cb07-9d87-4408-ad9e-82e74e2f28a2.html" target="element"> P&#229;virke medarbeideres handlinger og valg gjennom aktivt arbeid med verdier, normer og virkelighetsoppfatninger som preger virksomheten. </a> </td>
													    <td> <a href="../elements/1267cb07-9d87-4408-ad9e-82e74e2f28a2.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/12f38e92-8c05-43d0-a308-9138ad54249d.html" target="element"> SIkre forsvarlig forvaltning av ansattforhold </a> </td>
													    <td> <a href="../elements/12f38e92-8c05-43d0-a308-9138ad54249d.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/b7161e23-27fa-4282-8720-ec8614d83736.html" target="element"> Utarbeide aktivitets-, bemannings-, og arbeidsplaner for turnus som samlet gir et best mulig tjenestetilbud til pasienter og brukere og samtidig ivaretar den enkelte medarbeiders livssituasjon og behov p&#229; en best mulig m&#229;te. </a> </td>
													    <td> <a href="../elements/b7161e23-27fa-4282-8720-ec8614d83736.html" target="element" class="i18n-elementtype-Capability">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/690ab1ac-386d-4f04-812f-908c7346d663.html" target="element"> Stab (1010) </a> </td>
											    <td> <a href="../elements/690ab1ac-386d-4f04-812f-908c7346d663.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/c9ffbaaf-e1e8-41d6-9e01-5d369fc680c5.html" target="element"> Endringsstyring </a> </td>
													    <td> <a href="../elements/c9ffbaaf-e1e8-41d6-9e01-5d369fc680c5.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/3c0f6a95-eb2c-42fc-a294-03f43d2d7cb0.html" target="element"> R&#229;dgiver - HR </a> </td>
											    <td> <a href="../elements/3c0f6a95-eb2c-42fc-a294-03f43d2d7cb0.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/d5fa03b5-ea2e-4f66-a322-c8805e0f6010.html" target="element">  </a> </td>
																		<td> <a href="../elements/d5fa03b5-ea2e-4f66-a322-c8805e0f6010.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/70106e93-35a2-425c-bb73-9787faee5f2e.html" target="element"> Organisasjonsstyring </a> </td>
																		<td> <a href="../elements/120953f7-35ca-4499-9cb6-31e84a961ef4.html" target="element"> L&#248;nnsbehandling </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a301efd9-6bd1-464d-9b6a-e463962df234.html" target="element">  </a> </td>
																		<td> <a href="../elements/a301efd9-6bd1-464d-9b6a-e463962df234.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/70106e93-35a2-425c-bb73-9787faee5f2e.html" target="element"> Organisasjonsstyring </a> </td>
																		<td> <a href="../elements/690a2d6d-116a-4bef-9f45-1157123addcd.html" target="element"> Administrasjon av arbeidsforhold </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f8d12dd1-aee4-425f-bc80-d25e407b2518.html" target="element">  </a> </td>
																		<td> <a href="../elements/f8d12dd1-aee4-425f-bc80-d25e407b2518.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/70106e93-35a2-425c-bb73-9787faee5f2e.html" target="element"> Organisasjonsstyring </a> </td>
																		<td> <a href="../elements/42dedbd1-41f1-4bd1-8998-2179ef5c6eb9.html" target="element"> Etablere kultur for l&#230;ring </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9a140912-6912-452e-8e8d-6ad48e668444.html" target="element">  </a> </td>
																		<td> <a href="../elements/9a140912-6912-452e-8e8d-6ad48e668444.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/70106e93-35a2-425c-bb73-9787faee5f2e.html" target="element"> Organisasjonsstyring </a> </td>
																		<td> <a href="../elements/5ca21590-9124-48f5-afc4-579805358d5f.html" target="element"> Rekruttering </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/091a65c9-2741-42f9-8a5e-476c6f8b0e7c.html" target="element">  </a> </td>
																		<td> <a href="../elements/091a65c9-2741-42f9-8a5e-476c6f8b0e7c.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/70106e93-35a2-425c-bb73-9787faee5f2e.html" target="element"> Organisasjonsstyring </a> </td>
																		<td> <a href="../elements/89ccf037-486c-4410-9744-5e4946877d3e.html" target="element"> Faglig fundament </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/13ccaae3-981d-48e7-9204-e2cb11da9e48.html" target="element">  </a> </td>
																		<td> <a href="../elements/13ccaae3-981d-48e7-9204-e2cb11da9e48.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/70106e93-35a2-425c-bb73-9787faee5f2e.html" target="element"> Organisasjonsstyring </a> </td>
																		<td> <a href="../elements/7d192c86-034b-4e0e-9425-60ab9c54e93e.html" target="element"> Beslutningsmyndighet </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4d74a6bf1b6e46c18c4f9686fb8ec75b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4d74a6bf1b6e46c18c4f9686fb8ec75b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/70106e93-35a2-425c-bb73-9787faee5f2e.html" target="element"> Organisasjonsstyring </a> </td>
																		<td> <a href="../elements/id-65f4b176354442b8b2a39e37e551f91e.html" target="element"> Organisasjonsstyring </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d420d9d0c63549ea964979330282a68f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d420d9d0c63549ea964979330282a68f.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/70106e93-35a2-425c-bb73-9787faee5f2e.html" target="element"> Organisasjonsstyring </a> </td>
																		<td> <a href="../elements/id-1f5d4823fa00436ab72a125797901bc8.html" target="element"> Organisasjonsutvikling </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f89ca554e1bb4041a684497e844de32b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f89ca554e1bb4041a684497e844de32b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/70106e93-35a2-425c-bb73-9787faee5f2e.html" target="element"> Organisasjonsstyring </a> </td>
																		<td> <a href="../elements/59f3d9d5-bdc1-457b-a56a-d1c6f58e854e.html" target="element"> Lov om arbeidsmilj&#248;, arbeidstid og stillingsvern mv.  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ae65f259eb234786b335f6e50f7f9862.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ae65f259eb234786b335f6e50f7f9862.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/70106e93-35a2-425c-bb73-9787faee5f2e.html" target="element"> Organisasjonsstyring </a> </td>
																		<td> <a href="../elements/16f9b7f6-de22-4631-8d58-412e8f20bd24.html" target="element"> Lov om arkiv </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2a756a5cdc7240a69184df7658bda023.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2a756a5cdc7240a69184df7658bda023.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/70106e93-35a2-425c-bb73-9787faee5f2e.html" target="element"> Organisasjonsstyring </a> </td>
																		<td> <a href="../elements/c9fe1205-8731-412a-978e-54d15f437870.html" target="element"> Lov om behandling av personopplysninger </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-e7cd1a2322394eb1a14bcbf081984a8a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e7cd1a2322394eb1a14bcbf081984a8a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/690a2d6d-116a-4bef-9f45-1157123addcd.html" target="element"> Administrasjon av arbeidsforhold </a> </td>
																				<td> <a href="../elements/5aca410f-1456-4a29-8860-c4e9deb6b6aa.html" target="element"> St&#248;tteprosess Y </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-c85117c86b1e4c929c069663d42e6f43.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c85117c86b1e4c929c069663d42e6f43.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/120953f7-35ca-4499-9cb6-31e84a961ef4.html" target="element"> L&#248;nnsbehandling </a> </td>
																				<td> <a href="../elements/id-ae85af952ef34841888def34118a0174.html" target="element"> St&#248;tteprosess Z </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/id-effc722e232c40ada7d8f8aab68aa237.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-effc722e232c40ada7d8f8aab68aa237.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/5ca21590-9124-48f5-afc4-579805358d5f.html" target="element"> Rekruttering </a> </td>
																				<td> <a href="../elements/861dea17-703c-43b7-a9e8-8d08e76a49c4.html" target="element"> St&#248;tteprosess X </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/c8b98bb7-3af5-487e-b7d8-28ea52794bcd.html" target="element">  </a> </td>
																		<td> <a href="../elements/c8b98bb7-3af5-487e-b7d8-28ea52794bcd.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/7e591095-0d66-4015-bbda-a33ce5d510cd.html" target="element"> Virksomhetsstrategi </a> </td>
																		<td> <a href="../elements/376e493b-73df-4d96-9a26-d6d512b91ce8.html" target="element"> Fremragende kompetanseorganisasjon </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9c7d6b96-9b01-4298-8033-1c3842f1f978.html" target="element">  </a> </td>
																		<td> <a href="../elements/9c7d6b96-9b01-4298-8033-1c3842f1f978.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/7e591095-0d66-4015-bbda-a33ce5d510cd.html" target="element"> Virksomhetsstrategi </a> </td>
																		<td> <a href="../elements/3087c407-3343-401c-9cde-785ac3b60b60.html" target="element"> Felles og standardiserte prosesser </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/eb35aef1-010c-475a-a0b3-8d975536e892.html" target="element">  </a> </td>
																		<td> <a href="../elements/eb35aef1-010c-475a-a0b3-8d975536e892.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/7e591095-0d66-4015-bbda-a33ce5d510cd.html" target="element"> Virksomhetsstrategi </a> </td>
																		<td> <a href="../elements/68773440-b711-400c-ad91-199ca319096f.html" target="element"> Kategoribasert tiln&#230;rming </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b21a420e-8fe8-40ab-a5f2-b68849c2c2bd.html" target="element">  </a> </td>
																		<td> <a href="../elements/b21a420e-8fe8-40ab-a5f2-b68849c2c2bd.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/7e591095-0d66-4015-bbda-a33ce5d510cd.html" target="element"> Virksomhetsstrategi </a> </td>
																		<td> <a href="../elements/fdb373bc-61f0-4a83-9303-0a23ef16cc4f.html" target="element"> Digitalisering </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ce275bb3-507b-4d3a-9c66-bea151f55f49.html" target="element">  </a> </td>
																		<td> <a href="../elements/ce275bb3-507b-4d3a-9c66-bea151f55f49.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/7e591095-0d66-4015-bbda-a33ce5d510cd.html" target="element"> Virksomhetsstrategi </a> </td>
																		<td> <a href="../elements/fb6a3fb2-c9af-4cad-824a-2c5979dd3ed3.html" target="element"> Kvalitet og risikostyring </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d1ad8317-5819-491e-a5b3-3d727e0d207d.html" target="element">  </a> </td>
																		<td> <a href="../elements/d1ad8317-5819-491e-a5b3-3d727e0d207d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/7e591095-0d66-4015-bbda-a33ce5d510cd.html" target="element"> Virksomhetsstrategi </a> </td>
																		<td> <a href="../elements/b2871787-c215-4d88-8d9f-4efb6ec1783d.html" target="element"> Kunnskap og kompetanse </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/afa218a3-17b6-45b2-b7a5-26ff15159a08.html" target="element">  </a> </td>
																		<td> <a href="../elements/afa218a3-17b6-45b2-b7a5-26ff15159a08.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/77e54423-2584-434a-a40f-6aeca1838f08.html" target="element"> HR-Strategi - Sentrale satsningsomr&#229;der </a> </td>
																		<td> <a href="../elements/7e591095-0d66-4015-bbda-a33ce5d510cd.html" target="element"> Virksomhetsstrategi </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/988c6d2e-71f0-420e-9096-ea6f897c29c7.html" target="element">  </a> </td>
																		<td> <a href="../elements/988c6d2e-71f0-420e-9096-ea6f897c29c7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/77e54423-2584-434a-a40f-6aeca1838f08.html" target="element"> HR-Strategi - Sentrale satsningsomr&#229;der </a> </td>
																		<td> <a href="../elements/d607c019-a891-4c11-95a8-087bc51b05ed.html" target="element"> Satsningsomr&#229;de A </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c4ca5dff-f1da-47c4-a29e-daa7e5775224.html" target="element">  </a> </td>
																		<td> <a href="../elements/c4ca5dff-f1da-47c4-a29e-daa7e5775224.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/77e54423-2584-434a-a40f-6aeca1838f08.html" target="element"> HR-Strategi - Sentrale satsningsomr&#229;der </a> </td>
																		<td> <a href="../elements/a1eb7a63-3a38-4533-accb-f0dcf865b185.html" target="element"> Satsningsomr&#229;de B </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0dae95bd-368b-499b-9d43-c8a60ee200c4.html" target="element">  </a> </td>
																		<td> <a href="../elements/0dae95bd-368b-499b-9d43-c8a60ee200c4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/77e54423-2584-434a-a40f-6aeca1838f08.html" target="element"> HR-Strategi - Sentrale satsningsomr&#229;der </a> </td>
																		<td> <a href="../elements/081cf0da-3d40-4f48-8e5a-7ae2c2dd1752.html" target="element"> Satsningsomr&#229;de C </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-685340d466a944c3bf45c005ac606be5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-685340d466a944c3bf45c005ac606be5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1f5d4823fa00436ab72a125797901bc8.html" target="element"> Organisasjonsutvikling </a> </td>
																		<td> <a href="../elements/dc1dafe7-da16-4172-9b85-d8c901897903.html" target="element"> S&#248;rge for at virksomhetens medarbeidere, b&#229;de individuelt og samlet, har riktige og tilstrekkelige ferdigheter og kunnskap til &#229; dekke virksomhetens behov i forhold til de oppgaver som m&#229; gj&#248;res for &#229; n&#229; dens m&#229;l. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-bbfbe3542155431a857ac91f36cacf35.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-bbfbe3542155431a857ac91f36cacf35.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1f5d4823fa00436ab72a125797901bc8.html" target="element"> Organisasjonsutvikling </a> </td>
																		<td> <a href="../elements/778970cf-a16e-4bb4-b1a7-0e2864bd6c81.html" target="element"> Tilrettelegge for kompetanseutvikling for hele foretaket </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-da041ab7cb144734ab150e2b6fefdb63.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-da041ab7cb144734ab150e2b6fefdb63.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1f5d4823fa00436ab72a125797901bc8.html" target="element"> Organisasjonsutvikling </a> </td>
																		<td> <a href="../elements/08e78979-d261-4509-a6cd-a6b85c2adc63.html" target="element"> Rekruttere, sikre kompetanse, f&#248;lge opp, evaluere og bel&#248;nne medarbeidere, bygge organisasjonskultur, samt f&#248;re tilsyn over organisatorisk ledelse og sikre etterlevelse av lover og regler for arbeidsgivere og arbeidstakere. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0c46c22c2c454e6d96e60d4f489084b8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0c46c22c2c454e6d96e60d4f489084b8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1f5d4823fa00436ab72a125797901bc8.html" target="element"> Organisasjonsutvikling </a> </td>
																		<td> <a href="../elements/7dd3fb01-5f39-4910-9d14-2d22b3514a58.html" target="element"> Tiltrekke seg, velge ut og ansette kvalifisert personell. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c0dc6d26aa7b4ed3bbc44316b80d5930.html" target="element"> Behov/ prosjektforslag? </a> </td>
																		<td> <a href="../elements/id-c0dc6d26aa7b4ed3bbc44316b80d5930.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1f5d4823fa00436ab72a125797901bc8.html" target="element"> Organisasjonsutvikling </a> </td>
																		<td> <a href="../elements/77e54423-2584-434a-a40f-6aeca1838f08.html" target="element"> HR-Strategi - Sentrale satsningsomr&#229;der </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-0e559a0adf924cf0a62f746b729e1797.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0e559a0adf924cf0a62f746b729e1797.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-65f4b176354442b8b2a39e37e551f91e.html" target="element"> Organisasjonsstyring </a> </td>
																		<td> <a href="../elements/b532482f-9955-40a7-b81c-f7a4f1254220.html" target="element"> Kompensere medarbeidere for tjenesten de utf&#248;rer for arbeidsgiver. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-14b285d4e95c4dceb15e76abae348d90.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-14b285d4e95c4dceb15e76abae348d90.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-65f4b176354442b8b2a39e37e551f91e.html" target="element"> Organisasjonsstyring </a> </td>
																		<td> <a href="../elements/1267cb07-9d87-4408-ad9e-82e74e2f28a2.html" target="element"> P&#229;virke medarbeideres handlinger og valg gjennom aktivt arbeid med verdier, normer og virkelighetsoppfatninger som preger virksomheten. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4d9099244eb04e59a8d8f8696cd41936.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4d9099244eb04e59a8d8f8696cd41936.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-65f4b176354442b8b2a39e37e551f91e.html" target="element"> Organisasjonsstyring </a> </td>
																		<td> <a href="../elements/12f38e92-8c05-43d0-a308-9138ad54249d.html" target="element"> SIkre forsvarlig forvaltning av ansattforhold </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-df3bbaedf0d24b7fb915af4220b177a7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-df3bbaedf0d24b7fb915af4220b177a7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-65f4b176354442b8b2a39e37e551f91e.html" target="element"> Organisasjonsstyring </a> </td>
																		<td> <a href="../elements/b7161e23-27fa-4282-8720-ec8614d83736.html" target="element"> Utarbeide aktivitets-, bemannings-, og arbeidsplaner for turnus som samlet gir et best mulig tjenestetilbud til pasienter og brukere og samtidig ivaretar den enkelte medarbeiders livssituasjon og behov p&#229; en best mulig m&#229;te. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2773821af2b94cd09a76253bc1118373.html" target="element"> Behov/ prosjektforslag? </a> </td>
																		<td> <a href="../elements/id-2773821af2b94cd09a76253bc1118373.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-65f4b176354442b8b2a39e37e551f91e.html" target="element"> Organisasjonsstyring </a> </td>
																		<td> <a href="../elements/77e54423-2584-434a-a40f-6aeca1838f08.html" target="element"> HR-Strategi - Sentrale satsningsomr&#229;der </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-0b91efd844bb42e28eef396ecfcc1887.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0b91efd844bb42e28eef396ecfcc1887.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/690ab1ac-386d-4f04-812f-908c7346d663.html" target="element"> Stab (1010) </a> </td>
																		<td> <a href="../elements/70106e93-35a2-425c-bb73-9787faee5f2e.html" target="element"> Organisasjonsstyring </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4391a10796914430a358905411747168.html" target="element"> Beslutter </a> </td>
																		<td> <a href="../elements/id-4391a10796914430a358905411747168.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/690ab1ac-386d-4f04-812f-908c7346d663.html" target="element"> Stab (1010) </a> </td>
																		<td> <a href="../elements/77e54423-2584-434a-a40f-6aeca1838f08.html" target="element"> HR-Strategi - Sentrale satsningsomr&#229;der </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-76e09c04ae0745c88a49ab155a056336.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-76e09c04ae0745c88a49ab155a056336.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/690ab1ac-386d-4f04-812f-908c7346d663.html" target="element"> Stab (1010) </a> </td>
																		<td> <a href="../elements/c9ffbaaf-e1e8-41d6-9e01-5d369fc680c5.html" target="element"> Endringsstyring </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/c9aa527b-e5ed-4aef-930a-b3c8db3a0a15.html" target="element">  </a> </td>
																		<td> <a href="../elements/c9aa527b-e5ed-4aef-930a-b3c8db3a0a15.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/3c0f6a95-eb2c-42fc-a294-03f43d2d7cb0.html" target="element"> R&#229;dgiver - HR </a> </td>
																		<td> <a href="../elements/70106e93-35a2-425c-bb73-9787faee5f2e.html" target="element"> Organisasjonsstyring </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>