<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Innholdstype</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Innholdstype</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-elementtype-SketchModel"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-SketchModel" target="hint"></a>
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/5755a02a-cec3-433b-abbb-f548c511cd06.png" alt="Innholdstype" usemap="#5755a02a-cec3-433b-abbb-f548c511cd06map"/>
			   <map name="5755a02a-cec3-433b-abbb-f548c511cd06map">
				          <area shape="rect" coords="1150,826,1415,935" href="../objects/7179353f-1ad1-4fc0-87b9-64ecccdc4731.html" target="element" >
				          <area shape="rect" coords="1150,706,1415,815" href="../objects/e2ad8118-858c-47ef-9181-89b19ccb4c53.html" target="element" >
				          <area shape="rect" coords="1150,586,1415,695" href="../objects/8bc82adc-dc59-42f4-b515-f2a82c1c2901.html" target="element" >
				  				        <area shape="rect" coords="862,790,995,875" href="../objects/855d3d96-fd46-45c3-b394-0ba63c610e58.html" target="element" >
				  				        <area shape="rect" coords="862,694,995,779" href="../objects/1690ad5c-720d-4971-9401-5e701d4b8f54.html" target="element" >
				  				        <area shape="rect" coords="862,598,995,683" href="../objects/b3b2b7be-3a24-4045-a05f-560ce6296966.html" target="element" >

				  		        <area shape="rect" coords="850,550,1055,911" href="../objects/643ed99d-4eb4-45fd-b25f-a8f87368c2eb.html" target="element" >
				  				        <area shape="rect" coords="598,790,731,875" href="../objects/eb19302a-7088-445b-9347-52de7d44b490.html" target="element" >
				  				        <area shape="rect" coords="598,694,731,779" href="../objects/5500c89a-48cf-4637-8e9a-47b767ae470b.html" target="element" >
				  				        <area shape="rect" coords="598,598,731,683" href="../objects/ed379056-dd27-4329-b1c8-080a8fa60320.html" target="element" >

				  		        <area shape="rect" coords="586,550,791,911" href="../objects/a6baf182-d3c2-49d3-a625-e39ab45613ba.html" target="element" >
				  				        <area shape="rect" coords="346,790,479,875" href="../objects/d9710d2b-44e3-4499-91f7-4a8b37405dc1.html" target="element" >
				  				        <area shape="rect" coords="346,694,479,779" href="../objects/150cc371-0061-4220-9ed5-c2351d7ae40e.html" target="element" >
				  				        <area shape="rect" coords="346,598,479,683" href="../objects/2b53ce6e-1625-4b42-9826-7f4d9d5ace8b.html" target="element" >

				  		        <area shape="rect" coords="334,550,539,911" href="../objects/77008462-78cd-4721-834a-e83cdcb2260e.html" target="element" >
				  				        <area shape="rect" coords="94,790,227,875" href="../objects/69c38f69-631b-4fc7-8d3d-171fa5e84439.html" target="element" >
				  				        <area shape="rect" coords="94,694,227,779" href="../objects/d4db89b3-fe0f-495e-a6c8-325ddf84ca21.html" target="element" >
				  				        <area shape="rect" coords="94,598,227,683" href="../objects/038abf6b-b1cc-49fe-a30e-11810bcdaabb.html" target="element" >

				  		        <area shape="rect" coords="82,550,287,911" href="../objects/1ce35f1c-2856-4750-a9e5-180da9a5f5fb.html" target="element" >

				          <area shape="rect" coords="10,502,1127,935" href="../objects/f6ed8d11-35a1-4891-a7e4-1e7cc088f037.html" target="element" >
				  				        <area shape="rect" coords="862,298,995,383" href="../objects/3c8124c3-ab24-4520-9b6f-33ac9f1ca0d0.html" target="element" >
				  				        <area shape="rect" coords="862,202,995,287" href="../objects/f52bf565-739a-4914-95b4-39113a054ffa.html" target="element" >
				  				        <area shape="rect" coords="862,106,995,191" href="../objects/fd18d3d5-a5a0-4c2a-9431-268491757dc2.html" target="element" >

				  		        <area shape="rect" coords="850,58,1055,419" href="../objects/f4771561-737b-4038-a109-660a2de91791.html" target="element" >
				  				        <area shape="rect" coords="598,298,731,383" href="../objects/9609e339-86ed-4519-b53a-490f148e036b.html" target="element" >
				  				        <area shape="rect" coords="598,202,731,287" href="../objects/4a1c0461-5058-45ad-bad7-a6d793cd322c.html" target="element" >
				  				        <area shape="rect" coords="598,106,731,191" href="../objects/5dc126cf-ae30-476d-88a5-fc39347c3d87.html" target="element" >

				  		        <area shape="rect" coords="586,58,791,419" href="../objects/b30ac224-62bd-440c-8e2a-ed4f6ba2ff4b.html" target="element" >
				  				        <area shape="rect" coords="346,298,479,383" href="../objects/8182a395-31d9-4b96-a220-3bd6935e4ae0.html" target="element" >
				  				        <area shape="rect" coords="346,202,479,287" href="../objects/6093edb1-3673-4468-95fb-e4122f4dc92c.html" target="element" >
				  				        <area shape="rect" coords="346,106,479,191" href="../objects/0b656ac2-3927-4359-a882-b1b8f2e10741.html" target="element" >

				  		        <area shape="rect" coords="334,58,539,419" href="../objects/4cf88051-538c-485a-abc6-f5303986f894.html" target="element" >
				  				        <area shape="rect" coords="94,298,227,383" href="../objects/9d901629-65f3-4cb5-bed1-53379cd6c834.html" target="element" >
				  				        <area shape="rect" coords="94,202,227,287" href="../objects/95310070-d2f2-43c1-a875-b7b29f7e1c36.html" target="element" >
				  				        <area shape="rect" coords="94,106,227,191" href="../objects/5ead9722-1d65-417f-abc2-aae2d9ada3ab.html" target="element" >

				  		        <area shape="rect" coords="82,58,287,419" href="../objects/18d36ee0-5bc0-44b1-84e2-ad959510165e.html" target="element" >

				          <area shape="rect" coords="10,10,1127,443" href="../objects/d9a9e7d4-fb1a-4dd2-9138-b072477ef4bf.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/d9a9e7d4-fb1a-4dd2-9138-b072477ef4bf.html" target="element"> Sticky </a> </td>
									           <td> <a href="../objects/d9a9e7d4-fb1a-4dd2-9138-b072477ef4bf.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/18d36ee0-5bc0-44b1-84e2-ad959510165e.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/18d36ee0-5bc0-44b1-84e2-ad959510165e.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/5ead9722-1d65-417f-abc2-aae2d9ada3ab.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/5ead9722-1d65-417f-abc2-aae2d9ada3ab.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/95310070-d2f2-43c1-a875-b7b29f7e1c36.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/95310070-d2f2-43c1-a875-b7b29f7e1c36.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/9d901629-65f3-4cb5-bed1-53379cd6c834.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/9d901629-65f3-4cb5-bed1-53379cd6c834.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/4cf88051-538c-485a-abc6-f5303986f894.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/4cf88051-538c-485a-abc6-f5303986f894.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/0b656ac2-3927-4359-a882-b1b8f2e10741.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/0b656ac2-3927-4359-a882-b1b8f2e10741.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/6093edb1-3673-4468-95fb-e4122f4dc92c.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/6093edb1-3673-4468-95fb-e4122f4dc92c.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/8182a395-31d9-4b96-a220-3bd6935e4ae0.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/8182a395-31d9-4b96-a220-3bd6935e4ae0.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/b30ac224-62bd-440c-8e2a-ed4f6ba2ff4b.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/b30ac224-62bd-440c-8e2a-ed4f6ba2ff4b.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/5dc126cf-ae30-476d-88a5-fc39347c3d87.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/5dc126cf-ae30-476d-88a5-fc39347c3d87.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/4a1c0461-5058-45ad-bad7-a6d793cd322c.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/4a1c0461-5058-45ad-bad7-a6d793cd322c.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/9609e339-86ed-4519-b53a-490f148e036b.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/9609e339-86ed-4519-b53a-490f148e036b.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/f4771561-737b-4038-a109-660a2de91791.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/f4771561-737b-4038-a109-660a2de91791.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/fd18d3d5-a5a0-4c2a-9431-268491757dc2.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/fd18d3d5-a5a0-4c2a-9431-268491757dc2.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/f52bf565-739a-4914-95b4-39113a054ffa.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/f52bf565-739a-4914-95b4-39113a054ffa.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/3c8124c3-ab24-4520-9b6f-33ac9f1ca0d0.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/3c8124c3-ab24-4520-9b6f-33ac9f1ca0d0.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													
											
									        <tr>
									           <td> <a href="../objects/f6ed8d11-35a1-4891-a7e4-1e7cc088f037.html" target="element"> Sticky </a> </td>
									           <td> <a href="../objects/f6ed8d11-35a1-4891-a7e4-1e7cc088f037.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/1ce35f1c-2856-4750-a9e5-180da9a5f5fb.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/1ce35f1c-2856-4750-a9e5-180da9a5f5fb.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/038abf6b-b1cc-49fe-a30e-11810bcdaabb.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/038abf6b-b1cc-49fe-a30e-11810bcdaabb.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/d4db89b3-fe0f-495e-a6c8-325ddf84ca21.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/d4db89b3-fe0f-495e-a6c8-325ddf84ca21.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/69c38f69-631b-4fc7-8d3d-171fa5e84439.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/69c38f69-631b-4fc7-8d3d-171fa5e84439.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/77008462-78cd-4721-834a-e83cdcb2260e.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/77008462-78cd-4721-834a-e83cdcb2260e.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/2b53ce6e-1625-4b42-9826-7f4d9d5ace8b.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/2b53ce6e-1625-4b42-9826-7f4d9d5ace8b.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/150cc371-0061-4220-9ed5-c2351d7ae40e.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/150cc371-0061-4220-9ed5-c2351d7ae40e.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/d9710d2b-44e3-4499-91f7-4a8b37405dc1.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/d9710d2b-44e3-4499-91f7-4a8b37405dc1.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/a6baf182-d3c2-49d3-a625-e39ab45613ba.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/a6baf182-d3c2-49d3-a625-e39ab45613ba.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/ed379056-dd27-4329-b1c8-080a8fa60320.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/ed379056-dd27-4329-b1c8-080a8fa60320.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/5500c89a-48cf-4637-8e9a-47b767ae470b.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/5500c89a-48cf-4637-8e9a-47b767ae470b.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/eb19302a-7088-445b-9347-52de7d44b490.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/eb19302a-7088-445b-9347-52de7d44b490.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/643ed99d-4eb4-45fd-b25f-a8f87368c2eb.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/643ed99d-4eb4-45fd-b25f-a8f87368c2eb.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/b3b2b7be-3a24-4045-a05f-560ce6296966.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/b3b2b7be-3a24-4045-a05f-560ce6296966.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/1690ad5c-720d-4971-9401-5e701d4b8f54.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/1690ad5c-720d-4971-9401-5e701d4b8f54.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/855d3d96-fd46-45c3-b394-0ba63c610e58.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/855d3d96-fd46-45c3-b394-0ba63c610e58.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													
											
									        <tr>
									           <td> <a href="../objects/8bc82adc-dc59-42f4-b515-f2a82c1c2901.html" target="element"> Sticky </a> </td>
									           <td> <a href="../objects/8bc82adc-dc59-42f4-b515-f2a82c1c2901.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/e2ad8118-858c-47ef-9181-89b19ccb4c53.html" target="element"> Sticky </a> </td>
									           <td> <a href="../objects/e2ad8118-858c-47ef-9181-89b19ccb4c53.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/7179353f-1ad1-4fc0-87b9-64ecccdc4731.html" target="element"> Sticky </a> </td>
									           <td> <a href="../objects/7179353f-1ad1-4fc0-87b9-64ecccdc4731.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>