<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Beredskapsmål og metodikk</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Beredskapsm&#229;l og metodikk</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/590ecc1a-dbdf-43b6-9865-9b58d0aecef1.png" alt="Beredskapsmål og metodikk" usemap="#590ecc1a-dbdf-43b6-9865-9b58d0aecef1map"/>
			   <map name="590ecc1a-dbdf-43b6-9865-9b58d0aecef1map">
				  		<area shape="rect" coords="994,922,1114,977" href="../elements/1e2332c1-4144-4aa7-93df-687f4a9ef77b.html"  target="element">
				  				<area shape="rect" coords="538,1150,658,1205" href="../elements/23675ae4-39cd-4d08-8d3e-4829a25ee4de.html"  target="element">
				  				<area shape="rect" coords="694,1150,814,1205" href="../elements/98f3afb6-5cc8-4d94-9ef5-6ce3ac2f35ed.html"  target="element">
				  				<area shape="rect" coords="862,1150,982,1205" href="../elements/991e7fd5-e7f4-4ad7-ab51-c9e65aeaef68.html"  target="element">
				  				<area shape="rect" coords="466,1042,586,1097" href="../elements/309329fb-c945-427d-990d-76a5922c0512.html"  target="element">
				  				<area shape="rect" coords="382,1150,502,1205" href="../elements/a40556cb-bba1-4880-85a7-81c882e491ed.html"  target="element">
				  				<area shape="rect" coords="226,1150,346,1205" href="../elements/6ef36f8b-ecc5-4aea-a9a7-0c2032b1a3ca.html"  target="element">
				  				<area shape="rect" coords="70,1150,190,1205" href="../elements/24b7ed93-7343-4593-9e22-817493ee9c5f.html"  target="element">

				  		<area shape="rect" coords="10,994,1067,1235" href="../elements/22f15950-ecd2-44ee-8b04-c6c0d6a4bdbd.html"  target="element">
				  		<area shape="rect" coords="994,577,1114,632" href="../elements/ac1f534d-d9fa-4dd5-b8aa-ad824ce9d275.html"  target="element">
				  				<area shape="rect" coords="154,346,395,438" href="../elements/a1fe0b98-6f24-4d65-b572-240e5ed589b6.html"  target="element">
				  				<area shape="rect" coords="622,346,863,438" href="../elements/49b4d675-1556-4dd1-8179-2c2cf376bcce.html"  target="element">
				  				<area shape="rect" coords="670,766,863,887" href="../elements/f4847cb1-b10b-4224-9955-5e095cf6d59f.html"  target="element">
				  				<area shape="rect" coords="418,766,611,887" href="../elements/7cdc6336-f9c3-4b3d-b3ef-042653af0353.html"  target="element">
				  				<area shape="rect" coords="154,766,347,887" href="../elements/6fa47405-ec1b-4aea-b490-a023326b5803.html"  target="element">
				  				<area shape="rect" coords="418,550,611,671" href="../elements/0494f09f-b5f5-4e74-a527-bc882fa4878e.html"  target="element">
				  				<area shape="rect" coords="670,550,863,671" href="../elements/4b039946-7365-48b4-8be4-8f7864a6e086.html"  target="element">
				  				<area shape="rect" coords="154,550,347,671" href="../elements/38995dfd-3516-4729-a30b-e1f73636fed4.html"  target="element">

				  		<area shape="rect" coords="22,286,947,923" href="../elements/e8a22bdd-71d9-4cbb-9a7c-2baab06757bd.html"  target="element">
				  		<area shape="rect" coords="394,10,635,102" href="../elements/5f2eb848-c9fe-4b24-99cc-1b1d57ac17ec.html"  target="element">
				  		<area shape="rect" coords="394,154,635,246" href="../elements/d4964be1-04db-4e9b-a60a-b952d89c79a0.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/d4964be1-04db-4e9b-a60a-b952d89c79a0.html" target="element"> Opprette beredskapsplaner og respondere p&#229; akutte hendelser. </a> </td>
											    <td> <a href="../elements/d4964be1-04db-4e9b-a60a-b952d89c79a0.html" target="element" class="i18n-elementtype-Capability"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5f2eb848-c9fe-4b24-99cc-1b1d57ac17ec.html" target="element"> Lov om helsemessig og sosial beredskap </a> </td>
											    <td> <a href="../elements/5f2eb848-c9fe-4b24-99cc-1b1d57ac17ec.html" target="element" class="i18n-elementtype-Constraint"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e8a22bdd-71d9-4cbb-9a7c-2baab06757bd.html" target="element"> Beredskapsplan </a> </td>
											    <td> <a href="../elements/e8a22bdd-71d9-4cbb-9a7c-2baab06757bd.html" target="element" class="i18n-elementtype-Grouping"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/38995dfd-3516-4729-a30b-e1f73636fed4.html" target="element"> Tilstrekkelig mengde utstyr sikret gjennom avtaler om forsyning, beredskapslagring, omdisponering, service og reparasjon </a> </td>
													    <td> <a href="../elements/38995dfd-3516-4729-a30b-e1f73636fed4.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/4b039946-7365-48b4-8be4-8f7864a6e086.html" target="element"> Behov for kvalifisert personell ved en pandemi </a> </td>
													    <td> <a href="../elements/4b039946-7365-48b4-8be4-8f7864a6e086.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/0494f09f-b5f5-4e74-a527-bc882fa4878e.html" target="element"> Forsyning av legemidler og medisinsk utstyr </a> </td>
													    <td> <a href="../elements/0494f09f-b5f5-4e74-a527-bc882fa4878e.html" target="element" class="i18n-elementtype-Principle"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/6fa47405-ec1b-4aea-b490-a023326b5803.html" target="element"> Avtaler om forsyning fra leverand&#248;rer i en krisesituasjon, eventuelt ved beredskapslagring hos leverand&#248;r </a> </td>
													    <td> <a href="../elements/6fa47405-ec1b-4aea-b490-a023326b5803.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/7cdc6336-f9c3-4b3d-b3ef-042653af0353.html" target="element"> Avtaler om reparasjon og service p&#229; essensielt utstyr </a> </td>
													    <td> <a href="../elements/7cdc6336-f9c3-4b3d-b3ef-042653af0353.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/f4847cb1-b10b-4224-9955-5e095cf6d59f.html" target="element"> Kvalifisert personell er en forutsetning for optimal h&#229;ndtering. Alle m&#229; bidra ut fra sine forutsetninger og kompetanse. </a> </td>
													    <td> <a href="../elements/f4847cb1-b10b-4224-9955-5e095cf6d59f.html" target="element" class="i18n-elementtype-Requirement"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/49b4d675-1556-4dd1-8179-2c2cf376bcce.html" target="element"> Samhandling med kommunehelsetjenesten og andre helseforetak  </a> </td>
													    <td> <a href="../elements/49b4d675-1556-4dd1-8179-2c2cf376bcce.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/a1fe0b98-6f24-4d65-b572-240e5ed589b6.html" target="element"> Kommunikasjon i krise- og beredskapssituasjoner  </a> </td>
													    <td> <a href="../elements/a1fe0b98-6f24-4d65-b572-240e5ed589b6.html" target="element" class="i18n-elementtype-Driver"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/ac1f534d-d9fa-4dd5-b8aa-ad824ce9d275.html" target="element"> Beredskapsplan </a> </td>
											    <td> <a href="../elements/ac1f534d-d9fa-4dd5-b8aa-ad824ce9d275.html" target="element" class="i18n-elementtype-Resource"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/22f15950-ecd2-44ee-8b04-c6c0d6a4bdbd.html" target="element"> Beredskapsm&#248;te </a> </td>
											    <td> <a href="../elements/22f15950-ecd2-44ee-8b04-c6c0d6a4bdbd.html" target="element" class="i18n-elementtype-BusinessCollaboration"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/24b7ed93-7343-4593-9e22-817493ee9c5f.html" target="element"> Analysere konsekvenspotensial </a> </td>
													    <td> <a href="../elements/24b7ed93-7343-4593-9e22-817493ee9c5f.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/6ef36f8b-ecc5-4aea-a9a7-0c2032b1a3ca.html" target="element"> Analysere behov  </a> </td>
													    <td> <a href="../elements/6ef36f8b-ecc5-4aea-a9a7-0c2032b1a3ca.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/a40556cb-bba1-4880-85a7-81c882e491ed.html" target="element"> Identifisere og iverksette tiltak </a> </td>
													    <td> <a href="../elements/a40556cb-bba1-4880-85a7-81c882e491ed.html" target="element" class="i18n-elementtype-Assessment"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/309329fb-c945-427d-990d-76a5922c0512.html" target="element"> Samlet situasjonsforst&#229;else </a> </td>
													    <td> <a href="../elements/309329fb-c945-427d-990d-76a5922c0512.html" target="element" class="i18n-elementtype-Goal"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/991e7fd5-e7f4-4ad7-ab51-c9e65aeaef68.html" target="element"> Sikre proaktiv loggf&#248;ring </a> </td>
													    <td> <a href="../elements/991e7fd5-e7f4-4ad7-ab51-c9e65aeaef68.html" target="element" class="i18n-elementtype-Principle"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/98f3afb6-5cc8-4d94-9ef5-6ce3ac2f35ed.html" target="element"> Sikre informasjonsflyt </a> </td>
													    <td> <a href="../elements/98f3afb6-5cc8-4d94-9ef5-6ce3ac2f35ed.html" target="element" class="i18n-elementtype-Principle"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/23675ae4-39cd-4d08-8d3e-4829a25ee4de.html" target="element"> Sikre relevant fokus </a> </td>
													    <td> <a href="../elements/23675ae4-39cd-4d08-8d3e-4829a25ee4de.html" target="element" class="i18n-elementtype-Principle"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/1e2332c1-4144-4aa7-93df-687f4a9ef77b.html" target="element"> Situasjonsspesifikk plan </a> </td>
											    <td> <a href="../elements/1e2332c1-4144-4aa7-93df-687f4a9ef77b.html" target="element" class="i18n-elementtype-CourseOfAction"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/0f850506-608c-4d1c-95ee-d8d2df891105.html" target="element">  </a> </td>
																		<td> <a href="../elements/0f850506-608c-4d1c-95ee-d8d2df891105.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/d4964be1-04db-4e9b-a60a-b952d89c79a0.html" target="element"> Opprette beredskapsplaner og respondere p&#229; akutte hendelser. </a> </td>
																		<td> <a href="../elements/a1fe0b98-6f24-4d65-b572-240e5ed589b6.html" target="element"> Kommunikasjon i krise- og beredskapssituasjoner  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ebc7ce33-905b-4922-9bfc-04093c60a42c.html" target="element">  </a> </td>
																		<td> <a href="../elements/ebc7ce33-905b-4922-9bfc-04093c60a42c.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/d4964be1-04db-4e9b-a60a-b952d89c79a0.html" target="element"> Opprette beredskapsplaner og respondere p&#229; akutte hendelser. </a> </td>
																		<td> <a href="../elements/49b4d675-1556-4dd1-8179-2c2cf376bcce.html" target="element"> Samhandling med kommunehelsetjenesten og andre helseforetak  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/b7a2d674-b40c-481c-b1c9-2929905d3a6c.html" target="element">  </a> </td>
																		<td> <a href="../elements/b7a2d674-b40c-481c-b1c9-2929905d3a6c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e8a22bdd-71d9-4cbb-9a7c-2baab06757bd.html" target="element"> Beredskapsplan </a> </td>
																		<td> <a href="../elements/38995dfd-3516-4729-a30b-e1f73636fed4.html" target="element"> Tilstrekkelig mengde utstyr sikret gjennom avtaler om forsyning, beredskapslagring, omdisponering, service og reparasjon </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8465c69e-9941-4075-84b8-56e2ae36b705.html" target="element">  </a> </td>
																		<td> <a href="../elements/8465c69e-9941-4075-84b8-56e2ae36b705.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e8a22bdd-71d9-4cbb-9a7c-2baab06757bd.html" target="element"> Beredskapsplan </a> </td>
																		<td> <a href="../elements/4b039946-7365-48b4-8be4-8f7864a6e086.html" target="element"> Behov for kvalifisert personell ved en pandemi </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8491d961-eafa-4164-9d54-3842dd7aab16.html" target="element">  </a> </td>
																		<td> <a href="../elements/8491d961-eafa-4164-9d54-3842dd7aab16.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e8a22bdd-71d9-4cbb-9a7c-2baab06757bd.html" target="element"> Beredskapsplan </a> </td>
																		<td> <a href="../elements/0494f09f-b5f5-4e74-a527-bc882fa4878e.html" target="element"> Forsyning av legemidler og medisinsk utstyr </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8ec50d11-984d-4a15-b4c2-8264e389e58d.html" target="element">  </a> </td>
																		<td> <a href="../elements/8ec50d11-984d-4a15-b4c2-8264e389e58d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e8a22bdd-71d9-4cbb-9a7c-2baab06757bd.html" target="element"> Beredskapsplan </a> </td>
																		<td> <a href="../elements/6fa47405-ec1b-4aea-b490-a023326b5803.html" target="element"> Avtaler om forsyning fra leverand&#248;rer i en krisesituasjon, eventuelt ved beredskapslagring hos leverand&#248;r </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b3ac7171-df2c-4993-9193-0134660ae80f.html" target="element">  </a> </td>
																		<td> <a href="../elements/b3ac7171-df2c-4993-9193-0134660ae80f.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e8a22bdd-71d9-4cbb-9a7c-2baab06757bd.html" target="element"> Beredskapsplan </a> </td>
																		<td> <a href="../elements/7cdc6336-f9c3-4b3d-b3ef-042653af0353.html" target="element"> Avtaler om reparasjon og service p&#229; essensielt utstyr </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/aaf24e90-bc69-4b6f-86d4-80464813fee5.html" target="element">  </a> </td>
																		<td> <a href="../elements/aaf24e90-bc69-4b6f-86d4-80464813fee5.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e8a22bdd-71d9-4cbb-9a7c-2baab06757bd.html" target="element"> Beredskapsplan </a> </td>
																		<td> <a href="../elements/f4847cb1-b10b-4224-9955-5e095cf6d59f.html" target="element"> Kvalifisert personell er en forutsetning for optimal h&#229;ndtering. Alle m&#229; bidra ut fra sine forutsetninger og kompetanse. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2848f695-0f66-4a90-8ebf-1fd2cefe4242.html" target="element">  </a> </td>
																		<td> <a href="../elements/2848f695-0f66-4a90-8ebf-1fd2cefe4242.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e8a22bdd-71d9-4cbb-9a7c-2baab06757bd.html" target="element"> Beredskapsplan </a> </td>
																		<td> <a href="../elements/49b4d675-1556-4dd1-8179-2c2cf376bcce.html" target="element"> Samhandling med kommunehelsetjenesten og andre helseforetak  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9abd980c-18ab-4505-9b54-f98c8a8eb913.html" target="element">  </a> </td>
																		<td> <a href="../elements/9abd980c-18ab-4505-9b54-f98c8a8eb913.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/e8a22bdd-71d9-4cbb-9a7c-2baab06757bd.html" target="element"> Beredskapsplan </a> </td>
																		<td> <a href="../elements/a1fe0b98-6f24-4d65-b572-240e5ed589b6.html" target="element"> Kommunikasjon i krise- og beredskapssituasjoner  </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/48fde0fa-fc11-4bf1-8da4-6712c946b42a.html" target="element">  </a> </td>
																				<td> <a href="../elements/48fde0fa-fc11-4bf1-8da4-6712c946b42a.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																				<td> <a href="../elements/38995dfd-3516-4729-a30b-e1f73636fed4.html" target="element"> Tilstrekkelig mengde utstyr sikret gjennom avtaler om forsyning, beredskapslagring, omdisponering, service og reparasjon </a> </td>
																				<td> <a href="../elements/a1fe0b98-6f24-4d65-b572-240e5ed589b6.html" target="element"> Kommunikasjon i krise- og beredskapssituasjoner  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/2ac378c3-d72e-4bbf-9dbe-bd11a265d9fb.html" target="element">  </a> </td>
																				<td> <a href="../elements/2ac378c3-d72e-4bbf-9dbe-bd11a265d9fb.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																				<td> <a href="../elements/38995dfd-3516-4729-a30b-e1f73636fed4.html" target="element"> Tilstrekkelig mengde utstyr sikret gjennom avtaler om forsyning, beredskapslagring, omdisponering, service og reparasjon </a> </td>
																				<td> <a href="../elements/49b4d675-1556-4dd1-8179-2c2cf376bcce.html" target="element"> Samhandling med kommunehelsetjenesten og andre helseforetak  </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/2b76aacc-f1d8-4e44-a1fc-e2eda6e62477.html" target="element">  </a> </td>
																				<td> <a href="../elements/2b76aacc-f1d8-4e44-a1fc-e2eda6e62477.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																				<td> <a href="../elements/4b039946-7365-48b4-8be4-8f7864a6e086.html" target="element"> Behov for kvalifisert personell ved en pandemi </a> </td>
																				<td> <a href="../elements/49b4d675-1556-4dd1-8179-2c2cf376bcce.html" target="element"> Samhandling med kommunehelsetjenesten og andre helseforetak  </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/cbb6e546-f055-4581-8a77-401cd2a15da9.html" target="element">  </a> </td>
																				<td> <a href="../elements/cbb6e546-f055-4581-8a77-401cd2a15da9.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																				<td> <a href="../elements/4b039946-7365-48b4-8be4-8f7864a6e086.html" target="element"> Behov for kvalifisert personell ved en pandemi </a> </td>
																				<td> <a href="../elements/a1fe0b98-6f24-4d65-b572-240e5ed589b6.html" target="element"> Kommunikasjon i krise- og beredskapssituasjoner  </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/d4a17da8-3738-4954-89cb-10d32c135fde.html" target="element">  </a> </td>
																				<td> <a href="../elements/d4a17da8-3738-4954-89cb-10d32c135fde.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																				<td> <a href="../elements/0494f09f-b5f5-4e74-a527-bc882fa4878e.html" target="element"> Forsyning av legemidler og medisinsk utstyr </a> </td>
																				<td> <a href="../elements/38995dfd-3516-4729-a30b-e1f73636fed4.html" target="element"> Tilstrekkelig mengde utstyr sikret gjennom avtaler om forsyning, beredskapslagring, omdisponering, service og reparasjon </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/6ad9482d-c144-4a0f-b0cc-928029d0c3bb.html" target="element">  </a> </td>
																				<td> <a href="../elements/6ad9482d-c144-4a0f-b0cc-928029d0c3bb.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																				<td> <a href="../elements/0494f09f-b5f5-4e74-a527-bc882fa4878e.html" target="element"> Forsyning av legemidler og medisinsk utstyr </a> </td>
																				<td> <a href="../elements/4b039946-7365-48b4-8be4-8f7864a6e086.html" target="element"> Behov for kvalifisert personell ved en pandemi </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/90165581-5555-4315-8e77-74fdfbeb34b1.html" target="element">  </a> </td>
																				<td> <a href="../elements/90165581-5555-4315-8e77-74fdfbeb34b1.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/6fa47405-ec1b-4aea-b490-a023326b5803.html" target="element"> Avtaler om forsyning fra leverand&#248;rer i en krisesituasjon, eventuelt ved beredskapslagring hos leverand&#248;r </a> </td>
																				<td> <a href="../elements/0494f09f-b5f5-4e74-a527-bc882fa4878e.html" target="element"> Forsyning av legemidler og medisinsk utstyr </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/1086cd31-65ec-445e-a63f-d0f97744f5e7.html" target="element">  </a> </td>
																				<td> <a href="../elements/1086cd31-65ec-445e-a63f-d0f97744f5e7.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/7cdc6336-f9c3-4b3d-b3ef-042653af0353.html" target="element"> Avtaler om reparasjon og service p&#229; essensielt utstyr </a> </td>
																				<td> <a href="../elements/0494f09f-b5f5-4e74-a527-bc882fa4878e.html" target="element"> Forsyning av legemidler og medisinsk utstyr </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/b550cb3f-3d5d-4d96-8a57-ca2ba28ec7ae.html" target="element">  </a> </td>
																				<td> <a href="../elements/b550cb3f-3d5d-4d96-8a57-ca2ba28ec7ae.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/f4847cb1-b10b-4224-9955-5e095cf6d59f.html" target="element"> Kvalifisert personell er en forutsetning for optimal h&#229;ndtering. Alle m&#229; bidra ut fra sine forutsetninger og kompetanse. </a> </td>
																				<td> <a href="../elements/0494f09f-b5f5-4e74-a527-bc882fa4878e.html" target="element"> Forsyning av legemidler og medisinsk utstyr </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/45ba8d5d-b39e-4b6d-b227-025c0708422c.html" target="element">  </a> </td>
																				<td> <a href="../elements/45ba8d5d-b39e-4b6d-b227-025c0708422c.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																				<td> <a href="../elements/49b4d675-1556-4dd1-8179-2c2cf376bcce.html" target="element"> Samhandling med kommunehelsetjenesten og andre helseforetak  </a> </td>
																				<td> <a href="../elements/5f2eb848-c9fe-4b24-99cc-1b1d57ac17ec.html" target="element"> Lov om helsemessig og sosial beredskap </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/216b082e-ec4c-44a0-b991-8597ba7aa002.html" target="element">  </a> </td>
																				<td> <a href="../elements/216b082e-ec4c-44a0-b991-8597ba7aa002.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																				<td> <a href="../elements/a1fe0b98-6f24-4d65-b572-240e5ed589b6.html" target="element"> Kommunikasjon i krise- og beredskapssituasjoner  </a> </td>
																				<td> <a href="../elements/5f2eb848-c9fe-4b24-99cc-1b1d57ac17ec.html" target="element"> Lov om helsemessig og sosial beredskap </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/1fdc4c2f-d83e-4e3a-935f-9a163e1311f8.html" target="element">  </a> </td>
																		<td> <a href="../elements/1fdc4c2f-d83e-4e3a-935f-9a163e1311f8.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/ac1f534d-d9fa-4dd5-b8aa-ad824ce9d275.html" target="element"> Beredskapsplan </a> </td>
																		<td> <a href="../elements/e8a22bdd-71d9-4cbb-9a7c-2baab06757bd.html" target="element"> Beredskapsplan </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d04a4de0-0b42-4ada-85b5-84fcc4703208.html" target="element"> Regulerer </a> </td>
																		<td> <a href="../elements/d04a4de0-0b42-4ada-85b5-84fcc4703208.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/ac1f534d-d9fa-4dd5-b8aa-ad824ce9d275.html" target="element"> Beredskapsplan </a> </td>
																		<td> <a href="../elements/1e2332c1-4144-4aa7-93df-687f4a9ef77b.html" target="element"> Situasjonsspesifikk plan </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/a5f2a824-f518-4395-9d38-31f200cc11c3.html" target="element">  </a> </td>
																		<td> <a href="../elements/a5f2a824-f518-4395-9d38-31f200cc11c3.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/22f15950-ecd2-44ee-8b04-c6c0d6a4bdbd.html" target="element"> Beredskapsm&#248;te </a> </td>
																		<td> <a href="../elements/24b7ed93-7343-4593-9e22-817493ee9c5f.html" target="element"> Analysere konsekvenspotensial </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e0f2d536-b2f0-4d9f-b949-acd75c27aade.html" target="element">  </a> </td>
																		<td> <a href="../elements/e0f2d536-b2f0-4d9f-b949-acd75c27aade.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/22f15950-ecd2-44ee-8b04-c6c0d6a4bdbd.html" target="element"> Beredskapsm&#248;te </a> </td>
																		<td> <a href="../elements/6ef36f8b-ecc5-4aea-a9a7-0c2032b1a3ca.html" target="element"> Analysere behov  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8acfee36-e61b-4e2b-b102-943d01616900.html" target="element">  </a> </td>
																		<td> <a href="../elements/8acfee36-e61b-4e2b-b102-943d01616900.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																		<td> <a href="../elements/22f15950-ecd2-44ee-8b04-c6c0d6a4bdbd.html" target="element"> Beredskapsm&#248;te </a> </td>
																		<td> <a href="../elements/a40556cb-bba1-4880-85a7-81c882e491ed.html" target="element"> Identifisere og iverksette tiltak </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b9e1cf2d-98c9-497d-860b-e68e20b9a4b8.html" target="element">  </a> </td>
																		<td> <a href="../elements/b9e1cf2d-98c9-497d-860b-e68e20b9a4b8.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/22f15950-ecd2-44ee-8b04-c6c0d6a4bdbd.html" target="element"> Beredskapsm&#248;te </a> </td>
																		<td> <a href="../elements/309329fb-c945-427d-990d-76a5922c0512.html" target="element"> Samlet situasjonsforst&#229;else </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/89252fd0-eff4-4163-8177-2a253d4b0e8b.html" target="element">  </a> </td>
																		<td> <a href="../elements/89252fd0-eff4-4163-8177-2a253d4b0e8b.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/22f15950-ecd2-44ee-8b04-c6c0d6a4bdbd.html" target="element"> Beredskapsm&#248;te </a> </td>
																		<td> <a href="../elements/991e7fd5-e7f4-4ad7-ab51-c9e65aeaef68.html" target="element"> Sikre proaktiv loggf&#248;ring </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/987d5873-9315-4d66-a869-ccea25ea2b2d.html" target="element">  </a> </td>
																		<td> <a href="../elements/987d5873-9315-4d66-a869-ccea25ea2b2d.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/22f15950-ecd2-44ee-8b04-c6c0d6a4bdbd.html" target="element"> Beredskapsm&#248;te </a> </td>
																		<td> <a href="../elements/98f3afb6-5cc8-4d94-9ef5-6ce3ac2f35ed.html" target="element"> Sikre informasjonsflyt </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5e29820a-eb80-4731-b060-7e37c435d3ed.html" target="element">  </a> </td>
																		<td> <a href="../elements/5e29820a-eb80-4731-b060-7e37c435d3ed.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/22f15950-ecd2-44ee-8b04-c6c0d6a4bdbd.html" target="element"> Beredskapsm&#248;te </a> </td>
																		<td> <a href="../elements/23675ae4-39cd-4d08-8d3e-4829a25ee4de.html" target="element"> Sikre relevant fokus </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/c6987b74-fa1f-49b6-887d-567cfdc7ebfd.html" target="element">  </a> </td>
																				<td> <a href="../elements/c6987b74-fa1f-49b6-887d-567cfdc7ebfd.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																				<td> <a href="../elements/24b7ed93-7343-4593-9e22-817493ee9c5f.html" target="element"> Analysere konsekvenspotensial </a> </td>
																				<td> <a href="../elements/309329fb-c945-427d-990d-76a5922c0512.html" target="element"> Samlet situasjonsforst&#229;else </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/56c03372-1635-48f7-9dad-8ab1e5a6fe28.html" target="element">  </a> </td>
																				<td> <a href="../elements/56c03372-1635-48f7-9dad-8ab1e5a6fe28.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																				<td> <a href="../elements/6ef36f8b-ecc5-4aea-a9a7-0c2032b1a3ca.html" target="element"> Analysere behov  </a> </td>
																				<td> <a href="../elements/309329fb-c945-427d-990d-76a5922c0512.html" target="element"> Samlet situasjonsforst&#229;else </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/e3032914-a983-4e64-84c7-907227dc8262.html" target="element">  </a> </td>
																				<td> <a href="../elements/e3032914-a983-4e64-84c7-907227dc8262.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																				<td> <a href="../elements/a40556cb-bba1-4880-85a7-81c882e491ed.html" target="element"> Identifisere og iverksette tiltak </a> </td>
																				<td> <a href="../elements/309329fb-c945-427d-990d-76a5922c0512.html" target="element"> Samlet situasjonsforst&#229;else </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/b20f17b3-f9c9-4884-a6a3-92e7e253e913.html" target="element">  </a> </td>
																				<td> <a href="../elements/b20f17b3-f9c9-4884-a6a3-92e7e253e913.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																				<td> <a href="../elements/991e7fd5-e7f4-4ad7-ab51-c9e65aeaef68.html" target="element"> Sikre proaktiv loggf&#248;ring </a> </td>
																				<td> <a href="../elements/309329fb-c945-427d-990d-76a5922c0512.html" target="element"> Samlet situasjonsforst&#229;else </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/f631b990-6d4b-4fcc-af2b-2c313cb6cf28.html" target="element">  </a> </td>
																				<td> <a href="../elements/f631b990-6d4b-4fcc-af2b-2c313cb6cf28.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																				<td> <a href="../elements/98f3afb6-5cc8-4d94-9ef5-6ce3ac2f35ed.html" target="element"> Sikre informasjonsflyt </a> </td>
																				<td> <a href="../elements/309329fb-c945-427d-990d-76a5922c0512.html" target="element"> Samlet situasjonsforst&#229;else </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/732a8ee0-8321-4395-8d27-b6b71d48d064.html" target="element">  </a> </td>
																				<td> <a href="../elements/732a8ee0-8321-4395-8d27-b6b71d48d064.html" target="element" class="i18n-elementtype-InfluenceRelationship"></a> </td>
																				<td> <a href="../elements/23675ae4-39cd-4d08-8d3e-4829a25ee4de.html" target="element"> Sikre relevant fokus </a> </td>
																				<td> <a href="../elements/309329fb-c945-427d-990d-76a5922c0512.html" target="element"> Samlet situasjonsforst&#229;else </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/3f6c0297-dd4e-480f-b746-f8150c799834.html" target="element">  </a> </td>
																		<td> <a href="../elements/3f6c0297-dd4e-480f-b746-f8150c799834.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/1e2332c1-4144-4aa7-93df-687f4a9ef77b.html" target="element"> Situasjonsspesifikk plan </a> </td>
																		<td> <a href="../elements/309329fb-c945-427d-990d-76a5922c0512.html" target="element"> Samlet situasjonsforst&#229;else </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>