<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Skisse-Samhandling</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Skisse-Samhandling</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-elementtype-SketchModel"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-SketchModel" target="hint"></a>
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/5ee4244f-65bc-4c22-a792-5959379efbcb.png" alt="Skisse-Samhandling" usemap="#5ee4244f-65bc-4c22-a792-5959379efbcbmap"/>
			   <map name="5ee4244f-65bc-4c22-a792-5959379efbcbmap">
				  						        <area shape="rect" coords="826,370,849,385" href="../objects/6f271938-1c94-49d3-9ac7-df8f55e899ef.html" target="element" >

				  				        <area shape="rect" coords="730,334,865,395" href="../objects/a04e0d18-8205-40cb-ba44-f0f89ca5cc2d.html" target="element" >
				  				        <area shape="rect" coords="538,334,673,395" href="../objects/395a5ee8-4ce9-4a9c-be16-b2850f977e53.html" target="element" >
				  						        <area shape="rect" coords="826,298,849,313" href="../objects/58c9b396-9374-4bd8-8d28-bbc944ba8dae.html" target="element" >

				  				        <area shape="rect" coords="730,262,865,323" href="../objects/2099e923-57ef-4bfa-ba42-8a238cffd02e.html" target="element" >
				  				        <area shape="rect" coords="538,262,673,323" href="../objects/272a5c49-56c1-4db3-9294-cf0ce5172b3e.html" target="element" >

				  		        <area shape="rect" coords="502,238,899,407" href="../objects/32c0d6df-fa1c-4150-a91a-c40dbb5bc4e3.html" target="element" >
				  		        <area shape="rect" coords="310,286,385,386" href="../objects/ab88a5f8-abb4-4743-a4c1-4de474bb7fe4.html" target="element" >
				  		        <area shape="rect" coords="178,286,253,386" href="../objects/a8a40ef9-181f-44d1-ae2e-e5e0b1eb8f25.html" target="element" >
				  		        <area shape="rect" coords="94,286,169,386" href="../objects/4cdfb697-a871-40eb-ad68-73fb5fd5e968.html" target="element" >

				          <area shape="rect" coords="10,238,911,419" href="../objects/f8996bea-52fa-44b5-9508-e9eb10ef8a71.html" target="element" >
				  				        <area shape="rect" coords="826,922,851,935" href="../objects/c62dd8e8-dec6-4ada-8c84-dd4f2b16af00.html" target="element" >

				  		        <area shape="rect" coords="730,874,865,944" href="../objects/8de565f6-4833-4af4-84b9-611c444764dd.html" target="element" >
				  				        <area shape="rect" coords="826,1006,851,1019" href="../objects/a7d7e16b-168c-46d6-b779-4545f14b7763.html" target="element" >

				  		        <area shape="rect" coords="730,958,865,1028" href="../objects/80848ba3-3c6a-4396-9dc1-cefffe04ebd6.html" target="element" >
				  		        <area shape="rect" coords="538,958,673,1028" href="../objects/f0fdd21c-2f9d-4de1-adf8-d4540a9b2c54.html" target="element" >
				  		        <area shape="rect" coords="538,874,673,944" href="../objects/7310e7fe-55c2-4b6a-9eb6-cf5d013d05a7.html" target="element" >
				  				        <area shape="rect" coords="826,838,849,853" href="../objects/0a40cdb8-fd35-4ea2-9560-b61afc103130.html" target="element" >

				  		        <area shape="rect" coords="730,790,865,860" href="../objects/24bd0c23-03ee-4b96-877c-e63cf8cde639.html" target="element" >
				  		        <area shape="rect" coords="538,790,673,860" href="../objects/a481b7e4-fa56-48f7-be9a-58644d5fae1d.html" target="element" >

				          <area shape="rect" coords="502,742,899,1043" href="../objects/4b590e3c-9812-48f1-a995-1ba228206d4c.html" target="element" >
				  		        <area shape="rect" coords="322,778,371,851" href="../objects/ca70e72c-df82-4b11-9edf-c5047804f770.html" target="element" >
				  		        <area shape="rect" coords="322,874,371,947" href="../objects/a30b0ee3-9b5b-4c83-94a3-7d6ff49b6172.html" target="element" >
				  		        <area shape="rect" coords="322,970,371,1043" href="../objects/9e1f244b-df48-490c-b22b-e7f3457d530d.html" target="element" >

				          <area shape="rect" coords="274,742,911,1055" href="../objects/0dea4d6f-a4a9-4823-9af4-afd47be11ffa.html" target="element" >
				  				        <area shape="rect" coords="826,634,849,649" href="../objects/d676e76a-b19d-4c36-b18e-ff6f8d1fc83d.html" target="element" >

				  		        <area shape="rect" coords="730,586,865,656" href="../objects/7dd4b24b-e268-43d1-8fec-f445aa1d959a.html" target="element" >
				  		        <area shape="rect" coords="538,586,673,656" href="../objects/240d7ee1-de09-4053-bcd2-3cbaab2a103f.html" target="element" >
				  				        <area shape="rect" coords="826,550,849,565" href="../objects/865fcb51-5d2d-4627-bf75-ee15fc9ee86c.html" target="element" >

				  		        <area shape="rect" coords="730,502,865,572" href="../objects/698091a3-da9e-42c6-ad66-58f579255119.html" target="element" >
				  		        <area shape="rect" coords="538,502,673,572" href="../objects/4c6a9f79-82d0-48be-baf4-362c78473be8.html" target="element" >

				          <area shape="rect" coords="502,454,899,695" href="../objects/ecbb4aee-01c3-40df-a228-dcd657ac71b2.html" target="element" >
				  		        <area shape="rect" coords="310,502,385,602" href="../objects/d8ab9e2d-f074-438c-ab5b-5027b3c675e1.html" target="element" >
				  		        <area shape="rect" coords="94,502,169,602" href="../objects/d3662e2c-258e-4a77-a6ab-1a475f96f982.html" target="element" >

				          <area shape="rect" coords="10,454,911,707" href="../objects/652579ac-918e-418d-895a-0afab03b79f2.html" target="element" >
				  						        <area shape="rect" coords="826,166,849,181" href="../objects/dd62a292-fbbc-49a1-95cc-8120bbb805e8.html" target="element" >

				  				        <area shape="rect" coords="730,130,865,191" href="../objects/ab0052e6-06bd-4045-b634-d81ae1b63032.html" target="element" >
				  				        <area shape="rect" coords="538,130,673,191" href="../objects/3e2b428f-e98f-4333-9e63-777ea614c2bf.html" target="element" >
				  						        <area shape="rect" coords="826,94,849,109" href="../objects/378b1385-d8aa-4535-a864-0bfb83dc5d31.html" target="element" >

				  				        <area shape="rect" coords="730,58,865,119" href="../objects/0062542a-6cf3-4967-806e-57482b2a857a.html" target="element" >
				  				        <area shape="rect" coords="538,58,673,119" href="../objects/60f90f48-7b5d-4b62-8928-85c6cf099e26.html" target="element" >

				  		        <area shape="rect" coords="502,34,899,203" href="../objects/d3240f1f-b3fb-42c7-8773-9139617fb5d0.html" target="element" >
				  		        <area shape="rect" coords="310,82,385,182" href="../objects/a9997941-3bdf-45d4-820c-bfa9c7024264.html" target="element" >
				  		        <area shape="rect" coords="94,82,169,182" href="../objects/b2b7eb63-aaa0-4096-82ad-5622532df17a.html" target="element" >

				          <area shape="rect" coords="10,34,911,215" href="../objects/950f3f52-b87b-4ffa-ad20-675d97ac4c08.html" target="element" >
				          <area shape="rect" coords="298,10,407,1067" href="../objects/b09d1412-6bba-4825-b770-f5f2b66c028b.html" target="element" >
				          <area shape="rect" coords="82,10,263,731" href="../objects/ecd7b179-6cd3-455d-9f6b-e523af7f061e.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/ecd7b179-6cd3-455d-9f6b-e523af7f061e.html" target="element"> Gjest </a> </td>
									           <td> <a href="../objects/ecd7b179-6cd3-455d-9f6b-e523af7f061e.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/b09d1412-6bba-4825-b770-f5f2b66c028b.html" target="element"> Sykehusinnkj&#248;p HF </a> </td>
									           <td> <a href="../objects/b09d1412-6bba-4825-b770-f5f2b66c028b.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/950f3f52-b87b-4ffa-ad20-675d97ac4c08.html" target="element"> Prosjekt - Kategori A </a> </td>
									           <td> <a href="../objects/950f3f52-b87b-4ffa-ad20-675d97ac4c08.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/b2b7eb63-aaa0-4096-82ad-5622532df17a.html" target="element"> Kunde </a> </td>
											           <td> <a href="../objects/b2b7eb63-aaa0-4096-82ad-5622532df17a.html" target="element" class="i18n-elementtype-SketchModelActor"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/a9997941-3bdf-45d4-820c-bfa9c7024264.html" target="element"> Prosjektleder </a> </td>
											           <td> <a href="../objects/a9997941-3bdf-45d4-820c-bfa9c7024264.html" target="element" class="i18n-elementtype-SketchModelActor"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/d3240f1f-b3fb-42c7-8773-9139617fb5d0.html" target="element"> Omr&#229;desamling A </a> </td>
											           <td> <a href="../objects/d3240f1f-b3fb-42c7-8773-9139617fb5d0.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/60f90f48-7b5d-4b62-8928-85c6cf099e26.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/60f90f48-7b5d-4b62-8928-85c6cf099e26.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/0062542a-6cf3-4967-806e-57482b2a857a.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/0062542a-6cf3-4967-806e-57482b2a857a.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

															        <tr>
															           <td> <a href="../objects/378b1385-d8aa-4535-a864-0bfb83dc5d31.html" target="element"> Sticky </a> </td>
															           <td> <a href="../objects/378b1385-d8aa-4535-a864-0bfb83dc5d31.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
															        </tr>

															
													        <tr>
													           <td> <a href="../objects/3e2b428f-e98f-4333-9e63-777ea614c2bf.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/3e2b428f-e98f-4333-9e63-777ea614c2bf.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/ab0052e6-06bd-4045-b634-d81ae1b63032.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/ab0052e6-06bd-4045-b634-d81ae1b63032.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

															        <tr>
															           <td> <a href="../objects/dd62a292-fbbc-49a1-95cc-8120bbb805e8.html" target="element"> Sticky </a> </td>
															           <td> <a href="../objects/dd62a292-fbbc-49a1-95cc-8120bbb805e8.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
															        </tr>

															
													
											
									        <tr>
									           <td> <a href="../objects/652579ac-918e-418d-895a-0afab03b79f2.html" target="element"> Avtaleforvaltning </a> </td>
									           <td> <a href="../objects/652579ac-918e-418d-895a-0afab03b79f2.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/d3662e2c-258e-4a77-a6ab-1a475f96f982.html" target="element"> Kunde </a> </td>
											           <td> <a href="../objects/d3662e2c-258e-4a77-a6ab-1a475f96f982.html" target="element" class="i18n-elementtype-SketchModelActor"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/d8ab9e2d-f074-438c-ab5b-5027b3c675e1.html" target="element"> Avtaleforvalter </a> </td>
											           <td> <a href="../objects/d8ab9e2d-f074-438c-ab5b-5027b3c675e1.html" target="element" class="i18n-elementtype-SketchModelActor"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/ecbb4aee-01c3-40df-a228-dcd657ac71b2.html" target="element"> Omr&#229;desamling C </a> </td>
									           <td> <a href="../objects/ecbb4aee-01c3-40df-a228-dcd657ac71b2.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/4c6a9f79-82d0-48be-baf4-362c78473be8.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/4c6a9f79-82d0-48be-baf4-362c78473be8.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/698091a3-da9e-42c6-ad66-58f579255119.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/698091a3-da9e-42c6-ad66-58f579255119.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/865fcb51-5d2d-4627-bf75-ee15fc9ee86c.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/865fcb51-5d2d-4627-bf75-ee15fc9ee86c.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/240d7ee1-de09-4053-bcd2-3cbaab2a103f.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/240d7ee1-de09-4053-bcd2-3cbaab2a103f.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/7dd4b24b-e268-43d1-8fec-f445aa1d959a.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/7dd4b24b-e268-43d1-8fec-f445aa1d959a.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/d676e76a-b19d-4c36-b18e-ff6f8d1fc83d.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/d676e76a-b19d-4c36-b18e-ff6f8d1fc83d.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													
											
									        <tr>
									           <td> <a href="../objects/0dea4d6f-a4a9-4823-9af4-afd47be11ffa.html" target="element"> Fellesfunksjoner </a> </td>
									           <td> <a href="../objects/0dea4d6f-a4a9-4823-9af4-afd47be11ffa.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/9e1f244b-df48-490c-b22b-e7f3457d530d.html" target="element"> Medlem </a> </td>
											           <td> <a href="../objects/9e1f244b-df48-490c-b22b-e7f3457d530d.html" target="element" class="i18n-elementtype-SketchModelActor"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/a30b0ee3-9b5b-4c83-94a3-7d6ff49b6172.html" target="element"> Eier </a> </td>
											           <td> <a href="../objects/a30b0ee3-9b5b-4c83-94a3-7d6ff49b6172.html" target="element" class="i18n-elementtype-SketchModelActor"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/ca70e72c-df82-4b11-9edf-c5047804f770.html" target="element"> Admin </a> </td>
											           <td> <a href="../objects/ca70e72c-df82-4b11-9edf-c5047804f770.html" target="element" class="i18n-elementtype-SketchModelActor"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/4b590e3c-9812-48f1-a995-1ba228206d4c.html" target="element"> Omr&#229;desamling B </a> </td>
									           <td> <a href="../objects/4b590e3c-9812-48f1-a995-1ba228206d4c.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/a481b7e4-fa56-48f7-be9a-58644d5fae1d.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/a481b7e4-fa56-48f7-be9a-58644d5fae1d.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/24bd0c23-03ee-4b96-877c-e63cf8cde639.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/24bd0c23-03ee-4b96-877c-e63cf8cde639.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/0a40cdb8-fd35-4ea2-9560-b61afc103130.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/0a40cdb8-fd35-4ea2-9560-b61afc103130.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/7310e7fe-55c2-4b6a-9eb6-cf5d013d05a7.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/7310e7fe-55c2-4b6a-9eb6-cf5d013d05a7.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/f0fdd21c-2f9d-4de1-adf8-d4540a9b2c54.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/f0fdd21c-2f9d-4de1-adf8-d4540a9b2c54.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/80848ba3-3c6a-4396-9dc1-cefffe04ebd6.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/80848ba3-3c6a-4396-9dc1-cefffe04ebd6.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/a7d7e16b-168c-46d6-b779-4545f14b7763.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/a7d7e16b-168c-46d6-b779-4545f14b7763.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/8de565f6-4833-4af4-84b9-611c444764dd.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/8de565f6-4833-4af4-84b9-611c444764dd.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/c62dd8e8-dec6-4ada-8c84-dd4f2b16af00.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/c62dd8e8-dec6-4ada-8c84-dd4f2b16af00.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													
											
									        <tr>
									           <td> <a href="../objects/f8996bea-52fa-44b5-9508-e9eb10ef8a71.html" target="element"> Prosjekt - Kategori B </a> </td>
									           <td> <a href="../objects/f8996bea-52fa-44b5-9508-e9eb10ef8a71.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/4cdfb697-a871-40eb-ad68-73fb5fd5e968.html" target="element"> Kunde </a> </td>
											           <td> <a href="../objects/4cdfb697-a871-40eb-ad68-73fb5fd5e968.html" target="element" class="i18n-elementtype-SketchModelActor"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/a8a40ef9-181f-44d1-ae2e-e5e0b1eb8f25.html" target="element"> Leverand&#248;r </a> </td>
											           <td> <a href="../objects/a8a40ef9-181f-44d1-ae2e-e5e0b1eb8f25.html" target="element" class="i18n-elementtype-SketchModelActor"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/ab88a5f8-abb4-4743-a4c1-4de474bb7fe4.html" target="element"> Prosjektleder </a> </td>
											           <td> <a href="../objects/ab88a5f8-abb4-4743-a4c1-4de474bb7fe4.html" target="element" class="i18n-elementtype-SketchModelActor"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/32c0d6df-fa1c-4150-a91a-c40dbb5bc4e3.html" target="element"> Omr&#229;desamling B </a> </td>
											           <td> <a href="../objects/32c0d6df-fa1c-4150-a91a-c40dbb5bc4e3.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/272a5c49-56c1-4db3-9294-cf0ce5172b3e.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/272a5c49-56c1-4db3-9294-cf0ce5172b3e.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/2099e923-57ef-4bfa-ba42-8a238cffd02e.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/2099e923-57ef-4bfa-ba42-8a238cffd02e.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

															        <tr>
															           <td> <a href="../objects/58c9b396-9374-4bd8-8d28-bbc944ba8dae.html" target="element"> Sticky </a> </td>
															           <td> <a href="../objects/58c9b396-9374-4bd8-8d28-bbc944ba8dae.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
															        </tr>

															
													        <tr>
													           <td> <a href="../objects/395a5ee8-4ce9-4a9c-be16-b2850f977e53.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/395a5ee8-4ce9-4a9c-be16-b2850f977e53.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/a04e0d18-8205-40cb-ba44-f0f89ca5cc2d.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/a04e0d18-8205-40cb-ba44-f0f89ca5cc2d.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

															        <tr>
															           <td> <a href="../objects/6f271938-1c94-49d3-9ac7-df8f55e899ef.html" target="element"> Sticky </a> </td>
															           <td> <a href="../objects/6f271938-1c94-49d3-9ac7-df8f55e899ef.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
															        </tr>

															
													
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelActor -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelActor -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelActor -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelActor -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelActor -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelActor -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelActor -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelActor -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelActor -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelActor -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															
													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>