<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Skisse-Samhandling</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Skisse-Samhandling</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-elementtype-SketchModel"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-SketchModel" target="hint"></a>
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/5ee4244f-65bc-4c22-a792-5959379efbcb.png" alt="Skisse-Samhandling" usemap="#5ee4244f-65bc-4c22-a792-5959379efbcbmap"/>
			   <map name="5ee4244f-65bc-4c22-a792-5959379efbcbmap">
				          <area shape="rect" coords="1042,238,1091,262" href="../objects/443ba813-3ebc-486d-b41e-d73e07bf8522.html" target="element" >
				          <area shape="rect" coords="1042,202,1091,226" href="../objects/7cf497ad-6f2e-4b31-ad2c-5108eae0d01a.html" target="element" >
				          <area shape="rect" coords="1042,166,1091,190" href="../objects/b4ecfd70-70e6-4bf2-b3cc-325dfa4f6ad5.html" target="element" >
				          <area shape="rect" coords="1042,130,1091,154" href="../objects/1cb471cb-678f-4c2e-ac43-c5c523f916b6.html" target="element" >
				  				        <area shape="rect" coords="862,802,911,826" href="../objects/7fa63eb0-5910-4192-b227-dc0f9004d9fd.html" target="element" >

				  		        <area shape="rect" coords="862,754,997,824" href="../objects/ebbebc23-8deb-4d17-9f72-558019368377.html" target="element" >
				  				        <area shape="rect" coords="862,598,911,622" href="../objects/a8fdcb25-2a1d-4caf-9b56-8875534c5dec.html" target="element" >

				  		        <area shape="rect" coords="862,550,997,620" href="../objects/68de6456-4e2a-4bb0-9623-e523e3701d05.html" target="element" >
				  				        <area shape="rect" coords="862,418,911,442" href="../objects/d9bf1c28-602d-4584-b0bc-311860d64801.html" target="element" >

				  		        <area shape="rect" coords="862,370,997,440" href="../objects/2bc8d40b-01db-4747-af3c-010bfbd88006.html" target="element" >

				          <area shape="rect" coords="838,10,1019,1643" href="../objects/f43f1af6-9cd3-4f05-b54e-b7fe33a938ce.html" target="element" >
				          <area shape="rect" coords="682,1342,817,1412" href="../objects/45a1a8cf-0be7-4e1d-9c25-6c1e81cf0af3.html" target="element" >
				  						        <area shape="rect" coords="569,826,592,841" href="../objects/cd31efe3-8db7-4fb1-a10f-bcc20a8f3994.html" target="element" >

				  				        <area shape="rect" coords="473,790,608,851" href="../objects/832882dd-5da7-433d-ada5-bec83ac2e7d7.html" target="element" >
				  						        <area shape="rect" coords="569,754,592,769" href="../objects/e1ff0de3-5921-43ed-9181-d7966a622948.html" target="element" >

				  				        <area shape="rect" coords="473,718,608,779" href="../objects/38872708-6346-4f68-ab80-0c91621d1254.html" target="element" >
				  						        <area shape="rect" coords="341,742,416,842" href="../objects/ae808905-32cf-4e04-8ba6-a2e1545e785c.html" target="element" >

				  				        <area shape="rect" coords="281,718,416,851" href="../objects/92681a4b-7fe7-40cf-b1e9-7bd44a02085a.html" target="element" >

				  		        <area shape="rect" coords="245,694,642,863" href="../objects/7a66bc15-1cc4-423e-8107-26c357999f2e.html" target="element" >
				  		        <area shape="rect" coords="89,742,164,842" href="../objects/989168a4-59f0-495a-8e55-4786ba820cf0.html" target="element" >

				          <area shape="rect" coords="10,694,654,875" href="../objects/8c6664d1-ee75-4c29-a065-bfb9b0c386bc.html" target="element" >
				  		        <area shape="rect" coords="682,1109,731,1133" href="../objects/5253c634-8c3f-40bc-aab3-7ae7cfaf9975.html" target="element" >

				          <area shape="rect" coords="682,1061,817,1131" href="../objects/35f009ed-08d5-4b6a-abc0-a67f6f1fca29.html" target="element" >
				  						        <area shape="rect" coords="377,166,690,227" href="../objects/10cc8ca5-6701-43f2-9aa5-eb3f26410a5f.html" target="element" >
				  										        <area shape="rect" coords="557,130,606,154" href="../objects/f3badca2-d76b-4a1b-881b-ccfedb8b9041.html" target="element" >

				  								        <area shape="rect" coords="557,94,678,154" href="../objects/a57b8da6-54b6-4ac0-a507-f1e51df096da.html" target="element" >

				  						        <area shape="rect" coords="377,94,690,155" href="../objects/c681aac5-ac1b-41e0-9363-a518f43aff85.html" target="element" >
				  						        <area shape="rect" coords="701,118,776,218" href="../objects/197bc541-7ed8-41ae-a88c-463b9412ee55.html" target="element" >

				  				        <area shape="rect" coords="281,94,786,227" href="../objects/de6effaf-3607-4fce-a084-bcee8f95dfef.html" target="element" >

				  		        <area shape="rect" coords="245,70,803,239" href="../objects/8f8edacb-bfee-4c8b-a478-d2b908e0b8df.html" target="element" >
				  		        <area shape="rect" coords="89,118,164,218" href="../objects/030161f5-bad8-42f6-91ba-970932a6c686.html" target="element" >

				          <area shape="rect" coords="10,70,817,251" href="../objects/3c378d43-c76d-4567-8523-9cfb2684f5f5.html" target="element" >
				  						        <area shape="rect" coords="569,615,592,630" href="../objects/6f271938-1c94-49d3-9ac7-df8f55e899ef.html" target="element" >

				  				        <area shape="rect" coords="473,579,608,640" href="../objects/a04e0d18-8205-40cb-ba44-f0f89ca5cc2d.html" target="element" >
				  						        <area shape="rect" coords="569,543,592,558" href="../objects/58c9b396-9374-4bd8-8d28-bbc944ba8dae.html" target="element" >

				  				        <area shape="rect" coords="473,507,608,568" href="../objects/2099e923-57ef-4bfa-ba42-8a238cffd02e.html" target="element" >
				  						        <area shape="rect" coords="341,531,416,631" href="../objects/4cdfb697-a871-40eb-ad68-73fb5fd5e968.html" target="element" >

				  				        <area shape="rect" coords="281,507,416,640" href="../objects/272a5c49-56c1-4db3-9294-cf0ce5172b3e.html" target="element" >

				  		        <area shape="rect" coords="245,483,642,652" href="../objects/32c0d6df-fa1c-4150-a91a-c40dbb5bc4e3.html" target="element" >
				  		        <area shape="rect" coords="89,531,164,631" href="../objects/ab88a5f8-abb4-4743-a4c1-4de474bb7fe4.html" target="element" >

				          <area shape="rect" coords="10,483,654,664" href="../objects/f8996bea-52fa-44b5-9508-e9eb10ef8a71.html" target="element" >
				  				        <area shape="rect" coords="569,1510,594,1523" href="../objects/c62dd8e8-dec6-4ada-8c84-dd4f2b16af00.html" target="element" >

				  		        <area shape="rect" coords="473,1462,608,1532" href="../objects/8de565f6-4833-4af4-84b9-611c444764dd.html" target="element" >
				  				        <area shape="rect" coords="569,1594,594,1607" href="../objects/a7d7e16b-168c-46d6-b779-4545f14b7763.html" target="element" >

				  		        <area shape="rect" coords="473,1546,608,1616" href="../objects/80848ba3-3c6a-4396-9dc1-cefffe04ebd6.html" target="element" >
				  		        <area shape="rect" coords="281,1546,416,1616" href="../objects/f0fdd21c-2f9d-4de1-adf8-d4540a9b2c54.html" target="element" >
				  		        <area shape="rect" coords="281,1462,416,1532" href="../objects/7310e7fe-55c2-4b6a-9eb6-cf5d013d05a7.html" target="element" >
				  				        <area shape="rect" coords="569,1426,592,1441" href="../objects/0a40cdb8-fd35-4ea2-9560-b61afc103130.html" target="element" >

				  		        <area shape="rect" coords="473,1378,608,1448" href="../objects/24bd0c23-03ee-4b96-877c-e63cf8cde639.html" target="element" >
				  		        <area shape="rect" coords="281,1378,416,1448" href="../objects/a481b7e4-fa56-48f7-be9a-58644d5fae1d.html" target="element" >

				          <area shape="rect" coords="245,1330,642,1631" href="../objects/4b590e3c-9812-48f1-a995-1ba228206d4c.html" target="element" >
				  		        <area shape="rect" coords="65,1366,114,1439" href="../objects/ca70e72c-df82-4b11-9edf-c5047804f770.html" target="element" >
				  		        <area shape="rect" coords="65,1462,114,1535" href="../objects/a30b0ee3-9b5b-4c83-94a3-7d6ff49b6172.html" target="element" >
				  		        <area shape="rect" coords="65,1558,114,1631" href="../objects/9e1f244b-df48-490c-b22b-e7f3457d530d.html" target="element" >

				          <area shape="rect" coords="10,1330,654,1643" href="../objects/0dea4d6f-a4a9-4823-9af4-afd47be11ffa.html" target="element" >
				  						        <area shape="rect" coords="574,1090,597,1105" href="../objects/d676e76a-b19d-4c36-b18e-ff6f8d1fc83d.html" target="element" >

				  				        <area shape="rect" coords="478,1042,613,1112" href="../objects/7dd4b24b-e268-43d1-8fec-f445aa1d959a.html" target="element" >
				  				        <area shape="rect" coords="286,1042,421,1112" href="../objects/240d7ee1-de09-4053-bcd2-3cbaab2a103f.html" target="element" >
				  						        <area shape="rect" coords="574,1006,597,1021" href="../objects/865fcb51-5d2d-4627-bf75-ee15fc9ee86c.html" target="element" >

				  				        <area shape="rect" coords="478,958,613,1028" href="../objects/698091a3-da9e-42c6-ad66-58f579255119.html" target="element" >
				  				        <area shape="rect" coords="286,958,421,1028" href="../objects/4c6a9f79-82d0-48be-baf4-362c78473be8.html" target="element" >

				  		        <area shape="rect" coords="250,910,647,1151" href="../objects/ecbb4aee-01c3-40df-a228-dcd657ac71b2.html" target="element" >
				  		        <area shape="rect" coords="94,946,169,1046" href="../objects/d8ab9e2d-f074-438c-ab5b-5027b3c675e1.html" target="element" >

				          <area shape="rect" coords="10,886,654,1163" href="../objects/652579ac-918e-418d-895a-0afab03b79f2.html" target="element" >
				  						        <area shape="rect" coords="569,411,592,426" href="../objects/dd62a292-fbbc-49a1-95cc-8120bbb805e8.html" target="element" >

				  				        <area shape="rect" coords="473,375,608,436" href="../objects/ab0052e6-06bd-4045-b634-d81ae1b63032.html" target="element" >
				  						        <area shape="rect" coords="569,339,592,354" href="../objects/378b1385-d8aa-4535-a864-0bfb83dc5d31.html" target="element" >

				  				        <area shape="rect" coords="473,303,608,364" href="../objects/0062542a-6cf3-4967-806e-57482b2a857a.html" target="element" >
				  						        <area shape="rect" coords="341,327,416,427" href="../objects/b2b7eb63-aaa0-4096-82ad-5622532df17a.html" target="element" >

				  				        <area shape="rect" coords="281,303,416,436" href="../objects/60f90f48-7b5d-4b62-8928-85c6cf099e26.html" target="element" >

				  		        <area shape="rect" coords="245,279,642,448" href="../objects/d3240f1f-b3fb-42c7-8773-9139617fb5d0.html" target="element" >
				  		        <area shape="rect" coords="89,327,164,427" href="../objects/a9997941-3bdf-45d4-820c-bfa9c7024264.html" target="element" >

				          <area shape="rect" coords="10,279,654,460" href="../objects/950f3f52-b87b-4ffa-ad20-675d97ac4c08.html" target="element" >
				          <area shape="rect" coords="41,10,203,1667" href="../objects/b09d1412-6bba-4825-b770-f5f2b66c028b.html" target="element" >
				          <area shape="rect" coords="622,10,803,1187" href="../objects/ecd7b179-6cd3-455d-9f6b-e523af7f061e.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/ecd7b179-6cd3-455d-9f6b-e523af7f061e.html" target="element"> Gjest </a> </td>
									           <td> <a href="../objects/ecd7b179-6cd3-455d-9f6b-e523af7f061e.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/b09d1412-6bba-4825-b770-f5f2b66c028b.html" target="element"> Sykehusinnkj&#248;p HF </a> </td>
									           <td> <a href="../objects/b09d1412-6bba-4825-b770-f5f2b66c028b.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/950f3f52-b87b-4ffa-ad20-675d97ac4c08.html" target="element"> Anskaffelse - Nasjonal </a> </td>
									           <td> <a href="../objects/950f3f52-b87b-4ffa-ad20-675d97ac4c08.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/a9997941-3bdf-45d4-820c-bfa9c7024264.html" target="element"> Prosjektleder </a> </td>
											           <td> <a href="../objects/a9997941-3bdf-45d4-820c-bfa9c7024264.html" target="element" class="i18n-elementtype-SketchModelActor"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/d3240f1f-b3fb-42c7-8773-9139617fb5d0.html" target="element"> Omr&#229;desamling B </a> </td>
											           <td> <a href="../objects/d3240f1f-b3fb-42c7-8773-9139617fb5d0.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/60f90f48-7b5d-4b62-8928-85c6cf099e26.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/60f90f48-7b5d-4b62-8928-85c6cf099e26.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

															        <tr>
															           <td> <a href="../objects/b2b7eb63-aaa0-4096-82ad-5622532df17a.html" target="element"> Prosjektmedlem </a> </td>
															           <td> <a href="../objects/b2b7eb63-aaa0-4096-82ad-5622532df17a.html" target="element" class="i18n-elementtype-SketchModelActor"> </a> </td>
															        </tr>

															
													        <tr>
													           <td> <a href="../objects/0062542a-6cf3-4967-806e-57482b2a857a.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/0062542a-6cf3-4967-806e-57482b2a857a.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

															        <tr>
															           <td> <a href="../objects/378b1385-d8aa-4535-a864-0bfb83dc5d31.html" target="element"> Sticky </a> </td>
															           <td> <a href="../objects/378b1385-d8aa-4535-a864-0bfb83dc5d31.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
															        </tr>

															
													        <tr>
													           <td> <a href="../objects/ab0052e6-06bd-4045-b634-d81ae1b63032.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/ab0052e6-06bd-4045-b634-d81ae1b63032.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

															        <tr>
															           <td> <a href="../objects/dd62a292-fbbc-49a1-95cc-8120bbb805e8.html" target="element"> Sticky </a> </td>
															           <td> <a href="../objects/dd62a292-fbbc-49a1-95cc-8120bbb805e8.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
															        </tr>

															
													
											
									        <tr>
									           <td> <a href="../objects/652579ac-918e-418d-895a-0afab03b79f2.html" target="element"> Avtaleforvaltning </a> </td>
									           <td> <a href="../objects/652579ac-918e-418d-895a-0afab03b79f2.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/d8ab9e2d-f074-438c-ab5b-5027b3c675e1.html" target="element"> Avtaleforvalter </a> </td>
											           <td> <a href="../objects/d8ab9e2d-f074-438c-ab5b-5027b3c675e1.html" target="element" class="i18n-elementtype-SketchModelActor"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/ecbb4aee-01c3-40df-a228-dcd657ac71b2.html" target="element"> Omr&#229;desamling C </a> </td>
											           <td> <a href="../objects/ecbb4aee-01c3-40df-a228-dcd657ac71b2.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/4c6a9f79-82d0-48be-baf4-362c78473be8.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/4c6a9f79-82d0-48be-baf4-362c78473be8.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/698091a3-da9e-42c6-ad66-58f579255119.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/698091a3-da9e-42c6-ad66-58f579255119.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

															        <tr>
															           <td> <a href="../objects/865fcb51-5d2d-4627-bf75-ee15fc9ee86c.html" target="element"> Sticky </a> </td>
															           <td> <a href="../objects/865fcb51-5d2d-4627-bf75-ee15fc9ee86c.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
															        </tr>

															
													        <tr>
													           <td> <a href="../objects/240d7ee1-de09-4053-bcd2-3cbaab2a103f.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/240d7ee1-de09-4053-bcd2-3cbaab2a103f.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/7dd4b24b-e268-43d1-8fec-f445aa1d959a.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/7dd4b24b-e268-43d1-8fec-f445aa1d959a.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

															        <tr>
															           <td> <a href="../objects/d676e76a-b19d-4c36-b18e-ff6f8d1fc83d.html" target="element"> Sticky </a> </td>
															           <td> <a href="../objects/d676e76a-b19d-4c36-b18e-ff6f8d1fc83d.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
															        </tr>

															
													
											
									        <tr>
									           <td> <a href="../objects/0dea4d6f-a4a9-4823-9af4-afd47be11ffa.html" target="element"> Fellesfunksjoner </a> </td>
									           <td> <a href="../objects/0dea4d6f-a4a9-4823-9af4-afd47be11ffa.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/9e1f244b-df48-490c-b22b-e7f3457d530d.html" target="element"> Medlem </a> </td>
											           <td> <a href="../objects/9e1f244b-df48-490c-b22b-e7f3457d530d.html" target="element" class="i18n-elementtype-SketchModelActor"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/a30b0ee3-9b5b-4c83-94a3-7d6ff49b6172.html" target="element"> Eier </a> </td>
											           <td> <a href="../objects/a30b0ee3-9b5b-4c83-94a3-7d6ff49b6172.html" target="element" class="i18n-elementtype-SketchModelActor"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/ca70e72c-df82-4b11-9edf-c5047804f770.html" target="element"> Admin </a> </td>
											           <td> <a href="../objects/ca70e72c-df82-4b11-9edf-c5047804f770.html" target="element" class="i18n-elementtype-SketchModelActor"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/4b590e3c-9812-48f1-a995-1ba228206d4c.html" target="element"> Omr&#229;desamling B </a> </td>
									           <td> <a href="../objects/4b590e3c-9812-48f1-a995-1ba228206d4c.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/a481b7e4-fa56-48f7-be9a-58644d5fae1d.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/a481b7e4-fa56-48f7-be9a-58644d5fae1d.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/24bd0c23-03ee-4b96-877c-e63cf8cde639.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/24bd0c23-03ee-4b96-877c-e63cf8cde639.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/0a40cdb8-fd35-4ea2-9560-b61afc103130.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/0a40cdb8-fd35-4ea2-9560-b61afc103130.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/7310e7fe-55c2-4b6a-9eb6-cf5d013d05a7.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/7310e7fe-55c2-4b6a-9eb6-cf5d013d05a7.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/f0fdd21c-2f9d-4de1-adf8-d4540a9b2c54.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/f0fdd21c-2f9d-4de1-adf8-d4540a9b2c54.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/80848ba3-3c6a-4396-9dc1-cefffe04ebd6.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/80848ba3-3c6a-4396-9dc1-cefffe04ebd6.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/a7d7e16b-168c-46d6-b779-4545f14b7763.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/a7d7e16b-168c-46d6-b779-4545f14b7763.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/8de565f6-4833-4af4-84b9-611c444764dd.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/8de565f6-4833-4af4-84b9-611c444764dd.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/c62dd8e8-dec6-4ada-8c84-dd4f2b16af00.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/c62dd8e8-dec6-4ada-8c84-dd4f2b16af00.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													
											
									        <tr>
									           <td> <a href="../objects/f8996bea-52fa-44b5-9508-e9eb10ef8a71.html" target="element"> Anskaffelse - Regional </a> </td>
									           <td> <a href="../objects/f8996bea-52fa-44b5-9508-e9eb10ef8a71.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/ab88a5f8-abb4-4743-a4c1-4de474bb7fe4.html" target="element"> Innkj&#248;per </a> </td>
											           <td> <a href="../objects/ab88a5f8-abb4-4743-a4c1-4de474bb7fe4.html" target="element" class="i18n-elementtype-SketchModelActor"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/32c0d6df-fa1c-4150-a91a-c40dbb5bc4e3.html" target="element"> Omr&#229;desamling C </a> </td>
											           <td> <a href="../objects/32c0d6df-fa1c-4150-a91a-c40dbb5bc4e3.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/272a5c49-56c1-4db3-9294-cf0ce5172b3e.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/272a5c49-56c1-4db3-9294-cf0ce5172b3e.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

															        <tr>
															           <td> <a href="../objects/4cdfb697-a871-40eb-ad68-73fb5fd5e968.html" target="element"> Kunde </a> </td>
															           <td> <a href="../objects/4cdfb697-a871-40eb-ad68-73fb5fd5e968.html" target="element" class="i18n-elementtype-SketchModelActor"> </a> </td>
															        </tr>

															
													        <tr>
													           <td> <a href="../objects/2099e923-57ef-4bfa-ba42-8a238cffd02e.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/2099e923-57ef-4bfa-ba42-8a238cffd02e.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

															        <tr>
															           <td> <a href="../objects/58c9b396-9374-4bd8-8d28-bbc944ba8dae.html" target="element"> Sticky </a> </td>
															           <td> <a href="../objects/58c9b396-9374-4bd8-8d28-bbc944ba8dae.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
															        </tr>

															
													        <tr>
													           <td> <a href="../objects/a04e0d18-8205-40cb-ba44-f0f89ca5cc2d.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/a04e0d18-8205-40cb-ba44-f0f89ca5cc2d.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

															        <tr>
															           <td> <a href="../objects/6f271938-1c94-49d3-9ac7-df8f55e899ef.html" target="element"> Sticky </a> </td>
															           <td> <a href="../objects/6f271938-1c94-49d3-9ac7-df8f55e899ef.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
															        </tr>

															
													
											
									        <tr>
									           <td> <a href="../objects/3c378d43-c76d-4567-8523-9cfb2684f5f5.html" target="element"> Analyse - Hovedomr&#229;de </a> </td>
									           <td> <a href="../objects/3c378d43-c76d-4567-8523-9cfb2684f5f5.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/030161f5-bad8-42f6-91ba-970932a6c686.html" target="element"> Koordinator </a> </td>
											           <td> <a href="../objects/030161f5-bad8-42f6-91ba-970932a6c686.html" target="element" class="i18n-elementtype-SketchModelActor"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/8f8edacb-bfee-4c8b-a478-d2b908e0b8df.html" target="element"> Omr&#229;desamling A </a> </td>
											           <td> <a href="../objects/8f8edacb-bfee-4c8b-a478-d2b908e0b8df.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/de6effaf-3607-4fce-a084-bcee8f95dfef.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/de6effaf-3607-4fce-a084-bcee8f95dfef.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

															        <tr>
															           <td> <a href="../objects/197bc541-7ed8-41ae-a88c-463b9412ee55.html" target="element"> Fagressurs </a> </td>
															           <td> <a href="../objects/197bc541-7ed8-41ae-a88c-463b9412ee55.html" target="element" class="i18n-elementtype-SketchModelActor"> </a> </td>
															        </tr>

															        <tr>
															           <td> <a href="../objects/c681aac5-ac1b-41e0-9363-a518f43aff85.html" target="element"> Sticky </a> </td>
															           <td> <a href="../objects/c681aac5-ac1b-41e0-9363-a518f43aff85.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
															        </tr>

																	        <tr>
																	           <td> <a href="../objects/a57b8da6-54b6-4ac0-a507-f1e51df096da.html" target="element"> Sticky </a> </td>
																	           <td> <a href="../objects/a57b8da6-54b6-4ac0-a507-f1e51df096da.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
																	        </tr>

																			        <tr>
																			           <td> <a href="../objects/f3badca2-d76b-4a1b-881b-ccfedb8b9041.html" target="element"> Offentlig </a> </td>
																			           <td> <a href="../objects/f3badca2-d76b-4a1b-881b-ccfedb8b9041.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
																			        </tr>

																			
																	
															        <tr>
															           <td> <a href="../objects/10cc8ca5-6701-43f2-9aa5-eb3f26410a5f.html" target="element"> Sticky </a> </td>
															           <td> <a href="../objects/10cc8ca5-6701-43f2-9aa5-eb3f26410a5f.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
															        </tr>

															
													
											
									        <tr>
									           <td> <a href="../objects/35f009ed-08d5-4b6a-abc0-a67f6f1fca29.html" target="element"> Sticky </a> </td>
									           <td> <a href="../objects/35f009ed-08d5-4b6a-abc0-a67f6f1fca29.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/5253c634-8c3f-40bc-aab3-7ae7cfaf9975.html" target="element"> Offentlig </a> </td>
											           <td> <a href="../objects/5253c634-8c3f-40bc-aab3-7ae7cfaf9975.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/8c6664d1-ee75-4c29-a065-bfb9b0c386bc.html" target="element"> Anskaffelse - Lokal </a> </td>
									           <td> <a href="../objects/8c6664d1-ee75-4c29-a065-bfb9b0c386bc.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/989168a4-59f0-495a-8e55-4786ba820cf0.html" target="element"> Innkj&#248;per </a> </td>
											           <td> <a href="../objects/989168a4-59f0-495a-8e55-4786ba820cf0.html" target="element" class="i18n-elementtype-SketchModelActor"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/7a66bc15-1cc4-423e-8107-26c357999f2e.html" target="element"> Omr&#229;desamling C </a> </td>
											           <td> <a href="../objects/7a66bc15-1cc4-423e-8107-26c357999f2e.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/92681a4b-7fe7-40cf-b1e9-7bd44a02085a.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/92681a4b-7fe7-40cf-b1e9-7bd44a02085a.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

															        <tr>
															           <td> <a href="../objects/ae808905-32cf-4e04-8ba6-a2e1545e785c.html" target="element"> Kunde </a> </td>
															           <td> <a href="../objects/ae808905-32cf-4e04-8ba6-a2e1545e785c.html" target="element" class="i18n-elementtype-SketchModelActor"> </a> </td>
															        </tr>

															
													        <tr>
													           <td> <a href="../objects/38872708-6346-4f68-ab80-0c91621d1254.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/38872708-6346-4f68-ab80-0c91621d1254.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

															        <tr>
															           <td> <a href="../objects/e1ff0de3-5921-43ed-9181-d7966a622948.html" target="element"> Sticky </a> </td>
															           <td> <a href="../objects/e1ff0de3-5921-43ed-9181-d7966a622948.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
															        </tr>

															
													        <tr>
													           <td> <a href="../objects/832882dd-5da7-433d-ada5-bec83ac2e7d7.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/832882dd-5da7-433d-ada5-bec83ac2e7d7.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

															        <tr>
															           <td> <a href="../objects/cd31efe3-8db7-4fb1-a10f-bcc20a8f3994.html" target="element"> Sticky </a> </td>
															           <td> <a href="../objects/cd31efe3-8db7-4fb1-a10f-bcc20a8f3994.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
															        </tr>

															
													
											
									        <tr>
									           <td> <a href="../objects/45a1a8cf-0be7-4e1d-9c25-6c1e81cf0af3.html" target="element"> Sticky </a> </td>
									           <td> <a href="../objects/45a1a8cf-0be7-4e1d-9c25-6c1e81cf0af3.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/f43f1af6-9cd3-4f05-b54e-b7fe33a938ce.html" target="element"> Ekstern </a> </td>
									           <td> <a href="../objects/f43f1af6-9cd3-4f05-b54e-b7fe33a938ce.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/2bc8d40b-01db-4747-af3c-010bfbd88006.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/2bc8d40b-01db-4747-af3c-010bfbd88006.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/d9bf1c28-602d-4584-b0bc-311860d64801.html" target="element"> Offentlig </a> </td>
													           <td> <a href="../objects/d9bf1c28-602d-4584-b0bc-311860d64801.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/68de6456-4e2a-4bb0-9623-e523e3701d05.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/68de6456-4e2a-4bb0-9623-e523e3701d05.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/a8fdcb25-2a1d-4caf-9b56-8875534c5dec.html" target="element"> Offentlig </a> </td>
													           <td> <a href="../objects/a8fdcb25-2a1d-4caf-9b56-8875534c5dec.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/ebbebc23-8deb-4d17-9f72-558019368377.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/ebbebc23-8deb-4d17-9f72-558019368377.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/7fa63eb0-5910-4192-b227-dc0f9004d9fd.html" target="element"> Offentlig </a> </td>
													           <td> <a href="../objects/7fa63eb0-5910-4192-b227-dc0f9004d9fd.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													
											
									        <tr>
									           <td> <a href="../objects/1cb471cb-678f-4c2e-ac43-c5c523f916b6.html" target="element"> Offentlig </a> </td>
									           <td> <a href="../objects/1cb471cb-678f-4c2e-ac43-c5c523f916b6.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/b4ecfd70-70e6-4bf2-b3cc-325dfa4f6ad5.html" target="element"> Offentlig </a> </td>
									           <td> <a href="../objects/b4ecfd70-70e6-4bf2-b3cc-325dfa4f6ad5.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/7cf497ad-6f2e-4b31-ad2c-5108eae0d01a.html" target="element"> Offentlig </a> </td>
									           <td> <a href="../objects/7cf497ad-6f2e-4b31-ad2c-5108eae0d01a.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/443ba813-3ebc-486d-b41e-d73e07bf8522.html" target="element"> Offentlig </a> </td>
									           <td> <a href="../objects/443ba813-3ebc-486d-b41e-d73e07bf8522.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelActor -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelActor -->
															
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelActor -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelActor -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelActor -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelActor -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelActor -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelActor -->
															
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelActor -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelActor -->
																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																			<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																					<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																			
																	
																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelActor -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelActor -->
															
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>