<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Nasjonal</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Nasjonal</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/6a759bbd-7525-456a-b9a0-9d6f75e77301.png" alt="Nasjonal" usemap="#6a759bbd-7525-456a-b9a0-9d6f75e77301map">
			<map name="6a759bbd-7525-456a-b9a0-9d6f75e77301map">
						<area shape="rect" coords="892,242,1025,309" href="../elements/85dddce9-8232-426c-9548-d98f5cf741d8.html"  target="element">
						<area shape="rect" coords="664,118,797,185" href="../elements/49d6ec8d-afcd-4807-a08e-d442afe718cb.html"  target="element">
						<area shape="rect" coords="664,242,797,309" href="../elements/31e26d9d-77ec-4345-b974-9f5f0154939e.html"  target="element">
						<area shape="rect" coords="160,242,293,309" href="../elements/32f97358-43a0-42e1-85a7-8f24385847f9.html"  target="element">
						<area shape="rect" coords="406,118,539,185" href="../elements/02043a20-9fe7-438a-bbb1-25afb08d8b73.html"  target="element">
						<area shape="rect" coords="160,118,293,185" href="../elements/5325c42a-e72c-43e5-8db4-58421bf5be34.html"  target="element">
						<area shape="rect" coords="406,10,539,77" href="../elements/9bbc05c8-b520-47dc-8d69-b67b5e0e6102.html"  target="element">
						<area shape="rect" coords="406,242,539,309" href="../elements/05abbf25-76d8-4012-b944-c97d615850d7.html"  target="element">
						<area shape="rect" coords="664,382,797,460" href="../elements/14960c17-2e7b-4796-af5b-d23a6eed178b.html"  target="element">
						<area shape="rect" coords="154,382,287,449" href="../elements/58771483-1b09-4489-ad89-1cc08162b693.html"  target="element">
						<area shape="rect" coords="160,586,293,653" href="../elements/708d2841-83e4-4eee-ba91-bfac6c8573c4.html"  target="element">
						<area shape="rect" coords="421,502,554,572" href="../elements/7c5a7970-dc1e-4eb2-b28c-5d1d43da80ea.html"  target="element">
										<area shape="rect" coords="670,598,803,665" href="../elements/0c12775a-da78-499b-bc0c-72ee13a36f33.html"  target="element">

								<area shape="rect" coords="658,562,815,683" href="../elements/093ec1d9-10ec-4960-b173-857919f48afd.html"  target="element">
								<area shape="rect" coords="886,598,1019,665" href="../elements/d89dea1c-f335-402f-93ec-e4da2d4f6976.html"  target="element">

						<area shape="rect" coords="634,526,1043,700" href="../elements/26a42e67-b622-45d8-a73e-9026b8adbbc3.html"  target="element">
						<area shape="rect" coords="682,730,815,797" href="../elements/c25c12d0-2d74-48b2-8e88-4e3ccd253f5a.html"  target="element">
						<area shape="rect" coords="910,730,1043,797" href="../elements/31701d69-3e0d-46d1-bd43-8614ef3da586.html"  target="element">
								<area shape="rect" coords="418,388,548,455" href="../elements/d3c79c42-0ea7-49fa-80a3-4efd5d6f626d.html"  target="element">

						<area shape="rect" coords="406,358,569,467" href="../elements/29c7c74c-1255-4585-b7a4-43d89c1e3a96.html"  target="element">
						<area shape="rect" coords="10,490,143,560" href="../elements/702e1c1a-78ea-4e2b-bd52-25f60b5118c3.html"  target="element">
								<area shape="rect" coords="430,851,563,918" href="../elements/2d8a6359-b93f-4d95-8635-94a522d96607.html"  target="element">
								<area shape="rect" coords="430,767,563,837" href="../elements/45c49215-7f96-48c8-9885-775c9e12dc04.html"  target="element">
								<area shape="rect" coords="430,683,563,750" href="../elements/00742f95-1d2e-43ea-ae97-13204f33129a.html"  target="element">

						<area shape="rect" coords="418,652,581,924" href="../elements/f806a1d6-93db-4ae1-b32f-85c14543d621.html"  target="element">
						<area shape="rect" coords="826,854,959,924" href="../elements/4e44d1e4-1f1c-4282-8d10-0fe27ff1c6f4.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
					<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="elements">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
								</tr>
							</thead>
							<tbody>
										<tr><td> <a href="../elements/85dddce9-8232-426c-9548-d98f5cf741d8.html" target="element"> Sluttbrukertjenester </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
										<tr><td> <a href="../elements/49d6ec8d-afcd-4807-a08e-d442afe718cb.html" target="element"> Sluttbrukere (innbyggere, virksomheter) </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
										<tr><td> <a href="../elements/31e26d9d-77ec-4345-b974-9f5f0154939e.html" target="element"> Brukerbehov </a> </td><td class="i18n-elementtype-Requirement"></td></tr>
										<tr><td> <a href="../elements/32f97358-43a0-42e1-85a7-8f24385847f9.html" target="element"> F&#248;ringer og premisser </a> </td><td class="i18n-elementtype-Constraint"></td></tr>
										<tr><td> <a href="../elements/02043a20-9fe7-438a-bbb1-25afb08d8b73.html" target="element"> Verdi (gevinster) </a> </td><td class="i18n-elementtype-Value"></td></tr>
										<tr><td> <a href="../elements/5325c42a-e72c-43e5-8db4-58421bf5be34.html" target="element"> Politisk ledelse og premissgivere </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
										<tr><td> <a href="../elements/9bbc05c8-b520-47dc-8d69-b67b5e0e6102.html" target="element"> Samfunnet - innbyggere, virksomheteter </a> </td><td class="i18n-elementtype-Stakeholder"></td></tr>
										<tr><td> <a href="../elements/05abbf25-76d8-4012-b944-c97d615850d7.html" target="element"> M&#229;l og visjoner </a> </td><td class="i18n-elementtype-Outcome"></td></tr>
										<tr><td> <a href="../elements/14960c17-2e7b-4796-af5b-d23a6eed178b.html" target="element"> Arkitektur-og l&#248;sningsbyggeklosser </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
										<tr><td> <a href="../elements/58771483-1b09-4489-ad89-1cc08162b693.html" target="element"> Styrngsorganer (internt, eksternt) </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
										<tr><td> <a href="../elements/708d2841-83e4-4eee-ba91-bfac6c8573c4.html" target="element"> Tjenesteeiere og forvaltere (internt og eksternt) </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
										<tr><td> <a href="../elements/7c5a7970-dc1e-4eb2-b28c-5d1d43da80ea.html" target="element"> Referansearkitekturer (arkitektur- og l&#248;sningsm&#248;nstre) </a> </td><td class="i18n-elementtype-Resource"></td></tr>
										<tr><td> <a href="../elements/26a42e67-b622-45d8-a73e-9026b8adbbc3.html" target="element"> Utvikling, drift og forvaltning </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
												<tr><td> <a href="../elements/093ec1d9-10ec-4960-b173-857919f48afd.html" target="element"> Programmer </a> </td><td class="i18n-elementtype-WorkPackage"></td></tr>
														<tr><td> <a href="../elements/0c12775a-da78-499b-bc0c-72ee13a36f33.html" target="element"> Utviklingsprosjekter </a> </td><td class="i18n-elementtype-WorkPackage"></td></tr>
												
												<tr><td> <a href="../elements/d89dea1c-f335-402f-93ec-e4da2d4f6976.html" target="element"> Drift- og forvaltningsaktiviteter </a> </td><td class="i18n-elementtype-WorkPackage"></td></tr>
										
										<tr><td> <a href="../elements/c25c12d0-2d74-48b2-8e88-4e3ccd253f5a.html" target="element"> Utviklingsdokumentasjon </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
										<tr><td> <a href="../elements/31701d69-3e0d-46d1-bd43-8614ef3da586.html" target="element"> Produktdokumentasjon </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
										<tr><td> <a href="../elements/29c7c74c-1255-4585-b7a4-43d89c1e3a96.html" target="element"> Temaomr&#229;de </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
												<tr><td> <a href="../elements/d3c79c42-0ea7-49fa-80a3-4efd5d6f626d.html" target="element"> Kapabiliteter (forretning og IT) </a> </td><td class="i18n-elementtype-Capability"></td></tr>
										
										<tr><td> <a href="../elements/702e1c1a-78ea-4e2b-bd52-25f60b5118c3.html" target="element"> Mandater og finanisering </a> </td><td class="i18n-elementtype-Resource"></td></tr>
										<tr><td> <a href="../elements/f806a1d6-93db-4ae1-b32f-85c14543d621.html" target="element"> Metodikk </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
												<tr><td> <a href="../elements/2d8a6359-b93f-4d95-8635-94a522d96607.html" target="element"> Metodikk for drift og forvaltning </a> </td><td class="i18n-elementtype-Resource"></td></tr>
												<tr><td> <a href="../elements/45c49215-7f96-48c8-9885-775c9e12dc04.html" target="element"> Utviklingsmetodikk (program-og prosjektstyring. tjenesteutvikling) </a> </td><td class="i18n-elementtype-Resource"></td></tr>
												<tr><td> <a href="../elements/00742f95-1d2e-43ea-ae97-13204f33129a.html" target="element"> Metodikk for strategi og portef&#248;ljestyring </a> </td><td class="i18n-elementtype-Resource"></td></tr>
										
										<tr><td> <a href="../elements/4e44d1e4-1f1c-4282-8d10-0fe27ff1c6f4.html" target="element"> Dokumentasjonskonvensjoner </a> </td><td class="i18n-elementtype-Resource"></td></tr>

							</tbody>
						</table>
					</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>