<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Satstningsområde - Samhandling</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Satstningsomr&#229;de - Samhandling</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/6cd2835f-0da0-4c3d-9e81-06843e980af9.png" alt="Satstningsområde - Samhandling" usemap="#6cd2835f-0da0-4c3d-9e81-06843e980af9map">
			<map name="6cd2835f-0da0-4c3d-9e81-06843e980af9map">
								<area shape="rect" coords="586,197,719,258" href="../elements/81404926-b51f-4b08-9d10-6fe76df05e0e.html"  target="element">

						<area shape="rect" coords="478,149,838,289" href="../elements/a70b401e-61f8-44b8-b39f-a391f0c9dd43.html"  target="element">
										<area shape="rect" coords="598,737,718,792" href="../elements/a9ffd185-82b4-4045-b77b-4c7d7767f198.html"  target="element">

								<area shape="rect" coords="598,689,718,798" href="../elements/c843a441-099c-46fd-a919-ea0c2fbe58c3.html"  target="element">
										<area shape="rect" coords="514,401,634,456" href="../elements/47dcaf5e-cbb7-461f-ae65-2d4ca0160bdc.html"  target="element">

								<area shape="rect" coords="514,353,634,462" href="../elements/1f3b1f55-3ce3-405b-9ef3-548b42c44cc6.html"  target="element">
										<area shape="rect" coords="670,401,790,456" href="../elements/30020812-e43e-4e5e-9197-d334a9ed9b9c.html"  target="element">

								<area shape="rect" coords="670,353,790,462" href="../elements/5159ca12-3aa8-4a12-b2a8-074caf24c2ed.html"  target="element">
										<area shape="rect" coords="514,509,634,564" href="../elements/100ae64a-6d13-419b-b875-76c35ca87e98.html"  target="element">

								<area shape="rect" coords="514,473,634,570" href="../elements/9118bfd7-a3d1-4658-aa24-016c8a71131a.html"  target="element">
										<area shape="rect" coords="670,509,790,564" href="../elements/9c6a6e4e-890a-49ba-a490-578fd208cd3a.html"  target="element">

								<area shape="rect" coords="670,473,790,570" href="../elements/e8e931f7-84fd-49e4-8963-69b0218a1220.html"  target="element">
										<area shape="rect" coords="514,611,634,666" href="../elements/96baad0f-7d03-4363-81ed-67cf1ce6034e.html"  target="element">

								<area shape="rect" coords="514,575,634,678" href="../elements/6f61d0cb-3c95-4f2c-a313-db809d2be5cc.html"  target="element">
										<area shape="rect" coords="670,611,790,666" href="../elements/9b4fb8ef-a118-4202-a8d6-3150fcc5b014.html"  target="element">

								<area shape="rect" coords="670,575,790,678" href="../elements/0d804e11-3677-43f1-9e5d-30b17d5f1b91.html"  target="element">

						<area shape="rect" coords="478,329,838,810" href="../elements/85072771-74ed-4426-9d28-c2544593af1a.html"  target="element">
						<area shape="rect" coords="573,53,730,106" href="../elements/7626b29a-b67b-4745-a74f-2199e93ac7c2.html"  target="element">
								<area shape="rect" coords="34,58,203,113" href="../elements/bf3f2129-0085-4dcb-977e-e9032517c424.html"  target="element">
								<area shape="rect" coords="262,58,382,113" href="../elements/4ec297eb-8ed7-4711-9c3a-051d23939410.html"  target="element">

						<area shape="rect" coords="10,10,410,150" href="../elements/57f7cebb-f4e0-4e0b-a490-9a34875003f7.html"  target="element">
								<area shape="rect" coords="1019,46,1308,119" href="../elements/6f07d813-1205-453b-b7e1-422f08745e69.html"  target="element">

						<area shape="rect" coords="1007,10,1320,150" href="../elements/e8a22bdd-71d9-4cbb-9a7c-2baab06757bd.html"  target="element">
										<area shape="rect" coords="94,725,214,780" href="../elements/f55bcbdc-5621-4751-b9cd-fbd610eca766.html"  target="element">

								<area shape="rect" coords="94,677,214,786" href="../elements/e2fc584d-c12d-4f04-9c72-a5617a347e43.html"  target="element">
								<area shape="rect" coords="238,725,358,780" href="../elements/d1a33ed1-03a0-4a44-899a-5e3ecae10169.html"  target="element">

						<area shape="rect" coords="82,653,371,798" href="../elements/334b3884-44dd-4cf4-bd50-9d212a312210.html"  target="element">
										<area shape="rect" coords="597,1001,717,1056" href="../elements/59512d8e-5d15-4ae4-a6d6-21c705b45c58.html"  target="element">

								<area shape="rect" coords="597,953,717,1062" href="../elements/53f377d6-2a27-45e7-8b79-71feef8c1442.html"  target="element">
								<area shape="rect" coords="597,881,717,936" href="../elements/952d8478-4423-4879-a0ef-c0578d9934ca.html"  target="element">

						<area shape="rect" coords="573,857,742,1062" href="../elements/9cf73d0f-5d74-4745-9658-bd5848ddf918.html"  target="element">
										<area shape="rect" coords="1102,305,1222,360" href="../elements/fe5c310b-4a25-4f9e-b7b9-05cb2084c034.html"  target="element">

								<area shape="rect" coords="1102,269,1222,366" href="../elements/08b0028a-ca51-4a57-ad9f-5ecc0415936a.html"  target="element">
								<area shape="rect" coords="958,311,1078,366" href="../elements/be1e91fa-14d5-40f6-84c7-ec0394e6318c.html"  target="element">

						<area shape="rect" coords="946,245,1237,378" href="../elements/6ccf3782-e845-4274-a9df-39d3cbb215ba.html"  target="element">
										<area shape="rect" coords="94,305,214,360" href="../elements/055882d6-722b-4c5c-b4f7-04d4f4bcc324.html"  target="element">

								<area shape="rect" coords="94,269,214,366" href="../elements/d5a4d3ba-c8c1-4aa5-8199-8f0a50d96884.html"  target="element">
								<area shape="rect" coords="238,311,358,366" href="../elements/d7e4f823-814f-49de-af62-2a14fd6e8659.html"  target="element">

						<area shape="rect" coords="82,245,371,378" href="../elements/40d59f65-1d28-4cdc-9ccd-c944ef22768a.html"  target="element">
										<area shape="rect" coords="1186,455,1306,510" href="../elements/13fdde99-1c62-4785-81cd-be51565ff8e1.html"  target="element">

								<area shape="rect" coords="1186,431,1306,516" href="../elements/6bf5e771-6776-4ad1-ac29-d146913d9b51.html"  target="element">
										<area shape="rect" coords="1186,551,1306,606" href="../elements/e63974b3-82d2-4d80-bf1e-143b1553b216.html"  target="element">

								<area shape="rect" coords="1186,527,1306,612" href="../elements/f59dd7c1-d3da-40f2-9311-fd41271a151d.html"  target="element">
								<area shape="rect" coords="1030,503,1150,558" href="../elements/08d62ce3-67d6-4944-905a-b0d9aea69758.html"  target="element">

						<area shape="rect" coords="1030,407,1320,624" href="../elements/4f660e3b-e234-4d58-9f70-2f4a41ac2f72.html"  target="element">
										<area shape="rect" coords="22,512,142,567" href="../elements/1d4720b4-5672-49ed-84a4-9d5c23520e5c.html"  target="element">

								<area shape="rect" coords="22,476,142,573" href="../elements/c251e32a-5192-4257-bcfb-46c2f75dce6b.html"  target="element">
								<area shape="rect" coords="166,509,286,564" href="../elements/52386be5-3b66-4af8-acbe-4e893d65b39c.html"  target="element">

						<area shape="rect" coords="10,449,299,582" href="../elements/47cdb10c-6eb6-44d7-ae4c-702a7bf1385e.html"  target="element">
										<area shape="rect" coords="1088,725,1208,780" href="../elements/0fe56c1e-ce1e-48c8-95f6-86cbd523ed02.html"  target="element">

								<area shape="rect" coords="1088,677,1208,786" href="../elements/3936ce47-a688-4405-908e-682a1f807c90.html"  target="element">
								<area shape="rect" coords="944,725,1064,780" href="../elements/85c3da9e-734e-48a4-ac26-408bd7227ce2.html"  target="element">

						<area shape="rect" coords="932,653,1223,798" href="../elements/6995e861-a0f0-488b-8dcb-c3df24a7f9ea.html"  target="element">
						<area shape="rect" coords="778,52,933,106" href="../elements/5f2eb848-c9fe-4b24-99cc-1b1d57ac17ec.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
					<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="elements">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
								</tr>
							</thead>
							<tbody>
										<tr><td> <a href="../elements/a70b401e-61f8-44b8-b39f-a391f0c9dd43.html" target="element"> IKT-strategi - Sentrale satsningsomr&#229;der </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
												<tr><td> <a href="../elements/81404926-b51f-4b08-9d10-6fe76df05e0e.html" target="element"> Felles plattform for merkantil samhandling </a> </td><td class="i18n-elementtype-Resource"></td></tr>
										
										<tr><td> <a href="../elements/85072771-74ed-4426-9d28-c2544593af1a.html" target="element"> MS Azure </a> </td><td class="i18n-elementtype-CommunicationNetwork"></td></tr>
												<tr><td> <a href="../elements/c843a441-099c-46fd-a919-ea0c2fbe58c3.html" target="element"> MS AAD Sykehusinnkj&#248;p </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
														<tr><td> <a href="../elements/a9ffd185-82b4-4045-b77b-4c7d7767f198.html" target="element"> Permanent oppholdstillatelse SHI </a> </td><td class="i18n-elementtype-Representation"></td></tr>
												
												<tr><td> <a href="../elements/1f3b1f55-3ce3-405b-9ef3-548b42c44cc6.html" target="element"> MS AAD (Helse nord) </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
														<tr><td> <a href="../elements/47dcaf5e-cbb7-461f-ae65-2d4ca0160bdc.html" target="element"> Bes&#248;ksvisum Nord </a> </td><td class="i18n-elementtype-Representation"></td></tr>
												
												<tr><td> <a href="../elements/5159ca12-3aa8-4a12-b2a8-074caf24c2ed.html" target="element"> MS AAD (Helse Midt-Norge) </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
														<tr><td> <a href="../elements/30020812-e43e-4e5e-9197-d334a9ed9b9c.html" target="element"> Bes&#248;ksvisum Midt </a> </td><td class="i18n-elementtype-Representation"></td></tr>
												
												<tr><td> <a href="../elements/9118bfd7-a3d1-4658-aa24-016c8a71131a.html" target="element"> MS AAD (Helse vest) </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
														<tr><td> <a href="../elements/100ae64a-6d13-419b-b875-76c35ca87e98.html" target="element"> Bes&#248;ksvisum Vest </a> </td><td class="i18n-elementtype-Representation"></td></tr>
												
												<tr><td> <a href="../elements/e8e931f7-84fd-49e4-8963-69b0218a1220.html" target="element"> MS AAD (Helse s&#248;r-&#248;st) </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
														<tr><td> <a href="../elements/9c6a6e4e-890a-49ba-a490-578fd208cd3a.html" target="element"> Bes&#248;ksvisum (HS&#216;) </a> </td><td class="i18n-elementtype-Representation"></td></tr>
												
												<tr><td> <a href="../elements/6f61d0cb-3c95-4f2c-a313-db809d2be5cc.html" target="element"> MS AAD Sykehusbygg </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
														<tr><td> <a href="../elements/96baad0f-7d03-4363-81ed-67cf1ce6034e.html" target="element"> Permanent oppholdstillatelse SHB </a> </td><td class="i18n-elementtype-Representation"></td></tr>
												
												<tr><td> <a href="../elements/0d804e11-3677-43f1-9e5d-30b17d5f1b91.html" target="element"> MS AAD Luftambulasetjenesten </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
														<tr><td> <a href="../elements/9b4fb8ef-a118-4202-a8d6-3150fcc5b014.html" target="element"> Permanent oppholdstillatelse LAT </a> </td><td class="i18n-elementtype-Representation"></td></tr>
												
										
										<tr><td> <a href="../elements/7626b29a-b67b-4745-a74f-2199e93ac7c2.html" target="element"> Ingen behandling av pasientinformasjon </a> </td><td class="i18n-elementtype-Principle"></td></tr>
										<tr><td> <a href="../elements/57f7cebb-f4e0-4e0b-a490-9a34875003f7.html" target="element"> Virksomhetsstrategi - Satsningsomr&#229;der sentralt for IKT-strategi </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
												<tr><td> <a href="../elements/bf3f2129-0085-4dcb-977e-e9032517c424.html" target="element"> M&#248;teplasser og samhandlingsarenaer </a> </td><td class="i18n-elementtype-CourseOfAction"></td></tr>
												<tr><td> <a href="../elements/4ec297eb-8ed7-4711-9c3a-051d23939410.html" target="element"> Samhandling med fagmilj&#248;ene </a> </td><td class="i18n-elementtype-CourseOfAction"></td></tr>
										
										<tr><td> <a href="../elements/e8a22bdd-71d9-4cbb-9a7c-2baab06757bd.html" target="element"> Beredskapsplan </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
												<tr><td> <a href="../elements/6f07d813-1205-453b-b7e1-422f08745e69.html" target="element"> Samhandle p&#229; tvers av virksomheter samt samhandling generelt med akt&#248;rer utenfor sektoren. Samhandlingen kan foreg&#229; manuelt eller med systemst&#248;tte. </a> </td><td class="i18n-elementtype-Capability"></td></tr>
										
										<tr><td> <a href="../elements/334b3884-44dd-4cf4-bd50-9d212a312210.html" target="element"> Sykehusbygg HF </a> </td><td class="i18n-elementtype-CommunicationNetwork"></td></tr>
												<tr><td> <a href="../elements/e2fc584d-c12d-4f04-9c72-a5617a347e43.html" target="element"> MS AD (Sykehusbygg) </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
														<tr><td> <a href="../elements/f55bcbdc-5621-4751-b9cd-fbd610eca766.html" target="element"> Brukerkonto SHB </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
												
												<tr><td> <a href="../elements/d1a33ed1-03a0-4a44-899a-5e3ecae10169.html" target="element"> Fagressurs - SHB </a> </td><td class="i18n-elementtype-Resource"></td></tr>
										
										<tr><td> <a href="../elements/9cf73d0f-5d74-4745-9658-bd5848ddf918.html" target="element"> Sykehusinnkj&#248;p HF </a> </td><td class="i18n-elementtype-CommunicationNetwork"></td></tr>
												<tr><td> <a href="../elements/53f377d6-2a27-45e7-8b79-71feef8c1442.html" target="element"> MS AD (Sykehusinnkj&#248;p) </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
														<tr><td> <a href="../elements/59512d8e-5d15-4ae4-a6d6-21c705b45c58.html" target="element"> Brukerkonto SHI </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
												
												<tr><td> <a href="../elements/952d8478-4423-4879-a0ef-c0578d9934ca.html" target="element"> Fagressurs - SHI </a> </td><td class="i18n-elementtype-Resource"></td></tr>
										
										<tr><td> <a href="../elements/6ccf3782-e845-4274-a9df-39d3cbb215ba.html" target="element"> Helse Midt-Norge </a> </td><td class="i18n-elementtype-CommunicationNetwork"></td></tr>
												<tr><td> <a href="../elements/08b0028a-ca51-4a57-ad9f-5ecc0415936a.html" target="element"> MS AD (Helsemidt) </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
														<tr><td> <a href="../elements/fe5c310b-4a25-4f9e-b7b9-05cb2084c034.html" target="element"> Brukerkonto Midt </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
												
												<tr><td> <a href="../elements/be1e91fa-14d5-40f6-84c7-ec0394e6318c.html" target="element"> Fagressurs - Midt-Norge </a> </td><td class="i18n-elementtype-Resource"></td></tr>
										
										<tr><td> <a href="../elements/40d59f65-1d28-4cdc-9ccd-c944ef22768a.html" target="element"> Helse Nord </a> </td><td class="i18n-elementtype-CommunicationNetwork"></td></tr>
												<tr><td> <a href="../elements/d5a4d3ba-c8c1-4aa5-8199-8f0a50d96884.html" target="element"> MS AD (Helsenord) </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
														<tr><td> <a href="../elements/055882d6-722b-4c5c-b4f7-04d4f4bcc324.html" target="element"> Brukerkonto Nord </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
												
												<tr><td> <a href="../elements/d7e4f823-814f-49de-af62-2a14fd6e8659.html" target="element"> Fagressurs - Helse nord </a> </td><td class="i18n-elementtype-Resource"></td></tr>
										
										<tr><td> <a href="../elements/4f660e3b-e234-4d58-9f70-2f4a41ac2f72.html" target="element"> Helse S&#248;r-&#248;st </a> </td><td class="i18n-elementtype-CommunicationNetwork"></td></tr>
												<tr><td> <a href="../elements/6bf5e771-6776-4ad1-ac29-d146913d9b51.html" target="element"> MS AD (OUS) </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
														<tr><td> <a href="../elements/13fdde99-1c62-4785-81cd-be51565ff8e1.html" target="element"> Brukerkonto OUS </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
												
												<tr><td> <a href="../elements/f59dd7c1-d3da-40f2-9311-fd41271a151d.html" target="element"> MS AD (SIKT) </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
														<tr><td> <a href="../elements/e63974b3-82d2-4d80-bf1e-143b1553b216.html" target="element"> Brukerkonto S&#248;r-&#248;st </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
												
												<tr><td> <a href="../elements/08d62ce3-67d6-4944-905a-b0d9aea69758.html" target="element"> Fagressurs - Helse s&#248;r-&#248;st </a> </td><td class="i18n-elementtype-Resource"></td></tr>
										
										<tr><td> <a href="../elements/47cdb10c-6eb6-44d7-ae4c-702a7bf1385e.html" target="element"> Helse Vest </a> </td><td class="i18n-elementtype-CommunicationNetwork"></td></tr>
												<tr><td> <a href="../elements/c251e32a-5192-4257-bcfb-46c2f75dce6b.html" target="element"> MS AD (Helsevest) </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
														<tr><td> <a href="../elements/1d4720b4-5672-49ed-84a4-9d5c23520e5c.html" target="element"> Brukerkonto Vest </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
												
												<tr><td> <a href="../elements/52386be5-3b66-4af8-acbe-4e893d65b39c.html" target="element"> Fagressurs - Helse vest </a> </td><td class="i18n-elementtype-Resource"></td></tr>
										
										<tr><td> <a href="../elements/6995e861-a0f0-488b-8dcb-c3df24a7f9ea.html" target="element"> Luftambulansetjenesten HF </a> </td><td class="i18n-elementtype-CommunicationNetwork"></td></tr>
												<tr><td> <a href="../elements/3936ce47-a688-4405-908e-682a1f807c90.html" target="element"> MS AD (Luftambulansetjenesten) </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
														<tr><td> <a href="../elements/0fe56c1e-ce1e-48c8-95f6-86cbd523ed02.html" target="element"> Brukerkonto LAT </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
												
												<tr><td> <a href="../elements/85c3da9e-734e-48a4-ac26-408bd7227ce2.html" target="element"> Fagressurs - LAT </a> </td><td class="i18n-elementtype-Resource"></td></tr>
										
										<tr><td> <a href="../elements/5f2eb848-c9fe-4b24-99cc-1b1d57ac17ec.html" target="element"> Lov om helsemessig og sosial beredskap </a> </td><td class="i18n-elementtype-Constraint"></td></tr>

							</tbody>
						</table>
					</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>