<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Prosjektregister - Løsningsbeskrivelse</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Prosjektregister - L&#248;sningsbeskrivelse</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-application_usage"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_application_usage" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/6ce67992-47a0-48d1-8f8f-7630533f1de5.png" alt="Prosjektregister - Løsningsbeskrivelse" usemap="#6ce67992-47a0-48d1-8f8f-7630533f1de5map"/>
			   <map name="6ce67992-47a0-48d1-8f8f-7630533f1de5map">
				  		<area shape="rect" coords="502,406,647,437" href="../elements/4f69d726-2fb7-4cff-95eb-595f35c3ac15.html"  target="element">
				  		<area shape="rect" coords="502,334,647,365" href="../elements/ece34276-7017-4fae-a022-626855700d84.html"  target="element">
				  		<area shape="rect" coords="502,370,647,401" href="../elements/9fb80fa8-b913-4d38-acc2-ed8804fd1dc8.html"  target="element">
				  		<area shape="rect" coords="502,298,647,329" href="../elements/555c5a05-dcb1-443b-b418-19dcf9851f40.html"  target="element">
				  				<area shape="rect" coords="214,358,359,413" href="../elements/71bbb94f-d713-4c6e-b759-c41f0a49e375.html"  target="element">
				  				<area shape="rect" coords="214,274,359,329" href="../elements/b8e9ecb3-2180-42b3-b1d6-f4bed96ce5b5.html"  target="element">

				  		<area shape="rect" coords="202,226,371,431" href="../elements/dd5a52e8-b809-4c5e-b3da-898114c9478e.html"  target="element">
				  		<area shape="rect" coords="862,202,995,257" href="../elements/7945b608-e402-443a-94c6-17c3f10a4ed1.html"  target="element">
				  		<area shape="rect" coords="1018,34,1138,89" href="../elements/330ac691-c16c-424c-b786-ec5811997c0c.html"  target="element">
				  		<area shape="rect" coords="1018,118,1138,173" href="../elements/da456048-b1ad-4233-ba92-4a01f0233a18.html"  target="element">
				  		<area shape="rect" coords="862,118,982,173" href="../elements/1b756296-35fa-4295-b533-ee45d767f508.html"  target="element">
				  		<area shape="rect" coords="862,34,982,89" href="../elements/dfa9c80a-c04d-4246-972f-9128d3afd020.html"  target="element">
				  		<area shape="rect" coords="454,34,599,173" href="../elements/e0851489-0d83-45cb-a767-cbc9a3b02057.html"  target="element">
				  						<area shape="rect" coords="225,118,406,179" href="../elements/de5369a0-02f3-4b46-95b3-50ae568039f9.html"  target="element">

				  				<area shape="rect" coords="213,94,418,191" href="../elements/5a9fdf7b-0ff8-4192-a8be-5e14d0508c62.html"  target="element">
				  				<area shape="rect" coords="231,34,400,89" href="../elements/848f81a4-4161-4ecc-9eb5-226d15763d04.html"  target="element">

				  		<area shape="rect" coords="202,10,431,203" href="../elements/bf8c2e42-4907-45b7-ae08-fc5080fde102.html"  target="element">
				  		<area shape="rect" coords="670,34,815,89" href="../elements/2d80f390-5ecf-426c-8045-1b63d0c04586.html"  target="element">
				  		<area shape="rect" coords="670,118,815,173" href="../elements/0b3cfc72-01c6-4009-a9fa-863e758e04fb.html"  target="element">
				  		<area shape="rect" coords="10,526,155,581" href="../elements/f1aee4fc-1051-4cc1-81f0-c2300b0846f6.html"  target="element">
				  		<area shape="rect" coords="754,538,899,593" href="../elements/0f39073d-36e8-41b2-bf4e-a9f0269e7ed7.html"  target="element">
				  				<area shape="rect" coords="22,46,142,101" href="../elements/2aad86ed-e554-45d5-a37e-ab0fa66b9ea8.html"  target="element">

				  		<area shape="rect" coords="10,10,155,491" href="../elements/826f9fa1-0e39-40a8-bfa8-59705adf6d22.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/826f9fa1-0e39-40a8-bfa8-59705adf6d22.html" target="element"> Prosjektregister </a> </td>
											    <td> <a href="../elements/826f9fa1-0e39-40a8-bfa8-59705adf6d22.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/2aad86ed-e554-45d5-a37e-ab0fa66b9ea8.html" target="element"> Event Trigger Create / Update Events  </a> </td>
													    <td> <a href="../elements/2aad86ed-e554-45d5-a37e-ab0fa66b9ea8.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/0f39073d-36e8-41b2-bf4e-a9f0269e7ed7.html" target="element"> Prosjektregister Odata API </a> </td>
											    <td> <a href="../elements/0f39073d-36e8-41b2-bf4e-a9f0269e7ed7.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f1aee4fc-1051-4cc1-81f0-c2300b0846f6.html" target="element"> Prosjektregister fil eksport </a> </td>
											    <td> <a href="../elements/f1aee4fc-1051-4cc1-81f0-c2300b0846f6.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0b3cfc72-01c6-4009-a9fa-863e758e04fb.html" target="element"> Visma Business REST API </a> </td>
											    <td> <a href="../elements/0b3cfc72-01c6-4009-a9fa-863e758e04fb.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2d80f390-5ecf-426c-8045-1b63d0c04586.html" target="element"> https://api.tidsbanken.net/v2/prosjekter </a> </td>
											    <td> <a href="../elements/2d80f390-5ecf-426c-8045-1b63d0c04586.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/bf8c2e42-4907-45b7-ae08-fc5080fde102.html" target="element"> Visma </a> </td>
											    <td> <a href="../elements/bf8c2e42-4907-45b7-ae08-fc5080fde102.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/848f81a4-4161-4ecc-9eb5-226d15763d04.html" target="element"> Arbeidsflyt </a> </td>
													    <td> <a href="../elements/848f81a4-4161-4ecc-9eb5-226d15763d04.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/5a9fdf7b-0ff8-4192-a8be-5e14d0508c62.html" target="element"> Systemintegrasjon </a> </td>
													    <td> <a href="../elements/5a9fdf7b-0ff8-4192-a8be-5e14d0508c62.html" target="element" class="i18n-elementtype-BusinessRole">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/de5369a0-02f3-4b46-95b3-50ae568039f9.html" target="element"> Push prosjektregister arbeidsflyt </a> </td>
															    <td> <a href="../elements/de5369a0-02f3-4b46-95b3-50ae568039f9.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/e0851489-0d83-45cb-a767-cbc9a3b02057.html" target="element"> Push prosjektregister oppdatering til eksternt API </a> </td>
											    <td> <a href="../elements/e0851489-0d83-45cb-a767-cbc9a3b02057.html" target="element" class="i18n-elementtype-ApplicationCollaboration">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/dfa9c80a-c04d-4246-972f-9128d3afd020.html" target="element"> Tidsbanken </a> </td>
											    <td> <a href="../elements/dfa9c80a-c04d-4246-972f-9128d3afd020.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1b756296-35fa-4295-b533-ee45d767f508.html" target="element"> Visma Business </a> </td>
											    <td> <a href="../elements/1b756296-35fa-4295-b533-ee45d767f508.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/da456048-b1ad-4233-ba92-4a01f0233a18.html" target="element"> Prosjektregister Visma Business </a> </td>
											    <td> <a href="../elements/da456048-b1ad-4233-ba92-4a01f0233a18.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/330ac691-c16c-424c-b786-ec5811997c0c.html" target="element"> Prosjektregister Tidsbanken </a> </td>
											    <td> <a href="../elements/330ac691-c16c-424c-b786-ec5811997c0c.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7945b608-e402-443a-94c6-17c3f10a4ed1.html" target="element"> API til Prosjektregister mapping </a> </td>
											    <td> <a href="../elements/7945b608-e402-443a-94c6-17c3f10a4ed1.html" target="element" class="i18n-elementtype-ApplicationFunction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/dd5a52e8-b809-4c5e-b3da-898114c9478e.html" target="element"> Microsoft PowerApps </a> </td>
											    <td> <a href="../elements/dd5a52e8-b809-4c5e-b3da-898114c9478e.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/b8e9ecb3-2180-42b3-b1d6-f4bed96ce5b5.html" target="element"> PowerApp </a> </td>
													    <td> <a href="../elements/b8e9ecb3-2180-42b3-b1d6-f4bed96ce5b5.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/71bbb94f-d713-4c6e-b759-c41f0a49e375.html" target="element"> Prosjektregister App </a> </td>
													    <td> <a href="../elements/71bbb94f-d713-4c6e-b759-c41f0a49e375.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/555c5a05-dcb1-443b-b418-19dcf9851f40.html" target="element"> IKT Administrator </a> </td>
											    <td> <a href="../elements/555c5a05-dcb1-443b-b418-19dcf9851f40.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9fb80fa8-b913-4d38-acc2-ed8804fd1dc8.html" target="element"> Prosjekteier / leder </a> </td>
											    <td> <a href="../elements/9fb80fa8-b913-4d38-acc2-ed8804fd1dc8.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ece34276-7017-4fae-a022-626855700d84.html" target="element"> Portef&#248;ljeforvalter </a> </td>
											    <td> <a href="../elements/ece34276-7017-4fae-a022-626855700d84.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4f69d726-2fb7-4cff-95eb-595f35c3ac15.html" target="element"> Lese </a> </td>
											    <td> <a href="../elements/4f69d726-2fb7-4cff-95eb-595f35c3ac15.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/d4343c30-edf9-4bed-84b8-efc79cd7d4db.html" target="element">  </a> </td>
																		<td> <a href="../elements/d4343c30-edf9-4bed-84b8-efc79cd7d4db.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/826f9fa1-0e39-40a8-bfa8-59705adf6d22.html" target="element"> Prosjektregister </a> </td>
																		<td> <a href="../elements/2aad86ed-e554-45d5-a37e-ab0fa66b9ea8.html" target="element"> Event Trigger Create / Update Events  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1f9cd36e-2fb1-415e-ad4c-09950b5a1f51.html" target="element">  </a> </td>
																		<td> <a href="../elements/1f9cd36e-2fb1-415e-ad4c-09950b5a1f51.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/826f9fa1-0e39-40a8-bfa8-59705adf6d22.html" target="element"> Prosjektregister </a> </td>
																		<td> <a href="../elements/0f39073d-36e8-41b2-bf4e-a9f0269e7ed7.html" target="element"> Prosjektregister Odata API </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/fe12e294-e200-45d5-ad02-c5c32cff58f9.html" target="element">  </a> </td>
																		<td> <a href="../elements/fe12e294-e200-45d5-ad02-c5c32cff58f9.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/826f9fa1-0e39-40a8-bfa8-59705adf6d22.html" target="element"> Prosjektregister </a> </td>
																		<td> <a href="../elements/f1aee4fc-1051-4cc1-81f0-c2300b0846f6.html" target="element"> Prosjektregister fil eksport </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/cc4abd25-88a7-40c2-8c7b-6bb3a5bfde96.html" target="element">  </a> </td>
																		<td> <a href="../elements/cc4abd25-88a7-40c2-8c7b-6bb3a5bfde96.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/826f9fa1-0e39-40a8-bfa8-59705adf6d22.html" target="element"> Prosjektregister </a> </td>
																		<td> <a href="../elements/71bbb94f-d713-4c6e-b759-c41f0a49e375.html" target="element"> Prosjektregister App </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/a465c2eb-de80-4910-945c-ed9abc042818.html" target="element">  </a> </td>
																				<td> <a href="../elements/a465c2eb-de80-4910-945c-ed9abc042818.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/2aad86ed-e554-45d5-a37e-ab0fa66b9ea8.html" target="element"> Event Trigger Create / Update Events  </a> </td>
																				<td> <a href="../elements/de5369a0-02f3-4b46-95b3-50ae568039f9.html" target="element"> Push prosjektregister arbeidsflyt </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/e9860d7a-06d1-4836-a784-84e4ba56a63f.html" target="element">  </a> </td>
																		<td> <a href="../elements/e9860d7a-06d1-4836-a784-84e4ba56a63f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/bf8c2e42-4907-45b7-ae08-fc5080fde102.html" target="element"> Visma </a> </td>
																		<td> <a href="../elements/848f81a4-4161-4ecc-9eb5-226d15763d04.html" target="element"> Arbeidsflyt </a> </td>
																	</tr>

																					<tr>
																						<td> <a href="../elements/42a697b2-d56c-4643-b4ba-f25d49f12193.html" target="element">  </a> </td>
																						<td> <a href="../elements/42a697b2-d56c-4643-b4ba-f25d49f12193.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																						</a> </td>
																						<td> <a href="../elements/de5369a0-02f3-4b46-95b3-50ae568039f9.html" target="element"> Push prosjektregister arbeidsflyt </a> </td>
																						<td> <a href="../elements/848f81a4-4161-4ecc-9eb5-226d15763d04.html" target="element"> Arbeidsflyt </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/25057b9c-1b37-4599-9f41-a30db6b62735.html" target="element">  </a> </td>
																						<td> <a href="../elements/25057b9c-1b37-4599-9f41-a30db6b62735.html" target="element" class="i18n-elementtype-FlowRelationship">
																						</a> </td>
																						<td> <a href="../elements/de5369a0-02f3-4b46-95b3-50ae568039f9.html" target="element"> Push prosjektregister arbeidsflyt </a> </td>
																						<td> <a href="../elements/e0851489-0d83-45cb-a767-cbc9a3b02057.html" target="element"> Push prosjektregister oppdatering til eksternt API </a> </td>
																					</tr>

													
											
																	<tr>
																		<td> <a href="../elements/6c609280-b080-4abd-bba3-f440e807f477.html" target="element">  </a> </td>
																		<td> <a href="../elements/6c609280-b080-4abd-bba3-f440e807f477.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/e0851489-0d83-45cb-a767-cbc9a3b02057.html" target="element"> Push prosjektregister oppdatering til eksternt API </a> </td>
																		<td> <a href="../elements/2d80f390-5ecf-426c-8045-1b63d0c04586.html" target="element"> https://api.tidsbanken.net/v2/prosjekter </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e05f1f3f-6d9f-4ed6-ad7c-4a80fdd7f70d.html" target="element">  </a> </td>
																		<td> <a href="../elements/e05f1f3f-6d9f-4ed6-ad7c-4a80fdd7f70d.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/e0851489-0d83-45cb-a767-cbc9a3b02057.html" target="element"> Push prosjektregister oppdatering til eksternt API </a> </td>
																		<td> <a href="../elements/0b3cfc72-01c6-4009-a9fa-863e758e04fb.html" target="element"> Visma Business REST API </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/64762055-74eb-4b9e-8275-c1731bc670a2.html" target="element">  </a> </td>
																		<td> <a href="../elements/64762055-74eb-4b9e-8275-c1731bc670a2.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/dfa9c80a-c04d-4246-972f-9128d3afd020.html" target="element"> Tidsbanken </a> </td>
																		<td> <a href="../elements/330ac691-c16c-424c-b786-ec5811997c0c.html" target="element"> Prosjektregister Tidsbanken </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3862f68f-fd57-4e41-83e1-3efe20f4ddbb.html" target="element">  </a> </td>
																		<td> <a href="../elements/3862f68f-fd57-4e41-83e1-3efe20f4ddbb.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/dfa9c80a-c04d-4246-972f-9128d3afd020.html" target="element"> Tidsbanken </a> </td>
																		<td> <a href="../elements/2d80f390-5ecf-426c-8045-1b63d0c04586.html" target="element"> https://api.tidsbanken.net/v2/prosjekter </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/f3b48f41-6120-4b2c-a33c-31efda0e38b3.html" target="element">  </a> </td>
																		<td> <a href="../elements/f3b48f41-6120-4b2c-a33c-31efda0e38b3.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/1b756296-35fa-4295-b533-ee45d767f508.html" target="element"> Visma Business </a> </td>
																		<td> <a href="../elements/0b3cfc72-01c6-4009-a9fa-863e758e04fb.html" target="element"> Visma Business REST API </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/01d06473-90e4-4061-9541-ef859a59cdd5.html" target="element">  </a> </td>
																		<td> <a href="../elements/01d06473-90e4-4061-9541-ef859a59cdd5.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/1b756296-35fa-4295-b533-ee45d767f508.html" target="element"> Visma Business </a> </td>
																		<td> <a href="../elements/7945b608-e402-443a-94c6-17c3f10a4ed1.html" target="element"> API til Prosjektregister mapping </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/484dc8d5-f518-4978-beea-d20b4af6ed41.html" target="element">  </a> </td>
																		<td> <a href="../elements/484dc8d5-f518-4978-beea-d20b4af6ed41.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/7945b608-e402-443a-94c6-17c3f10a4ed1.html" target="element"> API til Prosjektregister mapping </a> </td>
																		<td> <a href="../elements/da456048-b1ad-4233-ba92-4a01f0233a18.html" target="element"> Prosjektregister Visma Business </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/ee5b3532-285f-4ef7-b1de-860ab278923f.html" target="element">  </a> </td>
																		<td> <a href="../elements/ee5b3532-285f-4ef7-b1de-860ab278923f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/dd5a52e8-b809-4c5e-b3da-898114c9478e.html" target="element"> Microsoft PowerApps </a> </td>
																		<td> <a href="../elements/b8e9ecb3-2180-42b3-b1d6-f4bed96ce5b5.html" target="element"> PowerApp </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/18221038-2d72-409d-9830-58d0494f6d52.html" target="element">  </a> </td>
																				<td> <a href="../elements/18221038-2d72-409d-9830-58d0494f6d52.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/71bbb94f-d713-4c6e-b759-c41f0a49e375.html" target="element"> Prosjektregister App </a> </td>
																				<td> <a href="../elements/b8e9ecb3-2180-42b3-b1d6-f4bed96ce5b5.html" target="element"> PowerApp </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/32e8a789-34c4-493d-8868-1200f452d323.html" target="element">  </a> </td>
																				<td> <a href="../elements/32e8a789-34c4-493d-8868-1200f452d323.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/71bbb94f-d713-4c6e-b759-c41f0a49e375.html" target="element"> Prosjektregister App </a> </td>
																				<td> <a href="../elements/555c5a05-dcb1-443b-b418-19dcf9851f40.html" target="element"> IKT Administrator </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/dd7a5590-d462-4b90-b8ad-093618b1565a.html" target="element">  </a> </td>
																				<td> <a href="../elements/dd7a5590-d462-4b90-b8ad-093618b1565a.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/71bbb94f-d713-4c6e-b759-c41f0a49e375.html" target="element"> Prosjektregister App </a> </td>
																				<td> <a href="../elements/ece34276-7017-4fae-a022-626855700d84.html" target="element"> Portef&#248;ljeforvalter </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/65f4a897-15c5-4828-adeb-41b56639b057.html" target="element">  </a> </td>
																				<td> <a href="../elements/65f4a897-15c5-4828-adeb-41b56639b057.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/71bbb94f-d713-4c6e-b759-c41f0a49e375.html" target="element"> Prosjektregister App </a> </td>
																				<td> <a href="../elements/9fb80fa8-b913-4d38-acc2-ed8804fd1dc8.html" target="element"> Prosjekteier / leder </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/62588a94-cfd1-43b0-87ef-ba5b399f0faa.html" target="element">  </a> </td>
																				<td> <a href="../elements/62588a94-cfd1-43b0-87ef-ba5b399f0faa.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/71bbb94f-d713-4c6e-b759-c41f0a49e375.html" target="element"> Prosjektregister App </a> </td>
																				<td> <a href="../elements/4f69d726-2fb7-4cff-95eb-595f35c3ac15.html" target="element"> Lese </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>