<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>GNF</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>GNF</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/6f9afe44-bc5e-4959-8aca-3c06e944a373.png" alt="GNF" usemap="#6f9afe44-bc5e-4959-8aca-3c06e944a373map">
			<map name="6f9afe44-bc5e-4959-8aca-3c06e944a373map">
								<area shape="rect" coords="225,418,1198,473" href="../elements/54ace0f5-5653-4e8d-8fa5-05a4681f99ac.html"  target="element">
								<area shape="rect" coords="225,286,370,407" href="../elements/87088a05-5177-4d34-b079-3a5ad6c14f39.html"  target="element">
								<area shape="rect" coords="393,286,538,407" href="../elements/05e72e4d-0252-4c05-8c4d-d4cb1fea4927.html"  target="element">
								<area shape="rect" coords="885,286,1030,407" href="../elements/046c58f5-ad21-401e-84c6-ae1afdd89022.html"  target="element">
								<area shape="rect" coords="717,286,862,407" href="../elements/648c0e0b-5d69-4682-b6d5-753d2300f858.html"  target="element">
								<area shape="rect" coords="1053,286,1198,407" href="../elements/e48e3eec-3258-490c-8d21-f13b539db6cb.html"  target="element">
								<area shape="rect" coords="561,286,706,407" href="../elements/fceb02f8-8afb-41d5-8ea0-38a7ad1803b8.html"  target="element">

						<area shape="rect" coords="213,250,1210,491" href="../elements/689ec1c6-74b1-453b-8c2a-27a2f9675d1b.html"  target="element">
								<area shape="rect" coords="852,46,972,101" href="../elements/f7b4f229-026f-4216-bf03-6354b1153aaa.html"  target="element">
								<area shape="rect" coords="660,46,780,101" href="../elements/b4513cd5-01d5-4feb-9319-2f471d4d511f.html"  target="element">
								<area shape="rect" coords="465,46,585,101" href="../elements/df304e7a-cd04-465e-a684-b6026ac0aac3.html"  target="element">
								<area shape="rect" coords="440,118,609,215" href="../elements/4b8283d7-d498-4de7-a6ab-3ddc5650b158.html"  target="element">
								<area shape="rect" coords="621,118,790,215" href="../elements/a9a628f9-821e-43d3-830a-46a1a4e6c2bd.html"  target="element">
								<area shape="rect" coords="813,118,982,215" href="../elements/a30eb0f1-1bc9-4b55-85af-8ad22a3edf1d.html"  target="element">
								<area shape="rect" coords="249,118,418,215" href="../elements/9c431c73-36b1-4016-80c4-848be9022f86.html"  target="element">
								<area shape="rect" coords="1005,118,1174,215" href="../elements/d7c987a0-aebc-4e17-b593-e9323924a9a2.html"  target="element">

						<area shape="rect" coords="213,10,1210,239" href="../elements/5b8e6116-9940-4935-a0d5-b0240141900c.html"  target="element">
								<area shape="rect" coords="645,550,765,623" href="../elements/4b057294-aa0c-42a2-95c2-63a7e3375cb5.html"  target="element">
								<area shape="rect" coords="813,550,933,623" href="../elements/fef41970-557b-45af-bd2b-8b8824d3604b.html"  target="element">
								<area shape="rect" coords="477,550,597,623" href="../elements/0730d278-29bf-4f3b-8902-a32255474403.html"  target="element">

						<area shape="rect" coords="213,502,1210,635" href="../elements/ef96395f-d4a5-417b-8e82-be58563fd4bd.html"  target="element">
										<area shape="rect" coords="1041,838,1161,893" href="../elements/4b6b58bb-3f45-44dc-ac71-fed60a4f1ac1.html"  target="element">
										<area shape="rect" coords="1041,910,1161,965" href="../elements/95dabe0b-eef0-4570-90e3-40f760995986.html"  target="element">
										<area shape="rect" coords="1041,982,1161,1037" href="../elements/9427f0f9-8870-4f29-9ca5-10239700dbd9.html"  target="element">

								<area shape="rect" coords="1041,802,1161,1079" href="../elements/2bb9056c-0db3-4a5c-831d-29a965b7ff74.html"  target="element">
										<area shape="rect" coords="645,838,765,893" href="../elements/df01c519-cc20-45dd-8cac-eb10487acb6f.html"  target="element">
										<area shape="rect" coords="645,910,765,965" href="../elements/51347c69-77fa-4e71-8de5-af862cfe8458.html"  target="element">
										<area shape="rect" coords="645,982,765,1037" href="../elements/e879636e-9bd1-452a-bee5-0d91e5a2401d.html"  target="element">

								<area shape="rect" coords="645,802,765,1079" href="../elements/f5db9178-4bf2-469a-8a89-c70da7b4be35.html"  target="element">
										<area shape="rect" coords="261,838,381,893" href="../elements/1e0c5824-64a6-40b3-9ba5-6169ac6291d7.html"  target="element">
										<area shape="rect" coords="261,910,381,965" href="../elements/be6e4df8-cfcd-41ef-a8cb-ebce22b12572.html"  target="element">
										<area shape="rect" coords="261,982,381,1037" href="../elements/f868040d-7448-4286-b40e-a57e6e0f0613.html"  target="element">

								<area shape="rect" coords="261,802,381,1079" href="../elements/0752d850-b979-46e4-a876-48a02f9970d1.html"  target="element">
										<area shape="rect" coords="441,874,561,929" href="../elements/9bf54a25-df34-44f4-992f-53c105bf3abb.html"  target="element">

								<area shape="rect" coords="441,802,561,929" href="../elements/64f2b555-6afe-447c-8eda-84ca9c4be28c.html"  target="element">
								<area shape="rect" coords="861,802,981,923" href="../elements/01a439d3-ba00-4160-ae10-d87eb4f29c48.html"  target="element">

						<area shape="rect" coords="213,766,1210,1115" href="../elements/ea5b90f8-dd25-413c-8ebc-02aec41558ab.html"  target="element">
								<area shape="rect" coords="57,1294,177,1349" href="../elements/d078ddce-a06a-427d-926d-3ffe4f0fccf3.html"  target="element">
								<area shape="rect" coords="57,574,177,629" href="../elements/8beddd14-b071-43c8-80b6-934dcb502ea9.html"  target="element">
								<area shape="rect" coords="57,70,177,125" href="../elements/7c311442-2105-4689-b5e7-3303bbbf9cd0.html"  target="element">
								<area shape="rect" coords="57,214,177,269" href="../elements/82e944b3-d63c-4a68-ad13-81c72826b4fb.html"  target="element">
								<area shape="rect" coords="56,946,176,1001" href="../elements/16f9b7f6-de22-4631-8d58-412e8f20bd24.html"  target="element">
								<area shape="rect" coords="69,1786,189,1841" href="../elements/59f3d9d5-bdc1-457b-a56a-d1c6f58e854e.html"  target="element">
								<area shape="rect" coords="57,670,177,725" href="../elements/6bf1229f-3559-4444-9d12-b199ad7793a1.html"  target="element">
								<area shape="rect" coords="57,1210,177,1265" href="../elements/03bb25c3-b67e-41bb-9ae7-958a4485c99a.html"  target="element">
								<area shape="rect" coords="56,862,176,917" href="../elements/1b6bf981-9345-4c5e-8d56-fffca3572457.html"  target="element">
								<area shape="rect" coords="57,418,177,473" href="../elements/f1dcb9e7-dd42-4396-b4bc-c333346093ad.html"  target="element">
								<area shape="rect" coords="69,1714,189,1769" href="../elements/c9fe1205-8731-412a-978e-54d15f437870.html"  target="element">
								<area shape="rect" coords="57,502,177,557" href="../elements/410f52d0-bfe7-45d9-90f0-07dea6c9c576.html"  target="element">
								<area shape="rect" coords="57,310,177,365" href="../elements/5f2eb848-c9fe-4b24-99cc-1b1d57ac17ec.html"  target="element">

						<area shape="rect" coords="45,10,202,1918" href="../elements/c6df8ceb-7d97-4adb-98cd-6c3861c1bd68.html"  target="element">
								<area shape="rect" coords="1006,682,1126,737" href="../elements/eae1a26c-7f42-44a7-b41f-2421f121ab18.html"  target="element">
								<area shape="rect" coords="646,682,766,737" href="../elements/009a6707-0465-48e9-a7de-7aa64c61ca75.html"  target="element">

						<area shape="rect" coords="214,646,1210,747" href="../elements/0fb7d777-dfa1-421f-96dc-321c8a0bc32a.html"  target="element">
										<area shape="rect" coords="309,1774,429,1829" href="../elements/32dbd8d3-16ac-45f4-965f-5b023095c6d6.html"  target="element">
										<area shape="rect" coords="465,1774,585,1829" href="../elements/9dac9aa9-9fec-4982-8f42-5ec2f9a25a27.html"  target="element">

								<area shape="rect" coords="261,1738,1161,1907" href="../elements/63eb793c-9b36-497c-9565-9492e41e0b36.html"  target="element">

						<area shape="rect" coords="213,1702,1209,1918" href="../elements/ecf7eefe-33f7-4221-a24b-30eca5a45fe6.html"  target="element">
												<area shape="rect" coords="308,1594,428,1649" href="../elements/9cb0ddf0-b68f-4355-8d89-d38e449b029b.html"  target="element">
												<area shape="rect" coords="1004,1594,1124,1649" href="../elements/7ce5def1-59ea-4df7-8d5b-24e2e4bd9100.html"  target="element">

										<area shape="rect" coords="284,1582,1137,1655" href="../elements/3f9efe50-ab00-48e6-8947-0fbb6d656880.html"  target="element">
												<area shape="rect" coords="824,1402,944,1457" href="../elements/4dd89230-adb1-4c0b-a425-770f80c98542.html"  target="element">

										<area shape="rect" coords="824,1354,944,1571" href="../elements/eaaa8db8-03ea-4fdd-8adb-2958c5f765a1.html"  target="element">
												<area shape="rect" coords="470,1402,590,1457" href="../elements/28414431-6b12-4331-840e-d5d85b1ec9d3.html"  target="element">
												<area shape="rect" coords="470,1474,590,1529" href="../elements/08e78979-d261-4509-a6cd-a6b85c2adc63.html"  target="element">
												<area shape="rect" coords="614,1402,734,1457" href="../elements/b85cf117-de0f-4b17-9a94-70467a36f5f6.html"  target="element">

										<area shape="rect" coords="470,1354,747,1571" href="../elements/70106e93-35a2-425c-bb73-9787faee5f2e.html"  target="element">
												<area shape="rect" coords="824,1270,944,1325" href="../elements/25ab2107-1a00-4434-8e99-b7bdf649e168.html"  target="element">
												<area shape="rect" coords="980,1270,1100,1325" href="../elements/73158b87-6696-4119-ab21-a5447bb3d2c1.html"  target="element">
												<area shape="rect" coords="308,1270,428,1325" href="../elements/d4964be1-04db-4e9b-a60a-b952d89c79a0.html"  target="element">
												<area shape="rect" coords="476,1270,596,1325" href="../elements/6f07d813-1205-453b-b7e1-422f08745e69.html"  target="element">
												<area shape="rect" coords="644,1270,764,1325" href="../elements/64d80854-9c27-483e-a87b-88bd3eb5be1d.html"  target="element">

										<area shape="rect" coords="284,1222,1137,1343" href="../elements/6eb5a413-e8bd-494b-8f15-010485d93483.html"  target="element">
												<area shape="rect" coords="284,1402,404,1457" href="../elements/ed4d42e0-f0ac-46a6-860f-03d5f96fe0b5.html"  target="element">
												<area shape="rect" coords="284,1474,404,1529" href="../elements/89e5d708-8d29-469f-a84f-240a99877333.html"  target="element">

										<area shape="rect" coords="284,1354,404,1571" href="../elements/8a4e2755-db94-488a-9d8c-1673a311fba6.html"  target="element">
												<area shape="rect" coords="1017,1402,1137,1457" href="../elements/751d54e7-0f11-410c-99a4-f49d12b4fdc9.html"  target="element">

										<area shape="rect" coords="1017,1354,1137,1571" href="../elements/d47f0e91-e6ea-4dc6-bd75-4d0a16f28b59.html"  target="element">

								<area shape="rect" coords="260,1186,1161,1667" href="../elements/156c59e3-da64-4ad9-8ea5-e57e05f91b92.html"  target="element">

						<area shape="rect" coords="212,1150,1208,1691" href="../elements/8a9cafa4-ef77-4498-bbea-34a7df28e573.html"  target="element">
								<area shape="rect" coords="1233,1018,1353,1073" href="../elements/f1f3c48e-1c7a-4c0d-b108-0d44d771bdfd.html"  target="element">
								<area shape="rect" coords="1245,298,1365,353" href="../elements/903d36da-ccd2-4a65-b965-5d5ca9cb1d15.html"  target="element">
								<area shape="rect" coords="1245,178,1365,233" href="../elements/351257ac-32c8-4609-a6eb-6ef3a6374d32.html"  target="element">

						<area shape="rect" coords="1221,22,1377,1923" href="../elements/37d1818b-d094-4891-8b08-dda981c95e1a.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
					<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="elements">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
								</tr>
							</thead>
							<tbody>
										<tr><td> <a href="../elements/689ec1c6-74b1-453b-8c2a-27a2f9675d1b.html" target="element"> Grunnleggende nasjonale funksjoner </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
												<tr><td> <a href="../elements/54ace0f5-5653-4e8d-8fa5-05a4681f99ac.html" target="element"> Spesialisthelsetjenesten </a> </td><td class="i18n-elementtype-Stakeholder"></td></tr>
												<tr><td> <a href="../elements/87088a05-5177-4d34-b079-3a5ad6c14f39.html" target="element"> Fremme folkehelsen og &#229; motvirke sykdom, skade, lidelse og funksjonshemning </a> </td><td class="i18n-elementtype-Outcome"></td></tr>
												<tr><td> <a href="../elements/05e72e4d-0252-4c05-8c4d-d4cb1fea4927.html" target="element"> Bidra til &#229; sikre tjenestetilbudets kvalitet </a> </td><td class="i18n-elementtype-Outcome"></td></tr>
												<tr><td> <a href="../elements/046c58f5-ad21-401e-84c6-ae1afdd89022.html" target="element"> Bidra til at tjenestetilbudet blir tilpasset pasientenes behov </a> </td><td class="i18n-elementtype-Outcome"></td></tr>
												<tr><td> <a href="../elements/648c0e0b-5d69-4682-b6d5-753d2300f858.html" target="element"> Bidra til at ressursene utnyttes best mulig </a> </td><td class="i18n-elementtype-Outcome"></td></tr>
												<tr><td> <a href="../elements/e48e3eec-3258-490c-8d21-f13b539db6cb.html" target="element"> Bidra til at tjenestetilbudet blir tilgjengelig for pasientene </a> </td><td class="i18n-elementtype-Outcome"></td></tr>
												<tr><td> <a href="../elements/fceb02f8-8afb-41d5-8ea0-38a7ad1803b8.html" target="element"> Bidra til et likeverdig tjenestetilbud </a> </td><td class="i18n-elementtype-Outcome"></td></tr>
										
										<tr><td> <a href="../elements/5b8e6116-9940-4935-a0d5-b0240141900c.html" target="element"> Nasjonale sikkerhetinteresser </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
												<tr><td> <a href="../elements/f7b4f229-026f-4216-bf03-6354b1153aaa.html" target="element"> DEMOKRATISK STYREFORM  </a> </td><td class="i18n-elementtype-Meaning"></td></tr>
												<tr><td> <a href="../elements/b4513cd5-01d5-4feb-9319-2f471d4d511f.html" target="element"> TERRITORIELL INTEGRITET </a> </td><td class="i18n-elementtype-Meaning"></td></tr>
												<tr><td> <a href="../elements/df304e7a-cd04-465e-a684-b6026ac0aac3.html" target="element"> SUVERENITET </a> </td><td class="i18n-elementtype-Meaning"></td></tr>
												<tr><td> <a href="../elements/4b8283d7-d498-4de7-a6ab-3ddc5650b158.html" target="element"> Forsvar, sikkerhet og beredskap  </a> </td><td class="i18n-elementtype-Value"></td></tr>
												<tr><td> <a href="../elements/a9a628f9-821e-43d3-830a-46a1a4e6c2bd.html" target="element"> Forholdet til andre stater og internasjonale organisasjoner </a> </td><td class="i18n-elementtype-Value"></td></tr>
												<tr><td> <a href="../elements/a30eb0f1-1bc9-4b55-85af-8ad22a3edf1d.html" target="element"> &#216;konomisk stabilitet og handlefrihet  </a> </td><td class="i18n-elementtype-Value"></td></tr>
												<tr><td> <a href="../elements/9c431c73-36b1-4016-80c4-848be9022f86.html" target="element"> De &#248;verste statsorganers virksomhet, sikkerhet og handlefrihet  </a> </td><td class="i18n-elementtype-Value"></td></tr>
												<tr><td> <a href="../elements/d7c987a0-aebc-4e17-b593-e9323924a9a2.html" target="element"> Samfunnets grunnleggende funksjonalitet og befolkningens grunnleggende sikkerhet  </a> </td><td class="i18n-elementtype-Value"></td></tr>
										
										<tr><td> <a href="../elements/ef96395f-d4a5-417b-8e82-be58563fd4bd.html" target="element"> Underfunksjoner niv&#229; 1 </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
												<tr><td> <a href="../elements/4b057294-aa0c-42a2-95c2-63a7e3375cb5.html" target="element"> S&#248;rge for tilgang p&#229; legemidler </a> </td><td class="i18n-elementtype-Capability"></td></tr>
												<tr><td> <a href="../elements/fef41970-557b-45af-bd2b-8b8824d3604b.html" target="element"> S&#248;rge for tilgang p&#229; medisinteknisk utstyr </a> </td><td class="i18n-elementtype-Capability"></td></tr>
												<tr><td> <a href="../elements/0730d278-29bf-4f3b-8902-a32255474403.html" target="element"> S&#248;rge for tilgang p&#229; medisinske forbruksvarer </a> </td><td class="i18n-elementtype-Capability"></td></tr>
										
										<tr><td> <a href="../elements/ea5b90f8-dd25-413c-8ebc-02aec41558ab.html" target="element"> Virksomhet </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
												<tr><td> <a href="../elements/2bb9056c-0db3-4a5c-831d-29a965b7ff74.html" target="element"> Anskaffelse </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
														<tr><td> <a href="../elements/4b6b58bb-3f45-44dc-ac71-fed60a4f1ac1.html" target="element"> Utarbeide konkurransegrunnlag </a> </td><td class="i18n-elementtype-Capability"></td></tr>
														<tr><td> <a href="../elements/95dabe0b-eef0-4570-90e3-40f760995986.html" target="element"> Gjennomf&#248;re konkurranse </a> </td><td class="i18n-elementtype-Capability"></td></tr>
														<tr><td> <a href="../elements/9427f0f9-8870-4f29-9ca5-10239700dbd9.html" target="element"> Utarbeide kontrakter </a> </td><td class="i18n-elementtype-Capability"></td></tr>
												
												<tr><td> <a href="../elements/f5db9178-4bf2-469a-8a89-c70da7b4be35.html" target="element"> Portef&#248;ljestyring </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
														<tr><td> <a href="../elements/df01c519-cc20-45dd-8cac-eb10487acb6f.html" target="element"> F&#248;lge opp inng&#229;tte kontrakter </a> </td><td class="i18n-elementtype-Capability"></td></tr>
														<tr><td> <a href="../elements/51347c69-77fa-4e71-8de5-af862cfe8458.html" target="element"> Planlegge anskaffelser </a> </td><td class="i18n-elementtype-Capability"></td></tr>
														<tr><td> <a href="../elements/e879636e-9bd1-452a-bee5-0d91e5a2401d.html" target="element"> Utarbeide kategoristrategi </a> </td><td class="i18n-elementtype-Capability"></td></tr>
												
												<tr><td> <a href="../elements/0752d850-b979-46e4-a876-48a02f9970d1.html" target="element"> Analyse </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
														<tr><td> <a href="../elements/1e0c5824-64a6-40b3-9ba5-6169ac6291d7.html" target="element"> Gjennomf&#248;re behovsanalyse </a> </td><td class="i18n-elementtype-Capability"></td></tr>
														<tr><td> <a href="../elements/be6e4df8-cfcd-41ef-a8cb-ebce22b12572.html" target="element"> Utarbeide markedsanalyser </a> </td><td class="i18n-elementtype-Capability"></td></tr>
														<tr><td> <a href="../elements/f868040d-7448-4286-b40e-a57e6e0f0613.html" target="element"> Utf&#248;re forbruksanalyser </a> </td><td class="i18n-elementtype-Capability"></td></tr>
												
												<tr><td> <a href="../elements/64f2b555-6afe-447c-8eda-84ca9c4be28c.html" target="element"> Deltagelse i Nasjonalt nettverk for innkj&#248;p (NNI)  </a> </td><td class="i18n-elementtype-BusinessCollaboration"></td></tr>
														<tr><td> <a href="../elements/9bf54a25-df34-44f4-992f-53c105bf3abb.html" target="element"> Realisere gevinst </a> </td><td class="i18n-elementtype-Capability"></td></tr>
												
												<tr><td> <a href="../elements/01a439d3-ba00-4160-ae10-d87eb4f29c48.html" target="element"> Deltagelse i ulike lokale og regionale prosjekter/ utvalg der Sykehusinnkj&#248;p sitter p&#229; relevant kompetanse </a> </td><td class="i18n-elementtype-BusinessCollaboration"></td></tr>
										
										<tr><td> <a href="../elements/c6df8ceb-7d97-4adb-98cd-6c3861c1bd68.html" target="element"> Regelverk </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
												<tr><td> <a href="../elements/d078ddce-a06a-427d-926d-3ffe4f0fccf3.html" target="element"> Lov om sikkerhet i nettverk og informasjonssystemer </a> </td><td class="i18n-elementtype-Constraint"></td></tr>
												<tr><td> <a href="../elements/8beddd14-b071-43c8-80b6-934dcb502ea9.html" target="element"> Lov om helseforetak m.m. </a> </td><td class="i18n-elementtype-Constraint"></td></tr>
												<tr><td> <a href="../elements/7c311442-2105-4689-b5e7-3303bbbf9cd0.html" target="element"> Kongeriket Noregs grunnlov </a> </td><td class="i18n-elementtype-Constraint"></td></tr>
												<tr><td> <a href="../elements/82e944b3-d63c-4a68-ad13-81c72826b4fb.html" target="element"> Lov om nasjonal sikkerhet </a> </td><td class="i18n-elementtype-Constraint"></td></tr>
												<tr><td> <a href="../elements/16f9b7f6-de22-4631-8d58-412e8f20bd24.html" target="element"> Lov om arkiv </a> </td><td class="i18n-elementtype-Constraint"></td></tr>
												<tr><td> <a href="../elements/59f3d9d5-bdc1-457b-a56a-d1c6f58e854e.html" target="element"> Lov om arbeidsmilj&#248;, arbeidstid og stillingsvern mv.  </a> </td><td class="i18n-elementtype-Constraint"></td></tr>
												<tr><td> <a href="../elements/6bf1229f-3559-4444-9d12-b199ad7793a1.html" target="element"> Lov om offentlige anskaffelser </a> </td><td class="i18n-elementtype-Constraint"></td></tr>
												<tr><td> <a href="../elements/03bb25c3-b67e-41bb-9ae7-958a4485c99a.html" target="element"> Lov om bokf&#248;ring </a> </td><td class="i18n-elementtype-Constraint"></td></tr>
												<tr><td> <a href="../elements/1b6bf981-9345-4c5e-8d56-fffca3572457.html" target="element"> Lov om rett til innsyn i dokument i offentleg verksemd </a> </td><td class="i18n-elementtype-Constraint"></td></tr>
												<tr><td> <a href="../elements/f1dcb9e7-dd42-4396-b4bc-c333346093ad.html" target="element"> Lov om spesialisthelsetjenesten m.m. </a> </td><td class="i18n-elementtype-Constraint"></td></tr>
												<tr><td> <a href="../elements/c9fe1205-8731-412a-978e-54d15f437870.html" target="element"> Lov om behandling av personopplysninger </a> </td><td class="i18n-elementtype-Constraint"></td></tr>
												<tr><td> <a href="../elements/410f52d0-bfe7-45d9-90f0-07dea6c9c576.html" target="element"> Lov om nye metoder </a> </td><td class="i18n-elementtype-Constraint"></td></tr>
												<tr><td> <a href="../elements/5f2eb848-c9fe-4b24-99cc-1b1d57ac17ec.html" target="element"> Lov om helsemessig og sosial beredskap </a> </td><td class="i18n-elementtype-Constraint"></td></tr>
										
										<tr><td> <a href="../elements/0fb7d777-dfa1-421f-96dc-321c8a0bc32a.html" target="element"> Underfunksjoner niv&#229; 2 </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
												<tr><td> <a href="../elements/eae1a26c-7f42-44a7-b41f-2421f121ab18.html" target="element"> Gjennomf&#248;re anskaffelser </a> </td><td class="i18n-elementtype-Capability"></td></tr>
												<tr><td> <a href="../elements/009a6707-0465-48e9-a7de-7aa64c61ca75.html" target="element"> Forvalte varekataloger </a> </td><td class="i18n-elementtype-Capability"></td></tr>
										
										<tr><td> <a href="../elements/ecf7eefe-33f7-4221-a24b-30eca5a45fe6.html" target="element"> Organisasjon </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
												<tr><td> <a href="../elements/63eb793c-9b36-497c-9565-9492e41e0b36.html" target="element"> Avdelinger </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
														<tr><td> <a href="../elements/32dbd8d3-16ac-45f4-965f-5b023095c6d6.html" target="element"> Ressurser </a> </td><td class="i18n-elementtype-Resource"></td></tr>
														<tr><td> <a href="../elements/9dac9aa9-9fec-4982-8f42-5ec2f9a25a27.html" target="element"> Business Role </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
												
										
										<tr><td> <a href="../elements/8a9cafa4-ef77-4498-bbea-34a7df28e573.html" target="element"> Foretak </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
												<tr><td> <a href="../elements/156c59e3-da64-4ad9-8ea5-e57e05f91b92.html" target="element"> Fellesfunksjoner </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
														<tr><td> <a href="../elements/3f9efe50-ab00-48e6-8947-0fbb6d656880.html" target="element"> IKT Tjenestestyring </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
																<tr><td> <a href="../elements/9cb0ddf0-b68f-4355-8d89-d38e449b029b.html" target="element"> Informasjonsforvaltning </a> </td><td class="i18n-elementtype-Capability"></td></tr>
																<tr><td> <a href="../elements/7ce5def1-59ea-4df7-8d5b-24e2e4bd9100.html" target="element"> Teknologiforvaltning </a> </td><td class="i18n-elementtype-Capability"></td></tr>
														
														<tr><td> <a href="../elements/eaaa8db8-03ea-4fdd-8adb-2958c5f765a1.html" target="element"> Kommunikasjon </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
																<tr><td> <a href="../elements/4dd89230-adb1-4c0b-a425-770f80c98542.html" target="element"> Styre intern nyhets-formidling og ekstern mediekontakt </a> </td><td class="i18n-elementtype-Capability"></td></tr>
														
														<tr><td> <a href="../elements/70106e93-35a2-425c-bb73-9787faee5f2e.html" target="element"> HR </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
																<tr><td> <a href="../elements/28414431-6b12-4331-840e-d5d85b1ec9d3.html" target="element"> Unng&#229; og begrense ulykker og skader p&#229; mennesker, milj&#248; og eiendeler, samt ivareta medarbeideres helse og velferd. </a> </td><td class="i18n-elementtype-Capability"></td></tr>
																<tr><td> <a href="../elements/08e78979-d261-4509-a6cd-a6b85c2adc63.html" target="element"> Rekruttere, sikre kompetanse, f&#248;lge opp, evaluere og bel&#248;nne medarbeidere, bygge organisasjonskultur, samt f&#248;re tilsyn over organisatorisk ledelse og sikre etterlevelse av lover og regler for arbeidsgivere og arbeidstakere. </a> </td><td class="i18n-elementtype-Capability"></td></tr>
																<tr><td> <a href="../elements/b85cf117-de0f-4b17-9a94-70467a36f5f6.html" target="element"> Samle, dele og effektivt ta i bruk kunnskap. Inkludert i dette er en flerfaglig tiln&#230;rming for &#229; oppn&#229; organisatoriske m&#229;l ved best mulig bruk av den samlede kunnskapen i organisasjonen. </a> </td><td class="i18n-elementtype-Capability"></td></tr>
														
														<tr><td> <a href="../elements/6eb5a413-e8bd-494b-8f15-010485d93483.html" target="element"> Foretaksstyring </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
																<tr><td> <a href="../elements/25ab2107-1a00-4434-8e99-b7bdf649e168.html" target="element"> H&#229;ndtere mekanismer, prosesser og relasjoner som kontrollerer og gir retning til virksomheten. </a> </td><td class="i18n-elementtype-Capability"></td></tr>
																<tr><td> <a href="../elements/73158b87-6696-4119-ab21-a5447bb3d2c1.html" target="element"> Systematisk kvalitetsforbedring og f&#230;rre u&#248;nskede hendelser. </a> </td><td class="i18n-elementtype-Capability"></td></tr>
																<tr><td> <a href="../elements/d4964be1-04db-4e9b-a60a-b952d89c79a0.html" target="element"> Opprette beredskapsplaner og respondere p&#229; akutte hendelser. </a> </td><td class="i18n-elementtype-Capability"></td></tr>
																<tr><td> <a href="../elements/6f07d813-1205-453b-b7e1-422f08745e69.html" target="element"> Samhandle p&#229; tvers av virksomheter samt samhandling generelt med akt&#248;rer utenfor sektoren. Samhandlingen kan foreg&#229; manuelt eller med systemst&#248;tte. </a> </td><td class="i18n-elementtype-Capability"></td></tr>
																<tr><td> <a href="../elements/64d80854-9c27-483e-a87b-88bd3eb5be1d.html" target="element"> Utvikle virksomheten slik det er fastsett i lover og forskrifter, og detaljert i oppdragsdokument og proposisjoner. </a> </td><td class="i18n-elementtype-Capability"></td></tr>
														
														<tr><td> <a href="../elements/8a4e2755-db94-488a-9d8c-1673a311fba6.html" target="element"> &#216;konomi og regnskap </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
																<tr><td> <a href="../elements/ed4d42e0-f0ac-46a6-860f-03d5f96fe0b5.html" target="element"> Registrere og postere transaksjoner, h&#229;ndtere kunde- og leverand&#248;rreskontro, h&#229;ndtere fullstendig avgiftsregnskap, avslutte regnskapsperioder og konsolidere regnskap. </a> </td><td class="i18n-elementtype-Capability"></td></tr>
																<tr><td> <a href="../elements/89e5d708-8d29-469f-a84f-240a99877333.html" target="element"> H&#229;ndtere &#248;konomiske beslutninger gjennom forvaltning av kapital og styring av regnskap og &#248;konomisk rapportering. </a> </td><td class="i18n-elementtype-Capability"></td></tr>
														
														<tr><td> <a href="../elements/d47f0e91-e6ea-4dc6-bd75-4d0a16f28b59.html" target="element"> Forretningsutvikling </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
																<tr><td> <a href="../elements/751d54e7-0f11-410c-99a4-f49d12b4fdc9.html" target="element"> H&#229;ndtere interessenter og omd&#248;mmebygging til n&#229;v&#230;rende og fremtidig nytte. </a> </td><td class="i18n-elementtype-Capability"></td></tr>
														
												
										
										<tr><td> <a href="../elements/37d1818b-d094-4891-8b08-dda981c95e1a.html" target="element"> Akt&#248;rer </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
												<tr><td> <a href="../elements/f1f3c48e-1c7a-4c0d-b108-0d44d771bdfd.html" target="element"> Sykehusinnkj&#248;p HF </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
												<tr><td> <a href="../elements/903d36da-ccd2-4a65-b965-5d5ca9cb1d15.html" target="element"> Regionale og lokale helseforetak </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
												<tr><td> <a href="../elements/351257ac-32c8-4609-a6eb-6ef3a6374d32.html" target="element"> Helsedirektoratet </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
										

							</tbody>
						</table>
					</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>