<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Plattform</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Plattform</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/73a8bc5e-7762-4f79-bd75-bbdee664cfae.png" alt="Plattform" usemap="#73a8bc5e-7762-4f79-bd75-bbdee664cfaemap">
			<map name="73a8bc5e-7762-4f79-bd75-bbdee664cfaemap">
								<area shape="rect" coords="214,668,334,723" href="../elements/9ad0e357-57f6-49b5-bc36-0acb07038511.html"  target="element">
								<area shape="rect" coords="358,788,478,843" href="../elements/59fa9e12-a677-41c4-8090-6b640fb68525.html"  target="element">
								<area shape="rect" coords="358,668,478,723" href="../elements/cd21c85d-3f2f-4e87-a0b4-47ee1f4a3193.html"  target="element">
								<area shape="rect" coords="214,728,334,783" href="../elements/d3e3a6fd-eb6f-457e-a171-efebf30f69a9.html"  target="element">
								<area shape="rect" coords="358,728,478,783" href="../elements/888e05f2-7cad-4775-834e-1cd73f67d98a.html"  target="element">
								<area shape="rect" coords="214,788,334,843" href="../elements/d572ba61-dbab-42ba-b8cd-e801d42113f6.html"  target="element">

						<area shape="rect" coords="202,632,490,905" href="../elements/23493387-08ac-4671-a939-7ddf1f829ddc.html"  target="element">
								<area shape="rect" coords="287,502,407,557" href="../elements/e66a9505-c408-428e-bdf6-e317da335218.html"  target="element">

						<area shape="rect" coords="215,478,861,580" href="../elements/9a9aebf9-6750-434c-9f65-ed339e70f273.html"  target="element">
								<area shape="rect" coords="719,154,852,259" href="../elements/6a68aa91-1468-4175-95c3-3b8f68bcdb76.html"  target="element">
								<area shape="rect" coords="407,274,540,379" href="../elements/94590c28-556f-43c2-86f5-e97b0837a855.html"  target="element">
								<area shape="rect" coords="875,274,1008,379" href="../elements/c7f39065-af54-448f-9778-0726b571ac0f.html"  target="element">
								<area shape="rect" coords="563,274,696,379" href="../elements/8895f29b-7594-4766-8eb5-b3de8b2f8143.html"  target="element">
								<area shape="rect" coords="563,154,696,259" href="../elements/64ba8894-84ff-4cec-9b25-2bd0056a564a.html"  target="element">
								<area shape="rect" coords="407,154,540,259" href="../elements/69d5d10e-fd89-4b9c-8a2e-1b22ad98827d.html"  target="element">
								<area shape="rect" coords="875,154,1008,259" href="../elements/3de5a43d-e27f-4d72-954b-5383f14fcd32.html"  target="element">
								<area shape="rect" coords="251,274,384,379" href="../elements/c6412884-3d8b-40c1-82e9-6dbd1cbd172c.html"  target="element">
								<area shape="rect" coords="719,274,852,379" href="../elements/ee97497a-5132-4269-8805-4d2109e451b3.html"  target="element">
								<area shape="rect" coords="251,154,384,259" href="../elements/c4f7a5bc-a5bf-40d7-b8bf-98f4f74f7253.html"  target="element">
								<area shape="rect" coords="1019,154,1152,259" href="../elements/cc34c824-9e8f-46fb-9018-40350f6dbb3b.html"  target="element">
								<area shape="rect" coords="1019,274,1152,379" href="../elements/349b3894-697e-4687-9669-cdde12b324e3.html"  target="element">

						<area shape="rect" coords="215,106,1176,419" href="../elements/f7b4c3ae-c403-4ac8-af54-6d272b9096f8.html"  target="element">
								<area shape="rect" coords="525,728,645,783" href="../elements/e1266ab2-5809-44ad-a653-558267432308.html"  target="element">
								<area shape="rect" coords="525,788,645,843" href="../elements/177c523c-b64c-4cf2-9950-3d288476d238.html"  target="element">
								<area shape="rect" coords="525,668,645,723" href="../elements/5b704c78-282b-4e6c-aa6a-1ab91e441140.html"  target="element">

						<area shape="rect" coords="513,632,660,1102" href="../elements/356fcac1-ab19-4d68-85b8-7230ec818a56.html"  target="element">
						<area shape="rect" coords="659,10,779,65" href="../elements/91fd1973-684a-4fc1-9718-d385b6f54a95.html"  target="element">
										<area shape="rect" coords="1247,274,1367,329" href="../elements/c1230933-88f1-48c8-80a7-60a56bd9d40b.html"  target="element">
										<area shape="rect" coords="1247,346,1367,401" href="../elements/b1ecab9a-852a-4354-ba30-013facfeac6e.html"  target="element">
										<area shape="rect" coords="1379,274,1499,329" href="../elements/68954305-c4b0-4846-87f9-9619c21c6ac6.html"  target="element">
										<area shape="rect" coords="1379,346,1499,401" href="../elements/207b7adc-ef90-44a7-8021-d75156b9370c.html"  target="element">
										<area shape="rect" coords="1247,418,1367,473" href="../elements/60b6e7bc-9baa-4693-bae5-c7e6e06abdcf.html"  target="element">
										<area shape="rect" coords="1379,418,1499,473" href="../elements/746f3980-c6e9-44ab-9eb2-924946a01cef.html"  target="element">

								<area shape="rect" coords="1223,238,1524,479" href="../elements/fbba9249-2cd6-4aec-9cc6-7d5e2df6a96a.html"  target="element">
								<area shape="rect" coords="1379,166,1499,221" href="../elements/b04cd7a7-9d7a-4a62-9e93-253df39b6eb5.html"  target="element">
								<area shape="rect" coords="1247,166,1367,221" href="../elements/6692ae8a-964c-4334-8161-b99afe8f6c5e.html"  target="element">

						<area shape="rect" coords="1211,106,1654,502" href="../elements/336af40b-a943-4094-8448-dc3c616adf79.html"  target="element">
						<area shape="rect" coords="347,10,467,65" href="../elements/b7892458-cdb4-45af-be7f-3737b3529371.html"  target="element">
						<area shape="rect" coords="478,10,598,65" href="../elements/e4d59ae9-c458-4fde-bf24-f413a60d218f.html"  target="element">
						<area shape="rect" coords="791,10,911,65" href="../elements/fe06c286-60f3-489e-9710-f5402fc18215.html"  target="element">
						<area shape="rect" coords="924,10,1044,65" href="../elements/ba2e4949-bef2-4951-b952-20c146df2f22.html"  target="element">
						<area shape="rect" coords="1054,10,1174,65" href="../elements/78c83183-b62b-4c07-bd11-10483418c37a.html"  target="element">
								<area shape="rect" coords="695,670,815,725" href="../elements/af0e98aa-f56b-42eb-b936-403e3f1ed9fe.html"  target="element">

						<area shape="rect" coords="683,634,827,742" href="../elements/e1dcb228-4a0c-46ed-a79e-1a9e4c375a21.html"  target="element">
								<area shape="rect" coords="695,849,815,904" href="../elements/3085ced8-e037-497a-b6c1-812db4429fa5.html"  target="element">

						<area shape="rect" coords="683,801,827,922" href="../elements/caf946ad-d994-411b-996a-aab3084248e0.html"  target="element">
								<area shape="rect" coords="1055,526,1175,581" href="../elements/bc44b744-71f8-4ded-891f-7ec5ed83a760.html"  target="element">
								<area shape="rect" coords="1055,598,1175,653" href="../elements/28c267b7-519e-41d0-8076-e6db81f99eca.html"  target="element">
								<area shape="rect" coords="1055,670,1175,725" href="../elements/b2f42fb7-1249-4ac2-b077-40f1d84bf917.html"  target="element">
								<area shape="rect" coords="1055,754,1175,809" href="../elements/5c1e2a9e-461c-453c-b21a-f61e3922259c.html"  target="element">
								<area shape="rect" coords="1055,826,1175,881" href="../elements/e10cf3b2-4db2-4aed-a273-d7e59b0358ca.html"  target="element">
								<area shape="rect" coords="1055,898,1175,953" href="../elements/fb96e9ea-eab0-46eb-a543-b4b5a61f417a.html"  target="element">

						<area shape="rect" coords="1043,478,1184,1101" href="../elements/9f0b315c-df1e-48a9-8f98-6227df5272e0.html"  target="element">
								<area shape="rect" coords="899,514,1019,569" href="../elements/cc635239-ad11-4f27-a888-e61db8cbe833.html"  target="element">
								<area shape="rect" coords="899,574,1019,629" href="../elements/b0b50351-4602-4ffd-8c08-3289a635b92d.html"  target="element">
								<area shape="rect" coords="899,634,1019,689" href="../elements/53b4d033-1deb-4f86-ad61-ae26f5d52a6b.html"  target="element">
								<area shape="rect" coords="899,694,1019,749" href="../elements/2c1b3ad7-416b-4c05-ac3d-5e662c48b104.html"  target="element">
								<area shape="rect" coords="899,754,1019,809" href="../elements/492c42a5-0ed3-478a-b3b1-b9a39c0f0287.html"  target="element">
								<area shape="rect" coords="899,814,1019,869" href="../elements/c1537079-3450-4802-a0d7-735f86fb9798.html"  target="element">

						<area shape="rect" coords="887,478,1031,1102" href="../elements/fe8019dd-5a15-49a6-ba22-a93032c5b2f1.html"  target="element">
						<area shape="rect" coords="1534,681,1654,745" href="../elements/95ac20ca-d5cb-4068-9af7-2bd3759a9638.html"  target="element">
						<area shape="rect" coords="1534,757,1654,817" href="../elements/9d8cfbed-a12d-4768-9c3c-325f59c80188.html"  target="element">
						<area shape="rect" coords="1534,832,1654,892" href="../elements/08f52ddf-34a0-4076-aedc-7098a060b02c.html"  target="element">
						<area shape="rect" coords="1534,912,1654,973" href="../elements/8c14238f-0846-4229-8c15-aa0bd03b2b2f.html"  target="element">
						<area shape="rect" coords="1534,624,1654,673" href="../elements/7e310e21-269a-4474-8668-f9ba567ad101.html"  target="element">
						<area shape="rect" coords="1330,703,1450,758" href="../elements/a4993acf-a78c-4063-8b94-647218db544e.html"  target="element">
						<area shape="rect" coords="1330,778,1450,833" href="../elements/99cbdd03-4cf6-4613-9074-c018cac01015.html"  target="element">
						<area shape="rect" coords="1330,850,1450,905" href="../elements/9dffee05-edda-43b6-bc95-1dbc71c9c3ec.html"  target="element">
						<area shape="rect" coords="1330,921,1450,976" href="../elements/c4231c4b-349c-44bf-a9a9-2bebee80ff43.html"  target="element">
						<area shape="rect" coords="1330,621,1450,676" href="../elements/9b9ee672-e7f1-4609-a18d-ae4a4111333f.html"  target="element">
						<area shape="rect" coords="215,10,335,65" href="../elements/755aa76c-368f-4953-ab56-a737065333ce.html"  target="element">
						<area shape="rect" coords="1534,988,1654,1049" href="../elements/9eaab5ac-274f-4317-8860-20df170da401.html"  target="element">
						<area shape="rect" coords="1330,1006,1450,1061" href="../elements/62409faa-88ca-443a-9e1b-99acdde2e5bd.html"  target="element">
								<area shape="rect" coords="359,957,479,1012" href="../elements/391d6bd1-7c28-4db5-8f48-2fddac834d10.html"  target="element">
								<area shape="rect" coords="227,957,347,1012" href="../elements/9deb8d65-38f9-4134-bc18-c098eaf6b9b3.html"  target="element">
								<area shape="rect" coords="227,1029,347,1084" href="../elements/56859bdb-3c26-457f-aabe-3ea97d5bfc0e.html"  target="element">
								<area shape="rect" coords="359,1029,479,1084" href="../elements/0b80ddde-4198-4e4e-b69b-23fd9f4b0a41.html"  target="element">

						<area shape="rect" coords="203,921,489,1101" href="../elements/584816ec-641d-4caf-b94c-72ef03405a73.html"  target="element">
								<area shape="rect" coords="22,154,155,259" href="../elements/0b211024-8c8b-4858-b1a2-290185b71621.html"  target="element">
								<area shape="rect" coords="22,274,155,379" href="../elements/60350ca5-0f3e-416c-acd5-3c3b9d2d3639.html"  target="element">
								<area shape="rect" coords="22,394,155,499" href="../elements/fa026a8e-c09e-42cb-848e-dc85314062b6.html"  target="element">
								<area shape="rect" coords="22,634,142,689" href="../elements/e9410d5b-dd68-48f2-bc85-accf345ee726.html"  target="element">
								<area shape="rect" coords="22,706,142,761" href="../elements/b903158b-9ba2-473e-ba54-06a4b83bb94d.html"  target="element">
								<area shape="rect" coords="22,778,142,833" href="../elements/94de434e-411a-48d8-9b6a-5a8c7184431f.html"  target="element">
								<area shape="rect" coords="22,850,142,905" href="../elements/02c3762c-d5f2-44ca-9bf5-3564503cf067.html"  target="element">
								<area shape="rect" coords="22,922,142,977" href="../elements/3d59d688-3377-431a-9d07-731cdbf7a5c8.html"  target="element">

						<area shape="rect" coords="10,106,166,1101" href="../elements/affe2b60-e493-46c5-a345-911e1e21a0a9.html"  target="element">
						<area shape="rect" coords="40,10,160,65" href="../elements/ba39c82a-10ad-4781-940b-74fbf72639c1.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
					<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="elements">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
								</tr>
							</thead>
							<tbody>
										<tr><td> <a href="../elements/23493387-08ac-4671-a939-7ddf1f829ddc.html" target="element"> Microsoft Enterprise Office 365 </a> </td><td class="i18n-elementtype-TechnologyService"></td></tr>
												<tr><td> <a href="../elements/9ad0e357-57f6-49b5-bc36-0acb07038511.html" target="element"> v1.0 Epost og kalender </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
												<tr><td> <a href="../elements/59fa9e12-a677-41c4-8090-6b640fb68525.html" target="element"> v1.0 Identitet og tilgangsstyring </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
												<tr><td> <a href="../elements/cd21c85d-3f2f-4e87-a0b4-47ee1f4a3193.html" target="element"> v1.0 Brukerfiler </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
												<tr><td> <a href="../elements/d3e3a6fd-eb6f-457e-a171-efebf30f69a9.html" target="element"> v1.0 Publiseringsplattform (ECM) </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
												<tr><td> <a href="../elements/888e05f2-7cad-4775-834e-1cd73f67d98a.html" target="element"> v1.0 Samhandlingsplattform (UUC) </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
												<tr><td> <a href="../elements/d572ba61-dbab-42ba-b8cd-e801d42113f6.html" target="element"> v0.9 Prosjektportef&#248;lje </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
										
										<tr><td> <a href="../elements/9a9aebf9-6750-434c-9f65-ed339e70f273.html" target="element"> SHI Hybrid Cloud </a> </td><td class="i18n-elementtype-Plateau"></td></tr>
												<tr><td> <a href="../elements/e66a9505-c408-428e-bdf6-e317da335218.html" target="element"> SSA-L Helse Nord IKT HF </a> </td><td class="i18n-elementtype-Contract"></td></tr>
										
										<tr><td> <a href="../elements/f7b4c3ae-c403-4ac8-af54-6d272b9096f8.html" target="element"> Felles IKT-Plattform </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
												<tr><td> <a href="../elements/6a68aa91-1468-4175-95c3-3b8f68bcdb76.html" target="element"> 1.1.4 Funksjonalitet for fagomr&#229;der er tett integrert med basis arbeidsverkt&#248;y </a> </td><td class="i18n-elementtype-Principle"></td></tr>
												<tr><td> <a href="../elements/94590c28-556f-43c2-86f5-e97b0837a855.html" target="element"> 1.2.2 Tilgjengelige og mobile </a> </td><td class="i18n-elementtype-Principle"></td></tr>
												<tr><td> <a href="../elements/c7f39065-af54-448f-9778-0726b571ac0f.html" target="element"> 1.2.5 Innebygget informasjonssikkerhet og personvern </a> </td><td class="i18n-elementtype-Principle"></td></tr>
												<tr><td> <a href="../elements/8895f29b-7594-4766-8eb5-b3de8b2f8143.html" target="element"> 1.2.3 Ulike kanaler/mobile enheter </a> </td><td class="i18n-elementtype-Principle"></td></tr>
												<tr><td> <a href="../elements/64ba8894-84ff-4cec-9b25-2bd0056a564a.html" target="element"> 1.1.3 Enkel p&#229;logging og s&#248;ml&#248;se overganger </a> </td><td class="i18n-elementtype-Principle"></td></tr>
												<tr><td> <a href="../elements/69d5d10e-fd89-4b9c-8a2e-1b22ad98827d.html" target="element"> 1.1.2 Gode s&#248;kemuligheter </a> </td><td class="i18n-elementtype-Principle"></td></tr>
												<tr><td> <a href="../elements/3de5a43d-e27f-4d72-954b-5383f14fcd32.html" target="element"> 1.1.5 Selvbetjent </a> </td><td class="i18n-elementtype-Principle"></td></tr>
												<tr><td> <a href="../elements/c6412884-3d8b-40c1-82e9-6dbd1cbd172c.html" target="element"> 1.2.1 Registrering &#233;n gang og mest mulig automatisk registrering </a> </td><td class="i18n-elementtype-Principle"></td></tr>
												<tr><td> <a href="../elements/ee97497a-5132-4269-8805-4d2109e451b3.html" target="element"> 1.2.4 Transparent beslutningsst&#248;tte </a> </td><td class="i18n-elementtype-Principle"></td></tr>
												<tr><td> <a href="../elements/c4f7a5bc-a5bf-40d7-b8bf-98f4f74f7253.html" target="element"> 1.1.1 Brukervennlig, intuitiv og tilpasset brukergruppens behov </a> </td><td class="i18n-elementtype-Principle"></td></tr>
												<tr><td> <a href="../elements/cc34c824-9e8f-46fb-9018-40350f6dbb3b.html" target="element"> 1.2.6 Datadrevet </a> </td><td class="i18n-elementtype-Principle"></td></tr>
												<tr><td> <a href="../elements/349b3894-697e-4687-9669-cdde12b324e3.html" target="element"> 1.1.0 Samsvar med regelverk </a> </td><td class="i18n-elementtype-Principle"></td></tr>
										
										<tr><td> <a href="../elements/356fcac1-ab19-4d68-85b8-7230ec818a56.html" target="element"> HN IKT On-Premise </a> </td><td class="i18n-elementtype-TechnologyService"></td></tr>
												<tr><td> <a href="../elements/e1266ab2-5809-44ad-a653-558267432308.html" target="element"> v1.0 Fil- og dokumentdeling </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
												<tr><td> <a href="../elements/177c523c-b64c-4cf2-9950-3d288476d238.html" target="element"> v1.0 Identitet og tilgangsstyring </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
												<tr><td> <a href="../elements/5b704c78-282b-4e6c-aa6a-1ab91e441140.html" target="element"> v1.0 Mobilt kontor </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
										
										<tr><td> <a href="../elements/91fd1973-684a-4fc1-9718-d385b6f54a95.html" target="element"> Divisjon Nord </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
										<tr><td> <a href="../elements/336af40b-a943-4094-8448-dc3c616adf79.html" target="element"> Stab </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
												<tr><td> <a href="../elements/fbba9249-2cd6-4aec-9cc6-7d5e2df6a96a.html" target="element"> SHI IKT </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
														<tr><td> <a href="../elements/c1230933-88f1-48c8-80a7-60a56bd9d40b.html" target="element"> ITIL Security Management </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
														<tr><td> <a href="../elements/b1ecab9a-852a-4354-ba30-013facfeac6e.html" target="element"> ITIL Service Portfolio Management </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
														<tr><td> <a href="../elements/68954305-c4b0-4846-87f9-9619c21c6ac6.html" target="element"> ITIL Strategy Management </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
														<tr><td> <a href="../elements/207b7adc-ef90-44a7-8021-d75156b9370c.html" target="element"> ITIL Demand Management </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
														<tr><td> <a href="../elements/60b6e7bc-9baa-4693-bae5-c7e6e06abdcf.html" target="element"> ITIL Service Desk </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
														<tr><td> <a href="../elements/746f3980-c6e9-44ab-9eb2-924946a01cef.html" target="element"> SIAM </a> </td><td class="i18n-elementtype-BusinessInteraction"></td></tr>
												
												<tr><td> <a href="../elements/b04cd7a7-9d7a-4a62-9e93-253df39b6eb5.html" target="element"> ITIL Business Relationship Management </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/6692ae8a-964c-4334-8161-b99afe8f6c5e.html" target="element"> ITIL Financial Management </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
										
										<tr><td> <a href="../elements/b7892458-cdb4-45af-be7f-3737b3529371.html" target="element"> Divisjon Legemidler </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
										<tr><td> <a href="../elements/e4d59ae9-c458-4fde-bf24-f413a60d218f.html" target="element"> Divisjon Nasjonale Tjenester </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
										<tr><td> <a href="../elements/fe06c286-60f3-489e-9710-f5402fc18215.html" target="element"> Divisjon Midt-Norge </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
										<tr><td> <a href="../elements/ba2e4949-bef2-4951-b952-20c146df2f22.html" target="element"> Divisjon S&#248;r-&#216;st </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
										<tr><td> <a href="../elements/78c83183-b62b-4c07-bd11-10483418c37a.html" target="element"> Divisjon Vest </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
										<tr><td> <a href="../elements/e1dcb228-4a0c-46ed-a79e-1a9e4c375a21.html" target="element"> Telenor SKL </a> </td><td class="i18n-elementtype-TechnologyService"></td></tr>
												<tr><td> <a href="../elements/af0e98aa-f56b-42eb-b936-403e3f1ed9fe.html" target="element"> v1.0 Telefoni og konferanse (UCM) </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
										
										<tr><td> <a href="../elements/caf946ad-d994-411b-996a-aab3084248e0.html" target="element"> Printix </a> </td><td class="i18n-elementtype-TechnologyService"></td></tr>
												<tr><td> <a href="../elements/3085ced8-e037-497a-b6c1-812db4429fa5.html" target="element"> v1.0 Sikker utskrift </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
										
										<tr><td> <a href="../elements/9f0b315c-df1e-48a9-8f98-6227df5272e0.html" target="element"> SaaS </a> </td><td class="i18n-elementtype-TechnologyService"></td></tr>
												<tr><td> <a href="../elements/bc44b744-71f8-4ded-891f-7ec5ed83a760.html" target="element"> L&#248;nn og personal </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
												<tr><td> <a href="../elements/28c267b7-519e-41d0-8076-e6db81f99eca.html" target="element"> &#216;konomi og regnskap </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
												<tr><td> <a href="../elements/b2f42fb7-1249-4ac2-b077-40f1d84bf917.html" target="element"> Konkurransegjennomf&#248;ringsverkt&#248;y (KGV) </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
												<tr><td> <a href="../elements/5c1e2a9e-461c-453c-b21a-f61e3922259c.html" target="element"> Rekrutteringsst&#248;tte </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
												<tr><td> <a href="../elements/e10cf3b2-4db2-4aed-a273-d7e59b0358ca.html" target="element"> Videokonferanse </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
												<tr><td> <a href="../elements/fb96e9ea-eab0-46eb-a543-b4b5a61f417a.html" target="element"> Lokalnettverk og internettaksess </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
										
										<tr><td> <a href="../elements/fe8019dd-5a15-49a6-ba22-a93032c5b2f1.html" target="element"> SHI On-Premise </a> </td><td class="i18n-elementtype-TechnologyService"></td></tr>
												<tr><td> <a href="../elements/cc635239-ad11-4f27-a888-e61db8cbe833.html" target="element"> Saksarkiv </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
												<tr><td> <a href="../elements/b0b50351-4602-4ffd-8c08-3289a635b92d.html" target="element"> Ekstranett </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
												<tr><td> <a href="../elements/53b4d033-1deb-4f86-ad61-ae26f5d52a6b.html" target="element"> Intranett </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
												<tr><td> <a href="../elements/2c1b3ad7-416b-4c05-ac3d-5e662c48b104.html" target="element"> Identitet og tilgangsstyring </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
												<tr><td> <a href="../elements/492c42a5-0ed3-478a-b3b1-b9a39c0f0287.html" target="element"> Prosjektstyring </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
												<tr><td> <a href="../elements/c1537079-3450-4802-a0d7-735f86fb9798.html" target="element"> Saksbehandling (ITIL) </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
										
										<tr><td> <a href="../elements/95ac20ca-d5cb-4068-9af7-2bd3759a9638.html" target="element"> Sykehuspartner HF </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
										<tr><td> <a href="../elements/9d8cfbed-a12d-4768-9c3c-325f59c80188.html" target="element"> Azetz </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
										<tr><td> <a href="../elements/08f52ddf-34a0-4076-aedc-7098a060b02c.html" target="element"> Mercell </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
										<tr><td> <a href="../elements/8c14238f-0846-4229-8c15-aa0bd03b2b2f.html" target="element"> Webcruiter </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
										<tr><td> <a href="../elements/7e310e21-269a-4474-8668-f9ba567ad101.html" target="element"> Eltele Serit </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
										<tr><td> <a href="../elements/a4993acf-a78c-4063-8b94-647218db544e.html" target="element"> SSA-x Personalportalen </a> </td><td class="i18n-elementtype-Contract"></td></tr>
										<tr><td> <a href="../elements/99cbdd03-4cf6-4613-9074-c018cac01015.html" target="element"> SSA-x CoZone </a> </td><td class="i18n-elementtype-Contract"></td></tr>
										<tr><td> <a href="../elements/9dffee05-edda-43b6-bc95-1dbc71c9c3ec.html" target="element"> SSA-x Mercell </a> </td><td class="i18n-elementtype-Contract"></td></tr>
										<tr><td> <a href="../elements/c4231c4b-349c-44bf-a9a9-2bebee80ff43.html" target="element"> SSA-x Webcruiter </a> </td><td class="i18n-elementtype-Contract"></td></tr>
										<tr><td> <a href="../elements/9b9ee672-e7f1-4609-a18d-ae4a4111333f.html" target="element"> SSA-x </a> </td><td class="i18n-elementtype-Contract"></td></tr>
										<tr><td> <a href="../elements/755aa76c-368f-4953-ab56-a737065333ce.html" target="element"> Divisjon Stab </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
										<tr><td> <a href="../elements/9eaab5ac-274f-4317-8860-20df170da401.html" target="element"> Norsk Helsenett </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
										<tr><td> <a href="../elements/62409faa-88ca-443a-9e1b-99acdde2e5bd.html" target="element"> SSA-x Videotjeneste </a> </td><td class="i18n-elementtype-Contract"></td></tr>
										<tr><td> <a href="../elements/584816ec-641d-4caf-b94c-72ef03405a73.html" target="element"> Azure </a> </td><td class="i18n-elementtype-TechnologyService"></td></tr>
												<tr><td> <a href="../elements/391d6bd1-7c28-4db5-8f48-2fddac834d10.html" target="element"> v0.8 Service Desk </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
												<tr><td> <a href="../elements/9deb8d65-38f9-4134-bc18-c098eaf6b9b3.html" target="element"> v0.5 Master Data Services </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
												<tr><td> <a href="../elements/56859bdb-3c26-457f-aabe-3ea97d5bfc0e.html" target="element"> v0.5 Datavarehus </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
												<tr><td> <a href="../elements/0b80ddde-4198-4e4e-b69b-23fd9f4b0a41.html" target="element"> Kontraktsstrying og varekatalog(LIS) </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
										
										<tr><td> <a href="../elements/affe2b60-e493-46c5-a345-911e1e21a0a9.html" target="element"> Eksterne tjenester </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
												<tr><td> <a href="../elements/0b211024-8c8b-4858-b1a2-290185b71621.html" target="element"> 2.1.1 Brukervennlig, intuitiv og tilpasset foretaksgruppens behov </a> </td><td class="i18n-elementtype-Principle"></td></tr>
												<tr><td> <a href="../elements/60350ca5-0f3e-416c-acd5-3c3b9d2d3639.html" target="element"> 2.1.2 Tilgjengelig og relevant </a> </td><td class="i18n-elementtype-Principle"></td></tr>
												<tr><td> <a href="../elements/fa026a8e-c09e-42cb-848e-dc85314062b6.html" target="element"> 2.1.3 Samsvar med regelverk </a> </td><td class="i18n-elementtype-Principle"></td></tr>
												<tr><td> <a href="../elements/e9410d5b-dd68-48f2-bc85-accf345ee726.html" target="element"> Anskaffelser </a> </td><td class="i18n-elementtype-BusinessInterface"></td></tr>
												<tr><td> <a href="../elements/b903158b-9ba2-473e-ba54-06a4b83bb94d.html" target="element"> Avtaler </a> </td><td class="i18n-elementtype-BusinessInterface"></td></tr>
												<tr><td> <a href="../elements/94de434e-411a-48d8-9b6a-5a8c7184431f.html" target="element"> Statistikk </a> </td><td class="i18n-elementtype-BusinessInterface"></td></tr>
												<tr><td> <a href="../elements/02c3762c-d5f2-44ca-9bf5-3564503cf067.html" target="element"> Prosjekt </a> </td><td class="i18n-elementtype-BusinessInterface"></td></tr>
												<tr><td> <a href="../elements/3d59d688-3377-431a-9d07-731cdbf7a5c8.html" target="element"> Forvalting </a> </td><td class="i18n-elementtype-BusinessInterface"></td></tr>
										
										<tr><td> <a href="../elements/ba39c82a-10ad-4781-940b-74fbf72639c1.html" target="element"> Helseforetak </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>

							</tbody>
						</table>
					</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>