<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Prinsipper</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Prinsipper</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/7709ba8d-53bd-4c5e-a3a9-0e6e8e3f7b6b.png" alt="Prinsipper" usemap="#7709ba8d-53bd-4c5e-a3a9-0e6e8e3f7b6bmap">
			<map name="7709ba8d-53bd-4c5e-a3a9-0e6e8e3f7b6bmap">
						<area shape="rect" coords="154,10,274,65" href="../elements/c838ed59-ff75-4d94-817d-4af66b9ab8fb.html"  target="element">
						<area shape="rect" coords="730,10,850,65" href="../elements/bb1eba30-9a07-4b37-999c-63f0a8e0c5c6.html"  target="element">
						<area shape="rect" coords="10,10,130,65" href="../elements/9f27d53e-8b05-410a-9570-5e4171a251c5.html"  target="element">
						<area shape="rect" coords="298,10,418,65" href="../elements/2eb1ea1b-1073-4121-97a6-bc25986f75cb.html"  target="element">
						<area shape="rect" coords="442,10,562,65" href="../elements/273ab93f-fb6b-406d-b8a4-4cf7546e3bcf.html"  target="element">
						<area shape="rect" coords="586,10,706,65" href="../elements/32f530e0-f8d0-4810-858c-8a8d12d83760.html"  target="element">
						<area shape="rect" coords="874,10,994,65" href="../elements/f80b7e95-1e51-43fd-89e8-83586b8d87dd.html"  target="element">
						<area shape="rect" coords="118,142,238,197" href="../elements/04ee7669-34b7-45bc-8b3c-59634eaf6d10.html"  target="element">
						<area shape="rect" coords="268,142,388,197" href="../elements/ecce222e-ab8b-40cc-98e6-42ca1e31e94e.html"  target="element">
						<area shape="rect" coords="424,142,544,197" href="../elements/c1d8af76-d466-43a8-94f4-039ae382a5e7.html"  target="element">
						<area shape="rect" coords="580,142,700,197" href="../elements/e2d50441-9b06-4bcd-922d-f32d4d2ba953.html"  target="element">
						<area shape="rect" coords="747,142,867,197" href="../elements/4e07040e-c838-45e9-a454-512ca79254f5.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
					<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="elements">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
								</tr>
							</thead>
							<tbody>
										<tr><td> <a href="../elements/c838ed59-ff75-4d94-817d-4af66b9ab8fb.html" target="element"> Forbeder ressursbruk </a> </td><td class="i18n-elementtype-Goal"></td></tr>
										<tr><td> <a href="../elements/bb1eba30-9a07-4b37-999c-63f0a8e0c5c6.html" target="element"> Forbedre kvalitet </a> </td><td class="i18n-elementtype-Goal"></td></tr>
										<tr><td> <a href="../elements/9f27d53e-8b05-410a-9570-5e4171a251c5.html" target="element"> Redusere avvik </a> </td><td class="i18n-elementtype-Goal"></td></tr>
										<tr><td> <a href="../elements/2eb1ea1b-1073-4121-97a6-bc25986f75cb.html" target="element"> Redusere kostnader </a> </td><td class="i18n-elementtype-Goal"></td></tr>
										<tr><td> <a href="../elements/273ab93f-fb6b-406d-b8a4-4cf7546e3bcf.html" target="element"> Forbedre omstillingsevne </a> </td><td class="i18n-elementtype-Goal"></td></tr>
										<tr><td> <a href="../elements/32f530e0-f8d0-4810-858c-8a8d12d83760.html" target="element"> Forbedre kundetilfredshet </a> </td><td class="i18n-elementtype-Goal"></td></tr>
										<tr><td> <a href="../elements/f80b7e95-1e51-43fd-89e8-83586b8d87dd.html" target="element"> Forbedre datakvalitet </a> </td><td class="i18n-elementtype-Goal"></td></tr>
										<tr><td> <a href="../elements/04ee7669-34b7-45bc-8b3c-59634eaf6d10.html" target="element"> Praktisere smidig metodikk </a> </td><td class="i18n-elementtype-Principle"></td></tr>
										<tr><td> <a href="../elements/ecce222e-ab8b-40cc-98e6-42ca1e31e94e.html" target="element"> Utnytte produkter og tjenester i plattform </a> </td><td class="i18n-elementtype-Principle"></td></tr>
										<tr><td> <a href="../elements/c1d8af76-d466-43a8-94f4-039ae382a5e7.html" target="element"> Benytte skybasert teknologi </a> </td><td class="i18n-elementtype-Principle"></td></tr>
										<tr><td> <a href="../elements/e2d50441-9b06-4bcd-922d-f32d4d2ba953.html" target="element"> Rask tilpasning til kunder og marked </a> </td><td class="i18n-elementtype-Principle"></td></tr>
										<tr><td> <a href="../elements/4e07040e-c838-45e9-a454-512ca79254f5.html" target="element"> Data registreres og vedlikeholdes ett sted </a> </td><td class="i18n-elementtype-Principle"></td></tr>

							</tbody>
						</table>
					</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>