<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Prosjektrom</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Prosjektrom</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/78b783f3-d4f4-4f1d-8fc1-2f64dc734b46.png" alt="Prosjektrom" usemap="#78b783f3-d4f4-4f1d-8fc1-2f64dc734b46map">
			<map name="78b783f3-d4f4-4f1d-8fc1-2f64dc734b46map">
						<area shape="rect" coords="321,670,441,725" href="../elements/a268463a-2ed9-4720-8e14-2d38a14e8f81.html"  target="element">
						<area shape="rect" coords="183,670,303,725" href="../elements/c5d2219d-4c75-414e-9e7a-d9622577c6c8.html"  target="element">
						<area shape="rect" coords="44,670,164,725" href="../elements/7348108f-1f6b-45c6-a133-cb97ca094a2f.html"  target="element">
						<area shape="rect" coords="56,112,176,167" href="../elements/2884b1a8-afd0-439c-a063-66f6afdc4d57.html"  target="element">
						<area shape="rect" coords="309,112,429,167" href="../elements/6cc654c5-2156-41b0-9ce8-a976a56dae2d.html"  target="element">
						<area shape="rect" coords="536,112,656,167" href="../elements/b6498dcc-6508-493a-b484-b0e7b5e96628.html"  target="element">
						<area shape="rect" coords="536,778,656,833" href="../elements/91c12854-49f0-43d6-af2b-7337978d54a6.html"  target="element">
						<area shape="rect" coords="596,10,716,65" href="../elements/17c6c5fc-3929-425e-bc7c-ae5a3d151bf5.html"  target="element">
						<area shape="rect" coords="884,10,1004,65" href="../elements/9c423f53-29f1-4a34-acc6-32b0a5fdf98f.html"  target="element">
								<area shape="rect" coords="92,298,212,353" href="../elements/a562123d-207b-479b-9f72-eca5a661eec0.html"  target="element">
								<area shape="rect" coords="272,226,392,281" href="../elements/7f531de0-3532-4c1a-8811-45a0ac050810.html"  target="element">
								<area shape="rect" coords="92,226,212,281" href="../elements/7e908a71-c359-4d99-ae49-9ede94016c01.html"  target="element">
								<area shape="rect" coords="272,298,392,353" href="../elements/fa70cc90-4c91-4f4e-827a-23c1631639d5.html"  target="element">
								<area shape="rect" coords="92,490,212,545" href="../elements/e6308021-9b9b-4f65-bf2d-ad4e885d6aa6.html"  target="element">
								<area shape="rect" coords="272,490,392,545" href="../elements/9018e9ba-405a-4bad-b343-52e8c6530330.html"  target="element">
								<area shape="rect" coords="272,394,392,449" href="../elements/0021ad66-df05-4a7f-8c13-d3ec1c943585.html"  target="element">
								<area shape="rect" coords="92,394,212,449" href="../elements/97362f77-fc5c-4a74-a881-2634bb325564.html"  target="element">

						<area shape="rect" coords="56,190,429,611" href="../elements/c8af8358-abe4-44f1-9a4d-676897f490d3.html"  target="element">
						<area shape="rect" coords="536,610,656,665" href="../elements/5120b3a9-e06c-4470-aeeb-3e3d6e421f1a.html"  target="element">
						<area shape="rect" coords="536,694,656,749" href="../elements/fa81b109-8d14-402e-903d-8aba57b61dab.html"  target="element">
						<area shape="rect" coords="183,766,303,923" href="../elements/07067d42-bd6f-4f52-bfe5-6a950e2cb23a.html"  target="element">
						<area shape="rect" coords="44,850,164,905" href="../elements/c18fa4a6-122a-4f55-b004-e83a8d8f39e0.html"  target="element">
						<area shape="rect" coords="44,766,164,821" href="../elements/7d52d9e0-5cd5-4740-a449-8382e3a96980.html"  target="element">
								<area shape="rect" coords="560,226,680,281" href="../elements/bd03c108-5773-483e-85b8-cb92dae34756.html"  target="element">

						<area shape="rect" coords="512,190,729,335" href="../elements/c446f53e-320f-485b-b04f-adc056831341.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
					<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="elements">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
								</tr>
							</thead>
							<tbody>
										<tr><td> <a href="../elements/a268463a-2ed9-4720-8e14-2d38a14e8f81.html" target="element"> Klassifisering </a> </td><td class="i18n-elementtype-Constraint"></td></tr>
										<tr><td> <a href="../elements/c5d2219d-4c75-414e-9e7a-d9622577c6c8.html" target="element"> Informasjonssikkerhetssystem </a> </td><td class="i18n-elementtype-Constraint"></td></tr>
										<tr><td> <a href="../elements/7348108f-1f6b-45c6-a133-cb97ca094a2f.html" target="element"> Prosjektmetodikk </a> </td><td class="i18n-elementtype-Requirement"></td></tr>
										<tr><td> <a href="../elements/2884b1a8-afd0-439c-a063-66f6afdc4d57.html" target="element"> MS Teams </a> </td><td class="i18n-elementtype-ApplicationInterface"></td></tr>
										<tr><td> <a href="../elements/6cc654c5-2156-41b0-9ce8-a976a56dae2d.html" target="element"> Prosjekt-portalen 365 </a> </td><td class="i18n-elementtype-ApplicationInterface"></td></tr>
										<tr><td> <a href="../elements/b6498dcc-6508-493a-b484-b0e7b5e96628.html" target="element"> Innkj&#248;psportalen </a> </td><td class="i18n-elementtype-ApplicationInterface"></td></tr>
										<tr><td> <a href="../elements/91c12854-49f0-43d6-af2b-7337978d54a6.html" target="element"> Kontrakter </a> </td><td class="i18n-elementtype-Contract"></td></tr>
										<tr><td> <a href="../elements/17c6c5fc-3929-425e-bc7c-ae5a3d151bf5.html" target="element"> Prosjektleder </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
										<tr><td> <a href="../elements/9c423f53-29f1-4a34-acc6-32b0a5fdf98f.html" target="element"> Avtaleforvalter </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
										<tr><td> <a href="../elements/c8af8358-abe4-44f1-9a4d-676897f490d3.html" target="element"> SharePoint Site Collection </a> </td><td class="i18n-elementtype-TechnologyService"></td></tr>
												<tr><td> <a href="../elements/a562123d-207b-479b-9f72-eca5a661eec0.html" target="element"> Prosjektrom </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
												<tr><td> <a href="../elements/7f531de0-3532-4c1a-8811-45a0ac050810.html" target="element"> Prosjekt-styring </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
												<tr><td> <a href="../elements/7e908a71-c359-4d99-ae49-9ede94016c01.html" target="element"> Portef&#248;lje-styring </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
												<tr><td> <a href="../elements/fa70cc90-4c91-4f4e-827a-23c1631639d5.html" target="element"> Avtalerom </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
												<tr><td> <a href="../elements/e6308021-9b9b-4f65-bf2d-ad4e885d6aa6.html" target="element"> Prosjekt-dokumentasjon </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
												<tr><td> <a href="../elements/9018e9ba-405a-4bad-b343-52e8c6530330.html" target="element"> Avtaledokumentasjon </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
												<tr><td> <a href="../elements/0021ad66-df05-4a7f-8c13-d3ec1c943585.html" target="element"> Data Object </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
												<tr><td> <a href="../elements/97362f77-fc5c-4a74-a881-2634bb325564.html" target="element"> Data Object (copy) </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
										
										<tr><td> <a href="../elements/5120b3a9-e06c-4470-aeeb-3e3d6e421f1a.html" target="element"> Sortiment </a> </td><td class="i18n-elementtype-Representation"></td></tr>
										<tr><td> <a href="../elements/fa81b109-8d14-402e-903d-8aba57b61dab.html" target="element"> Avtale </a> </td><td class="i18n-elementtype-Product"></td></tr>
										<tr><td> <a href="../elements/07067d42-bd6f-4f52-bfe5-6a950e2cb23a.html" target="element"> Beste praksis </a> </td><td class="i18n-elementtype-Principle"></td></tr>
										<tr><td> <a href="../elements/c18fa4a6-122a-4f55-b004-e83a8d8f39e0.html" target="element"> Anskaffelses-prosess </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
										<tr><td> <a href="../elements/7d52d9e0-5cd5-4740-a449-8382e3a96980.html" target="element"> Kvalitetsystem </a> </td><td class="i18n-elementtype-Constraint"></td></tr>
										<tr><td> <a href="../elements/c446f53e-320f-485b-b04f-adc056831341.html" target="element"> Technology Service </a> </td><td class="i18n-elementtype-TechnologyService"></td></tr>
												<tr><td> <a href="../elements/bd03c108-5773-483e-85b8-cb92dae34756.html" target="element"> Innkj&#248;psportalen </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
										

							</tbody>
						</table>
					</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>