<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Prosjektrom</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Prosjektrom</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/78b783f3-d4f4-4f1d-8fc1-2f64dc734b46.png" alt="Prosjektrom" usemap="#78b783f3-d4f4-4f1d-8fc1-2f64dc734b46map"/>
			   <map name="78b783f3-d4f4-4f1d-8fc1-2f64dc734b46map">
				  				<area shape="rect" coords="560,226,680,281" href="../elements/bd03c108-5773-483e-85b8-cb92dae34756.html"  target="element">

				  		<area shape="rect" coords="512,190,729,335" href="../elements/c446f53e-320f-485b-b04f-adc056831341.html"  target="element">
				  		<area shape="rect" coords="44,766,164,821" href="../elements/7d52d9e0-5cd5-4740-a449-8382e3a96980.html"  target="element">
				  		<area shape="rect" coords="44,850,164,905" href="../elements/c18fa4a6-122a-4f55-b004-e83a8d8f39e0.html"  target="element">
				  		<area shape="rect" coords="183,766,303,923" href="../elements/07067d42-bd6f-4f52-bfe5-6a950e2cb23a.html"  target="element">
				  		<area shape="rect" coords="536,694,656,749" href="../elements/fa81b109-8d14-402e-903d-8aba57b61dab.html"  target="element">
				  		<area shape="rect" coords="536,610,656,665" href="../elements/5120b3a9-e06c-4470-aeeb-3e3d6e421f1a.html"  target="element">
				  				<area shape="rect" coords="92,394,212,449" href="../elements/97362f77-fc5c-4a74-a881-2634bb325564.html"  target="element">
				  				<area shape="rect" coords="272,394,392,449" href="../elements/0021ad66-df05-4a7f-8c13-d3ec1c943585.html"  target="element">
				  				<area shape="rect" coords="272,490,392,545" href="../elements/9018e9ba-405a-4bad-b343-52e8c6530330.html"  target="element">
				  				<area shape="rect" coords="92,490,212,545" href="../elements/e6308021-9b9b-4f65-bf2d-ad4e885d6aa6.html"  target="element">
				  				<area shape="rect" coords="272,298,392,353" href="../elements/fa70cc90-4c91-4f4e-827a-23c1631639d5.html"  target="element">
				  				<area shape="rect" coords="92,226,212,281" href="../elements/7e908a71-c359-4d99-ae49-9ede94016c01.html"  target="element">
				  				<area shape="rect" coords="272,226,392,281" href="../elements/7f531de0-3532-4c1a-8811-45a0ac050810.html"  target="element">
				  				<area shape="rect" coords="92,298,212,353" href="../elements/a562123d-207b-479b-9f72-eca5a661eec0.html"  target="element">

				  		<area shape="rect" coords="56,190,429,611" href="../elements/c8af8358-abe4-44f1-9a4d-676897f490d3.html"  target="element">
				  		<area shape="rect" coords="884,10,1004,65" href="../elements/9c423f53-29f1-4a34-acc6-32b0a5fdf98f.html"  target="element">
				  		<area shape="rect" coords="596,10,716,65" href="../elements/17c6c5fc-3929-425e-bc7c-ae5a3d151bf5.html"  target="element">
				  		<area shape="rect" coords="536,778,656,833" href="../elements/91c12854-49f0-43d6-af2b-7337978d54a6.html"  target="element">
				  		<area shape="rect" coords="536,112,656,167" href="../elements/b6498dcc-6508-493a-b484-b0e7b5e96628.html"  target="element">
				  		<area shape="rect" coords="309,112,429,167" href="../elements/6cc654c5-2156-41b0-9ce8-a976a56dae2d.html"  target="element">
				  		<area shape="rect" coords="56,112,176,167" href="../elements/2884b1a8-afd0-439c-a063-66f6afdc4d57.html"  target="element">
				  		<area shape="rect" coords="44,670,164,725" href="../elements/7348108f-1f6b-45c6-a133-cb97ca094a2f.html"  target="element">
				  		<area shape="rect" coords="183,670,303,725" href="../elements/c5d2219d-4c75-414e-9e7a-d9622577c6c8.html"  target="element">
				  		<area shape="rect" coords="321,670,441,725" href="../elements/a268463a-2ed9-4720-8e14-2d38a14e8f81.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/a268463a-2ed9-4720-8e14-2d38a14e8f81.html" target="element"> Klassifisering </a> </td>
											    <td> <a href="../elements/a268463a-2ed9-4720-8e14-2d38a14e8f81.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c5d2219d-4c75-414e-9e7a-d9622577c6c8.html" target="element"> Informasjonssikkerhetssystem </a> </td>
											    <td> <a href="../elements/c5d2219d-4c75-414e-9e7a-d9622577c6c8.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7348108f-1f6b-45c6-a133-cb97ca094a2f.html" target="element"> Prosjektmetodikk </a> </td>
											    <td> <a href="../elements/7348108f-1f6b-45c6-a133-cb97ca094a2f.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2884b1a8-afd0-439c-a063-66f6afdc4d57.html" target="element"> MS Teams </a> </td>
											    <td> <a href="../elements/2884b1a8-afd0-439c-a063-66f6afdc4d57.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6cc654c5-2156-41b0-9ce8-a976a56dae2d.html" target="element"> Prosjekt-portalen 365 </a> </td>
											    <td> <a href="../elements/6cc654c5-2156-41b0-9ce8-a976a56dae2d.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b6498dcc-6508-493a-b484-b0e7b5e96628.html" target="element"> Innkj&#248;psportalen </a> </td>
											    <td> <a href="../elements/b6498dcc-6508-493a-b484-b0e7b5e96628.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/91c12854-49f0-43d6-af2b-7337978d54a6.html" target="element"> Kontrakter </a> </td>
											    <td> <a href="../elements/91c12854-49f0-43d6-af2b-7337978d54a6.html" target="element" class="i18n-elementtype-Contract">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/17c6c5fc-3929-425e-bc7c-ae5a3d151bf5.html" target="element"> Prosjektleder - Anskaffelse </a> </td>
											    <td> <a href="../elements/17c6c5fc-3929-425e-bc7c-ae5a3d151bf5.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9c423f53-29f1-4a34-acc6-32b0a5fdf98f.html" target="element"> Avtaleforvalter </a> </td>
											    <td> <a href="../elements/9c423f53-29f1-4a34-acc6-32b0a5fdf98f.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c8af8358-abe4-44f1-9a4d-676897f490d3.html" target="element"> SharePoint Site Collection </a> </td>
											    <td> <a href="../elements/c8af8358-abe4-44f1-9a4d-676897f490d3.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/a562123d-207b-479b-9f72-eca5a661eec0.html" target="element"> Prosjektrom </a> </td>
													    <td> <a href="../elements/a562123d-207b-479b-9f72-eca5a661eec0.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/7f531de0-3532-4c1a-8811-45a0ac050810.html" target="element"> Prosjekt-styring </a> </td>
													    <td> <a href="../elements/7f531de0-3532-4c1a-8811-45a0ac050810.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/7e908a71-c359-4d99-ae49-9ede94016c01.html" target="element"> Portef&#248;lje-styring </a> </td>
													    <td> <a href="../elements/7e908a71-c359-4d99-ae49-9ede94016c01.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/fa70cc90-4c91-4f4e-827a-23c1631639d5.html" target="element"> Avtalerom </a> </td>
													    <td> <a href="../elements/fa70cc90-4c91-4f4e-827a-23c1631639d5.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/e6308021-9b9b-4f65-bf2d-ad4e885d6aa6.html" target="element"> Prosjekt-dokumentasjon </a> </td>
													    <td> <a href="../elements/e6308021-9b9b-4f65-bf2d-ad4e885d6aa6.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/9018e9ba-405a-4bad-b343-52e8c6530330.html" target="element"> Avtaledokumentasjon </a> </td>
													    <td> <a href="../elements/9018e9ba-405a-4bad-b343-52e8c6530330.html" target="element" class="i18n-elementtype-BusinessObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/0021ad66-df05-4a7f-8c13-d3ec1c943585.html" target="element"> Data Object </a> </td>
													    <td> <a href="../elements/0021ad66-df05-4a7f-8c13-d3ec1c943585.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/97362f77-fc5c-4a74-a881-2634bb325564.html" target="element"> Data Object (copy) </a> </td>
													    <td> <a href="../elements/97362f77-fc5c-4a74-a881-2634bb325564.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/5120b3a9-e06c-4470-aeeb-3e3d6e421f1a.html" target="element"> Sortiment </a> </td>
											    <td> <a href="../elements/5120b3a9-e06c-4470-aeeb-3e3d6e421f1a.html" target="element" class="i18n-elementtype-Representation">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/fa81b109-8d14-402e-903d-8aba57b61dab.html" target="element"> Avtale </a> </td>
											    <td> <a href="../elements/fa81b109-8d14-402e-903d-8aba57b61dab.html" target="element" class="i18n-elementtype-Product">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/07067d42-bd6f-4f52-bfe5-6a950e2cb23a.html" target="element"> Beste praksis </a> </td>
											    <td> <a href="../elements/07067d42-bd6f-4f52-bfe5-6a950e2cb23a.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c18fa4a6-122a-4f55-b004-e83a8d8f39e0.html" target="element"> Anskaffelses-prosess </a> </td>
											    <td> <a href="../elements/c18fa4a6-122a-4f55-b004-e83a8d8f39e0.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7d52d9e0-5cd5-4740-a449-8382e3a96980.html" target="element"> Kvalitetsystem </a> </td>
											    <td> <a href="../elements/7d52d9e0-5cd5-4740-a449-8382e3a96980.html" target="element" class="i18n-elementtype-Constraint">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c446f53e-320f-485b-b04f-adc056831341.html" target="element"> Technology Service </a> </td>
											    <td> <a href="../elements/c446f53e-320f-485b-b04f-adc056831341.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/bd03c108-5773-483e-85b8-cb92dae34756.html" target="element"> Innkj&#248;psportalen </a> </td>
													    <td> <a href="../elements/bd03c108-5773-483e-85b8-cb92dae34756.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/5c6d5b0c-f3b6-4c0d-aab5-c1c0f12783c0.html" target="element">  </a> </td>
																		<td> <a href="../elements/5c6d5b0c-f3b6-4c0d-aab5-c1c0f12783c0.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/2884b1a8-afd0-439c-a063-66f6afdc4d57.html" target="element"> MS Teams </a> </td>
																		<td> <a href="../elements/a562123d-207b-479b-9f72-eca5a661eec0.html" target="element"> Prosjektrom </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1bb189f4-2d0d-42d1-95f1-1643e59da626.html" target="element">  </a> </td>
																		<td> <a href="../elements/1bb189f4-2d0d-42d1-95f1-1643e59da626.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/2884b1a8-afd0-439c-a063-66f6afdc4d57.html" target="element"> MS Teams </a> </td>
																		<td> <a href="../elements/fa70cc90-4c91-4f4e-827a-23c1631639d5.html" target="element"> Avtalerom </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ad379628-2662-4c4d-8bfa-6300d9cecd8a.html" target="element">  </a> </td>
																		<td> <a href="../elements/ad379628-2662-4c4d-8bfa-6300d9cecd8a.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/2884b1a8-afd0-439c-a063-66f6afdc4d57.html" target="element"> MS Teams </a> </td>
																		<td> <a href="../elements/17c6c5fc-3929-425e-bc7c-ae5a3d151bf5.html" target="element"> Prosjektleder - Anskaffelse </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/b1b3cf9c-e04a-429e-9e4a-28798c5e9b58.html" target="element">  </a> </td>
																		<td> <a href="../elements/b1b3cf9c-e04a-429e-9e4a-28798c5e9b58.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/6cc654c5-2156-41b0-9ce8-a976a56dae2d.html" target="element"> Prosjekt-portalen 365 </a> </td>
																		<td> <a href="../elements/a562123d-207b-479b-9f72-eca5a661eec0.html" target="element"> Prosjektrom </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/1f11ab68-3b85-4312-b5f4-cceaa20efc00.html" target="element">  </a> </td>
																		<td> <a href="../elements/1f11ab68-3b85-4312-b5f4-cceaa20efc00.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/b6498dcc-6508-493a-b484-b0e7b5e96628.html" target="element"> Innkj&#248;psportalen </a> </td>
																		<td> <a href="../elements/bd03c108-5773-483e-85b8-cb92dae34756.html" target="element"> Innkj&#248;psportalen </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/b1ad14b3-fb1d-4f56-b8e6-52994731d285.html" target="element">  </a> </td>
																		<td> <a href="../elements/b1ad14b3-fb1d-4f56-b8e6-52994731d285.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/c8af8358-abe4-44f1-9a4d-676897f490d3.html" target="element"> SharePoint Site Collection </a> </td>
																		<td> <a href="../elements/a562123d-207b-479b-9f72-eca5a661eec0.html" target="element"> Prosjektrom </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3a685881-2679-48ba-9085-86f2ac7ca924.html" target="element">  </a> </td>
																		<td> <a href="../elements/3a685881-2679-48ba-9085-86f2ac7ca924.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/c8af8358-abe4-44f1-9a4d-676897f490d3.html" target="element"> SharePoint Site Collection </a> </td>
																		<td> <a href="../elements/fa70cc90-4c91-4f4e-827a-23c1631639d5.html" target="element"> Avtalerom </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0a41ea83-b0f0-4769-9699-866ca8525572.html" target="element">  </a> </td>
																		<td> <a href="../elements/0a41ea83-b0f0-4769-9699-866ca8525572.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/c8af8358-abe4-44f1-9a4d-676897f490d3.html" target="element"> SharePoint Site Collection </a> </td>
																		<td> <a href="../elements/e6308021-9b9b-4f65-bf2d-ad4e885d6aa6.html" target="element"> Prosjekt-dokumentasjon </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/83517614-4594-444a-85f9-b7e20918e75a.html" target="element">  </a> </td>
																		<td> <a href="../elements/83517614-4594-444a-85f9-b7e20918e75a.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/c8af8358-abe4-44f1-9a4d-676897f490d3.html" target="element"> SharePoint Site Collection </a> </td>
																		<td> <a href="../elements/9018e9ba-405a-4bad-b343-52e8c6530330.html" target="element"> Avtaledokumentasjon </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9c986b8c-a967-4491-aba8-68c693b71954.html" target="element">  </a> </td>
																		<td> <a href="../elements/9c986b8c-a967-4491-aba8-68c693b71954.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/c8af8358-abe4-44f1-9a4d-676897f490d3.html" target="element"> SharePoint Site Collection </a> </td>
																		<td> <a href="../elements/7348108f-1f6b-45c6-a133-cb97ca094a2f.html" target="element"> Prosjektmetodikk </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/76515df7-dc0a-41cc-85ff-697e800159ab.html" target="element">  </a> </td>
																		<td> <a href="../elements/76515df7-dc0a-41cc-85ff-697e800159ab.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/c8af8358-abe4-44f1-9a4d-676897f490d3.html" target="element"> SharePoint Site Collection </a> </td>
																		<td> <a href="../elements/c5d2219d-4c75-414e-9e7a-d9622577c6c8.html" target="element"> Informasjonssikkerhetssystem </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/99ad80a6-93d9-40bc-a41e-419804286df8.html" target="element">  </a> </td>
																		<td> <a href="../elements/99ad80a6-93d9-40bc-a41e-419804286df8.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/c8af8358-abe4-44f1-9a4d-676897f490d3.html" target="element"> SharePoint Site Collection </a> </td>
																		<td> <a href="../elements/a268463a-2ed9-4720-8e14-2d38a14e8f81.html" target="element"> Klassifisering </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/fa0b5975-3ca3-4e94-9b91-61995bcb106d.html" target="element">  </a> </td>
																		<td> <a href="../elements/fa0b5975-3ca3-4e94-9b91-61995bcb106d.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/c8af8358-abe4-44f1-9a4d-676897f490d3.html" target="element"> SharePoint Site Collection </a> </td>
																		<td> <a href="../elements/0021ad66-df05-4a7f-8c13-d3ec1c943585.html" target="element"> Data Object </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ddf5abff-cb8d-41e9-942a-e9fb5c0c9e6e.html" target="element">  </a> </td>
																		<td> <a href="../elements/ddf5abff-cb8d-41e9-942a-e9fb5c0c9e6e.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/c8af8358-abe4-44f1-9a4d-676897f490d3.html" target="element"> SharePoint Site Collection </a> </td>
																		<td> <a href="../elements/97362f77-fc5c-4a74-a881-2634bb325564.html" target="element"> Data Object (copy) </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/5cb00aae-c275-4f1c-8683-369fd17d3622.html" target="element">  </a> </td>
																				<td> <a href="../elements/5cb00aae-c275-4f1c-8683-369fd17d3622.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/a562123d-207b-479b-9f72-eca5a661eec0.html" target="element"> Prosjektrom </a> </td>
																				<td> <a href="../elements/97362f77-fc5c-4a74-a881-2634bb325564.html" target="element"> Data Object (copy) </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/d87d1489-b5a2-493e-9a77-277bcd707d5d.html" target="element">  </a> </td>
																				<td> <a href="../elements/d87d1489-b5a2-493e-9a77-277bcd707d5d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/7f531de0-3532-4c1a-8811-45a0ac050810.html" target="element"> Prosjekt-styring </a> </td>
																				<td> <a href="../elements/a562123d-207b-479b-9f72-eca5a661eec0.html" target="element"> Prosjektrom </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/a90ba980-4251-4957-ae52-a46a5058148d.html" target="element">  </a> </td>
																				<td> <a href="../elements/a90ba980-4251-4957-ae52-a46a5058148d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/7e908a71-c359-4d99-ae49-9ede94016c01.html" target="element"> Portef&#248;lje-styring </a> </td>
																				<td> <a href="../elements/a562123d-207b-479b-9f72-eca5a661eec0.html" target="element"> Prosjektrom </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/9a59f62d-986b-43d7-ba2b-9fa1f0e0c1b2.html" target="element">  </a> </td>
																				<td> <a href="../elements/9a59f62d-986b-43d7-ba2b-9fa1f0e0c1b2.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/7e908a71-c359-4d99-ae49-9ede94016c01.html" target="element"> Portef&#248;lje-styring </a> </td>
																				<td> <a href="../elements/fa70cc90-4c91-4f4e-827a-23c1631639d5.html" target="element"> Avtalerom </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/4449be4f-f871-45f1-a9c4-4fe52e5f8db4.html" target="element">  </a> </td>
																				<td> <a href="../elements/4449be4f-f871-45f1-a9c4-4fe52e5f8db4.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/fa70cc90-4c91-4f4e-827a-23c1631639d5.html" target="element"> Avtalerom </a> </td>
																				<td> <a href="../elements/0021ad66-df05-4a7f-8c13-d3ec1c943585.html" target="element"> Data Object </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/549e5496-855e-480d-8db2-12eb330e5ecb.html" target="element">  </a> </td>
																				<td> <a href="../elements/549e5496-855e-480d-8db2-12eb330e5ecb.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/0021ad66-df05-4a7f-8c13-d3ec1c943585.html" target="element"> Data Object </a> </td>
																				<td> <a href="../elements/9018e9ba-405a-4bad-b343-52e8c6530330.html" target="element"> Avtaledokumentasjon </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/3e2fac76-64f9-4329-8a8d-621c0cc00258.html" target="element">  </a> </td>
																				<td> <a href="../elements/3e2fac76-64f9-4329-8a8d-621c0cc00258.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/97362f77-fc5c-4a74-a881-2634bb325564.html" target="element"> Data Object (copy) </a> </td>
																				<td> <a href="../elements/e6308021-9b9b-4f65-bf2d-ad4e885d6aa6.html" target="element"> Prosjekt-dokumentasjon </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/a9bc6fba-5605-42ba-948d-2d22291d9929.html" target="element">  </a> </td>
																		<td> <a href="../elements/a9bc6fba-5605-42ba-948d-2d22291d9929.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/fa81b109-8d14-402e-903d-8aba57b61dab.html" target="element"> Avtale </a> </td>
																		<td> <a href="../elements/5120b3a9-e06c-4470-aeeb-3e3d6e421f1a.html" target="element"> Sortiment </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/861fba45-812f-43f0-b439-0e758f8f907d.html" target="element">  </a> </td>
																		<td> <a href="../elements/861fba45-812f-43f0-b439-0e758f8f907d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/fa81b109-8d14-402e-903d-8aba57b61dab.html" target="element"> Avtale </a> </td>
																		<td> <a href="../elements/91c12854-49f0-43d6-af2b-7337978d54a6.html" target="element"> Kontrakter </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/864854cf-855f-4b31-aae8-e5563f5932bb.html" target="element">  </a> </td>
																		<td> <a href="../elements/864854cf-855f-4b31-aae8-e5563f5932bb.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/07067d42-bd6f-4f52-bfe5-6a950e2cb23a.html" target="element"> Beste praksis </a> </td>
																		<td> <a href="../elements/c5d2219d-4c75-414e-9e7a-d9622577c6c8.html" target="element"> Informasjonssikkerhetssystem </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/2c6a56a5-f5f2-4df7-b389-6ce78bc1e27b.html" target="element">  </a> </td>
																		<td> <a href="../elements/2c6a56a5-f5f2-4df7-b389-6ce78bc1e27b.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/07067d42-bd6f-4f52-bfe5-6a950e2cb23a.html" target="element"> Beste praksis </a> </td>
																		<td> <a href="../elements/7d52d9e0-5cd5-4740-a449-8382e3a96980.html" target="element"> Kvalitetsystem </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/ff5ce61f-c62c-4844-bbbb-8766a1f020b8.html" target="element">  </a> </td>
																		<td> <a href="../elements/ff5ce61f-c62c-4844-bbbb-8766a1f020b8.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/c18fa4a6-122a-4f55-b004-e83a8d8f39e0.html" target="element"> Anskaffelses-prosess </a> </td>
																		<td> <a href="../elements/7d52d9e0-5cd5-4740-a449-8382e3a96980.html" target="element"> Kvalitetsystem </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/50e41d21-ec14-4df1-9048-d40f83866eae.html" target="element">  </a> </td>
																		<td> <a href="../elements/50e41d21-ec14-4df1-9048-d40f83866eae.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/c446f53e-320f-485b-b04f-adc056831341.html" target="element"> Technology Service </a> </td>
																		<td> <a href="../elements/bd03c108-5773-483e-85b8-cb92dae34756.html" target="element"> Innkj&#248;psportalen </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/34cb6311-5aba-44da-8cba-55e1d64ffc7e.html" target="element">  </a> </td>
																				<td> <a href="../elements/34cb6311-5aba-44da-8cba-55e1d64ffc7e.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/bd03c108-5773-483e-85b8-cb92dae34756.html" target="element"> Innkj&#248;psportalen </a> </td>
																				<td> <a href="../elements/5120b3a9-e06c-4470-aeeb-3e3d6e421f1a.html" target="element"> Sortiment </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>