<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Risikoverktøy</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Risikoverkt&#248;y</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/8c801c5c-78d1-4d6b-9ef8-eabe3285a3a3.png" alt="Risikoverktøy" usemap="#8c801c5c-78d1-4d6b-9ef8-eabe3285a3a3map">
			<map name="8c801c5c-78d1-4d6b-9ef8-eabe3285a3a3map">
						<area shape="rect" coords="10,10,358,1990" href="../elements/d3ede012-7913-4cbe-9b40-56eae463dc03.html"  target="element">
												<area shape="rect" coords="70,430,275,479" href="../elements/bc7d267a-3788-48c5-baad-a7eb5e4f1f72.html"  target="element">
												<area shape="rect" coords="70,370,275,419" href="../elements/62019197-36c0-49d0-aba5-c8fa05994852.html"  target="element">

										<area shape="rect" coords="58,346,287,491" href="../elements/a6ada95d-34e9-4da9-a79e-ad87a883bc38.html"  target="element">
												<area shape="rect" coords="64,1390,281,1439" href="../elements/19f08de4-4a3a-4ada-a70f-55a359245aea.html"  target="element">
												<area shape="rect" coords="64,1330,281,1379" href="../elements/d876a195-ee4e-4baf-8d46-eef95e38f2f5.html"  target="element">

										<area shape="rect" coords="52,1306,293,1451" href="../elements/d6278d19-ce17-48e7-84ab-318438d0ab55.html"  target="element">
												<area shape="rect" coords="64,1702,281,1751" href="../elements/bdb8431f-570c-412f-881c-a0085f250a14.html"  target="element">
												<area shape="rect" coords="64,1642,281,1691" href="../elements/3a9542aa-0c55-4d08-aa53-cf9e3ba9a352.html"  target="element">

										<area shape="rect" coords="52,1618,293,1763" href="../elements/4a951b75-ba7f-4aba-9bf7-65a1a01b20d3.html"  target="element">
												<area shape="rect" coords="64,1186,281,1223" href="../elements/ecbdd0e3-e78f-4e4c-83bf-a9a3ec2fb47c.html"  target="element">
												<area shape="rect" coords="64,1234,281,1283" href="../elements/ccfe93e0-a8f2-4c34-88b4-81b984ca719e.html"  target="element">

										<area shape="rect" coords="52,1162,293,1295" href="../elements/74a7e7f4-1357-46d1-ad72-5a6233974d1d.html"  target="element">
												<area shape="rect" coords="64,754,281,803" href="../elements/06c6c42f-5154-4f07-bd19-693a6f5d9ebf.html"  target="element">
												<area shape="rect" coords="64,694,281,743" href="../elements/3ea66d35-a701-43cb-a917-517016ac0435.html"  target="element">

										<area shape="rect" coords="52,670,293,815" href="../elements/d1832887-b6cd-496a-b1ff-da5866273e35.html"  target="element">
												<area shape="rect" coords="64,1078,281,1127" href="../elements/6d210e13-99c7-4a8a-a3c0-4a749b98e92d.html"  target="element">
												<area shape="rect" coords="64,1030,281,1067" href="../elements/0afa3500-7225-413f-9fea-515cd35dd526.html"  target="element">

										<area shape="rect" coords="52,1006,293,1139" href="../elements/afc938bc-77c9-4d80-9065-281c84d21ae9.html"  target="element">
												<area shape="rect" coords="64,1534,281,1583" href="../elements/3a686f4c-20b3-454c-a99d-7c2bb69b88dc.html"  target="element">
												<area shape="rect" coords="64,1486,281,1523" href="../elements/c1473164-d236-45ed-9aec-38996b8def1c.html"  target="element">

										<area shape="rect" coords="52,1462,293,1595" href="../elements/23977079-b42f-4304-9383-44fae34b98e9.html"  target="element">
												<area shape="rect" coords="64,934,281,983" href="../elements/477f3280-b15b-4a91-8b4f-ef799b88ed83.html"  target="element">
												<area shape="rect" coords="64,862,281,923" href="../elements/1c8b432a-82ab-42c9-a755-ac7828d412c2.html"  target="element">

										<area shape="rect" coords="52,826,293,995" href="../elements/487ca8e9-05c7-4273-9f91-6f9fc4c86a81.html"  target="element">
												<area shape="rect" coords="64,586,281,635" href="../elements/db7740a4-bfc5-46d4-86d4-23d470dcc90a.html"  target="element">
												<area shape="rect" coords="64,526,281,575" href="../elements/6e40dcca-fbe7-4873-8508-e8f515d38d8f.html"  target="element">

										<area shape="rect" coords="52,502,293,647" href="../elements/e14355a5-dda1-4d5e-96ad-860c08d852a4.html"  target="element">
												<area shape="rect" coords="64,1858,281,1907" href="../elements/ed422b73-e572-4026-b163-8107baee5a7f.html"  target="element">
												<area shape="rect" coords="64,1798,281,1847" href="../elements/708f7b29-852f-4ec1-9716-d7f98dd0d53b.html"  target="element">

										<area shape="rect" coords="52,1774,293,1919" href="../elements/a48ed384-348b-487e-a41e-4dd5e1f7a7f0.html"  target="element">

								<area shape="rect" coords="34,322,299,1931" href="../elements/6b6632ef-643a-4e81-bdfa-93d464a3fc89.html"  target="element">

						<area shape="rect" coords="22,286,311,1943" href="../elements/72a388ff-3e21-4bb8-865d-b2a76b8b8e95.html"  target="element">
												<area shape="rect" coords="658,310,947,371" href="../elements/a1226981-3277-4cdc-b689-14b278b57b58.html"  target="element">
												<area shape="rect" coords="658,382,947,443" href="../elements/7fc7e13c-dc2e-45bc-b9f1-182896a06444.html"  target="element">

										<area shape="rect" coords="634,286,959,467" href="../elements/d3e546ab-6d8d-4b87-9c09-93cf41d0fef4.html"  target="element">
												<area shape="rect" coords="658,502,821,551" href="../elements/07011262-9969-4346-b3d1-0ba5668b2d59.html"  target="element">

										<area shape="rect" coords="634,478,959,563" href="../elements/87acea9f-dcb1-4baf-873b-323dac47417b.html"  target="element">

								<area shape="rect" coords="622,262,971,575" href="../elements/7877eff2-76a3-45e4-8289-1fd21cea58d5.html"  target="element">
								<area shape="rect" coords="623,622,971,850" href="../elements/b5d6d81d-aaa3-478b-a273-15fcdad890f4.html"  target="element">

						<area shape="rect" coords="598,214,1031,875" href="../elements/00b8347d-4ffb-47dc-8cb1-32b54ad9b88b.html"  target="element">
										<area shape="rect" coords="70,118,263,191" href="../elements/53f9867d-c9a1-4af0-851b-9d3935f2b17a.html"  target="element">
										<area shape="rect" coords="70,202,263,251" href="../elements/1b1a28e1-7a3d-49b8-9289-240c5f39c63b.html"  target="element">

								<area shape="rect" coords="34,94,287,263" href="../elements/6655014d-47ca-4a62-96f2-097b44320fab.html"  target="element">

						<area shape="rect" coords="22,70,311,275" href="../elements/68d4695e-cefa-4578-aa1a-ceb423d8cb00.html"  target="element">
										<area shape="rect" coords="1186,298,1379,347" href="../elements/e650d7c8-09b0-45dc-8aa2-76c7328eff0c.html"  target="element">
										<area shape="rect" coords="1186,226,1379,287" href="../elements/fad4f452-96bc-4ecd-9d6e-5405ef18d62d.html"  target="element">

								<area shape="rect" coords="1162,202,1427,359" href="../elements/8a20dc25-376e-4c12-b272-91dedc6947bc.html"  target="element">

						<area shape="rect" coords="1138,154,1451,382" href="../elements/d1c52691-7c0c-416e-a889-51133ef333ba.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
					<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="elements">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
								</tr>
							</thead>
							<tbody>
										<tr><td> <a href="../elements/d3ede012-7913-4cbe-9b40-56eae463dc03.html" target="element"> Microsoft Cloud Stack </a> </td><td class="i18n-elementtype-Node"></td></tr>
										<tr><td> <a href="../elements/72a388ff-3e21-4bb8-865d-b2a76b8b8e95.html" target="element"> Common Data Service </a> </td><td class="i18n-elementtype-TechnologyService"></td></tr>
												<tr><td> <a href="../elements/6b6632ef-643a-4e81-bdfa-93d464a3fc89.html" target="element"> Solution Risikoverkt&#248;y </a> </td><td class="i18n-elementtype-Artifact"></td></tr>
														<tr><td> <a href="../elements/a6ada95d-34e9-4da9-a79e-ad87a883bc38.html" target="element"> Aggregert Risikovurdering </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
																<tr><td> <a href="../elements/bc7d267a-3788-48c5-baad-a7eb5e4f1f72.html" target="element"> Aggregert Risikovurdering </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
																<tr><td> <a href="../elements/62019197-36c0-49d0-aba5-c8fa05994852.html" target="element"> /api/data/v9.1/shi_aggregertrisikovurdering </a> </td><td class="i18n-elementtype-ApplicationInterface"></td></tr>
														
														<tr><td> <a href="../elements/d6278d19-ce17-48e7-84ab-318438d0ab55.html" target="element"> Kategoriegenskap </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
																<tr><td> <a href="../elements/19f08de4-4a3a-4ada-a70f-55a359245aea.html" target="element"> Kategoriegenskap </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
																<tr><td> <a href="../elements/d876a195-ee4e-4baf-8d46-eef95e38f2f5.html" target="element"> /api/data/v9.1/shi_kategoriegenskap </a> </td><td class="i18n-elementtype-ApplicationInterface"></td></tr>
														
														<tr><td> <a href="../elements/4a951b75-ba7f-4aba-9bf7-65a1a01b20d3.html" target="element"> Risikovurdering </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
																<tr><td> <a href="../elements/bdb8431f-570c-412f-881c-a0085f250a14.html" target="element"> Risikovurdering </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
																<tr><td> <a href="../elements/3a9542aa-0c55-4d08-aa53-cf9e3ba9a352.html" target="element"> /api/data/v9.1/shi_risikovurdering </a> </td><td class="i18n-elementtype-ApplicationInterface"></td></tr>
														
														<tr><td> <a href="../elements/74a7e7f4-1357-46d1-ad72-5a6233974d1d.html" target="element"> Kategori </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
																<tr><td> <a href="../elements/ecbdd0e3-e78f-4e4c-83bf-a9a3ec2fb47c.html" target="element"> /api/data/v9.1/shi_kategori </a> </td><td class="i18n-elementtype-ApplicationInterface"></td></tr>
																<tr><td> <a href="../elements/ccfe93e0-a8f2-4c34-88b4-81b984ca719e.html" target="element"> kategori </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
														
														<tr><td> <a href="../elements/d1832887-b6cd-496a-b1ff-da5866273e35.html" target="element"> Relasjon </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
																<tr><td> <a href="../elements/06c6c42f-5154-4f07-bd19-693a6f5d9ebf.html" target="element"> Relasjon </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
																<tr><td> <a href="../elements/3ea66d35-a701-43cb-a917-517016ac0435.html" target="element"> /api/data/v9.1/shi_relasjoner </a> </td><td class="i18n-elementtype-ApplicationInterface"></td></tr>
														
														<tr><td> <a href="../elements/afc938bc-77c9-4d80-9065-281c84d21ae9.html" target="element"> Divisjon </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
																<tr><td> <a href="../elements/6d210e13-99c7-4a8a-a3c0-4a749b98e92d.html" target="element"> Divisjon </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
																<tr><td> <a href="../elements/0afa3500-7225-413f-9fea-515cd35dd526.html" target="element"> /api/data/v9.1/shi_divisjon </a> </td><td class="i18n-elementtype-ApplicationInterface"></td></tr>
														
														<tr><td> <a href="../elements/23977079-b42f-4304-9383-44fae34b98e9.html" target="element"> Kategoriprofil </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
																<tr><td> <a href="../elements/3a686f4c-20b3-454c-a99d-7c2bb69b88dc.html" target="element"> Kategoriprofil </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
																<tr><td> <a href="../elements/c1473164-d236-45ed-9aec-38996b8def1c.html" target="element"> /api/data/v9.1/shi_kategoriprofil </a> </td><td class="i18n-elementtype-ApplicationInterface"></td></tr>
														
														<tr><td> <a href="../elements/487ca8e9-05c7-4273-9f91-6f9fc4c86a81.html" target="element"> P&#229;virkningsrelasjoner Risikoparametre </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
																<tr><td> <a href="../elements/477f3280-b15b-4a91-8b4f-ef799b88ed83.html" target="element"> P&#229;virkningsrelasjoner Risikoparametre </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
																<tr><td> <a href="../elements/1c8b432a-82ab-42c9-a755-ac7828d412c2.html" target="element"> /api/data/v9.1/shi_pavirkningsrelasjonerrisikoparametre </a> </td><td class="i18n-elementtype-ApplicationInterface"></td></tr>
														
														<tr><td> <a href="../elements/e14355a5-dda1-4d5e-96ad-860c08d852a4.html" target="element"> Risikoparameter </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
																<tr><td> <a href="../elements/db7740a4-bfc5-46d4-86d4-23d470dcc90a.html" target="element"> Risikoparameter </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
																<tr><td> <a href="../elements/6e40dcca-fbe7-4873-8508-e8f515d38d8f.html" target="element"> /api/data/v9.1/shi_risikoparametre </a> </td><td class="i18n-elementtype-ApplicationInterface"></td></tr>
														
														<tr><td> <a href="../elements/a48ed384-348b-487e-a41e-4dd5e1f7a7f0.html" target="element"> Versionskontroll </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
																<tr><td> <a href="../elements/ed422b73-e572-4026-b163-8107baee5a7f.html" target="element"> Versionskontroll </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
																<tr><td> <a href="../elements/708f7b29-852f-4ec1-9716-d7f98dd0d53b.html" target="element"> /api/data/v9.1/shi_versionskontroll </a> </td><td class="i18n-elementtype-ApplicationInterface"></td></tr>
														
												
										
										<tr><td> <a href="../elements/00b8347d-4ffb-47dc-8cb1-32b54ad9b88b.html" target="element"> Excel </a> </td><td class="i18n-elementtype-Node"></td></tr>
												<tr><td> <a href="../elements/7877eff2-76a3-45e4-8289-1fd21cea58d5.html" target="element"> Risikoverkt&#248;y </a> </td><td class="i18n-elementtype-ApplicationCollaboration"></td></tr>
														<tr><td> <a href="../elements/d3e546ab-6d8d-4b87-9c09-93cf41d0fef4.html" target="element"> VBA/PowerQuarries </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
																<tr><td> <a href="../elements/a1226981-3277-4cdc-b689-14b278b57b58.html" target="element"> GET </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
																<tr><td> <a href="../elements/7fc7e13c-dc2e-45bc-b9f1-182896a06444.html" target="element"> CREATE </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
														
														<tr><td> <a href="../elements/87acea9f-dcb1-4baf-873b-323dac47417b.html" target="element"> Logg-Inn Sykehusinnkjop (Add-in) </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
																<tr><td> <a href="../elements/07011262-9969-4346-b3d1-0ba5668b2d59.html" target="element"> Logg inn </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
														
												
												<tr><td> <a href="../elements/b5d6d81d-aaa3-478b-a273-15fcdad890f4.html" target="element"> Prosjektregister Divisjon legemiddler </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
										
										<tr><td> <a href="../elements/68d4695e-cefa-4578-aa1a-ceb423d8cb00.html" target="element"> Azure Active Directory </a> </td><td class="i18n-elementtype-TechnologyService"></td></tr>
												<tr><td> <a href="../elements/6655014d-47ca-4a62-96f2-097b44320fab.html" target="element"> App Registration </a> </td><td class="i18n-elementtype-ApplicationComponent"></td></tr>
														<tr><td> <a href="../elements/53f9867d-c9a1-4af0-851b-9d3935f2b17a.html" target="element"> Risikoverkt&#248;y </a> </td><td class="i18n-elementtype-ApplicationInterface"></td></tr>
														<tr><td> <a href="../elements/1b1a28e1-7a3d-49b8-9289-240c5f39c63b.html" target="element"> Oauth2 </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
												
										
										<tr><td> <a href="../elements/d1c52691-7c0c-416e-a889-51133ef333ba.html" target="element"> Hstat </a> </td><td class="i18n-elementtype-TechnologyService"></td></tr>
												<tr><td> <a href="../elements/8a20dc25-376e-4c12-b272-91dedc6947bc.html" target="element"> Hstat </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
														<tr><td> <a href="../elements/e650d7c8-09b0-45dc-8aa2-76c7328eff0c.html" target="element"> Prosjektregister hstat </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
														<tr><td> <a href="../elements/fad4f452-96bc-4ecd-9d6e-5405ef18d62d.html" target="element"> https://contractwebprod-sykehusinnkjop.azurewebsites.net/api/v1/procurements </a> </td><td class="i18n-elementtype-ApplicationInterface"></td></tr>
												
										
										<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->	

							</tbody>
						</table>
					</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>