<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Kravskisse</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Kravskisse</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-elementtype-SketchModel"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-SketchModel" target="hint"></a>
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/8d2005fc-a7f8-41a2-83e8-5e65c985a033.png" alt="Kravskisse" usemap="#8d2005fc-a7f8-41a2-83e8-5e65c985a033map"/>
			   <map name="8d2005fc-a7f8-41a2-83e8-5e65c985a033map">
				  		        <area shape="rect" coords="1006,118,1139,143" href="../objects/7c5b202f-a802-4d69-8c98-fd0e86e2e478.html" target="element" >
				  		        <area shape="rect" coords="1006,82,1139,107" href="../objects/065cea7a-7deb-402d-9419-57531f6eab6e.html" target="element" >
				  		        <area shape="rect" coords="1006,46,1139,71" href="../objects/58436507-3f84-461a-ba92-50b75dc6d3f5.html" target="element" >
				  				        <area shape="rect" coords="1090,538,1175,563" href="../objects/487de5a7-edbc-490e-af02-a6d2dadae856.html" target="element" >

				  		        <area shape="rect" coords="1042,502,1187,575" href="../objects/b3b08725-2fd1-4103-bb1e-db01f892737e.html" target="element" >
				  				        <area shape="rect" coords="1102,742,1187,767" href="../objects/d0bf26c9-8cb1-44bb-9b76-aed84e4f09c1.html" target="element" >

				  		        <area shape="rect" coords="1078,718,1199,779" href="../objects/431f7e54-4352-47d8-80c2-3652bf15256b.html" target="element" >
				  		        <area shape="rect" coords="1066,682,1187,743" href="../objects/b0a9a2c6-a269-4491-9d59-bb539f853a1e.html" target="element" >
				  		        <area shape="rect" coords="1054,646,1175,707" href="../objects/38e2a179-40f7-488e-9245-9b08b75ca347.html" target="element" >
				  				        <area shape="rect" coords="1090,442,1175,467" href="../objects/fa2f1a04-2987-445e-9cf9-41310729efa5.html" target="element" >

				  		        <area shape="rect" coords="1042,406,1187,479" href="../objects/90628ad8-0f06-4e2f-b7f7-a4d458a55820.html" target="element" >

				          <area shape="rect" coords="994,10,1271,827" href="../objects/9de30077-c958-416d-a3e4-4efb0b1606c0.html" target="element" >
				  		        <area shape="rect" coords="670,262,803,287" href="../objects/f71c2482-bcd6-41f7-ba3d-741eeb2910d9.html" target="element" >
				  		        <area shape="rect" coords="670,226,803,251" href="../objects/49c8da45-6c51-4a2e-b599-fc350556bd48.html" target="element" >
				  		        <area shape="rect" coords="670,190,803,215" href="../objects/2ca126b8-4a43-4784-8c51-b04dd3d5cbb2.html" target="element" >
				  		        <area shape="rect" coords="670,154,803,179" href="../objects/f4ece053-ad8e-4eb8-bc99-4ed5967afa10.html" target="element" >
				  		        <area shape="rect" coords="670,82,803,107" href="../objects/e9207031-23f0-47cd-ae5b-a5b3cb5e508e.html" target="element" >
				  		        <area shape="rect" coords="670,46,803,71" href="../objects/a078d53d-21b6-4a7b-ad19-17a03486a9fc.html" target="element" >
				  		        <area shape="rect" coords="826,574,911,623" href="../objects/022dbf07-8328-48a6-9a6f-f15bf0b27de2.html" target="element" >
				  		        <area shape="rect" coords="694,574,779,623" href="../objects/5cba7e17-58fb-4ad8-9c63-2df4eee0f94b.html" target="element" >
				  		        <area shape="rect" coords="826,730,911,779" href="../objects/45ca5968-ccfb-4d80-a947-c181a88af70a.html" target="element" >
				  		        <area shape="rect" coords="694,730,779,779" href="../objects/179dff6a-5477-4836-b8f3-993aa3443997.html" target="element" >
				  		        <area shape="rect" coords="826,418,911,467" href="../objects/9d255cf4-159f-4116-8645-ff1d2fc17b71.html" target="element" >
				  		        <area shape="rect" coords="694,418,779,467" href="../objects/e56d9d5c-5136-4761-b9f7-60dcfb73a50a.html" target="element" >
				  		        <area shape="rect" coords="754,646,839,695" href="../objects/bb76c3fe-7ab0-4316-9ee4-02442d72802d.html" target="element" >
				  		        <area shape="rect" coords="754,490,839,539" href="../objects/a3469f87-7cda-4ecd-8812-7fa375bcc8df.html" target="element" >

				          <area shape="rect" coords="658,10,935,827" href="../objects/7c137b0a-7cd6-4e25-943c-48f47d95e732.html" target="element" >
				  		        <area shape="rect" coords="346,262,479,287" href="../objects/1fe07060-5ade-482a-8558-00418abfb699.html" target="element" >
				  		        <area shape="rect" coords="346,118,479,143" href="../objects/803d5353-92ec-4c13-b544-99e92b56f084.html" target="element" >
				  		        <area shape="rect" coords="346,226,479,251" href="../objects/19f4c662-f54e-4209-80b9-5713a12c07c5.html" target="element" >
				  		        <area shape="rect" coords="346,190,479,215" href="../objects/bdb8cc7f-e2cd-4cbd-80d9-6816ae29542b.html" target="element" >
				  		        <area shape="rect" coords="346,82,479,107" href="../objects/984a582c-6ade-452e-ad95-ad9dd154c93c.html" target="element" >
				  		        <area shape="rect" coords="346,154,479,179" href="../objects/8878c56d-d802-46c9-b4a4-cee2ac7d2f36.html" target="element" >
				  		        <area shape="rect" coords="346,46,479,71" href="../objects/9ba16aea-ebde-4f3a-90ea-ba363501b0ec.html" target="element" >
				  				        <area shape="rect" coords="478,706,527,791" href="../objects/e6f43e37-6713-4aa4-9b01-1c4c1b43bee7.html" target="element" >
				  				        <area shape="rect" coords="358,706,407,791" href="../objects/ec08212d-aeca-4ef2-a6e3-48bf5540f514.html" target="element" >
				  				        <area shape="rect" coords="538,610,587,695" href="../objects/895ba21c-96f4-470c-8924-00a0e29a56ed.html" target="element" >
				  				        <area shape="rect" coords="478,610,527,695" href="../objects/5fe6d70f-6b84-4f0c-b4f3-480238dda78c.html" target="element" >
				  				        <area shape="rect" coords="418,610,467,695" href="../objects/32d6f5ad-1935-4d04-83ce-f96d5c46aeda.html" target="element" >
				  				        <area shape="rect" coords="358,610,407,695" href="../objects/30cf738e-e303-47f9-8308-dc5b8e877de3.html" target="element" >

				  		        <area shape="rect" coords="346,538,599,815" href="../objects/f2c997a8-dca6-41d1-b37f-8936996090af.html" target="element" >

				          <area shape="rect" coords="334,10,611,827" href="../objects/9c21b2e7-0476-4b65-9900-6412dd8cec4a.html" target="element" >
				  		        <area shape="rect" coords="46,226,179,251" href="../objects/fac47d49-67d7-499b-87f8-61a564ac2951.html" target="element" >
				  		        <area shape="rect" coords="46,190,179,215" href="../objects/39591cff-6b76-488d-ac07-3c8928b1d980.html" target="element" >
				  		        <area shape="rect" coords="46,154,179,179" href="../objects/b2fa4619-8f3b-455a-b689-24205b35c341.html" target="element" >
				  		        <area shape="rect" coords="46,46,179,71" href="../objects/38977595-cab2-4c43-becc-94002c6f2a60.html" target="element" >
				  		        <area shape="rect" coords="46,118,179,143" href="../objects/e0003ba3-beff-40ec-afda-52d988f2f460.html" target="element" >
				  		        <area shape="rect" coords="46,82,179,107" href="../objects/3a9fd478-a12a-4dc3-906e-3f93516235df.html" target="element" >
				  				        <area shape="rect" coords="70,442,179,491" href="../objects/c0185a60-08f7-492a-8737-3faadfc8831f.html" target="element" >

				  		        <area shape="rect" coords="46,406,251,515" href="../objects/b67fc5d5-4c13-4ddb-8399-86e2a5210d21.html" target="element" >
				  				        <area shape="rect" coords="70,574,179,623" href="../objects/e4951624-f637-4b48-973e-a144b48b349f.html" target="element" >

				  		        <area shape="rect" coords="46,538,251,647" href="../objects/49ffee78-d32e-4617-97d8-699a0332e281.html" target="element" >
				  				        <area shape="rect" coords="70,706,179,755" href="../objects/f2d53b19-4969-42aa-b478-48585656e245.html" target="element" >

				  		        <area shape="rect" coords="46,670,251,779" href="../objects/8b589cf4-06ea-45cd-b78d-01289d1a01f3.html" target="element" >

				          <area shape="rect" coords="10,10,287,827" href="../objects/245da0b9-4e5f-47e2-b904-90addf91d246.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/245da0b9-4e5f-47e2-b904-90addf91d246.html" target="element"> Data sources </a> </td>
									           <td> <a href="../objects/245da0b9-4e5f-47e2-b904-90addf91d246.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/8b589cf4-06ea-45cd-b78d-01289d1a01f3.html" target="element"> Kilde 1 </a> </td>
											           <td> <a href="../objects/8b589cf4-06ea-45cd-b78d-01289d1a01f3.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/f2d53b19-4969-42aa-b478-48585656e245.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/f2d53b19-4969-42aa-b478-48585656e245.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/49ffee78-d32e-4617-97d8-699a0332e281.html" target="element"> Kilde 1 </a> </td>
											           <td> <a href="../objects/49ffee78-d32e-4617-97d8-699a0332e281.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/e4951624-f637-4b48-973e-a144b48b349f.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/e4951624-f637-4b48-973e-a144b48b349f.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/b67fc5d5-4c13-4ddb-8399-86e2a5210d21.html" target="element"> Kilde 1 </a> </td>
											           <td> <a href="../objects/b67fc5d5-4c13-4ddb-8399-86e2a5210d21.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/c0185a60-08f7-492a-8737-3faadfc8831f.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/c0185a60-08f7-492a-8737-3faadfc8831f.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/3a9fd478-a12a-4dc3-906e-3f93516235df.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/3a9fd478-a12a-4dc3-906e-3f93516235df.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/e0003ba3-beff-40ec-afda-52d988f2f460.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/e0003ba3-beff-40ec-afda-52d988f2f460.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/38977595-cab2-4c43-becc-94002c6f2a60.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/38977595-cab2-4c43-becc-94002c6f2a60.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/b2fa4619-8f3b-455a-b689-24205b35c341.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/b2fa4619-8f3b-455a-b689-24205b35c341.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/39591cff-6b76-488d-ac07-3c8928b1d980.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/39591cff-6b76-488d-ac07-3c8928b1d980.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/fac47d49-67d7-499b-87f8-61a564ac2951.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/fac47d49-67d7-499b-87f8-61a564ac2951.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/9c21b2e7-0476-4b65-9900-6412dd8cec4a.html" target="element"> Staging </a> </td>
									           <td> <a href="../objects/9c21b2e7-0476-4b65-9900-6412dd8cec4a.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/f2c997a8-dca6-41d1-b37f-8936996090af.html" target="element"> Kilde 1 </a> </td>
											           <td> <a href="../objects/f2c997a8-dca6-41d1-b37f-8936996090af.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/30cf738e-e303-47f9-8308-dc5b8e877de3.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/30cf738e-e303-47f9-8308-dc5b8e877de3.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/32d6f5ad-1935-4d04-83ce-f96d5c46aeda.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/32d6f5ad-1935-4d04-83ce-f96d5c46aeda.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/5fe6d70f-6b84-4f0c-b4f3-480238dda78c.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/5fe6d70f-6b84-4f0c-b4f3-480238dda78c.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/895ba21c-96f4-470c-8924-00a0e29a56ed.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/895ba21c-96f4-470c-8924-00a0e29a56ed.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/ec08212d-aeca-4ef2-a6e3-48bf5540f514.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/ec08212d-aeca-4ef2-a6e3-48bf5540f514.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/e6f43e37-6713-4aa4-9b01-1c4c1b43bee7.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/e6f43e37-6713-4aa4-9b01-1c4c1b43bee7.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/9ba16aea-ebde-4f3a-90ea-ba363501b0ec.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/9ba16aea-ebde-4f3a-90ea-ba363501b0ec.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/8878c56d-d802-46c9-b4a4-cee2ac7d2f36.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/8878c56d-d802-46c9-b4a4-cee2ac7d2f36.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/984a582c-6ade-452e-ad95-ad9dd154c93c.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/984a582c-6ade-452e-ad95-ad9dd154c93c.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/bdb8cc7f-e2cd-4cbd-80d9-6816ae29542b.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/bdb8cc7f-e2cd-4cbd-80d9-6816ae29542b.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/19f4c662-f54e-4209-80b9-5713a12c07c5.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/19f4c662-f54e-4209-80b9-5713a12c07c5.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/803d5353-92ec-4c13-b544-99e92b56f084.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/803d5353-92ec-4c13-b544-99e92b56f084.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/1fe07060-5ade-482a-8558-00418abfb699.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/1fe07060-5ade-482a-8558-00418abfb699.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/7c137b0a-7cd6-4e25-943c-48f47d95e732.html" target="element"> Data Warehouse </a> </td>
									           <td> <a href="../objects/7c137b0a-7cd6-4e25-943c-48f47d95e732.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/a3469f87-7cda-4ecd-8812-7fa375bcc8df.html" target="element"> Kilde 1 </a> </td>
											           <td> <a href="../objects/a3469f87-7cda-4ecd-8812-7fa375bcc8df.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/bb76c3fe-7ab0-4316-9ee4-02442d72802d.html" target="element"> Kilde 1 </a> </td>
											           <td> <a href="../objects/bb76c3fe-7ab0-4316-9ee4-02442d72802d.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/e56d9d5c-5136-4761-b9f7-60dcfb73a50a.html" target="element"> Kilde 1 </a> </td>
											           <td> <a href="../objects/e56d9d5c-5136-4761-b9f7-60dcfb73a50a.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/9d255cf4-159f-4116-8645-ff1d2fc17b71.html" target="element"> Kilde 1 </a> </td>
											           <td> <a href="../objects/9d255cf4-159f-4116-8645-ff1d2fc17b71.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/179dff6a-5477-4836-b8f3-993aa3443997.html" target="element"> Kilde 1 </a> </td>
											           <td> <a href="../objects/179dff6a-5477-4836-b8f3-993aa3443997.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/45ca5968-ccfb-4d80-a947-c181a88af70a.html" target="element"> Kilde 1 </a> </td>
											           <td> <a href="../objects/45ca5968-ccfb-4d80-a947-c181a88af70a.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/5cba7e17-58fb-4ad8-9c63-2df4eee0f94b.html" target="element"> Kilde 1 </a> </td>
											           <td> <a href="../objects/5cba7e17-58fb-4ad8-9c63-2df4eee0f94b.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/022dbf07-8328-48a6-9a6f-f15bf0b27de2.html" target="element"> Kilde 1 </a> </td>
											           <td> <a href="../objects/022dbf07-8328-48a6-9a6f-f15bf0b27de2.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/a078d53d-21b6-4a7b-ad19-17a03486a9fc.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/a078d53d-21b6-4a7b-ad19-17a03486a9fc.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/e9207031-23f0-47cd-ae5b-a5b3cb5e508e.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/e9207031-23f0-47cd-ae5b-a5b3cb5e508e.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/f4ece053-ad8e-4eb8-bc99-4ed5967afa10.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/f4ece053-ad8e-4eb8-bc99-4ed5967afa10.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/2ca126b8-4a43-4784-8c51-b04dd3d5cbb2.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/2ca126b8-4a43-4784-8c51-b04dd3d5cbb2.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/49c8da45-6c51-4a2e-b599-fc350556bd48.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/49c8da45-6c51-4a2e-b599-fc350556bd48.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/f71c2482-bcd6-41f7-ba3d-741eeb2910d9.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/f71c2482-bcd6-41f7-ba3d-741eeb2910d9.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/9de30077-c958-416d-a3e4-4efb0b1606c0.html" target="element"> Data Access </a> </td>
									           <td> <a href="../objects/9de30077-c958-416d-a3e4-4efb0b1606c0.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/90628ad8-0f06-4e2f-b7f7-a4d458a55820.html" target="element"> Kilde 1 </a> </td>
											           <td> <a href="../objects/90628ad8-0f06-4e2f-b7f7-a4d458a55820.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/fa2f1a04-2987-445e-9cf9-41310729efa5.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/fa2f1a04-2987-445e-9cf9-41310729efa5.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/38e2a179-40f7-488e-9245-9b08b75ca347.html" target="element"> Kilde 1 </a> </td>
											           <td> <a href="../objects/38e2a179-40f7-488e-9245-9b08b75ca347.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/b0a9a2c6-a269-4491-9d59-bb539f853a1e.html" target="element"> Kilde 1 </a> </td>
											           <td> <a href="../objects/b0a9a2c6-a269-4491-9d59-bb539f853a1e.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/431f7e54-4352-47d8-80c2-3652bf15256b.html" target="element"> Kilde 1 </a> </td>
											           <td> <a href="../objects/431f7e54-4352-47d8-80c2-3652bf15256b.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/d0bf26c9-8cb1-44bb-9b76-aed84e4f09c1.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/d0bf26c9-8cb1-44bb-9b76-aed84e4f09c1.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/b3b08725-2fd1-4103-bb1e-db01f892737e.html" target="element"> Kilde 1 </a> </td>
											           <td> <a href="../objects/b3b08725-2fd1-4103-bb1e-db01f892737e.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/487de5a7-edbc-490e-af02-a6d2dadae856.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/487de5a7-edbc-490e-af02-a6d2dadae856.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/58436507-3f84-461a-ba92-50b75dc6d3f5.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/58436507-3f84-461a-ba92-50b75dc6d3f5.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/065cea7a-7deb-402d-9419-57531f6eab6e.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/065cea7a-7deb-402d-9419-57531f6eab6e.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/7c5b202f-a802-4d69-8c98-fd0e86e2e478.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/7c5b202f-a802-4d69-8c98-fd0e86e2e478.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>