<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Sikkerhet og risiko</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Sikkerhet og risiko</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/972e53ed-71c8-420f-97f1-21ef0248685a.png" alt="Sikkerhet og risiko" usemap="#972e53ed-71c8-420f-97f1-21ef0248685amap">
			<map name="972e53ed-71c8-420f-97f1-21ef0248685amap">
						<area shape="rect" coords="10,10,130,65" href="../elements/71e0879a-6f12-4ebe-bd52-cec4929eee81.html"  target="element">
						<area shape="rect" coords="10,106,130,161" href="../elements/bb4f685c-9cf4-4bdb-9972-57dc59d0e4d8.html"  target="element">
						<area shape="rect" coords="10,202,130,257" href="../elements/a832e156-4b36-429c-858e-34463582be42.html"  target="element">
						<area shape="rect" coords="10,298,130,353" href="../elements/38de4de6-ae9c-434d-9af1-09db8c225c7e.html"  target="element">
						<area shape="rect" coords="10,406,130,461" href="../elements/c4fab365-c793-4726-97f1-c08b1c20c47b.html"  target="element">
								<area shape="rect" coords="250,202,370,257" href="../elements/93127268-6930-47df-aca1-5d31bd783d78.html"  target="element">
								<area shape="rect" coords="250,298,370,353" href="../elements/044b78ff-6710-4aa5-8c1e-df619f295ffd.html"  target="element">
								<area shape="rect" coords="431,298,551,353" href="../elements/bb0859aa-d3cf-4f8f-b370-7b35dcfe64a4.html"  target="element">

						<area shape="rect" coords="226,166,635,383" href="../elements/d17371f8-f4e7-4324-92e4-4801ee80c6fe.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
					<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="elements">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
								</tr>
							</thead>
							<tbody>
										<tr><td> <a href="../elements/71e0879a-6f12-4ebe-bd52-cec4929eee81.html" target="element"> Risiko/ Trussel </a> </td><td class="i18n-elementtype-Driver"></td></tr>
										<tr><td> <a href="../elements/bb4f685c-9cf4-4bdb-9972-57dc59d0e4d8.html" target="element"> Risikovurdering </a> </td><td class="i18n-elementtype-Assessment"></td></tr>
										<tr><td> <a href="../elements/a832e156-4b36-429c-858e-34463582be42.html" target="element"> Risikostyring </a> </td><td class="i18n-elementtype-Goal"></td></tr>
										<tr><td> <a href="../elements/38de4de6-ae9c-434d-9af1-09db8c225c7e.html" target="element"> God praksis </a> </td><td class="i18n-elementtype-Requirement"></td></tr>
										<tr><td> <a href="../elements/c4fab365-c793-4726-97f1-c08b1c20c47b.html" target="element"> Tiltak </a> </td><td class="i18n-elementtype-WorkPackage"></td></tr>
										<tr><td> <a href="../elements/d17371f8-f4e7-4324-92e4-4801ee80c6fe.html" target="element"> Standard for god praksis </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
												<tr><td> <a href="../elements/93127268-6930-47df-aca1-5d31bd783d78.html" target="element"> M&#229;l </a> </td><td class="i18n-elementtype-Goal"></td></tr>
												<tr><td> <a href="../elements/044b78ff-6710-4aa5-8c1e-df619f295ffd.html" target="element"> Krav </a> </td><td class="i18n-elementtype-Requirement"></td></tr>
												<tr><td> <a href="../elements/bb0859aa-d3cf-4f8f-b370-7b35dcfe64a4.html" target="element"> Suksessfaktor </a> </td><td class="i18n-elementtype-Principle"></td></tr>
										

							</tbody>
						</table>
					</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>