<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Sikkerhet og risiko</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Sikkerhet og risiko</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/972e53ed-71c8-420f-97f1-21ef0248685a.png" alt="Sikkerhet og risiko" usemap="#972e53ed-71c8-420f-97f1-21ef0248685amap"/>
			   <map name="972e53ed-71c8-420f-97f1-21ef0248685amap">
				  		<area shape="rect" coords="862,382,982,437" href="../elements/id-1197a1ccf97c41ff8c0c167beb00e593.html"  target="element">
				  		<area shape="rect" coords="226,514,437,567" href="../elements/id-106d775a9bf2475db9c787a5c67c3c23.html"  target="element">
				  		<area shape="rect" coords="802,299,1013,352" href="../elements/id-70cdf6bf792345908c64db905e18d452.html"  target="element">
				  		<area shape="rect" coords="454,10,743,85" href="../elements/id-9dca898e41ea4af2ba4035568f18c3f9.html"  target="element">
				  				<area shape="rect" coords="466,298,586,353" href="../elements/bb0859aa-d3cf-4f8f-b370-7b35dcfe64a4.html"  target="element">
				  				<area shape="rect" coords="250,202,370,257" href="../elements/93127268-6930-47df-aca1-5d31bd783d78.html"  target="element">
				  				<area shape="rect" coords="250,298,370,353" href="../elements/044b78ff-6710-4aa5-8c1e-df619f295ffd.html"  target="element">

				  		<area shape="rect" coords="226,166,779,461" href="../elements/d17371f8-f4e7-4324-92e4-4801ee80c6fe.html"  target="element">
				  		<area shape="rect" coords="10,406,130,461" href="../elements/c4fab365-c793-4726-97f1-c08b1c20c47b.html"  target="element">
				  		<area shape="rect" coords="10,298,130,353" href="../elements/38de4de6-ae9c-434d-9af1-09db8c225c7e.html"  target="element">
				  		<area shape="rect" coords="10,202,130,257" href="../elements/a832e156-4b36-429c-858e-34463582be42.html"  target="element">
				  		<area shape="rect" coords="10,106,130,161" href="../elements/bb4f685c-9cf4-4bdb-9972-57dc59d0e4d8.html"  target="element">
				  		<area shape="rect" coords="10,10,130,65" href="../elements/71e0879a-6f12-4ebe-bd52-cec4929eee81.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/71e0879a-6f12-4ebe-bd52-cec4929eee81.html" target="element"> Risiko/ Trussel </a> </td>
											    <td> <a href="../elements/71e0879a-6f12-4ebe-bd52-cec4929eee81.html" target="element" class="i18n-elementtype-Driver">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/bb4f685c-9cf4-4bdb-9972-57dc59d0e4d8.html" target="element"> Risikovurdering </a> </td>
											    <td> <a href="../elements/bb4f685c-9cf4-4bdb-9972-57dc59d0e4d8.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a832e156-4b36-429c-858e-34463582be42.html" target="element"> Risikostyring </a> </td>
											    <td> <a href="../elements/a832e156-4b36-429c-858e-34463582be42.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/38de4de6-ae9c-434d-9af1-09db8c225c7e.html" target="element"> God praksis </a> </td>
											    <td> <a href="../elements/38de4de6-ae9c-434d-9af1-09db8c225c7e.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c4fab365-c793-4726-97f1-c08b1c20c47b.html" target="element"> Tiltak </a> </td>
											    <td> <a href="../elements/c4fab365-c793-4726-97f1-c08b1c20c47b.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d17371f8-f4e7-4324-92e4-4801ee80c6fe.html" target="element"> Standard for god praksis </a> </td>
											    <td> <a href="../elements/d17371f8-f4e7-4324-92e4-4801ee80c6fe.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/044b78ff-6710-4aa5-8c1e-df619f295ffd.html" target="element"> Krav </a> </td>
													    <td> <a href="../elements/044b78ff-6710-4aa5-8c1e-df619f295ffd.html" target="element" class="i18n-elementtype-Requirement">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/93127268-6930-47df-aca1-5d31bd783d78.html" target="element"> M&#229;l </a> </td>
													    <td> <a href="../elements/93127268-6930-47df-aca1-5d31bd783d78.html" target="element" class="i18n-elementtype-Goal">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/bb0859aa-d3cf-4f8f-b370-7b35dcfe64a4.html" target="element"> Suksessfaktor </a> </td>
													    <td> <a href="../elements/bb0859aa-d3cf-4f8f-b370-7b35dcfe64a4.html" target="element" class="i18n-elementtype-Principle">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-9dca898e41ea4af2ba4035568f18c3f9.html" target="element"> All behandling av personopplysninger i Sykehusinnkj&#248;p HF skal skje i samsvar med personvernprinsipper. </a> </td>
											    <td> <a href="../elements/id-9dca898e41ea4af2ba4035568f18c3f9.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-70cdf6bf792345908c64db905e18d452.html" target="element"> Utt&#248;mmende register for informasjons- og dokumentbehandling, </a> </td>
											    <td> <a href="../elements/id-70cdf6bf792345908c64db905e18d452.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-106d775a9bf2475db9c787a5c67c3c23.html" target="element"> Protokoll (art. 30) </a> </td>
											    <td> <a href="../elements/id-106d775a9bf2475db9c787a5c67c3c23.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1197a1ccf97c41ff8c0c167beb00e593.html" target="element"> Arkivplan </a> </td>
											    <td> <a href="../elements/id-1197a1ccf97c41ff8c0c167beb00e593.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/51f273aa-0e45-423a-9155-7dacf8258804.html" target="element">  </a> </td>
																		<td> <a href="../elements/51f273aa-0e45-423a-9155-7dacf8258804.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/bb4f685c-9cf4-4bdb-9972-57dc59d0e4d8.html" target="element"> Risikovurdering </a> </td>
																		<td> <a href="../elements/71e0879a-6f12-4ebe-bd52-cec4929eee81.html" target="element"> Risiko/ Trussel </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/c4cf7f7c-ddc0-4400-8e9e-363612d4b2f9.html" target="element">  </a> </td>
																		<td> <a href="../elements/c4cf7f7c-ddc0-4400-8e9e-363612d4b2f9.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/a832e156-4b36-429c-858e-34463582be42.html" target="element"> Risikostyring </a> </td>
																		<td> <a href="../elements/bb4f685c-9cf4-4bdb-9972-57dc59d0e4d8.html" target="element"> Risikovurdering </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/157b4dcc-1fa0-4b0d-bd27-2ac4d29b42d3.html" target="element">  </a> </td>
																		<td> <a href="../elements/157b4dcc-1fa0-4b0d-bd27-2ac4d29b42d3.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/38de4de6-ae9c-434d-9af1-09db8c225c7e.html" target="element"> God praksis </a> </td>
																		<td> <a href="../elements/a832e156-4b36-429c-858e-34463582be42.html" target="element"> Risikostyring </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/4cdecd3f-ee75-4203-9b9f-707a2a90010e.html" target="element">  </a> </td>
																		<td> <a href="../elements/4cdecd3f-ee75-4203-9b9f-707a2a90010e.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/38de4de6-ae9c-434d-9af1-09db8c225c7e.html" target="element"> God praksis </a> </td>
																		<td> <a href="../elements/044b78ff-6710-4aa5-8c1e-df619f295ffd.html" target="element"> Krav </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/7b21efe9-2e74-400a-b458-4c7985596264.html" target="element">  </a> </td>
																		<td> <a href="../elements/7b21efe9-2e74-400a-b458-4c7985596264.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/c4fab365-c793-4726-97f1-c08b1c20c47b.html" target="element"> Tiltak </a> </td>
																		<td> <a href="../elements/38de4de6-ae9c-434d-9af1-09db8c225c7e.html" target="element"> God praksis </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/f455ffe9-7a2c-4627-a009-bd793470cbc0.html" target="element">  </a> </td>
																		<td> <a href="../elements/f455ffe9-7a2c-4627-a009-bd793470cbc0.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/d17371f8-f4e7-4324-92e4-4801ee80c6fe.html" target="element"> Standard for god praksis </a> </td>
																		<td> <a href="../elements/93127268-6930-47df-aca1-5d31bd783d78.html" target="element"> M&#229;l </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9d389e33-efef-4554-a41b-65910ff088d2.html" target="element">  </a> </td>
																		<td> <a href="../elements/9d389e33-efef-4554-a41b-65910ff088d2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/d17371f8-f4e7-4324-92e4-4801ee80c6fe.html" target="element"> Standard for god praksis </a> </td>
																		<td> <a href="../elements/044b78ff-6710-4aa5-8c1e-df619f295ffd.html" target="element"> Krav </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/239afbc3-68e4-4d5b-ba01-32924f60f22d.html" target="element">  </a> </td>
																		<td> <a href="../elements/239afbc3-68e4-4d5b-ba01-32924f60f22d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/d17371f8-f4e7-4324-92e4-4801ee80c6fe.html" target="element"> Standard for god praksis </a> </td>
																		<td> <a href="../elements/bb0859aa-d3cf-4f8f-b370-7b35dcfe64a4.html" target="element"> Suksessfaktor </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/6c913f5d-acb0-402c-8122-b2b5e9431b4b.html" target="element">  </a> </td>
																				<td> <a href="../elements/6c913f5d-acb0-402c-8122-b2b5e9431b4b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/044b78ff-6710-4aa5-8c1e-df619f295ffd.html" target="element"> Krav </a> </td>
																				<td> <a href="../elements/bb0859aa-d3cf-4f8f-b370-7b35dcfe64a4.html" target="element"> Suksessfaktor </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/f1a6f028-3acc-4c9e-8cfc-4811c92cc004.html" target="element">  </a> </td>
																				<td> <a href="../elements/f1a6f028-3acc-4c9e-8cfc-4811c92cc004.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																				</a> </td>
																				<td> <a href="../elements/044b78ff-6710-4aa5-8c1e-df619f295ffd.html" target="element"> Krav </a> </td>
																				<td> <a href="../elements/93127268-6930-47df-aca1-5d31bd783d78.html" target="element"> M&#229;l </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/0dfb736f-eb95-4339-af09-a98008811e2a.html" target="element">  </a> </td>
																				<td> <a href="../elements/0dfb736f-eb95-4339-af09-a98008811e2a.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																				</a> </td>
																				<td> <a href="../elements/93127268-6930-47df-aca1-5d31bd783d78.html" target="element"> M&#229;l </a> </td>
																				<td> <a href="../elements/a832e156-4b36-429c-858e-34463582be42.html" target="element"> Risikostyring </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/907520f7-947c-461c-b4fa-345db70a3f85.html" target="element">  </a> </td>
																				<td> <a href="../elements/907520f7-947c-461c-b4fa-345db70a3f85.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/bb0859aa-d3cf-4f8f-b370-7b35dcfe64a4.html" target="element"> Suksessfaktor </a> </td>
																				<td> <a href="../elements/93127268-6930-47df-aca1-5d31bd783d78.html" target="element"> M&#229;l </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-d9f9e2cf9b6c4f52a6b159d17fdb60c6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d9f9e2cf9b6c4f52a6b159d17fdb60c6.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9dca898e41ea4af2ba4035568f18c3f9.html" target="element"> All behandling av personopplysninger i Sykehusinnkj&#248;p HF skal skje i samsvar med personvernprinsipper. </a> </td>
																		<td> <a href="../elements/93127268-6930-47df-aca1-5d31bd783d78.html" target="element"> M&#229;l </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cebd75cb5dbf489f94e2761e273d8e54.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cebd75cb5dbf489f94e2761e273d8e54.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9dca898e41ea4af2ba4035568f18c3f9.html" target="element"> All behandling av personopplysninger i Sykehusinnkj&#248;p HF skal skje i samsvar med personvernprinsipper. </a> </td>
																		<td> <a href="../elements/id-70cdf6bf792345908c64db905e18d452.html" target="element"> Utt&#248;mmende register for informasjons- og dokumentbehandling, </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ce93cd628cab492daf6c5b12b050ce20.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ce93cd628cab492daf6c5b12b050ce20.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-70cdf6bf792345908c64db905e18d452.html" target="element"> Utt&#248;mmende register for informasjons- og dokumentbehandling, </a> </td>
																		<td> <a href="../elements/bb0859aa-d3cf-4f8f-b370-7b35dcfe64a4.html" target="element"> Suksessfaktor </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-33543abd3c904dbfabf6f9759eabdaa2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-33543abd3c904dbfabf6f9759eabdaa2.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-106d775a9bf2475db9c787a5c67c3c23.html" target="element"> Protokoll (art. 30) </a> </td>
																		<td> <a href="../elements/044b78ff-6710-4aa5-8c1e-df619f295ffd.html" target="element"> Krav </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-dd3bebd4476e48bd920e2c483d3a17b3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dd3bebd4476e48bd920e2c483d3a17b3.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-106d775a9bf2475db9c787a5c67c3c23.html" target="element"> Protokoll (art. 30) </a> </td>
																		<td> <a href="../elements/id-1197a1ccf97c41ff8c0c167beb00e593.html" target="element"> Arkivplan </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-27d438c148784f5a9fc2516ebba813b7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-27d438c148784f5a9fc2516ebba813b7.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-1197a1ccf97c41ff8c0c167beb00e593.html" target="element"> Arkivplan </a> </td>
																		<td> <a href="../elements/id-70cdf6bf792345908c64db905e18d452.html" target="element"> Utt&#248;mmende register for informasjons- og dokumentbehandling, </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>