<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Satsningsområde 4 - Katalogplattform</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Satsningsomr&#229;de 4 - Katalogplattform</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/9787621b-0e26-47df-b847-90a95fb58352.png" alt="Satsningsområde 4 - Katalogplattform" usemap="#9787621b-0e26-47df-b847-90a95fb58352map"/>
			   <map name="9787621b-0e26-47df-b847-90a95fb58352map">
				  				<area shape="rect" coords="1066,1150,1186,1205" href="../elements/3b4368eb-3616-44b4-a824-87466610d124.html"  target="element">
				  				<area shape="rect" coords="1066,1342,1186,1397" href="../elements/e8e43755-a6e4-4ef2-93b4-a8bce6236c14.html"  target="element">
				  				<area shape="rect" coords="1066,1258,1186,1313" href="../elements/6a47e2ee-3e20-4e3d-99fc-ca72b8294405.html"  target="element">
				  				<area shape="rect" coords="1066,1438,1186,1493" href="../elements/92f58b6c-de82-4bac-a1b9-24a9d40c3d27.html"  target="element">

				  		<area shape="rect" coords="922,1054,1331,1535" href="../elements/e354b75d-6686-4b6a-be2a-8e6b8ddd1e81.html"  target="element">
				  				<area shape="rect" coords="94,730,214,785" href="../elements/c463ad6a-9507-4282-adbc-9aa5ebfb303e.html"  target="element">
				  				<area shape="rect" coords="682,732,802,787" href="../elements/b3b783f9-30e5-4841-b6a7-bf34d163d424.html"  target="element">
				  				<area shape="rect" coords="298,730,418,785" href="../elements/f62eabb3-77d2-4b16-9a1f-b5781afcf674.html"  target="element">
				  				<area shape="rect" coords="467,730,587,785" href="../elements/2ca2857e-86ce-42ad-bd7c-7d28b9cc17b7.html"  target="element">

				  		<area shape="rect" coords="10,550,851,959" href="../elements/689174b5-063b-4f9b-af8d-da5642b2576a.html"  target="element">
				  				<area shape="rect" coords="1882,730,2002,785" href="../elements/fcd3b706-fe79-420a-b021-6e85d566835c.html"  target="element">
				  				<area shape="rect" coords="1474,730,1594,785" href="../elements/fef1c035-5f96-4d71-a33a-65fbe06b111d.html"  target="element">
				  				<area shape="rect" coords="2086,730,2206,785" href="../elements/6dd308ca-0497-4c76-bedb-9c72f945007f.html"  target="element">
				  				<area shape="rect" coords="1702,730,1822,785" href="../elements/2a5f99b3-113e-4aca-a223-c733ac366dbd.html"  target="element">

				  		<area shape="rect" coords="1414,550,2255,959" href="../elements/3135d87b-c33e-4fc7-8cb7-deec0be1f531.html"  target="element">
				  						<area shape="rect" coords="1078,730,1198,785" href="../elements/025d0b3c-25cd-435b-b54e-63eb1b1e5769.html"  target="element">

				  				<area shape="rect" coords="1042,658,1223,851" href="../elements/c453c720-c289-4389-874c-deb733593f20.html"  target="element">

				  		<area shape="rect" coords="922,550,1331,959" href="../elements/5f7c9216-1159-45ae-a48a-d2782624da13.html"  target="element">
				  				<area shape="rect" coords="1066,358,1186,413" href="../elements/6367635c-b923-475d-a585-2d481985ba99.html"  target="element">
				  				<area shape="rect" coords="1066,262,1186,317" href="../elements/46c7c8ec-4db2-4732-a4f2-3a3be19add81.html"  target="element">
				  				<area shape="rect" coords="1066,166,1186,221" href="../elements/2c81e096-e61f-4c67-952c-16377e570616.html"  target="element">
				  				<area shape="rect" coords="1066,70,1186,125" href="../elements/8a0ca238-94c1-4cc7-a48c-8360b7577d82.html"  target="element">

				  		<area shape="rect" coords="922,10,1331,491" href="../elements/caf1f25e-19be-4251-8316-1a096f76e5fa.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/caf1f25e-19be-4251-8316-1a096f76e5fa.html" target="element"> Tjenesteforvaltning ERP/ &#216;konomi (Regional) </a> </td>
											    <td> <a href="../elements/caf1f25e-19be-4251-8316-1a096f76e5fa.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/8a0ca238-94c1-4cc7-a48c-8360b7577d82.html" target="element"> Regional ERP - Nord </a> </td>
													    <td> <a href="../elements/8a0ca238-94c1-4cc7-a48c-8360b7577d82.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/2c81e096-e61f-4c67-952c-16377e570616.html" target="element"> ERP Helse Nord (Clockwork) </a> </td>
													    <td> <a href="../elements/2c81e096-e61f-4c67-952c-16377e570616.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/46c7c8ec-4db2-4732-a4f2-3a3be19add81.html" target="element"> CW API </a> </td>
													    <td> <a href="../elements/46c7c8ec-4db2-4732-a4f2-3a3be19add81.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/6367635c-b923-475d-a585-2d481985ba99.html" target="element"> EHF.2.CW </a> </td>
													    <td> <a href="../elements/6367635c-b923-475d-a585-2d481985ba99.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/5f7c9216-1159-45ae-a48a-d2782624da13.html" target="element"> PEPPOL AP (SHI) </a> </td>
											    <td> <a href="../elements/5f7c9216-1159-45ae-a48a-d2782624da13.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/c453c720-c289-4389-874c-deb733593f20.html" target="element"> PEPPOL BIS Catalog (EHF) </a> </td>
													    <td> <a href="../elements/c453c720-c289-4389-874c-deb733593f20.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/025d0b3c-25cd-435b-b54e-63eb1b1e5769.html" target="element"> Leverand&#248;r katalog (utstedt) </a> </td>
															    <td> <a href="../elements/025d0b3c-25cd-435b-b54e-63eb1b1e5769.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/3135d87b-c33e-4fc7-8cb7-deec0be1f531.html" target="element"> Helse Mict-Norge Tjenesteforvaltning ERP/ &#216;konomi (Regional) </a> </td>
											    <td> <a href="../elements/3135d87b-c33e-4fc7-8cb7-deec0be1f531.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/2a5f99b3-113e-4aca-a223-c733ac366dbd.html" target="element"> SAP API 1 </a> </td>
													    <td> <a href="../elements/2a5f99b3-113e-4aca-a223-c733ac366dbd.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/6dd308ca-0497-4c76-bedb-9c72f945007f.html" target="element"> Regional ERP - Midt-Norge </a> </td>
													    <td> <a href="../elements/6dd308ca-0497-4c76-bedb-9c72f945007f.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/fef1c035-5f96-4d71-a33a-65fbe06b111d.html" target="element"> EHF.2.SAP (Midt-Norge) </a> </td>
													    <td> <a href="../elements/fef1c035-5f96-4d71-a33a-65fbe06b111d.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/fcd3b706-fe79-420a-b021-6e85d566835c.html" target="element"> ERP Helse Midt-Norge (SAP xxx) </a> </td>
													    <td> <a href="../elements/fcd3b706-fe79-420a-b021-6e85d566835c.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/689174b5-063b-4f9b-af8d-da5642b2576a.html" target="element"> Helse Vest Tjenesteforvaltning ERP/ &#216;konomi (Regional) </a> </td>
											    <td> <a href="../elements/689174b5-063b-4f9b-af8d-da5642b2576a.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/2ca2857e-86ce-42ad-bd7c-7d28b9cc17b7.html" target="element"> SAP API 2 </a> </td>
													    <td> <a href="../elements/2ca2857e-86ce-42ad-bd7c-7d28b9cc17b7.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/f62eabb3-77d2-4b16-9a1f-b5781afcf674.html" target="element"> ERP Helse vest (SAP Libra) </a> </td>
													    <td> <a href="../elements/f62eabb3-77d2-4b16-9a1f-b5781afcf674.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/b3b783f9-30e5-4841-b6a7-bf34d163d424.html" target="element"> EHF.2.SAP(Vest) </a> </td>
													    <td> <a href="../elements/b3b783f9-30e5-4841-b6a7-bf34d163d424.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/c463ad6a-9507-4282-adbc-9aa5ebfb303e.html" target="element"> Regional ERP - Vest </a> </td>
													    <td> <a href="../elements/c463ad6a-9507-4282-adbc-9aa5ebfb303e.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/e354b75d-6686-4b6a-be2a-8e6b8ddd1e81.html" target="element"> Helse s&#248;r-&#248;st Tjenesteforvaltning ERP/ &#216;konomi (Regional) </a> </td>
											    <td> <a href="../elements/e354b75d-6686-4b6a-be2a-8e6b8ddd1e81.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/92f58b6c-de82-4bac-a1b9-24a9d40c3d27.html" target="element"> Regional ERP - S&#248;r-&#248;st </a> </td>
													    <td> <a href="../elements/92f58b6c-de82-4bac-a1b9-24a9d40c3d27.html" target="element" class="i18n-elementtype-BusinessService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/6a47e2ee-3e20-4e3d-99fc-ca72b8294405.html" target="element"> OF API </a> </td>
													    <td> <a href="../elements/6a47e2ee-3e20-4e3d-99fc-ca72b8294405.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/e8e43755-a6e4-4ef2-93b4-a8bce6236c14.html" target="element"> ERP Helse s&#248;r-&#248;st (Oracle Finacials) </a> </td>
													    <td> <a href="../elements/e8e43755-a6e4-4ef2-93b4-a8bce6236c14.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/3b4368eb-3616-44b4-a824-87466610d124.html" target="element"> EHF.2.OF </a> </td>
													    <td> <a href="../elements/3b4368eb-3616-44b4-a824-87466610d124.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/1800067a-6783-496f-b9ad-6e06e38ea950.html" target="element">  </a> </td>
																		<td> <a href="../elements/1800067a-6783-496f-b9ad-6e06e38ea950.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/caf1f25e-19be-4251-8316-1a096f76e5fa.html" target="element"> Tjenesteforvaltning ERP/ &#216;konomi (Regional) </a> </td>
																		<td> <a href="../elements/8a0ca238-94c1-4cc7-a48c-8360b7577d82.html" target="element"> Regional ERP - Nord </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/c07b601c-f31a-4033-9c69-4fb751a1f450.html" target="element">  </a> </td>
																				<td> <a href="../elements/c07b601c-f31a-4033-9c69-4fb751a1f450.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/2c81e096-e61f-4c67-952c-16377e570616.html" target="element"> ERP Helse Nord (Clockwork) </a> </td>
																				<td> <a href="../elements/8a0ca238-94c1-4cc7-a48c-8360b7577d82.html" target="element"> Regional ERP - Nord </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/0c53d4c3-19fa-414a-94db-96ef6ee0fc50.html" target="element">  </a> </td>
																				<td> <a href="../elements/0c53d4c3-19fa-414a-94db-96ef6ee0fc50.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/46c7c8ec-4db2-4732-a4f2-3a3be19add81.html" target="element"> CW API </a> </td>
																				<td> <a href="../elements/2c81e096-e61f-4c67-952c-16377e570616.html" target="element"> ERP Helse Nord (Clockwork) </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/3d506b1e-9448-4e1f-b659-494d98157091.html" target="element">  </a> </td>
																				<td> <a href="../elements/3d506b1e-9448-4e1f-b659-494d98157091.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/6367635c-b923-475d-a585-2d481985ba99.html" target="element"> EHF.2.CW </a> </td>
																				<td> <a href="../elements/46c7c8ec-4db2-4732-a4f2-3a3be19add81.html" target="element"> CW API </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/a2297433-fac6-45fb-a763-2babb0cf5f9f.html" target="element">  </a> </td>
																				<td> <a href="../elements/a2297433-fac6-45fb-a763-2babb0cf5f9f.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/6367635c-b923-475d-a585-2d481985ba99.html" target="element"> EHF.2.CW </a> </td>
																				<td> <a href="../elements/025d0b3c-25cd-435b-b54e-63eb1b1e5769.html" target="element"> Leverand&#248;r katalog (utstedt) </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/c6265854-f412-4dd4-85a1-94ccf43b6fdf.html" target="element">  </a> </td>
																		<td> <a href="../elements/c6265854-f412-4dd4-85a1-94ccf43b6fdf.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/5f7c9216-1159-45ae-a48a-d2782624da13.html" target="element"> PEPPOL AP (SHI) </a> </td>
																		<td> <a href="../elements/c453c720-c289-4389-874c-deb733593f20.html" target="element"> PEPPOL BIS Catalog (EHF) </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/0d876661-3e3f-4b1f-a81b-7b91bca33f4a.html" target="element">  </a> </td>
																				<td> <a href="../elements/0d876661-3e3f-4b1f-a81b-7b91bca33f4a.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/c453c720-c289-4389-874c-deb733593f20.html" target="element"> PEPPOL BIS Catalog (EHF) </a> </td>
																				<td> <a href="../elements/025d0b3c-25cd-435b-b54e-63eb1b1e5769.html" target="element"> Leverand&#248;r katalog (utstedt) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/c18a9d9c-9c74-4bef-999b-60a46171ad8a.html" target="element">  </a> </td>
																				<td> <a href="../elements/c18a9d9c-9c74-4bef-999b-60a46171ad8a.html" target="element" class="i18n-elementtype-FlowRelationship"></a> </td>
																				<td> <a href="../elements/c453c720-c289-4389-874c-deb733593f20.html" target="element"> PEPPOL BIS Catalog (EHF) </a> </td>
																				<td> <a href="../elements/5f7c9216-1159-45ae-a48a-d2782624da13.html" target="element"> PEPPOL AP (SHI) </a> </td>
																			</tr>

													
											
																	<tr>
																		<td> <a href="../elements/89e4bae9-6257-4691-b508-427b42d395fd.html" target="element">  </a> </td>
																		<td> <a href="../elements/89e4bae9-6257-4691-b508-427b42d395fd.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/3135d87b-c33e-4fc7-8cb7-deec0be1f531.html" target="element"> Helse Mict-Norge Tjenesteforvaltning ERP/ &#216;konomi (Regional) </a> </td>
																		<td> <a href="../elements/6dd308ca-0497-4c76-bedb-9c72f945007f.html" target="element"> Regional ERP - Midt-Norge </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/51c2ba5e-8f57-43a8-84c2-c9d168bf80eb.html" target="element">  </a> </td>
																				<td> <a href="../elements/51c2ba5e-8f57-43a8-84c2-c9d168bf80eb.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/2a5f99b3-113e-4aca-a223-c733ac366dbd.html" target="element"> SAP API 1 </a> </td>
																				<td> <a href="../elements/fcd3b706-fe79-420a-b021-6e85d566835c.html" target="element"> ERP Helse Midt-Norge (SAP xxx) </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/d55b3b3e-a307-4f7d-8c01-38b33574d5b9.html" target="element">  </a> </td>
																				<td> <a href="../elements/d55b3b3e-a307-4f7d-8c01-38b33574d5b9.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/fef1c035-5f96-4d71-a33a-65fbe06b111d.html" target="element"> EHF.2.SAP (Midt-Norge) </a> </td>
																				<td> <a href="../elements/2a5f99b3-113e-4aca-a223-c733ac366dbd.html" target="element"> SAP API 1 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/677be414-64b9-41ab-9ab1-4f95266ce2ef.html" target="element">  </a> </td>
																				<td> <a href="../elements/677be414-64b9-41ab-9ab1-4f95266ce2ef.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/fef1c035-5f96-4d71-a33a-65fbe06b111d.html" target="element"> EHF.2.SAP (Midt-Norge) </a> </td>
																				<td> <a href="../elements/025d0b3c-25cd-435b-b54e-63eb1b1e5769.html" target="element"> Leverand&#248;r katalog (utstedt) </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/e21b21f5-fad1-4167-a8e9-61ac57c0178b.html" target="element">  </a> </td>
																				<td> <a href="../elements/e21b21f5-fad1-4167-a8e9-61ac57c0178b.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/fcd3b706-fe79-420a-b021-6e85d566835c.html" target="element"> ERP Helse Midt-Norge (SAP xxx) </a> </td>
																				<td> <a href="../elements/6dd308ca-0497-4c76-bedb-9c72f945007f.html" target="element"> Regional ERP - Midt-Norge </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/c587abf5-39d3-4f2b-938d-dc83af5753dc.html" target="element">  </a> </td>
																		<td> <a href="../elements/c587abf5-39d3-4f2b-938d-dc83af5753dc.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/689174b5-063b-4f9b-af8d-da5642b2576a.html" target="element"> Helse Vest Tjenesteforvaltning ERP/ &#216;konomi (Regional) </a> </td>
																		<td> <a href="../elements/c463ad6a-9507-4282-adbc-9aa5ebfb303e.html" target="element"> Regional ERP - Vest </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/656b8262-761f-4049-b9fe-211a607307c9.html" target="element">  </a> </td>
																				<td> <a href="../elements/656b8262-761f-4049-b9fe-211a607307c9.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/2ca2857e-86ce-42ad-bd7c-7d28b9cc17b7.html" target="element"> SAP API 2 </a> </td>
																				<td> <a href="../elements/f62eabb3-77d2-4b16-9a1f-b5781afcf674.html" target="element"> ERP Helse vest (SAP Libra) </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/10ba85c5-9277-4e6e-9c74-e440eabe2ab2.html" target="element">  </a> </td>
																				<td> <a href="../elements/10ba85c5-9277-4e6e-9c74-e440eabe2ab2.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/f62eabb3-77d2-4b16-9a1f-b5781afcf674.html" target="element"> ERP Helse vest (SAP Libra) </a> </td>
																				<td> <a href="../elements/c463ad6a-9507-4282-adbc-9aa5ebfb303e.html" target="element"> Regional ERP - Vest </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/66ad4bee-ed7a-4d92-a392-72e3d4e51f4a.html" target="element">  </a> </td>
																				<td> <a href="../elements/66ad4bee-ed7a-4d92-a392-72e3d4e51f4a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/b3b783f9-30e5-4841-b6a7-bf34d163d424.html" target="element"> EHF.2.SAP(Vest) </a> </td>
																				<td> <a href="../elements/2ca2857e-86ce-42ad-bd7c-7d28b9cc17b7.html" target="element"> SAP API 2 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/702e22ef-f6f6-42a9-a804-fed9a0c8930e.html" target="element">  </a> </td>
																				<td> <a href="../elements/702e22ef-f6f6-42a9-a804-fed9a0c8930e.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/b3b783f9-30e5-4841-b6a7-bf34d163d424.html" target="element"> EHF.2.SAP(Vest) </a> </td>
																				<td> <a href="../elements/025d0b3c-25cd-435b-b54e-63eb1b1e5769.html" target="element"> Leverand&#248;r katalog (utstedt) </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/85c5a2cb-c8ef-4256-8261-7316f05b0fa0.html" target="element">  </a> </td>
																		<td> <a href="../elements/85c5a2cb-c8ef-4256-8261-7316f05b0fa0.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/e354b75d-6686-4b6a-be2a-8e6b8ddd1e81.html" target="element"> Helse s&#248;r-&#248;st Tjenesteforvaltning ERP/ &#216;konomi (Regional) </a> </td>
																		<td> <a href="../elements/92f58b6c-de82-4bac-a1b9-24a9d40c3d27.html" target="element"> Regional ERP - S&#248;r-&#248;st </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/36ec2aaa-3c1d-420c-be2d-328ac4e9e56f.html" target="element">  </a> </td>
																				<td> <a href="../elements/36ec2aaa-3c1d-420c-be2d-328ac4e9e56f.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																				<td> <a href="../elements/6a47e2ee-3e20-4e3d-99fc-ca72b8294405.html" target="element"> OF API </a> </td>
																				<td> <a href="../elements/e8e43755-a6e4-4ef2-93b4-a8bce6236c14.html" target="element"> ERP Helse s&#248;r-&#248;st (Oracle Finacials) </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/0d624502-2233-4928-bc36-fe4a5e5772ce.html" target="element">  </a> </td>
																				<td> <a href="../elements/0d624502-2233-4928-bc36-fe4a5e5772ce.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/e8e43755-a6e4-4ef2-93b4-a8bce6236c14.html" target="element"> ERP Helse s&#248;r-&#248;st (Oracle Finacials) </a> </td>
																				<td> <a href="../elements/92f58b6c-de82-4bac-a1b9-24a9d40c3d27.html" target="element"> Regional ERP - S&#248;r-&#248;st </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/9d065b19-d5c4-4ffc-942c-d3f1e967b747.html" target="element">  </a> </td>
																				<td> <a href="../elements/9d065b19-d5c4-4ffc-942c-d3f1e967b747.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/3b4368eb-3616-44b4-a824-87466610d124.html" target="element"> EHF.2.OF </a> </td>
																				<td> <a href="../elements/6a47e2ee-3e20-4e3d-99fc-ca72b8294405.html" target="element"> OF API </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/c8a52201-c4b1-46b9-860e-ba9474fc6ac3.html" target="element">  </a> </td>
																				<td> <a href="../elements/c8a52201-c4b1-46b9-860e-ba9474fc6ac3.html" target="element" class="i18n-elementtype-AccessRelationship"></a> </td>
																				<td> <a href="../elements/3b4368eb-3616-44b4-a824-87466610d124.html" target="element"> EHF.2.OF </a> </td>
																				<td> <a href="../elements/025d0b3c-25cd-435b-b54e-63eb1b1e5769.html" target="element"> Leverand&#248;r katalog (utstedt) </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>