<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>DPIA</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>DPIA</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/97bb37b6-79f0-41e6-9ec2-59f0af379323.png" alt="DPIA" usemap="#97bb37b6-79f0-41e6-9ec2-59f0af379323map">
			<map name="97bb37b6-79f0-41e6-9ec2-59f0af379323map">
						<area shape="rect" coords="370,106,490,161" href="../elements/52fc462c-2bb8-4413-a987-f19ed78a22ab.html"  target="element">
						<area shape="rect" coords="550,220,670,275" href="../elements/3ed46c03-d1d8-41e2-8912-9904a0d21a04.html"  target="element">
								<area shape="rect" coords="694,175,814,230" href="../elements/639cf616-e7bb-4089-9be1-a283374209c7.html"  target="element">
								<area shape="rect" coords="694,247,814,302" href="../elements/b57fb0e6-5719-461d-b2c1-587407348561.html"  target="element">
								<area shape="rect" coords="694,319,814,374" href="../elements/3c0a9dbe-a746-4938-88ee-9f14c0f9d3f8.html"  target="element">

						<area shape="rect" coords="694,115,814,392" href="../elements/ec39f600-4843-4186-8b08-709c43daf467.html"  target="element">
						<area shape="rect" coords="370,346,490,401" href="../elements/bc1d4220-4997-414a-b0a6-585b5f822e1c.html"  target="element">
						<area shape="rect" coords="550,10,670,65" href="../elements/01420e3a-e34a-4c67-8973-cf526c2ba701.html"  target="element">
						<area shape="rect" coords="94,106,214,161" href="../elements/8a2f00a7-6381-416f-9226-630d7c41ea74.html"  target="element">
						<area shape="rect" coords="94,346,214,401" href="../elements/e53cfa18-ef3d-4894-998b-08e82899f1a9.html"  target="element">
						<area shape="rect" coords="550,442,670,497" href="../elements/0429c2ec-4eb3-4382-b842-cd6fd2b1f463.html"  target="element">
						<area shape="rect" coords="10,226,130,281" href="../elements/da8e151d-836a-4f93-bb2e-331154ce57a3.html"  target="element">
						<area shape="rect" coords="1102,220,1222,275" href="../elements/4dbda158-05b9-4a45-98cc-02c285988324.html"  target="element">
						<area shape="rect" coords="1018,442,1138,497" href="../elements/eb00e723-7371-411c-bdbf-b1ad7eb2cb78.html"  target="element">
						<area shape="rect" coords="1018,10,1138,65" href="../elements/a6b1fade-d082-4e1a-aa27-64d722c25fe9.html"  target="element">
								<area shape="rect" coords="226,262,346,317" href="../elements/716e4e0a-ca05-4cfe-a7ea-6c9aa1cbf730.html"  target="element">
								<area shape="rect" coords="226,202,346,257" href="../elements/58f26474-02f2-45d2-bc68-aff3c128b046.html"  target="element">

						<area shape="rect" coords="226,166,347,335" href="../elements/c9ffbaaf-e1e8-41d6-9e01-5d369fc680c5.html"  target="element">
						<area shape="rect" coords="862,220,982,275" href="../elements/c09b4e5d-de16-4e75-a2b7-a03c61512712.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
					<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="elements">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
								</tr>
							</thead>
							<tbody>
										<tr><td> <a href="../elements/52fc462c-2bb8-4413-a987-f19ed78a22ab.html" target="element"> Sannsynlighet medf&#248;rer h&#248;y risiko </a> </td><td class="i18n-elementtype-BusinessEvent"></td></tr>
										<tr><td> <a href="../elements/3ed46c03-d1d8-41e2-8912-9904a0d21a04.html" target="element"> GDPR Artikkel 35 </a> </td><td class="i18n-elementtype-Requirement"></td></tr>
										<tr><td> <a href="../elements/ec39f600-4843-4186-8b08-709c43daf467.html" target="element"> Vurdering av personvernkonsekvenser </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/639cf616-e7bb-4089-9be1-a283374209c7.html" target="element"> R&#229;d fra PVO som kontrollerer gjennomf&#248;ringen </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/b57fb0e6-5719-461d-b2c1-587407348561.html" target="element"> Adferdsnormer </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/3c0a9dbe-a746-4938-88ee-9f14c0f9d3f8.html" target="element"> Innhente synspunkter fra de registrerte </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
										
										<tr><td> <a href="../elements/bc1d4220-4997-414a-b0a6-585b5f822e1c.html" target="element"> Det er funnet grunnlag for unntak </a> </td><td class="i18n-elementtype-BusinessEvent"></td></tr>
										<tr><td> <a href="../elements/01420e3a-e34a-4c67-8973-cf526c2ba701.html" target="element"> Personvern konsekvensvurdering </a> </td><td class="i18n-elementtype-Assessment"></td></tr>
										<tr><td> <a href="../elements/8a2f00a7-6381-416f-9226-630d7c41ea74.html" target="element"> IKT-Tjenesteutvikling </a> </td><td class="i18n-elementtype-BusinessCollaboration"></td></tr>
										<tr><td> <a href="../elements/e53cfa18-ef3d-4894-998b-08e82899f1a9.html" target="element"> IKT-tjenesteforvaltning </a> </td><td class="i18n-elementtype-BusinessCollaboration"></td></tr>
										<tr><td> <a href="../elements/0429c2ec-4eb3-4382-b842-cd6fd2b1f463.html" target="element"> Ikke krav om konsekvensutredning </a> </td><td class="i18n-elementtype-Principle"></td></tr>
										<tr><td> <a href="../elements/da8e151d-836a-4f93-bb2e-331154ce57a3.html" target="element"> Personvernombud </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
										<tr><td> <a href="../elements/4dbda158-05b9-4a45-98cc-02c285988324.html" target="element"> GDPR Artikkel 36 </a> </td><td class="i18n-elementtype-Requirement"></td></tr>
										<tr><td> <a href="../elements/eb00e723-7371-411c-bdbf-b1ad7eb2cb78.html" target="element"> Ingen forh&#229;ndsdr&#248;ftelse </a> </td><td class="i18n-elementtype-Principle"></td></tr>
										<tr><td> <a href="../elements/a6b1fade-d082-4e1a-aa27-64d722c25fe9.html" target="element"> Forh&#229;ndsdr&#248;ftelse </a> </td><td class="i18n-elementtype-Principle"></td></tr>
										<tr><td> <a href="../elements/c9ffbaaf-e1e8-41d6-9e01-5d369fc680c5.html" target="element"> Endringsstyring </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/716e4e0a-ca05-4cfe-a7ea-6c9aa1cbf730.html" target="element"> Revidering av behov </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/58f26474-02f2-45d2-bc68-aff3c128b046.html" target="element"> Sannsynlighetsvurdering </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
										
										<tr><td> <a href="../elements/c09b4e5d-de16-4e75-a2b7-a03c61512712.html" target="element"> H&#248;y restrisiko </a> </td><td class="i18n-elementtype-BusinessEvent"></td></tr>

							</tbody>
						</table>
					</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>