<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>DPIA</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>DPIA</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/97bb37b6-79f0-41e6-9ec2-59f0af379323.png" alt="DPIA" usemap="#97bb37b6-79f0-41e6-9ec2-59f0af379323map"/>
			   <map name="97bb37b6-79f0-41e6-9ec2-59f0af379323map">
				  		<area shape="rect" coords="44,742,1329,779" href="../elements/id-e57f8435e0d84e9694e25663bea01b7b.html"  target="element">
				  				<area shape="rect" coords="572,610,692,665" href="../elements/c1230933-88f1-48c8-80a7-60a56bd9d40b.html"  target="element">
				  				<area shape="rect" coords="332,610,452,665" href="../elements/60f0584f-94f7-4862-a18c-f6ac52f4b8d2.html"  target="element">
				  				<area shape="rect" coords="1124,610,1244,665" href="../elements/a96ca088-b87d-41e2-b705-a3e9790ec58f.html"  target="element">

				  		<area shape="rect" coords="44,574,1329,719" href="../elements/3f9efe50-ab00-48e6-8947-0fbb6d656880.html"  target="element">
				  		<area shape="rect" coords="44,130,164,185" href="../elements/2ae797dc-399d-4ab1-bc36-45f12d8dd2b4.html"  target="element">
				  		<area shape="rect" coords="44,370,164,425" href="../elements/65ed53ed-19f0-43e4-b10f-957ca15c4be8.html"  target="element">
				  		<area shape="rect" coords="128,250,248,305" href="../elements/b745bfac-dd2a-4006-8b03-00397930c63f.html"  target="element">
				  		<area shape="rect" coords="968,244,1088,299" href="../elements/c09b4e5d-de16-4e75-a2b7-a03c61512712.html"  target="element">
				  				<area shape="rect" coords="332,82,452,137" href="../elements/id-e8ab366e17304ad9992ab77beed6b5eb.html"  target="element">
				  				<area shape="rect" coords="332,154,452,209" href="../elements/id-ef2553c920d04fb59d24c0d04809c535.html"  target="element">
				  				<area shape="rect" coords="332,226,452,281" href="../elements/58f26474-02f2-45d2-bc68-aff3c128b046.html"  target="element">
				  				<area shape="rect" coords="332,298,452,353" href="../elements/716e4e0a-ca05-4cfe-a7ea-6c9aa1cbf730.html"  target="element">

				  		<area shape="rect" coords="332,22,453,515" href="../elements/c9ffbaaf-e1e8-41d6-9e01-5d369fc680c5.html"  target="element">
				  		<area shape="rect" coords="1124,10,1244,65" href="../elements/a6b1fade-d082-4e1a-aa27-64d722c25fe9.html"  target="element">
				  		<area shape="rect" coords="1124,466,1244,521" href="../elements/eb00e723-7371-411c-bdbf-b1ad7eb2cb78.html"  target="element">
				  		<area shape="rect" coords="1208,244,1328,299" href="../elements/4dbda158-05b9-4a45-98cc-02c285988324.html"  target="element">
				  		<area shape="rect" coords="656,466,776,521" href="../elements/0429c2ec-4eb3-4382-b842-cd6fd2b1f463.html"  target="element">
				  		<area shape="rect" coords="200,370,320,425" href="../elements/e53cfa18-ef3d-4894-998b-08e82899f1a9.html"  target="element">
				  		<area shape="rect" coords="200,130,320,185" href="../elements/8a2f00a7-6381-416f-9226-630d7c41ea74.html"  target="element">
				  		<area shape="rect" coords="656,10,776,65" href="../elements/01420e3a-e34a-4c67-8973-cf526c2ba701.html"  target="element">
				  		<area shape="rect" coords="476,370,596,425" href="../elements/bc1d4220-4997-414a-b0a6-585b5f822e1c.html"  target="element">
				  				<area shape="rect" coords="800,346,920,419" href="../elements/3c0a9dbe-a746-4938-88ee-9f14c0f9d3f8.html"  target="element">
				  				<area shape="rect" coords="800,283,920,338" href="../elements/b57fb0e6-5719-461d-b2c1-587407348561.html"  target="element">
				  				<area shape="rect" coords="800,199,920,272" href="../elements/639cf616-e7bb-4089-9be1-a283374209c7.html"  target="element">

				  		<area shape="rect" coords="800,118,920,443" href="../elements/ec39f600-4843-4186-8b08-709c43daf467.html"  target="element">
				  		<area shape="rect" coords="656,244,776,299" href="../elements/3ed46c03-d1d8-41e2-8912-9904a0d21a04.html"  target="element">
				  		<area shape="rect" coords="476,130,596,185" href="../elements/52fc462c-2bb8-4413-a987-f19ed78a22ab.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/52fc462c-2bb8-4413-a987-f19ed78a22ab.html" target="element"> Sannsynlighet medf&#248;rer h&#248;y risiko </a> </td>
											    <td> <a href="../elements/52fc462c-2bb8-4413-a987-f19ed78a22ab.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3ed46c03-d1d8-41e2-8912-9904a0d21a04.html" target="element"> GDPR Artikkel 35 </a> </td>
											    <td> <a href="../elements/3ed46c03-d1d8-41e2-8912-9904a0d21a04.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ec39f600-4843-4186-8b08-709c43daf467.html" target="element"> Vurdering av personvernkonsekvenser </a> </td>
											    <td> <a href="../elements/ec39f600-4843-4186-8b08-709c43daf467.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/639cf616-e7bb-4089-9be1-a283374209c7.html" target="element"> R&#229;d fra PVO som kontrollerer gjennomf&#248;ringen </a> </td>
													    <td> <a href="../elements/639cf616-e7bb-4089-9be1-a283374209c7.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/b57fb0e6-5719-461d-b2c1-587407348561.html" target="element"> Adferdsnormer </a> </td>
													    <td> <a href="../elements/b57fb0e6-5719-461d-b2c1-587407348561.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/3c0a9dbe-a746-4938-88ee-9f14c0f9d3f8.html" target="element"> Innhente synspunkter fra de registrerte </a> </td>
													    <td> <a href="../elements/3c0a9dbe-a746-4938-88ee-9f14c0f9d3f8.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/bc1d4220-4997-414a-b0a6-585b5f822e1c.html" target="element"> Det er funnet grunnlag for unntak </a> </td>
											    <td> <a href="../elements/bc1d4220-4997-414a-b0a6-585b5f822e1c.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/01420e3a-e34a-4c67-8973-cf526c2ba701.html" target="element"> Personvern konsekvensvurdering </a> </td>
											    <td> <a href="../elements/01420e3a-e34a-4c67-8973-cf526c2ba701.html" target="element" class="i18n-elementtype-Assessment">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/8a2f00a7-6381-416f-9226-630d7c41ea74.html" target="element"> IKT-Tjenesteutvikling-- </a> </td>
											    <td> <a href="../elements/8a2f00a7-6381-416f-9226-630d7c41ea74.html" target="element" class="i18n-elementtype-BusinessCollaboration">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e53cfa18-ef3d-4894-998b-08e82899f1a9.html" target="element"> IKT-tjenesteforvaltning </a> </td>
											    <td> <a href="../elements/e53cfa18-ef3d-4894-998b-08e82899f1a9.html" target="element" class="i18n-elementtype-BusinessCollaboration">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0429c2ec-4eb3-4382-b842-cd6fd2b1f463.html" target="element"> Ikke krav om konsekvensutredning </a> </td>
											    <td> <a href="../elements/0429c2ec-4eb3-4382-b842-cd6fd2b1f463.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/4dbda158-05b9-4a45-98cc-02c285988324.html" target="element"> GDPR Artikkel 36 </a> </td>
											    <td> <a href="../elements/4dbda158-05b9-4a45-98cc-02c285988324.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/eb00e723-7371-411c-bdbf-b1ad7eb2cb78.html" target="element"> Ingen forh&#229;ndsdr&#248;ftelse </a> </td>
											    <td> <a href="../elements/eb00e723-7371-411c-bdbf-b1ad7eb2cb78.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a6b1fade-d082-4e1a-aa27-64d722c25fe9.html" target="element"> Forh&#229;ndsdr&#248;ftelse </a> </td>
											    <td> <a href="../elements/a6b1fade-d082-4e1a-aa27-64d722c25fe9.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c9ffbaaf-e1e8-41d6-9e01-5d369fc680c5.html" target="element"> Endringsstyring </a> </td>
											    <td> <a href="../elements/c9ffbaaf-e1e8-41d6-9e01-5d369fc680c5.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/716e4e0a-ca05-4cfe-a7ea-6c9aa1cbf730.html" target="element"> Revurdering av behov </a> </td>
													    <td> <a href="../elements/716e4e0a-ca05-4cfe-a7ea-6c9aa1cbf730.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/58f26474-02f2-45d2-bc68-aff3c128b046.html" target="element"> Sannsynlighetsvurdering </a> </td>
													    <td> <a href="../elements/58f26474-02f2-45d2-bc68-aff3c128b046.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ef2553c920d04fb59d24c0d04809c535.html" target="element"> Vurdering av form&#229;l </a> </td>
													    <td> <a href="../elements/id-ef2553c920d04fb59d24c0d04809c535.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e8ab366e17304ad9992ab77beed6b5eb.html" target="element"> Vurdering av behov </a> </td>
													    <td> <a href="../elements/id-e8ab366e17304ad9992ab77beed6b5eb.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/c09b4e5d-de16-4e75-a2b7-a03c61512712.html" target="element"> H&#248;y restrisiko </a> </td>
											    <td> <a href="../elements/c09b4e5d-de16-4e75-a2b7-a03c61512712.html" target="element" class="i18n-elementtype-BusinessEvent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b745bfac-dd2a-4006-8b03-00397930c63f.html" target="element"> IKT-Sikkerhetsr&#229;d </a> </td>
											    <td> <a href="../elements/b745bfac-dd2a-4006-8b03-00397930c63f.html" target="element" class="i18n-elementtype-BusinessInteraction">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/65ed53ed-19f0-43e4-b10f-957ca15c4be8.html" target="element"> Personvernombud (PVO) </a> </td>
											    <td> <a href="../elements/65ed53ed-19f0-43e4-b10f-957ca15c4be8.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2ae797dc-399d-4ab1-bc36-45f12d8dd2b4.html" target="element"> Informasjonssikkerhetsleder (ISL) </a> </td>
											    <td> <a href="../elements/2ae797dc-399d-4ab1-bc36-45f12d8dd2b4.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3f9efe50-ab00-48e6-8947-0fbb6d656880.html" target="element"> IKT Tjenestestyring </a> </td>
											    <td> <a href="../elements/3f9efe50-ab00-48e6-8947-0fbb6d656880.html" target="element" class="i18n-elementtype-BusinessFunction">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/a96ca088-b87d-41e2-b705-a3e9790ec58f.html" target="element"> ITIL SO Service Request fulfilment </a> </td>
													    <td> <a href="../elements/a96ca088-b87d-41e2-b705-a3e9790ec58f.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/60f0584f-94f7-4862-a18c-f6ac52f4b8d2.html" target="element"> ITIL Endringsstyring </a> </td>
													    <td> <a href="../elements/60f0584f-94f7-4862-a18c-f6ac52f4b8d2.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/c1230933-88f1-48c8-80a7-60a56bd9d40b.html" target="element"> ITIL Informasjonssikkerhetsstyring </a> </td>
													    <td> <a href="../elements/c1230933-88f1-48c8-80a7-60a56bd9d40b.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-e57f8435e0d84e9694e25663bea01b7b.html" target="element"> Sikre at behandling av personopplysninger foreg&#229;r i samsvar med regelverk  </a> </td>
											    <td> <a href="../elements/id-e57f8435e0d84e9694e25663bea01b7b.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/b24a2b70-d2df-49bb-b378-a1f5f7c174f5.html" target="element">  </a> </td>
																		<td> <a href="../elements/b24a2b70-d2df-49bb-b378-a1f5f7c174f5.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/52fc462c-2bb8-4413-a987-f19ed78a22ab.html" target="element"> Sannsynlighet medf&#248;rer h&#248;y risiko </a> </td>
																		<td> <a href="../elements/01420e3a-e34a-4c67-8973-cf526c2ba701.html" target="element"> Personvern konsekvensvurdering </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/fd3a395a-1b80-4954-9ef5-631e6523f4e1.html" target="element"> Nei </a> </td>
																		<td> <a href="../elements/fd3a395a-1b80-4954-9ef5-631e6523f4e1.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/52fc462c-2bb8-4413-a987-f19ed78a22ab.html" target="element"> Sannsynlighet medf&#248;rer h&#248;y risiko </a> </td>
																		<td> <a href="../elements/3ed46c03-d1d8-41e2-8912-9904a0d21a04.html" target="element"> GDPR Artikkel 35 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/05ed898e-9e61-47a2-9ec9-1b60db1325b8.html" target="element">  </a> </td>
																		<td> <a href="../elements/05ed898e-9e61-47a2-9ec9-1b60db1325b8.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/3ed46c03-d1d8-41e2-8912-9904a0d21a04.html" target="element"> GDPR Artikkel 35 </a> </td>
																		<td> <a href="../elements/01420e3a-e34a-4c67-8973-cf526c2ba701.html" target="element"> Personvern konsekvensvurdering </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f9f3b706-018d-4d01-9b07-86ffdb6a2639.html" target="element">  </a> </td>
																		<td> <a href="../elements/f9f3b706-018d-4d01-9b07-86ffdb6a2639.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/3ed46c03-d1d8-41e2-8912-9904a0d21a04.html" target="element"> GDPR Artikkel 35 </a> </td>
																		<td> <a href="../elements/0429c2ec-4eb3-4382-b842-cd6fd2b1f463.html" target="element"> Ikke krav om konsekvensutredning </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/d16fdad3-a440-4d65-80fd-0b5b0859a67e.html" target="element">  </a> </td>
																		<td> <a href="../elements/d16fdad3-a440-4d65-80fd-0b5b0859a67e.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/ec39f600-4843-4186-8b08-709c43daf467.html" target="element"> Vurdering av personvernkonsekvenser </a> </td>
																		<td> <a href="../elements/b57fb0e6-5719-461d-b2c1-587407348561.html" target="element"> Adferdsnormer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e235cea2-42aa-4846-b720-3008a4e84d1f.html" target="element">  </a> </td>
																		<td> <a href="../elements/e235cea2-42aa-4846-b720-3008a4e84d1f.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/ec39f600-4843-4186-8b08-709c43daf467.html" target="element"> Vurdering av personvernkonsekvenser </a> </td>
																		<td> <a href="../elements/3c0a9dbe-a746-4938-88ee-9f14c0f9d3f8.html" target="element"> Innhente synspunkter fra de registrerte </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1fc11b50-34a4-4b19-8f32-4bf0ec2014c4.html" target="element">  </a> </td>
																		<td> <a href="../elements/1fc11b50-34a4-4b19-8f32-4bf0ec2014c4.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/ec39f600-4843-4186-8b08-709c43daf467.html" target="element"> Vurdering av personvernkonsekvenser </a> </td>
																		<td> <a href="../elements/c09b4e5d-de16-4e75-a2b7-a03c61512712.html" target="element"> H&#248;y restrisiko </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/664352b5-5769-473c-8183-5de8e99b8aeb.html" target="element">  </a> </td>
																		<td> <a href="../elements/664352b5-5769-473c-8183-5de8e99b8aeb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/ec39f600-4843-4186-8b08-709c43daf467.html" target="element"> Vurdering av personvernkonsekvenser </a> </td>
																		<td> <a href="../elements/c1230933-88f1-48c8-80a7-60a56bd9d40b.html" target="element"> ITIL Informasjonssikkerhetsstyring </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-915734b109314eb8841db5d4a0766c84.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-915734b109314eb8841db5d4a0766c84.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/ec39f600-4843-4186-8b08-709c43daf467.html" target="element"> Vurdering av personvernkonsekvenser </a> </td>
																		<td> <a href="../elements/01420e3a-e34a-4c67-8973-cf526c2ba701.html" target="element"> Personvern konsekvensvurdering </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/616e13ab-6412-4bf2-8b6c-87e529373252.html" target="element">  </a> </td>
																				<td> <a href="../elements/616e13ab-6412-4bf2-8b6c-87e529373252.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/639cf616-e7bb-4089-9be1-a283374209c7.html" target="element"> R&#229;d fra PVO som kontrollerer gjennomf&#248;ringen </a> </td>
																				<td> <a href="../elements/ec39f600-4843-4186-8b08-709c43daf467.html" target="element"> Vurdering av personvernkonsekvenser </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/c5d6f9c6-b76a-48f8-ac31-e9ce4635a16a.html" target="element">  </a> </td>
																		<td> <a href="../elements/c5d6f9c6-b76a-48f8-ac31-e9ce4635a16a.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/bc1d4220-4997-414a-b0a6-585b5f822e1c.html" target="element"> Det er funnet grunnlag for unntak </a> </td>
																		<td> <a href="../elements/3ed46c03-d1d8-41e2-8912-9904a0d21a04.html" target="element"> GDPR Artikkel 35 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a6eb7961-23b4-4d12-a8b8-2f7f714c7d55.html" target="element"> Ja </a> </td>
																		<td> <a href="../elements/a6eb7961-23b4-4d12-a8b8-2f7f714c7d55.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/bc1d4220-4997-414a-b0a6-585b5f822e1c.html" target="element"> Det er funnet grunnlag for unntak </a> </td>
																		<td> <a href="../elements/0429c2ec-4eb3-4382-b842-cd6fd2b1f463.html" target="element"> Ikke krav om konsekvensutredning </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/41f359bb-c4cc-4569-ad07-7f544be3fc76.html" target="element">  </a> </td>
																		<td> <a href="../elements/41f359bb-c4cc-4569-ad07-7f544be3fc76.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/8a2f00a7-6381-416f-9226-630d7c41ea74.html" target="element"> IKT-Tjenesteutvikling-- </a> </td>
																		<td> <a href="../elements/c9ffbaaf-e1e8-41d6-9e01-5d369fc680c5.html" target="element"> Endringsstyring </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/789e3a00-56dc-46b7-bb10-277586aebc55.html" target="element">  </a> </td>
																		<td> <a href="../elements/789e3a00-56dc-46b7-bb10-277586aebc55.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/e53cfa18-ef3d-4894-998b-08e82899f1a9.html" target="element"> IKT-tjenesteforvaltning </a> </td>
																		<td> <a href="../elements/c9ffbaaf-e1e8-41d6-9e01-5d369fc680c5.html" target="element"> Endringsstyring </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f4f80ca2-0f85-4b43-9e57-341122d77c1e.html" target="element">  </a> </td>
																		<td> <a href="../elements/f4f80ca2-0f85-4b43-9e57-341122d77c1e.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/e53cfa18-ef3d-4894-998b-08e82899f1a9.html" target="element"> IKT-tjenesteforvaltning </a> </td>
																		<td> <a href="../elements/b745bfac-dd2a-4006-8b03-00397930c63f.html" target="element"> IKT-Sikkerhetsr&#229;d </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/22f06d1d-08ec-41b8-9a94-c20e3f383d4a.html" target="element">  </a> </td>
																		<td> <a href="../elements/22f06d1d-08ec-41b8-9a94-c20e3f383d4a.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/eb00e723-7371-411c-bdbf-b1ad7eb2cb78.html" target="element"> Ingen forh&#229;ndsdr&#248;ftelse </a> </td>
																		<td> <a href="../elements/4dbda158-05b9-4a45-98cc-02c285988324.html" target="element"> GDPR Artikkel 36 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6862bf42-e0a0-4936-8407-08d9cd06f2d6.html" target="element">  </a> </td>
																		<td> <a href="../elements/6862bf42-e0a0-4936-8407-08d9cd06f2d6.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/a6b1fade-d082-4e1a-aa27-64d722c25fe9.html" target="element"> Forh&#229;ndsdr&#248;ftelse </a> </td>
																		<td> <a href="../elements/4dbda158-05b9-4a45-98cc-02c285988324.html" target="element"> GDPR Artikkel 36 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/77b6ab55-a1f7-457c-b2c6-a0aaa4a1dcc4.html" target="element">  </a> </td>
																		<td> <a href="../elements/77b6ab55-a1f7-457c-b2c6-a0aaa4a1dcc4.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/c9ffbaaf-e1e8-41d6-9e01-5d369fc680c5.html" target="element"> Endringsstyring </a> </td>
																		<td> <a href="../elements/bc1d4220-4997-414a-b0a6-585b5f822e1c.html" target="element"> Det er funnet grunnlag for unntak </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/0299632b-8d0f-49ec-ac64-ceaa56c956f2.html" target="element">  </a> </td>
																		<td> <a href="../elements/0299632b-8d0f-49ec-ac64-ceaa56c956f2.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/c9ffbaaf-e1e8-41d6-9e01-5d369fc680c5.html" target="element"> Endringsstyring </a> </td>
																		<td> <a href="../elements/52fc462c-2bb8-4413-a987-f19ed78a22ab.html" target="element"> Sannsynlighet medf&#248;rer h&#248;y risiko </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7033b082-a020-4d93-a0b6-b05169c91882.html" target="element">  </a> </td>
																		<td> <a href="../elements/7033b082-a020-4d93-a0b6-b05169c91882.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/c9ffbaaf-e1e8-41d6-9e01-5d369fc680c5.html" target="element"> Endringsstyring </a> </td>
																		<td> <a href="../elements/58f26474-02f2-45d2-bc68-aff3c128b046.html" target="element"> Sannsynlighetsvurdering </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/271a0060-7ddc-4823-b62c-5a19b6b2c85f.html" target="element">  </a> </td>
																		<td> <a href="../elements/271a0060-7ddc-4823-b62c-5a19b6b2c85f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/c9ffbaaf-e1e8-41d6-9e01-5d369fc680c5.html" target="element"> Endringsstyring </a> </td>
																		<td> <a href="../elements/716e4e0a-ca05-4cfe-a7ea-6c9aa1cbf730.html" target="element"> Revurdering av behov </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ba3067dd-e0c2-4ef5-9d19-a89eeca6f8d7.html" target="element">  </a> </td>
																		<td> <a href="../elements/ba3067dd-e0c2-4ef5-9d19-a89eeca6f8d7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/c9ffbaaf-e1e8-41d6-9e01-5d369fc680c5.html" target="element"> Endringsstyring </a> </td>
																		<td> <a href="../elements/58f26474-02f2-45d2-bc68-aff3c128b046.html" target="element"> Sannsynlighetsvurdering </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b349fe72-9903-4dd9-a9d0-bb3026956ac9.html" target="element">  </a> </td>
																		<td> <a href="../elements/b349fe72-9903-4dd9-a9d0-bb3026956ac9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/c9ffbaaf-e1e8-41d6-9e01-5d369fc680c5.html" target="element"> Endringsstyring </a> </td>
																		<td> <a href="../elements/60f0584f-94f7-4862-a18c-f6ac52f4b8d2.html" target="element"> ITIL Endringsstyring </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4a9c873977fe4a4eb3ef51a7fb88b090.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4a9c873977fe4a4eb3ef51a7fb88b090.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/c9ffbaaf-e1e8-41d6-9e01-5d369fc680c5.html" target="element"> Endringsstyring </a> </td>
																		<td> <a href="../elements/id-ef2553c920d04fb59d24c0d04809c535.html" target="element"> Vurdering av form&#229;l </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-df914e0121b54ede994f32d42fc5b81c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-df914e0121b54ede994f32d42fc5b81c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/c9ffbaaf-e1e8-41d6-9e01-5d369fc680c5.html" target="element"> Endringsstyring </a> </td>
																		<td> <a href="../elements/id-e8ab366e17304ad9992ab77beed6b5eb.html" target="element"> Vurdering av behov </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/2a2c29fa-64b1-462e-8cbd-0f02ad6a125e.html" target="element">  </a> </td>
																				<td> <a href="../elements/2a2c29fa-64b1-462e-8cbd-0f02ad6a125e.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/716e4e0a-ca05-4cfe-a7ea-6c9aa1cbf730.html" target="element"> Revurdering av behov </a> </td>
																				<td> <a href="../elements/c9ffbaaf-e1e8-41d6-9e01-5d369fc680c5.html" target="element"> Endringsstyring </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/3ef331a3-2c7c-42d4-be8a-2c70eadceb01.html" target="element"> Art. 35(11) </a> </td>
																				<td> <a href="../elements/3ef331a3-2c7c-42d4-be8a-2c70eadceb01.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/716e4e0a-ca05-4cfe-a7ea-6c9aa1cbf730.html" target="element"> Revurdering av behov </a> </td>
																				<td> <a href="../elements/3ed46c03-d1d8-41e2-8912-9904a0d21a04.html" target="element"> GDPR Artikkel 35 </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/ac7db9e3-a9b4-421d-9f08-8d058022a201.html" target="element"> Art 35 (1,3,4) </a> </td>
																				<td> <a href="../elements/ac7db9e3-a9b4-421d-9f08-8d058022a201.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/58f26474-02f2-45d2-bc68-aff3c128b046.html" target="element"> Sannsynlighetsvurdering </a> </td>
																				<td> <a href="../elements/3ed46c03-d1d8-41e2-8912-9904a0d21a04.html" target="element"> GDPR Artikkel 35 </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/12d1ee7b-0ba1-4557-ba4e-f7e0d51b14e1.html" target="element"> Ja </a> </td>
																		<td> <a href="../elements/12d1ee7b-0ba1-4557-ba4e-f7e0d51b14e1.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/c09b4e5d-de16-4e75-a2b7-a03c61512712.html" target="element"> H&#248;y restrisiko </a> </td>
																		<td> <a href="../elements/a6b1fade-d082-4e1a-aa27-64d722c25fe9.html" target="element"> Forh&#229;ndsdr&#248;ftelse </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e9fe9cc9-70b7-483f-946d-bf1fa0e2ebe5.html" target="element"> Nei </a> </td>
																		<td> <a href="../elements/e9fe9cc9-70b7-483f-946d-bf1fa0e2ebe5.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/c09b4e5d-de16-4e75-a2b7-a03c61512712.html" target="element"> H&#248;y restrisiko </a> </td>
																		<td> <a href="../elements/eb00e723-7371-411c-bdbf-b1ad7eb2cb78.html" target="element"> Ingen forh&#229;ndsdr&#248;ftelse </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/80422cab-9ee8-46b1-bcbb-fcbe6b34b424.html" target="element"> Art. 36(1) </a> </td>
																		<td> <a href="../elements/80422cab-9ee8-46b1-bcbb-fcbe6b34b424.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/c09b4e5d-de16-4e75-a2b7-a03c61512712.html" target="element"> H&#248;y restrisiko </a> </td>
																		<td> <a href="../elements/4dbda158-05b9-4a45-98cc-02c285988324.html" target="element"> GDPR Artikkel 36 </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-343059e4f6f54e84a78f48101cff766a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-343059e4f6f54e84a78f48101cff766a.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/b745bfac-dd2a-4006-8b03-00397930c63f.html" target="element"> IKT-Sikkerhetsr&#229;d </a> </td>
																		<td> <a href="../elements/c9ffbaaf-e1e8-41d6-9e01-5d369fc680c5.html" target="element"> Endringsstyring </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/208c0713-7a29-449e-8581-b79d07657766.html" target="element">  </a> </td>
																		<td> <a href="../elements/208c0713-7a29-449e-8581-b79d07657766.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/65ed53ed-19f0-43e4-b10f-957ca15c4be8.html" target="element"> Personvernombud (PVO) </a> </td>
																		<td> <a href="../elements/b745bfac-dd2a-4006-8b03-00397930c63f.html" target="element"> IKT-Sikkerhetsr&#229;d </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/a2794edf-ddbc-4678-817c-a6fb82025ef4.html" target="element">  </a> </td>
																		<td> <a href="../elements/a2794edf-ddbc-4678-817c-a6fb82025ef4.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/2ae797dc-399d-4ab1-bc36-45f12d8dd2b4.html" target="element"> Informasjonssikkerhetsleder (ISL) </a> </td>
																		<td> <a href="../elements/b745bfac-dd2a-4006-8b03-00397930c63f.html" target="element"> IKT-Sikkerhetsr&#229;d </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b1605938-bca6-4d93-b97c-8d019ffbfa34.html" target="element">  </a> </td>
																		<td> <a href="../elements/b1605938-bca6-4d93-b97c-8d019ffbfa34.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/2ae797dc-399d-4ab1-bc36-45f12d8dd2b4.html" target="element"> Informasjonssikkerhetsleder (ISL) </a> </td>
																		<td> <a href="../elements/8a2f00a7-6381-416f-9226-630d7c41ea74.html" target="element"> IKT-Tjenesteutvikling-- </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/d4b18ed4-d107-464d-a176-72edee2465d8.html" target="element">  </a> </td>
																		<td> <a href="../elements/d4b18ed4-d107-464d-a176-72edee2465d8.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/3f9efe50-ab00-48e6-8947-0fbb6d656880.html" target="element"> IKT Tjenestestyring </a> </td>
																		<td> <a href="../elements/c1230933-88f1-48c8-80a7-60a56bd9d40b.html" target="element"> ITIL Informasjonssikkerhetsstyring </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f7652208-88af-41d4-b84b-cf0cfe11f120.html" target="element">  </a> </td>
																		<td> <a href="../elements/f7652208-88af-41d4-b84b-cf0cfe11f120.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/3f9efe50-ab00-48e6-8947-0fbb6d656880.html" target="element"> IKT Tjenestestyring </a> </td>
																		<td> <a href="../elements/60f0584f-94f7-4862-a18c-f6ac52f4b8d2.html" target="element"> ITIL Endringsstyring </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/6d812a3c-dd8c-4f70-a8c1-637eebcb5e0d.html" target="element">  </a> </td>
																		<td> <a href="../elements/6d812a3c-dd8c-4f70-a8c1-637eebcb5e0d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/3f9efe50-ab00-48e6-8947-0fbb6d656880.html" target="element"> IKT Tjenestestyring </a> </td>
																		<td> <a href="../elements/a96ca088-b87d-41e2-b705-a3e9790ec58f.html" target="element"> ITIL SO Service Request fulfilment </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d8de618e-5e5d-430f-b2e5-5c90919be9c3.html" target="element">  </a> </td>
																		<td> <a href="../elements/d8de618e-5e5d-430f-b2e5-5c90919be9c3.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/3f9efe50-ab00-48e6-8947-0fbb6d656880.html" target="element"> IKT Tjenestestyring </a> </td>
																		<td> <a href="../elements/b745bfac-dd2a-4006-8b03-00397930c63f.html" target="element"> IKT-Sikkerhetsr&#229;d </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-749f4df1ae06405b99e4a32c290ad99f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-749f4df1ae06405b99e4a32c290ad99f.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/3f9efe50-ab00-48e6-8947-0fbb6d656880.html" target="element"> IKT Tjenestestyring </a> </td>
																		<td> <a href="../elements/id-e57f8435e0d84e9694e25663bea01b7b.html" target="element"> Sikre at behandling av personopplysninger foreg&#229;r i samsvar med regelverk  </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/0879211a-4af6-4e7d-9f3a-da12fac277fe.html" target="element">  </a> </td>
																				<td> <a href="../elements/0879211a-4af6-4e7d-9f3a-da12fac277fe.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/60f0584f-94f7-4862-a18c-f6ac52f4b8d2.html" target="element"> ITIL Endringsstyring </a> </td>
																				<td> <a href="../elements/a96ca088-b87d-41e2-b705-a3e9790ec58f.html" target="element"> ITIL SO Service Request fulfilment </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/f1cf6577-a507-48e3-b3c4-0558c9fbefaf.html" target="element">  </a> </td>
																				<td> <a href="../elements/f1cf6577-a507-48e3-b3c4-0558c9fbefaf.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/c1230933-88f1-48c8-80a7-60a56bd9d40b.html" target="element"> ITIL Informasjonssikkerhetsstyring </a> </td>
																				<td> <a href="../elements/60f0584f-94f7-4862-a18c-f6ac52f4b8d2.html" target="element"> ITIL Endringsstyring </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/c691b8ba-8a12-4ed3-a0b0-2421b551d2ac.html" target="element">  </a> </td>
																				<td> <a href="../elements/c691b8ba-8a12-4ed3-a0b0-2421b551d2ac.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/c1230933-88f1-48c8-80a7-60a56bd9d40b.html" target="element"> ITIL Informasjonssikkerhetsstyring </a> </td>
																				<td> <a href="../elements/a96ca088-b87d-41e2-b705-a3e9790ec58f.html" target="element"> ITIL SO Service Request fulfilment </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>