<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Virksomhetsmodell</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Virksomhetsmodell</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/a034d103-f8a5-4dcb-9a17-29af53eee676.png" alt="Virksomhetsmodell" usemap="#a034d103-f8a5-4dcb-9a17-29af53eee676map">
			<map name="a034d103-f8a5-4dcb-9a17-29af53eee676map">
								<area shape="rect" coords="646,1138,766,1193" href="../elements/ceaf0984-c83e-4759-9c8d-31a1d745e632.html"  target="element">
								<area shape="rect" coords="358,1138,478,1193" href="../elements/edc675bc-1290-402d-a007-8dae4291dd70.html"  target="element">
								<area shape="rect" coords="790,1138,910,1193" href="../elements/ccb6b778-56fb-41eb-891f-244e67bd070a.html"  target="element">
								<area shape="rect" coords="508,1138,628,1193" href="../elements/4bc3e6f2-6adb-4a12-9fa5-83c85b4fb25d.html"  target="element">
								<area shape="rect" coords="70,1210,1066,1265" href="../elements/f4b45e1a-6007-4ae4-b6fb-8848f810e163.html"  target="element">
								<area shape="rect" coords="70,1138,190,1193" href="../elements/8a4e2755-db94-488a-9d8c-1673a311fba6.html"  target="element">
								<area shape="rect" coords="214,1138,334,1193" href="../elements/ccd3981e-90a3-4b11-adfc-a5e5fcf4d05d.html"  target="element">
								<area shape="rect" coords="934,1138,1054,1193" href="../elements/3e8c2829-c99b-4d9a-80de-3bbfafe955cf.html"  target="element">

						<area shape="rect" coords="10,1090,1198,1295" href="../elements/f7e6594c-463d-4c8f-94f7-0f3f3423a859.html"  target="element">
						<area shape="rect" coords="418,10,538,65" href="../elements/f44e0048-13bd-487a-be1a-a98f404b4919.html"  target="element">
						<area shape="rect" coords="34,10,154,65" href="../elements/90ee00a8-fd5a-45d5-adb5-09f0b532b90d.html"  target="element">
						<area shape="rect" coords="994,10,1114,65" href="../elements/10743873-2632-46a9-8bc7-e3cc8b3b5eba.html"  target="element">
						<area shape="rect" coords="742,10,862,65" href="../elements/c3914953-aaef-4538-8ba5-c8f2f3946ddb.html"  target="element">
										<area shape="rect" coords="670,358,790,413" href="../elements/0685ba28-869d-46c3-b04a-462962db96c7.html"  target="element">
										<area shape="rect" coords="670,430,790,485" href="../elements/3e669754-d64e-40bf-bf27-d2b3d7cbc3f9.html"  target="element">

								<area shape="rect" coords="622,310,827,575" href="../elements/322e3de2-672e-4ca4-827b-69798a8849a4.html"  target="element">
										<area shape="rect" coords="82,430,202,485" href="../elements/bbfbde22-c32e-4073-96f4-2907c0e146c7.html"  target="element">
										<area shape="rect" coords="82,502,202,557" href="../elements/6f1caa4c-cbc1-4886-826d-4e2e00dab94a.html"  target="element">
										<area shape="rect" coords="226,358,346,413" href="../elements/05f3f650-8cbd-443f-a1a4-e969582d9762.html"  target="element">
										<area shape="rect" coords="82,358,202,413" href="../elements/ff64fb6e-7eed-41e3-95b6-abfb74f989d1.html"  target="element">

								<area shape="rect" coords="46,310,503,575" href="../elements/bf2efccd-8596-4a10-a8f4-42d325f04aa0.html"  target="element">
										<area shape="rect" coords="994,358,1114,413" href="../elements/c9dc6bbf-fd41-48da-9357-6a88f730e015.html"  target="element">

								<area shape="rect" coords="946,310,1151,575" href="../elements/33bca8b7-d25e-415d-98b7-1ead9d66416e.html"  target="element">

						<area shape="rect" coords="10,262,1198,611" href="../elements/926cc258-752a-47c9-9167-243af6dcbd86.html"  target="element">
										<area shape="rect" coords="993,934,1114,983" href="../elements/e193f60f-6051-43f3-a8a8-1124689513a3.html"  target="element">
										<area shape="rect" coords="993,862,1114,923" href="../elements/2b13670d-60a5-4339-8b22-8e4af3383f43.html"  target="element">

								<area shape="rect" coords="981,814,1149,1019" href="../elements/33d930dc-b6fd-4e65-babc-31e1c9e4c84f.html"  target="element">
								<area shape="rect" coords="993,730,1113,785" href="../elements/104d4213-76bc-4527-922c-e102522af016.html"  target="element">

						<area shape="rect" coords="933,658,1197,1043" href="../elements/d9411cd9-1ba8-49a0-9914-bf50606eb188.html"  target="element">
										<area shape="rect" coords="669,742,789,797" href="../elements/04b11e3a-fefd-4e77-be6d-0b4c073c1c0b.html"  target="element">

								<area shape="rect" coords="609,718,850,815" href="../elements/0deec5c1-db65-475f-9887-7410ed0495db.html"  target="element">
										<area shape="rect" coords="669,850,789,905" href="../elements/6e9980f5-2c0a-43f9-867a-216404a88194.html"  target="element">

								<area shape="rect" coords="609,826,850,923" href="../elements/ef24d210-75c9-4714-b18b-b49d620aeab1.html"  target="element">
										<area shape="rect" coords="669,958,789,1013" href="../elements/9b6802c1-ae2d-4207-bc0f-4198ef0c54e8.html"  target="element">

								<area shape="rect" coords="609,934,850,1031" href="../elements/97e97642-aac6-4018-9451-8a65d4630dfd.html"  target="element">

						<area shape="rect" coords="597,658,862,1043" href="../elements/dcb62d2c-e077-4386-8de0-d396cc986868.html"  target="element">
								<area shape="rect" coords="34,694,190,814" href="../elements/c4444b58-4ce6-4277-b760-44c5c683d80a.html"  target="element">

						<area shape="rect" coords="10,658,214,1043" href="../elements/167c7b56-464e-4e22-98bc-9e23e47d2ad2.html"  target="element">
								<area shape="rect" coords="334,694,491,815" href="../elements/e6168f9f-7e6f-40c9-a039-b9e6a300af4f.html"  target="element">
								<area shape="rect" coords="334,826,491,947" href="../elements/b2a25558-3c94-4be8-b44a-66a3c5a59225.html"  target="element">

						<area shape="rect" coords="310,658,516,1043" href="../elements/4f648255-4e10-44f6-aa4b-ba6a005d4264.html"  target="element">
								<area shape="rect" coords="46,154,166,209" href="../elements/18a2caed-14f4-4577-8130-823d52a1f8ce.html"  target="element">
								<area shape="rect" coords="178,154,298,209" href="../elements/29c1dcaa-3dd4-4016-b46a-2c1d3b9c08cf.html"  target="element">
								<area shape="rect" coords="310,154,430,209" href="../elements/2c16525c-de03-4081-9cbe-3c9a521b8084.html"  target="element">
								<area shape="rect" coords="574,154,694,209" href="../elements/49093ebc-afff-4b1a-b36e-3b1fd4889b25.html"  target="element">
								<area shape="rect" coords="718,154,838,209" href="../elements/54fb8698-bed6-4bda-9bb3-fef9b3b2b67d.html"  target="element">
								<area shape="rect" coords="442,154,562,209" href="../elements/b325da37-76f2-4773-859a-f44d244fd83d.html"  target="element">

						<area shape="rect" coords="10,118,874,239" href="../elements/bcd57104-1ca1-4003-a515-8cf5d34bb193.html"  target="element">
								<area shape="rect" coords="910,154,1030,209" href="../elements/fa75ed85-0980-44ac-8265-1110347ac2e0.html"  target="element">
								<area shape="rect" coords="1054,154,1174,209" href="../elements/cac4382a-920a-423c-aea9-872c1d0ca306.html"  target="element">

						<area shape="rect" coords="898,118,1198,239" href="../elements/a622eb84-604b-4ec7-a070-17525bf8c89f.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
					<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="elements">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
								</tr>
							</thead>
							<tbody>
										<tr><td> <a href="../elements/f7e6594c-463d-4c8f-94f7-0f3f3423a859.html" target="element"> Fellesfunksjoner </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
												<tr><td> <a href="../elements/ceaf0984-c83e-4759-9c8d-31a1d745e632.html" target="element"> Eier- og styreoppf&#248;lging </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
												<tr><td> <a href="../elements/edc675bc-1290-402d-a007-8dae4291dd70.html" target="element"> HR </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
												<tr><td> <a href="../elements/ccb6b778-56fb-41eb-891f-244e67bd070a.html" target="element"> Kommunikasjon </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
												<tr><td> <a href="../elements/4bc3e6f2-6adb-4a12-9fa5-83c85b4fb25d.html" target="element"> Kvalitet og internkontroll </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
												<tr><td> <a href="../elements/f4b45e1a-6007-4ae4-b6fb-8848f810e163.html" target="element"> IKT </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
												<tr><td> <a href="../elements/8a4e2755-db94-488a-9d8c-1673a311fba6.html" target="element"> &#216;konomi og regnskap </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
												<tr><td> <a href="../elements/ccd3981e-90a3-4b11-adfc-a5e5fcf4d05d.html" target="element"> Saksarkiv </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
												<tr><td> <a href="../elements/3e8c2829-c99b-4d9a-80de-3bbfafe955cf.html" target="element"> Juss og samfunnsansvar </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
										
										<tr><td> <a href="../elements/f44e0048-13bd-487a-be1a-a98f404b4919.html" target="element"> Foretaksgrupper </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
										<tr><td> <a href="../elements/90ee00a8-fd5a-45d5-adb5-09f0b532b90d.html" target="element"> Leverand&#248;rmarked </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
										<tr><td> <a href="../elements/10743873-2632-46a9-8bc7-e3cc8b3b5eba.html" target="element"> Publikum </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
										<tr><td> <a href="../elements/c3914953-aaef-4538-8ba5-c8f2f3946ddb.html" target="element"> Eiergruppe </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
										<tr><td> <a href="../elements/926cc258-752a-47c9-9167-243af6dcbd86.html" target="element"> Portef&#248;ljestyring </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
												<tr><td> <a href="../elements/322e3de2-672e-4ca4-827b-69798a8849a4.html" target="element"> Konkurransegjennomf&#248;ring </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
														<tr><td> <a href="../elements/0685ba28-869d-46c3-b04a-462962db96c7.html" target="element"> Kunngj&#248;re konkurranse </a> </td><td class="i18n-elementtype-BusinessCollaboration"></td></tr>
														<tr><td> <a href="../elements/3e669754-d64e-40bf-bf27-d2b3d7cbc3f9.html" target="element"> Velge tilbud og inng&#229; avtale </a> </td><td class="i18n-elementtype-BusinessCollaboration"></td></tr>
												
												<tr><td> <a href="../elements/bf2efccd-8596-4a10-a8f4-42d325f04aa0.html" target="element"> Avklare behov og planlegge </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
														<tr><td> <a href="../elements/bbfbde22-c32e-4073-96f4-2907c0e146c7.html" target="element"> Forberede gjennomf&#248;ring </a> </td><td class="i18n-elementtype-BusinessCollaboration"></td></tr>
														<tr><td> <a href="../elements/6f1caa4c-cbc1-4886-826d-4e2e00dab94a.html" target="element"> Lage konkurranse-strategi </a> </td><td class="i18n-elementtype-BusinessCollaboration"></td></tr>
														<tr><td> <a href="../elements/05f3f650-8cbd-443f-a1a4-e969582d9762.html" target="element"> Prosjektgruppe </a> </td><td class="i18n-elementtype-BusinessCollaboration"></td></tr>
														<tr><td> <a href="../elements/ff64fb6e-7eed-41e3-95b6-abfb74f989d1.html" target="element"> Avklare behov </a> </td><td class="i18n-elementtype-BusinessCollaboration"></td></tr>
												
												<tr><td> <a href="../elements/33bca8b7-d25e-415d-98b7-1ead9d66416e.html" target="element"> Kontraktsoppf&#248;lging </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
														<tr><td> <a href="../elements/c9dc6bbf-fd41-48da-9357-6a88f730e015.html" target="element"> Forberede kontraktsgjennomf&#248;ring </a> </td><td class="i18n-elementtype-BusinessCollaboration"></td></tr>
												
										
										<tr><td> <a href="../elements/d9411cd9-1ba8-49a0-9914-bf50606eb188.html" target="element"> Avtaleforvaltning </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
												<tr><td> <a href="../elements/33d930dc-b6fd-4e65-babc-31e1c9e4c84f.html" target="element"> Bruke avtalen </a> </td><td class="i18n-elementtype-BusinessCollaboration"></td></tr>
														<tr><td> <a href="../elements/e193f60f-6051-43f3-a8a8-1124689513a3.html" target="element"> Varer </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
														<tr><td> <a href="../elements/2b13670d-60a5-4339-8b22-8e4af3383f43.html" target="element"> Tjenester </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
												
												<tr><td> <a href="../elements/104d4213-76bc-4527-922c-e102522af016.html" target="element"> Kontraktsforvaltning </a> </td><td class="i18n-elementtype-BusinessCollaboration"></td></tr>
										
										<tr><td> <a href="../elements/dcb62d2c-e077-4386-8de0-d396cc986868.html" target="element"> Konkurransegjennomf&#248;ring </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
												<tr><td> <a href="../elements/0deec5c1-db65-475f-9887-7410ed0495db.html" target="element"> SHI Konkurranse - Mini </a> </td><td class="i18n-elementtype-BusinessInteraction"></td></tr>
														<tr><td> <a href="../elements/04b11e3a-fefd-4e77-be6d-0b4c073c1c0b.html" target="element"> Prosess A </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												
												<tr><td> <a href="../elements/ef24d210-75c9-4714-b18b-b49d620aeab1.html" target="element"> SHI Konkurranse - Anbud </a> </td><td class="i18n-elementtype-BusinessInteraction"></td></tr>
														<tr><td> <a href="../elements/6e9980f5-2c0a-43f9-867a-216404a88194.html" target="element"> Prosess B </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												
												<tr><td> <a href="../elements/97e97642-aac6-4018-9451-8a65d4630dfd.html" target="element"> SHI Konkurranse - Dialog </a> </td><td class="i18n-elementtype-BusinessInteraction"></td></tr>
														<tr><td> <a href="../elements/9b6802c1-ae2d-4207-bc0f-4198ef0c54e8.html" target="element"> Prosess C </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												
										
										<tr><td> <a href="../elements/167c7b56-464e-4e22-98bc-9e23e47d2ad2.html" target="element"> Behovsevaluering </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
												<tr><td> <a href="../elements/c4444b58-4ce6-4277-b760-44c5c683d80a.html" target="element"> Behovsavklaring </a> </td><td class="i18n-elementtype-BusinessInteraction"></td></tr>
										
										<tr><td> <a href="../elements/4f648255-4e10-44f6-aa4b-ba6a005d4264.html" target="element"> Analyse </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
												<tr><td> <a href="../elements/e6168f9f-7e6f-40c9-a039-b9e6a300af4f.html" target="element"> Innkj&#248;psstatistikk </a> </td><td class="i18n-elementtype-BusinessInteraction"></td></tr>
												<tr><td> <a href="../elements/b2a25558-3c94-4be8-b44a-66a3c5a59225.html" target="element"> Evalueringsmodell </a> </td><td class="i18n-elementtype-BusinessInteraction"></td></tr>
										
										<tr><td> <a href="../elements/bcd57104-1ca1-4003-a515-8cf5d34bb193.html" target="element"> Anskaffelse og avtale </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
												<tr><td> <a href="../elements/18a2caed-14f4-4577-8130-823d52a1f8ce.html" target="element"> Behovs-innmelding </a> </td><td class="i18n-elementtype-BusinessInterface"></td></tr>
												<tr><td> <a href="../elements/29c1dcaa-3dd4-4016-b46a-2c1d3b9c08cf.html" target="element"> Anskaffelser </a> </td><td class="i18n-elementtype-BusinessInterface"></td></tr>
												<tr><td> <a href="../elements/2c16525c-de03-4081-9cbe-3c9a521b8084.html" target="element"> Avtalekatalog </a> </td><td class="i18n-elementtype-BusinessInterface"></td></tr>
												<tr><td> <a href="../elements/49093ebc-afff-4b1a-b36e-3b1fd4889b25.html" target="element"> Statistikk </a> </td><td class="i18n-elementtype-BusinessInterface"></td></tr>
												<tr><td> <a href="../elements/54fb8698-bed6-4bda-9bb3-fef9b3b2b67d.html" target="element"> Kategoristruktur </a> </td><td class="i18n-elementtype-BusinessInterface"></td></tr>
												<tr><td> <a href="../elements/b325da37-76f2-4773-859a-f44d244fd83d.html" target="element"> Reklamasjon </a> </td><td class="i18n-elementtype-BusinessInterface"></td></tr>
										
										<tr><td> <a href="../elements/a622eb84-604b-4ec7-a070-17525bf8c89f.html" target="element"> Forvaltning og innsyn </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
												<tr><td> <a href="../elements/fa75ed85-0980-44ac-8265-1110347ac2e0.html" target="element"> Postliste/-journal </a> </td><td class="i18n-elementtype-BusinessInterface"></td></tr>
												<tr><td> <a href="../elements/cac4382a-920a-423c-aea9-872c1d0ca306.html" target="element"> Innsynsbehandling </a> </td><td class="i18n-elementtype-BusinessInterface"></td></tr>
										

							</tbody>
						</table>
					</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>