<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>T001.Videokonferanse</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>T001.Videokonferanse</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/a1b19d21-e74e-4dc3-ac94-0b92597c0ca7.png" alt="T001.Videokonferanse" usemap="#a1b19d21-e74e-4dc3-ac94-0b92597c0ca7map"/>
			   <map name="a1b19d21-e74e-4dc3-ac94-0b92597c0ca7map">
				  						<area shape="rect" coords="1318,694,1438,749" href="../elements/8ba0157a-8d58-4403-95c9-bf617c2bbe01.html"  target="element">
				  						<area shape="rect" coords="1318,622,1438,677" href="../elements/e66a9505-c408-428e-bdf6-e317da335218.html"  target="element">

				  				<area shape="rect" coords="1306,586,1451,875" href="../elements/fae56e8f-1068-42b0-99d0-64a9ce5faf38.html"  target="element">
				  						<area shape="rect" coords="1318,262,1438,317" href="../elements/272f11fc-b287-459c-96cb-4c99e183d7b3.html"  target="element">
				  						<area shape="rect" coords="1318,202,1438,257" href="../elements/99b51570-0c66-44d6-9a32-5986c04c9b65.html"  target="element">

				  				<area shape="rect" coords="1306,166,1451,335" href="../elements/1c29a5c1-2fb0-47d7-b033-2e79d4fdd271.html"  target="element">

				  		<area shape="rect" coords="1282,10,1487,887" href="../elements/61eb503c-0eb3-477f-b053-ea06131cb1ad.html"  target="element">
				  				<area shape="rect" coords="513,328,633,383" href="../elements/d62ab250-8d5e-4b4d-815c-670d5ec703fd.html"  target="element">

				  		<area shape="rect" coords="489,256,682,437" href="../elements/e5d2decf-71f7-47a8-a6b4-d07f9949d4e1.html"  target="element">
				  				<area shape="rect" coords="513,520,633,575" href="../elements/355a3185-c797-48d4-b8c4-2d8ed01c6794.html"  target="element">
				  				<area shape="rect" coords="513,602,633,657" href="../elements/efc1b4c4-1c2e-43d0-979b-949a19b307ab.html"  target="element">
				  				<area shape="rect" coords="513,686,633,741" href="../elements/e22bd943-858a-4756-a940-93a478068aa1.html"  target="element">
				  				<area shape="rect" coords="513,770,633,825" href="../elements/be369aeb-bb16-44fe-8d8b-d10e9a8f9c30.html"  target="element">

				  		<area shape="rect" coords="489,472,682,833" href="../elements/2ab4fb56-f36c-409e-b150-255940574145.html"  target="element">
				  						<area shape="rect" coords="946,676,1066,731" href="../elements/5db08cbb-2ba3-4d72-ae08-8a448175b960.html"  target="element">
				  						<area shape="rect" coords="946,508,1066,563" href="../elements/2884b1a8-afd0-439c-a063-66f6afdc4d57.html"  target="element">
				  						<area shape="rect" coords="946,592,1066,647" href="../elements/088ca1da-54e0-4510-ad29-6cb1c1aa627a.html"  target="element">

				  				<area shape="rect" coords="910,460,1103,833" href="../elements/23493387-08ac-4671-a939-7ddf1f829ddc.html"  target="element">
				  						<area shape="rect" coords="946,304,1066,359" href="../elements/b5f5548d-f071-4416-a8cb-062f590f5190.html"  target="element">
				  						<area shape="rect" coords="946,148,1066,203" href="../elements/0e34f49a-f82e-46f3-91fc-0316464cbd27.html"  target="element">
				  						<area shape="rect" coords="946,232,1066,287" href="../elements/85adf56b-840c-4ab6-aff8-19078d571c6e.html"  target="element">

				  				<area shape="rect" coords="910,112,1103,389" href="../elements/cadd77bc-7aa4-4433-b8ed-ea9304d42de6.html"  target="element">

				  		<area shape="rect" coords="838,16,1175,881" href="../elements/2789cf49-fa93-4142-8380-b81a035311ba.html"  target="element">
				  						<area shape="rect" coords="106,316,226,371" href="../elements/22f2fa88-0beb-44f5-b7a7-fb98c0626f93.html"  target="element">
				  						<area shape="rect" coords="106,244,226,299" href="../elements/9e363a25-21c1-4d9d-a7c0-a1b4ed6e2ea2.html"  target="element">

				  				<area shape="rect" coords="70,124,263,401" href="../elements/8e49d634-4c8a-4b81-9c91-ae4754b52248.html"  target="element">
				  						<area shape="rect" coords="106,682,226,737" href="../elements/ff2ee5bc-a210-4aae-8e91-a31d2683d58f.html"  target="element">
				  						<area shape="rect" coords="106,754,226,809" href="../elements/67e02e55-2c38-4f4f-8c3a-3da5c51427b9.html"  target="element">
				  						<area shape="rect" coords="106,508,226,563" href="../elements/8a727a7d-ab79-4b70-a9ee-948fac6e524c.html"  target="element">
				  						<area shape="rect" coords="106,598,226,653" href="../elements/10a65dcc-c2e4-4492-b73a-a7a7a417f5ae.html"  target="element">

				  				<area shape="rect" coords="70,472,263,833" href="../elements/e1dcb228-4a0c-46ed-a79e-1a9e4c375a21.html"  target="element">

				  		<area shape="rect" coords="10,16,347,881" href="../elements/aa153190-0242-4a60-acfa-f3bcedb643bf.html"  target="element">
				  		<area shape="rect" coords="526,36,646,161" href="../elements/08b78ac0-831a-427a-8dc1-593339fa7a3d.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/08b78ac0-831a-427a-8dc1-593339fa7a3d.html" target="element"> Konferanserom med st&#248;tte for MS Teams </a> </td>
											    <td> <a href="../elements/08b78ac0-831a-427a-8dc1-593339fa7a3d.html" target="element" class="i18n-elementtype-Gap">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/aa153190-0242-4a60-acfa-f3bcedb643bf.html" target="element"> Videokonferanse (Til 09.2021) </a> </td>
											    <td> <a href="../elements/aa153190-0242-4a60-acfa-f3bcedb643bf.html" target="element" class="i18n-elementtype-Plateau">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/e1dcb228-4a0c-46ed-a79e-1a9e4c375a21.html" target="element"> Telenor SKL </a> </td>
													    <td> <a href="../elements/e1dcb228-4a0c-46ed-a79e-1a9e4c375a21.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/10a65dcc-c2e4-4492-b73a-a7a7a417f5ae.html" target="element"> AS.MS Skype for Business </a> </td>
															    <td> <a href="../elements/10a65dcc-c2e4-4492-b73a-a7a7a417f5ae.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/8a727a7d-ab79-4b70-a9ee-948fac6e524c.html" target="element"> MS Skype for Business </a> </td>
															    <td> <a href="../elements/8a727a7d-ab79-4b70-a9ee-948fac6e524c.html" target="element" class="i18n-elementtype-ApplicationInterface">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/67e02e55-2c38-4f4f-8c3a-3da5c51427b9.html" target="element"> 2meet.telenor.no </a> </td>
															    <td> <a href="../elements/67e02e55-2c38-4f4f-8c3a-3da5c51427b9.html" target="element" class="i18n-elementtype-TechnologyInterface">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/ff2ee5bc-a210-4aae-8e91-a31d2683d58f.html" target="element"> Videobro </a> </td>
															    <td> <a href="../elements/ff2ee5bc-a210-4aae-8e91-a31d2683d58f.html" target="element" class="i18n-elementtype-TechnologyCollaboration">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/8e49d634-4c8a-4b81-9c91-ae4754b52248.html" target="element"> Norsk Helsenett SF </a> </td>
													    <td> <a href="../elements/8e49d634-4c8a-4b81-9c91-ae4754b52248.html" target="element" class="i18n-elementtype-CommunicationNetwork">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/9e363a25-21c1-4d9d-a7c0-a1b4ed6e2ea2.html" target="element"> Pexip VCI (Video Conferencing Infrastructure) </a> </td>
															    <td> <a href="../elements/9e363a25-21c1-4d9d-a7c0-a1b4ed6e2ea2.html" target="element" class="i18n-elementtype-TechnologyService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/22f2fa88-0beb-44f5-b7a7-fb98c0626f93.html" target="element"> h.323.sykehusinnkjop.no </a> </td>
															    <td> <a href="../elements/22f2fa88-0beb-44f5-b7a7-fb98c0626f93.html" target="element" class="i18n-elementtype-TechnologyInterface">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/2789cf49-fa93-4142-8380-b81a035311ba.html" target="element"> Videokonferanse (Fra 09.2021) </a> </td>
											    <td> <a href="../elements/2789cf49-fa93-4142-8380-b81a035311ba.html" target="element" class="i18n-elementtype-Plateau">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/cadd77bc-7aa4-4433-b8ed-ea9304d42de6.html" target="element"> Pexip AS </a> </td>
													    <td> <a href="../elements/cadd77bc-7aa4-4433-b8ed-ea9304d42de6.html" target="element" class="i18n-elementtype-CommunicationNetwork">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/85adf56b-840c-4ab6-aff8-19078d571c6e.html" target="element"> Pexip VCI (Video Conferencing Infrastructure) </a> </td>
															    <td> <a href="../elements/85adf56b-840c-4ab6-aff8-19078d571c6e.html" target="element" class="i18n-elementtype-TechnologyService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/0e34f49a-f82e-46f3-91fc-0316464cbd27.html" target="element"> sip:sykehusinnkjop.no </a> </td>
															    <td> <a href="../elements/0e34f49a-f82e-46f3-91fc-0316464cbd27.html" target="element" class="i18n-elementtype-TechnologyInterface">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/b5f5548d-f071-4416-a8cb-062f590f5190.html" target="element"> sip:teams.sykehusinnkjop.no </a> </td>
															    <td> <a href="../elements/b5f5548d-f071-4416-a8cb-062f590f5190.html" target="element" class="i18n-elementtype-TechnologyInterface">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/23493387-08ac-4671-a939-7ddf1f829ddc.html" target="element"> Microsoft Enterprise Office 365 </a> </td>
													    <td> <a href="../elements/23493387-08ac-4671-a939-7ddf1f829ddc.html" target="element" class="i18n-elementtype-TechnologyService">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/088ca1da-54e0-4510-ad29-6cb1c1aa627a.html" target="element"> AS.M365 Teams </a> </td>
															    <td> <a href="../elements/088ca1da-54e0-4510-ad29-6cb1c1aa627a.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/2884b1a8-afd0-439c-a063-66f6afdc4d57.html" target="element"> MS Teams </a> </td>
															    <td> <a href="../elements/2884b1a8-afd0-439c-a063-66f6afdc4d57.html" target="element" class="i18n-elementtype-ApplicationInterface">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/5db08cbb-2ba3-4d72-ae08-8a448175b960.html" target="element"> MS CVI (Cloud Video  Interop) </a> </td>
															    <td> <a href="../elements/5db08cbb-2ba3-4d72-ae08-8a448175b960.html" target="element" class="i18n-elementtype-TechnologyCollaboration">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/2ab4fb56-f36c-409e-b150-255940574145.html" target="element"> Brukerutstyr </a> </td>
											    <td> <a href="../elements/2ab4fb56-f36c-409e-b150-255940574145.html" target="element" class="i18n-elementtype-Equipment">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/be369aeb-bb16-44fe-8d8b-d10e9a8f9c30.html" target="element"> UD.Android </a> </td>
													    <td> <a href="../elements/be369aeb-bb16-44fe-8d8b-d10e9a8f9c30.html" target="element" class="i18n-elementtype-Device">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/e22bd943-858a-4756-a940-93a478068aa1.html" target="element"> UD.IOS </a> </td>
													    <td> <a href="../elements/e22bd943-858a-4756-a940-93a478068aa1.html" target="element" class="i18n-elementtype-Device">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/efc1b4c4-1c2e-43d0-979b-949a19b307ab.html" target="element"> MD.MS Windows  </a> </td>
													    <td> <a href="../elements/efc1b4c4-1c2e-43d0-979b-949a19b307ab.html" target="element" class="i18n-elementtype-Device">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/355a3185-c797-48d4-b8c4-2d8ed01c6794.html" target="element"> UM.OS.Netteser </a> </td>
													    <td> <a href="../elements/355a3185-c797-48d4-b8c4-2d8ed01c6794.html" target="element" class="i18n-elementtype-Device">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/e5d2decf-71f7-47a8-a6b4-d07f9949d4e1.html" target="element"> Konferanserom </a> </td>
											    <td> <a href="../elements/e5d2decf-71f7-47a8-a6b4-d07f9949d4e1.html" target="element" class="i18n-elementtype-Equipment">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/d62ab250-8d5e-4b4d-815c-670d5ec703fd.html" target="element"> MD.Cisco Teleprecence/ Room </a> </td>
													    <td> <a href="../elements/d62ab250-8d5e-4b4d-815c-670d5ec703fd.html" target="element" class="i18n-elementtype-Device">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/61eb503c-0eb3-477f-b053-ea06131cb1ad.html" target="element"> Konto 6751 </a> </td>
											    <td> <a href="../elements/61eb503c-0eb3-477f-b053-ea06131cb1ad.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/1c29a5c1-2fb0-47d7-b033-2e79d4fdd271.html" target="element"> Kinly AS </a> </td>
													    <td> <a href="../elements/1c29a5c1-2fb0-47d7-b033-2e79d4fdd271.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/99b51570-0c66-44d6-9a32-5986c04c9b65.html" target="element"> SLA.VCI+CVI </a> </td>
															    <td> <a href="../elements/99b51570-0c66-44d6-9a32-5986c04c9b65.html" target="element" class="i18n-elementtype-Contract">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/272f11fc-b287-459c-96cb-4c99e183d7b3.html" target="element"> DBA.VCI+CVI </a> </td>
															    <td> <a href="../elements/272f11fc-b287-459c-96cb-4c99e183d7b3.html" target="element" class="i18n-elementtype-Contract">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/fae56e8f-1068-42b0-99d0-64a9ce5faf38.html" target="element"> Helse Nord IKT HF&#160;  </a> </td>
													    <td> <a href="../elements/fae56e8f-1068-42b0-99d0-64a9ce5faf38.html" target="element" class="i18n-elementtype-BusinessActor">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/e66a9505-c408-428e-bdf6-e317da335218.html" target="element"> SSA-L.M365 </a> </td>
															    <td> <a href="../elements/e66a9505-c408-428e-bdf6-e317da335218.html" target="element" class="i18n-elementtype-Contract">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/8ba0157a-8d58-4403-95c9-bf617c2bbe01.html" target="element"> DBA.M365 </a> </td>
															    <td> <a href="../elements/8ba0157a-8d58-4403-95c9-bf617c2bbe01.html" target="element" class="i18n-elementtype-Contract">
															    </a> </td>
															</tr>

													
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/5a3220b9-eaf8-4820-a6bf-9fdb87e62672.html" target="element">  </a> </td>
																		<td> <a href="../elements/5a3220b9-eaf8-4820-a6bf-9fdb87e62672.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/08b78ac0-831a-427a-8dc1-593339fa7a3d.html" target="element"> Konferanserom med st&#248;tte for MS Teams </a> </td>
																		<td> <a href="../elements/2789cf49-fa93-4142-8380-b81a035311ba.html" target="element"> Videokonferanse (Fra 09.2021) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/07b23161-b3ca-4c03-a44b-2c1e844415cb.html" target="element">  </a> </td>
																		<td> <a href="../elements/07b23161-b3ca-4c03-a44b-2c1e844415cb.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/aa153190-0242-4a60-acfa-f3bcedb643bf.html" target="element"> Videokonferanse (Til 09.2021) </a> </td>
																		<td> <a href="../elements/08b78ac0-831a-427a-8dc1-593339fa7a3d.html" target="element"> Konferanserom med st&#248;tte for MS Teams </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/fba69dd8-5194-42b3-8408-f8d8f19fd177.html" target="element">  </a> </td>
																		<td> <a href="../elements/fba69dd8-5194-42b3-8408-f8d8f19fd177.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/aa153190-0242-4a60-acfa-f3bcedb643bf.html" target="element"> Videokonferanse (Til 09.2021) </a> </td>
																		<td> <a href="../elements/8e49d634-4c8a-4b81-9c91-ae4754b52248.html" target="element"> Norsk Helsenett SF </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/226260ab-913f-4a64-b4b3-d070f6efa7dd.html" target="element">  </a> </td>
																		<td> <a href="../elements/226260ab-913f-4a64-b4b3-d070f6efa7dd.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/aa153190-0242-4a60-acfa-f3bcedb643bf.html" target="element"> Videokonferanse (Til 09.2021) </a> </td>
																		<td> <a href="../elements/e1dcb228-4a0c-46ed-a79e-1a9e4c375a21.html" target="element"> Telenor SKL </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/044d6a08-2e03-40ef-af0f-2bafe83759c7.html" target="element">  </a> </td>
																				<td> <a href="../elements/044d6a08-2e03-40ef-af0f-2bafe83759c7.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/e1dcb228-4a0c-46ed-a79e-1a9e4c375a21.html" target="element"> Telenor SKL </a> </td>
																				<td> <a href="../elements/10a65dcc-c2e4-4492-b73a-a7a7a417f5ae.html" target="element"> AS.MS Skype for Business </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/92b8e4f1-bd8b-42b8-beb5-41a050d52d71.html" target="element">  </a> </td>
																						<td> <a href="../elements/92b8e4f1-bd8b-42b8-beb5-41a050d52d71.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																						</a> </td>
																						<td> <a href="../elements/8a727a7d-ab79-4b70-a9ee-948fac6e524c.html" target="element"> MS Skype for Business </a> </td>
																						<td> <a href="../elements/10a65dcc-c2e4-4492-b73a-a7a7a417f5ae.html" target="element"> AS.MS Skype for Business </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/1c731f62-73a7-4ca1-b1e6-078037e9bfbb.html" target="element">  </a> </td>
																						<td> <a href="../elements/1c731f62-73a7-4ca1-b1e6-078037e9bfbb.html" target="element" class="i18n-elementtype-ServingRelationship">
																						</a> </td>
																						<td> <a href="../elements/8a727a7d-ab79-4b70-a9ee-948fac6e524c.html" target="element"> MS Skype for Business </a> </td>
																						<td> <a href="../elements/2ab4fb56-f36c-409e-b150-255940574145.html" target="element"> Brukerutstyr </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/a82043dd-0c11-4a6a-8e12-a3d4bd6a7b69.html" target="element">  </a> </td>
																						<td> <a href="../elements/a82043dd-0c11-4a6a-8e12-a3d4bd6a7b69.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																						</a> </td>
																						<td> <a href="../elements/67e02e55-2c38-4f4f-8c3a-3da5c51427b9.html" target="element"> 2meet.telenor.no </a> </td>
																						<td> <a href="../elements/e1dcb228-4a0c-46ed-a79e-1a9e4c375a21.html" target="element"> Telenor SKL </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/12ad68a1-fcb3-4126-b459-abd39db570f5.html" target="element">  </a> </td>
																						<td> <a href="../elements/12ad68a1-fcb3-4126-b459-abd39db570f5.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																						</a> </td>
																						<td> <a href="../elements/ff2ee5bc-a210-4aae-8e91-a31d2683d58f.html" target="element"> Videobro </a> </td>
																						<td> <a href="../elements/9e363a25-21c1-4d9d-a7c0-a1b4ed6e2ea2.html" target="element"> Pexip VCI (Video Conferencing Infrastructure) </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/1d652ac5-f8cc-49ba-a80f-f817ba21ecd2.html" target="element">  </a> </td>
																						<td> <a href="../elements/1d652ac5-f8cc-49ba-a80f-f817ba21ecd2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/ff2ee5bc-a210-4aae-8e91-a31d2683d58f.html" target="element"> Videobro </a> </td>
																						<td> <a href="../elements/67e02e55-2c38-4f4f-8c3a-3da5c51427b9.html" target="element"> 2meet.telenor.no </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/a4fa93eb-d10c-4834-96cf-347ce0a509c8.html" target="element">  </a> </td>
																						<td> <a href="../elements/a4fa93eb-d10c-4834-96cf-347ce0a509c8.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																						</a> </td>
																						<td> <a href="../elements/ff2ee5bc-a210-4aae-8e91-a31d2683d58f.html" target="element"> Videobro </a> </td>
																						<td> <a href="../elements/e1dcb228-4a0c-46ed-a79e-1a9e4c375a21.html" target="element"> Telenor SKL </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/75bd2f1f-d1d3-4778-b870-ed791f107c45.html" target="element">  </a> </td>
																						<td> <a href="../elements/75bd2f1f-d1d3-4778-b870-ed791f107c45.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/ff2ee5bc-a210-4aae-8e91-a31d2683d58f.html" target="element"> Videobro </a> </td>
																						<td> <a href="../elements/10a65dcc-c2e4-4492-b73a-a7a7a417f5ae.html" target="element"> AS.MS Skype for Business </a> </td>
																					</tr>

													
																			<tr>
																				<td> <a href="../elements/82109973-08ef-42f3-92a7-09e8a6c5f117.html" target="element">  </a> </td>
																				<td> <a href="../elements/82109973-08ef-42f3-92a7-09e8a6c5f117.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/8e49d634-4c8a-4b81-9c91-ae4754b52248.html" target="element"> Norsk Helsenett SF </a> </td>
																				<td> <a href="../elements/9e363a25-21c1-4d9d-a7c0-a1b4ed6e2ea2.html" target="element"> Pexip VCI (Video Conferencing Infrastructure) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/0e515870-9209-47bd-8e48-a246d740dfcc.html" target="element">  </a> </td>
																				<td> <a href="../elements/0e515870-9209-47bd-8e48-a246d740dfcc.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/8e49d634-4c8a-4b81-9c91-ae4754b52248.html" target="element"> Norsk Helsenett SF </a> </td>
																				<td> <a href="../elements/22f2fa88-0beb-44f5-b7a7-fb98c0626f93.html" target="element"> h.323.sykehusinnkjop.no </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/1a56cc3f-ec92-4ab4-9583-f9deef68f851.html" target="element">  </a> </td>
																						<td> <a href="../elements/1a56cc3f-ec92-4ab4-9583-f9deef68f851.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																						</a> </td>
																						<td> <a href="../elements/22f2fa88-0beb-44f5-b7a7-fb98c0626f93.html" target="element"> h.323.sykehusinnkjop.no </a> </td>
																						<td> <a href="../elements/9e363a25-21c1-4d9d-a7c0-a1b4ed6e2ea2.html" target="element"> Pexip VCI (Video Conferencing Infrastructure) </a> </td>
																					</tr>

													
											
																	<tr>
																		<td> <a href="../elements/5304f83e-bc08-444b-a020-095c00886334.html" target="element">  </a> </td>
																		<td> <a href="../elements/5304f83e-bc08-444b-a020-095c00886334.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/2789cf49-fa93-4142-8380-b81a035311ba.html" target="element"> Videokonferanse (Fra 09.2021) </a> </td>
																		<td> <a href="../elements/cadd77bc-7aa4-4433-b8ed-ea9304d42de6.html" target="element"> Pexip AS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/01885fa4-efd7-4746-831e-91ada9a9cf2b.html" target="element">  </a> </td>
																		<td> <a href="../elements/01885fa4-efd7-4746-831e-91ada9a9cf2b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/2789cf49-fa93-4142-8380-b81a035311ba.html" target="element"> Videokonferanse (Fra 09.2021) </a> </td>
																		<td> <a href="../elements/23493387-08ac-4671-a939-7ddf1f829ddc.html" target="element"> Microsoft Enterprise Office 365 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/68473c7f-280b-49a1-9fd4-4a19e5e55f6f.html" target="element">  </a> </td>
																		<td> <a href="../elements/68473c7f-280b-49a1-9fd4-4a19e5e55f6f.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/2789cf49-fa93-4142-8380-b81a035311ba.html" target="element"> Videokonferanse (Fra 09.2021) </a> </td>
																		<td> <a href="../elements/61eb503c-0eb3-477f-b053-ea06131cb1ad.html" target="element"> Konto 6751 </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/b0928ff5-ad4b-4ff4-8a74-034c9d19b236.html" target="element">  </a> </td>
																				<td> <a href="../elements/b0928ff5-ad4b-4ff4-8a74-034c9d19b236.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/cadd77bc-7aa4-4433-b8ed-ea9304d42de6.html" target="element"> Pexip AS </a> </td>
																				<td> <a href="../elements/85adf56b-840c-4ab6-aff8-19078d571c6e.html" target="element"> Pexip VCI (Video Conferencing Infrastructure) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/bd1e7bc2-3a87-462e-9cff-61c97031e73f.html" target="element">  </a> </td>
																				<td> <a href="../elements/bd1e7bc2-3a87-462e-9cff-61c97031e73f.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/cadd77bc-7aa4-4433-b8ed-ea9304d42de6.html" target="element"> Pexip AS </a> </td>
																				<td> <a href="../elements/0e34f49a-f82e-46f3-91fc-0316464cbd27.html" target="element"> sip:sykehusinnkjop.no </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/f6ed93d5-b0f4-476e-9efb-f35300c478d0.html" target="element">  </a> </td>
																				<td> <a href="../elements/f6ed93d5-b0f4-476e-9efb-f35300c478d0.html" target="element" class="i18n-elementtype-AggregationRelationship">
																				</a> </td>
																				<td> <a href="../elements/cadd77bc-7aa4-4433-b8ed-ea9304d42de6.html" target="element"> Pexip AS </a> </td>
																				<td> <a href="../elements/b5f5548d-f071-4416-a8cb-062f590f5190.html" target="element"> sip:teams.sykehusinnkjop.no </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/61841b58-1c05-4439-ab67-f3de26e9854e.html" target="element">  </a> </td>
																				<td> <a href="../elements/61841b58-1c05-4439-ab67-f3de26e9854e.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/cadd77bc-7aa4-4433-b8ed-ea9304d42de6.html" target="element"> Pexip AS </a> </td>
																				<td> <a href="../elements/272f11fc-b287-459c-96cb-4c99e183d7b3.html" target="element"> DBA.VCI+CVI </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/75757b5f-ff75-4184-90b5-283c719a6a25.html" target="element">  </a> </td>
																						<td> <a href="../elements/75757b5f-ff75-4184-90b5-283c719a6a25.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/85adf56b-840c-4ab6-aff8-19078d571c6e.html" target="element"> Pexip VCI (Video Conferencing Infrastructure) </a> </td>
																						<td> <a href="../elements/99b51570-0c66-44d6-9a32-5986c04c9b65.html" target="element"> SLA.VCI+CVI </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/f4cd45d8-17f4-4bd8-be1f-5c1c503358c9.html" target="element">  </a> </td>
																						<td> <a href="../elements/f4cd45d8-17f4-4bd8-be1f-5c1c503358c9.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																						</a> </td>
																						<td> <a href="../elements/0e34f49a-f82e-46f3-91fc-0316464cbd27.html" target="element"> sip:sykehusinnkjop.no </a> </td>
																						<td> <a href="../elements/85adf56b-840c-4ab6-aff8-19078d571c6e.html" target="element"> Pexip VCI (Video Conferencing Infrastructure) </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/ecf6168d-ea71-4645-b398-d8c102f7b0ec.html" target="element">  </a> </td>
																						<td> <a href="../elements/ecf6168d-ea71-4645-b398-d8c102f7b0ec.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																						</a> </td>
																						<td> <a href="../elements/b5f5548d-f071-4416-a8cb-062f590f5190.html" target="element"> sip:teams.sykehusinnkjop.no </a> </td>
																						<td> <a href="../elements/85adf56b-840c-4ab6-aff8-19078d571c6e.html" target="element"> Pexip VCI (Video Conferencing Infrastructure) </a> </td>
																					</tr>

													
																			<tr>
																				<td> <a href="../elements/e3226f8e-5b08-45d0-8d96-40a8e6d3a7b5.html" target="element">  </a> </td>
																				<td> <a href="../elements/e3226f8e-5b08-45d0-8d96-40a8e6d3a7b5.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/23493387-08ac-4671-a939-7ddf1f829ddc.html" target="element"> Microsoft Enterprise Office 365 </a> </td>
																				<td> <a href="../elements/088ca1da-54e0-4510-ad29-6cb1c1aa627a.html" target="element"> AS.M365 Teams </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/77e85be7-55f8-4684-bae3-0bb1bea8b02a.html" target="element">  </a> </td>
																				<td> <a href="../elements/77e85be7-55f8-4684-bae3-0bb1bea8b02a.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/23493387-08ac-4671-a939-7ddf1f829ddc.html" target="element"> Microsoft Enterprise Office 365 </a> </td>
																				<td> <a href="../elements/8ba0157a-8d58-4403-95c9-bf617c2bbe01.html" target="element"> DBA.M365 </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/0f06e061-3f3d-4217-909d-e259d82862c0.html" target="element">  </a> </td>
																						<td> <a href="../elements/0f06e061-3f3d-4217-909d-e259d82862c0.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/088ca1da-54e0-4510-ad29-6cb1c1aa627a.html" target="element"> AS.M365 Teams </a> </td>
																						<td> <a href="../elements/e66a9505-c408-428e-bdf6-e317da335218.html" target="element"> SSA-L.M365 </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/b9e2f792-ace2-407d-907b-54288e303543.html" target="element">  </a> </td>
																						<td> <a href="../elements/b9e2f792-ace2-407d-907b-54288e303543.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																						</a> </td>
																						<td> <a href="../elements/2884b1a8-afd0-439c-a063-66f6afdc4d57.html" target="element"> MS Teams </a> </td>
																						<td> <a href="../elements/088ca1da-54e0-4510-ad29-6cb1c1aa627a.html" target="element"> AS.M365 Teams </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/6a961bd2-1464-49ae-a148-bf683dc766a1.html" target="element">  </a> </td>
																						<td> <a href="../elements/6a961bd2-1464-49ae-a148-bf683dc766a1.html" target="element" class="i18n-elementtype-ServingRelationship">
																						</a> </td>
																						<td> <a href="../elements/2884b1a8-afd0-439c-a063-66f6afdc4d57.html" target="element"> MS Teams </a> </td>
																						<td> <a href="../elements/2ab4fb56-f36c-409e-b150-255940574145.html" target="element"> Brukerutstyr </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/c63270ad-7022-4256-a354-5ace03221495.html" target="element">  </a> </td>
																						<td> <a href="../elements/c63270ad-7022-4256-a354-5ace03221495.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/5db08cbb-2ba3-4d72-ae08-8a448175b960.html" target="element"> MS CVI (Cloud Video  Interop) </a> </td>
																						<td> <a href="../elements/088ca1da-54e0-4510-ad29-6cb1c1aa627a.html" target="element"> AS.M365 Teams </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/22c992e1-c8eb-44fd-a2f2-e027a419a6ba.html" target="element">  </a> </td>
																						<td> <a href="../elements/22c992e1-c8eb-44fd-a2f2-e027a419a6ba.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																						</a> </td>
																						<td> <a href="../elements/5db08cbb-2ba3-4d72-ae08-8a448175b960.html" target="element"> MS CVI (Cloud Video  Interop) </a> </td>
																						<td> <a href="../elements/23493387-08ac-4671-a939-7ddf1f829ddc.html" target="element"> Microsoft Enterprise Office 365 </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/1aaa0e61-454b-4a36-9ec2-0788d41daf9f.html" target="element">  </a> </td>
																						<td> <a href="../elements/1aaa0e61-454b-4a36-9ec2-0788d41daf9f.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																						</a> </td>
																						<td> <a href="../elements/5db08cbb-2ba3-4d72-ae08-8a448175b960.html" target="element"> MS CVI (Cloud Video  Interop) </a> </td>
																						<td> <a href="../elements/b5f5548d-f071-4416-a8cb-062f590f5190.html" target="element"> sip:teams.sykehusinnkjop.no </a> </td>
																					</tr>

													
											
																	<tr>
																		<td> <a href="../elements/9dcf91f1-0415-4b3a-a48b-4260936d594c.html" target="element">  </a> </td>
																		<td> <a href="../elements/9dcf91f1-0415-4b3a-a48b-4260936d594c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/2ab4fb56-f36c-409e-b150-255940574145.html" target="element"> Brukerutstyr </a> </td>
																		<td> <a href="../elements/be369aeb-bb16-44fe-8d8b-d10e9a8f9c30.html" target="element"> UD.Android </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1cf7f2ff-9db0-4f91-8d20-4fdcd59bf836.html" target="element">  </a> </td>
																		<td> <a href="../elements/1cf7f2ff-9db0-4f91-8d20-4fdcd59bf836.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/2ab4fb56-f36c-409e-b150-255940574145.html" target="element"> Brukerutstyr </a> </td>
																		<td> <a href="../elements/e22bd943-858a-4756-a940-93a478068aa1.html" target="element"> UD.IOS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7f6b6e85-26ab-44ab-87b9-18c85de61380.html" target="element">  </a> </td>
																		<td> <a href="../elements/7f6b6e85-26ab-44ab-87b9-18c85de61380.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/2ab4fb56-f36c-409e-b150-255940574145.html" target="element"> Brukerutstyr </a> </td>
																		<td> <a href="../elements/efc1b4c4-1c2e-43d0-979b-949a19b307ab.html" target="element"> MD.MS Windows  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e271d0b1-6be4-4649-a058-bbbaf752c891.html" target="element">  </a> </td>
																		<td> <a href="../elements/e271d0b1-6be4-4649-a058-bbbaf752c891.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/2ab4fb56-f36c-409e-b150-255940574145.html" target="element"> Brukerutstyr </a> </td>
																		<td> <a href="../elements/355a3185-c797-48d4-b8c4-2d8ed01c6794.html" target="element"> UM.OS.Netteser </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/237b815d-922a-4fb2-83a0-2c27e0bc7ff1.html" target="element">  </a> </td>
																		<td> <a href="../elements/237b815d-922a-4fb2-83a0-2c27e0bc7ff1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/e5d2decf-71f7-47a8-a6b4-d07f9949d4e1.html" target="element"> Konferanserom </a> </td>
																		<td> <a href="../elements/d62ab250-8d5e-4b4d-815c-670d5ec703fd.html" target="element"> MD.Cisco Teleprecence/ Room </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1e1114c9-a5c0-4a05-b98f-147aeda0c2c2.html" target="element">  </a> </td>
																		<td> <a href="../elements/1e1114c9-a5c0-4a05-b98f-147aeda0c2c2.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/e5d2decf-71f7-47a8-a6b4-d07f9949d4e1.html" target="element"> Konferanserom </a> </td>
																		<td> <a href="../elements/08b78ac0-831a-427a-8dc1-593339fa7a3d.html" target="element"> Konferanserom med st&#248;tte for MS Teams </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/be99491b-df40-437c-8e2d-a85ba95d0f43.html" target="element">  </a> </td>
																				<td> <a href="../elements/be99491b-df40-437c-8e2d-a85ba95d0f43.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/d62ab250-8d5e-4b4d-815c-670d5ec703fd.html" target="element"> MD.Cisco Teleprecence/ Room </a> </td>
																				<td> <a href="../elements/0e34f49a-f82e-46f3-91fc-0316464cbd27.html" target="element"> sip:sykehusinnkjop.no </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/0c72bd1c-5d5e-47b1-ba17-4be47356ad36.html" target="element">  </a> </td>
																				<td> <a href="../elements/0c72bd1c-5d5e-47b1-ba17-4be47356ad36.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/d62ab250-8d5e-4b4d-815c-670d5ec703fd.html" target="element"> MD.Cisco Teleprecence/ Room </a> </td>
																				<td> <a href="../elements/b5f5548d-f071-4416-a8cb-062f590f5190.html" target="element"> sip:teams.sykehusinnkjop.no </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/f90657fa-4828-466c-a707-e393605caa21.html" target="element">  </a> </td>
																				<td> <a href="../elements/f90657fa-4828-466c-a707-e393605caa21.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/d62ab250-8d5e-4b4d-815c-670d5ec703fd.html" target="element"> MD.Cisco Teleprecence/ Room </a> </td>
																				<td> <a href="../elements/22f2fa88-0beb-44f5-b7a7-fb98c0626f93.html" target="element"> h.323.sykehusinnkjop.no </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/b5556627-91be-4b9f-85cb-ce782cca9c7d.html" target="element">  </a> </td>
																		<td> <a href="../elements/b5556627-91be-4b9f-85cb-ce782cca9c7d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/61eb503c-0eb3-477f-b053-ea06131cb1ad.html" target="element"> Konto 6751 </a> </td>
																		<td> <a href="../elements/1c29a5c1-2fb0-47d7-b033-2e79d4fdd271.html" target="element"> Kinly AS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e637b380-d709-4c7c-80b2-23f95cbab226.html" target="element">  </a> </td>
																		<td> <a href="../elements/e637b380-d709-4c7c-80b2-23f95cbab226.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/61eb503c-0eb3-477f-b053-ea06131cb1ad.html" target="element"> Konto 6751 </a> </td>
																		<td> <a href="../elements/fae56e8f-1068-42b0-99d0-64a9ce5faf38.html" target="element"> Helse Nord IKT HF&#160;  </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/19f3148e-75f7-4e92-9b83-6d58d681ff3d.html" target="element">  </a> </td>
																				<td> <a href="../elements/19f3148e-75f7-4e92-9b83-6d58d681ff3d.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/1c29a5c1-2fb0-47d7-b033-2e79d4fdd271.html" target="element"> Kinly AS </a> </td>
																				<td> <a href="../elements/99b51570-0c66-44d6-9a32-5986c04c9b65.html" target="element"> SLA.VCI+CVI </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/845b7fb8-b646-45fc-ae1e-697eacf994f7.html" target="element">  </a> </td>
																				<td> <a href="../elements/845b7fb8-b646-45fc-ae1e-697eacf994f7.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/1c29a5c1-2fb0-47d7-b033-2e79d4fdd271.html" target="element"> Kinly AS </a> </td>
																				<td> <a href="../elements/272f11fc-b287-459c-96cb-4c99e183d7b3.html" target="element"> DBA.VCI+CVI </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/aebc32cf-425f-44d5-b2df-212cfef8a435.html" target="element">  </a> </td>
																				<td> <a href="../elements/aebc32cf-425f-44d5-b2df-212cfef8a435.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/1c29a5c1-2fb0-47d7-b033-2e79d4fdd271.html" target="element"> Kinly AS </a> </td>
																				<td> <a href="../elements/cadd77bc-7aa4-4433-b8ed-ea9304d42de6.html" target="element"> Pexip AS </a> </td>
																			</tr>

													
																			<tr>
																				<td> <a href="../elements/7f8ca9cb-cc7f-4501-b78d-3acd812e9c41.html" target="element">  </a> </td>
																				<td> <a href="../elements/7f8ca9cb-cc7f-4501-b78d-3acd812e9c41.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/fae56e8f-1068-42b0-99d0-64a9ce5faf38.html" target="element"> Helse Nord IKT HF&#160;  </a> </td>
																				<td> <a href="../elements/e66a9505-c408-428e-bdf6-e317da335218.html" target="element"> SSA-L.M365 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/4fbb24e6-2564-4206-aac6-6de16efeee43.html" target="element">  </a> </td>
																				<td> <a href="../elements/4fbb24e6-2564-4206-aac6-6de16efeee43.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/fae56e8f-1068-42b0-99d0-64a9ce5faf38.html" target="element"> Helse Nord IKT HF&#160;  </a> </td>
																				<td> <a href="../elements/23493387-08ac-4671-a939-7ddf1f829ddc.html" target="element"> Microsoft Enterprise Office 365 </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/cf5da44d-9054-4757-b048-5a741c0ff388.html" target="element">  </a> </td>
																				<td> <a href="../elements/cf5da44d-9054-4757-b048-5a741c0ff388.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/fae56e8f-1068-42b0-99d0-64a9ce5faf38.html" target="element"> Helse Nord IKT HF&#160;  </a> </td>
																				<td> <a href="../elements/8ba0157a-8d58-4403-95c9-bf617c2bbe01.html" target="element"> DBA.M365 </a> </td>
																			</tr>

													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>