<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>HR Rapporter</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>HR Rapporter</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/a4884d7c-7b0e-4ad3-842b-ec33686bc91a.png" alt="HR Rapporter" usemap="#a4884d7c-7b0e-4ad3-842b-ec33686bc91amap"/>
			   <map name="a4884d7c-7b0e-4ad3-842b-ec33686bc91amap">
				  				<area shape="rect" coords="34,490,191,563" href="../elements/e650d7c8-09b0-45dc-8aa2-76c7328eff0c.html"  target="element">

				  		<area shape="rect" coords="22,466,407,647" href="../elements/8a20dc25-376e-4c12-b272-91dedc6947bc.html"  target="element">
				  						<area shape="rect" coords="514,166,719,191" href="../elements/75e13536-8b80-4c1e-8826-8a81167c666e.html"  target="element">
				  						<area shape="rect" coords="514,130,719,155" href="../elements/49da7736-9814-4aee-a6b0-aa74a7e9fef3.html"  target="element">
				  						<area shape="rect" coords="514,94,719,119" href="../elements/75884147-fc35-4373-971d-bcbe57119c0d.html"  target="element">

				  				<area shape="rect" coords="502,70,731,203" href="../elements/010e968f-ae61-4058-bf89-4696d522d41d.html"  target="element">

				  		<area shape="rect" coords="490,10,743,239" href="../elements/bc383e0f-d3cc-4659-8749-01798c60a38a.html"  target="element">
				  						<area shape="rect" coords="910,274,1055,395" href="../elements/a48b3c92-b38b-4b1b-b718-55acff624d53.html"  target="element">
				  						<area shape="rect" coords="910,82,1055,203" href="../elements/9b4b34e9-94d1-4126-945e-17428e32588e.html"  target="element">

				  				<area shape="rect" coords="898,46,1067,467" href="../elements/bddf6ff0-2475-43ca-9970-04943a0dfc62.html"  target="element">
				  								<area shape="rect" coords="1138,298,1295,359" href="../elements/f723f927-60f4-49c2-afee-5473f1231c73.html"  target="element">
				  								<area shape="rect" coords="1138,370,1295,443" href="../elements/b53950df-d927-48ea-b8e1-cb3b5740fbff.html"  target="element">

				  						<area shape="rect" coords="1126,274,1307,455" href="../elements/eda1b420-349d-4a5f-b692-735530ce1c30.html"  target="element">
				  								<area shape="rect" coords="1138,94,1295,155" href="../elements/350dd482-2c0d-49ca-8f6f-55342067aac8.html"  target="element">
				  								<area shape="rect" coords="1138,166,1295,239" href="../elements/b1afc13d-bf06-486c-82bf-89b42a5cc323.html"  target="element">

				  						<area shape="rect" coords="1126,70,1307,251" href="../elements/07366a53-3d15-4f3a-9851-b973a91a1aeb.html"  target="element">

				  				<area shape="rect" coords="1114,46,1331,467" href="../elements/540e1aee-84d9-4033-a7e8-87dc9e004502.html"  target="element">

				  		<area shape="rect" coords="886,10,1343,491" href="../elements/72a388ff-3e21-4bb8-865d-b2a76b8b8e95.html"  target="element">
				  				<area shape="rect" coords="34,58,203,119" href="../elements/4083bf8b-5bf4-47a8-a57b-445d25c3c0ae.html"  target="element">
				  				<area shape="rect" coords="226,58,395,383" href="../elements/d0ff031f-1432-431a-824f-0d3fb38b72cd.html"  target="element">

				  		<area shape="rect" coords="10,10,407,419" href="../elements/0e050b5c-6ad3-4e5a-bc04-68de1efaa065.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/0e050b5c-6ad3-4e5a-bc04-68de1efaa065.html" target="element"> Virksomhetsportalen </a> </td>
											    <td> <a href="../elements/0e050b5c-6ad3-4e5a-bc04-68de1efaa065.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/d0ff031f-1432-431a-824f-0d3fb38b72cd.html" target="element"> Virksomhetsrapportering HR </a> </td>
													    <td> <a href="../elements/d0ff031f-1432-431a-824f-0d3fb38b72cd.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/4083bf8b-5bf4-47a8-a57b-445d25c3c0ae.html" target="element"> Sykefrav&#230;r.xlsx </a> </td>
													    <td> <a href="../elements/4083bf8b-5bf4-47a8-a57b-445d25c3c0ae.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/72a388ff-3e21-4bb8-865d-b2a76b8b8e95.html" target="element"> Dataverse </a> </td>
											    <td> <a href="../elements/72a388ff-3e21-4bb8-865d-b2a76b8b8e95.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/540e1aee-84d9-4033-a7e8-87dc9e004502.html" target="element"> Solution HR Data </a> </td>
													    <td> <a href="../elements/540e1aee-84d9-4033-a7e8-87dc9e004502.html" target="element" class="i18n-elementtype-Artifact">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/07366a53-3d15-4f3a-9851-b973a91a1aeb.html" target="element"> Sykefrav&#230;r </a> </td>
															    <td> <a href="../elements/07366a53-3d15-4f3a-9851-b973a91a1aeb.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/b1afc13d-bf06-486c-82bf-89b42a5cc323.html" target="element"> Sykefrav&#230;r </a> </td>
																	    <td> <a href="../elements/b1afc13d-bf06-486c-82bf-89b42a5cc323.html" target="element" class="i18n-elementtype-DataObject">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/350dd482-2c0d-49ca-8f6f-55342067aac8.html" target="element"> /api/data/v9.1/hr_absence </a> </td>
																	    <td> <a href="../elements/350dd482-2c0d-49ca-8f6f-55342067aac8.html" target="element" class="i18n-elementtype-ApplicationInterface">
																	    </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/eda1b420-349d-4a5f-b692-735530ce1c30.html" target="element"> Turnover </a> </td>
															    <td> <a href="../elements/eda1b420-349d-4a5f-b692-735530ce1c30.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/b53950df-d927-48ea-b8e1-cb3b5740fbff.html" target="element"> turnover </a> </td>
																	    <td> <a href="../elements/b53950df-d927-48ea-b8e1-cb3b5740fbff.html" target="element" class="i18n-elementtype-DataObject">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/f723f927-60f4-49c2-afee-5473f1231c73.html" target="element"> /api/data/v9.1/hr_turnover </a> </td>
																	    <td> <a href="../elements/f723f927-60f4-49c2-afee-5473f1231c73.html" target="element" class="i18n-elementtype-ApplicationInterface">
																	    </a> </td>
																	</tr>

															
													
													<tr>
													    <td> <a href="../elements/bddf6ff0-2475-43ca-9970-04943a0dfc62.html" target="element"> CDS Dataflows </a> </td>
													    <td> <a href="../elements/bddf6ff0-2475-43ca-9970-04943a0dfc62.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/9b4b34e9-94d1-4126-945e-17428e32588e.html" target="element"> Sykefrav&#230;r (Periodisk Trigger) </a> </td>
															    <td> <a href="../elements/9b4b34e9-94d1-4126-945e-17428e32588e.html" target="element" class="i18n-elementtype-ApplicationProcess">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/a48b3c92-b38b-4b1b-b718-55acff624d53.html" target="element"> Turnover (Periodisk trigger) </a> </td>
															    <td> <a href="../elements/a48b3c92-b38b-4b1b-b718-55acff624d53.html" target="element" class="i18n-elementtype-ApplicationProcess">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/bc383e0f-d3cc-4659-8749-01798c60a38a.html" target="element"> Power Automate </a> </td>
											    <td> <a href="../elements/bc383e0f-d3cc-4659-8749-01798c60a38a.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/010e968f-ae61-4058-bf89-4696d522d41d.html" target="element"> Hent sykefrav&#230;r </a> </td>
													    <td> <a href="../elements/010e968f-ae61-4058-bf89-4696d522d41d.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/75884147-fc35-4373-971d-bcbe57119c0d.html" target="element"> HTTP Trigger </a> </td>
															    <td> <a href="../elements/75884147-fc35-4373-971d-bcbe57119c0d.html" target="element" class="i18n-elementtype-ApplicationInterface">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/49da7736-9814-4aee-a6b0-aa74a7e9fef3.html" target="element"> List Rows in Sykefrav&#230;r.xlsx </a> </td>
															    <td> <a href="../elements/49da7736-9814-4aee-a6b0-aa74a7e9fef3.html" target="element" class="i18n-elementtype-ApplicationProcess">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/75e13536-8b80-4c1e-8826-8a81167c666e.html" target="element"> Response </a> </td>
															    <td> <a href="../elements/75e13536-8b80-4c1e-8826-8a81167c666e.html" target="element" class="i18n-elementtype-ApplicationProcess">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/8a20dc25-376e-4c12-b272-91dedc6947bc.html" target="element"> Hstat </a> </td>
											    <td> <a href="../elements/8a20dc25-376e-4c12-b272-91dedc6947bc.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/e650d7c8-09b0-45dc-8aa2-76c7328eff0c.html" target="element"> Anskaffelsesregister hstat </a> </td>
													    <td> <a href="../elements/e650d7c8-09b0-45dc-8aa2-76c7328eff0c.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/666274b5-e40d-410d-a484-c391b54c9df0.html" target="element">  </a> </td>
																		<td> <a href="../elements/666274b5-e40d-410d-a484-c391b54c9df0.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/0e050b5c-6ad3-4e5a-bc04-68de1efaa065.html" target="element"> Virksomhetsportalen </a> </td>
																		<td> <a href="../elements/d0ff031f-1432-431a-824f-0d3fb38b72cd.html" target="element"> Virksomhetsrapportering HR </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/9ed26adb-56ba-44ca-812a-440e05b7a717.html" target="element">  </a> </td>
																		<td> <a href="../elements/9ed26adb-56ba-44ca-812a-440e05b7a717.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/0e050b5c-6ad3-4e5a-bc04-68de1efaa065.html" target="element"> Virksomhetsportalen </a> </td>
																		<td> <a href="../elements/4083bf8b-5bf4-47a8-a57b-445d25c3c0ae.html" target="element"> Sykefrav&#230;r.xlsx </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/43abf2d2-f4fb-49f6-ae37-09a51fcca14c.html" target="element">  </a> </td>
																				<td> <a href="../elements/43abf2d2-f4fb-49f6-ae37-09a51fcca14c.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/d0ff031f-1432-431a-824f-0d3fb38b72cd.html" target="element"> Virksomhetsrapportering HR </a> </td>
																				<td> <a href="../elements/4083bf8b-5bf4-47a8-a57b-445d25c3c0ae.html" target="element"> Sykefrav&#230;r.xlsx </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/9286ca51-3e08-44ed-9c7c-73b3a2ca8321.html" target="element">  </a> </td>
																				<td> <a href="../elements/9286ca51-3e08-44ed-9c7c-73b3a2ca8321.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/d0ff031f-1432-431a-824f-0d3fb38b72cd.html" target="element"> Virksomhetsrapportering HR </a> </td>
																				<td> <a href="../elements/75e13536-8b80-4c1e-8826-8a81167c666e.html" target="element"> Response </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/9009fd7c-5885-4063-bf16-fe388a821362.html" target="element">  </a> </td>
																				<td> <a href="../elements/9009fd7c-5885-4063-bf16-fe388a821362.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/d0ff031f-1432-431a-824f-0d3fb38b72cd.html" target="element"> Virksomhetsrapportering HR </a> </td>
																				<td> <a href="../elements/a48b3c92-b38b-4b1b-b718-55acff624d53.html" target="element"> Turnover (Periodisk trigger) </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/ae567373-8fc3-482f-a46b-a9241886e60e.html" target="element">  </a> </td>
																		<td> <a href="../elements/ae567373-8fc3-482f-a46b-a9241886e60e.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/72a388ff-3e21-4bb8-865d-b2a76b8b8e95.html" target="element"> Dataverse </a> </td>
																		<td> <a href="../elements/bddf6ff0-2475-43ca-9970-04943a0dfc62.html" target="element"> CDS Dataflows </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/c2cde366-d9bb-46c6-bc24-9a037b0b6398.html" target="element">  </a> </td>
																				<td> <a href="../elements/c2cde366-d9bb-46c6-bc24-9a037b0b6398.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/540e1aee-84d9-4033-a7e8-87dc9e004502.html" target="element"> Solution HR Data </a> </td>
																				<td> <a href="../elements/72a388ff-3e21-4bb8-865d-b2a76b8b8e95.html" target="element"> Dataverse </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/3e446316-9120-4dcc-8a04-dfd4b5bce4d5.html" target="element">  </a> </td>
																				<td> <a href="../elements/3e446316-9120-4dcc-8a04-dfd4b5bce4d5.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/540e1aee-84d9-4033-a7e8-87dc9e004502.html" target="element"> Solution HR Data </a> </td>
																				<td> <a href="../elements/07366a53-3d15-4f3a-9851-b973a91a1aeb.html" target="element"> Sykefrav&#230;r </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/1b8779b0-fe8e-4dd0-ab9c-276306269d83.html" target="element">  </a> </td>
																				<td> <a href="../elements/1b8779b0-fe8e-4dd0-ab9c-276306269d83.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/540e1aee-84d9-4033-a7e8-87dc9e004502.html" target="element"> Solution HR Data </a> </td>
																				<td> <a href="../elements/eda1b420-349d-4a5f-b692-735530ce1c30.html" target="element"> Turnover </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/19c99daa-2293-4500-95cf-dfb966f19920.html" target="element">  </a> </td>
																						<td> <a href="../elements/19c99daa-2293-4500-95cf-dfb966f19920.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/07366a53-3d15-4f3a-9851-b973a91a1aeb.html" target="element"> Sykefrav&#230;r </a> </td>
																						<td> <a href="../elements/b1afc13d-bf06-486c-82bf-89b42a5cc323.html" target="element"> Sykefrav&#230;r </a> </td>
																					</tr>

																							<tr>
																								<td> <a href="../elements/98a81fcc-75b3-496f-8527-c18da4246852.html" target="element">  </a> </td>
																								<td> <a href="../elements/98a81fcc-75b3-496f-8527-c18da4246852.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																								</a> </td>
																								<td> <a href="../elements/350dd482-2c0d-49ca-8f6f-55342067aac8.html" target="element"> /api/data/v9.1/hr_absence </a> </td>
																								<td> <a href="../elements/07366a53-3d15-4f3a-9851-b973a91a1aeb.html" target="element"> Sykefrav&#230;r </a> </td>
																							</tr>
																							<tr>
																								<td> <a href="../elements/1bd310ac-d648-42ae-8253-09c50fd3894c.html" target="element">  </a> </td>
																								<td> <a href="../elements/1bd310ac-d648-42ae-8253-09c50fd3894c.html" target="element" class="i18n-elementtype-AccessRelationship">
																								</a> </td>
																								<td> <a href="../elements/350dd482-2c0d-49ca-8f6f-55342067aac8.html" target="element"> /api/data/v9.1/hr_absence </a> </td>
																								<td> <a href="../elements/b1afc13d-bf06-486c-82bf-89b42a5cc323.html" target="element"> Sykefrav&#230;r </a> </td>
																							</tr>

															
																					<tr>
																						<td> <a href="../elements/2da39d6a-0fe4-4f52-a7a0-f9a0b679ecf2.html" target="element">  </a> </td>
																						<td> <a href="../elements/2da39d6a-0fe4-4f52-a7a0-f9a0b679ecf2.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/eda1b420-349d-4a5f-b692-735530ce1c30.html" target="element"> Turnover </a> </td>
																						<td> <a href="../elements/b53950df-d927-48ea-b8e1-cb3b5740fbff.html" target="element"> turnover </a> </td>
																					</tr>

																							<tr>
																								<td> <a href="../elements/7099c36d-7911-420f-aac4-d5fe1f604d10.html" target="element">  </a> </td>
																								<td> <a href="../elements/7099c36d-7911-420f-aac4-d5fe1f604d10.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																								</a> </td>
																								<td> <a href="../elements/f723f927-60f4-49c2-afee-5473f1231c73.html" target="element"> /api/data/v9.1/hr_turnover </a> </td>
																								<td> <a href="../elements/eda1b420-349d-4a5f-b692-735530ce1c30.html" target="element"> Turnover </a> </td>
																							</tr>
																							<tr>
																								<td> <a href="../elements/9bfae577-a44e-48a8-8254-63f3fa8dc855.html" target="element">  </a> </td>
																								<td> <a href="../elements/9bfae577-a44e-48a8-8254-63f3fa8dc855.html" target="element" class="i18n-elementtype-AccessRelationship">
																								</a> </td>
																								<td> <a href="../elements/f723f927-60f4-49c2-afee-5473f1231c73.html" target="element"> /api/data/v9.1/hr_turnover </a> </td>
																								<td> <a href="../elements/b53950df-d927-48ea-b8e1-cb3b5740fbff.html" target="element"> turnover </a> </td>
																							</tr>

															
													
																					<tr>
																						<td> <a href="../elements/1f50a444-7462-498e-80c7-f60f65f8f461.html" target="element">  </a> </td>
																						<td> <a href="../elements/1f50a444-7462-498e-80c7-f60f65f8f461.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/9b4b34e9-94d1-4126-945e-17428e32588e.html" target="element"> Sykefrav&#230;r (Periodisk Trigger) </a> </td>
																						<td> <a href="../elements/bddf6ff0-2475-43ca-9970-04943a0dfc62.html" target="element"> CDS Dataflows </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/e6368508-3091-493a-8a80-2b0f007d32cd.html" target="element"> Update </a> </td>
																						<td> <a href="../elements/e6368508-3091-493a-8a80-2b0f007d32cd.html" target="element" class="i18n-elementtype-FlowRelationship">
																						</a> </td>
																						<td> <a href="../elements/9b4b34e9-94d1-4126-945e-17428e32588e.html" target="element"> Sykefrav&#230;r (Periodisk Trigger) </a> </td>
																						<td> <a href="../elements/350dd482-2c0d-49ca-8f6f-55342067aac8.html" target="element"> /api/data/v9.1/hr_absence </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/470e2702-7be7-4958-8766-0ba8669b4e0a.html" target="element"> Request Sykefrav&#230;r </a> </td>
																						<td> <a href="../elements/470e2702-7be7-4958-8766-0ba8669b4e0a.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																						</a> </td>
																						<td> <a href="../elements/9b4b34e9-94d1-4126-945e-17428e32588e.html" target="element"> Sykefrav&#230;r (Periodisk Trigger) </a> </td>
																						<td> <a href="../elements/75884147-fc35-4373-971d-bcbe57119c0d.html" target="element"> HTTP Trigger </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/135432b3-4aa1-493e-8f65-ad833dd805f2.html" target="element">  </a> </td>
																						<td> <a href="../elements/135432b3-4aa1-493e-8f65-ad833dd805f2.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/a48b3c92-b38b-4b1b-b718-55acff624d53.html" target="element"> Turnover (Periodisk trigger) </a> </td>
																						<td> <a href="../elements/bddf6ff0-2475-43ca-9970-04943a0dfc62.html" target="element"> CDS Dataflows </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/6aa37d2e-817f-4f76-a83c-3c185990e1e9.html" target="element"> Update </a> </td>
																						<td> <a href="../elements/6aa37d2e-817f-4f76-a83c-3c185990e1e9.html" target="element" class="i18n-elementtype-FlowRelationship">
																						</a> </td>
																						<td> <a href="../elements/a48b3c92-b38b-4b1b-b718-55acff624d53.html" target="element"> Turnover (Periodisk trigger) </a> </td>
																						<td> <a href="../elements/f723f927-60f4-49c2-afee-5473f1231c73.html" target="element"> /api/data/v9.1/hr_turnover </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/8052978c-b9eb-469c-8e0e-369df1f76b70.html" target="element"> Request Turnover </a> </td>
																						<td> <a href="../elements/8052978c-b9eb-469c-8e0e-369df1f76b70.html" target="element" class="i18n-elementtype-ServingRelationship">
																						</a> </td>
																						<td> <a href="../elements/a48b3c92-b38b-4b1b-b718-55acff624d53.html" target="element"> Turnover (Periodisk trigger) </a> </td>
																						<td> <a href="../elements/d0ff031f-1432-431a-824f-0d3fb38b72cd.html" target="element"> Virksomhetsrapportering HR </a> </td>
																					</tr>

													
											
																	<tr>
																		<td> <a href="../elements/81c7fb85-43b2-4493-8915-913cb5cf7b0d.html" target="element">  </a> </td>
																		<td> <a href="../elements/81c7fb85-43b2-4493-8915-913cb5cf7b0d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/bc383e0f-d3cc-4659-8749-01798c60a38a.html" target="element"> Power Automate </a> </td>
																		<td> <a href="../elements/010e968f-ae61-4058-bf89-4696d522d41d.html" target="element"> Hent sykefrav&#230;r </a> </td>
																	</tr>

																					<tr>
																						<td> <a href="../elements/ee420c33-47f3-46db-875f-6934d2d319ae.html" target="element">  </a> </td>
																						<td> <a href="../elements/ee420c33-47f3-46db-875f-6934d2d319ae.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																						</a> </td>
																						<td> <a href="../elements/75884147-fc35-4373-971d-bcbe57119c0d.html" target="element"> HTTP Trigger </a> </td>
																						<td> <a href="../elements/010e968f-ae61-4058-bf89-4696d522d41d.html" target="element"> Hent sykefrav&#230;r </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/5cd5fbf2-107a-4d91-ae1a-a7d8f830d3f2.html" target="element">  </a> </td>
																						<td> <a href="../elements/5cd5fbf2-107a-4d91-ae1a-a7d8f830d3f2.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																						</a> </td>
																						<td> <a href="../elements/75884147-fc35-4373-971d-bcbe57119c0d.html" target="element"> HTTP Trigger </a> </td>
																						<td> <a href="../elements/49da7736-9814-4aee-a6b0-aa74a7e9fef3.html" target="element"> List Rows in Sykefrav&#230;r.xlsx </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/553912a3-3d5a-495c-98b3-ddaf051c09a9.html" target="element">  </a> </td>
																						<td> <a href="../elements/553912a3-3d5a-495c-98b3-ddaf051c09a9.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/49da7736-9814-4aee-a6b0-aa74a7e9fef3.html" target="element"> List Rows in Sykefrav&#230;r.xlsx </a> </td>
																						<td> <a href="../elements/010e968f-ae61-4058-bf89-4696d522d41d.html" target="element"> Hent sykefrav&#230;r </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/48814564-cea8-41c1-bbd8-3cf0cbd9b428.html" target="element"> Request Sykefrav&#230;r </a> </td>
																						<td> <a href="../elements/48814564-cea8-41c1-bbd8-3cf0cbd9b428.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																						</a> </td>
																						<td> <a href="../elements/49da7736-9814-4aee-a6b0-aa74a7e9fef3.html" target="element"> List Rows in Sykefrav&#230;r.xlsx </a> </td>
																						<td> <a href="../elements/d0ff031f-1432-431a-824f-0d3fb38b72cd.html" target="element"> Virksomhetsrapportering HR </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/12d807dc-25f3-4932-8fab-eeb194f479cf.html" target="element">  </a> </td>
																						<td> <a href="../elements/12d807dc-25f3-4932-8fab-eeb194f479cf.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/75e13536-8b80-4c1e-8826-8a81167c666e.html" target="element"> Response </a> </td>
																						<td> <a href="../elements/010e968f-ae61-4058-bf89-4696d522d41d.html" target="element"> Hent sykefrav&#230;r </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/4a8d121c-bbec-4f06-96e0-eba91d2f629e.html" target="element">  </a> </td>
																						<td> <a href="../elements/4a8d121c-bbec-4f06-96e0-eba91d2f629e.html" target="element" class="i18n-elementtype-ServingRelationship">
																						</a> </td>
																						<td> <a href="../elements/75e13536-8b80-4c1e-8826-8a81167c666e.html" target="element"> Response </a> </td>
																						<td> <a href="../elements/9b4b34e9-94d1-4126-945e-17428e32588e.html" target="element"> Sykefrav&#230;r (Periodisk Trigger) </a> </td>
																					</tr>

													
											
																	<tr>
																		<td> <a href="../elements/27bc6a39-3c4f-4718-b589-b134d81d5b0c.html" target="element">  </a> </td>
																		<td> <a href="../elements/27bc6a39-3c4f-4718-b589-b134d81d5b0c.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/8a20dc25-376e-4c12-b272-91dedc6947bc.html" target="element"> Hstat </a> </td>
																		<td> <a href="../elements/e650d7c8-09b0-45dc-8aa2-76c7328eff0c.html" target="element"> Anskaffelsesregister hstat </a> </td>
																	</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>