<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Anskaffelser</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Anskaffelser</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/b170f251-1c0e-44eb-88f7-e8c52f7f3b14.png" alt="Anskaffelser" usemap="#b170f251-1c0e-44eb-88f7-e8c52f7f3b14map"/>
			   <map name="b170f251-1c0e-44eb-88f7-e8c52f7f3b14map">
				  						<area shape="rect" coords="46,178,263,263" href="../elements/e92b21ce-9c5c-4eff-8bd5-5d93c4f6e7d4.html"  target="element">
				  						<area shape="rect" coords="46,94,263,167" href="../elements/a3f5d137-43b4-4a0a-b088-580c47b74f2e.html"  target="element">

				  				<area shape="rect" coords="22,46,359,299" href="../elements/0e050b5c-6ad3-4e5a-bc04-68de1efaa065.html"  target="element">

				  		<area shape="rect" coords="10,10,371,323" href="../elements/c8af8358-abe4-44f1-9a4d-676897f490d3.html"  target="element">
				  				<area shape="rect" coords="1462,190,1607,239" href="../elements/a277f960-58d0-4183-bf33-782109b65629.html"  target="element">

				  		<area shape="rect" coords="1438,70,1624,323" href="../elements/c843a441-099c-46fd-a919-ea0c2fbe58c3.html"  target="element">
				  						<area shape="rect" coords="1198,178,1403,239" href="../elements/2261b179-7548-4ead-842c-ec4a18dc9d69.html"  target="element">
				  						<area shape="rect" coords="1198,250,1403,299" href="../elements/cdd36bda-df4a-47a2-af65-a3b8f76446a0.html"  target="element">
				  						<area shape="rect" coords="1198,118,1403,167" href="../elements/bd992a27-1ced-4850-b58b-9783f1e45f0e.html"  target="element">

				  				<area shape="rect" coords="1186,94,1415,323" href="../elements/18c09d87-226e-4cbd-8feb-3efcdc992291.html"  target="element">

				  		<area shape="rect" coords="1174,46,1426,347" href="../elements/bc383e0f-d3cc-4659-8749-01798c60a38a.html"  target="element">
				  				<area shape="rect" coords="190,490,323,545" href="../elements/2dd9eecf-d161-44f8-93bc-39f10068a14c.html"  target="element">
				  				<area shape="rect" coords="22,490,142,545" href="../elements/2175b72f-4225-4ae6-a1a4-c99ad31fd32f.html"  target="element">
				  				<area shape="rect" coords="190,394,323,449" href="../elements/1efcc1dc-bad2-45f2-b9ea-633f9de0950a.html"  target="element">
				  				<area shape="rect" coords="22,394,142,449" href="../elements/e650d7c8-09b0-45dc-8aa2-76c7328eff0c.html"  target="element">

				  		<area shape="rect" coords="10,358,335,587" href="../elements/8a20dc25-376e-4c12-b272-91dedc6947bc.html"  target="element">
				  						<area shape="rect" coords="814,358,1067,419" href="../elements/51a39cd2-ab68-4b78-b164-297d86375e70.html"  target="element">

				  				<area shape="rect" coords="802,334,1087,443" href="../elements/9fea2fef-a071-4df2-8023-3495d06e4c30.html"  target="element">
				  						<area shape="rect" coords="814,214,1067,269" href="../elements/d244e6be-7b59-4feb-9714-910c1e7c6c1e.html"  target="element">

				  				<area shape="rect" coords="802,190,1087,314" href="../elements/9d400c1d-631f-4443-b957-1d934f7003f8.html"  target="element">
				  								<area shape="rect" coords="514,358,659,407" href="../elements/48bd4e08-9e70-43dd-8c9a-2061ead66af5.html"  target="element">
				  								<area shape="rect" coords="514,190,659,239" href="../elements/9c40f3bb-b73c-4f71-a72b-3a8e7d5cd43a.html"  target="element">
				  								<area shape="rect" coords="514,130,659,179" href="../elements/d137d095-1344-419b-8caa-d28154930060.html"  target="element">

				  						<area shape="rect" coords="502,82,671,515" href="../elements/2646e5b0-5e61-4743-b4c2-d43d10b81020.html"  target="element">

				  				<area shape="rect" coords="490,58,683,527" href="../elements/bddf6ff0-2475-43ca-9970-04943a0dfc62.html"  target="element">
				  						<area shape="rect" coords="814,82,1067,119" href="../elements/d6efacee-63b5-46c6-97e2-4fbb98c384fe.html"  target="element">

				  				<area shape="rect" coords="802,58,1087,176" href="../elements/695f4aba-61ab-427c-8ca1-4858a7224cd4.html"  target="element">

				  		<area shape="rect" coords="478,10,1127,539" href="../elements/72a388ff-3e21-4bb8-865d-b2a76b8b8e95.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/72a388ff-3e21-4bb8-865d-b2a76b8b8e95.html" target="element"> Dataverse </a> </td>
											    <td> <a href="../elements/72a388ff-3e21-4bb8-865d-b2a76b8b8e95.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/695f4aba-61ab-427c-8ca1-4858a7224cd4.html" target="element"> Sykehusinnkj&#248;p Anskaffelser </a> </td>
													    <td> <a href="../elements/695f4aba-61ab-427c-8ca1-4858a7224cd4.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/d6efacee-63b5-46c6-97e2-4fbb98c384fe.html" target="element"> /api/data/v9.1/shi_procurements </a> </td>
															    <td> <a href="../elements/d6efacee-63b5-46c6-97e2-4fbb98c384fe.html" target="element" class="i18n-elementtype-ApplicationInterface">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/bddf6ff0-2475-43ca-9970-04943a0dfc62.html" target="element"> CDS Dataflows </a> </td>
													    <td> <a href="../elements/bddf6ff0-2475-43ca-9970-04943a0dfc62.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/2646e5b0-5e61-4743-b4c2-d43d10b81020.html" target="element"> shi_procurements import </a> </td>
															    <td> <a href="../elements/2646e5b0-5e61-4743-b4c2-d43d10b81020.html" target="element" class="i18n-elementtype-ApplicationFunction">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/d137d095-1344-419b-8caa-d28154930060.html" target="element"> Merge Anskaffelser </a> </td>
																	    <td> <a href="../elements/d137d095-1344-419b-8caa-d28154930060.html" target="element" class="i18n-elementtype-ApplicationProcess">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/9c40f3bb-b73c-4f71-a72b-3a8e7d5cd43a.html" target="element"> Merge medlemmer </a> </td>
																	    <td> <a href="../elements/9c40f3bb-b73c-4f71-a72b-3a8e7d5cd43a.html" target="element" class="i18n-elementtype-ApplicationProcess">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/48bd4e08-9e70-43dd-8c9a-2061ead66af5.html" target="element"> Organisasjoner </a> </td>
																	    <td> <a href="../elements/48bd4e08-9e70-43dd-8c9a-2061ead66af5.html" target="element" class="i18n-elementtype-ApplicationProcess">
																	    </a> </td>
																	</tr>

															
													
													<tr>
													    <td> <a href="../elements/9d400c1d-631f-4443-b957-1d934f7003f8.html" target="element"> Sykehusinnkj&#248;p Anskaffelses medlemer </a> </td>
													    <td> <a href="../elements/9d400c1d-631f-4443-b957-1d934f7003f8.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/d244e6be-7b59-4feb-9714-910c1e7c6c1e.html" target="element"> /api/data/v9.1/shi_procurement_members </a> </td>
															    <td> <a href="../elements/d244e6be-7b59-4feb-9714-910c1e7c6c1e.html" target="element" class="i18n-elementtype-ApplicationInterface">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/9fea2fef-a071-4df2-8023-3495d06e4c30.html" target="element"> Forretningsforbindelser </a> </td>
													    <td> <a href="../elements/9fea2fef-a071-4df2-8023-3495d06e4c30.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/51a39cd2-ab68-4b78-b164-297d86375e70.html" target="element"> /api/data/v9.1/Accounts </a> </td>
															    <td> <a href="../elements/51a39cd2-ab68-4b78-b164-297d86375e70.html" target="element" class="i18n-elementtype-ApplicationInterface">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/8a20dc25-376e-4c12-b272-91dedc6947bc.html" target="element"> Hstat </a> </td>
											    <td> <a href="../elements/8a20dc25-376e-4c12-b272-91dedc6947bc.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/e650d7c8-09b0-45dc-8aa2-76c7328eff0c.html" target="element"> Anskaffelsesregister hstat </a> </td>
													    <td> <a href="../elements/e650d7c8-09b0-45dc-8aa2-76c7328eff0c.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/1efcc1dc-bad2-45f2-b9ea-633f9de0950a.html" target="element"> /api/v2/procurements </a> </td>
													    <td> <a href="../elements/1efcc1dc-bad2-45f2-b9ea-633f9de0950a.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/2175b72f-4225-4ae6-a1a4-c99ad31fd32f.html" target="element"> Helseforetakregister </a> </td>
													    <td> <a href="../elements/2175b72f-4225-4ae6-a1a4-c99ad31fd32f.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/2dd9eecf-d161-44f8-93bc-39f10068a14c.html" target="element"> /api/v1/organisations </a> </td>
													    <td> <a href="../elements/2dd9eecf-d161-44f8-93bc-39f10068a14c.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/bc383e0f-d3cc-4659-8749-01798c60a38a.html" target="element"> Power Automate </a> </td>
											    <td> <a href="../elements/bc383e0f-d3cc-4659-8749-01798c60a38a.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/18c09d87-226e-4cbd-8feb-3efcdc992291.html" target="element"> Sett prosjektleder </a> </td>
													    <td> <a href="../elements/18c09d87-226e-4cbd-8feb-3efcdc992291.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/bd992a27-1ced-4850-b58b-9783f1e45f0e.html" target="element"> Opprett eller oppdater Prosjektleder epostadresse </a> </td>
															    <td> <a href="../elements/bd992a27-1ced-4850-b58b-9783f1e45f0e.html" target="element" class="i18n-elementtype-ApplicationEvent">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/cdd36bda-df4a-47a2-af65-a3b8f76446a0.html" target="element"> Oppdater Anskaffelses Eier </a> </td>
															    <td> <a href="../elements/cdd36bda-df4a-47a2-af65-a3b8f76446a0.html" target="element" class="i18n-elementtype-ApplicationProcess">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/2261b179-7548-4ead-842c-ec4a18dc9d69.html" target="element"> Hent bruker </a> </td>
															    <td> <a href="../elements/2261b179-7548-4ead-842c-ec4a18dc9d69.html" target="element" class="i18n-elementtype-ApplicationProcess">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/c843a441-099c-46fd-a919-ea0c2fbe58c3.html" target="element"> MS Entra (Sykehusinnkj&#248;p HF </a> </td>
											    <td> <a href="../elements/c843a441-099c-46fd-a919-ea0c2fbe58c3.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/a277f960-58d0-4183-bf33-782109b65629.html" target="element"> Brukerregister </a> </td>
													    <td> <a href="../elements/a277f960-58d0-4183-bf33-782109b65629.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/c8af8358-abe4-44f1-9a4d-676897f490d3.html" target="element"> SharePoint Site Collection </a> </td>
											    <td> <a href="../elements/c8af8358-abe4-44f1-9a4d-676897f490d3.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/0e050b5c-6ad3-4e5a-bc04-68de1efaa065.html" target="element"> Virksomhetsportalen </a> </td>
													    <td> <a href="../elements/0e050b5c-6ad3-4e5a-bc04-68de1efaa065.html" target="element" class="i18n-elementtype-ApplicationComponent">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/a3f5d137-43b4-4a0a-b088-580c47b74f2e.html" target="element"> Anskaffelser Vest.xlsx </a> </td>
															    <td> <a href="../elements/a3f5d137-43b4-4a0a-b088-580c47b74f2e.html" target="element" class="i18n-elementtype-DataObject">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/e92b21ce-9c5c-4eff-8bd5-5d93c4f6e7d4.html" target="element"> Totaloversikt anskaffelser_Divisjon Legemidler_Master.xlsx </a> </td>
															    <td> <a href="../elements/e92b21ce-9c5c-4eff-8bd5-5d93c4f6e7d4.html" target="element" class="i18n-elementtype-DataObject">
															    </a> </td>
															</tr>

													
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/79fcfc0f-5b20-451c-9a55-13ef4a715c32.html" target="element">  </a> </td>
																		<td> <a href="../elements/79fcfc0f-5b20-451c-9a55-13ef4a715c32.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/72a388ff-3e21-4bb8-865d-b2a76b8b8e95.html" target="element"> Dataverse </a> </td>
																		<td> <a href="../elements/695f4aba-61ab-427c-8ca1-4858a7224cd4.html" target="element"> Sykehusinnkj&#248;p Anskaffelser </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ae567373-8fc3-482f-a46b-a9241886e60e.html" target="element">  </a> </td>
																		<td> <a href="../elements/ae567373-8fc3-482f-a46b-a9241886e60e.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/72a388ff-3e21-4bb8-865d-b2a76b8b8e95.html" target="element"> Dataverse </a> </td>
																		<td> <a href="../elements/bddf6ff0-2475-43ca-9970-04943a0dfc62.html" target="element"> CDS Dataflows </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8a4a8e80-ad57-499c-876b-af5f535f5027.html" target="element">  </a> </td>
																		<td> <a href="../elements/8a4a8e80-ad57-499c-876b-af5f535f5027.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/72a388ff-3e21-4bb8-865d-b2a76b8b8e95.html" target="element"> Dataverse </a> </td>
																		<td> <a href="../elements/9d400c1d-631f-4443-b957-1d934f7003f8.html" target="element"> Sykehusinnkj&#248;p Anskaffelses medlemer </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/dbbf12de-5a42-4060-be52-546a81a18866.html" target="element">  </a> </td>
																		<td> <a href="../elements/dbbf12de-5a42-4060-be52-546a81a18866.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/72a388ff-3e21-4bb8-865d-b2a76b8b8e95.html" target="element"> Dataverse </a> </td>
																		<td> <a href="../elements/9fea2fef-a071-4df2-8023-3495d06e4c30.html" target="element"> Forretningsforbindelser </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/f9813242-5637-4238-bb91-c376a4bcd05b.html" target="element">  </a> </td>
																				<td> <a href="../elements/f9813242-5637-4238-bb91-c376a4bcd05b.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/695f4aba-61ab-427c-8ca1-4858a7224cd4.html" target="element"> Sykehusinnkj&#248;p Anskaffelser </a> </td>
																				<td> <a href="../elements/bd992a27-1ced-4850-b58b-9783f1e45f0e.html" target="element"> Opprett eller oppdater Prosjektleder epostadresse </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/fb89ae0c-0caf-4733-a9d5-cabc012c085f.html" target="element">  </a> </td>
																						<td> <a href="../elements/fb89ae0c-0caf-4733-a9d5-cabc012c085f.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																						</a> </td>
																						<td> <a href="../elements/d6efacee-63b5-46c6-97e2-4fbb98c384fe.html" target="element"> /api/data/v9.1/shi_procurements </a> </td>
																						<td> <a href="../elements/695f4aba-61ab-427c-8ca1-4858a7224cd4.html" target="element"> Sykehusinnkj&#248;p Anskaffelser </a> </td>
																					</tr>

													
																					<tr>
																						<td> <a href="../elements/e5e366e6-0f9f-4dbb-84d5-2241c8cb894e.html" target="element">  </a> </td>
																						<td> <a href="../elements/e5e366e6-0f9f-4dbb-84d5-2241c8cb894e.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/2646e5b0-5e61-4743-b4c2-d43d10b81020.html" target="element"> shi_procurements import </a> </td>
																						<td> <a href="../elements/bddf6ff0-2475-43ca-9970-04943a0dfc62.html" target="element"> CDS Dataflows </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/97a8539c-c56d-4bbd-a8e5-809d972bd7fd.html" target="element"> Hent anskaffelser fra divisjon vest </a> </td>
																						<td> <a href="../elements/97a8539c-c56d-4bbd-a8e5-809d972bd7fd.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/2646e5b0-5e61-4743-b4c2-d43d10b81020.html" target="element"> shi_procurements import </a> </td>
																						<td> <a href="../elements/a3f5d137-43b4-4a0a-b088-580c47b74f2e.html" target="element"> Anskaffelser Vest.xlsx </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/cad36987-b384-42c6-aac7-7efb437a72cf.html" target="element">  </a> </td>
																						<td> <a href="../elements/cad36987-b384-42c6-aac7-7efb437a72cf.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/2646e5b0-5e61-4743-b4c2-d43d10b81020.html" target="element"> shi_procurements import </a> </td>
																						<td> <a href="../elements/e92b21ce-9c5c-4eff-8bd5-5d93c4f6e7d4.html" target="element"> Totaloversikt anskaffelser_Divisjon Legemidler_Master.xlsx </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/a9e73e00-23da-487d-a389-9f0fc6101eb8.html" target="element"> Request Procurements </a> </td>
																						<td> <a href="../elements/a9e73e00-23da-487d-a389-9f0fc6101eb8.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																						</a> </td>
																						<td> <a href="../elements/2646e5b0-5e61-4743-b4c2-d43d10b81020.html" target="element"> shi_procurements import </a> </td>
																						<td> <a href="../elements/1efcc1dc-bad2-45f2-b9ea-633f9de0950a.html" target="element"> /api/v2/procurements </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/b8142217-6088-46c1-b3f3-b750328962ac.html" target="element">  </a> </td>
																						<td> <a href="../elements/b8142217-6088-46c1-b3f3-b750328962ac.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/2646e5b0-5e61-4743-b4c2-d43d10b81020.html" target="element"> shi_procurements import </a> </td>
																						<td> <a href="../elements/d137d095-1344-419b-8caa-d28154930060.html" target="element"> Merge Anskaffelser </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/8f7cef14-370f-44ee-b683-c13921e5b171.html" target="element">  </a> </td>
																						<td> <a href="../elements/8f7cef14-370f-44ee-b683-c13921e5b171.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/2646e5b0-5e61-4743-b4c2-d43d10b81020.html" target="element"> shi_procurements import </a> </td>
																						<td> <a href="../elements/9c40f3bb-b73c-4f71-a72b-3a8e7d5cd43a.html" target="element"> Merge medlemmer </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/84a0440d-49ea-438a-9fed-c5d6bb37e0a7.html" target="element">  </a> </td>
																						<td> <a href="../elements/84a0440d-49ea-438a-9fed-c5d6bb37e0a7.html" target="element" class="i18n-elementtype-CompositionRelationship">
																						</a> </td>
																						<td> <a href="../elements/2646e5b0-5e61-4743-b4c2-d43d10b81020.html" target="element"> shi_procurements import </a> </td>
																						<td> <a href="../elements/48bd4e08-9e70-43dd-8c9a-2061ead66af5.html" target="element"> Organisasjoner </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/6dbd6a10-ea03-4b58-a2c0-b801830b38e1.html" target="element"> Request Helseforetak </a> </td>
																						<td> <a href="../elements/6dbd6a10-ea03-4b58-a2c0-b801830b38e1.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																						</a> </td>
																						<td> <a href="../elements/2646e5b0-5e61-4743-b4c2-d43d10b81020.html" target="element"> shi_procurements import </a> </td>
																						<td> <a href="../elements/2dd9eecf-d161-44f8-93bc-39f10068a14c.html" target="element"> /api/v1/organisations </a> </td>
																					</tr>

																							<tr>
																								<td> <a href="../elements/0f68e317-2149-44a8-95d8-a554d84994b5.html" target="element"> Update anskaffelser </a> </td>
																								<td> <a href="../elements/0f68e317-2149-44a8-95d8-a554d84994b5.html" target="element" class="i18n-elementtype-FlowRelationship">
																								</a> </td>
																								<td> <a href="../elements/d137d095-1344-419b-8caa-d28154930060.html" target="element"> Merge Anskaffelser </a> </td>
																								<td> <a href="../elements/d6efacee-63b5-46c6-97e2-4fbb98c384fe.html" target="element"> /api/data/v9.1/shi_procurements </a> </td>
																							</tr>

																							<tr>
																								<td> <a href="../elements/bad1dce4-9011-4204-99df-dc0c154ca6b8.html" target="element"> Overwrite medlemmer </a> </td>
																								<td> <a href="../elements/bad1dce4-9011-4204-99df-dc0c154ca6b8.html" target="element" class="i18n-elementtype-FlowRelationship">
																								</a> </td>
																								<td> <a href="../elements/9c40f3bb-b73c-4f71-a72b-3a8e7d5cd43a.html" target="element"> Merge medlemmer </a> </td>
																								<td> <a href="../elements/d244e6be-7b59-4feb-9714-910c1e7c6c1e.html" target="element"> /api/data/v9.1/shi_procurement_members </a> </td>
																							</tr>

																							<tr>
																								<td> <a href="../elements/efb285ac-b6b9-4c66-91c8-695ab7cb6075.html" target="element"> Update helseforetak </a> </td>
																								<td> <a href="../elements/efb285ac-b6b9-4c66-91c8-695ab7cb6075.html" target="element" class="i18n-elementtype-FlowRelationship">
																								</a> </td>
																								<td> <a href="../elements/48bd4e08-9e70-43dd-8c9a-2061ead66af5.html" target="element"> Organisasjoner </a> </td>
																								<td> <a href="../elements/51a39cd2-ab68-4b78-b164-297d86375e70.html" target="element"> /api/data/v9.1/Accounts </a> </td>
																							</tr>

															
													
																					<tr>
																						<td> <a href="../elements/b9b3f89f-975c-4b12-aa3e-b3794ac83ce3.html" target="element">  </a> </td>
																						<td> <a href="../elements/b9b3f89f-975c-4b12-aa3e-b3794ac83ce3.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																						</a> </td>
																						<td> <a href="../elements/d244e6be-7b59-4feb-9714-910c1e7c6c1e.html" target="element"> /api/data/v9.1/shi_procurement_members </a> </td>
																						<td> <a href="../elements/9d400c1d-631f-4443-b957-1d934f7003f8.html" target="element"> Sykehusinnkj&#248;p Anskaffelses medlemer </a> </td>
																					</tr>

													
																					<tr>
																						<td> <a href="../elements/ea1fe606-efd7-4f78-9dd8-f2d8335c5abc.html" target="element">  </a> </td>
																						<td> <a href="../elements/ea1fe606-efd7-4f78-9dd8-f2d8335c5abc.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																						</a> </td>
																						<td> <a href="../elements/51a39cd2-ab68-4b78-b164-297d86375e70.html" target="element"> /api/data/v9.1/Accounts </a> </td>
																						<td> <a href="../elements/9fea2fef-a071-4df2-8023-3495d06e4c30.html" target="element"> Forretningsforbindelser </a> </td>
																					</tr>

													
											
																	<tr>
																		<td> <a href="../elements/27bc6a39-3c4f-4718-b589-b134d81d5b0c.html" target="element">  </a> </td>
																		<td> <a href="../elements/27bc6a39-3c4f-4718-b589-b134d81d5b0c.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/8a20dc25-376e-4c12-b272-91dedc6947bc.html" target="element"> Hstat </a> </td>
																		<td> <a href="../elements/e650d7c8-09b0-45dc-8aa2-76c7328eff0c.html" target="element"> Anskaffelsesregister hstat </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/e38db46f-86cf-4c21-9b0e-6c11303892ba.html" target="element">  </a> </td>
																		<td> <a href="../elements/e38db46f-86cf-4c21-9b0e-6c11303892ba.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/8a20dc25-376e-4c12-b272-91dedc6947bc.html" target="element"> Hstat </a> </td>
																		<td> <a href="../elements/2175b72f-4225-4ae6-a1a4-c99ad31fd32f.html" target="element"> Helseforetakregister </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/d0328dcc-0d65-4709-9df6-b2767ffa821e.html" target="element">  </a> </td>
																				<td> <a href="../elements/d0328dcc-0d65-4709-9df6-b2767ffa821e.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/1efcc1dc-bad2-45f2-b9ea-633f9de0950a.html" target="element"> /api/v2/procurements </a> </td>
																				<td> <a href="../elements/8a20dc25-376e-4c12-b272-91dedc6947bc.html" target="element"> Hstat </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/6152130a-0940-4973-b764-d47a65f36177.html" target="element">  </a> </td>
																				<td> <a href="../elements/6152130a-0940-4973-b764-d47a65f36177.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/1efcc1dc-bad2-45f2-b9ea-633f9de0950a.html" target="element"> /api/v2/procurements </a> </td>
																				<td> <a href="../elements/e650d7c8-09b0-45dc-8aa2-76c7328eff0c.html" target="element"> Anskaffelsesregister hstat </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/29e46997-e162-460f-81aa-2958cd315279.html" target="element">  </a> </td>
																				<td> <a href="../elements/29e46997-e162-460f-81aa-2958cd315279.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/1efcc1dc-bad2-45f2-b9ea-633f9de0950a.html" target="element"> /api/v2/procurements </a> </td>
																				<td> <a href="../elements/2646e5b0-5e61-4743-b4c2-d43d10b81020.html" target="element"> shi_procurements import </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/d6a47b6a-a502-4802-88db-6631f47c9ec9.html" target="element">  </a> </td>
																				<td> <a href="../elements/d6a47b6a-a502-4802-88db-6631f47c9ec9.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/2dd9eecf-d161-44f8-93bc-39f10068a14c.html" target="element"> /api/v1/organisations </a> </td>
																				<td> <a href="../elements/8a20dc25-376e-4c12-b272-91dedc6947bc.html" target="element"> Hstat </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/65a0bda2-449f-48b8-9036-c52eae3182bc.html" target="element">  </a> </td>
																		<td> <a href="../elements/65a0bda2-449f-48b8-9036-c52eae3182bc.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/bc383e0f-d3cc-4659-8749-01798c60a38a.html" target="element"> Power Automate </a> </td>
																		<td> <a href="../elements/18c09d87-226e-4cbd-8feb-3efcdc992291.html" target="element"> Sett prosjektleder </a> </td>
																	</tr>

																					<tr>
																						<td> <a href="../elements/1edfd68c-900c-47b4-81ff-c4d856beaf52.html" target="element">  </a> </td>
																						<td> <a href="../elements/1edfd68c-900c-47b4-81ff-c4d856beaf52.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																						</a> </td>
																						<td> <a href="../elements/bd992a27-1ced-4850-b58b-9783f1e45f0e.html" target="element"> Opprett eller oppdater Prosjektleder epostadresse </a> </td>
																						<td> <a href="../elements/2261b179-7548-4ead-842c-ec4a18dc9d69.html" target="element"> Hent bruker </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/585a002c-c468-46fa-b455-98bf9ad2cf1c.html" target="element">  </a> </td>
																						<td> <a href="../elements/585a002c-c468-46fa-b455-98bf9ad2cf1c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/cdd36bda-df4a-47a2-af65-a3b8f76446a0.html" target="element"> Oppdater Anskaffelses Eier </a> </td>
																						<td> <a href="../elements/18c09d87-226e-4cbd-8feb-3efcdc992291.html" target="element"> Sett prosjektleder </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/e5a709da-5f5a-4f39-b827-deb291c446f9.html" target="element">  </a> </td>
																						<td> <a href="../elements/e5a709da-5f5a-4f39-b827-deb291c446f9.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																						</a> </td>
																						<td> <a href="../elements/cdd36bda-df4a-47a2-af65-a3b8f76446a0.html" target="element"> Oppdater Anskaffelses Eier </a> </td>
																						<td> <a href="../elements/d6efacee-63b5-46c6-97e2-4fbb98c384fe.html" target="element"> /api/data/v9.1/shi_procurements </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/8d66431e-be93-4043-83f2-46aaed5d63bd.html" target="element">  </a> </td>
																						<td> <a href="../elements/8d66431e-be93-4043-83f2-46aaed5d63bd.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/2261b179-7548-4ead-842c-ec4a18dc9d69.html" target="element"> Hent bruker </a> </td>
																						<td> <a href="../elements/18c09d87-226e-4cbd-8feb-3efcdc992291.html" target="element"> Sett prosjektleder </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/2e979bdd-3d24-4477-b76f-49a366416baa.html" target="element">  </a> </td>
																						<td> <a href="../elements/2e979bdd-3d24-4477-b76f-49a366416baa.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/2261b179-7548-4ead-842c-ec4a18dc9d69.html" target="element"> Hent bruker </a> </td>
																						<td> <a href="../elements/a277f960-58d0-4183-bf33-782109b65629.html" target="element"> Brukerregister </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/26ea4750-1b6b-470a-9ce2-5f595bf9efdc.html" target="element">  </a> </td>
																						<td> <a href="../elements/26ea4750-1b6b-470a-9ce2-5f595bf9efdc.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																						</a> </td>
																						<td> <a href="../elements/2261b179-7548-4ead-842c-ec4a18dc9d69.html" target="element"> Hent bruker </a> </td>
																						<td> <a href="../elements/cdd36bda-df4a-47a2-af65-a3b8f76446a0.html" target="element"> Oppdater Anskaffelses Eier </a> </td>
																					</tr>

													
											
																	<tr>
																		<td> <a href="../elements/17fa80e8-3d94-4d30-9b46-6b79d85b5b70.html" target="element">  </a> </td>
																		<td> <a href="../elements/17fa80e8-3d94-4d30-9b46-6b79d85b5b70.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/c843a441-099c-46fd-a919-ea0c2fbe58c3.html" target="element"> MS Entra (Sykehusinnkj&#248;p HF </a> </td>
																		<td> <a href="../elements/a277f960-58d0-4183-bf33-782109b65629.html" target="element"> Brukerregister </a> </td>
																	</tr>

											
																			<tr>
																				<td> <a href="../elements/fe821fed-2afc-4a67-bcd4-e9261eca66ee.html" target="element">  </a> </td>
																				<td> <a href="../elements/fe821fed-2afc-4a67-bcd4-e9261eca66ee.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/0e050b5c-6ad3-4e5a-bc04-68de1efaa065.html" target="element"> Virksomhetsportalen </a> </td>
																				<td> <a href="../elements/a3f5d137-43b4-4a0a-b088-580c47b74f2e.html" target="element"> Anskaffelser Vest.xlsx </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/f15d91a8-84db-4c2b-90ef-ad7b6ec0440f.html" target="element">  </a> </td>
																				<td> <a href="../elements/f15d91a8-84db-4c2b-90ef-ad7b6ec0440f.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/0e050b5c-6ad3-4e5a-bc04-68de1efaa065.html" target="element"> Virksomhetsportalen </a> </td>
																				<td> <a href="../elements/e92b21ce-9c5c-4eff-8bd5-5d93c4f6e7d4.html" target="element"> Totaloversikt anskaffelser_Divisjon Legemidler_Master.xlsx </a> </td>
																			</tr>

													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>