<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Kjernefunksjoner</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Kjernefunksjoner</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/b93a4586-3f7a-421b-b3ea-8dce61a6ca71.png" alt="Kjernefunksjoner" usemap="#b93a4586-3f7a-421b-b3ea-8dce61a6ca71map">
			<map name="b93a4586-3f7a-421b-b3ea-8dce61a6ca71map">
								<area shape="rect" coords="34,742,154,797" href="../elements/c778add3-64f6-4874-b4e4-f9fbfc7a5931.html"  target="element">
								<area shape="rect" coords="370,742,490,797" href="../elements/baec5afd-b684-461d-abd9-0c3feb4bfe4e.html"  target="element">

						<area shape="rect" coords="10,718,503,815" href="../elements/a562123d-207b-479b-9f72-eca5a661eec0.html"  target="element">
								<area shape="rect" coords="22,370,142,425" href="../elements/7c0832df-4533-45e0-9180-293f2258c33a.html"  target="element">
								<area shape="rect" coords="22,262,142,317" href="../elements/7326a385-9267-4e21-967c-2bc7e5bb10bc.html"  target="element">

						<area shape="rect" coords="22,82,142,578" href="../elements/cf7fc345-43ea-4de0-bf39-89bcd3a758b5.html"  target="element">
						<area shape="rect" coords="682,706,802,761" href="../elements/2884b1a8-afd0-439c-a063-66f6afdc4d57.html"  target="element">
						<area shape="rect" coords="538,706,658,761" href="../elements/6cc654c5-2156-41b0-9ce8-a976a56dae2d.html"  target="element">
						<area shape="rect" coords="682,10,802,65" href="../elements/fcea0de2-a4a9-4488-8904-ce0334ff75cb.html"  target="element">
						<area shape="rect" coords="10,880,130,935" href="../elements/c18fa4a6-122a-4f55-b004-e83a8d8f39e0.html"  target="element">
						<area shape="rect" coords="22,598,142,653" href="../elements/e6308021-9b9b-4f65-bf2d-ad4e885d6aa6.html"  target="element">
						<area shape="rect" coords="850,514,970,569" href="../elements/7e908a71-c359-4d99-ae49-9ede94016c01.html"  target="element">
								<area shape="rect" coords="1360,202,1480,257" href="../elements/cf8ace15-f9d1-4ad4-8b1f-96951f690860.html"  target="element">
								<area shape="rect" coords="1360,370,1480,425" href="../elements/17c6c5fc-3929-425e-bc7c-ae5a3d151bf5.html"  target="element">
								<area shape="rect" coords="1360,286,1480,341" href="../elements/d27710bb-fd63-41f1-a906-e10fb6e6a780.html"  target="element">

						<area shape="rect" coords="1360,82,1480,578" href="../elements/ef6a2244-d2b0-4bf4-8bf5-9a0e328c5d5f.html"  target="element">
						<area shape="rect" coords="197,880,317,935" href="../elements/7d52d9e0-5cd5-4740-a449-8382e3a96980.html"  target="element">
						<area shape="rect" coords="682,790,802,845" href="../elements/07067d42-bd6f-4f52-bfe5-6a950e2cb23a.html"  target="element">
						<area shape="rect" coords="682,880,802,935" href="../elements/c5d2219d-4c75-414e-9e7a-d9622577c6c8.html"  target="element">
						<area shape="rect" coords="514,514,634,569" href="../elements/7f531de0-3532-4c1a-8811-45a0ac050810.html"  target="element">
								<area shape="rect" coords="1011,742,1131,797" href="../elements/e705fe50-ba08-425e-9a6b-42d4e375ceaf.html"  target="element">
								<area shape="rect" coords="1179,742,1299,797" href="../elements/0cccac24-976e-416e-8ee0-59b43083ec45.html"  target="element">
								<area shape="rect" coords="1335,742,1455,797" href="../elements/bd598627-ff5b-4a24-abca-20e63e70f2a8.html"  target="element">

						<area shape="rect" coords="987,718,1480,815" href="../elements/fa70cc90-4c91-4f4e-827a-23c1631639d5.html"  target="element">
						<area shape="rect" coords="958,154,1078,209" href="../elements/703248b2-9136-438a-a5cb-5cb758e9e0a4.html"  target="element">
						<area shape="rect" coords="1103,418,1223,473" href="../elements/bab00ab9-06d3-460f-a3c7-02d40ff118b1.html"  target="element">
						<area shape="rect" coords="214,406,334,461" href="../elements/696b4d4f-2dd9-4f8f-9f9c-dc6dfa7ded01.html"  target="element">
						<area shape="rect" coords="958,418,1078,473" href="../elements/893d51a4-bfe8-4173-b179-69864de9b897.html"  target="element">
						<area shape="rect" coords="826,706,946,761" href="../elements/86d8bfcc-bcc5-4e8e-8f00-5155f88887fd.html"  target="element">
								<area shape="rect" coords="682,394,802,449" href="../elements/8dc561e1-1f61-453c-b952-30c8def76f75.html"  target="element">
								<area shape="rect" coords="682,130,802,185" href="../elements/bf9d6948-40ad-4406-8b85-77acc3231de0.html"  target="element">
								<area shape="rect" coords="682,214,802,269" href="../elements/383ae55a-7023-4571-b685-cd85793b301f.html"  target="element">
								<area shape="rect" coords="682,286,802,341" href="../elements/71776c50-e351-4bc3-a812-4341574dc22a.html"  target="element">

						<area shape="rect" coords="682,82,802,473" href="../elements/a48d8ca7-b8f6-4d7b-b358-d5b79700bb16.html"  target="element">
						<area shape="rect" coords="958,334,1078,389" href="../elements/409a2f9c-7b72-4d02-82d9-bbcdb9c6eacf.html"  target="element">
						<area shape="rect" coords="214,338,334,393" href="../elements/0d711e4e-a79d-44f5-809a-58263bbd4419.html"  target="element">
						<area shape="rect" coords="958,262,1078,317" href="../elements/63c377ff-9211-4ef7-a903-4b6d9151cd32.html"  target="element">
								<area shape="rect" coords="682,562,802,617" href="../elements/eae1a26c-7f42-44a7-b41f-2421f121ab18.html"  target="element">

						<area shape="rect" coords="682,514,802,635" href="../elements/59988840-8b07-4f48-b364-fd9dccf2ce44.html"  target="element">
						<area shape="rect" coords="1354,880,1474,935" href="../elements/0ef08de5-ad63-4b49-a64f-141c8c302fb7.html"  target="element">
						<area shape="rect" coords="1174,880,1294,935" href="../elements/79181b73-255d-4dc6-be67-ce4f14e1151d.html"  target="element">
						<area shape="rect" coords="365,880,485,935" href="../elements/a268463a-2ed9-4720-8e14-2d38a14e8f81.html"  target="element">
						<area shape="rect" coords="1360,598,1480,653" href="../elements/2d1f943e-b24f-4a9e-90ab-52f5023cc908.html"  target="element">
						<area shape="rect" coords="682,994,802,1049" href="../elements/b6498dcc-6508-493a-b484-b0e7b5e96628.html"  target="element">
						<area shape="rect" coords="684,1112,804,1167" href="../elements/8a20dc25-376e-4c12-b272-91dedc6947bc.html"  target="element">
						<area shape="rect" coords="383,1006,503,1061" href="../elements/009a6707-0465-48e9-a7de-7aa64c61ca75.html"  target="element">
						<area shape="rect" coords="514,880,634,935" href="../elements/7348108f-1f6b-45c6-a133-cb97ca094a2f.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
					<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="elements">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
								</tr>
							</thead>
							<tbody>
										<tr><td> <a href="../elements/a562123d-207b-479b-9f72-eca5a661eec0.html" target="element"> Prosjektrom </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
												<tr><td> <a href="../elements/c778add3-64f6-4874-b4e4-f9fbfc7a5931.html" target="element"> Prosjekt </a> </td><td class="i18n-elementtype-WorkPackage"></td></tr>
												<tr><td> <a href="../elements/baec5afd-b684-461d-abd9-0c3feb4bfe4e.html" target="element"> Leveranse </a> </td><td class="i18n-elementtype-Deliverable"></td></tr>
										
										<tr><td> <a href="../elements/cf7fc345-43ea-4de0-bf39-89bcd3a758b5.html" target="element"> Samarbeids-partner </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
												<tr><td> <a href="../elements/7c0832df-4533-45e0-9180-293f2258c33a.html" target="element"> Innkj&#248;p og logistikk </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
												<tr><td> <a href="../elements/7326a385-9267-4e21-967c-2bc7e5bb10bc.html" target="element"> Innkj&#248;psledelse </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
										
										<tr><td> <a href="../elements/2884b1a8-afd0-439c-a063-66f6afdc4d57.html" target="element"> MS Teams </a> </td><td class="i18n-elementtype-ApplicationInterface"></td></tr>
										<tr><td> <a href="../elements/6cc654c5-2156-41b0-9ce8-a976a56dae2d.html" target="element"> Prosjekt-portalen 365 </a> </td><td class="i18n-elementtype-ApplicationInterface"></td></tr>
										<tr><td> <a href="../elements/fcea0de2-a4a9-4488-8904-ce0334ff75cb.html" target="element"> Forum/Arena? </a> </td><td class="i18n-elementtype-BusinessInteraction"></td></tr>
										<tr><td> <a href="../elements/c18fa4a6-122a-4f55-b004-e83a8d8f39e0.html" target="element"> Anskaffelses-prosess </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
										<tr><td> <a href="../elements/e6308021-9b9b-4f65-bf2d-ad4e885d6aa6.html" target="element"> Prosjekt-dokumentasjon </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
										<tr><td> <a href="../elements/7e908a71-c359-4d99-ae49-9ede94016c01.html" target="element"> Portef&#248;lje-styring </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
										<tr><td> <a href="../elements/ef6a2244-d2b0-4bf4-8bf5-9a0e328c5d5f.html" target="element"> Sykehusinnkj&#248;p HF </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
												<tr><td> <a href="../elements/cf8ace15-f9d1-4ad4-8b1f-96951f690860.html" target="element"> Kategorileder </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
												<tr><td> <a href="../elements/17c6c5fc-3929-425e-bc7c-ae5a3d151bf5.html" target="element"> Prosjektleder </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
												<tr><td> <a href="../elements/d27710bb-fd63-41f1-a906-e10fb6e6a780.html" target="element"> Avdelingsleder </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
										
										<tr><td> <a href="../elements/7d52d9e0-5cd5-4740-a449-8382e3a96980.html" target="element"> Kvalitetsystem </a> </td><td class="i18n-elementtype-Constraint"></td></tr>
										<tr><td> <a href="../elements/07067d42-bd6f-4f52-bfe5-6a950e2cb23a.html" target="element"> Beste praksis </a> </td><td class="i18n-elementtype-Principle"></td></tr>
										<tr><td> <a href="../elements/c5d2219d-4c75-414e-9e7a-d9622577c6c8.html" target="element"> Informasjonssikkerhetssystem </a> </td><td class="i18n-elementtype-Constraint"></td></tr>
										<tr><td> <a href="../elements/7f531de0-3532-4c1a-8811-45a0ac050810.html" target="element"> Prosjekt-styring </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
										<tr><td> <a href="../elements/fa70cc90-4c91-4f4e-827a-23c1631639d5.html" target="element"> Avtalerom </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
												<tr><td> <a href="../elements/e705fe50-ba08-425e-9a6b-42d4e375ceaf.html" target="element"> Avtaletiltredelse </a> </td><td class="i18n-elementtype-ImplementationEvent"></td></tr>
												<tr><td> <a href="../elements/0cccac24-976e-416e-8ee0-59b43083ec45.html" target="element"> Oppf&#248;lging </a> </td><td class="i18n-elementtype-WorkPackage"></td></tr>
												<tr><td> <a href="../elements/bd598627-ff5b-4a24-abca-20e63e70f2a8.html" target="element"> Erfaring </a> </td><td class="i18n-elementtype-Deliverable"></td></tr>
										
										<tr><td> <a href="../elements/703248b2-9136-438a-a5cb-5cb758e9e0a4.html" target="element"> Ledelse </a> </td><td class="i18n-elementtype-Resource"></td></tr>
										<tr><td> <a href="../elements/bab00ab9-06d3-460f-a3c7-02d40ff118b1.html" target="element"> R&#229;dgiver - Innkj&#248;p </a> </td><td class="i18n-elementtype-Resource"></td></tr>
										<tr><td> <a href="../elements/696b4d4f-2dd9-4f8f-9f9c-dc6dfa7ded01.html" target="element"> Spesialist - Fag </a> </td><td class="i18n-elementtype-Resource"></td></tr>
										<tr><td> <a href="../elements/893d51a4-bfe8-4173-b179-69864de9b897.html" target="element"> R&#229;dgiver - Juridisk </a> </td><td class="i18n-elementtype-Resource"></td></tr>
										<tr><td> <a href="../elements/86d8bfcc-bcc5-4e8e-8f00-5155f88887fd.html" target="element"> Avtale-portalen </a> </td><td class="i18n-elementtype-ApplicationInterface"></td></tr>
										<tr><td> <a href="../elements/a48d8ca7-b8f6-4d7b-b358-d5b79700bb16.html" target="element"> Portef&#248;lje-forvaltning </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
												<tr><td> <a href="../elements/8dc561e1-1f61-453c-b952-30c8def76f75.html" target="element"> Forvalte avtale </a> </td><td class="i18n-elementtype-Capability"></td></tr>
												<tr><td> <a href="../elements/bf9d6948-40ad-4406-8b85-77acc3231de0.html" target="element"> Anskaffelsesplan </a> </td><td class="i18n-elementtype-CourseOfAction"></td></tr>
												<tr><td> <a href="../elements/383ae55a-7023-4571-b685-cd85793b301f.html" target="element"> Planlegge anskaffelse </a> </td><td class="i18n-elementtype-Capability"></td></tr>
												<tr><td> <a href="../elements/71776c50-e351-4bc3-a812-4341574dc22a.html" target="element"> Utf&#248;re kategori-analyse </a> </td><td class="i18n-elementtype-Capability"></td></tr>
										
										<tr><td> <a href="../elements/409a2f9c-7b72-4d02-82d9-bbcdb9c6eacf.html" target="element"> R&#229;dgiver - Analyse </a> </td><td class="i18n-elementtype-Resource"></td></tr>
										<tr><td> <a href="../elements/0d711e4e-a79d-44f5-809a-58263bbd4419.html" target="element"> Forbruksdata </a> </td><td class="i18n-elementtype-Resource"></td></tr>
										<tr><td> <a href="../elements/63c377ff-9211-4ef7-a903-4b6d9151cd32.html" target="element"> Forbruks-statistikk </a> </td><td class="i18n-elementtype-Resource"></td></tr>
										<tr><td> <a href="../elements/59988840-8b07-4f48-b364-fd9dccf2ce44.html" target="element"> Prosjekt-gruppe </a> </td><td class="i18n-elementtype-BusinessCollaboration"></td></tr>
												<tr><td> <a href="../elements/eae1a26c-7f42-44a7-b41f-2421f121ab18.html" target="element"> Gjennomf&#248;re anskaffelser </a> </td><td class="i18n-elementtype-Capability"></td></tr>
										
										<tr><td> <a href="../elements/0ef08de5-ad63-4b49-a64f-141c8c302fb7.html" target="element"> Forvaltnings-prosess </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
										<tr><td> <a href="../elements/79181b73-255d-4dc6-be67-ce4f14e1151d.html" target="element"> SLA </a> </td><td class="i18n-elementtype-Requirement"></td></tr>
										<tr><td> <a href="../elements/a268463a-2ed9-4720-8e14-2d38a14e8f81.html" target="element"> Klassifisering </a> </td><td class="i18n-elementtype-Constraint"></td></tr>
										<tr><td> <a href="../elements/2d1f943e-b24f-4a9e-90ab-52f5023cc908.html" target="element"> Avtale-dokumentasjon </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
										<tr><td> <a href="../elements/b6498dcc-6508-493a-b484-b0e7b5e96628.html" target="element"> Innkj&#248;psportalen </a> </td><td class="i18n-elementtype-ApplicationInterface"></td></tr>
										<tr><td> <a href="../elements/8a20dc25-376e-4c12-b272-91dedc6947bc.html" target="element"> Hstat </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
										<tr><td> <a href="../elements/009a6707-0465-48e9-a7de-7aa64c61ca75.html" target="element"> Forvalte produktkatalog </a> </td><td class="i18n-elementtype-Capability"></td></tr>
										<tr><td> <a href="../elements/7348108f-1f6b-45c6-a133-cb97ca094a2f.html" target="element"> Prosjektmetodikk </a> </td><td class="i18n-elementtype-Requirement"></td></tr>

							</tbody>
						</table>
					</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>