<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Bestill maldokument</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Bestill maldokument</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/ba6801dc-b9d0-4c1f-831d-820bc7089acf.png" alt="Bestill maldokument" usemap="#ba6801dc-b9d0-4c1f-831d-820bc7089acfmap"/>
			   <map name="ba6801dc-b9d0-4c1f-831d-820bc7089acfmap">
				  				<area shape="rect" coords="1114,70,1499,125" href="../elements/1b5b4694-ecbd-4b48-8064-714ddf9ab1ac.html"  target="element">

				  		<area shape="rect" coords="1090,10,1511,347" href="../elements/39ec8ee2-4446-4e8b-88cb-7ed48eaa4beb.html"  target="element">
				  		<area shape="rect" coords="10,46,251,101" href="../elements/83cac4ab-6520-416b-b4c7-857db9c9d7a4.html"  target="element">
				  		<area shape="rect" coords="10,130,251,185" href="../elements/78bb1f32-d81b-416f-8bfb-7b55f0b7f681.html"  target="element">
				  				<area shape="rect" coords="454,358,971,413" href="../elements/6bd25d69-3bfe-4761-b06f-d95e3afafecb.html"  target="element">
				  				<area shape="rect" coords="454,238,971,293" href="../elements/7c8308d4-fe5e-4cd4-8cac-dff5d5e6331d.html"  target="element">
				  				<area shape="rect" coords="718,130,971,185" href="../elements/9fd87b2d-f0a5-44ca-af5e-e2a7ff0b5d39.html"  target="element">
				  				<area shape="rect" coords="454,130,707,185" href="../elements/adef79e9-2b48-4412-b49e-148bcaf0eab2.html"  target="element">
				  				<area shape="rect" coords="454,46,959,83" href="../elements/2c782fee-507e-4afe-a313-114aecbd05c8.html"  target="element">

				  		<area shape="rect" coords="442,22,995,443" href="../elements/bc383e0f-d3cc-4659-8749-01798c60a38a.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/bc383e0f-d3cc-4659-8749-01798c60a38a.html" target="element"> Power Automate </a> </td>
											    <td> <a href="../elements/bc383e0f-d3cc-4659-8749-01798c60a38a.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/2c782fee-507e-4afe-a313-114aecbd05c8.html" target="element"> N&#229;r bruker klikke bestill maldokument i Quantus </a> </td>
													    <td> <a href="../elements/2c782fee-507e-4afe-a313-114aecbd05c8.html" target="element" class="i18n-elementtype-ApplicationEvent">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/adef79e9-2b48-4412-b49e-148bcaf0eab2.html" target="element"> Hent sharepoint referanse fra prosjekt </a> </td>
													    <td> <a href="../elements/adef79e9-2b48-4412-b49e-148bcaf0eab2.html" target="element" class="i18n-elementtype-ApplicationProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/9fd87b2d-f0a5-44ca-af5e-e2a7ff0b5d39.html" target="element"> hent metadata fra shi_procurements </a> </td>
													    <td> <a href="../elements/9fd87b2d-f0a5-44ca-af5e-e2a7ff0b5d39.html" target="element" class="i18n-elementtype-ApplicationProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/7c8308d4-fe5e-4cd4-8cac-dff5d5e6331d.html" target="element"> Generer maldokument </a> </td>
													    <td> <a href="../elements/7c8308d4-fe5e-4cd4-8cac-dff5d5e6331d.html" target="element" class="i18n-elementtype-ApplicationProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/6bd25d69-3bfe-4761-b06f-d95e3afafecb.html" target="element"> Last opp dokument til sharepoint referanse </a> </td>
													    <td> <a href="../elements/6bd25d69-3bfe-4761-b06f-d95e3afafecb.html" target="element" class="i18n-elementtype-ApplicationProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/78bb1f32-d81b-416f-8bfb-7b55f0b7f681.html" target="element"> shi_procurements </a> </td>
											    <td> <a href="../elements/78bb1f32-d81b-416f-8bfb-7b55f0b7f681.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/83cac4ab-6520-416b-b4c7-857db9c9d7a4.html" target="element"> shi_projects </a> </td>
											    <td> <a href="../elements/83cac4ab-6520-416b-b4c7-857db9c9d7a4.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/39ec8ee2-4446-4e8b-88cb-7ed48eaa4beb.html" target="element"> QuantusPy </a> </td>
											    <td> <a href="../elements/39ec8ee2-4446-4e8b-88cb-7ed48eaa4beb.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/1b5b4694-ecbd-4b48-8064-714ddf9ab1ac.html" target="element"> GenerateDocumentTemplate </a> </td>
													    <td> <a href="../elements/1b5b4694-ecbd-4b48-8064-714ddf9ab1ac.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																			<tr>
																				<td> <a href="../elements/d7c968be-cdd1-4be7-ad37-e04fcc008edb.html" target="element">  </a> </td>
																				<td> <a href="../elements/d7c968be-cdd1-4be7-ad37-e04fcc008edb.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/2c782fee-507e-4afe-a313-114aecbd05c8.html" target="element"> N&#229;r bruker klikke bestill maldokument i Quantus </a> </td>
																				<td> <a href="../elements/adef79e9-2b48-4412-b49e-148bcaf0eab2.html" target="element"> Hent sharepoint referanse fra prosjekt </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/f87dd77c-5087-4070-be9d-531f29d3a27b.html" target="element">  </a> </td>
																				<td> <a href="../elements/f87dd77c-5087-4070-be9d-531f29d3a27b.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/2c782fee-507e-4afe-a313-114aecbd05c8.html" target="element"> N&#229;r bruker klikke bestill maldokument i Quantus </a> </td>
																				<td> <a href="../elements/9fd87b2d-f0a5-44ca-af5e-e2a7ff0b5d39.html" target="element"> hent metadata fra shi_procurements </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/65581084-aef9-4ce3-a5b4-d9a344cdb7dc.html" target="element">  </a> </td>
																				<td> <a href="../elements/65581084-aef9-4ce3-a5b4-d9a344cdb7dc.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/adef79e9-2b48-4412-b49e-148bcaf0eab2.html" target="element"> Hent sharepoint referanse fra prosjekt </a> </td>
																				<td> <a href="../elements/83cac4ab-6520-416b-b4c7-857db9c9d7a4.html" target="element"> shi_projects </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/5d2c43d2-72ca-4bfc-87d2-d68a10bfb750.html" target="element">  </a> </td>
																				<td> <a href="../elements/5d2c43d2-72ca-4bfc-87d2-d68a10bfb750.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/adef79e9-2b48-4412-b49e-148bcaf0eab2.html" target="element"> Hent sharepoint referanse fra prosjekt </a> </td>
																				<td> <a href="../elements/7c8308d4-fe5e-4cd4-8cac-dff5d5e6331d.html" target="element"> Generer maldokument </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/0d534336-537f-4731-a2af-fbaa15a169a2.html" target="element">  </a> </td>
																				<td> <a href="../elements/0d534336-537f-4731-a2af-fbaa15a169a2.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/9fd87b2d-f0a5-44ca-af5e-e2a7ff0b5d39.html" target="element"> hent metadata fra shi_procurements </a> </td>
																				<td> <a href="../elements/78bb1f32-d81b-416f-8bfb-7b55f0b7f681.html" target="element"> shi_procurements </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/7629ccc4-345d-4d0c-ab1f-9d9eac5e57fa.html" target="element">  </a> </td>
																				<td> <a href="../elements/7629ccc4-345d-4d0c-ab1f-9d9eac5e57fa.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/9fd87b2d-f0a5-44ca-af5e-e2a7ff0b5d39.html" target="element"> hent metadata fra shi_procurements </a> </td>
																				<td> <a href="../elements/7c8308d4-fe5e-4cd4-8cac-dff5d5e6331d.html" target="element"> Generer maldokument </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/1ecfdf32-0bbd-4bbb-ae28-a0ade1661315.html" target="element">  </a> </td>
																				<td> <a href="../elements/1ecfdf32-0bbd-4bbb-ae28-a0ade1661315.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/7c8308d4-fe5e-4cd4-8cac-dff5d5e6331d.html" target="element"> Generer maldokument </a> </td>
																				<td> <a href="../elements/1b5b4694-ecbd-4b48-8064-714ddf9ab1ac.html" target="element"> GenerateDocumentTemplate </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/123293f6-a202-4fcb-a39f-2e6f5ca330f1.html" target="element">  </a> </td>
																				<td> <a href="../elements/123293f6-a202-4fcb-a39f-2e6f5ca330f1.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/7c8308d4-fe5e-4cd4-8cac-dff5d5e6331d.html" target="element"> Generer maldokument </a> </td>
																				<td> <a href="../elements/6bd25d69-3bfe-4761-b06f-d95e3afafecb.html" target="element"> Last opp dokument til sharepoint referanse </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/f3319c61-37d3-49f1-a11a-c486eeb8f519.html" target="element">  </a> </td>
																		<td> <a href="../elements/f3319c61-37d3-49f1-a11a-c486eeb8f519.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/39ec8ee2-4446-4e8b-88cb-7ed48eaa4beb.html" target="element"> QuantusPy </a> </td>
																		<td> <a href="../elements/1b5b4694-ecbd-4b48-8064-714ddf9ab1ac.html" target="element"> GenerateDocumentTemplate </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/8015c458-4f3e-458f-af97-41b7fb578278.html" target="element">  </a> </td>
																				<td> <a href="../elements/8015c458-4f3e-458f-af97-41b7fb578278.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/1b5b4694-ecbd-4b48-8064-714ddf9ab1ac.html" target="element"> GenerateDocumentTemplate </a> </td>
																				<td> <a href="../elements/7c8308d4-fe5e-4cd4-8cac-dff5d5e6331d.html" target="element"> Generer maldokument </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>