<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Ekstern.deling</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Ekstern.deling</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/c9cb51c4-a64a-4afd-9890-c5dacb48c345.png" alt="Ekstern.deling" usemap="#c9cb51c4-a64a-4afd-9890-c5dacb48c345map"/>
			   <map name="c9cb51c4-a64a-4afd-9890-c5dacb48c345map">
				  		<area shape="rect" coords="647,298,767,353" href="../elements/80639936-c909-4cda-8b0c-35479d735100.html"  target="element">
				  		<area shape="rect" coords="59,298,179,353" href="../elements/a5178b63-a766-430d-86bc-9616e466bcf7.html"  target="element">
				  		<area shape="rect" coords="647,382,767,437" href="../elements/0d41d055-767d-4efb-98e8-fe67b4d4ce5f.html"  target="element">
				  		<area shape="rect" coords="59,382,179,437" href="../elements/db93c88d-6e2b-4ee6-bbe8-d73cd5d09552.html"  target="element">
				  		<area shape="rect" coords="359,694,479,755" href="../elements/6ccd09f7-2af1-45bd-a0e3-268edff3b628.html"  target="element">
				  		<area shape="rect" coords="11,190,131,245" href="../elements/cbc4d4f3-d458-4a39-941b-d0cbe292e933.html"  target="element">
				  		<area shape="rect" coords="359,406,479,461" href="../elements/7ed00b3c-809c-41bc-ab15-e67f7a0c74b5.html"  target="element">
				  		<area shape="rect" coords="11,502,131,557" href="../elements/011eddc0-9fb0-4bfd-8592-fb4a2de18cb4.html"  target="element">
				  		<area shape="rect" coords="719,502,839,557" href="../elements/ba823433-846d-49bd-9ca8-b9ee55f51a5c.html"  target="element">
				  		<area shape="rect" coords="719,190,839,245" href="../elements/80b95750-dc0a-46e4-af45-3ad22945a4d8.html"  target="element">
				  				<area shape="rect" coords="359,226,479,281" href="../elements/191ccc58-f3ad-4acb-ad0d-f4a64c8aa71d.html"  target="element">
				  				<area shape="rect" coords="359,130,479,185" href="../elements/1d0964ca-9f60-456f-a173-960cf278ed89.html"  target="element">
				  				<area shape="rect" coords="359,70,479,125" href="../elements/980dce2b-f4b1-44d8-9f27-8db4a82b7f17.html"  target="element">
				  				<area shape="rect" coords="359,286,479,341" href="../elements/f0e23da5-f9f9-4ccc-b286-9a8097d8f28d.html"  target="element">

				  		<area shape="rect" coords="347,10,492,383" href="../elements/c843a441-099c-46fd-a919-ea0c2fbe58c3.html"  target="element">
				  		<area shape="rect" coords="359,598,479,659" href="../elements/2f35f612-2a74-467f-9f4e-f6440e3a929e.html"  target="element">
				  		<area shape="rect" coords="359,502,479,557" href="../elements/d27710bb-fd63-41f1-a906-e10fb6e6a780.html"  target="element">
				  				<area shape="rect" coords="563,178,683,233" href="../elements/a668df91-5670-4379-981b-f8599d955cca.html"  target="element">

				  		<area shape="rect" coords="551,130,696,245" href="../elements/c5c1813d-2f85-4593-b55e-85ab81864405.html"  target="element">
				  				<area shape="rect" coords="155,178,275,233" href="../elements/d589eccd-86e2-430e-88ab-7a4a1e3ad39c.html"  target="element">

				  		<area shape="rect" coords="143,130,288,245" href="../elements/57ec02ba-3d29-4bd7-96a2-f6696ee5d026.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/57ec02ba-3d29-4bd7-96a2-f6696ee5d026.html" target="element"> AS.M365 OneDrive (sykehusinnkjop.no) </a> </td>
											    <td> <a href="../elements/57ec02ba-3d29-4bd7-96a2-f6696ee5d026.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/d589eccd-86e2-430e-88ab-7a4a1e3ad39c.html" target="element"> Brukeromr&#229;de </a> </td>
													    <td> <a href="../elements/d589eccd-86e2-430e-88ab-7a4a1e3ad39c.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/c5c1813d-2f85-4593-b55e-85ab81864405.html" target="element"> AS.M365 SharePoint (sykehusinnkjop.no) </a> </td>
											    <td> <a href="../elements/c5c1813d-2f85-4593-b55e-85ab81864405.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/a668df91-5670-4379-981b-f8599d955cca.html" target="element"> Gruppeomr&#229;de </a> </td>
													    <td> <a href="../elements/a668df91-5670-4379-981b-f8599d955cca.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/d27710bb-fd63-41f1-a906-e10fb6e6a780.html" target="element"> Avdelingsleder (niv&#229; 3) </a> </td>
											    <td> <a href="../elements/d27710bb-fd63-41f1-a906-e10fb6e6a780.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/2f35f612-2a74-467f-9f4e-f6440e3a929e.html" target="element"> Sikker identitet og tilgangsstyring </a> </td>
											    <td> <a href="../elements/2f35f612-2a74-467f-9f4e-f6440e3a929e.html" target="element" class="i18n-elementtype-Principle">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c843a441-099c-46fd-a919-ea0c2fbe58c3.html" target="element"> MS Entra (Sykehusinnkj&#248;p HF </a> </td>
											    <td> <a href="../elements/c843a441-099c-46fd-a919-ea0c2fbe58c3.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/f0e23da5-f9f9-4ccc-b286-9a8097d8f28d.html" target="element"> Sikkerhetsgruppe (Ekstern.deling.XX) </a> </td>
													    <td> <a href="../elements/f0e23da5-f9f9-4ccc-b286-9a8097d8f28d.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/980dce2b-f4b1-44d8-9f27-8db4a82b7f17.html" target="element"> Ekstern brukerkonto (B2C) </a> </td>
													    <td> <a href="../elements/980dce2b-f4b1-44d8-9f27-8db4a82b7f17.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/1d0964ca-9f60-456f-a173-960cf278ed89.html" target="element"> Ekstern gjestekonto (B2B) </a> </td>
													    <td> <a href="../elements/1d0964ca-9f60-456f-a173-960cf278ed89.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/191ccc58-f3ad-4acb-ad0d-f4a64c8aa71d.html" target="element"> Office 365 Gruppe </a> </td>
													    <td> <a href="../elements/191ccc58-f3ad-4acb-ad0d-f4a64c8aa71d.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/80b95750-dc0a-46e4-af45-3ad22945a4d8.html" target="element"> Prosjektdeltaker (ekstern) </a> </td>
											    <td> <a href="../elements/80b95750-dc0a-46e4-af45-3ad22945a4d8.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ba823433-846d-49bd-9ca8-b9ee55f51a5c.html" target="element"> Send gjesteinvitasjon (B2B) </a> </td>
											    <td> <a href="../elements/ba823433-846d-49bd-9ca8-b9ee55f51a5c.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/011eddc0-9fb0-4bfd-8592-fb4a2de18cb4.html" target="element"> Send delingslenke (B2C) </a> </td>
											    <td> <a href="../elements/011eddc0-9fb0-4bfd-8592-fb4a2de18cb4.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7ed00b3c-809c-41bc-ab15-e67f7a0c74b5.html" target="element"> Bruker - IKT (intern) </a> </td>
											    <td> <a href="../elements/7ed00b3c-809c-41bc-ab15-e67f7a0c74b5.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/cbc4d4f3-d458-4a39-941b-d0cbe292e933.html" target="element"> Bruker - IKT (ekstern) </a> </td>
											    <td> <a href="../elements/cbc4d4f3-d458-4a39-941b-d0cbe292e933.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6ccd09f7-2af1-45bd-a0e3-268edff3b628.html" target="element"> Innholds- og dokumenth&#229;ndtering  </a> </td>
											    <td> <a href="../elements/6ccd09f7-2af1-45bd-a0e3-268edff3b628.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/db93c88d-6e2b-4ee6-bbe8-d73cd5d09552.html" target="element"> Delingslenke (B2C) </a> </td>
											    <td> <a href="../elements/db93c88d-6e2b-4ee6-bbe8-d73cd5d09552.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0d41d055-767d-4efb-98e8-fe67b4d4ce5f.html" target="element"> Gjesteinvistasjon (B2B) </a> </td>
											    <td> <a href="../elements/0d41d055-767d-4efb-98e8-fe67b4d4ce5f.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a5178b63-a766-430d-86bc-9616e466bcf7.html" target="element"> Bekrefte engangskode </a> </td>
											    <td> <a href="../elements/a5178b63-a766-430d-86bc-9616e466bcf7.html" target="element" class="i18n-elementtype-ApplicationProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/80639936-c909-4cda-8b0c-35479d735100.html" target="element"> Opprette gjestekonto </a> </td>
											    <td> <a href="../elements/80639936-c909-4cda-8b0c-35479d735100.html" target="element" class="i18n-elementtype-ApplicationProcess">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/d8461ac9-bcdc-4107-9768-7e4bf0dbf515.html" target="element">  </a> </td>
																		<td> <a href="../elements/d8461ac9-bcdc-4107-9768-7e4bf0dbf515.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/57ec02ba-3d29-4bd7-96a2-f6696ee5d026.html" target="element"> AS.M365 OneDrive (sykehusinnkjop.no) </a> </td>
																		<td> <a href="../elements/c843a441-099c-46fd-a919-ea0c2fbe58c3.html" target="element"> MS Entra (Sykehusinnkj&#248;p HF </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a6b80c41-4504-4a3b-962a-1cf70d63c70b.html" target="element">  </a> </td>
																		<td> <a href="../elements/a6b80c41-4504-4a3b-962a-1cf70d63c70b.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/57ec02ba-3d29-4bd7-96a2-f6696ee5d026.html" target="element"> AS.M365 OneDrive (sykehusinnkjop.no) </a> </td>
																		<td> <a href="../elements/db93c88d-6e2b-4ee6-bbe8-d73cd5d09552.html" target="element"> Delingslenke (B2C) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/948de640-4276-42d0-a45b-8ca0dd02b561.html" target="element">  </a> </td>
																		<td> <a href="../elements/948de640-4276-42d0-a45b-8ca0dd02b561.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/57ec02ba-3d29-4bd7-96a2-f6696ee5d026.html" target="element"> AS.M365 OneDrive (sykehusinnkjop.no) </a> </td>
																		<td> <a href="../elements/6ccd09f7-2af1-45bd-a0e3-268edff3b628.html" target="element"> Innholds- og dokumenth&#229;ndtering  </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/9c08b609-2e13-481f-b72b-5044db708334.html" target="element">  </a> </td>
																				<td> <a href="../elements/9c08b609-2e13-481f-b72b-5044db708334.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/d589eccd-86e2-430e-88ab-7a4a1e3ad39c.html" target="element"> Brukeromr&#229;de </a> </td>
																				<td> <a href="../elements/57ec02ba-3d29-4bd7-96a2-f6696ee5d026.html" target="element"> AS.M365 OneDrive (sykehusinnkjop.no) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/cd44bf60-6cdd-413f-9d50-84c35374d2e7.html" target="element"> ad hoc behov </a> </td>
																				<td> <a href="../elements/cd44bf60-6cdd-413f-9d50-84c35374d2e7.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/d589eccd-86e2-430e-88ab-7a4a1e3ad39c.html" target="element"> Brukeromr&#229;de </a> </td>
																				<td> <a href="../elements/7ed00b3c-809c-41bc-ab15-e67f7a0c74b5.html" target="element"> Bruker - IKT (intern) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/22bb59b8-1d64-4d80-9cb9-70c755987ff8.html" target="element">  </a> </td>
																				<td> <a href="../elements/22bb59b8-1d64-4d80-9cb9-70c755987ff8.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/d589eccd-86e2-430e-88ab-7a4a1e3ad39c.html" target="element"> Brukeromr&#229;de </a> </td>
																				<td> <a href="../elements/cbc4d4f3-d458-4a39-941b-d0cbe292e933.html" target="element"> Bruker - IKT (ekstern) </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/61ad8d38-8154-450e-918d-430710787d93.html" target="element">  </a> </td>
																		<td> <a href="../elements/61ad8d38-8154-450e-918d-430710787d93.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/c5c1813d-2f85-4593-b55e-85ab81864405.html" target="element"> AS.M365 SharePoint (sykehusinnkjop.no) </a> </td>
																		<td> <a href="../elements/c843a441-099c-46fd-a919-ea0c2fbe58c3.html" target="element"> MS Entra (Sykehusinnkj&#248;p HF </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ac5fb12e-a657-49e7-805d-6514c6d5f185.html" target="element">  </a> </td>
																		<td> <a href="../elements/ac5fb12e-a657-49e7-805d-6514c6d5f185.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/c5c1813d-2f85-4593-b55e-85ab81864405.html" target="element"> AS.M365 SharePoint (sykehusinnkjop.no) </a> </td>
																		<td> <a href="../elements/80b95750-dc0a-46e4-af45-3ad22945a4d8.html" target="element"> Prosjektdeltaker (ekstern) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c63c90e2-225b-466b-a177-f5f335baf2ce.html" target="element">  </a> </td>
																		<td> <a href="../elements/c63c90e2-225b-466b-a177-f5f335baf2ce.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/c5c1813d-2f85-4593-b55e-85ab81864405.html" target="element"> AS.M365 SharePoint (sykehusinnkjop.no) </a> </td>
																		<td> <a href="../elements/0d41d055-767d-4efb-98e8-fe67b4d4ce5f.html" target="element"> Gjesteinvistasjon (B2B) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ba110ae3-b285-478d-8fd4-db8fc14fa80c.html" target="element">  </a> </td>
																		<td> <a href="../elements/ba110ae3-b285-478d-8fd4-db8fc14fa80c.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/c5c1813d-2f85-4593-b55e-85ab81864405.html" target="element"> AS.M365 SharePoint (sykehusinnkjop.no) </a> </td>
																		<td> <a href="../elements/191ccc58-f3ad-4acb-ad0d-f4a64c8aa71d.html" target="element"> Office 365 Gruppe </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/314fa5b8-38cf-4602-bc26-8758fa2b6f56.html" target="element">  </a> </td>
																		<td> <a href="../elements/314fa5b8-38cf-4602-bc26-8758fa2b6f56.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/c5c1813d-2f85-4593-b55e-85ab81864405.html" target="element"> AS.M365 SharePoint (sykehusinnkjop.no) </a> </td>
																		<td> <a href="../elements/6ccd09f7-2af1-45bd-a0e3-268edff3b628.html" target="element"> Innholds- og dokumenth&#229;ndtering  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/aa432f13-8099-42af-8a2a-221a6d79c192.html" target="element"> Planlagte aktiviteter </a> </td>
																		<td> <a href="../elements/aa432f13-8099-42af-8a2a-221a6d79c192.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/c5c1813d-2f85-4593-b55e-85ab81864405.html" target="element"> AS.M365 SharePoint (sykehusinnkjop.no) </a> </td>
																		<td> <a href="../elements/7ed00b3c-809c-41bc-ab15-e67f7a0c74b5.html" target="element"> Bruker - IKT (intern) </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/3c638b45-6e7b-41e5-ba45-a5eb5b7d14c8.html" target="element">  </a> </td>
																				<td> <a href="../elements/3c638b45-6e7b-41e5-ba45-a5eb5b7d14c8.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																				</a> </td>
																				<td> <a href="../elements/a668df91-5670-4379-981b-f8599d955cca.html" target="element"> Gruppeomr&#229;de </a> </td>
																				<td> <a href="../elements/c5c1813d-2f85-4593-b55e-85ab81864405.html" target="element"> AS.M365 SharePoint (sykehusinnkjop.no) </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/65b47c1d-c57e-43c5-8970-ad495bb86457.html" target="element"> Administrerer medlemmer </a> </td>
																		<td> <a href="../elements/65b47c1d-c57e-43c5-8970-ad495bb86457.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/d27710bb-fd63-41f1-a906-e10fb6e6a780.html" target="element"> Avdelingsleder (niv&#229; 3) </a> </td>
																		<td> <a href="../elements/f0e23da5-f9f9-4ccc-b286-9a8097d8f28d.html" target="element"> Sikkerhetsgruppe (Ekstern.deling.XX) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/cf566377-aa2c-4c4e-9860-a2bc70194d9f.html" target="element">  </a> </td>
																		<td> <a href="../elements/cf566377-aa2c-4c4e-9860-a2bc70194d9f.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/d27710bb-fd63-41f1-a906-e10fb6e6a780.html" target="element"> Avdelingsleder (niv&#229; 3) </a> </td>
																		<td> <a href="../elements/2f35f612-2a74-467f-9f4e-f6440e3a929e.html" target="element"> Sikker identitet og tilgangsstyring </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/fc739779-0734-4e71-a7db-bcb18005791d.html" target="element">  </a> </td>
																		<td> <a href="../elements/fc739779-0734-4e71-a7db-bcb18005791d.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/d27710bb-fd63-41f1-a906-e10fb6e6a780.html" target="element"> Avdelingsleder (niv&#229; 3) </a> </td>
																		<td> <a href="../elements/7ed00b3c-809c-41bc-ab15-e67f7a0c74b5.html" target="element"> Bruker - IKT (intern) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6ddbfe9e-1c6b-4597-bd40-1d272ad919c5.html" target="element">  </a> </td>
																		<td> <a href="../elements/6ddbfe9e-1c6b-4597-bd40-1d272ad919c5.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/c843a441-099c-46fd-a919-ea0c2fbe58c3.html" target="element"> MS Entra (Sykehusinnkj&#248;p HF </a> </td>
																		<td> <a href="../elements/f0e23da5-f9f9-4ccc-b286-9a8097d8f28d.html" target="element"> Sikkerhetsgruppe (Ekstern.deling.XX) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c3f89d70-d35a-461b-915a-fb0858a6c584.html" target="element">  </a> </td>
																		<td> <a href="../elements/c3f89d70-d35a-461b-915a-fb0858a6c584.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/c843a441-099c-46fd-a919-ea0c2fbe58c3.html" target="element"> MS Entra (Sykehusinnkj&#248;p HF </a> </td>
																		<td> <a href="../elements/980dce2b-f4b1-44d8-9f27-8db4a82b7f17.html" target="element"> Ekstern brukerkonto (B2C) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/621ed160-ced0-4a45-a1c7-62b9b72cbfb5.html" target="element">  </a> </td>
																		<td> <a href="../elements/621ed160-ced0-4a45-a1c7-62b9b72cbfb5.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/c843a441-099c-46fd-a919-ea0c2fbe58c3.html" target="element"> MS Entra (Sykehusinnkj&#248;p HF </a> </td>
																		<td> <a href="../elements/1d0964ca-9f60-456f-a173-960cf278ed89.html" target="element"> Ekstern gjestekonto (B2B) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1aa80baa-c3c3-41bc-b011-d5cc42818dc9.html" target="element">  </a> </td>
																		<td> <a href="../elements/1aa80baa-c3c3-41bc-b011-d5cc42818dc9.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/c843a441-099c-46fd-a919-ea0c2fbe58c3.html" target="element"> MS Entra (Sykehusinnkj&#248;p HF </a> </td>
																		<td> <a href="../elements/191ccc58-f3ad-4acb-ad0d-f4a64c8aa71d.html" target="element"> Office 365 Gruppe </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f229ca3f-47d7-46e3-937a-e6e5236e3da6.html" target="element"> Utl&#248;ser </a> </td>
																		<td> <a href="../elements/f229ca3f-47d7-46e3-937a-e6e5236e3da6.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/c843a441-099c-46fd-a919-ea0c2fbe58c3.html" target="element"> MS Entra (Sykehusinnkj&#248;p HF </a> </td>
																		<td> <a href="../elements/80639936-c909-4cda-8b0c-35479d735100.html" target="element"> Opprette gjestekonto </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8fb54b24-8445-4885-9666-39fe8efb2423.html" target="element"> Utl&#248;ser </a> </td>
																		<td> <a href="../elements/8fb54b24-8445-4885-9666-39fe8efb2423.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/c843a441-099c-46fd-a919-ea0c2fbe58c3.html" target="element"> MS Entra (Sykehusinnkj&#248;p HF </a> </td>
																		<td> <a href="../elements/a5178b63-a766-430d-86bc-9616e466bcf7.html" target="element"> Bekrefte engangskode </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/945a9089-25e8-4fb5-9655-d072b6327993.html" target="element">  </a> </td>
																				<td> <a href="../elements/945a9089-25e8-4fb5-9655-d072b6327993.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/f0e23da5-f9f9-4ccc-b286-9a8097d8f28d.html" target="element"> Sikkerhetsgruppe (Ekstern.deling.XX) </a> </td>
																				<td> <a href="../elements/2f35f612-2a74-467f-9f4e-f6440e3a929e.html" target="element"> Sikker identitet og tilgangsstyring </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/01e8e232-7b9f-4acd-a09d-aaaea49c90ab.html" target="element"> Er medlem </a> </td>
																				<td> <a href="../elements/01e8e232-7b9f-4acd-a09d-aaaea49c90ab.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/1d0964ca-9f60-456f-a173-960cf278ed89.html" target="element"> Ekstern gjestekonto (B2B) </a> </td>
																				<td> <a href="../elements/191ccc58-f3ad-4acb-ad0d-f4a64c8aa71d.html" target="element"> Office 365 Gruppe </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/1dabbe07-5ccb-4851-94e0-af10391ed8dd.html" target="element"> Mottar gjesteinvitasjon </a> </td>
																		<td> <a href="../elements/1dabbe07-5ccb-4851-94e0-af10391ed8dd.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/80b95750-dc0a-46e4-af45-3ad22945a4d8.html" target="element"> Prosjektdeltaker (ekstern) </a> </td>
																		<td> <a href="../elements/ba823433-846d-49bd-9ca8-b9ee55f51a5c.html" target="element"> Send gjesteinvitasjon (B2B) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/03f85b62-fa24-4edd-b4be-7ee5baa54404.html" target="element"> Er autentisert </a> </td>
																		<td> <a href="../elements/03f85b62-fa24-4edd-b4be-7ee5baa54404.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/80b95750-dc0a-46e4-af45-3ad22945a4d8.html" target="element"> Prosjektdeltaker (ekstern) </a> </td>
																		<td> <a href="../elements/1d0964ca-9f60-456f-a173-960cf278ed89.html" target="element"> Ekstern gjestekonto (B2B) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/d91a10d3-3771-4118-8c10-7577b8d7d2a8.html" target="element">  </a> </td>
																		<td> <a href="../elements/d91a10d3-3771-4118-8c10-7577b8d7d2a8.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/ba823433-846d-49bd-9ca8-b9ee55f51a5c.html" target="element"> Send gjesteinvitasjon (B2B) </a> </td>
																		<td> <a href="../elements/0d41d055-767d-4efb-98e8-fe67b4d4ce5f.html" target="element"> Gjesteinvistasjon (B2B) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/b39bafc9-aa07-4cca-afa7-803a68d6984d.html" target="element">  </a> </td>
																		<td> <a href="../elements/b39bafc9-aa07-4cca-afa7-803a68d6984d.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/011eddc0-9fb0-4bfd-8592-fb4a2de18cb4.html" target="element"> Send delingslenke (B2C) </a> </td>
																		<td> <a href="../elements/db93c88d-6e2b-4ee6-bbe8-d73cd5d09552.html" target="element"> Delingslenke (B2C) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/aa25c4d3-5a3d-4125-952d-25ece85f9463.html" target="element"> Deler med eksterne </a> </td>
																		<td> <a href="../elements/aa25c4d3-5a3d-4125-952d-25ece85f9463.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/7ed00b3c-809c-41bc-ab15-e67f7a0c74b5.html" target="element"> Bruker - IKT (intern) </a> </td>
																		<td> <a href="../elements/011eddc0-9fb0-4bfd-8592-fb4a2de18cb4.html" target="element"> Send delingslenke (B2C) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d8daa630-6545-4a15-a0c4-e146da7b3f57.html" target="element"> Er medlem </a> </td>
																		<td> <a href="../elements/d8daa630-6545-4a15-a0c4-e146da7b3f57.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/7ed00b3c-809c-41bc-ab15-e67f7a0c74b5.html" target="element"> Bruker - IKT (intern) </a> </td>
																		<td> <a href="../elements/f0e23da5-f9f9-4ccc-b286-9a8097d8f28d.html" target="element"> Sikkerhetsgruppe (Ekstern.deling.XX) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/053f1dd7-14ff-4314-ad5d-0c8a60c46c24.html" target="element"> Inviterer gjester </a> </td>
																		<td> <a href="../elements/053f1dd7-14ff-4314-ad5d-0c8a60c46c24.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/7ed00b3c-809c-41bc-ab15-e67f7a0c74b5.html" target="element"> Bruker - IKT (intern) </a> </td>
																		<td> <a href="../elements/ba823433-846d-49bd-9ca8-b9ee55f51a5c.html" target="element"> Send gjesteinvitasjon (B2B) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/48a6f842-31d7-412a-aaea-e5a040ba5b17.html" target="element"> Mottar delingslenke </a> </td>
																		<td> <a href="../elements/48a6f842-31d7-412a-aaea-e5a040ba5b17.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/cbc4d4f3-d458-4a39-941b-d0cbe292e933.html" target="element"> Bruker - IKT (ekstern) </a> </td>
																		<td> <a href="../elements/011eddc0-9fb0-4bfd-8592-fb4a2de18cb4.html" target="element"> Send delingslenke (B2C) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/867797a7-7b32-408a-971a-f52103fb914a.html" target="element"> Er autentisert </a> </td>
																		<td> <a href="../elements/867797a7-7b32-408a-971a-f52103fb914a.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/cbc4d4f3-d458-4a39-941b-d0cbe292e933.html" target="element"> Bruker - IKT (ekstern) </a> </td>
																		<td> <a href="../elements/980dce2b-f4b1-44d8-9f27-8db4a82b7f17.html" target="element"> Ekstern brukerkonto (B2C) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/06345d2f-0e3b-4059-95e2-9852172d347f.html" target="element">  </a> </td>
																		<td> <a href="../elements/06345d2f-0e3b-4059-95e2-9852172d347f.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/6ccd09f7-2af1-45bd-a0e3-268edff3b628.html" target="element"> Innholds- og dokumenth&#229;ndtering  </a> </td>
																		<td> <a href="../elements/2f35f612-2a74-467f-9f4e-f6440e3a929e.html" target="element"> Sikker identitet og tilgangsstyring </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/41273ada-40d5-4131-a0a9-772f0edd62ae.html" target="element">  </a> </td>
																		<td> <a href="../elements/41273ada-40d5-4131-a0a9-772f0edd62ae.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/a5178b63-a766-430d-86bc-9616e466bcf7.html" target="element"> Bekrefte engangskode </a> </td>
																		<td> <a href="../elements/db93c88d-6e2b-4ee6-bbe8-d73cd5d09552.html" target="element"> Delingslenke (B2C) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/a672f8f4-427c-418b-b1ce-a5bda298ad70.html" target="element">  </a> </td>
																		<td> <a href="../elements/a672f8f4-427c-418b-b1ce-a5bda298ad70.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/80639936-c909-4cda-8b0c-35479d735100.html" target="element"> Opprette gjestekonto </a> </td>
																		<td> <a href="../elements/0d41d055-767d-4efb-98e8-fe67b4d4ce5f.html" target="element"> Gjesteinvistasjon (B2B) </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>