<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Katalogverktøy</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Katalogverkt&#248;y</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/cc0e70d0-3711-41b2-933d-ff208b1a866d.png" alt="Katalogverktøy" usemap="#cc0e70d0-3711-41b2-933d-ff208b1a866dmap"/>
			   <map name="cc0e70d0-3711-41b2-933d-ff208b1a866dmap">
				  						<area shape="rect" coords="682,250,815,311" href="../elements/0f0cac0c-d33f-43db-aad3-7a9f25e4dbcc.html"  target="element">
				  						<area shape="rect" coords="850,250,1031,311" href="../elements/d5e9f8d5-f0f3-4886-af10-e75c90076e58.html"  target="element">
				  						<area shape="rect" coords="682,166,815,227" href="../elements/95a92982-f2a7-44d0-b54c-a8646cd75318.html"  target="element">
				  						<area shape="rect" coords="682,82,815,143" href="../elements/3a71f609-02c1-4c3e-a13e-4f07e2729630.html"  target="element">
				  						<area shape="rect" coords="850,82,1031,143" href="../elements/b7d1b5e0-77f5-4986-92ae-0aad7ef58b0b.html"  target="element">
				  						<area shape="rect" coords="850,166,1031,227" href="../elements/9b76f8f6-bf57-4399-a01e-f262d9fb5cb5.html"  target="element">

				  				<area shape="rect" coords="658,46,1043,623" href="../elements/48319622-9db4-4735-9058-6b3759577512.html"  target="element">

				  		<area shape="rect" coords="646,10,1079,635" href="../elements/e09e3fdb-49cc-4cb9-851a-6a2a4b8e76bc.html"  target="element">
				  								<area shape="rect" coords="406,418,515,587" href="../elements/36ab24d7-4375-4f51-aba3-d2a8fe2c1b35.html"  target="element">
				  								<area shape="rect" coords="46,442,371,479" href="../elements/9ce9ba8e-ad25-47cc-885f-967a109e28d7.html"  target="element">

				  						<area shape="rect" coords="34,394,527,611" href="../elements/aa299c0c-4b26-4655-8966-6832d422ee3e.html"  target="element">
				  								<area shape="rect" coords="406,82,515,347" href="../elements/6a4b893c-9cd3-46cc-8364-8398c6355315.html"  target="element">
				  								<area shape="rect" coords="46,226,371,263" href="../elements/60355cbd-6171-4885-8d91-dc3e0e28b177.html"  target="element">
				  								<area shape="rect" coords="46,178,371,215" href="../elements/ad842dbe-8ee8-493f-b98b-969d7cfd41b9.html"  target="element">
				  								<area shape="rect" coords="46,130,371,167" href="../elements/dd5ed422-b8af-45da-ba6d-c80678b66914.html"  target="element">
				  								<area shape="rect" coords="46,82,371,119" href="../elements/0f7850da-3603-4a59-8e26-c63f8181e19a.html"  target="element">

				  						<area shape="rect" coords="34,58,527,383" href="../elements/11d98e0f-09a5-472c-be85-224a08426842.html"  target="element">

				  				<area shape="rect" coords="22,34,539,623" href="../elements/0772dbf2-9da0-4c48-b170-5f06091e1dd3.html"  target="element">

				  		<area shape="rect" coords="10,10,575,635" href="../elements/6ee9e4d5-eb74-400b-b653-7b1c1b074727.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/6ee9e4d5-eb74-400b-b653-7b1c1b074727.html" target="element"> Blob Storage </a> </td>
											    <td> <a href="../elements/6ee9e4d5-eb74-400b-b653-7b1c1b074727.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/0772dbf2-9da0-4c48-b170-5f06091e1dd3.html" target="element"> xEHF Catalogue </a> </td>
													    <td> <a href="../elements/0772dbf2-9da0-4c48-b170-5f06091e1dd3.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/11d98e0f-09a5-472c-be85-224a08426842.html" target="element"> Action Catalogues </a> </td>
															    <td> <a href="../elements/11d98e0f-09a5-472c-be85-224a08426842.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/0f7850da-3603-4a59-8e26-c63f8181e19a.html" target="element"> /add/katalogutstederid/(unik id).xml </a> </td>
																	    <td> <a href="../elements/0f7850da-3603-4a59-8e26-c63f8181e19a.html" target="element" class="i18n-elementtype-DataObject">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/dd5ed422-b8af-45da-ba6d-c80678b66914.html" target="element"> /replace/katalogutstederid/(unik id).xml </a> </td>
																	    <td> <a href="../elements/dd5ed422-b8af-45da-ba6d-c80678b66914.html" target="element" class="i18n-elementtype-DataObject">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/ad842dbe-8ee8-493f-b98b-969d7cfd41b9.html" target="element"> /update/katalogutstederid/(unik id).xml </a> </td>
																	    <td> <a href="../elements/ad842dbe-8ee8-493f-b98b-969d7cfd41b9.html" target="element" class="i18n-elementtype-DataObject">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/60355cbd-6171-4885-8d91-dc3e0e28b177.html" target="element"> /delete/katalogutstederid/(unik id).xml </a> </td>
																	    <td> <a href="../elements/60355cbd-6171-4885-8d91-dc3e0e28b177.html" target="element" class="i18n-elementtype-DataObject">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/6a4b893c-9cd3-46cc-8364-8398c6355315.html" target="element"> Action Catalogues </a> </td>
																	    <td> <a href="../elements/6a4b893c-9cd3-46cc-8364-8398c6355315.html" target="element" class="i18n-elementtype-ApplicationInterface">
																	    </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/aa299c0c-4b26-4655-8966-6832d422ee3e.html" target="element"> Current Catalogues </a> </td>
															    <td> <a href="../elements/aa299c0c-4b26-4655-8966-6832d422ee3e.html" target="element" class="i18n-elementtype-ApplicationService">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/9ce9ba8e-ad25-47cc-885f-967a109e28d7.html" target="element"> /katalogutstederid/(unik id).xml </a> </td>
																	    <td> <a href="../elements/9ce9ba8e-ad25-47cc-885f-967a109e28d7.html" target="element" class="i18n-elementtype-DataObject">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/36ab24d7-4375-4f51-aba3-d2a8fe2c1b35.html" target="element"> Current Catalogues </a> </td>
																	    <td> <a href="../elements/36ab24d7-4375-4f51-aba3-d2a8fe2c1b35.html" target="element" class="i18n-elementtype-ApplicationInterface">
																	    </a> </td>
																	</tr>

															
													
											
											<tr>
											    <td> <a href="../elements/e09e3fdb-49cc-4cb9-851a-6a2a4b8e76bc.html" target="element"> Azure Functions </a> </td>
											    <td> <a href="../elements/e09e3fdb-49cc-4cb9-851a-6a2a4b8e76bc.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/48319622-9db4-4735-9058-6b3759577512.html" target="element"> Catalogue API </a> </td>
													    <td> <a href="../elements/48319622-9db4-4735-9058-6b3759577512.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/9b76f8f6-bf57-4399-a01e-f262d9fb5cb5.html" target="element"> GET: /Catalogue/prefix/id </a> </td>
															    <td> <a href="../elements/9b76f8f6-bf57-4399-a01e-f262d9fb5cb5.html" target="element" class="i18n-elementtype-ApplicationInterface">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/b7d1b5e0-77f5-4986-92ae-0aad7ef58b0b.html" target="element"> POST: /Catalogue </a> </td>
															    <td> <a href="../elements/b7d1b5e0-77f5-4986-92ae-0aad7ef58b0b.html" target="element" class="i18n-elementtype-ApplicationInterface">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/3a71f609-02c1-4c3e-a13e-4f07e2729630.html" target="element"> save catalogue </a> </td>
															    <td> <a href="../elements/3a71f609-02c1-4c3e-a13e-4f07e2729630.html" target="element" class="i18n-elementtype-ApplicationFunction">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/95a92982-f2a7-44d0-b54c-a8646cd75318.html" target="element"> get catalogue </a> </td>
															    <td> <a href="../elements/95a92982-f2a7-44d0-b54c-a8646cd75318.html" target="element" class="i18n-elementtype-ApplicationFunction">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/d5e9f8d5-f0f3-4886-af10-e75c90076e58.html" target="element"> GET: /Catalogue/prefix </a> </td>
															    <td> <a href="../elements/d5e9f8d5-f0f3-4886-af10-e75c90076e58.html" target="element" class="i18n-elementtype-ApplicationInterface">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/0f0cac0c-d33f-43db-aad3-7a9f25e4dbcc.html" target="element"> get catalogues </a> </td>
															    <td> <a href="../elements/0f0cac0c-d33f-43db-aad3-7a9f25e4dbcc.html" target="element" class="i18n-elementtype-ApplicationFunction">
															    </a> </td>
															</tr>

													
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/60ac7e25-8222-4e0e-b55b-c6b166b9fabf.html" target="element">  </a> </td>
																		<td> <a href="../elements/60ac7e25-8222-4e0e-b55b-c6b166b9fabf.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/6ee9e4d5-eb74-400b-b653-7b1c1b074727.html" target="element"> Blob Storage </a> </td>
																		<td> <a href="../elements/0772dbf2-9da0-4c48-b170-5f06091e1dd3.html" target="element"> xEHF Catalogue </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/3952080b-80d2-4acf-affe-6749125f1419.html" target="element">  </a> </td>
																				<td> <a href="../elements/3952080b-80d2-4acf-affe-6749125f1419.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/0772dbf2-9da0-4c48-b170-5f06091e1dd3.html" target="element"> xEHF Catalogue </a> </td>
																				<td> <a href="../elements/aa299c0c-4b26-4655-8966-6832d422ee3e.html" target="element"> Current Catalogues </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/09e05067-99a2-48f0-a0e8-0c7fabbe24fb.html" target="element">  </a> </td>
																				<td> <a href="../elements/09e05067-99a2-48f0-a0e8-0c7fabbe24fb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/0772dbf2-9da0-4c48-b170-5f06091e1dd3.html" target="element"> xEHF Catalogue </a> </td>
																				<td> <a href="../elements/11d98e0f-09a5-472c-be85-224a08426842.html" target="element"> Action Catalogues </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/c5c76ff8-fb3e-4f58-8bf2-8e1c60362c1f.html" target="element">  </a> </td>
																						<td> <a href="../elements/c5c76ff8-fb3e-4f58-8bf2-8e1c60362c1f.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/11d98e0f-09a5-472c-be85-224a08426842.html" target="element"> Action Catalogues </a> </td>
																						<td> <a href="../elements/0f7850da-3603-4a59-8e26-c63f8181e19a.html" target="element"> /add/katalogutstederid/(unik id).xml </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/49e74851-1dc8-4647-ba3f-646569be50db.html" target="element">  </a> </td>
																						<td> <a href="../elements/49e74851-1dc8-4647-ba3f-646569be50db.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/11d98e0f-09a5-472c-be85-224a08426842.html" target="element"> Action Catalogues </a> </td>
																						<td> <a href="../elements/dd5ed422-b8af-45da-ba6d-c80678b66914.html" target="element"> /replace/katalogutstederid/(unik id).xml </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/6ab29fb5-ae21-4688-be49-485e48362650.html" target="element">  </a> </td>
																						<td> <a href="../elements/6ab29fb5-ae21-4688-be49-485e48362650.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/11d98e0f-09a5-472c-be85-224a08426842.html" target="element"> Action Catalogues </a> </td>
																						<td> <a href="../elements/ad842dbe-8ee8-493f-b98b-969d7cfd41b9.html" target="element"> /update/katalogutstederid/(unik id).xml </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/0db7ce4b-4a8a-4604-af47-7bce020c9c58.html" target="element">  </a> </td>
																						<td> <a href="../elements/0db7ce4b-4a8a-4604-af47-7bce020c9c58.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/11d98e0f-09a5-472c-be85-224a08426842.html" target="element"> Action Catalogues </a> </td>
																						<td> <a href="../elements/60355cbd-6171-4885-8d91-dc3e0e28b177.html" target="element"> /delete/katalogutstederid/(unik id).xml </a> </td>
																					</tr>

																							<tr>
																								<td> <a href="../elements/b5c8ee4c-7663-4fa9-98ef-edcecf9840a8.html" target="element">  </a> </td>
																								<td> <a href="../elements/b5c8ee4c-7663-4fa9-98ef-edcecf9840a8.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																								</a> </td>
																								<td> <a href="../elements/6a4b893c-9cd3-46cc-8364-8398c6355315.html" target="element"> Action Catalogues </a> </td>
																								<td> <a href="../elements/11d98e0f-09a5-472c-be85-224a08426842.html" target="element"> Action Catalogues </a> </td>
																							</tr>
																							<tr>
																								<td> <a href="../elements/0501bb7c-a097-4869-acb5-3bc86d1ef117.html" target="element">  </a> </td>
																								<td> <a href="../elements/0501bb7c-a097-4869-acb5-3bc86d1ef117.html" target="element" class="i18n-elementtype-AccessRelationship">
																								</a> </td>
																								<td> <a href="../elements/6a4b893c-9cd3-46cc-8364-8398c6355315.html" target="element"> Action Catalogues </a> </td>
																								<td> <a href="../elements/0f7850da-3603-4a59-8e26-c63f8181e19a.html" target="element"> /add/katalogutstederid/(unik id).xml </a> </td>
																							</tr>
																							<tr>
																								<td> <a href="../elements/24068793-e87b-465a-8a6c-aaa5def5857b.html" target="element">  </a> </td>
																								<td> <a href="../elements/24068793-e87b-465a-8a6c-aaa5def5857b.html" target="element" class="i18n-elementtype-AccessRelationship">
																								</a> </td>
																								<td> <a href="../elements/6a4b893c-9cd3-46cc-8364-8398c6355315.html" target="element"> Action Catalogues </a> </td>
																								<td> <a href="../elements/dd5ed422-b8af-45da-ba6d-c80678b66914.html" target="element"> /replace/katalogutstederid/(unik id).xml </a> </td>
																							</tr>
																							<tr>
																								<td> <a href="../elements/95fcf06f-6089-4bfc-8e02-5f5cea03c333.html" target="element">  </a> </td>
																								<td> <a href="../elements/95fcf06f-6089-4bfc-8e02-5f5cea03c333.html" target="element" class="i18n-elementtype-AccessRelationship">
																								</a> </td>
																								<td> <a href="../elements/6a4b893c-9cd3-46cc-8364-8398c6355315.html" target="element"> Action Catalogues </a> </td>
																								<td> <a href="../elements/ad842dbe-8ee8-493f-b98b-969d7cfd41b9.html" target="element"> /update/katalogutstederid/(unik id).xml </a> </td>
																							</tr>
																							<tr>
																								<td> <a href="../elements/bddbb976-cb64-4aa9-8e09-5133c9716882.html" target="element">  </a> </td>
																								<td> <a href="../elements/bddbb976-cb64-4aa9-8e09-5133c9716882.html" target="element" class="i18n-elementtype-AccessRelationship">
																								</a> </td>
																								<td> <a href="../elements/6a4b893c-9cd3-46cc-8364-8398c6355315.html" target="element"> Action Catalogues </a> </td>
																								<td> <a href="../elements/60355cbd-6171-4885-8d91-dc3e0e28b177.html" target="element"> /delete/katalogutstederid/(unik id).xml </a> </td>
																							</tr>
																							<tr>
																								<td> <a href="../elements/bc2ae800-0450-4c4a-b049-2d1e95421967.html" target="element"> Catalogue respond </a> </td>
																								<td> <a href="../elements/bc2ae800-0450-4c4a-b049-2d1e95421967.html" target="element" class="i18n-elementtype-FlowRelationship">
																								</a> </td>
																								<td> <a href="../elements/6a4b893c-9cd3-46cc-8364-8398c6355315.html" target="element"> Action Catalogues </a> </td>
																								<td> <a href="../elements/95a92982-f2a7-44d0-b54c-a8646cd75318.html" target="element"> get catalogue </a> </td>
																							</tr>
																							<tr>
																								<td> <a href="../elements/72def43e-4992-467f-bd85-f15e064451ca.html" target="element"> Catalogue list response </a> </td>
																								<td> <a href="../elements/72def43e-4992-467f-bd85-f15e064451ca.html" target="element" class="i18n-elementtype-FlowRelationship">
																								</a> </td>
																								<td> <a href="../elements/6a4b893c-9cd3-46cc-8364-8398c6355315.html" target="element"> Action Catalogues </a> </td>
																								<td> <a href="../elements/0f0cac0c-d33f-43db-aad3-7a9f25e4dbcc.html" target="element"> get catalogues </a> </td>
																							</tr>

															
																					<tr>
																						<td> <a href="../elements/f0afeece-236c-4fa3-ae44-72b3f1de1250.html" target="element">  </a> </td>
																						<td> <a href="../elements/f0afeece-236c-4fa3-ae44-72b3f1de1250.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/aa299c0c-4b26-4655-8966-6832d422ee3e.html" target="element"> Current Catalogues </a> </td>
																						<td> <a href="../elements/9ce9ba8e-ad25-47cc-885f-967a109e28d7.html" target="element"> /katalogutstederid/(unik id).xml </a> </td>
																					</tr>

																							<tr>
																								<td> <a href="../elements/553aa0dc-319a-410b-875d-a98d45d89cab.html" target="element">  </a> </td>
																								<td> <a href="../elements/553aa0dc-319a-410b-875d-a98d45d89cab.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																								</a> </td>
																								<td> <a href="../elements/36ab24d7-4375-4f51-aba3-d2a8fe2c1b35.html" target="element"> Current Catalogues </a> </td>
																								<td> <a href="../elements/aa299c0c-4b26-4655-8966-6832d422ee3e.html" target="element"> Current Catalogues </a> </td>
																							</tr>
																							<tr>
																								<td> <a href="../elements/ebd8aab4-1d83-4269-aaa8-2b04cc003b03.html" target="element">  </a> </td>
																								<td> <a href="../elements/ebd8aab4-1d83-4269-aaa8-2b04cc003b03.html" target="element" class="i18n-elementtype-AccessRelationship">
																								</a> </td>
																								<td> <a href="../elements/36ab24d7-4375-4f51-aba3-d2a8fe2c1b35.html" target="element"> Current Catalogues </a> </td>
																								<td> <a href="../elements/9ce9ba8e-ad25-47cc-885f-967a109e28d7.html" target="element"> /katalogutstederid/(unik id).xml </a> </td>
																							</tr>

															
													
											
																	<tr>
																		<td> <a href="../elements/ae9f1891-c921-48a3-b4d0-a8adb5dd10ff.html" target="element">  </a> </td>
																		<td> <a href="../elements/ae9f1891-c921-48a3-b4d0-a8adb5dd10ff.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/e09e3fdb-49cc-4cb9-851a-6a2a4b8e76bc.html" target="element"> Azure Functions </a> </td>
																		<td> <a href="../elements/48319622-9db4-4735-9058-6b3759577512.html" target="element"> Catalogue API </a> </td>
																	</tr>

																					<tr>
																						<td> <a href="../elements/efcb0ad3-5122-4b01-a9f4-5d5c0ae957d0.html" target="element">  </a> </td>
																						<td> <a href="../elements/efcb0ad3-5122-4b01-a9f4-5d5c0ae957d0.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																						</a> </td>
																						<td> <a href="../elements/9b76f8f6-bf57-4399-a01e-f262d9fb5cb5.html" target="element"> GET: /Catalogue/prefix/id </a> </td>
																						<td> <a href="../elements/48319622-9db4-4735-9058-6b3759577512.html" target="element"> Catalogue API </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/138b0ff9-24ea-4917-80e2-3d7d77a7f965.html" target="element">  </a> </td>
																						<td> <a href="../elements/138b0ff9-24ea-4917-80e2-3d7d77a7f965.html" target="element" class="i18n-elementtype-FlowRelationship">
																						</a> </td>
																						<td> <a href="../elements/9b76f8f6-bf57-4399-a01e-f262d9fb5cb5.html" target="element"> GET: /Catalogue/prefix/id </a> </td>
																						<td> <a href="../elements/95a92982-f2a7-44d0-b54c-a8646cd75318.html" target="element"> get catalogue </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/9c05e16c-af26-4771-a11e-056e37b12c1b.html" target="element">  </a> </td>
																						<td> <a href="../elements/9c05e16c-af26-4771-a11e-056e37b12c1b.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																						</a> </td>
																						<td> <a href="../elements/b7d1b5e0-77f5-4986-92ae-0aad7ef58b0b.html" target="element"> POST: /Catalogue </a> </td>
																						<td> <a href="../elements/48319622-9db4-4735-9058-6b3759577512.html" target="element"> Catalogue API </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/434041c3-b33d-4a20-b6f6-c4370d5662b0.html" target="element">  </a> </td>
																						<td> <a href="../elements/434041c3-b33d-4a20-b6f6-c4370d5662b0.html" target="element" class="i18n-elementtype-FlowRelationship">
																						</a> </td>
																						<td> <a href="../elements/b7d1b5e0-77f5-4986-92ae-0aad7ef58b0b.html" target="element"> POST: /Catalogue </a> </td>
																						<td> <a href="../elements/3a71f609-02c1-4c3e-a13e-4f07e2729630.html" target="element"> save catalogue </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/50e34679-3c6c-41e5-8d54-7967e0d5d09c.html" target="element">  </a> </td>
																						<td> <a href="../elements/50e34679-3c6c-41e5-8d54-7967e0d5d09c.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/3a71f609-02c1-4c3e-a13e-4f07e2729630.html" target="element"> save catalogue </a> </td>
																						<td> <a href="../elements/48319622-9db4-4735-9058-6b3759577512.html" target="element"> Catalogue API </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/8418e82e-dde7-4392-a90c-7eeede58228d.html" target="element">  </a> </td>
																						<td> <a href="../elements/8418e82e-dde7-4392-a90c-7eeede58228d.html" target="element" class="i18n-elementtype-FlowRelationship">
																						</a> </td>
																						<td> <a href="../elements/3a71f609-02c1-4c3e-a13e-4f07e2729630.html" target="element"> save catalogue </a> </td>
																						<td> <a href="../elements/6a4b893c-9cd3-46cc-8364-8398c6355315.html" target="element"> Action Catalogues </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/98920f20-5d8b-486d-bfce-440fd56dfacc.html" target="element">  </a> </td>
																						<td> <a href="../elements/98920f20-5d8b-486d-bfce-440fd56dfacc.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/95a92982-f2a7-44d0-b54c-a8646cd75318.html" target="element"> get catalogue </a> </td>
																						<td> <a href="../elements/48319622-9db4-4735-9058-6b3759577512.html" target="element"> Catalogue API </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/5cdc17e6-90f9-4ce4-a3d1-1cda61196150.html" target="element"> Catalogue Request </a> </td>
																						<td> <a href="../elements/5cdc17e6-90f9-4ce4-a3d1-1cda61196150.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																						</a> </td>
																						<td> <a href="../elements/95a92982-f2a7-44d0-b54c-a8646cd75318.html" target="element"> get catalogue </a> </td>
																						<td> <a href="../elements/6a4b893c-9cd3-46cc-8364-8398c6355315.html" target="element"> Action Catalogues </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/5871a650-b10b-49e9-a405-393cfa50e69a.html" target="element">  </a> </td>
																						<td> <a href="../elements/5871a650-b10b-49e9-a405-393cfa50e69a.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																						</a> </td>
																						<td> <a href="../elements/d5e9f8d5-f0f3-4886-af10-e75c90076e58.html" target="element"> GET: /Catalogue/prefix </a> </td>
																						<td> <a href="../elements/48319622-9db4-4735-9058-6b3759577512.html" target="element"> Catalogue API </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/543d3c2a-a65d-4094-b2be-d0c05d610cc9.html" target="element">  </a> </td>
																						<td> <a href="../elements/543d3c2a-a65d-4094-b2be-d0c05d610cc9.html" target="element" class="i18n-elementtype-FlowRelationship">
																						</a> </td>
																						<td> <a href="../elements/d5e9f8d5-f0f3-4886-af10-e75c90076e58.html" target="element"> GET: /Catalogue/prefix </a> </td>
																						<td> <a href="../elements/0f0cac0c-d33f-43db-aad3-7a9f25e4dbcc.html" target="element"> get catalogues </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/88fd5807-4c4c-40ff-8e37-bdc108448970.html" target="element">  </a> </td>
																						<td> <a href="../elements/88fd5807-4c4c-40ff-8e37-bdc108448970.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/0f0cac0c-d33f-43db-aad3-7a9f25e4dbcc.html" target="element"> get catalogues </a> </td>
																						<td> <a href="../elements/48319622-9db4-4735-9058-6b3759577512.html" target="element"> Catalogue API </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/effd6faf-951f-4e76-a243-5e603a9b9a25.html" target="element"> Catalogue list request </a> </td>
																						<td> <a href="../elements/effd6faf-951f-4e76-a243-5e603a9b9a25.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																						</a> </td>
																						<td> <a href="../elements/0f0cac0c-d33f-43db-aad3-7a9f25e4dbcc.html" target="element"> get catalogues </a> </td>
																						<td> <a href="../elements/6a4b893c-9cd3-46cc-8364-8398c6355315.html" target="element"> Action Catalogues </a> </td>
																					</tr>

													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>