<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>MinTid Project</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>MinTid Project</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/d13c991d-84ae-47cd-96ef-e94456b8dbf6.png" alt="MinTid Project" usemap="#d13c991d-84ae-47cd-96ef-e94456b8dbf6map"/>
			   <map name="d13c991d-84ae-47cd-96ef-e94456b8dbf6map">
				  				<area shape="rect" coords="46,550,215,611" href="../elements/27246d49-e035-4b1a-b245-ad26aeb14608.html"  target="element">
				  				<area shape="rect" coords="46,394,215,449" href="../elements/0ccb9f3b-0f72-4a70-a3b6-a8ad96167bd7.html"  target="element">
				  				<area shape="rect" coords="46,484,215,539" href="../elements/a27aa33f-ec51-470f-b0da-03a05176a9ba.html"  target="element">
				  				<area shape="rect" coords="46,310,215,383" href="../elements/30ab3416-da9e-4fa9-a7ac-20888d894080.html"  target="element">

				  		<area shape="rect" coords="10,262,323,659" href="../elements/a0a9f218-3d69-4d3b-be4d-cf618803c689.html"  target="element">
				  						<area shape="rect" coords="514,562,1163,611" href="../elements/611a792f-e590-47e4-a8c2-4ae62295be39.html"  target="element">
				  						<area shape="rect" coords="514,490,1163,539" href="../elements/2d59894b-1ff3-4df8-b81d-012be486cd73.html"  target="element">
				  						<area shape="rect" coords="514,418,1163,455" href="../elements/8e274754-b119-45fb-909a-58e54505e443.html"  target="element">
				  						<area shape="rect" coords="1006,178,1175,215" href="../elements/3d4642d5-8e7d-4c43-a520-1fcc09cd9756.html"  target="element">
				  						<area shape="rect" coords="826,178,995,239" href="../elements/7684a0a1-4c0b-4625-8f76-67e56f2d8390.html"  target="element">
				  						<area shape="rect" coords="670,178,815,263" href="../elements/a7cf94cb-a517-45ca-814d-cb1d93646ef9.html"  target="element">
				  						<area shape="rect" coords="514,298,659,395" href="../elements/8bd7b52a-2251-456d-b146-25afb79046ec.html"  target="element">
				  						<area shape="rect" coords="514,178,659,287" href="../elements/7cb23798-a5ce-46bb-bf94-20cdd4022e46.html"  target="element">
				  						<area shape="rect" coords="508,58,1169,95" href="../elements/2eae3c08-7b50-49cd-bcf6-00dd639a332e.html"  target="element">

				  				<area shape="rect" coords="502,34,1199,635" href="../elements/d4701c10-2d3a-4a5d-8b46-61dc0f1d825a.html"  target="element">

				  		<area shape="rect" coords="478,10,1223,659" href="../elements/bc383e0f-d3cc-4659-8749-01798c60a38a.html"  target="element">
				  				<area shape="rect" coords="1294,202,1414,257" href="../elements/83cac4ab-6520-416b-b4c7-857db9c9d7a4.html"  target="element">
				  				<area shape="rect" coords="1294,274,1414,329" href="../elements/4e7558ae-0caa-427e-8bda-fe17fc5d83c6.html"  target="element">
				  				<area shape="rect" coords="1294,346,1414,401" href="../elements/f5641bb2-27c4-4d90-bbfb-dd217fdbbe50.html"  target="element">
				  				<area shape="rect" coords="1294,442,1414,497" href="../elements/b799a714-2104-4d1f-94ce-fb4b2cb77f7b.html"  target="element">

				  		<area shape="rect" coords="1282,166,1439,527" href="../elements/c7797550-4879-49e8-ac8c-0ead68d59f64.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/c7797550-4879-49e8-ac8c-0ead68d59f64.html" target="element"> ProjectContext </a> </td>
											    <td> <a href="../elements/c7797550-4879-49e8-ac8c-0ead68d59f64.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/b799a714-2104-4d1f-94ce-fb4b2cb77f7b.html" target="element"> Prosjekter_xxx_xxx.csv </a> </td>
													    <td> <a href="../elements/b799a714-2104-4d1f-94ce-fb4b2cb77f7b.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/f5641bb2-27c4-4d90-bbfb-dd217fdbbe50.html" target="element"> systemusers </a> </td>
													    <td> <a href="../elements/f5641bb2-27c4-4d90-bbfb-dd217fdbbe50.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/4e7558ae-0caa-427e-8bda-fe17fc5d83c6.html" target="element"> businessunits </a> </td>
													    <td> <a href="../elements/4e7558ae-0caa-427e-8bda-fe17fc5d83c6.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/83cac4ab-6520-416b-b4c7-857db9c9d7a4.html" target="element"> shi_projects </a> </td>
													    <td> <a href="../elements/83cac4ab-6520-416b-b4c7-857db9c9d7a4.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/bc383e0f-d3cc-4659-8749-01798c60a38a.html" target="element"> Power Automate </a> </td>
											    <td> <a href="../elements/bc383e0f-d3cc-4659-8749-01798c60a38a.html" target="element" class="i18n-elementtype-TechnologyService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/d4701c10-2d3a-4a5d-8b46-61dc0f1d825a.html" target="element"> Last inn prosjekter </a> </td>
													    <td> <a href="../elements/d4701c10-2d3a-4a5d-8b46-61dc0f1d825a.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/2eae3c08-7b50-49cd-bcf6-00dd639a332e.html" target="element"> Timer </a> </td>
															    <td> <a href="../elements/2eae3c08-7b50-49cd-bcf6-00dd639a332e.html" target="element" class="i18n-elementtype-ApplicationEvent">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/7cb23798-a5ce-46bb-bf94-20cdd4022e46.html" target="element"> GET Prosjekt.csv </a> </td>
															    <td> <a href="../elements/7cb23798-a5ce-46bb-bf94-20cdd4022e46.html" target="element" class="i18n-elementtype-ApplicationProcess">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/8bd7b52a-2251-456d-b146-25afb79046ec.html" target="element"> Convert project.csv to project_list.json </a> </td>
															    <td> <a href="../elements/8bd7b52a-2251-456d-b146-25afb79046ec.html" target="element" class="i18n-elementtype-ApplicationProcess">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/a7cf94cb-a517-45ca-814d-cb1d93646ef9.html" target="element"> List Users </a> </td>
															    <td> <a href="../elements/a7cf94cb-a517-45ca-814d-cb1d93646ef9.html" target="element" class="i18n-elementtype-ApplicationProcess">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/7684a0a1-4c0b-4625-8f76-67e56f2d8390.html" target="element"> List Businessunits </a> </td>
															    <td> <a href="../elements/7684a0a1-4c0b-4625-8f76-67e56f2d8390.html" target="element" class="i18n-elementtype-ApplicationProcess">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/3d4642d5-8e7d-4c43-a520-1fcc09cd9756.html" target="element"> List Projects </a> </td>
															    <td> <a href="../elements/3d4642d5-8e7d-4c43-a520-1fcc09cd9756.html" target="element" class="i18n-elementtype-ApplicationProcess">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/8e274754-b119-45fb-909a-58e54505e443.html" target="element"> Extract: ProjectContext </a> </td>
															    <td> <a href="../elements/8e274754-b119-45fb-909a-58e54505e443.html" target="element" class="i18n-elementtype-ApplicationProcess">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/2d59894b-1ff3-4df8-b81d-012be486cd73.html" target="element"> Transform: ProjectContext </a> </td>
															    <td> <a href="../elements/2d59894b-1ff3-4df8-b81d-012be486cd73.html" target="element" class="i18n-elementtype-ApplicationProcess">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/611a792f-e590-47e4-a8c2-4ae62295be39.html" target="element"> Load shi_projects </a> </td>
															    <td> <a href="../elements/611a792f-e590-47e4-a8c2-4ae62295be39.html" target="element" class="i18n-elementtype-ApplicationProcess">
															    </a> </td>
															</tr>

													
											
											<tr>
											    <td> <a href="../elements/a0a9f218-3d69-4d3b-be4d-cf618803c689.html" target="element"> QuantusGo </a> </td>
											    <td> <a href="../elements/a0a9f218-3d69-4d3b-be4d-cf618803c689.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/30ab3416-da9e-4fa9-a7ac-20888d894080.html" target="element"> v1/ConvertProjectCSV </a> </td>
													    <td> <a href="../elements/30ab3416-da9e-4fa9-a7ac-20888d894080.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/a27aa33f-ec51-470f-b0da-03a05176a9ba.html" target="element"> v1/CompareProjects </a> </td>
													    <td> <a href="../elements/a27aa33f-ec51-470f-b0da-03a05176a9ba.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/0ccb9f3b-0f72-4a70-a3b6-a8ad96167bd7.html" target="element"> Transform CSV To Json </a> </td>
													    <td> <a href="../elements/0ccb9f3b-0f72-4a70-a3b6-a8ad96167bd7.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/27246d49-e035-4b1a-b245-ad26aeb14608.html" target="element"> Transforms ProjectContext into changes for shi_project </a> </td>
													    <td> <a href="../elements/27246d49-e035-4b1a-b245-ad26aeb14608.html" target="element" class="i18n-elementtype-ApplicationFunction">
													    </a> </td>
													</tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/955f93b7-d75e-4357-bc20-d437597099b3.html" target="element">  </a> </td>
																		<td> <a href="../elements/955f93b7-d75e-4357-bc20-d437597099b3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/c7797550-4879-49e8-ac8c-0ead68d59f64.html" target="element"> ProjectContext </a> </td>
																		<td> <a href="../elements/83cac4ab-6520-416b-b4c7-857db9c9d7a4.html" target="element"> shi_projects </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/48563d89-6462-4953-a890-3db805bbc905.html" target="element">  </a> </td>
																				<td> <a href="../elements/48563d89-6462-4953-a890-3db805bbc905.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/b799a714-2104-4d1f-94ce-fb4b2cb77f7b.html" target="element"> Prosjekter_xxx_xxx.csv </a> </td>
																				<td> <a href="../elements/c7797550-4879-49e8-ac8c-0ead68d59f64.html" target="element"> ProjectContext </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/ddaf333e-44dd-4de1-a960-22189a0c339d.html" target="element">  </a> </td>
																				<td> <a href="../elements/ddaf333e-44dd-4de1-a960-22189a0c339d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/f5641bb2-27c4-4d90-bbfb-dd217fdbbe50.html" target="element"> systemusers </a> </td>
																				<td> <a href="../elements/c7797550-4879-49e8-ac8c-0ead68d59f64.html" target="element"> ProjectContext </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/2bc197e5-f48a-4ad1-be85-d64df5bb5e39.html" target="element">  </a> </td>
																				<td> <a href="../elements/2bc197e5-f48a-4ad1-be85-d64df5bb5e39.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/4e7558ae-0caa-427e-8bda-fe17fc5d83c6.html" target="element"> businessunits </a> </td>
																				<td> <a href="../elements/c7797550-4879-49e8-ac8c-0ead68d59f64.html" target="element"> ProjectContext </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/8ff4687b-d09f-4d57-b6ad-4eaa5d93b9a8.html" target="element">  </a> </td>
																		<td> <a href="../elements/8ff4687b-d09f-4d57-b6ad-4eaa5d93b9a8.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/bc383e0f-d3cc-4659-8749-01798c60a38a.html" target="element"> Power Automate </a> </td>
																		<td> <a href="../elements/d4701c10-2d3a-4a5d-8b46-61dc0f1d825a.html" target="element"> Last inn prosjekter </a> </td>
																	</tr>

																					<tr>
																						<td> <a href="../elements/f91d89ac-044a-45b9-932c-23dba3fdbb15.html" target="element">  </a> </td>
																						<td> <a href="../elements/f91d89ac-044a-45b9-932c-23dba3fdbb15.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																						</a> </td>
																						<td> <a href="../elements/2eae3c08-7b50-49cd-bcf6-00dd639a332e.html" target="element"> Timer </a> </td>
																						<td> <a href="../elements/d4701c10-2d3a-4a5d-8b46-61dc0f1d825a.html" target="element"> Last inn prosjekter </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/d034a5b9-875e-494b-9a00-96540f590a88.html" target="element">  </a> </td>
																						<td> <a href="../elements/d034a5b9-875e-494b-9a00-96540f590a88.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																						</a> </td>
																						<td> <a href="../elements/2eae3c08-7b50-49cd-bcf6-00dd639a332e.html" target="element"> Timer </a> </td>
																						<td> <a href="../elements/7cb23798-a5ce-46bb-bf94-20cdd4022e46.html" target="element"> GET Prosjekt.csv </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/ffee115f-cbfc-49ba-8b48-ec1fa739c909.html" target="element">  </a> </td>
																						<td> <a href="../elements/ffee115f-cbfc-49ba-8b48-ec1fa739c909.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																						</a> </td>
																						<td> <a href="../elements/2eae3c08-7b50-49cd-bcf6-00dd639a332e.html" target="element"> Timer </a> </td>
																						<td> <a href="../elements/a7cf94cb-a517-45ca-814d-cb1d93646ef9.html" target="element"> List Users </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/645513f6-ac09-4a11-955c-17e40fdd06f6.html" target="element">  </a> </td>
																						<td> <a href="../elements/645513f6-ac09-4a11-955c-17e40fdd06f6.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																						</a> </td>
																						<td> <a href="../elements/2eae3c08-7b50-49cd-bcf6-00dd639a332e.html" target="element"> Timer </a> </td>
																						<td> <a href="../elements/7684a0a1-4c0b-4625-8f76-67e56f2d8390.html" target="element"> List Businessunits </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/4b87f60f-5bb0-4860-a36f-05752c8549de.html" target="element">  </a> </td>
																						<td> <a href="../elements/4b87f60f-5bb0-4860-a36f-05752c8549de.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																						</a> </td>
																						<td> <a href="../elements/2eae3c08-7b50-49cd-bcf6-00dd639a332e.html" target="element"> Timer </a> </td>
																						<td> <a href="../elements/3d4642d5-8e7d-4c43-a520-1fcc09cd9756.html" target="element"> List Projects </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/c9f119a4-4449-4a6c-81a0-771f64befb61.html" target="element">  </a> </td>
																						<td> <a href="../elements/c9f119a4-4449-4a6c-81a0-771f64befb61.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/7cb23798-a5ce-46bb-bf94-20cdd4022e46.html" target="element"> GET Prosjekt.csv </a> </td>
																						<td> <a href="../elements/d4701c10-2d3a-4a5d-8b46-61dc0f1d825a.html" target="element"> Last inn prosjekter </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/fbb0c333-e758-42c4-8a6a-73a1d8874db2.html" target="element">  </a> </td>
																						<td> <a href="../elements/fbb0c333-e758-42c4-8a6a-73a1d8874db2.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																						</a> </td>
																						<td> <a href="../elements/7cb23798-a5ce-46bb-bf94-20cdd4022e46.html" target="element"> GET Prosjekt.csv </a> </td>
																						<td> <a href="../elements/8bd7b52a-2251-456d-b146-25afb79046ec.html" target="element"> Convert project.csv to project_list.json </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/1087a614-e199-45ba-afbd-0360616f6e5d.html" target="element">  </a> </td>
																						<td> <a href="../elements/1087a614-e199-45ba-afbd-0360616f6e5d.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/7cb23798-a5ce-46bb-bf94-20cdd4022e46.html" target="element"> GET Prosjekt.csv </a> </td>
																						<td> <a href="../elements/b799a714-2104-4d1f-94ce-fb4b2cb77f7b.html" target="element"> Prosjekter_xxx_xxx.csv </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/ef5d8c90-ad3d-44bb-b0f8-72c86ea75032.html" target="element">  </a> </td>
																						<td> <a href="../elements/ef5d8c90-ad3d-44bb-b0f8-72c86ea75032.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/8bd7b52a-2251-456d-b146-25afb79046ec.html" target="element"> Convert project.csv to project_list.json </a> </td>
																						<td> <a href="../elements/d4701c10-2d3a-4a5d-8b46-61dc0f1d825a.html" target="element"> Last inn prosjekter </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/0afcf963-c941-43e9-888b-f03de8b3b9dd.html" target="element"> POST: Prosjektliste.csv </a> </td>
																						<td> <a href="../elements/0afcf963-c941-43e9-888b-f03de8b3b9dd.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																						</a> </td>
																						<td> <a href="../elements/8bd7b52a-2251-456d-b146-25afb79046ec.html" target="element"> Convert project.csv to project_list.json </a> </td>
																						<td> <a href="../elements/30ab3416-da9e-4fa9-a7ac-20888d894080.html" target="element"> v1/ConvertProjectCSV </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/89828baf-0917-4735-acd3-60d5477864ae.html" target="element">  </a> </td>
																						<td> <a href="../elements/89828baf-0917-4735-acd3-60d5477864ae.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																						</a> </td>
																						<td> <a href="../elements/8bd7b52a-2251-456d-b146-25afb79046ec.html" target="element"> Convert project.csv to project_list.json </a> </td>
																						<td> <a href="../elements/8e274754-b119-45fb-909a-58e54505e443.html" target="element"> Extract: ProjectContext </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/c3bb9304-d71c-4e2c-b807-d1cc310644f5.html" target="element">  </a> </td>
																						<td> <a href="../elements/c3bb9304-d71c-4e2c-b807-d1cc310644f5.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/a7cf94cb-a517-45ca-814d-cb1d93646ef9.html" target="element"> List Users </a> </td>
																						<td> <a href="../elements/d4701c10-2d3a-4a5d-8b46-61dc0f1d825a.html" target="element"> Last inn prosjekter </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/95b6858a-52ac-42de-9bf5-2791f0eae6a3.html" target="element">  </a> </td>
																						<td> <a href="../elements/95b6858a-52ac-42de-9bf5-2791f0eae6a3.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																						</a> </td>
																						<td> <a href="../elements/a7cf94cb-a517-45ca-814d-cb1d93646ef9.html" target="element"> List Users </a> </td>
																						<td> <a href="../elements/8e274754-b119-45fb-909a-58e54505e443.html" target="element"> Extract: ProjectContext </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/7988283a-d437-407b-84a3-3f9a7c693611.html" target="element">  </a> </td>
																						<td> <a href="../elements/7988283a-d437-407b-84a3-3f9a7c693611.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/a7cf94cb-a517-45ca-814d-cb1d93646ef9.html" target="element"> List Users </a> </td>
																						<td> <a href="../elements/f5641bb2-27c4-4d90-bbfb-dd217fdbbe50.html" target="element"> systemusers </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/86f07502-637b-45f5-a353-d98aa05d45fc.html" target="element">  </a> </td>
																						<td> <a href="../elements/86f07502-637b-45f5-a353-d98aa05d45fc.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/7684a0a1-4c0b-4625-8f76-67e56f2d8390.html" target="element"> List Businessunits </a> </td>
																						<td> <a href="../elements/d4701c10-2d3a-4a5d-8b46-61dc0f1d825a.html" target="element"> Last inn prosjekter </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/f73441c4-8f2e-41a6-a5a3-67e93589f1ac.html" target="element">  </a> </td>
																						<td> <a href="../elements/f73441c4-8f2e-41a6-a5a3-67e93589f1ac.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																						</a> </td>
																						<td> <a href="../elements/7684a0a1-4c0b-4625-8f76-67e56f2d8390.html" target="element"> List Businessunits </a> </td>
																						<td> <a href="../elements/8e274754-b119-45fb-909a-58e54505e443.html" target="element"> Extract: ProjectContext </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/76948bcf-938c-4609-90f0-2624d4121859.html" target="element">  </a> </td>
																						<td> <a href="../elements/76948bcf-938c-4609-90f0-2624d4121859.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/7684a0a1-4c0b-4625-8f76-67e56f2d8390.html" target="element"> List Businessunits </a> </td>
																						<td> <a href="../elements/4e7558ae-0caa-427e-8bda-fe17fc5d83c6.html" target="element"> businessunits </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/36284baf-b616-466d-b882-588ca1da51f5.html" target="element">  </a> </td>
																						<td> <a href="../elements/36284baf-b616-466d-b882-588ca1da51f5.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/3d4642d5-8e7d-4c43-a520-1fcc09cd9756.html" target="element"> List Projects </a> </td>
																						<td> <a href="../elements/d4701c10-2d3a-4a5d-8b46-61dc0f1d825a.html" target="element"> Last inn prosjekter </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/51396f8b-b73d-41d7-8edb-cc6fe9f0b198.html" target="element">  </a> </td>
																						<td> <a href="../elements/51396f8b-b73d-41d7-8edb-cc6fe9f0b198.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																						</a> </td>
																						<td> <a href="../elements/3d4642d5-8e7d-4c43-a520-1fcc09cd9756.html" target="element"> List Projects </a> </td>
																						<td> <a href="../elements/8e274754-b119-45fb-909a-58e54505e443.html" target="element"> Extract: ProjectContext </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/395493ed-23e4-42b2-ab4c-5d36937af89d.html" target="element">  </a> </td>
																						<td> <a href="../elements/395493ed-23e4-42b2-ab4c-5d36937af89d.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/3d4642d5-8e7d-4c43-a520-1fcc09cd9756.html" target="element"> List Projects </a> </td>
																						<td> <a href="../elements/83cac4ab-6520-416b-b4c7-857db9c9d7a4.html" target="element"> shi_projects </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/648954af-bb1d-423b-b369-dbdd7c85792d.html" target="element">  </a> </td>
																						<td> <a href="../elements/648954af-bb1d-423b-b369-dbdd7c85792d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/8e274754-b119-45fb-909a-58e54505e443.html" target="element"> Extract: ProjectContext </a> </td>
																						<td> <a href="../elements/d4701c10-2d3a-4a5d-8b46-61dc0f1d825a.html" target="element"> Last inn prosjekter </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/25225e90-1743-4ed2-a715-ac090bac201f.html" target="element">  </a> </td>
																						<td> <a href="../elements/25225e90-1743-4ed2-a715-ac090bac201f.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																						</a> </td>
																						<td> <a href="../elements/8e274754-b119-45fb-909a-58e54505e443.html" target="element"> Extract: ProjectContext </a> </td>
																						<td> <a href="../elements/2d59894b-1ff3-4df8-b81d-012be486cd73.html" target="element"> Transform: ProjectContext </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/71bf2cef-4347-4b41-921c-36e47087e948.html" target="element">  </a> </td>
																						<td> <a href="../elements/71bf2cef-4347-4b41-921c-36e47087e948.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/2d59894b-1ff3-4df8-b81d-012be486cd73.html" target="element"> Transform: ProjectContext </a> </td>
																						<td> <a href="../elements/d4701c10-2d3a-4a5d-8b46-61dc0f1d825a.html" target="element"> Last inn prosjekter </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/8101f667-d5a4-40bf-9153-6f262120395c.html" target="element"> POST: ProjectContext.json </a> </td>
																						<td> <a href="../elements/8101f667-d5a4-40bf-9153-6f262120395c.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																						</a> </td>
																						<td> <a href="../elements/2d59894b-1ff3-4df8-b81d-012be486cd73.html" target="element"> Transform: ProjectContext </a> </td>
																						<td> <a href="../elements/a27aa33f-ec51-470f-b0da-03a05176a9ba.html" target="element"> v1/CompareProjects </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/bbe3725b-9aac-4298-8c53-03e8770280b9.html" target="element">  </a> </td>
																						<td> <a href="../elements/bbe3725b-9aac-4298-8c53-03e8770280b9.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																						</a> </td>
																						<td> <a href="../elements/2d59894b-1ff3-4df8-b81d-012be486cd73.html" target="element"> Transform: ProjectContext </a> </td>
																						<td> <a href="../elements/611a792f-e590-47e4-a8c2-4ae62295be39.html" target="element"> Load shi_projects </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/2fcaf95a-e88e-4f48-969f-3836ea0963c7.html" target="element">  </a> </td>
																						<td> <a href="../elements/2fcaf95a-e88e-4f48-969f-3836ea0963c7.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/611a792f-e590-47e4-a8c2-4ae62295be39.html" target="element"> Load shi_projects </a> </td>
																						<td> <a href="../elements/d4701c10-2d3a-4a5d-8b46-61dc0f1d825a.html" target="element"> Last inn prosjekter </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/b9cacd3b-a73f-43fb-8933-cd17c6b51bbe.html" target="element">  </a> </td>
																						<td> <a href="../elements/b9cacd3b-a73f-43fb-8933-cd17c6b51bbe.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/611a792f-e590-47e4-a8c2-4ae62295be39.html" target="element"> Load shi_projects </a> </td>
																						<td> <a href="../elements/83cac4ab-6520-416b-b4c7-857db9c9d7a4.html" target="element"> shi_projects </a> </td>
																					</tr>

													
											
																	<tr>
																		<td> <a href="../elements/7a97e85d-afbd-4e07-bb0e-a762ae6efe04.html" target="element">  </a> </td>
																		<td> <a href="../elements/7a97e85d-afbd-4e07-bb0e-a762ae6efe04.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/a0a9f218-3d69-4d3b-be4d-cf618803c689.html" target="element"> QuantusGo </a> </td>
																		<td> <a href="../elements/30ab3416-da9e-4fa9-a7ac-20888d894080.html" target="element"> v1/ConvertProjectCSV </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b4e8e2e8-4d12-4861-b0c7-4b096b688efb.html" target="element">  </a> </td>
																		<td> <a href="../elements/b4e8e2e8-4d12-4861-b0c7-4b096b688efb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/a0a9f218-3d69-4d3b-be4d-cf618803c689.html" target="element"> QuantusGo </a> </td>
																		<td> <a href="../elements/a27aa33f-ec51-470f-b0da-03a05176a9ba.html" target="element"> v1/CompareProjects </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/49cf5a27-5476-4524-9a80-50246a7c2a51.html" target="element">  </a> </td>
																		<td> <a href="../elements/49cf5a27-5476-4524-9a80-50246a7c2a51.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/a0a9f218-3d69-4d3b-be4d-cf618803c689.html" target="element"> QuantusGo </a> </td>
																		<td> <a href="../elements/0ccb9f3b-0f72-4a70-a3b6-a8ad96167bd7.html" target="element"> Transform CSV To Json </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/90b728b0-9935-4172-8ce7-fb1c1d67d483.html" target="element">  </a> </td>
																		<td> <a href="../elements/90b728b0-9935-4172-8ce7-fb1c1d67d483.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/a0a9f218-3d69-4d3b-be4d-cf618803c689.html" target="element"> QuantusGo </a> </td>
																		<td> <a href="../elements/27246d49-e035-4b1a-b245-ad26aeb14608.html" target="element"> Transforms ProjectContext into changes for shi_project </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/ead905ba-855e-4c59-9671-cc153a80b45c.html" target="element">  </a> </td>
																				<td> <a href="../elements/ead905ba-855e-4c59-9671-cc153a80b45c.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/30ab3416-da9e-4fa9-a7ac-20888d894080.html" target="element"> v1/ConvertProjectCSV </a> </td>
																				<td> <a href="../elements/0ccb9f3b-0f72-4a70-a3b6-a8ad96167bd7.html" target="element"> Transform CSV To Json </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/9e2f64f4-3059-4036-8648-01a45384c846.html" target="element"> Response: project.json </a> </td>
																				<td> <a href="../elements/9e2f64f4-3059-4036-8648-01a45384c846.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/30ab3416-da9e-4fa9-a7ac-20888d894080.html" target="element"> v1/ConvertProjectCSV </a> </td>
																				<td> <a href="../elements/8bd7b52a-2251-456d-b146-25afb79046ec.html" target="element"> Convert project.csv to project_list.json </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/b66169c1-088f-46c2-872f-bd711882dbed.html" target="element">  </a> </td>
																				<td> <a href="../elements/b66169c1-088f-46c2-872f-bd711882dbed.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/a27aa33f-ec51-470f-b0da-03a05176a9ba.html" target="element"> v1/CompareProjects </a> </td>
																				<td> <a href="../elements/27246d49-e035-4b1a-b245-ad26aeb14608.html" target="element"> Transforms ProjectContext into changes for shi_project </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/0c5e269e-9c21-481e-8139-3ff43e340107.html" target="element"> Response: Changes to shi_project </a> </td>
																				<td> <a href="../elements/0c5e269e-9c21-481e-8139-3ff43e340107.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/a27aa33f-ec51-470f-b0da-03a05176a9ba.html" target="element"> v1/CompareProjects </a> </td>
																				<td> <a href="../elements/2d59894b-1ff3-4df8-b81d-012be486cd73.html" target="element"> Transform: ProjectContext </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>