<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>PEPPOL</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>PEPPOL</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/d8472bb4-9bf1-43c7-92f4-28772601af86.png" alt="PEPPOL" usemap="#d8472bb4-9bf1-43c7-92f4-28772601af86map">
			<map name="d8472bb4-9bf1-43c7-92f4-28772601af86map">
								<area shape="rect" coords="634,519,754,574" href="../elements/751e0ae2-f8e0-40b6-b3a7-dc8c3b852b51.html"  target="element">
								<area shape="rect" coords="634,447,754,502" href="../elements/2daf4513-d065-4a1b-9bb0-3e3b5f56fc18.html"  target="element">

						<area shape="rect" coords="634,399,754,604" href="../elements/b7c3a2e3-6982-451d-8a93-468a266e7994.html"  target="element">
						<area shape="rect" coords="634,759,754,814" href="../elements/58b565dc-f1b4-40ee-81ab-1c0d0126cb33.html"  target="element">
						<area shape="rect" coords="358,459,478,514" href="../elements/ee25cd18-0fdf-410b-90f6-328111c5cc9c.html"  target="element">
						<area shape="rect" coords="910,459,1030,514" href="../elements/87890ffe-01ec-4d47-af10-376582b371fd.html"  target="element">
						<area shape="rect" coords="10,243,130,298" href="../elements/03babf7b-9926-4be4-aa70-75c05ae689ad.html"  target="element">
						<area shape="rect" coords="106,51,226,106" href="../elements/5723f2c2-931a-4847-9c0b-3351fb82e353.html"  target="element">
						<area shape="rect" coords="202,243,322,298" href="../elements/980fa7a5-fe34-43b1-8978-2d1d138f356b.html"  target="element">
								<area shape="rect" coords="225,591,345,646" href="../elements/d2ec53b0-7ba9-4648-b530-1beee6c86501.html"  target="element">
								<area shape="rect" coords="225,651,345,706" href="../elements/b660ac74-d348-4600-9a50-9246a7d04d3d.html"  target="element">
								<area shape="rect" coords="225,711,345,766" href="../elements/9f721490-d0c1-4048-bf5f-089eb693538c.html"  target="element">

						<area shape="rect" coords="225,531,345,814" href="../elements/45cb398d-2c37-42c7-a55b-c27dc9f493c9.html"  target="element">
						<area shape="rect" coords="1090,51,1210,106" href="../elements/b2a1d9b0-339b-48c9-906a-c3d74edf361b.html"  target="element">
						<area shape="rect" coords="1090,243,1210,298" href="../elements/eac4504c-cc7d-4afe-83ed-4bd05d8c1b71.html"  target="element">
						<area shape="rect" coords="562,315,682,370" href="../elements/c4a1bbad-cbc1-42ed-899d-f6a84ee91742.html"  target="element">
								<area shape="rect" coords="562,210,682,265" href="../elements/7f83869c-809b-4a80-a42a-d7fe957a49be.html"  target="element">

						<area shape="rect" coords="562,150,682,283" href="../elements/b7f4be54-9c98-4a77-b262-3f6446fc9479.html"  target="element">
						<area shape="rect" coords="634,651,754,706" href="../elements/7e284db1-4506-4b31-a1b9-33754143883d.html"  target="element">
						<area shape="rect" coords="394,150,514,205" href="../elements/5917c80e-ec72-4ae6-a55f-bdb446415c8a.html"  target="element">
						<area shape="rect" coords="634,51,754,106" href="../elements/f1f3c48e-1c7a-4c0d-b108-0d44d771bdfd.html"  target="element">
						<area shape="rect" coords="274,51,394,106" href="../elements/ada80fe1-816d-4e7b-93cf-d43fff3a28e7.html"  target="element">
								<area shape="rect" coords="706,282,826,337" href="../elements/5faeaf09-a3b7-420e-9459-d7e0f329d839.html"  target="element">
								<area shape="rect" coords="706,210,826,265" href="../elements/7a4ea69b-473e-4d1d-a08a-7cab6a6e9752.html"  target="element">

						<area shape="rect" coords="706,150,826,382" href="../elements/cceef943-6df6-4fc8-b27d-28379dba5edc.html"  target="element">
						<area shape="rect" coords="874,150,994,205" href="../elements/358a3eaa-5f15-4f36-834a-48f5d106594f.html"  target="element">
						<area shape="rect" coords="106,399,226,454" href="../elements/8ebcfab4-9cce-4196-896f-c9c27207d1c4.html"  target="element">
						<area shape="rect" coords="1090,399,1210,454" href="../elements/bf956fca-a728-4e69-afce-1d9f006a64e6.html"  target="element">
						<area shape="rect" coords="393,255,513,310" href="../elements/326efc76-92a7-4ac6-b237-f5734d584ae0.html"  target="element">
						<area shape="rect" coords="394,327,514,382" href="../elements/f009cdc7-b364-45e8-9c95-7df5575613a9.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
					<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="elements">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
								</tr>
							</thead>
							<tbody>
										<tr><td> <a href="../elements/b7c3a2e3-6982-451d-8a93-468a266e7994.html" target="element"> PEPPOL BIS </a> </td><td class="i18n-elementtype-CommunicationNetwork"></td></tr>
												<tr><td> <a href="../elements/751e0ae2-f8e0-40b6-b3a7-dc8c3b852b51.html" target="element"> ELMA </a> </td><td class="i18n-elementtype-TechnologyFunction"></td></tr>
												<tr><td> <a href="../elements/2daf4513-d065-4a1b-9bb0-3e3b5f56fc18.html" target="element"> SML </a> </td><td class="i18n-elementtype-TechnologyFunction"></td></tr>
										
										<tr><td> <a href="../elements/58b565dc-f1b4-40ee-81ab-1c0d0126cb33.html" target="element"> DIFI </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
										<tr><td> <a href="../elements/ee25cd18-0fdf-410b-90f6-328111c5cc9c.html" target="element"> Aksesspunkt </a> </td><td class="i18n-elementtype-ApplicationInterface"></td></tr>
										<tr><td> <a href="../elements/87890ffe-01ec-4d47-af10-376582b371fd.html" target="element"> Aksesspunkt </a> </td><td class="i18n-elementtype-ApplicationInterface"></td></tr>
										<tr><td> <a href="../elements/03babf7b-9926-4be4-aa70-75c05ae689ad.html" target="element"> Regional innkj&#248;p og logistikk </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
										<tr><td> <a href="../elements/5723f2c2-931a-4847-9c0b-3351fb82e353.html" target="element"> Regionalt helseforetak </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
										<tr><td> <a href="../elements/980fa7a5-fe34-43b1-8978-2d1d138f356b.html" target="element"> Regional &#248;konomi og regnskap </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
										<tr><td> <a href="../elements/45cb398d-2c37-42c7-a55b-c27dc9f493c9.html" target="element"> Omr&#229;de for meldingsutveksling </a> </td><td class="i18n-elementtype-ApplicationCollaboration"></td></tr>
												<tr><td> <a href="../elements/d2ec53b0-7ba9-4648-b530-1beee6c86501.html" target="element"> Faktura og kreditnota </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
												<tr><td> <a href="../elements/b660ac74-d348-4600-9a50-9246a7d04d3d.html" target="element"> Katalog </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
												<tr><td> <a href="../elements/9f721490-d0c1-4048-bf5f-089eb693538c.html" target="element"> Bestilling </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
										
										<tr><td> <a href="../elements/b2a1d9b0-339b-48c9-906a-c3d74edf361b.html" target="element"> Leverand&#248;r </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
										<tr><td> <a href="../elements/eac4504c-cc7d-4afe-83ed-4bd05d8c1b71.html" target="element"> Kunde og ordrebehandling </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
										<tr><td> <a href="../elements/c4a1bbad-cbc1-42ed-899d-f6a84ee91742.html" target="element"> API </a> </td><td class="i18n-elementtype-ApplicationInterface"></td></tr>
										<tr><td> <a href="../elements/b7f4be54-9c98-4a77-b262-3f6446fc9479.html" target="element"> Nasjonal analyseplattform </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
												<tr><td> <a href="../elements/7f83869c-809b-4a80-a42a-d7fe957a49be.html" target="element"> Innkj&#248;psstatistikk </a> </td><td class="i18n-elementtype-Representation"></td></tr>
										
										<tr><td> <a href="../elements/7e284db1-4506-4b31-a1b9-33754143883d.html" target="element"> EHF 3.0 </a> </td><td class="i18n-elementtype-Requirement"></td></tr>
										<tr><td> <a href="../elements/5917c80e-ec72-4ae6-a55f-bdb446415c8a.html" target="element"> Regional innkj&#248;psanalyse </a> </td><td class="i18n-elementtype-BusinessInterface"></td></tr>
										<tr><td> <a href="../elements/f1f3c48e-1c7a-4c0d-b108-0d44d771bdfd.html" target="element"> Sykehusinnkj&#248;p HF </a> </td><td class="i18n-elementtype-BusinessActor"></td></tr>
										<tr><td> <a href="../elements/ada80fe1-816d-4e7b-93cf-d43fff3a28e7.html" target="element"> Databehandleravtale </a> </td><td class="i18n-elementtype-Contract"></td></tr>
										<tr><td> <a href="../elements/cceef943-6df6-4fc8-b27d-28379dba5edc.html" target="element"> Nasjonalt produktdatabase </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
												<tr><td> <a href="../elements/5faeaf09-a3b7-420e-9459-d7e0f329d839.html" target="element"> Avtalesortiment </a> </td><td class="i18n-elementtype-Representation"></td></tr>
												<tr><td> <a href="../elements/7a4ea69b-473e-4d1d-a08a-7cab6a6e9752.html" target="element"> Salgsstatistikk </a> </td><td class="i18n-elementtype-Representation"></td></tr>
										
										<tr><td> <a href="../elements/358a3eaa-5f15-4f36-834a-48f5d106594f.html" target="element"> Leverand&#248;rportal </a> </td><td class="i18n-elementtype-BusinessInterface"></td></tr>
										<tr><td> <a href="../elements/8ebcfab4-9cce-4196-896f-c9c27207d1c4.html" target="element"> ERP/ &#216;konomi </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
										<tr><td> <a href="../elements/bf956fca-a728-4e69-afce-1d9f006a64e6.html" target="element"> ERP/ CRM </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
										<tr><td> <a href="../elements/326efc76-92a7-4ac6-b237-f5734d584ae0.html" target="element"> API </a> </td><td class="i18n-elementtype-ApplicationInterface"></td></tr>
										<tr><td> <a href="../elements/f009cdc7-b364-45e8-9c95-7df5575613a9.html" target="element"> Integrasjon - EHF </a> </td><td class="i18n-elementtype-ApplicationCollaboration"></td></tr>

							</tbody>
						</table>
					</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>