<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Informasjonssikkerhet</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Informasjonssikkerhet</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/e934adbf-8828-45dd-81e6-81607450bb23.png" alt="Informasjonssikkerhet" usemap="#e934adbf-8828-45dd-81e6-81607450bb23map"/>
			   <map name="e934adbf-8828-45dd-81e6-81607450bb23map">
				  						<area shape="rect" coords="346,226,466,281" href="../elements/c6bbe989-8f8b-4339-8613-ec1a6e02769a.html"  target="element">
				  						<area shape="rect" coords="778,478,898,533" href="../elements/7fb28d7a-3451-417a-843f-ad5501fe56bc.html"  target="element">
				  						<area shape="rect" coords="634,478,754,533" href="../elements/86954af5-28c0-436b-8b5e-b6d181de8194.html"  target="element">
				  						<area shape="rect" coords="490,478,610,533" href="../elements/44d6bddf-5c30-4f8f-a7c1-0e99200beddc.html"  target="element">
				  						<area shape="rect" coords="346,478,466,533" href="../elements/7d69ecb0-b153-4884-8883-a3c5405f1aff.html"  target="element">
				  						<area shape="rect" coords="706,346,826,401" href="../elements/5f00ef9e-f037-4a3c-a0c3-519cb72102c6.html"  target="element">
				  						<area shape="rect" coords="490,346,610,401" href="../elements/e8610ed5-4778-4e5a-8693-f31828d80fa0.html"  target="element">
				  						<area shape="rect" coords="346,346,466,401" href="../elements/2f35f612-2a74-467f-9f4e-f6440e3a929e.html"  target="element">

				  				<area shape="rect" coords="298,178,935,563" href="../elements/da6b91e5-7f40-4cc9-9996-e6a017a4cce6.html"  target="element">
				  						<area shape="rect" coords="58,286,178,341" href="../elements/25e594da-4da1-41ef-a8eb-a17faec82e29.html"  target="element">
				  						<area shape="rect" coords="58,214,178,269" href="../elements/c9fe1205-8731-412a-978e-54d15f437870.html"  target="element">

				  				<area shape="rect" coords="34,178,275,563" href="../elements/ef7a6d49-e766-4196-9082-7f5461a69c7e.html"  target="element">

				  		<area shape="rect" coords="10,130,1031,779" href="../elements/6ff5ee63-3c67-4e6c-8d6f-4a551f5b096e.html"  target="element">
				  		<area shape="rect" coords="911,10,1031,65" href="../elements/a8da9eeb-aa1e-480a-bb0c-37442fc13391.html"  target="element">
				  		<area shape="rect" coords="10,10,130,65" href="../elements/d7ff1f49-bc63-4e93-8ed2-3cc312045337.html"  target="element">
				  		<area shape="rect" coords="622,10,742,65" href="../elements/426a6508-9787-45d8-838c-e0a6621dc7c2.html"  target="element">
				  		<area shape="rect" coords="766,10,886,65" href="../elements/5faee4a6-a6a3-473b-9e1a-83ef2f29237b.html"  target="element">
				  		<area shape="rect" coords="466,10,586,65" href="../elements/d328af27-5bf8-4486-a629-ff84240af353.html"  target="element">
				  		<area shape="rect" coords="310,10,430,65" href="../elements/c466d0bf-b5bd-426f-8b48-55c9ca03898c.html"  target="element">
				  		<area shape="rect" coords="154,10,274,65" href="../elements/861b6d9f-2c30-46aa-bbbf-0afa36ad9e2a.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/861b6d9f-2c30-46aa-bbbf-0afa36ad9e2a.html" target="element"> Personopplysninger informasjon p&#229; avveie </a> </td>
											    <td> <a href="../elements/861b6d9f-2c30-46aa-bbbf-0afa36ad9e2a.html" target="element" class="i18n-elementtype-Driver">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/c466d0bf-b5bd-426f-8b48-55c9ca03898c.html" target="element"> Forretningskritisk informasjon utigjengelig </a> </td>
											    <td> <a href="../elements/c466d0bf-b5bd-426f-8b48-55c9ca03898c.html" target="element" class="i18n-elementtype-Driver">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d328af27-5bf8-4486-a629-ff84240af353.html" target="element"> Virksomhetskritisk informasjon kompromitert </a> </td>
											    <td> <a href="../elements/d328af27-5bf8-4486-a629-ff84240af353.html" target="element" class="i18n-elementtype-Driver">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/5faee4a6-a6a3-473b-9e1a-83ef2f29237b.html" target="element"> Integritet </a> </td>
											    <td> <a href="../elements/5faee4a6-a6a3-473b-9e1a-83ef2f29237b.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/426a6508-9787-45d8-838c-e0a6621dc7c2.html" target="element"> Konfidensialitet </a> </td>
											    <td> <a href="../elements/426a6508-9787-45d8-838c-e0a6621dc7c2.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d7ff1f49-bc63-4e93-8ed2-3cc312045337.html" target="element"> Virksomhetssensitiv informasjon p&#229; avveie </a> </td>
											    <td> <a href="../elements/d7ff1f49-bc63-4e93-8ed2-3cc312045337.html" target="element" class="i18n-elementtype-Driver">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/a8da9eeb-aa1e-480a-bb0c-37442fc13391.html" target="element"> Tilgjengelighet </a> </td>
											    <td> <a href="../elements/a8da9eeb-aa1e-480a-bb0c-37442fc13391.html" target="element" class="i18n-elementtype-Goal">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6ff5ee63-3c67-4e6c-8d6f-4a551f5b096e.html" target="element"> Informasjonssikkerhetssystem </a> </td>
											    <td> <a href="../elements/6ff5ee63-3c67-4e6c-8d6f-4a551f5b096e.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/ef7a6d49-e766-4196-9082-7f5461a69c7e.html" target="element"> GDPR </a> </td>
													    <td> <a href="../elements/ef7a6d49-e766-4196-9082-7f5461a69c7e.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/c9fe1205-8731-412a-978e-54d15f437870.html" target="element"> Lov om behandling av personopplysninger </a> </td>
															    <td> <a href="../elements/c9fe1205-8731-412a-978e-54d15f437870.html" target="element" class="i18n-elementtype-Constraint">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/25e594da-4da1-41ef-a8eb-a17faec82e29.html" target="element"> Behandlingsprotokoll </a> </td>
															    <td> <a href="../elements/25e594da-4da1-41ef-a8eb-a17faec82e29.html" target="element" class="i18n-elementtype-Goal">
															    </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/da6b91e5-7f40-4cc9-9996-e6a017a4cce6.html" target="element"> ISO 27000 </a> </td>
													    <td> <a href="../elements/da6b91e5-7f40-4cc9-9996-e6a017a4cce6.html" target="element" class="i18n-elementtype-Grouping">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/2f35f612-2a74-467f-9f4e-f6440e3a929e.html" target="element"> Sikker identitet og tilgangsstyring </a> </td>
															    <td> <a href="../elements/2f35f612-2a74-467f-9f4e-f6440e3a929e.html" target="element" class="i18n-elementtype-Principle">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/e8610ed5-4778-4e5a-8693-f31828d80fa0.html" target="element"> P&#229;litelig informasjon </a> </td>
															    <td> <a href="../elements/e8610ed5-4778-4e5a-8693-f31828d80fa0.html" target="element" class="i18n-elementtype-Principle">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/5f00ef9e-f037-4a3c-a0c3-519cb72102c6.html" target="element"> Trygget for tilgang til infromasjon </a> </td>
															    <td> <a href="../elements/5f00ef9e-f037-4a3c-a0c3-519cb72102c6.html" target="element" class="i18n-elementtype-Principle">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/7d69ecb0-b153-4884-8883-a3c5405f1aff.html" target="element"> To-faktor autentisering </a> </td>
															    <td> <a href="../elements/7d69ecb0-b153-4884-8883-a3c5405f1aff.html" target="element" class="i18n-elementtype-Requirement">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/44d6bddf-5c30-4f8f-a7c1-0e99200beddc.html" target="element"> Endringssporing </a> </td>
															    <td> <a href="../elements/44d6bddf-5c30-4f8f-a7c1-0e99200beddc.html" target="element" class="i18n-elementtype-Requirement">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/86954af5-28c0-436b-8b5e-b6d181de8194.html" target="element"> Versjonskontroll </a> </td>
															    <td> <a href="../elements/86954af5-28c0-436b-8b5e-b6d181de8194.html" target="element" class="i18n-elementtype-Requirement">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/7fb28d7a-3451-417a-843f-ad5501fe56bc.html" target="element"> Redundans </a> </td>
															    <td> <a href="../elements/7fb28d7a-3451-417a-843f-ad5501fe56bc.html" target="element" class="i18n-elementtype-Requirement">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/c6bbe989-8f8b-4339-8613-ec1a6e02769a.html" target="element"> Risiko- og s&#229;rbarhetvurdering </a> </td>
															    <td> <a href="../elements/c6bbe989-8f8b-4339-8613-ec1a6e02769a.html" target="element" class="i18n-elementtype-Assessment">
															    </a> </td>
															</tr>

													
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/c78ea3b2-d85e-4f70-a6a8-d00fedd9b90e.html" target="element">  </a> </td>
																		<td> <a href="../elements/c78ea3b2-d85e-4f70-a6a8-d00fedd9b90e.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/861b6d9f-2c30-46aa-bbbf-0afa36ad9e2a.html" target="element"> Personopplysninger informasjon p&#229; avveie </a> </td>
																		<td> <a href="../elements/c6bbe989-8f8b-4339-8613-ec1a6e02769a.html" target="element"> Risiko- og s&#229;rbarhetvurdering </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/82c36148-8f2d-4d85-9db1-eee92150aacd.html" target="element">  </a> </td>
																		<td> <a href="../elements/82c36148-8f2d-4d85-9db1-eee92150aacd.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/c466d0bf-b5bd-426f-8b48-55c9ca03898c.html" target="element"> Forretningskritisk informasjon utigjengelig </a> </td>
																		<td> <a href="../elements/c6bbe989-8f8b-4339-8613-ec1a6e02769a.html" target="element"> Risiko- og s&#229;rbarhetvurdering </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/8f456c64-84f5-4e6f-b17c-e966fc397fc9.html" target="element">  </a> </td>
																		<td> <a href="../elements/8f456c64-84f5-4e6f-b17c-e966fc397fc9.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/d328af27-5bf8-4486-a629-ff84240af353.html" target="element"> Virksomhetskritisk informasjon kompromitert </a> </td>
																		<td> <a href="../elements/c6bbe989-8f8b-4339-8613-ec1a6e02769a.html" target="element"> Risiko- og s&#229;rbarhetvurdering </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/d2db1350-b53f-46e2-aa8d-3e9b2cd7ddd4.html" target="element">  </a> </td>
																		<td> <a href="../elements/d2db1350-b53f-46e2-aa8d-3e9b2cd7ddd4.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/5faee4a6-a6a3-473b-9e1a-83ef2f29237b.html" target="element"> Integritet </a> </td>
																		<td> <a href="../elements/c6bbe989-8f8b-4339-8613-ec1a6e02769a.html" target="element"> Risiko- og s&#229;rbarhetvurdering </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/cb49e2da-03cf-431a-9d26-180972f5a0bc.html" target="element">  </a> </td>
																		<td> <a href="../elements/cb49e2da-03cf-431a-9d26-180972f5a0bc.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/426a6508-9787-45d8-838c-e0a6621dc7c2.html" target="element"> Konfidensialitet </a> </td>
																		<td> <a href="../elements/c6bbe989-8f8b-4339-8613-ec1a6e02769a.html" target="element"> Risiko- og s&#229;rbarhetvurdering </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/4897775d-182f-481c-907d-199c211c6372.html" target="element">  </a> </td>
																		<td> <a href="../elements/4897775d-182f-481c-907d-199c211c6372.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/d7ff1f49-bc63-4e93-8ed2-3cc312045337.html" target="element"> Virksomhetssensitiv informasjon p&#229; avveie </a> </td>
																		<td> <a href="../elements/c6bbe989-8f8b-4339-8613-ec1a6e02769a.html" target="element"> Risiko- og s&#229;rbarhetvurdering </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/b1e4a313-fa7b-4d2f-a859-a0bedff71642.html" target="element">  </a> </td>
																		<td> <a href="../elements/b1e4a313-fa7b-4d2f-a859-a0bedff71642.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/6ff5ee63-3c67-4e6c-8d6f-4a551f5b096e.html" target="element"> Informasjonssikkerhetssystem </a> </td>
																		<td> <a href="../elements/ef7a6d49-e766-4196-9082-7f5461a69c7e.html" target="element"> GDPR </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/f2990ec7-05a4-4c0d-b29f-478f74869020.html" target="element">  </a> </td>
																		<td> <a href="../elements/f2990ec7-05a4-4c0d-b29f-478f74869020.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/6ff5ee63-3c67-4e6c-8d6f-4a551f5b096e.html" target="element"> Informasjonssikkerhetssystem </a> </td>
																		<td> <a href="../elements/da6b91e5-7f40-4cc9-9996-e6a017a4cce6.html" target="element"> ISO 27000 </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/cd17d89f-b186-4fa7-9ad6-71b74f07f477.html" target="element">  </a> </td>
																				<td> <a href="../elements/cd17d89f-b186-4fa7-9ad6-71b74f07f477.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/ef7a6d49-e766-4196-9082-7f5461a69c7e.html" target="element"> GDPR </a> </td>
																				<td> <a href="../elements/c9fe1205-8731-412a-978e-54d15f437870.html" target="element"> Lov om behandling av personopplysninger </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/d7867291-e450-420f-a0ec-fa89a53a936d.html" target="element">  </a> </td>
																				<td> <a href="../elements/d7867291-e450-420f-a0ec-fa89a53a936d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/ef7a6d49-e766-4196-9082-7f5461a69c7e.html" target="element"> GDPR </a> </td>
																				<td> <a href="../elements/25e594da-4da1-41ef-a8eb-a17faec82e29.html" target="element"> Behandlingsprotokoll </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/6ccd09fd-1064-43f3-a42e-4a72d2ae8a93.html" target="element">  </a> </td>
																						<td> <a href="../elements/6ccd09fd-1064-43f3-a42e-4a72d2ae8a93.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																						</a> </td>
																						<td> <a href="../elements/25e594da-4da1-41ef-a8eb-a17faec82e29.html" target="element"> Behandlingsprotokoll </a> </td>
																						<td> <a href="../elements/c6bbe989-8f8b-4339-8613-ec1a6e02769a.html" target="element"> Risiko- og s&#229;rbarhetvurdering </a> </td>
																					</tr>

													
																			<tr>
																				<td> <a href="../elements/8f5507d1-c3df-43eb-977d-043f81115f83.html" target="element">  </a> </td>
																				<td> <a href="../elements/8f5507d1-c3df-43eb-977d-043f81115f83.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/da6b91e5-7f40-4cc9-9996-e6a017a4cce6.html" target="element"> ISO 27000 </a> </td>
																				<td> <a href="../elements/2f35f612-2a74-467f-9f4e-f6440e3a929e.html" target="element"> Sikker identitet og tilgangsstyring </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/8d181560-0641-4059-9925-918703418faa.html" target="element">  </a> </td>
																				<td> <a href="../elements/8d181560-0641-4059-9925-918703418faa.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/da6b91e5-7f40-4cc9-9996-e6a017a4cce6.html" target="element"> ISO 27000 </a> </td>
																				<td> <a href="../elements/e8610ed5-4778-4e5a-8693-f31828d80fa0.html" target="element"> P&#229;litelig informasjon </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/cf5554de-ea6a-48a8-9b30-9e1919f63de3.html" target="element">  </a> </td>
																				<td> <a href="../elements/cf5554de-ea6a-48a8-9b30-9e1919f63de3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/da6b91e5-7f40-4cc9-9996-e6a017a4cce6.html" target="element"> ISO 27000 </a> </td>
																				<td> <a href="../elements/5f00ef9e-f037-4a3c-a0c3-519cb72102c6.html" target="element"> Trygget for tilgang til infromasjon </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/41517ab2-96b1-4689-8ba9-276ef4781691.html" target="element">  </a> </td>
																				<td> <a href="../elements/41517ab2-96b1-4689-8ba9-276ef4781691.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/da6b91e5-7f40-4cc9-9996-e6a017a4cce6.html" target="element"> ISO 27000 </a> </td>
																				<td> <a href="../elements/7d69ecb0-b153-4884-8883-a3c5405f1aff.html" target="element"> To-faktor autentisering </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/529b360b-c2a1-4f06-a8dd-54b2fc00a64b.html" target="element">  </a> </td>
																				<td> <a href="../elements/529b360b-c2a1-4f06-a8dd-54b2fc00a64b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/da6b91e5-7f40-4cc9-9996-e6a017a4cce6.html" target="element"> ISO 27000 </a> </td>
																				<td> <a href="../elements/44d6bddf-5c30-4f8f-a7c1-0e99200beddc.html" target="element"> Endringssporing </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/cb447909-3074-4ab3-a853-9eae30d495c4.html" target="element">  </a> </td>
																				<td> <a href="../elements/cb447909-3074-4ab3-a853-9eae30d495c4.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/da6b91e5-7f40-4cc9-9996-e6a017a4cce6.html" target="element"> ISO 27000 </a> </td>
																				<td> <a href="../elements/86954af5-28c0-436b-8b5e-b6d181de8194.html" target="element"> Versjonskontroll </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/ab0fbb1e-d58c-4750-96a9-5fcfec417b10.html" target="element">  </a> </td>
																				<td> <a href="../elements/ab0fbb1e-d58c-4750-96a9-5fcfec417b10.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/da6b91e5-7f40-4cc9-9996-e6a017a4cce6.html" target="element"> ISO 27000 </a> </td>
																				<td> <a href="../elements/7fb28d7a-3451-417a-843f-ad5501fe56bc.html" target="element"> Redundans </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/d7eabb25-f338-4fe0-adb2-951b8b800473.html" target="element">  </a> </td>
																				<td> <a href="../elements/d7eabb25-f338-4fe0-adb2-951b8b800473.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/da6b91e5-7f40-4cc9-9996-e6a017a4cce6.html" target="element"> ISO 27000 </a> </td>
																				<td> <a href="../elements/c6bbe989-8f8b-4339-8613-ec1a6e02769a.html" target="element"> Risiko- og s&#229;rbarhetvurdering </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/b3df9584-9d18-496e-8f07-40c904ae01f9.html" target="element">  </a> </td>
																						<td> <a href="../elements/b3df9584-9d18-496e-8f07-40c904ae01f9.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/7d69ecb0-b153-4884-8883-a3c5405f1aff.html" target="element"> To-faktor autentisering </a> </td>
																						<td> <a href="../elements/2f35f612-2a74-467f-9f4e-f6440e3a929e.html" target="element"> Sikker identitet og tilgangsstyring </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/705481ae-0332-4f30-9df3-b272949ccaca.html" target="element">  </a> </td>
																						<td> <a href="../elements/705481ae-0332-4f30-9df3-b272949ccaca.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/44d6bddf-5c30-4f8f-a7c1-0e99200beddc.html" target="element"> Endringssporing </a> </td>
																						<td> <a href="../elements/e8610ed5-4778-4e5a-8693-f31828d80fa0.html" target="element"> P&#229;litelig informasjon </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/f95514d2-9478-4417-bfa0-c0d6c500060f.html" target="element">  </a> </td>
																						<td> <a href="../elements/f95514d2-9478-4417-bfa0-c0d6c500060f.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/86954af5-28c0-436b-8b5e-b6d181de8194.html" target="element"> Versjonskontroll </a> </td>
																						<td> <a href="../elements/5f00ef9e-f037-4a3c-a0c3-519cb72102c6.html" target="element"> Trygget for tilgang til infromasjon </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/628b28b5-6bd3-4719-a551-0d3afe2941a3.html" target="element">  </a> </td>
																						<td> <a href="../elements/628b28b5-6bd3-4719-a551-0d3afe2941a3.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/86954af5-28c0-436b-8b5e-b6d181de8194.html" target="element"> Versjonskontroll </a> </td>
																						<td> <a href="../elements/e8610ed5-4778-4e5a-8693-f31828d80fa0.html" target="element"> P&#229;litelig informasjon </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/db6172cf-9883-4974-98f7-8dbab59f1828.html" target="element">  </a> </td>
																						<td> <a href="../elements/db6172cf-9883-4974-98f7-8dbab59f1828.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/7fb28d7a-3451-417a-843f-ad5501fe56bc.html" target="element"> Redundans </a> </td>
																						<td> <a href="../elements/5f00ef9e-f037-4a3c-a0c3-519cb72102c6.html" target="element"> Trygget for tilgang til infromasjon </a> </td>
																					</tr>

													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>