<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Anskaffelsemodell</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Anskaffelsemodell</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-elementtype-SketchModel"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-SketchModel" target="hint"></a>
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/e9b25100-bb3a-40ee-9530-ed479abb98a7.png" alt="Anskaffelsemodell" usemap="#e9b25100-bb3a-40ee-9530-ed479abb98a7map"/>
			   <map name="e9b25100-bb3a-40ee-9530-ed479abb98a7map">
				  		        <area shape="rect" coords="2146,46,2281,116" href="../objects/34b5f0da-395e-46f3-9b4a-21e718f3f96f.html" target="element" >

				          <area shape="rect" coords="2122,10,2431,201" href="../objects/ded4ba77-5ffc-4ae0-bd6d-b0bed6dac771.html" target="element" >
				          <area shape="rect" coords="1433,830,1568,900" href="../objects/ea3b21ac-afb0-45c8-bdbd-89c98eec137f.html" target="element" >
				          <area shape="rect" coords="1433,722,1568,792" href="../objects/dce1db0c-5d4e-4f84-8efc-50182a0e3eb4.html" target="element" >
				          <area shape="rect" coords="946,874,1346,1014" href="../objects/9b369b7b-b215-48e7-83c4-a7dbd1d82e00.html" target="element" >
				          <area shape="rect" coords="946,706,1346,846" href="../objects/2a268d5f-6c8c-4dc3-8ee9-ff506323be44.html" target="element" >
				  				        <area shape="rect" coords="1126,466,1261,536" href="../objects/133969eb-bfe7-4036-902a-cf4f39405de4.html" target="element" >
				  				        <area shape="rect" coords="982,550,1117,620" href="../objects/8288d1b2-4fa5-4b22-8e4a-7fd17316dec7.html" target="element" >
				  				        <area shape="rect" coords="982,466,1117,536" href="../objects/3634e933-6776-4e64-84b9-9eddc1f50a40.html" target="element" >

				  		        <area shape="rect" coords="970,394,1319,659" href="../objects/671900fe-d790-40a9-93ff-4a7d8328545d.html" target="element" >

				          <area shape="rect" coords="946,358,1881,682" href="../objects/e4ade4d9-5e3d-4266-a22f-9f23fd4ebcd3.html" target="element" >
				  				        <area shape="rect" coords="1126,118,1261,188" href="../objects/ba7909a3-7755-4c4b-a34f-b1407a6c62d8.html" target="element" >
				  				        <area shape="rect" coords="982,202,1117,272" href="../objects/7a51a7f6-a547-42ee-a28c-9166c5252be6.html" target="element" >
				  				        <area shape="rect" coords="982,118,1117,188" href="../objects/ea8ec1af-c4a9-4162-89e0-35d0fee8073e.html" target="element" >

				  		        <area shape="rect" coords="970,46,1319,311" href="../objects/3cfd12b3-70d4-4db7-9b92-f106b8cdf37d.html" target="element" >

				          <area shape="rect" coords="946,10,1882,334" href="../objects/da14cc61-f093-4ac0-a3e4-8184515a5bfc.html" target="element" >
				  								        <area shape="rect" coords="454,334,589,404" href="../objects/9411fb64-7e4d-40cc-a62d-7c34ed5a38e3.html" target="element" >

				  						        <area shape="rect" coords="418,310,601,404" href="../objects/757fb111-a8ab-4a62-b07b-629acdb3154b.html" target="element" >

				  				        <area shape="rect" coords="382,286,611,404" href="../objects/627cc082-28b2-4fc3-8491-75d18dee049c.html" target="element" >

				  		        <area shape="rect" coords="334,262,623,407" href="../objects/fc3eaa08-dfe0-49a4-86df-856f3cb6e4e6.html" target="element" >

				          <area shape="rect" coords="286,238,635,419" href="../objects/66439feb-f778-49bc-9282-29218306835c.html" target="element" >
				  						        <area shape="rect" coords="70,358,205,395" href="../objects/2b07ac83-3918-4c03-aa26-73b722902dda.html" target="element" >

				  				        <area shape="rect" coords="70,322,205,407" href="../objects/b3f7df95-fe88-4ed0-9173-c1ac69c1420a.html" target="element" >
				  				        <area shape="rect" coords="70,262,205,308" href="../objects/70a4f5eb-0b95-4c39-a1a6-7aca20550f7f.html" target="element" >

				  		        <area shape="rect" coords="22,238,215,431" href="../objects/9c3e6c21-7a48-4039-b773-9fa791f65bc9.html" target="element" >
				  		        <area shape="rect" coords="80,154,215,224" href="../objects/f86170d8-0a74-43c7-9e1f-7096bcd3f38e.html" target="element" >

				          <area shape="rect" coords="10,22,239,455" href="../objects/d5bbda8e-6014-4c84-9d1b-502d28391c58.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/d5bbda8e-6014-4c84-9d1b-502d28391c58.html" target="element"> Sticky </a> </td>
									           <td> <a href="../objects/d5bbda8e-6014-4c84-9d1b-502d28391c58.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/f86170d8-0a74-43c7-9e1f-7096bcd3f38e.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/f86170d8-0a74-43c7-9e1f-7096bcd3f38e.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/9c3e6c21-7a48-4039-b773-9fa791f65bc9.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/9c3e6c21-7a48-4039-b773-9fa791f65bc9.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/70a4f5eb-0b95-4c39-a1a6-7aca20550f7f.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/70a4f5eb-0b95-4c39-a1a6-7aca20550f7f.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/b3f7df95-fe88-4ed0-9173-c1ac69c1420a.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/b3f7df95-fe88-4ed0-9173-c1ac69c1420a.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

															        <tr>
															           <td> <a href="../objects/2b07ac83-3918-4c03-aa26-73b722902dda.html" target="element"> Sticky </a> </td>
															           <td> <a href="../objects/2b07ac83-3918-4c03-aa26-73b722902dda.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
															        </tr>

															
													
											
									        <tr>
									           <td> <a href="../objects/66439feb-f778-49bc-9282-29218306835c.html" target="element"> Sticky </a> </td>
									           <td> <a href="../objects/66439feb-f778-49bc-9282-29218306835c.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/fc3eaa08-dfe0-49a4-86df-856f3cb6e4e6.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/fc3eaa08-dfe0-49a4-86df-856f3cb6e4e6.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/627cc082-28b2-4fc3-8491-75d18dee049c.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/627cc082-28b2-4fc3-8491-75d18dee049c.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

															        <tr>
															           <td> <a href="../objects/757fb111-a8ab-4a62-b07b-629acdb3154b.html" target="element"> Sticky </a> </td>
															           <td> <a href="../objects/757fb111-a8ab-4a62-b07b-629acdb3154b.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
															        </tr>

																	        <tr>
																	           <td> <a href="../objects/9411fb64-7e4d-40cc-a62d-7c34ed5a38e3.html" target="element"> Sticky </a> </td>
																	           <td> <a href="../objects/9411fb64-7e4d-40cc-a62d-7c34ed5a38e3.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
																	        </tr>

																	
															
													
											
									        <tr>
									           <td> <a href="../objects/da14cc61-f093-4ac0-a3e4-8184515a5bfc.html" target="element"> Sticky </a> </td>
									           <td> <a href="../objects/da14cc61-f093-4ac0-a3e4-8184515a5bfc.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/3cfd12b3-70d4-4db7-9b92-f106b8cdf37d.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/3cfd12b3-70d4-4db7-9b92-f106b8cdf37d.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/ea8ec1af-c4a9-4162-89e0-35d0fee8073e.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/ea8ec1af-c4a9-4162-89e0-35d0fee8073e.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/7a51a7f6-a547-42ee-a28c-9166c5252be6.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/7a51a7f6-a547-42ee-a28c-9166c5252be6.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/ba7909a3-7755-4c4b-a34f-b1407a6c62d8.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/ba7909a3-7755-4c4b-a34f-b1407a6c62d8.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													
											
									        <tr>
									           <td> <a href="../objects/e4ade4d9-5e3d-4266-a22f-9f23fd4ebcd3.html" target="element"> Sticky </a> </td>
									           <td> <a href="../objects/e4ade4d9-5e3d-4266-a22f-9f23fd4ebcd3.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/671900fe-d790-40a9-93ff-4a7d8328545d.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/671900fe-d790-40a9-93ff-4a7d8328545d.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/3634e933-6776-4e64-84b9-9eddc1f50a40.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/3634e933-6776-4e64-84b9-9eddc1f50a40.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/8288d1b2-4fa5-4b22-8e4a-7fd17316dec7.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/8288d1b2-4fa5-4b22-8e4a-7fd17316dec7.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/133969eb-bfe7-4036-902a-cf4f39405de4.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/133969eb-bfe7-4036-902a-cf4f39405de4.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													
											
									        <tr>
									           <td> <a href="../objects/2a268d5f-6c8c-4dc3-8ee9-ff506323be44.html" target="element"> Anskaffelsesforskriften </a> </td>
									           <td> <a href="../objects/2a268d5f-6c8c-4dc3-8ee9-ff506323be44.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/9b369b7b-b215-48e7-83c4-a7dbd1d82e00.html" target="element"> Forsyningsforskriften </a> </td>
									           <td> <a href="../objects/9b369b7b-b215-48e7-83c4-a7dbd1d82e00.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/dce1db0c-5d4e-4f84-8efc-50182a0e3eb4.html" target="element"> Sticky </a> </td>
									           <td> <a href="../objects/dce1db0c-5d4e-4f84-8efc-50182a0e3eb4.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/ea3b21ac-afb0-45c8-bdbd-89c98eec137f.html" target="element"> Sticky </a> </td>
									           <td> <a href="../objects/ea3b21ac-afb0-45c8-bdbd-89c98eec137f.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/ded4ba77-5ffc-4ae0-bd6d-b0bed6dac771.html" target="element"> Sticky </a> </td>
									           <td> <a href="../objects/ded4ba77-5ffc-4ae0-bd6d-b0bed6dac771.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/34b5f0da-395e-46f3-9b4a-21e718f3f96f.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/34b5f0da-395e-46f3-9b4a-21e718f3f96f.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																			<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																	
															
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>