<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>ERP</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>ERP</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/fc99106c-ece7-4063-9ea7-4c0ef712dd35.png" alt="ERP" usemap="#fc99106c-ece7-4063-9ea7-4c0ef712dd35map"/>
			   <map name="fc99106c-ece7-4063-9ea7-4c0ef712dd35map">
				  		<area shape="rect" coords="1474,214,1594,269" href="../elements/id-23a01da4af9c46e083877e78ca3d5f9f.html"  target="element">
				  				<area shape="rect" coords="502,790,622,845" href="../elements/bf8c2e42-4907-45b7-ae08-fc5080fde102.html"  target="element">

				  		<area shape="rect" coords="250,730,875,863" href="../elements/b85aa636-812a-41cc-84b4-d0d6d43e321f.html"  target="element">
				  				<area shape="rect" coords="503,610,623,665" href="../elements/8998d6c3-0dfa-4d2b-b926-24b2f109fcf5.html"  target="element">
				  										<area shape="rect" coords="430,427,550,482" href="../elements/014f80d9-f230-4d3f-bd18-c30d64eb0edc.html"  target="element">

				  								<area shape="rect" coords="430,367,550,512" href="../elements/99eac88b-a6b1-4f86-a4d7-05d0c7229f3a.html"  target="element">

				  						<area shape="rect" coords="430,307,550,527" href="../elements/5c61322a-21f5-4145-8c46-34732653d9a9.html"  target="element">
				  										<area shape="rect" coords="574,427,694,482" href="../elements/26a1402a-098a-4572-8726-c2f00cc15915.html"  target="element">

				  								<area shape="rect" coords="574,367,694,512" href="../elements/bea42f40-5b5d-4e75-b104-0f0354d0ce45.html"  target="element">

				  						<area shape="rect" coords="574,307,694,527" href="../elements/4bf8197b-b595-4815-8d33-fdc804bf96cf.html"  target="element">
				  								<area shape="rect" coords="286,427,406,482" href="../elements/8b303111-4668-448d-a551-0687a18cb5a1.html"  target="element">
				  								<area shape="rect" coords="286,367,406,422" href="../elements/a3a50b77-f054-4712-b250-775897deee0b.html"  target="element">

				  						<area shape="rect" coords="286,307,406,527" href="../elements/754ce1f9-3811-46e9-8542-c3ac4016e71d.html"  target="element">
				  										<area shape="rect" coords="718,425,838,480" href="../elements/392ca6ce-ca3c-4876-aa1f-73a6b551ccba.html"  target="element">

				  								<area shape="rect" coords="718,365,838,510" href="../elements/6e40f1c9-fbdf-4bcc-9254-bb3e247357a8.html"  target="element">

				  						<area shape="rect" coords="718,305,838,527" href="../elements/11d58429-744f-4127-8cff-d01b3eefd455.html"  target="element">

				  				<area shape="rect" coords="274,274,851,587" href="../elements/99c42f73-0879-45f4-b2d1-e7be4eef4c4c.html"  target="element">

				  		<area shape="rect" coords="250,238,875,671" href="../elements/2d77e5cd-9dca-40e6-95d7-2a004e17f9d0.html"  target="element">
				  				<area shape="rect" coords="490,1018,610,1073" href="../elements/6387b051-b125-4dea-8f0c-2b05f93f404b.html"  target="element">
				  				<area shape="rect" coords="490,946,610,1001" href="../elements/11877366-c823-4249-8fc1-d8cdb484f8bb.html"  target="element">

				  		<area shape="rect" coords="466,922,635,1091" href="../elements/92f58b6c-de82-4bac-a1b9-24a9d40c3d27.html"  target="element">
				  				<area shape="rect" coords="970,586,1090,641" href="../elements/589db512-3e09-4ec9-9bf9-266dcda0614e.html"  target="element">
				  				<area shape="rect" coords="970,394,1090,449" href="../elements/948da9c3-b79f-44cd-9079-b31ba9113b00.html"  target="element">

				  		<area shape="rect" coords="946,238,1115,671" href="../elements/6dd308ca-0497-4c76-bedb-9c72f945007f.html"  target="element">
				  				<area shape="rect" coords="34,586,154,641" href="../elements/77189844-a3cc-43a9-bd1c-8c33171f20bd.html"  target="element">
				  				<area shape="rect" coords="34,394,154,449" href="../elements/a9320ff3-c473-400b-b8bf-cac995aba34e.html"  target="element">

				  		<area shape="rect" coords="10,238,179,671" href="../elements/c463ad6a-9507-4282-adbc-9aa5ebfb303e.html"  target="element">
				  				<area shape="rect" coords="490,106,610,161" href="../elements/13801545-6605-4936-91c5-c9f71cbd62f0.html"  target="element">
				  				<area shape="rect" coords="490,34,610,89" href="../elements/9f509bfa-57b3-4a77-80e8-20889389b931.html"  target="element">

				  		<area shape="rect" coords="250,10,875,179" href="../elements/8a0ca238-94c1-4cc7-a48c-8360b7577d82.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/8a0ca238-94c1-4cc7-a48c-8360b7577d82.html" target="element"> Regional ERP - Nord </a> </td>
											    <td> <a href="../elements/8a0ca238-94c1-4cc7-a48c-8360b7577d82.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/9f509bfa-57b3-4a77-80e8-20889389b931.html" target="element"> Clockwork </a> </td>
													    <td> <a href="../elements/9f509bfa-57b3-4a77-80e8-20889389b931.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/13801545-6605-4936-91c5-c9f71cbd62f0.html" target="element"> MRP.csv </a> </td>
													    <td> <a href="../elements/13801545-6605-4936-91c5-c9f71cbd62f0.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/c463ad6a-9507-4282-adbc-9aa5ebfb303e.html" target="element"> Regional ERP - Vest </a> </td>
											    <td> <a href="../elements/c463ad6a-9507-4282-adbc-9aa5ebfb303e.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/a9320ff3-c473-400b-b8bf-cac995aba34e.html" target="element"> SAP </a> </td>
													    <td> <a href="../elements/a9320ff3-c473-400b-b8bf-cac995aba34e.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/77189844-a3cc-43a9-bd1c-8c33171f20bd.html" target="element"> MRP.csv </a> </td>
													    <td> <a href="../elements/77189844-a3cc-43a9-bd1c-8c33171f20bd.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/6dd308ca-0497-4c76-bedb-9c72f945007f.html" target="element"> Regional ERP - Midt-Norge </a> </td>
											    <td> <a href="../elements/6dd308ca-0497-4c76-bedb-9c72f945007f.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/948da9c3-b79f-44cd-9079-b31ba9113b00.html" target="element"> SAP </a> </td>
													    <td> <a href="../elements/948da9c3-b79f-44cd-9079-b31ba9113b00.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/589db512-3e09-4ec9-9bf9-266dcda0614e.html" target="element"> MRP.csv </a> </td>
													    <td> <a href="../elements/589db512-3e09-4ec9-9bf9-266dcda0614e.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/92f58b6c-de82-4bac-a1b9-24a9d40c3d27.html" target="element"> Regional ERP - S&#248;r-&#248;st </a> </td>
											    <td> <a href="../elements/92f58b6c-de82-4bac-a1b9-24a9d40c3d27.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/11877366-c823-4249-8fc1-d8cdb484f8bb.html" target="element"> Oracle </a> </td>
													    <td> <a href="../elements/11877366-c823-4249-8fc1-d8cdb484f8bb.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/6387b051-b125-4dea-8f0c-2b05f93f404b.html" target="element"> MRP.csv </a> </td>
													    <td> <a href="../elements/6387b051-b125-4dea-8f0c-2b05f93f404b.html" target="element" class="i18n-elementtype-DataObject">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/2d77e5cd-9dca-40e6-95d7-2a004e17f9d0.html" target="element"> SHI - ERP </a> </td>
											    <td> <a href="../elements/2d77e5cd-9dca-40e6-95d7-2a004e17f9d0.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/99c42f73-0879-45f4-b2d1-e7be4eef4c4c.html" target="element"> AS.MS 365 Dynamics (sykehusinnkjop.no) </a> </td>
													    <td> <a href="../elements/99c42f73-0879-45f4-b2d1-e7be4eef4c4c.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/11d58429-744f-4127-8cff-d01b3eefd455.html" target="element"> Supply Chain Management </a> </td>
															    <td> <a href="../elements/11d58429-744f-4127-8cff-d01b3eefd455.html" target="element" class="i18n-elementtype-ApplicationFunction">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/6e40f1c9-fbdf-4bcc-9254-bb3e247357a8.html" target="element"> Purchase order </a> </td>
																	    <td> <a href="../elements/6e40f1c9-fbdf-4bcc-9254-bb3e247357a8.html" target="element" class="i18n-elementtype-DataObject">
																	    </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/392ca6ce-ca3c-4876-aa1f-73a6b551ccba.html" target="element"> Innkj&#248;psordre </a> </td>
																			    <td> <a href="../elements/392ca6ce-ca3c-4876-aa1f-73a6b551ccba.html" target="element" class="i18n-elementtype-Representation">
																			    </a> </td>
																			</tr>

																	
															
															<tr>
															    <td> <a href="../elements/754ce1f9-3811-46e9-8542-c3ac4016e71d.html" target="element"> Master planning </a> </td>
															    <td> <a href="../elements/754ce1f9-3811-46e9-8542-c3ac4016e71d.html" target="element" class="i18n-elementtype-ApplicationFunction">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/a3a50b77-f054-4712-b250-775897deee0b.html" target="element"> MRP/ MPS </a> </td>
																	    <td> <a href="../elements/a3a50b77-f054-4712-b250-775897deee0b.html" target="element" class="i18n-elementtype-DataObject">
																	    </a> </td>
																	</tr>

																	<tr>
																	    <td> <a href="../elements/8b303111-4668-448d-a551-0687a18cb5a1.html" target="element"> Budsjett </a> </td>
																	    <td> <a href="../elements/8b303111-4668-448d-a551-0687a18cb5a1.html" target="element" class="i18n-elementtype-BusinessObject">
																	    </a> </td>
																	</tr>

															
															<tr>
															    <td> <a href="../elements/4bf8197b-b595-4815-8d33-fdc804bf96cf.html" target="element"> Product information management </a> </td>
															    <td> <a href="../elements/4bf8197b-b595-4815-8d33-fdc804bf96cf.html" target="element" class="i18n-elementtype-ApplicationFunction">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/bea42f40-5b5d-4e75-b104-0f0354d0ce45.html" target="element"> Product cataloge </a> </td>
																	    <td> <a href="../elements/bea42f40-5b5d-4e75-b104-0f0354d0ce45.html" target="element" class="i18n-elementtype-DataObject">
																	    </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/26a1402a-098a-4572-8726-c2f00cc15915.html" target="element"> Sortiment </a> </td>
																			    <td> <a href="../elements/26a1402a-098a-4572-8726-c2f00cc15915.html" target="element" class="i18n-elementtype-Representation">
																			    </a> </td>
																			</tr>

																	
															
															<tr>
															    <td> <a href="../elements/5c61322a-21f5-4145-8c46-34732653d9a9.html" target="element"> Vendor management </a> </td>
															    <td> <a href="../elements/5c61322a-21f5-4145-8c46-34732653d9a9.html" target="element" class="i18n-elementtype-ApplicationFunction">
															    </a> </td>
															</tr>

																	<tr>
																	    <td> <a href="../elements/99eac88b-a6b1-4f86-a4d7-05d0c7229f3a.html" target="element"> Purchase agreement </a> </td>
																	    <td> <a href="../elements/99eac88b-a6b1-4f86-a4d7-05d0c7229f3a.html" target="element" class="i18n-elementtype-DataObject">
																	    </a> </td>
																	</tr>

																			<tr>
																			    <td> <a href="../elements/014f80d9-f230-4d3f-bd18-c30d64eb0edc.html" target="element"> Avtale </a> </td>
																			    <td> <a href="../elements/014f80d9-f230-4d3f-bd18-c30d64eb0edc.html" target="element" class="i18n-elementtype-Product">
																			    </a> </td>
																			</tr>

																	
															
													
													<tr>
													    <td> <a href="../elements/8998d6c3-0dfa-4d2b-b926-24b2f109fcf5.html" target="element"> Kontrakt </a> </td>
													    <td> <a href="../elements/8998d6c3-0dfa-4d2b-b926-24b2f109fcf5.html" target="element" class="i18n-elementtype-Contract">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/b85aa636-812a-41cc-84b4-d0d6d43e321f.html" target="element"> SHI - Master data services </a> </td>
											    <td> <a href="../elements/b85aa636-812a-41cc-84b4-d0d6d43e321f.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/bf8c2e42-4907-45b7-ae08-fc5080fde102.html" target="element"> Visma </a> </td>
													    <td> <a href="../elements/bf8c2e42-4907-45b7-ae08-fc5080fde102.html" target="element" class="i18n-elementtype-ApplicationService">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-23a01da4af9c46e083877e78ca3d5f9f.html" target="element"> Regional Innkj&#248;p og Logistikk (ERP) </a> </td>
											    <td> <a href="../elements/id-23a01da4af9c46e083877e78ca3d5f9f.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/e2cb2cab-c18b-4c88-94a7-9af645164e88.html" target="element">  </a> </td>
																		<td> <a href="../elements/e2cb2cab-c18b-4c88-94a7-9af645164e88.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/8a0ca238-94c1-4cc7-a48c-8360b7577d82.html" target="element"> Regional ERP - Nord </a> </td>
																		<td> <a href="../elements/13801545-6605-4936-91c5-c9f71cbd62f0.html" target="element"> MRP.csv </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/035e5838-4177-43dc-8c61-5df0ab473223.html" target="element">  </a> </td>
																		<td> <a href="../elements/035e5838-4177-43dc-8c61-5df0ab473223.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/8a0ca238-94c1-4cc7-a48c-8360b7577d82.html" target="element"> Regional ERP - Nord </a> </td>
																		<td> <a href="../elements/2d77e5cd-9dca-40e6-95d7-2a004e17f9d0.html" target="element"> SHI - ERP </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/c41d7116-51bf-44a2-a242-df2f9d888847.html" target="element">  </a> </td>
																				<td> <a href="../elements/c41d7116-51bf-44a2-a242-df2f9d888847.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/9f509bfa-57b3-4a77-80e8-20889389b931.html" target="element"> Clockwork </a> </td>
																				<td> <a href="../elements/8a0ca238-94c1-4cc7-a48c-8360b7577d82.html" target="element"> Regional ERP - Nord </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/94f86e50-cf3d-4845-9af0-beb2d94875e0.html" target="element">  </a> </td>
																				<td> <a href="../elements/94f86e50-cf3d-4845-9af0-beb2d94875e0.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/9f509bfa-57b3-4a77-80e8-20889389b931.html" target="element"> Clockwork </a> </td>
																				<td> <a href="../elements/13801545-6605-4936-91c5-c9f71cbd62f0.html" target="element"> MRP.csv </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/d38393c2-056e-45cf-98bf-2da623b15035.html" target="element">  </a> </td>
																		<td> <a href="../elements/d38393c2-056e-45cf-98bf-2da623b15035.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/c463ad6a-9507-4282-adbc-9aa5ebfb303e.html" target="element"> Regional ERP - Vest </a> </td>
																		<td> <a href="../elements/77189844-a3cc-43a9-bd1c-8c33171f20bd.html" target="element"> MRP.csv </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b6df3e15-3345-447f-8d46-eb10f0ff46e7.html" target="element">  </a> </td>
																		<td> <a href="../elements/b6df3e15-3345-447f-8d46-eb10f0ff46e7.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/c463ad6a-9507-4282-adbc-9aa5ebfb303e.html" target="element"> Regional ERP - Vest </a> </td>
																		<td> <a href="../elements/2d77e5cd-9dca-40e6-95d7-2a004e17f9d0.html" target="element"> SHI - ERP </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/9772a82b-b1cc-4543-b9f5-45d21ac0a897.html" target="element">  </a> </td>
																				<td> <a href="../elements/9772a82b-b1cc-4543-b9f5-45d21ac0a897.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/a9320ff3-c473-400b-b8bf-cac995aba34e.html" target="element"> SAP </a> </td>
																				<td> <a href="../elements/c463ad6a-9507-4282-adbc-9aa5ebfb303e.html" target="element"> Regional ERP - Vest </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/8e8a6cbd-0667-472b-8a5b-30edef666ba4.html" target="element">  </a> </td>
																				<td> <a href="../elements/8e8a6cbd-0667-472b-8a5b-30edef666ba4.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/a9320ff3-c473-400b-b8bf-cac995aba34e.html" target="element"> SAP </a> </td>
																				<td> <a href="../elements/77189844-a3cc-43a9-bd1c-8c33171f20bd.html" target="element"> MRP.csv </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/87830d0a-25f5-4f8a-af2e-256e586501b9.html" target="element">  </a> </td>
																		<td> <a href="../elements/87830d0a-25f5-4f8a-af2e-256e586501b9.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/6dd308ca-0497-4c76-bedb-9c72f945007f.html" target="element"> Regional ERP - Midt-Norge </a> </td>
																		<td> <a href="../elements/589db512-3e09-4ec9-9bf9-266dcda0614e.html" target="element"> MRP.csv </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/d35764c4-a3db-452c-ac71-d80367d1e538.html" target="element">  </a> </td>
																		<td> <a href="../elements/d35764c4-a3db-452c-ac71-d80367d1e538.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/6dd308ca-0497-4c76-bedb-9c72f945007f.html" target="element"> Regional ERP - Midt-Norge </a> </td>
																		<td> <a href="../elements/2d77e5cd-9dca-40e6-95d7-2a004e17f9d0.html" target="element"> SHI - ERP </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/d350e1e8-3f10-43d8-bc91-ca7784ccc5c0.html" target="element">  </a> </td>
																				<td> <a href="../elements/d350e1e8-3f10-43d8-bc91-ca7784ccc5c0.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/948da9c3-b79f-44cd-9079-b31ba9113b00.html" target="element"> SAP </a> </td>
																				<td> <a href="../elements/6dd308ca-0497-4c76-bedb-9c72f945007f.html" target="element"> Regional ERP - Midt-Norge </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/c13b79ca-78d0-44e0-a1c2-a51cc1a0ab4d.html" target="element">  </a> </td>
																				<td> <a href="../elements/c13b79ca-78d0-44e0-a1c2-a51cc1a0ab4d.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/948da9c3-b79f-44cd-9079-b31ba9113b00.html" target="element"> SAP </a> </td>
																				<td> <a href="../elements/589db512-3e09-4ec9-9bf9-266dcda0614e.html" target="element"> MRP.csv </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/c6924b4c-0b98-4147-ad93-ee6dcb9c030d.html" target="element">  </a> </td>
																		<td> <a href="../elements/c6924b4c-0b98-4147-ad93-ee6dcb9c030d.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/92f58b6c-de82-4bac-a1b9-24a9d40c3d27.html" target="element"> Regional ERP - S&#248;r-&#248;st </a> </td>
																		<td> <a href="../elements/6387b051-b125-4dea-8f0c-2b05f93f404b.html" target="element"> MRP.csv </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/691be84c-6625-4fa7-8bf9-ba85fe606438.html" target="element">  </a> </td>
																		<td> <a href="../elements/691be84c-6625-4fa7-8bf9-ba85fe606438.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/92f58b6c-de82-4bac-a1b9-24a9d40c3d27.html" target="element"> Regional ERP - S&#248;r-&#248;st </a> </td>
																		<td> <a href="../elements/2d77e5cd-9dca-40e6-95d7-2a004e17f9d0.html" target="element"> SHI - ERP </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/190112fa-0db2-475a-b9f4-92423397dbf2.html" target="element">  </a> </td>
																				<td> <a href="../elements/190112fa-0db2-475a-b9f4-92423397dbf2.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/11877366-c823-4249-8fc1-d8cdb484f8bb.html" target="element"> Oracle </a> </td>
																				<td> <a href="../elements/92f58b6c-de82-4bac-a1b9-24a9d40c3d27.html" target="element"> Regional ERP - S&#248;r-&#248;st </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/e37635be-7563-4fd6-8012-f7c30c398b51.html" target="element">  </a> </td>
																				<td> <a href="../elements/e37635be-7563-4fd6-8012-f7c30c398b51.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/11877366-c823-4249-8fc1-d8cdb484f8bb.html" target="element"> Oracle </a> </td>
																				<td> <a href="../elements/6387b051-b125-4dea-8f0c-2b05f93f404b.html" target="element"> MRP.csv </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/abdfbc17-e337-46e8-981b-ee9dec4c3cd3.html" target="element">  </a> </td>
																		<td> <a href="../elements/abdfbc17-e337-46e8-981b-ee9dec4c3cd3.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/2d77e5cd-9dca-40e6-95d7-2a004e17f9d0.html" target="element"> SHI - ERP </a> </td>
																		<td> <a href="../elements/a3a50b77-f054-4712-b250-775897deee0b.html" target="element"> MRP/ MPS </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/97879364-d6f1-4230-bc9c-0ab5312f9651.html" target="element">  </a> </td>
																		<td> <a href="../elements/97879364-d6f1-4230-bc9c-0ab5312f9651.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/2d77e5cd-9dca-40e6-95d7-2a004e17f9d0.html" target="element"> SHI - ERP </a> </td>
																		<td> <a href="../elements/26a1402a-098a-4572-8726-c2f00cc15915.html" target="element"> Sortiment </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/70049e49-cc76-4852-851c-e903ee0117f9.html" target="element">  </a> </td>
																		<td> <a href="../elements/70049e49-cc76-4852-851c-e903ee0117f9.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/2d77e5cd-9dca-40e6-95d7-2a004e17f9d0.html" target="element"> SHI - ERP </a> </td>
																		<td> <a href="../elements/8998d6c3-0dfa-4d2b-b926-24b2f109fcf5.html" target="element"> Kontrakt </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/b3f2b0e8-92c1-4338-8427-3829e0a4e042.html" target="element">  </a> </td>
																				<td> <a href="../elements/b3f2b0e8-92c1-4338-8427-3829e0a4e042.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/99c42f73-0879-45f4-b2d1-e7be4eef4c4c.html" target="element"> AS.MS 365 Dynamics (sykehusinnkjop.no) </a> </td>
																				<td> <a href="../elements/2d77e5cd-9dca-40e6-95d7-2a004e17f9d0.html" target="element"> SHI - ERP </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/c8c94d77-c989-4cb6-ab76-cdfda98509a3.html" target="element">  </a> </td>
																				<td> <a href="../elements/c8c94d77-c989-4cb6-ab76-cdfda98509a3.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/99c42f73-0879-45f4-b2d1-e7be4eef4c4c.html" target="element"> AS.MS 365 Dynamics (sykehusinnkjop.no) </a> </td>
																				<td> <a href="../elements/a3a50b77-f054-4712-b250-775897deee0b.html" target="element"> MRP/ MPS </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/245495ba-1781-492e-bff3-840012276820.html" target="element">  </a> </td>
																				<td> <a href="../elements/245495ba-1781-492e-bff3-840012276820.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/99c42f73-0879-45f4-b2d1-e7be4eef4c4c.html" target="element"> AS.MS 365 Dynamics (sykehusinnkjop.no) </a> </td>
																				<td> <a href="../elements/bea42f40-5b5d-4e75-b104-0f0354d0ce45.html" target="element"> Product cataloge </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/2903283a-1701-4d3b-ae6d-b99b07be831d.html" target="element">  </a> </td>
																				<td> <a href="../elements/2903283a-1701-4d3b-ae6d-b99b07be831d.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/99c42f73-0879-45f4-b2d1-e7be4eef4c4c.html" target="element"> AS.MS 365 Dynamics (sykehusinnkjop.no) </a> </td>
																				<td> <a href="../elements/26a1402a-098a-4572-8726-c2f00cc15915.html" target="element"> Sortiment </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/79fb84f8-59e4-4160-9c2d-a6a7dcc64fea.html" target="element">  </a> </td>
																				<td> <a href="../elements/79fb84f8-59e4-4160-9c2d-a6a7dcc64fea.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/99c42f73-0879-45f4-b2d1-e7be4eef4c4c.html" target="element"> AS.MS 365 Dynamics (sykehusinnkjop.no) </a> </td>
																				<td> <a href="../elements/99eac88b-a6b1-4f86-a4d7-05d0c7229f3a.html" target="element"> Purchase agreement </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/e15d9fb1-4198-47e4-b5c8-67a67eeaba69.html" target="element">  </a> </td>
																				<td> <a href="../elements/e15d9fb1-4198-47e4-b5c8-67a67eeaba69.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/99c42f73-0879-45f4-b2d1-e7be4eef4c4c.html" target="element"> AS.MS 365 Dynamics (sykehusinnkjop.no) </a> </td>
																				<td> <a href="../elements/8998d6c3-0dfa-4d2b-b926-24b2f109fcf5.html" target="element"> Kontrakt </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/9f320038-46bc-4ff5-b706-08a29ac1d64a.html" target="element">  </a> </td>
																						<td> <a href="../elements/9f320038-46bc-4ff5-b706-08a29ac1d64a.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/11d58429-744f-4127-8cff-d01b3eefd455.html" target="element"> Supply Chain Management </a> </td>
																						<td> <a href="../elements/6e40f1c9-fbdf-4bcc-9254-bb3e247357a8.html" target="element"> Purchase order </a> </td>
																					</tr>

																	
															
																					<tr>
																						<td> <a href="../elements/3c9b43e3-ba86-4766-bcba-a22149394035.html" target="element">  </a> </td>
																						<td> <a href="../elements/3c9b43e3-ba86-4766-bcba-a22149394035.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/754ce1f9-3811-46e9-8542-c3ac4016e71d.html" target="element"> Master planning </a> </td>
																						<td> <a href="../elements/99c42f73-0879-45f4-b2d1-e7be4eef4c4c.html" target="element"> AS.MS 365 Dynamics (sykehusinnkjop.no) </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/5ad90dc8-a380-4947-b95d-2d68ceaf2200.html" target="element">  </a> </td>
																						<td> <a href="../elements/5ad90dc8-a380-4947-b95d-2d68ceaf2200.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/754ce1f9-3811-46e9-8542-c3ac4016e71d.html" target="element"> Master planning </a> </td>
																						<td> <a href="../elements/a3a50b77-f054-4712-b250-775897deee0b.html" target="element"> MRP/ MPS </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/7ada0ebe-625e-488c-85b1-a0df5e1d8d41.html" target="element">  </a> </td>
																						<td> <a href="../elements/7ada0ebe-625e-488c-85b1-a0df5e1d8d41.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/754ce1f9-3811-46e9-8542-c3ac4016e71d.html" target="element"> Master planning </a> </td>
																						<td> <a href="../elements/8b303111-4668-448d-a551-0687a18cb5a1.html" target="element"> Budsjett </a> </td>
																					</tr>

															
																					<tr>
																						<td> <a href="../elements/f90fd914-ce64-487d-a768-6ca632f43e9a.html" target="element">  </a> </td>
																						<td> <a href="../elements/f90fd914-ce64-487d-a768-6ca632f43e9a.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/4bf8197b-b595-4815-8d33-fdc804bf96cf.html" target="element"> Product information management </a> </td>
																						<td> <a href="../elements/99c42f73-0879-45f4-b2d1-e7be4eef4c4c.html" target="element"> AS.MS 365 Dynamics (sykehusinnkjop.no) </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/254a780b-3bd9-4422-8cb8-f618254aa637.html" target="element">  </a> </td>
																						<td> <a href="../elements/254a780b-3bd9-4422-8cb8-f618254aa637.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/4bf8197b-b595-4815-8d33-fdc804bf96cf.html" target="element"> Product information management </a> </td>
																						<td> <a href="../elements/bea42f40-5b5d-4e75-b104-0f0354d0ce45.html" target="element"> Product cataloge </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/71690a7f-7929-4293-8a86-a45b0d8e7d22.html" target="element">  </a> </td>
																						<td> <a href="../elements/71690a7f-7929-4293-8a86-a45b0d8e7d22.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/4bf8197b-b595-4815-8d33-fdc804bf96cf.html" target="element"> Product information management </a> </td>
																						<td> <a href="../elements/26a1402a-098a-4572-8726-c2f00cc15915.html" target="element"> Sortiment </a> </td>
																					</tr>

																							<tr>
																								<td> <a href="../elements/e6d47852-d1c2-4917-998c-9e47323e7c6f.html" target="element">  </a> </td>
																								<td> <a href="../elements/e6d47852-d1c2-4917-998c-9e47323e7c6f.html" target="element" class="i18n-elementtype-AssociationRelationship">
																								</a> </td>
																								<td> <a href="../elements/bea42f40-5b5d-4e75-b104-0f0354d0ce45.html" target="element"> Product cataloge </a> </td>
																								<td> <a href="../elements/26a1402a-098a-4572-8726-c2f00cc15915.html" target="element"> Sortiment </a> </td>
																							</tr>

																									<tr>
																										<td> <a href="../elements/963e6448-31a8-4b4d-9db7-152c753616cc.html" target="element">  </a> </td>
																										<td> <a href="../elements/963e6448-31a8-4b4d-9db7-152c753616cc.html" target="element" class="i18n-elementtype-RealizationRelationship">
																										</a> </td>
																										<td> <a href="../elements/26a1402a-098a-4572-8726-c2f00cc15915.html" target="element"> Sortiment </a> </td>
																										<td> <a href="../elements/8998d6c3-0dfa-4d2b-b926-24b2f109fcf5.html" target="element"> Kontrakt </a> </td>
																									</tr>

																	
															
																					<tr>
																						<td> <a href="../elements/420a7b79-9170-45d9-a63f-822146aa97b5.html" target="element">  </a> </td>
																						<td> <a href="../elements/420a7b79-9170-45d9-a63f-822146aa97b5.html" target="element" class="i18n-elementtype-RealizationRelationship">
																						</a> </td>
																						<td> <a href="../elements/5c61322a-21f5-4145-8c46-34732653d9a9.html" target="element"> Vendor management </a> </td>
																						<td> <a href="../elements/99c42f73-0879-45f4-b2d1-e7be4eef4c4c.html" target="element"> AS.MS 365 Dynamics (sykehusinnkjop.no) </a> </td>
																					</tr>
																					<tr>
																						<td> <a href="../elements/554bf2d3-edc7-4831-8ae9-80b5f0d3f4d9.html" target="element">  </a> </td>
																						<td> <a href="../elements/554bf2d3-edc7-4831-8ae9-80b5f0d3f4d9.html" target="element" class="i18n-elementtype-AccessRelationship">
																						</a> </td>
																						<td> <a href="../elements/5c61322a-21f5-4145-8c46-34732653d9a9.html" target="element"> Vendor management </a> </td>
																						<td> <a href="../elements/99eac88b-a6b1-4f86-a4d7-05d0c7229f3a.html" target="element"> Purchase agreement </a> </td>
																					</tr>

																							<tr>
																								<td> <a href="../elements/8a5035b6-f8cc-4373-b5ee-0610a7a4560f.html" target="element">  </a> </td>
																								<td> <a href="../elements/8a5035b6-f8cc-4373-b5ee-0610a7a4560f.html" target="element" class="i18n-elementtype-RealizationRelationship">
																								</a> </td>
																								<td> <a href="../elements/99eac88b-a6b1-4f86-a4d7-05d0c7229f3a.html" target="element"> Purchase agreement </a> </td>
																								<td> <a href="../elements/8998d6c3-0dfa-4d2b-b926-24b2f109fcf5.html" target="element"> Kontrakt </a> </td>
																							</tr>

																									<tr>
																										<td> <a href="../elements/10dd54c1-370b-41d4-b7e0-8c9468b98879.html" target="element">  </a> </td>
																										<td> <a href="../elements/10dd54c1-370b-41d4-b7e0-8c9468b98879.html" target="element" class="i18n-elementtype-AggregationRelationship">
																										</a> </td>
																										<td> <a href="../elements/014f80d9-f230-4d3f-bd18-c30d64eb0edc.html" target="element"> Avtale </a> </td>
																										<td> <a href="../elements/26a1402a-098a-4572-8726-c2f00cc15915.html" target="element"> Sortiment </a> </td>
																									</tr>
																									<tr>
																										<td> <a href="../elements/68686ac5-48c6-4e68-96e5-fe037f0d14a5.html" target="element">  </a> </td>
																										<td> <a href="../elements/68686ac5-48c6-4e68-96e5-fe037f0d14a5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																										</a> </td>
																										<td> <a href="../elements/014f80d9-f230-4d3f-bd18-c30d64eb0edc.html" target="element"> Avtale </a> </td>
																										<td> <a href="../elements/8998d6c3-0dfa-4d2b-b926-24b2f109fcf5.html" target="element"> Kontrakt </a> </td>
																									</tr>
																									<tr>
																										<td> <a href="../elements/96384b1b-0144-496a-b9c1-c057f8f71788.html" target="element">  </a> </td>
																										<td> <a href="../elements/96384b1b-0144-496a-b9c1-c057f8f71788.html" target="element" class="i18n-elementtype-CompositionRelationship">
																										</a> </td>
																										<td> <a href="../elements/014f80d9-f230-4d3f-bd18-c30d64eb0edc.html" target="element"> Avtale </a> </td>
																										<td> <a href="../elements/2d77e5cd-9dca-40e6-95d7-2a004e17f9d0.html" target="element"> SHI - ERP </a> </td>
																									</tr>
																									<tr>
																										<td> <a href="../elements/2b1a07da-daa9-4a3e-8215-649b6531d6ec.html" target="element">  </a> </td>
																										<td> <a href="../elements/2b1a07da-daa9-4a3e-8215-649b6531d6ec.html" target="element" class="i18n-elementtype-CompositionRelationship">
																										</a> </td>
																										<td> <a href="../elements/014f80d9-f230-4d3f-bd18-c30d64eb0edc.html" target="element"> Avtale </a> </td>
																										<td> <a href="../elements/99eac88b-a6b1-4f86-a4d7-05d0c7229f3a.html" target="element"> Purchase agreement </a> </td>
																									</tr>

																	
															
													
											
																			<tr>
																				<td> <a href="../elements/1a49b483-ae8c-427a-bbe7-589b96ca17a2.html" target="element">  </a> </td>
																				<td> <a href="../elements/1a49b483-ae8c-427a-bbe7-589b96ca17a2.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/bf8c2e42-4907-45b7-ae08-fc5080fde102.html" target="element"> Visma </a> </td>
																				<td> <a href="../elements/77189844-a3cc-43a9-bd1c-8c33171f20bd.html" target="element"> MRP.csv </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/dd694d5b-217a-4dce-bc37-59498d32bb8c.html" target="element">  </a> </td>
																				<td> <a href="../elements/dd694d5b-217a-4dce-bc37-59498d32bb8c.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/bf8c2e42-4907-45b7-ae08-fc5080fde102.html" target="element"> Visma </a> </td>
																				<td> <a href="../elements/13801545-6605-4936-91c5-c9f71cbd62f0.html" target="element"> MRP.csv </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/bc673feb-ab32-4a7c-900b-cef31305d4f6.html" target="element">  </a> </td>
																				<td> <a href="../elements/bc673feb-ab32-4a7c-900b-cef31305d4f6.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/bf8c2e42-4907-45b7-ae08-fc5080fde102.html" target="element"> Visma </a> </td>
																				<td> <a href="../elements/589db512-3e09-4ec9-9bf9-266dcda0614e.html" target="element"> MRP.csv </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/05fed78b-7569-4326-b604-96a01bec0cfc.html" target="element">  </a> </td>
																				<td> <a href="../elements/05fed78b-7569-4326-b604-96a01bec0cfc.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/bf8c2e42-4907-45b7-ae08-fc5080fde102.html" target="element"> Visma </a> </td>
																				<td> <a href="../elements/6387b051-b125-4dea-8f0c-2b05f93f404b.html" target="element"> MRP.csv </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/9e3d4f2d-04d8-474b-98ed-ec4d38a21305.html" target="element">  </a> </td>
																				<td> <a href="../elements/9e3d4f2d-04d8-474b-98ed-ec4d38a21305.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/bf8c2e42-4907-45b7-ae08-fc5080fde102.html" target="element"> Visma </a> </td>
																				<td> <a href="../elements/a3a50b77-f054-4712-b250-775897deee0b.html" target="element"> MRP/ MPS </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/f4ba9b99-f3f5-44b6-83c9-441a81f99922.html" target="element">  </a> </td>
																				<td> <a href="../elements/f4ba9b99-f3f5-44b6-83c9-441a81f99922.html" target="element" class="i18n-elementtype-RealizationRelationship">
																				</a> </td>
																				<td> <a href="../elements/bf8c2e42-4907-45b7-ae08-fc5080fde102.html" target="element"> Visma </a> </td>
																				<td> <a href="../elements/b85aa636-812a-41cc-84b4-d0d6d43e321f.html" target="element"> SHI - Master data services </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-5fde2ea1547f438bb4ffc246ecd4d2bd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5fde2ea1547f438bb4ffc246ecd4d2bd.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-23a01da4af9c46e083877e78ca3d5f9f.html" target="element"> Regional Innkj&#248;p og Logistikk (ERP) </a> </td>
																		<td> <a href="../elements/6dd308ca-0497-4c76-bedb-9c72f945007f.html" target="element"> Regional ERP - Midt-Norge </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7bfe98fac5db414f8385735212dfda1c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7bfe98fac5db414f8385735212dfda1c.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-23a01da4af9c46e083877e78ca3d5f9f.html" target="element"> Regional Innkj&#248;p og Logistikk (ERP) </a> </td>
																		<td> <a href="../elements/8a0ca238-94c1-4cc7-a48c-8360b7577d82.html" target="element"> Regional ERP - Nord </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-441164a5d6ac4c0493a7b94113232c90.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-441164a5d6ac4c0493a7b94113232c90.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-23a01da4af9c46e083877e78ca3d5f9f.html" target="element"> Regional Innkj&#248;p og Logistikk (ERP) </a> </td>
																		<td> <a href="../elements/92f58b6c-de82-4bac-a1b9-24a9d40c3d27.html" target="element"> Regional ERP - S&#248;r-&#248;st </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6615f04d072943329ffbf26cc5473369.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6615f04d072943329ffbf26cc5473369.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-23a01da4af9c46e083877e78ca3d5f9f.html" target="element"> Regional Innkj&#248;p og Logistikk (ERP) </a> </td>
																		<td> <a href="../elements/c463ad6a-9507-4282-adbc-9aa5ebfb303e.html" target="element"> Regional ERP - Vest </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>