<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>ERP</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>ERP</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/fc99106c-ece7-4063-9ea7-4c0ef712dd35.png" alt="ERP" usemap="#fc99106c-ece7-4063-9ea7-4c0ef712dd35map">
			<map name="fc99106c-ece7-4063-9ea7-4c0ef712dd35map">
								<area shape="rect" coords="778,34,898,89" href="../elements/9f509bfa-57b3-4a77-80e8-20889389b931.html"  target="element">
								<area shape="rect" coords="778,106,898,161" href="../elements/13801545-6605-4936-91c5-c9f71cbd62f0.html"  target="element">

						<area shape="rect" coords="754,10,923,179" href="../elements/8a0ca238-94c1-4cc7-a48c-8360b7577d82.html"  target="element">
								<area shape="rect" coords="310,370,430,425" href="../elements/a9320ff3-c473-400b-b8bf-cac995aba34e.html"  target="element">
								<area shape="rect" coords="310,442,430,497" href="../elements/77189844-a3cc-43a9-bd1c-8c33171f20bd.html"  target="element">

						<area shape="rect" coords="286,346,455,515" href="../elements/c463ad6a-9507-4282-adbc-9aa5ebfb303e.html"  target="element">
								<area shape="rect" coords="1270,370,1390,425" href="../elements/948da9c3-b79f-44cd-9079-b31ba9113b00.html"  target="element">
								<area shape="rect" coords="1270,442,1390,497" href="../elements/589db512-3e09-4ec9-9bf9-266dcda0614e.html"  target="element">

						<area shape="rect" coords="1246,346,1415,515" href="../elements/6dd308ca-0497-4c76-bedb-9c72f945007f.html"  target="element">
								<area shape="rect" coords="778,730,898,785" href="../elements/11877366-c823-4249-8fc1-d8cdb484f8bb.html"  target="element">
								<area shape="rect" coords="778,802,898,857" href="../elements/6387b051-b125-4dea-8f0c-2b05f93f404b.html"  target="element">

						<area shape="rect" coords="754,706,923,875" href="../elements/92f58b6c-de82-4bac-a1b9-24a9d40c3d27.html"  target="element">
										<area shape="rect" coords="778,322,898,377" href="../elements/11d58429-744f-4127-8cff-d01b3eefd455.html"  target="element">

								<area shape="rect" coords="778,286,898,383" href="../elements/99c42f73-0879-45f4-b2d1-e7be4eef4c4c.html"  target="element">
								<area shape="rect" coords="778,406,898,461" href="../elements/a3a50b77-f054-4712-b250-775897deee0b.html"  target="element">

						<area shape="rect" coords="754,262,923,491" href="../elements/2d77e5cd-9dca-40e6-95d7-2a004e17f9d0.html"  target="element">
								<area shape="rect" coords="334,70,454,191" href="../elements/0c4e7744-86e4-4dc1-86f6-f8316f2a45db.html"  target="element">

						<area shape="rect" coords="286,10,507,215" href="../elements/1632bff2-89ab-43a9-ba2e-e1281be3d9fa.html"  target="element">
								<area shape="rect" coords="779,598,899,653" href="../elements/bf8c2e42-4907-45b7-ae08-fc5080fde102.html"  target="element">

						<area shape="rect" coords="779,538,899,671" href="../elements/b85aa636-812a-41cc-84b4-d0d6d43e321f.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
					<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="elements">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
								</tr>
							</thead>
							<tbody>
										<tr><td> <a href="../elements/8a0ca238-94c1-4cc7-a48c-8360b7577d82.html" target="element"> Regional ERP - Nord </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
												<tr><td> <a href="../elements/9f509bfa-57b3-4a77-80e8-20889389b931.html" target="element"> Clockwork </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
												<tr><td> <a href="../elements/13801545-6605-4936-91c5-c9f71cbd62f0.html" target="element"> MRP.csv </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
										
										<tr><td> <a href="../elements/c463ad6a-9507-4282-adbc-9aa5ebfb303e.html" target="element"> Regional ERP - Vest </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
												<tr><td> <a href="../elements/a9320ff3-c473-400b-b8bf-cac995aba34e.html" target="element"> SAP </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
												<tr><td> <a href="../elements/77189844-a3cc-43a9-bd1c-8c33171f20bd.html" target="element"> MRP.csv </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
										
										<tr><td> <a href="../elements/6dd308ca-0497-4c76-bedb-9c72f945007f.html" target="element"> Regional ERP - Midt-Norge </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
												<tr><td> <a href="../elements/948da9c3-b79f-44cd-9079-b31ba9113b00.html" target="element"> SAP </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
												<tr><td> <a href="../elements/589db512-3e09-4ec9-9bf9-266dcda0614e.html" target="element"> MRP.csv </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
										
										<tr><td> <a href="../elements/92f58b6c-de82-4bac-a1b9-24a9d40c3d27.html" target="element"> Regional ERP - S&#248;r-&#248;st </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
												<tr><td> <a href="../elements/11877366-c823-4249-8fc1-d8cdb484f8bb.html" target="element"> Oracle </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
												<tr><td> <a href="../elements/6387b051-b125-4dea-8f0c-2b05f93f404b.html" target="element"> MRP.csv </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
										
										<tr><td> <a href="../elements/2d77e5cd-9dca-40e6-95d7-2a004e17f9d0.html" target="element"> SHI - ERP </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
												<tr><td> <a href="../elements/99c42f73-0879-45f4-b2d1-e7be4eef4c4c.html" target="element"> Dynamics 365 </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
														<tr><td> <a href="../elements/11d58429-744f-4127-8cff-d01b3eefd455.html" target="element"> Supply Chain Management </a> </td><td class="i18n-elementtype-ApplicationFunction"></td></tr>
												
												<tr><td> <a href="../elements/a3a50b77-f054-4712-b250-775897deee0b.html" target="element"> MRP/ MPS </a> </td><td class="i18n-elementtype-DataObject"></td></tr>
										
										<tr><td> <a href="../elements/1632bff2-89ab-43a9-ba2e-e1281be3d9fa.html" target="element"> MRP/ MPS </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												<tr><td> <a href="../elements/0c4e7744-86e4-4dc1-86f6-f8316f2a45db.html" target="element"> https://docs.microsoft.com/nb-no/dynamics365/business-central/production-how-to-run-mps-and-mrp </a> </td><td class="i18n-elementtype-WorkPackage"></td></tr>
										
										<tr><td> <a href="../elements/b85aa636-812a-41cc-84b4-d0d6d43e321f.html" target="element"> SHI - Master data services </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
												<tr><td> <a href="../elements/bf8c2e42-4907-45b7-ae08-fc5080fde102.html" target="element"> Power Automate </a> </td><td class="i18n-elementtype-ApplicationService"></td></tr>
										
										<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->	
										<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->	
										<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelNote -->	

							</tbody>
						</table>
					</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>