<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>IA.Roles</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>IA.Roles</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-elementtype-SketchModel"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-SketchModel" target="hint"></a>
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-215e21fe17aa4dbd806fa42cbe95b3fb.png" alt="IA.Roles" usemap="#id-215e21fe17aa4dbd806fa42cbe95b3fbmap"/>
			   <map name="id-215e21fe17aa4dbd806fa42cbe95b3fbmap">
				  				        <area shape="rect" coords="914,562,989,662" href="../objects/id-d4441d0830db4065974f0b2fdae0a5ee.html" target="element" >
				  				        <area shape="rect" coords="794,562,869,662" href="../objects/id-7123a2898666462b95f4a622c17646cb.html" target="element" >

				  		        <area shape="rect" coords="746,526,1011,683" href="../objects/id-43fe0f67bb2546f280f5adacda820789.html" target="element" >

				          <area shape="rect" coords="674,454,1303,779" href="../objects/id-cac225661c474f90b6ac926a0749ef6b.html" target="element" >
				  				        <area shape="rect" coords="406,562,481,662" href="../objects/id-14055ea7bb75445e97c9610d6dd334e8.html" target="element" >
				  				        <area shape="rect" coords="286,562,361,662" href="../objects/id-c573f178310e4f958034f9f6a771339f.html" target="element" >

				  		        <area shape="rect" coords="238,526,503,683" href="../objects/id-fda61ad870e14502b7b75a375071bbe3.html" target="element" >

				          <area shape="rect" coords="10,454,639,779" href="../objects/id-85f7913b12464aa58ddc157cb837ee52.html" target="element" >
				  		        <area shape="rect" coords="578,58,735,95" href="../objects/id-4a51ec9c4f3240d9846fec380ea87285.html" target="element" >
				  				        <area shape="rect" coords="518,286,593,386" href="../objects/id-0e9d7d81417a4ab9a9098396a4598ec7.html" target="element" >

				  		        <area shape="rect" coords="470,250,735,407" href="../objects/id-375ce27e49554399b494ccbfecec5249.html" target="element" >
				  				        <area shape="rect" coords="134,286,209,386" href="../objects/id-cfd8e709ed1d452cbfdf5c666712d7e2.html" target="element" >

				  		        <area shape="rect" coords="86,250,351,407" href="../objects/id-68ea24a576c24948ad3d72b901ade664.html" target="element" >
				  				        <area shape="rect" coords="230,94,305,194" href="../objects/id-fcc7076685574d63bb4f58d1dcc8f8b1.html" target="element" >

				  		        <area shape="rect" coords="182,46,447,203" href="../objects/id-396db3fe99a247c4964413b13b66ed57.html" target="element" >

				          <area shape="rect" coords="14,10,1191,431" href="../objects/id-7b38d39ec95946cab36dbb5c36cbb002.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-7b38d39ec95946cab36dbb5c36cbb002.html" target="element"> AAD Security Group </a> </td>
									           <td> <a href="../objects/id-7b38d39ec95946cab36dbb5c36cbb002.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-396db3fe99a247c4964413b13b66ed57.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/id-396db3fe99a247c4964413b13b66ed57.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-fcc7076685574d63bb4f58d1dcc8f8b1.html" target="element"> Leder.avd.XX </a> </td>
													           <td> <a href="../objects/id-fcc7076685574d63bb4f58d1dcc8f8b1.html" target="element" class="i18n-elementtype-SketchModelActor"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-68ea24a576c24948ad3d72b901ade664.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/id-68ea24a576c24948ad3d72b901ade664.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-cfd8e709ed1d452cbfdf5c666712d7e2.html" target="element"> Bruker.avd.XX </a> </td>
													           <td> <a href="../objects/id-cfd8e709ed1d452cbfdf5c666712d7e2.html" target="element" class="i18n-elementtype-SketchModelActor"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-375ce27e49554399b494ccbfecec5249.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/id-375ce27e49554399b494ccbfecec5249.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-0e9d7d81417a4ab9a9098396a4598ec7.html" target="element"> Bruker.avd.XX </a> </td>
													           <td> <a href="../objects/id-0e9d7d81417a4ab9a9098396a4598ec7.html" target="element" class="i18n-elementtype-SketchModelActor"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-4a51ec9c4f3240d9846fec380ea87285.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/id-4a51ec9c4f3240d9846fec380ea87285.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-85f7913b12464aa58ddc157cb837ee52.html" target="element"> AAD Office 365 Group </a> </td>
									           <td> <a href="../objects/id-85f7913b12464aa58ddc157cb837ee52.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-fda61ad870e14502b7b75a375071bbe3.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/id-fda61ad870e14502b7b75a375071bbe3.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-c573f178310e4f958034f9f6a771339f.html" target="element"> Bruker.avd.YY </a> </td>
													           <td> <a href="../objects/id-c573f178310e4f958034f9f6a771339f.html" target="element" class="i18n-elementtype-SketchModelActor"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-14055ea7bb75445e97c9610d6dd334e8.html" target="element"> Gjest.HF.ZZ </a> </td>
													           <td> <a href="../objects/id-14055ea7bb75445e97c9610d6dd334e8.html" target="element" class="i18n-elementtype-SketchModelActor"> </a> </td>
													        </tr>

													
											
									        <tr>
									           <td> <a href="../objects/id-cac225661c474f90b6ac926a0749ef6b.html" target="element"> AAD Security Group (PIM) </a> </td>
									           <td> <a href="../objects/id-cac225661c474f90b6ac926a0749ef6b.html" target="element" class="i18n-elementtype-DiagramModelGroup"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-43fe0f67bb2546f280f5adacda820789.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/id-43fe0f67bb2546f280f5adacda820789.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-7123a2898666462b95f4a622c17646cb.html" target="element"> Bruker.avd.YY </a> </td>
													           <td> <a href="../objects/id-7123a2898666462b95f4a622c17646cb.html" target="element" class="i18n-elementtype-SketchModelActor"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-d4441d0830db4065974f0b2fdae0a5ee.html" target="element"> Gjest.HF.ZZ </a> </td>
													           <td> <a href="../objects/id-d4441d0830db4065974f0b2fdae0a5ee.html" target="element" class="i18n-elementtype-SketchModelActor"> </a> </td>
													        </tr>

													
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelActor -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelActor -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelActor -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelActor -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelActor -->
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelActor -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelActor -->
													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>