<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>AA:Prosess2</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>AA:Prosess2</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-794fbbd9361c4cd5845a8c1e72ac9a85.png" alt="AA:Prosess2" usemap="#id-794fbbd9361c4cd5845a8c1e72ac9a85map"/>
			   <map name="id-794fbbd9361c4cd5845a8c1e72ac9a85map">
				  		<area shape="rect" coords="573,214,693,269" href="../elements/e28c41d4-f25e-49ea-9605-db163f844e97.html"  target="element">
				  		<area shape="rect" coords="358,436,478,491" href="../elements/3afc131d-8c42-4c93-904b-8ec637a675bb.html"  target="element">
				  		<area shape="rect" coords="189,10,309,65" href="../elements/ab9dfa81-a65f-434b-b737-a847bdae9cac.html"  target="element">
				  		<area shape="rect" coords="10,328,130,383" href="../elements/54a0e758-a7c0-4a27-877c-977c8b903a3c.html"  target="element">
				  		<area shape="rect" coords="10,214,273,269" href="../elements/acb630d1-e85f-475b-9ae4-a0dfa519b1be.html"  target="element">
				  		<area shape="rect" coords="358,214,478,269" href="../elements/9b5a7769-c62e-4419-8a06-47b9e79d2d9d.html"  target="element">
				  		<area shape="rect" coords="358,664,478,719" href="../elements/b7c95bc7-ec39-47f3-b30a-06ebc5efe65a.html"  target="element">
				  		<area shape="rect" coords="358,550,478,605" href="../elements/6c5954fb-10a5-4683-8ee2-217ff2771048.html"  target="element">
				  		<area shape="rect" coords="358,328,478,383" href="../elements/ab735b8e-3753-4023-b840-2b54e1285965.html"  target="element">
				  		<area shape="rect" coords="358,778,478,833" href="../elements/d56ef5b5-aa4c-43ff-b4c8-f9b412fcf499.html"  target="element">
				  		<area shape="rect" coords="10,10,130,65" href="../elements/71b9fe53-9696-4a11-8aed-1cb216f6f6e4.html"  target="element">
				  		<area shape="rect" coords="153,328,273,383" href="../elements/d6b2025c-36d0-4289-ae55-20c394e0a449.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/d6b2025c-36d0-4289-ae55-20c394e0a449.html" target="element"> Anskaffelseregister (konsolidert) </a> </td>
											    <td> <a href="../elements/d6b2025c-36d0-4289-ae55-20c394e0a449.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/71b9fe53-9696-4a11-8aed-1cb216f6f6e4.html" target="element"> xAnskaffelsesregister </a> </td>
											    <td> <a href="../elements/71b9fe53-9696-4a11-8aed-1cb216f6f6e4.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/d56ef5b5-aa4c-43ff-b4c8-f9b412fcf499.html" target="element"> Katalogregister (master) </a> </td>
											    <td> <a href="../elements/d56ef5b5-aa4c-43ff-b4c8-f9b412fcf499.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ab735b8e-3753-4023-b840-2b54e1285965.html" target="element"> Konkurranseregister </a> </td>
											    <td> <a href="../elements/ab735b8e-3753-4023-b840-2b54e1285965.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/6c5954fb-10a5-4683-8ee2-217ff2771048.html" target="element"> Kontraktsregister (master) </a> </td>
											    <td> <a href="../elements/6c5954fb-10a5-4683-8ee2-217ff2771048.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b7c95bc7-ec39-47f3-b30a-06ebc5efe65a.html" target="element"> Prosjektregister (master) </a> </td>
											    <td> <a href="../elements/b7c95bc7-ec39-47f3-b30a-06ebc5efe65a.html" target="element" class="i18n-elementtype-Contract">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/9b5a7769-c62e-4419-8a06-47b9e79d2d9d.html" target="element"> Risikoregister (anskaffelser) </a> </td>
											    <td> <a href="../elements/9b5a7769-c62e-4419-8a06-47b9e79d2d9d.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/acb630d1-e85f-475b-9ae4-a0dfa519b1be.html" target="element"> Behovsliste (konsolidert) </a> </td>
											    <td> <a href="../elements/acb630d1-e85f-475b-9ae4-a0dfa519b1be.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/54a0e758-a7c0-4a27-877c-977c8b903a3c.html" target="element"> Planlagte (Behovsliste 4-&#229;rig) (Sprint) (P-nr) </a> </td>
											    <td> <a href="../elements/54a0e758-a7c0-4a27-877c-977c8b903a3c.html" target="element" class="i18n-elementtype-Product">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/ab9dfa81-a65f-434b-b737-a847bdae9cac.html" target="element"> xBehovsliste </a> </td>
											    <td> <a href="../elements/ab9dfa81-a65f-434b-b737-a847bdae9cac.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/3afc131d-8c42-4c93-904b-8ec637a675bb.html" target="element"> Ressursoversikt (master) </a> </td>
											    <td> <a href="../elements/3afc131d-8c42-4c93-904b-8ec637a675bb.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/e28c41d4-f25e-49ea-9605-db163f844e97.html" target="element"> Firmadata </a> </td>
											    <td> <a href="../elements/e28c41d4-f25e-49ea-9605-db163f844e97.html" target="element" class="i18n-elementtype-Artifact">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/795cc597-066f-41c6-bff1-146b9dd4f4c6.html" target="element">  </a> </td>
																		<td> <a href="../elements/795cc597-066f-41c6-bff1-146b9dd4f4c6.html" target="element" class="i18n-elementtype-AggregationRelationship">
																		</a> </td>
																		<td> <a href="../elements/d6b2025c-36d0-4289-ae55-20c394e0a449.html" target="element"> Anskaffelseregister (konsolidert) </a> </td>
																		<td> <a href="../elements/acb630d1-e85f-475b-9ae4-a0dfa519b1be.html" target="element"> Behovsliste (konsolidert) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/ca910ada-7607-4263-9c16-ea9aaf098399.html" target="element">  </a> </td>
																		<td> <a href="../elements/ca910ada-7607-4263-9c16-ea9aaf098399.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/ab735b8e-3753-4023-b840-2b54e1285965.html" target="element"> Konkurranseregister </a> </td>
																		<td> <a href="../elements/d6b2025c-36d0-4289-ae55-20c394e0a449.html" target="element"> Anskaffelseregister (konsolidert) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/9aa4d017-3bd3-4b91-a77f-19756a4494f5.html" target="element">  </a> </td>
																		<td> <a href="../elements/9aa4d017-3bd3-4b91-a77f-19756a4494f5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/54a0e758-a7c0-4a27-877c-977c8b903a3c.html" target="element"> Planlagte (Behovsliste 4-&#229;rig) (Sprint) (P-nr) </a> </td>
																		<td> <a href="../elements/acb630d1-e85f-475b-9ae4-a0dfa519b1be.html" target="element"> Behovsliste (konsolidert) </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>