<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Endringsstyring</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Endringsstyring</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-740fa32bef434dcc97e2923c9eeb3099.png" alt="Endringsstyring" usemap="#id-740fa32bef434dcc97e2923c9eeb3099map"/>
			   <map name="id-740fa32bef434dcc97e2923c9eeb3099map">
				  		<area shape="rect" coords="274,208,394,263" href="../elements/id-3f0657ca672b46b5890b61c04a583dcd.html"  target="element">
				  		<area shape="rect" coords="538,118,658,173" href="../elements/id-48574ef01a724cccb88c379bc1db906f.html"  target="element">
				  		<area shape="rect" coords="538,262,658,317" href="../elements/id-d1a2f7d2d60f4e44aef36907b4677916.html"  target="element">
				  		<area shape="rect" coords="10,10,130,65" href="../elements/id-bf814d8c7f284fe58fc00be977b4f8be.html"  target="element">
				  		<area shape="rect" coords="10,118,130,173" href="../elements/60f0584f-94f7-4862-a18c-f6ac52f4b8d2.html"  target="element">
				  		<area shape="rect" coords="274,10,394,65" href="../elements/id-87e04ab453fb493aa3f990825f6f32bb.html"  target="element">
				  		<area shape="rect" coords="358,118,478,173" href="../elements/id-98cc5d631e394a228abf02b5e2bbb32d.html"  target="element">
				  		<area shape="rect" coords="190,118,310,173" href="../elements/id-97012ed3c77a461f923ae93bc759a701.html"  target="element">
				  		<area shape="rect" coords="538,10,658,65" href="../elements/id-30e815604abb4a9a8cd6bfdfe8620fd8.html"  target="element">
				  		<area shape="rect" coords="10,262,130,317" href="../elements/c9ffbaaf-e1e8-41d6-9e01-5d369fc680c5.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/c9ffbaaf-e1e8-41d6-9e01-5d369fc680c5.html" target="element"> Endringsstyring </a> </td>
											    <td> <a href="../elements/c9ffbaaf-e1e8-41d6-9e01-5d369fc680c5.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-30e815604abb4a9a8cd6bfdfe8620fd8.html" target="element"> Application Component </a> </td>
											    <td> <a href="../elements/id-30e815604abb4a9a8cd6bfdfe8620fd8.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-97012ed3c77a461f923ae93bc759a701.html" target="element"> ITIL ST Change Evaluation </a> </td>
											    <td> <a href="../elements/id-97012ed3c77a461f923ae93bc759a701.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-98cc5d631e394a228abf02b5e2bbb32d.html" target="element"> ITIL SO Service Level Management </a> </td>
											    <td> <a href="../elements/id-98cc5d631e394a228abf02b5e2bbb32d.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-87e04ab453fb493aa3f990825f6f32bb.html" target="element"> Application Service </a> </td>
											    <td> <a href="../elements/id-87e04ab453fb493aa3f990825f6f32bb.html" target="element" class="i18n-elementtype-ApplicationService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/60f0584f-94f7-4862-a18c-f6ac52f4b8d2.html" target="element"> ITIL Endringsstyring </a> </td>
											    <td> <a href="../elements/60f0584f-94f7-4862-a18c-f6ac52f4b8d2.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bf814d8c7f284fe58fc00be977b4f8be.html" target="element"> Business Service </a> </td>
											    <td> <a href="../elements/id-bf814d8c7f284fe58fc00be977b4f8be.html" target="element" class="i18n-elementtype-BusinessService">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d1a2f7d2d60f4e44aef36907b4677916.html" target="element"> Work Package </a> </td>
											    <td> <a href="../elements/id-d1a2f7d2d60f4e44aef36907b4677916.html" target="element" class="i18n-elementtype-WorkPackage">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-48574ef01a724cccb88c379bc1db906f.html" target="element"> Deliverable </a> </td>
											    <td> <a href="../elements/id-48574ef01a724cccb88c379bc1db906f.html" target="element" class="i18n-elementtype-Deliverable">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3f0657ca672b46b5890b61c04a583dcd.html" target="element"> Implementation Event </a> </td>
											    <td> <a href="../elements/id-3f0657ca672b46b5890b61c04a583dcd.html" target="element" class="i18n-elementtype-ImplementationEvent">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/b349fe72-9903-4dd9-a9d0-bb3026956ac9.html" target="element">  </a> </td>
																		<td> <a href="../elements/b349fe72-9903-4dd9-a9d0-bb3026956ac9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/c9ffbaaf-e1e8-41d6-9e01-5d369fc680c5.html" target="element"> Endringsstyring </a> </td>
																		<td> <a href="../elements/60f0584f-94f7-4862-a18c-f6ac52f4b8d2.html" target="element"> ITIL Endringsstyring </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-cbcc0cfe1e7345948a533920dd8eb85b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cbcc0cfe1e7345948a533920dd8eb85b.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-30e815604abb4a9a8cd6bfdfe8620fd8.html" target="element"> Application Component </a> </td>
																		<td> <a href="../elements/id-87e04ab453fb493aa3f990825f6f32bb.html" target="element"> Application Service </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f6be79785c404bd6a35a83aab7e0daf0.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f6be79785c404bd6a35a83aab7e0daf0.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-97012ed3c77a461f923ae93bc759a701.html" target="element"> ITIL ST Change Evaluation </a> </td>
																		<td> <a href="../elements/id-98cc5d631e394a228abf02b5e2bbb32d.html" target="element"> ITIL SO Service Level Management </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-18447d3cedc5489c9586ac856540388d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-18447d3cedc5489c9586ac856540388d.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-98cc5d631e394a228abf02b5e2bbb32d.html" target="element"> ITIL SO Service Level Management </a> </td>
																		<td> <a href="../elements/id-48574ef01a724cccb88c379bc1db906f.html" target="element"> Deliverable </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-38ebcf799eab45d4b87a2b811ce28ddc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-38ebcf799eab45d4b87a2b811ce28ddc.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-87e04ab453fb493aa3f990825f6f32bb.html" target="element"> Application Service </a> </td>
																		<td> <a href="../elements/id-98cc5d631e394a228abf02b5e2bbb32d.html" target="element"> ITIL SO Service Level Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-900421ea63aa4244a8c8d423a9970c0d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-900421ea63aa4244a8c8d423a9970c0d.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-87e04ab453fb493aa3f990825f6f32bb.html" target="element"> Application Service </a> </td>
																		<td> <a href="../elements/id-97012ed3c77a461f923ae93bc759a701.html" target="element"> ITIL ST Change Evaluation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-88b32fcdd98042a48d0944024ccd9ea8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-88b32fcdd98042a48d0944024ccd9ea8.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-87e04ab453fb493aa3f990825f6f32bb.html" target="element"> Application Service </a> </td>
																		<td> <a href="../elements/id-bf814d8c7f284fe58fc00be977b4f8be.html" target="element"> Business Service </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-58b72488796a4b43bff0f60ba8ec34e5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-58b72488796a4b43bff0f60ba8ec34e5.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/60f0584f-94f7-4862-a18c-f6ac52f4b8d2.html" target="element"> ITIL Endringsstyring </a> </td>
																		<td> <a href="../elements/id-97012ed3c77a461f923ae93bc759a701.html" target="element"> ITIL ST Change Evaluation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-86dd672a50494bd7ba5f1a26bdaedec8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-86dd672a50494bd7ba5f1a26bdaedec8.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/60f0584f-94f7-4862-a18c-f6ac52f4b8d2.html" target="element"> ITIL Endringsstyring </a> </td>
																		<td> <a href="../elements/id-bf814d8c7f284fe58fc00be977b4f8be.html" target="element"> Business Service </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-6ae9d2cf4bed42d2b08d259ff5bf7f9b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6ae9d2cf4bed42d2b08d259ff5bf7f9b.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d1a2f7d2d60f4e44aef36907b4677916.html" target="element"> Work Package </a> </td>
																		<td> <a href="../elements/id-48574ef01a724cccb88c379bc1db906f.html" target="element"> Deliverable </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2d6867fee27a4001854383d796f23524.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2d6867fee27a4001854383d796f23524.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d1a2f7d2d60f4e44aef36907b4677916.html" target="element"> Work Package </a> </td>
																		<td> <a href="../elements/c9ffbaaf-e1e8-41d6-9e01-5d369fc680c5.html" target="element"> Endringsstyring </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f8b99565a6484614b9fada20ab81f969.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f8b99565a6484614b9fada20ab81f969.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-48574ef01a724cccb88c379bc1db906f.html" target="element"> Deliverable </a> </td>
																		<td> <a href="../elements/id-30e815604abb4a9a8cd6bfdfe8620fd8.html" target="element"> Application Component </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-827d45136a3c4760a3621bdc91caec7c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-827d45136a3c4760a3621bdc91caec7c.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3f0657ca672b46b5890b61c04a583dcd.html" target="element"> Implementation Event </a> </td>
																		<td> <a href="../elements/id-48574ef01a724cccb88c379bc1db906f.html" target="element"> Deliverable </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1ad6731d7fda47018d1b47427ae4697a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1ad6731d7fda47018d1b47427ae4697a.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3f0657ca672b46b5890b61c04a583dcd.html" target="element"> Implementation Event </a> </td>
																		<td> <a href="../elements/id-97012ed3c77a461f923ae93bc759a701.html" target="element"> ITIL ST Change Evaluation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0939ca5713a841baaf868218bb11ad57.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0939ca5713a841baaf868218bb11ad57.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3f0657ca672b46b5890b61c04a583dcd.html" target="element"> Implementation Event </a> </td>
																		<td> <a href="../elements/id-98cc5d631e394a228abf02b5e2bbb32d.html" target="element"> ITIL SO Service Level Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-5788f87265b04116a548e4d48f3fe48a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-5788f87265b04116a548e4d48f3fe48a.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-3f0657ca672b46b5890b61c04a583dcd.html" target="element"> Implementation Event </a> </td>
																		<td> <a href="../elements/60f0584f-94f7-4862-a18c-f6ac52f4b8d2.html" target="element"> ITIL Endringsstyring </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>