<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>IRAU - Analyse</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>IRAU - Analyse</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-862bda6073f84782b2606a982227fcfb.png" alt="IRAU - Analyse" usemap="#id-862bda6073f84782b2606a982227fcfbmap"/>
			   <map name="id-862bda6073f84782b2606a982227fcfbmap">
				  		<area shape="rect" coords="160,1475,280,1530" href="../elements/id-ac2ea15ef05444288024258db7160419.html"  target="element">
				  		<area shape="rect" coords="10,1475,130,1530" href="../elements/id-bcccc68cb7f14ed184f75c7ef930f6e7.html"  target="element">
				  		<area shape="rect" coords="310,1375,430,1430" href="../elements/id-bbc1e5c14c9b47bc81b584514d24224c.html"  target="element">
				  		<area shape="rect" coords="160,1375,280,1430" href="../elements/id-e531e9895e6948ca923ad9a53e26fc90.html"  target="element">
				  		<area shape="rect" coords="10,1375,130,1430" href="../elements/id-c146afd242e94ccc826f16f966df0975.html"  target="element">
				  		<area shape="rect" coords="10,1075,130,1130" href="../elements/273f8bdd-9531-4beb-bfa9-a22f93e16dfd.html"  target="element">
				  		<area shape="rect" coords="310,975,430,1030" href="../elements/f9f4b0cc-b483-4aaf-9ede-39a947f23afc.html"  target="element">
				  		<area shape="rect" coords="160,975,280,1030" href="../elements/1dafa8e6-0e02-4d2f-afb0-b8a1ab51f990.html"  target="element">
				  		<area shape="rect" coords="310,875,430,930" href="../elements/id-6593e9484cf04c1a866cb16b6f5f9f06.html"  target="element">
				  		<area shape="rect" coords="160,875,280,930" href="../elements/025d0b3c-25cd-435b-b54e-63eb1b1e5769.html"  target="element">
				  		<area shape="rect" coords="310,775,430,830" href="../elements/bee9a8c7-3c94-49c5-a153-cc6e7faaf7a4.html"  target="element">
				  		<area shape="rect" coords="418,322,538,377" href="../elements/87890ffe-01ec-4d47-af10-376582b371fd.html"  target="element">
				  		<area shape="rect" coords="1546,10,1666,65" href="../elements/7e284db1-4506-4b31-a1b9-33754143883d.html"  target="element">
				  		<area shape="rect" coords="418,226,538,281" href="../elements/ee25cd18-0fdf-410b-90f6-328111c5cc9c.html"  target="element">
				  				<area shape="rect" coords="1713,250,1833,377" href="../elements/id-26facff97f97410e97fef3804b9ba583.html"  target="element">
				  				<area shape="rect" coords="1810,490,1930,545" href="../elements/id-b92b2624c512415d8a23682da5d20d10.html"  target="element">
				  				<area shape="rect" coords="1606,490,1726,545" href="../elements/id-303699bbb86642f79330a9409b9795f3.html"  target="element">
				  				<area shape="rect" coords="1821,658,1941,782" href="../elements/b82ddbf8-3816-4b1f-bcd0-8eaacb091dd4.html"  target="element">
				  				<area shape="rect" coords="1594,655,1714,782" href="../elements/e74791cd-bab9-4522-9cc8-b7b7fff4d978.html"  target="element">

				  		<area shape="rect" coords="1234,130,2339,899" href="../elements/b7c3a2e3-6982-451d-8a93-468a266e7994.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/b7c3a2e3-6982-451d-8a93-468a266e7994.html" target="element"> PEPPOL BIS </a> </td>
											    <td> <a href="../elements/b7c3a2e3-6982-451d-8a93-468a266e7994.html" target="element" class="i18n-elementtype-CommunicationNetwork">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/e74791cd-bab9-4522-9cc8-b7b7fff4d978.html" target="element"> PEPPOL AP (HF) </a> </td>
													    <td> <a href="../elements/e74791cd-bab9-4522-9cc8-b7b7fff4d978.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/b82ddbf8-3816-4b1f-bcd0-8eaacb091dd4.html" target="element"> PEPPOL AP (SHI) </a> </td>
													    <td> <a href="../elements/b82ddbf8-3816-4b1f-bcd0-8eaacb091dd4.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-303699bbb86642f79330a9409b9795f3.html" target="element"> PEPPOL SMP (Service Metadata Publisher) </a> </td>
													    <td> <a href="../elements/id-303699bbb86642f79330a9409b9795f3.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b92b2624c512415d8a23682da5d20d10.html" target="element"> PEPPOL SML (Service Metadata Locator) </a> </td>
													    <td> <a href="../elements/id-b92b2624c512415d8a23682da5d20d10.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-26facff97f97410e97fef3804b9ba583.html" target="element"> PEPPOL AP (Lev) </a> </td>
													    <td> <a href="../elements/id-26facff97f97410e97fef3804b9ba583.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/ee25cd18-0fdf-410b-90f6-328111c5cc9c.html" target="element"> Aksesspunkt </a> </td>
											    <td> <a href="../elements/ee25cd18-0fdf-410b-90f6-328111c5cc9c.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/7e284db1-4506-4b31-a1b9-33754143883d.html" target="element"> EHF 3.0 </a> </td>
											    <td> <a href="../elements/7e284db1-4506-4b31-a1b9-33754143883d.html" target="element" class="i18n-elementtype-Requirement">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/87890ffe-01ec-4d47-af10-376582b371fd.html" target="element"> Aksesspunkt </a> </td>
											    <td> <a href="../elements/87890ffe-01ec-4d47-af10-376582b371fd.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/bee9a8c7-3c94-49c5-a153-cc6e7faaf7a4.html" target="element"> EHF Faktura </a> </td>
											    <td> <a href="../elements/bee9a8c7-3c94-49c5-a153-cc6e7faaf7a4.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/025d0b3c-25cd-435b-b54e-63eb1b1e5769.html" target="element"> EHF Katalog (Godkjent) </a> </td>
											    <td> <a href="../elements/025d0b3c-25cd-435b-b54e-63eb1b1e5769.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-6593e9484cf04c1a866cb16b6f5f9f06.html" target="element"> EHF Katalog (Til godkjenning) </a> </td>
											    <td> <a href="../elements/id-6593e9484cf04c1a866cb16b6f5f9f06.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/1dafa8e6-0e02-4d2f-afb0-b8a1ab51f990.html" target="element"> EHF Kunngj&#248;ring </a> </td>
											    <td> <a href="../elements/1dafa8e6-0e02-4d2f-afb0-b8a1ab51f990.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/f9f4b0cc-b483-4aaf-9ede-39a947f23afc.html" target="element"> EHF Ordre </a> </td>
											    <td> <a href="../elements/f9f4b0cc-b483-4aaf-9ede-39a947f23afc.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/273f8bdd-9531-4beb-bfa9-a22f93e16dfd.html" target="element"> EHF Ordrebekreftelse </a> </td>
											    <td> <a href="../elements/273f8bdd-9531-4beb-bfa9-a22f93e16dfd.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c146afd242e94ccc826f16f966df0975.html" target="element"> PEPPOL BIS Invoice (EHF) </a> </td>
											    <td> <a href="../elements/id-c146afd242e94ccc826f16f966df0975.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e531e9895e6948ca923ad9a53e26fc90.html" target="element"> PEPPOL BIS Katalog (EHF) </a> </td>
											    <td> <a href="../elements/id-e531e9895e6948ca923ad9a53e26fc90.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bbc1e5c14c9b47bc81b584514d24224c.html" target="element"> PEPPOL BIS Order (EHF) </a> </td>
											    <td> <a href="../elements/id-bbc1e5c14c9b47bc81b584514d24224c.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-bcccc68cb7f14ed184f75c7ef930f6e7.html" target="element"> PEPPOL BIS Order Confirmation (EHF) </a> </td>
											    <td> <a href="../elements/id-bcccc68cb7f14ed184f75c7ef930f6e7.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ac2ea15ef05444288024258db7160419.html" target="element"> PEPPOL BIS Tender (EHF) </a> </td>
											    <td> <a href="../elements/id-ac2ea15ef05444288024258db7160419.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/5fd1ed44-729e-448f-99b3-1f0ec5e5bbc3.html" target="element"> Motta </a> </td>
																		<td> <a href="../elements/5fd1ed44-729e-448f-99b3-1f0ec5e5bbc3.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/b7c3a2e3-6982-451d-8a93-468a266e7994.html" target="element"> PEPPOL BIS </a> </td>
																		<td> <a href="../elements/ee25cd18-0fdf-410b-90f6-328111c5cc9c.html" target="element"> Aksesspunkt </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/5fdeef94-f31a-4b83-a359-0bf9234fbb62.html" target="element"> Motta </a> </td>
																		<td> <a href="../elements/5fdeef94-f31a-4b83-a359-0bf9234fbb62.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/b7c3a2e3-6982-451d-8a93-468a266e7994.html" target="element"> PEPPOL BIS </a> </td>
																		<td> <a href="../elements/87890ffe-01ec-4d47-af10-376582b371fd.html" target="element"> Aksesspunkt </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/bd33f097-1907-4cf5-a826-f8a9f7cc584d.html" target="element">  </a> </td>
																		<td> <a href="../elements/bd33f097-1907-4cf5-a826-f8a9f7cc584d.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/b7c3a2e3-6982-451d-8a93-468a266e7994.html" target="element"> PEPPOL BIS </a> </td>
																		<td> <a href="../elements/7e284db1-4506-4b31-a1b9-33754143883d.html" target="element"> EHF 3.0 </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/b42e2341-8095-4564-8269-51c1a34ab8a2.html" target="element"> Tilknyttet </a> </td>
																		<td> <a href="../elements/b42e2341-8095-4564-8269-51c1a34ab8a2.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/b7c3a2e3-6982-451d-8a93-468a266e7994.html" target="element"> PEPPOL BIS </a> </td>
																		<td> <a href="../elements/e74791cd-bab9-4522-9cc8-b7b7fff4d978.html" target="element"> PEPPOL AP (HF) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7509e6deb5794138ad722948e5f9beac.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7509e6deb5794138ad722948e5f9beac.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/b7c3a2e3-6982-451d-8a93-468a266e7994.html" target="element"> PEPPOL BIS </a> </td>
																		<td> <a href="../elements/b82ddbf8-3816-4b1f-bcd0-8eaacb091dd4.html" target="element"> PEPPOL AP (SHI) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-00b4875b4ca34bf689707fda979ea5b2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-00b4875b4ca34bf689707fda979ea5b2.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/b7c3a2e3-6982-451d-8a93-468a266e7994.html" target="element"> PEPPOL BIS </a> </td>
																		<td> <a href="../elements/e74791cd-bab9-4522-9cc8-b7b7fff4d978.html" target="element"> PEPPOL AP (HF) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-d1ecbe09499442a6ac14fa4d5aaf7451.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d1ecbe09499442a6ac14fa4d5aaf7451.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/b7c3a2e3-6982-451d-8a93-468a266e7994.html" target="element"> PEPPOL BIS </a> </td>
																		<td> <a href="../elements/id-b92b2624c512415d8a23682da5d20d10.html" target="element"> PEPPOL SML (Service Metadata Locator) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2c4231e88bb04949aa94c36fcc3d9b73.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2c4231e88bb04949aa94c36fcc3d9b73.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/b7c3a2e3-6982-451d-8a93-468a266e7994.html" target="element"> PEPPOL BIS </a> </td>
																		<td> <a href="../elements/id-303699bbb86642f79330a9409b9795f3.html" target="element"> PEPPOL SMP (Service Metadata Publisher) </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-0a6955e495da4adf9140c5364edc3043.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0a6955e495da4adf9140c5364edc3043.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/b7c3a2e3-6982-451d-8a93-468a266e7994.html" target="element"> PEPPOL BIS </a> </td>
																		<td> <a href="../elements/id-26facff97f97410e97fef3804b9ba583.html" target="element"> PEPPOL AP (Lev) </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/fb405f5c-1694-4a8b-a431-462cbc57a638.html" target="element">  </a> </td>
																				<td> <a href="../elements/fb405f5c-1694-4a8b-a431-462cbc57a638.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/e74791cd-bab9-4522-9cc8-b7b7fff4d978.html" target="element"> PEPPOL AP (HF) </a> </td>
																				<td> <a href="../elements/bee9a8c7-3c94-49c5-a153-cc6e7faaf7a4.html" target="element"> EHF Faktura </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-4cfa8b35927d466d803e13714e524b05.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4cfa8b35927d466d803e13714e524b05.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/e74791cd-bab9-4522-9cc8-b7b7fff4d978.html" target="element"> PEPPOL AP (HF) </a> </td>
																				<td> <a href="../elements/025d0b3c-25cd-435b-b54e-63eb1b1e5769.html" target="element"> EHF Katalog (Godkjent) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/ece5af0d-5cc8-425a-9f14-c3d4f41be47e.html" target="element">  </a> </td>
																				<td> <a href="../elements/ece5af0d-5cc8-425a-9f14-c3d4f41be47e.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/e74791cd-bab9-4522-9cc8-b7b7fff4d978.html" target="element"> PEPPOL AP (HF) </a> </td>
																				<td> <a href="../elements/273f8bdd-9531-4beb-bfa9-a22f93e16dfd.html" target="element"> EHF Ordrebekreftelse </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-01449b03a85440abbe1358e5cd09d788.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-01449b03a85440abbe1358e5cd09d788.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/e74791cd-bab9-4522-9cc8-b7b7fff4d978.html" target="element"> PEPPOL AP (HF) </a> </td>
																				<td> <a href="../elements/id-c146afd242e94ccc826f16f966df0975.html" target="element"> PEPPOL BIS Invoice (EHF) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-24fbe42520434b669b3d43ae170201a3.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-24fbe42520434b669b3d43ae170201a3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/e74791cd-bab9-4522-9cc8-b7b7fff4d978.html" target="element"> PEPPOL AP (HF) </a> </td>
																				<td> <a href="../elements/id-bbc1e5c14c9b47bc81b584514d24224c.html" target="element"> PEPPOL BIS Order (EHF) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-0672b6a4ba4949eda9d14bfd5207db18.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0672b6a4ba4949eda9d14bfd5207db18.html" target="element" class="i18n-elementtype-CompositionRelationship">
																				</a> </td>
																				<td> <a href="../elements/e74791cd-bab9-4522-9cc8-b7b7fff4d978.html" target="element"> PEPPOL AP (HF) </a> </td>
																				<td> <a href="../elements/id-bcccc68cb7f14ed184f75c7ef930f6e7.html" target="element"> PEPPOL BIS Order Confirmation (EHF) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/0a0462c3-a543-4acf-990b-5223af1db4e5.html" target="element"> Sender </a> </td>
																				<td> <a href="../elements/0a0462c3-a543-4acf-990b-5223af1db4e5.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/e74791cd-bab9-4522-9cc8-b7b7fff4d978.html" target="element"> PEPPOL AP (HF) </a> </td>
																				<td> <a href="../elements/f9f4b0cc-b483-4aaf-9ede-39a947f23afc.html" target="element"> EHF Ordre </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/2649489b-bea4-42ec-9923-53d3b47e50b4.html" target="element"> Sender </a> </td>
																				<td> <a href="../elements/2649489b-bea4-42ec-9923-53d3b47e50b4.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/b82ddbf8-3816-4b1f-bcd0-8eaacb091dd4.html" target="element"> PEPPOL AP (SHI) </a> </td>
																				<td> <a href="../elements/025d0b3c-25cd-435b-b54e-63eb1b1e5769.html" target="element"> EHF Katalog (Godkjent) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-611c43a472f14014abf1bb3ff13d32e5.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-611c43a472f14014abf1bb3ff13d32e5.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/b82ddbf8-3816-4b1f-bcd0-8eaacb091dd4.html" target="element"> PEPPOL AP (SHI) </a> </td>
																				<td> <a href="../elements/id-6593e9484cf04c1a866cb16b6f5f9f06.html" target="element"> EHF Katalog (Til godkjenning) </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-79c1be6ad5a34ff4a78600e67f34ad79.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-79c1be6ad5a34ff4a78600e67f34ad79.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-303699bbb86642f79330a9409b9795f3.html" target="element"> PEPPOL SMP (Service Metadata Publisher) </a> </td>
																				<td> <a href="../elements/b82ddbf8-3816-4b1f-bcd0-8eaacb091dd4.html" target="element"> PEPPOL AP (SHI) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-39a7cfd936ca43088d85d5d63b695b9e.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-39a7cfd936ca43088d85d5d63b695b9e.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-303699bbb86642f79330a9409b9795f3.html" target="element"> PEPPOL SMP (Service Metadata Publisher) </a> </td>
																				<td> <a href="../elements/e74791cd-bab9-4522-9cc8-b7b7fff4d978.html" target="element"> PEPPOL AP (HF) </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-5966a502fc474523a0de374e4bf4224f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5966a502fc474523a0de374e4bf4224f.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b92b2624c512415d8a23682da5d20d10.html" target="element"> PEPPOL SML (Service Metadata Locator) </a> </td>
																				<td> <a href="../elements/e74791cd-bab9-4522-9cc8-b7b7fff4d978.html" target="element"> PEPPOL AP (HF) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-4305aa0ff6ab40ef86b349d79b185e5f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4305aa0ff6ab40ef86b349d79b185e5f.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-b92b2624c512415d8a23682da5d20d10.html" target="element"> PEPPOL SML (Service Metadata Locator) </a> </td>
																				<td> <a href="../elements/b82ddbf8-3816-4b1f-bcd0-8eaacb091dd4.html" target="element"> PEPPOL AP (SHI) </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-45a523c8869b4e58ba36f21edc147764.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-45a523c8869b4e58ba36f21edc147764.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-26facff97f97410e97fef3804b9ba583.html" target="element"> PEPPOL AP (Lev) </a> </td>
																				<td> <a href="../elements/id-b92b2624c512415d8a23682da5d20d10.html" target="element"> PEPPOL SML (Service Metadata Locator) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-1e8c48c8504c4fdfab6439698d370daf.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-1e8c48c8504c4fdfab6439698d370daf.html" target="element" class="i18n-elementtype-AssociationRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-26facff97f97410e97fef3804b9ba583.html" target="element"> PEPPOL AP (Lev) </a> </td>
																				<td> <a href="../elements/id-303699bbb86642f79330a9409b9795f3.html" target="element"> PEPPOL SMP (Service Metadata Publisher) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/df4f393a-c81d-4154-aa98-d6537648baf9.html" target="element"> Sender </a> </td>
																				<td> <a href="../elements/df4f393a-c81d-4154-aa98-d6537648baf9.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-26facff97f97410e97fef3804b9ba583.html" target="element"> PEPPOL AP (Lev) </a> </td>
																				<td> <a href="../elements/bee9a8c7-3c94-49c5-a153-cc6e7faaf7a4.html" target="element"> EHF Faktura </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-22edef51fac24cf59f354d4ff174a4bb.html" target="element"> Sender </a> </td>
																				<td> <a href="../elements/id-22edef51fac24cf59f354d4ff174a4bb.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-26facff97f97410e97fef3804b9ba583.html" target="element"> PEPPOL AP (Lev) </a> </td>
																				<td> <a href="../elements/id-6593e9484cf04c1a866cb16b6f5f9f06.html" target="element"> EHF Katalog (Til godkjenning) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-b241e24410e443aeb0ce9f28531ba5dd.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b241e24410e443aeb0ce9f28531ba5dd.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-26facff97f97410e97fef3804b9ba583.html" target="element"> PEPPOL AP (Lev) </a> </td>
																				<td> <a href="../elements/f9f4b0cc-b483-4aaf-9ede-39a947f23afc.html" target="element"> EHF Ordre </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-c0840ec61d56433882a5fb84e257ec76.html" target="element"> Sender </a> </td>
																				<td> <a href="../elements/id-c0840ec61d56433882a5fb84e257ec76.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/id-26facff97f97410e97fef3804b9ba583.html" target="element"> PEPPOL AP (Lev) </a> </td>
																				<td> <a href="../elements/273f8bdd-9531-4beb-bfa9-a22f93e16dfd.html" target="element"> EHF Ordrebekreftelse </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/c441f9c3-894f-4f17-8f15-0f9738fd895d.html" target="element"> Send </a> </td>
																		<td> <a href="../elements/c441f9c3-894f-4f17-8f15-0f9738fd895d.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/ee25cd18-0fdf-410b-90f6-328111c5cc9c.html" target="element"> Aksesspunkt </a> </td>
																		<td> <a href="../elements/b7c3a2e3-6982-451d-8a93-468a266e7994.html" target="element"> PEPPOL BIS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/c7a26a5d-5210-4240-b329-142082b0b988.html" target="element"> Send </a> </td>
																		<td> <a href="../elements/c7a26a5d-5210-4240-b329-142082b0b988.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/87890ffe-01ec-4d47-af10-376582b371fd.html" target="element"> Aksesspunkt </a> </td>
																		<td> <a href="../elements/b7c3a2e3-6982-451d-8a93-468a266e7994.html" target="element"> PEPPOL BIS </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/6a22e080-282b-49a2-a61f-a3757c7c7ce5.html" target="element">  </a> </td>
																		<td> <a href="../elements/6a22e080-282b-49a2-a61f-a3757c7c7ce5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/bee9a8c7-3c94-49c5-a153-cc6e7faaf7a4.html" target="element"> EHF Faktura </a> </td>
																		<td> <a href="../elements/273f8bdd-9531-4beb-bfa9-a22f93e16dfd.html" target="element"> EHF Ordrebekreftelse </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ffa30143097947809d5a5bb80ed69610.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ffa30143097947809d5a5bb80ed69610.html" target="element" class="i18n-elementtype-SpecializationRelationship">
																		</a> </td>
																		<td> <a href="../elements/273f8bdd-9531-4beb-bfa9-a22f93e16dfd.html" target="element"> EHF Ordrebekreftelse </a> </td>
																		<td> <a href="../elements/f9f4b0cc-b483-4aaf-9ede-39a947f23afc.html" target="element"> EHF Ordre </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e52a151fa91a4f2ca1fe6e05bfc29f37.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e52a151fa91a4f2ca1fe6e05bfc29f37.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c146afd242e94ccc826f16f966df0975.html" target="element"> PEPPOL BIS Invoice (EHF) </a> </td>
																		<td> <a href="../elements/bee9a8c7-3c94-49c5-a153-cc6e7faaf7a4.html" target="element"> EHF Faktura </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-49e181f58d0e4d1c80c8b7e236869c98.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-49e181f58d0e4d1c80c8b7e236869c98.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bbc1e5c14c9b47bc81b584514d24224c.html" target="element"> PEPPOL BIS Order (EHF) </a> </td>
																		<td> <a href="../elements/f9f4b0cc-b483-4aaf-9ede-39a947f23afc.html" target="element"> EHF Ordre </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4e5cdcd9da1f487c93532334c7805834.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4e5cdcd9da1f487c93532334c7805834.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-bcccc68cb7f14ed184f75c7ef930f6e7.html" target="element"> PEPPOL BIS Order Confirmation (EHF) </a> </td>
																		<td> <a href="../elements/273f8bdd-9531-4beb-bfa9-a22f93e16dfd.html" target="element"> EHF Ordrebekreftelse </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-ef0cd176612b477a99032464e6ce65c8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ef0cd176612b477a99032464e6ce65c8.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-ac2ea15ef05444288024258db7160419.html" target="element"> PEPPOL BIS Tender (EHF) </a> </td>
																		<td> <a href="../elements/1dafa8e6-0e02-4d2f-afb0-b8a1ab51f990.html" target="element"> EHF Kunngj&#248;ring </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>