<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Skisse-Avtale.UI</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Skisse-Avtale.UI</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-elementtype-SketchModel"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-SketchModel" target="hint"></a>
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-a18d537e05d846d6848284717ab1f75d.png" alt="Skisse-Avtale.UI" usemap="#id-a18d537e05d846d6848284717ab1f75dmap"/>
			   <map name="id-a18d537e05d846d6848284717ab1f75dmap">
				          <area shape="rect" coords="1510,250,1943,1031" href="../objects/id-67c4bcf86b7146749eb8bfee8e58ad4c.html" target="element" >
				          <area shape="rect" coords="2590,130,2797,192" href="../objects/id-ac3cf367e92448b7a52827b99a895971.html" target="element" >
				          <area shape="rect" coords="2590,46,2797,108" href="../objects/id-bdd934b0081440a0badd2f136601b2bf.html" target="element" >
				  				        <area shape="rect" coords="1234,141,1355,166" href="../objects/id-5e2ea57788c44fe39eff2ea4ecd5803b.html" target="element" >
				  						        <area shape="rect" coords="277,142,326,166" href="../objects/id-19ef8980f6ab4962814ca8289bd00ee8.html" target="element" >
				  						        <area shape="rect" coords="198,142,278,166" href="../objects/id-fe92324e28c147e6b464b1e56649a59e.html" target="element" >

				  				        <area shape="rect" coords="154,142,332,166" href="../objects/id-57167fd2b4284694b85548cbadbd61dd.html" target="element" >
				  				        <area shape="rect" coords="322,106,468,130" href="../objects/id-529908ac97034812b5fad503f183d4fa.html" target="element" >
				  				        <area shape="rect" coords="2206,69,2304,94" href="../objects/id-dc3a3ba74f764d978814c2728110e1c6.html" target="element" >
				  				        <area shape="rect" coords="2098,70,2196,93" href="../objects/id-606bdedbf8ad4b66be44e5ad7c6798d4.html" target="element" >
				  				        <area shape="rect" coords="1642,142,1777,166" href="../objects/id-754a57f5caa74836a0e5ae2685dda5f0.html" target="element" >
				  				        <area shape="rect" coords="1366,141,1487,166" href="../objects/id-894c0670ff644f03a240cf1f9ea15084.html" target="element" >
				  				        <area shape="rect" coords="1498,141,1633,166" href="../objects/id-f8235b28770e45be928d77fefb62357e.html" target="element" >
				  				        <area shape="rect" coords="1786,142,1921,166" href="../objects/id-bdcdf360df37497b8956ab872fbcd7d4.html" target="element" >
				  				        <area shape="rect" coords="1114,142,1223,166" href="../objects/id-e8047089c1bd41b4b3f67ae9696332af.html" target="element" >
				  				        <area shape="rect" coords="340,142,449,166" href="../objects/id-ae74b453ac0645b29dbd66dde8b44b0d.html" target="element" >
				  				        <area shape="rect" coords="995,142,1104,166" href="../objects/id-c495e1b0c4b84a8fa5489ccd708c09a8.html" target="element" >
				  				        <area shape="rect" coords="467,142,552,166" href="../objects/id-d90f74c250b64b78be70a0675fb8cba1.html" target="element" >
				  				        <area shape="rect" coords="34,142,143,166" href="../objects/id-9083cb00392d444eaa4d9e2c234e1602.html" target="element" >
				  				        <area shape="rect" coords="874,142,983,166" href="../objects/id-0648f5fb93064857b40e292852f3f09f.html" target="element" >
				  				        <area shape="rect" coords="754,142,863,166" href="../objects/id-ec9e644cae4d448b8f632c0e47152d24.html" target="element" >
				  				        <area shape="rect" coords="658,142,743,166" href="../objects/id-9b41d1cf09af457c850416bc9e2be61f.html" target="element" >
				  				        <area shape="rect" coords="2146,142,2292,166" href="../objects/id-b1790449140c499aaaf5c29e15b496e3.html" target="element" >
				  				        <area shape="rect" coords="178,106,313,130" href="../objects/id-a8bbf35db46242c2b30cf5533000723e.html" target="element" >
				  				        <area shape="rect" coords="562,142,647,166" href="../objects/id-106b1e52840940a98253144e84c1e666.html" target="element" >
				  				        <area shape="rect" coords="34,106,169,130" href="../objects/id-cfb7a694dfc64f52843599413067ba3a.html" target="element" >
				  				        <area shape="rect" coords="2038,141,2136,166" href="../objects/id-4c4f5e0cc8c2428b86fcb4376d3b6b36.html" target="element" >
				  				        <area shape="rect" coords="1930,142,2028,165" href="../objects/id-b41f7160b1ce42a58c3608fded92dd1c.html" target="element" >

				  		        <area shape="rect" coords="34,58,2351,191" href="../objects/id-997b28c86afc4909b11c80fb2840f34b.html" target="element" >

				          <area shape="rect" coords="10,10,2363,215" href="../objects/id-a29c546bb60c4f96b7057fd268076e2a.html" target="element" >
				  				        <area shape="rect" coords="430,910,565,947" href="../objects/id-0390c24001b945f1884701bdf9c264e0.html" target="element" >
				  				        <area shape="rect" coords="442,322,577,359" href="../objects/id-a5c9ba69476b41f9871438d4c7545a94.html" target="element" >
				  				        <area shape="rect" coords="598,466,696,501" href="../objects/id-f6316a7d5bf34c9d9c11d5ee60f15d33.html" target="element" >
				  				        <area shape="rect" coords="598,418,696,453" href="../objects/id-1a59836427cf42f6bf2136d980225be2.html" target="element" >
				  				        <area shape="rect" coords="598,370,696,405" href="../objects/id-e70bac6c21464bb59d5b23de314e815a.html" target="element" >
				  				        <area shape="rect" coords="598,323,696,358" href="../objects/id-9148265352054e09af04f9348880b50a.html" target="element" >
				  				        <area shape="rect" coords="430,838,565,874" href="../objects/id-2f742e3729c54fe68bbfc620daa90322.html" target="element" >
				  				        <area shape="rect" coords="442,370,577,406" href="../objects/id-c8467da9e4244010b1c09bdfbf761d8f.html" target="element" >

				  		        <area shape="rect" coords="406,286,767,995" href="../objects/id-ac6d29b48f5b47a89ec9303b3229075d.html" target="element" >

				          <area shape="rect" coords="382,250,815,1031" href="../objects/id-c95750ac36564b608b83795fe310cf24.html" target="element" >
				  		        <area shape="rect" coords="1090,526,1225,596" href="../objects/id-de0f976e236e46319ffd75eb5e6ee088.html" target="element" >
				  		        <area shape="rect" coords="1090,778,1225,848" href="../objects/id-d3f633564b514fa1967292807f88d418.html" target="element" >
				  		        <area shape="rect" coords="1090,694,1225,764" href="../objects/id-179a1f8299204b189f907a0fabaec17d.html" target="element" >
				  		        <area shape="rect" coords="1090,610,1225,680" href="../objects/id-ab9e0a399c904c008584a9f917c5efd6.html" target="element" >
				  		        <area shape="rect" coords="1090,442,1225,512" href="../objects/id-5f1c0195791e433baa6a22fb1b0bcbde.html" target="element" >

				          <area shape="rect" coords="982,418,1343,863" href="../objects/id-f4ad62486f474be0b8c1cb669bff9b8e.html" target="element" >
				  		        <area shape="rect" coords="2182,1066,2317,1136" href="../objects/id-c6261b1f27234b4a9d17002b62590ef4.html" target="element" >
				  		        <area shape="rect" coords="2182,934,2317,1004" href="../objects/id-7cbee3edc592462d9ad52d17bac652c1.html" target="element" >
				  		        <area shape="rect" coords="2182,814,2317,884" href="../objects/id-bde3b984fce44e85acafaf864ff6694c.html" target="element" >

				          <area shape="rect" coords="2074,778,2339,1211" href="../objects/id-e25c431757814660885f675433c8787c.html" target="element" >
				  		        <area shape="rect" coords="22,1054,157,1124" href="../objects/id-c35c44c448b34f0a8a87da8a375326a0.html" target="element" >
				  		        <area shape="rect" coords="22,922,157,992" href="../objects/id-8962cebc2b944499aff88020a88da986.html" target="element" >
				  		        <area shape="rect" coords="22,802,157,872" href="../objects/id-a952d6d297ec4a0a94e2012c613d2c74.html" target="element" >

				          <area shape="rect" coords="10,766,263,1211" href="../objects/id-e0c53694c4dc450a8edb898a8f81d77e.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-e0c53694c4dc450a8edb898a8f81d77e.html" target="element"> Sticky </a> </td>
									           <td> <a href="../objects/id-e0c53694c4dc450a8edb898a8f81d77e.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-a952d6d297ec4a0a94e2012c613d2c74.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/id-a952d6d297ec4a0a94e2012c613d2c74.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-8962cebc2b944499aff88020a88da986.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/id-8962cebc2b944499aff88020a88da986.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-c35c44c448b34f0a8a87da8a375326a0.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/id-c35c44c448b34f0a8a87da8a375326a0.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-e25c431757814660885f675433c8787c.html" target="element"> Sticky </a> </td>
									           <td> <a href="../objects/id-e25c431757814660885f675433c8787c.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-bde3b984fce44e85acafaf864ff6694c.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/id-bde3b984fce44e85acafaf864ff6694c.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-7cbee3edc592462d9ad52d17bac652c1.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/id-7cbee3edc592462d9ad52d17bac652c1.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-c6261b1f27234b4a9d17002b62590ef4.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/id-c6261b1f27234b4a9d17002b62590ef4.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-f4ad62486f474be0b8c1cb669bff9b8e.html" target="element"> Sticky </a> </td>
									           <td> <a href="../objects/id-f4ad62486f474be0b8c1cb669bff9b8e.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-5f1c0195791e433baa6a22fb1b0bcbde.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/id-5f1c0195791e433baa6a22fb1b0bcbde.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-ab9e0a399c904c008584a9f917c5efd6.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/id-ab9e0a399c904c008584a9f917c5efd6.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-179a1f8299204b189f907a0fabaec17d.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/id-179a1f8299204b189f907a0fabaec17d.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-d3f633564b514fa1967292807f88d418.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/id-d3f633564b514fa1967292807f88d418.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-de0f976e236e46319ffd75eb5e6ee088.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/id-de0f976e236e46319ffd75eb5e6ee088.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											
									        <tr>
									           <td> <a href="../objects/id-c95750ac36564b608b83795fe310cf24.html" target="element"> Sticky </a> </td>
									           <td> <a href="../objects/id-c95750ac36564b608b83795fe310cf24.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-ac6d29b48f5b47a89ec9303b3229075d.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/id-ac6d29b48f5b47a89ec9303b3229075d.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-c8467da9e4244010b1c09bdfbf761d8f.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/id-c8467da9e4244010b1c09bdfbf761d8f.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-2f742e3729c54fe68bbfc620daa90322.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/id-2f742e3729c54fe68bbfc620daa90322.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-9148265352054e09af04f9348880b50a.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/id-9148265352054e09af04f9348880b50a.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-e70bac6c21464bb59d5b23de314e815a.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/id-e70bac6c21464bb59d5b23de314e815a.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-1a59836427cf42f6bf2136d980225be2.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/id-1a59836427cf42f6bf2136d980225be2.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-f6316a7d5bf34c9d9c11d5ee60f15d33.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/id-f6316a7d5bf34c9d9c11d5ee60f15d33.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-a5c9ba69476b41f9871438d4c7545a94.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/id-a5c9ba69476b41f9871438d4c7545a94.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-0390c24001b945f1884701bdf9c264e0.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/id-0390c24001b945f1884701bdf9c264e0.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													
											
									        <tr>
									           <td> <a href="../objects/id-a29c546bb60c4f96b7057fd268076e2a.html" target="element"> Sticky </a> </td>
									           <td> <a href="../objects/id-a29c546bb60c4f96b7057fd268076e2a.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-997b28c86afc4909b11c80fb2840f34b.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/id-997b28c86afc4909b11c80fb2840f34b.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-b41f7160b1ce42a58c3608fded92dd1c.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/id-b41f7160b1ce42a58c3608fded92dd1c.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-4c4f5e0cc8c2428b86fcb4376d3b6b36.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/id-4c4f5e0cc8c2428b86fcb4376d3b6b36.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-cfb7a694dfc64f52843599413067ba3a.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/id-cfb7a694dfc64f52843599413067ba3a.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-106b1e52840940a98253144e84c1e666.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/id-106b1e52840940a98253144e84c1e666.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-a8bbf35db46242c2b30cf5533000723e.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/id-a8bbf35db46242c2b30cf5533000723e.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-b1790449140c499aaaf5c29e15b496e3.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/id-b1790449140c499aaaf5c29e15b496e3.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-9b41d1cf09af457c850416bc9e2be61f.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/id-9b41d1cf09af457c850416bc9e2be61f.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-ec9e644cae4d448b8f632c0e47152d24.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/id-ec9e644cae4d448b8f632c0e47152d24.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-0648f5fb93064857b40e292852f3f09f.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/id-0648f5fb93064857b40e292852f3f09f.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-9083cb00392d444eaa4d9e2c234e1602.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/id-9083cb00392d444eaa4d9e2c234e1602.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-d90f74c250b64b78be70a0675fb8cba1.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/id-d90f74c250b64b78be70a0675fb8cba1.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-c495e1b0c4b84a8fa5489ccd708c09a8.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/id-c495e1b0c4b84a8fa5489ccd708c09a8.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-ae74b453ac0645b29dbd66dde8b44b0d.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/id-ae74b453ac0645b29dbd66dde8b44b0d.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-e8047089c1bd41b4b3f67ae9696332af.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/id-e8047089c1bd41b4b3f67ae9696332af.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-bdcdf360df37497b8956ab872fbcd7d4.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/id-bdcdf360df37497b8956ab872fbcd7d4.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-f8235b28770e45be928d77fefb62357e.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/id-f8235b28770e45be928d77fefb62357e.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-894c0670ff644f03a240cf1f9ea15084.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/id-894c0670ff644f03a240cf1f9ea15084.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-754a57f5caa74836a0e5ae2685dda5f0.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/id-754a57f5caa74836a0e5ae2685dda5f0.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-606bdedbf8ad4b66be44e5ad7c6798d4.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/id-606bdedbf8ad4b66be44e5ad7c6798d4.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-dc3a3ba74f764d978814c2728110e1c6.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/id-dc3a3ba74f764d978814c2728110e1c6.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-529908ac97034812b5fad503f183d4fa.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/id-529908ac97034812b5fad503f183d4fa.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-57167fd2b4284694b85548cbadbd61dd.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/id-57167fd2b4284694b85548cbadbd61dd.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

															        <tr>
															           <td> <a href="../objects/id-fe92324e28c147e6b464b1e56649a59e.html" target="element"> Sticky </a> </td>
															           <td> <a href="../objects/id-fe92324e28c147e6b464b1e56649a59e.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
															        </tr>

															        <tr>
															           <td> <a href="../objects/id-19ef8980f6ab4962814ca8289bd00ee8.html" target="element"> Sticky </a> </td>
															           <td> <a href="../objects/id-19ef8980f6ab4962814ca8289bd00ee8.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
															        </tr>

															
													        <tr>
													           <td> <a href="../objects/id-5e2ea57788c44fe39eff2ea4ecd5803b.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/id-5e2ea57788c44fe39eff2ea4ecd5803b.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													
											
									        <tr>
									           <td> <a href="../objects/id-bdd934b0081440a0badd2f136601b2bf.html" target="element"> Sticky </a> </td>
									           <td> <a href="../objects/id-bdd934b0081440a0badd2f136601b2bf.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-ac3cf367e92448b7a52827b99a895971.html" target="element"> Sticky </a> </td>
									           <td> <a href="../objects/id-ac3cf367e92448b7a52827b99a895971.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
									        </tr>

									        <tr>
									           <td> <a href="../objects/id-67c4bcf86b7146749eb8bfee8e58ad4c.html" target="element"> Sticky </a> </td>
									           <td> <a href="../objects/id-67c4bcf86b7146749eb8bfee8e58ad4c.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
									        </tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>