<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>AvtaleProsess</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>AvtaleProsess</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-elementtype-SketchModel"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-SketchModel" target="hint"></a>
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-ac9d1a287a9f4bd09234eecc8b3b7710.png" alt="AvtaleProsess" usemap="#id-ac9d1a287a9f4bd09234eecc8b3b7710map"/>
			   <map name="id-ac9d1a287a9f4bd09234eecc8b3b7710map">
				  				        <area shape="rect" coords="394,118,539,167" href="../objects/id-394b77821c4e422bb07eeff79872a020.html" target="element" >

				  		        <area shape="rect" coords="394,58,539,263" href="../objects/id-32656574499d4432bb67f69e72818a87.html" target="element" >
				  				        <area shape="rect" coords="394,334,539,383" href="../objects/id-52977446ecfe4581ac420498c4e66a9e.html" target="element" >

				  		        <area shape="rect" coords="394,274,539,527" href="../objects/id-360c6d19d55442849aff1a7f9b84fdf5.html" target="element" >

				          <area shape="rect" coords="382,10,551,539" href="../objects/id-82194c359f1b488bbc69cd95ea65b39b.html" target="element" >
				  						        <area shape="rect" coords="658,490,803,539" href="../objects/id-a5590da5df3848eb8ab8006a483fdaa1.html" target="element" >

				  				        <area shape="rect" coords="658,430,851,536" href="../objects/id-90b2405d9c5d4caca1de7f941aeec89d.html" target="element" >

				  		        <area shape="rect" coords="658,346,875,539" href="../objects/id-afd048368a164215b6ec05a31f1c83b0.html" target="element" >

				          <area shape="rect" coords="658,310,923,539" href="../objects/id-a7868840138342c0a380e0b70a20638b.html" target="element" >
				  				        <area shape="rect" coords="10,94,155,143" href="../objects/id-20fd962626d14005b7661bbfd0033183.html" target="element" >
				  				        <area shape="rect" coords="10,154,155,203" href="../objects/id-3b2655d802f841048b7fec7849c26bff.html" target="element" >

				  		        <area shape="rect" coords="10,58,227,215" href="../objects/id-646f215d88bd450b8cdb1b7bbe977702.html" target="element" >
				  				        <area shape="rect" coords="10,262,155,310" href="../objects/id-196550f490064f1bae53fe1572baf814.html" target="element" >

				  		        <area shape="rect" coords="10,238,227,323" href="../objects/id-a2af15f18ebb4403b570f6e56f7c7f66.html" target="element" >
				  						        <area shape="rect" coords="10,490,155,539" href="../objects/id-0070f51bbf6249c793b0907bace8ae66.html" target="element" >

				  				        <area shape="rect" coords="10,430,203,539" href="../objects/id-ac9e7f882afc4b5cab194519b4c1c26f.html" target="element" >

				  		        <area shape="rect" coords="10,346,227,539" href="../objects/id-223dc6ae3eba498ebe936f60aab975c0.html" target="element" >

				          <area shape="rect" coords="10,10,275,539" href="../objects/id-19835b0963e4407198ed5dae2a585cff.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-19835b0963e4407198ed5dae2a585cff.html" target="element"> Sticky </a> </td>
									           <td> <a href="../objects/id-19835b0963e4407198ed5dae2a585cff.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-223dc6ae3eba498ebe936f60aab975c0.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/id-223dc6ae3eba498ebe936f60aab975c0.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-ac9e7f882afc4b5cab194519b4c1c26f.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/id-ac9e7f882afc4b5cab194519b4c1c26f.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

															        <tr>
															           <td> <a href="../objects/id-0070f51bbf6249c793b0907bace8ae66.html" target="element"> Sticky </a> </td>
															           <td> <a href="../objects/id-0070f51bbf6249c793b0907bace8ae66.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
															        </tr>

															
													
											        <tr>
											           <td> <a href="../objects/id-a2af15f18ebb4403b570f6e56f7c7f66.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/id-a2af15f18ebb4403b570f6e56f7c7f66.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-196550f490064f1bae53fe1572baf814.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/id-196550f490064f1bae53fe1572baf814.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-646f215d88bd450b8cdb1b7bbe977702.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/id-646f215d88bd450b8cdb1b7bbe977702.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-3b2655d802f841048b7fec7849c26bff.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/id-3b2655d802f841048b7fec7849c26bff.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-20fd962626d14005b7661bbfd0033183.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/id-20fd962626d14005b7661bbfd0033183.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													
											
									        <tr>
									           <td> <a href="../objects/id-a7868840138342c0a380e0b70a20638b.html" target="element"> Sticky </a> </td>
									           <td> <a href="../objects/id-a7868840138342c0a380e0b70a20638b.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-afd048368a164215b6ec05a31f1c83b0.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/id-afd048368a164215b6ec05a31f1c83b0.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-90b2405d9c5d4caca1de7f941aeec89d.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/id-90b2405d9c5d4caca1de7f941aeec89d.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

															        <tr>
															           <td> <a href="../objects/id-a5590da5df3848eb8ab8006a483fdaa1.html" target="element"> Sticky </a> </td>
															           <td> <a href="../objects/id-a5590da5df3848eb8ab8006a483fdaa1.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
															        </tr>

															
													
											
									        <tr>
									           <td> <a href="../objects/id-82194c359f1b488bbc69cd95ea65b39b.html" target="element"> Sticky </a> </td>
									           <td> <a href="../objects/id-82194c359f1b488bbc69cd95ea65b39b.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-360c6d19d55442849aff1a7f9b84fdf5.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/id-360c6d19d55442849aff1a7f9b84fdf5.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-52977446ecfe4581ac420498c4e66a9e.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/id-52977446ecfe4581ac420498c4e66a9e.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-32656574499d4432bb67f69e72818a87.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/id-32656574499d4432bb67f69e72818a87.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-394b77821c4e422bb07eeff79872a020.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/id-394b77821c4e422bb07eeff79872a020.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>