<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>AA:Prosess</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>AA:Prosess</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-c7848e472c8d4d2fa7ee90ab7cd62567.png" alt="AA:Prosess" usemap="#id-c7848e472c8d4d2fa7ee90ab7cd62567map"/>
			   <map name="id-c7848e472c8d4d2fa7ee90ab7cd62567map">
				  						<area shape="rect" coords="862,442,982,497" href="../elements/id-f12b0c3754f94079afb0928f71735827.html"  target="element">
				  						<area shape="rect" coords="862,574,982,629" href="../elements/id-0ebc46313839473880fdbab15337724b.html"  target="element">

				  				<area shape="rect" coords="838,382,1006,707" href="../elements/f3b8b440-7ae4-4d52-921f-ad061abf219a.html"  target="element">

				  		<area shape="rect" coords="790,322,1019,743" href="../elements/0ab255f5-9edd-4bc5-a954-18afa0d716f2.html"  target="element">
				  		<area shape="rect" coords="226,118,346,173" href="../elements/736ea294-96b5-4238-a1e3-837218a49f70.html"  target="element">
				  		<area shape="rect" coords="658,250,778,305" href="../elements/id-a16032513f154f958ad127b136100ed6.html"  target="element">
				  		<area shape="rect" coords="658,118,778,173" href="../elements/id-2e4e0ea6cfb64bba9a86696574afaf54.html"  target="element">
				  		<area shape="rect" coords="658,10,778,65" href="../elements/id-2f86ec9ad2fc45a0949992159e777475.html"  target="element">
				  		<area shape="rect" coords="430,250,550,305" href="../elements/id-64ed58ab00d64fd4ac8691219edb6fb6.html"  target="element">
				  		<area shape="rect" coords="430,10,550,65" href="../elements/id-9e9215a84cc54ca6971f249bebf78705.html"  target="element">
				  		<area shape="rect" coords="430,118,550,173" href="../elements/id-0e989ee5a2b84db0982c139dbcd3885f.html"  target="element">
				  		<area shape="rect" coords="10,10,130,65" href="../elements/id-c72167cfdca04dc383a5dfa58f615deb.html"  target="element">
				  		<area shape="rect" coords="10,622,130,719" href="../elements/255f945d-2e7f-4baa-80ae-493297a69462.html"  target="element">
				  		<area shape="rect" coords="430,622,550,719" href="../elements/b8913211-5401-473f-bbd9-212bec71071d.html"  target="element">
				  		<area shape="rect" coords="634,622,754,719" href="../elements/b8a307f1-c03c-45d9-a9bb-0595c662b69f.html"  target="element">
				  		<area shape="rect" coords="214,622,334,719" href="../elements/632af209-5d17-430a-80bc-e095b9df0df3.html"  target="element">
				  		<area shape="rect" coords="634,478,754,575" href="../elements/22424593-dc21-4abe-a9f3-573c888c9e12.html"  target="element">
				  		<area shape="rect" coords="10,334,130,431" href="../elements/fdb9b1b1-78e9-4795-aff6-6ff523af0c2b.html"  target="element">
				  		<area shape="rect" coords="10,118,130,215" href="../elements/a9fca6c2-5c9b-43a4-93c4-a1eef1b2d028.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/a9fca6c2-5c9b-43a4-93c4-a1eef1b2d028.html" target="element"> BP.1 Fordel anskaffelsen </a> </td>
											    <td> <a href="../elements/a9fca6c2-5c9b-43a4-93c4-a1eef1b2d028.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/fdb9b1b1-78e9-4795-aff6-6ff523af0c2b.html" target="element"> BP.12. Ferdigstill utkast p&#229; plan for anskaffelsen </a> </td>
											    <td> <a href="../elements/fdb9b1b1-78e9-4795-aff6-6ff523af0c2b.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/22424593-dc21-4abe-a9f3-573c888c9e12.html" target="element"> BP.13. Godkjenn plan </a> </td>
											    <td> <a href="../elements/22424593-dc21-4abe-a9f3-573c888c9e12.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/632af209-5d17-430a-80bc-e095b9df0df3.html" target="element"> BP.14. Implementer eventuelle endringer </a> </td>
											    <td> <a href="../elements/632af209-5d17-430a-80bc-e095b9df0df3.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b8a307f1-c03c-45d9-a9bb-0595c662b69f.html" target="element"> BP.15. Godkjenn plan </a> </td>
											    <td> <a href="../elements/b8a307f1-c03c-45d9-a9bb-0595c662b69f.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/b8913211-5401-473f-bbd9-212bec71071d.html" target="element"> BP.16a. Ferdigstill endelig plan med eventuelle endringer </a> </td>
											    <td> <a href="../elements/b8913211-5401-473f-bbd9-212bec71071d.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/255f945d-2e7f-4baa-80ae-493297a69462.html" target="element"> BP.16b. Gi innspill til plan </a> </td>
											    <td> <a href="../elements/255f945d-2e7f-4baa-80ae-493297a69462.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c72167cfdca04dc383a5dfa58f615deb.html" target="element"> Beskriv og prioriter innkj&#248;psbehov </a> </td>
											    <td> <a href="../elements/id-c72167cfdca04dc383a5dfa58f615deb.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0e989ee5a2b84db0982c139dbcd3885f.html" target="element"> Application Process </a> </td>
											    <td> <a href="../elements/id-0e989ee5a2b84db0982c139dbcd3885f.html" target="element" class="i18n-elementtype-ApplicationProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-9e9215a84cc54ca6971f249bebf78705.html" target="element"> Application Process (copy) </a> </td>
											    <td> <a href="../elements/id-9e9215a84cc54ca6971f249bebf78705.html" target="element" class="i18n-elementtype-ApplicationProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-64ed58ab00d64fd4ac8691219edb6fb6.html" target="element"> Application Process </a> </td>
											    <td> <a href="../elements/id-64ed58ab00d64fd4ac8691219edb6fb6.html" target="element" class="i18n-elementtype-ApplicationProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2f86ec9ad2fc45a0949992159e777475.html" target="element"> Data Object </a> </td>
											    <td> <a href="../elements/id-2f86ec9ad2fc45a0949992159e777475.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-2e4e0ea6cfb64bba9a86696574afaf54.html" target="element"> Data Object </a> </td>
											    <td> <a href="../elements/id-2e4e0ea6cfb64bba9a86696574afaf54.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-a16032513f154f958ad127b136100ed6.html" target="element"> Data Object  </a> </td>
											    <td> <a href="../elements/id-a16032513f154f958ad127b136100ed6.html" target="element" class="i18n-elementtype-DataObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/736ea294-96b5-4238-a1e3-837218a49f70.html" target="element"> Anskaffelsesregister </a> </td>
											    <td> <a href="../elements/736ea294-96b5-4238-a1e3-837218a49f70.html" target="element" class="i18n-elementtype-ApplicationInterface">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0ab255f5-9edd-4bc5-a954-18afa0d716f2.html" target="element"> Anskaffelser - Hovedomr&#229;de </a> </td>
											    <td> <a href="../elements/0ab255f5-9edd-4bc5-a954-18afa0d716f2.html" target="element" class="i18n-elementtype-ApplicationComponent">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/f3b8b440-7ae4-4d52-921f-ad061abf219a.html" target="element"> Anskaffelses Type 3 - Dokumentasjon </a> </td>
													    <td> <a href="../elements/f3b8b440-7ae4-4d52-921f-ad061abf219a.html" target="element" class="i18n-elementtype-ApplicationInterface">
													    </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-0ebc46313839473880fdbab15337724b.html" target="element"> Plan for anskaffelse (ferdigstilt) </a> </td>
															    <td> <a href="../elements/id-0ebc46313839473880fdbab15337724b.html" target="element" class="i18n-elementtype-DataObject">
															    </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-f12b0c3754f94079afb0928f71735827.html" target="element"> Plan for anskaffelse (generert) </a> </td>
															    <td> <a href="../elements/id-f12b0c3754f94079afb0928f71735827.html" target="element" class="i18n-elementtype-DataObject">
															    </a> </td>
															</tr>

													
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-0f99c5da1c78449286841dd45ccb67bb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0f99c5da1c78449286841dd45ccb67bb.html" target="element" class="i18n-elementtype-ServingRelationship">
																		</a> </td>
																		<td> <a href="../elements/a9fca6c2-5c9b-43a4-93c4-a1eef1b2d028.html" target="element"> BP.1 Fordel anskaffelsen </a> </td>
																		<td> <a href="../elements/fdb9b1b1-78e9-4795-aff6-6ff523af0c2b.html" target="element"> BP.12. Ferdigstill utkast p&#229; plan for anskaffelsen </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/b54c5376-bf63-45f0-9300-74bc5e3f4173.html" target="element">  </a> </td>
																		<td> <a href="../elements/b54c5376-bf63-45f0-9300-74bc5e3f4173.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/fdb9b1b1-78e9-4795-aff6-6ff523af0c2b.html" target="element"> BP.12. Ferdigstill utkast p&#229; plan for anskaffelsen </a> </td>
																		<td> <a href="../elements/22424593-dc21-4abe-a9f3-573c888c9e12.html" target="element"> BP.13. Godkjenn plan </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/c177783a-6842-4ef6-be15-eb1c1b9b229b.html" target="element"> Ved behov </a> </td>
																		<td> <a href="../elements/c177783a-6842-4ef6-be15-eb1c1b9b229b.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/22424593-dc21-4abe-a9f3-573c888c9e12.html" target="element"> BP.13. Godkjenn plan </a> </td>
																		<td> <a href="../elements/255f945d-2e7f-4baa-80ae-493297a69462.html" target="element"> BP.16b. Gi innspill til plan </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-b0097881c6a04df8970cff592d98af4c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b0097881c6a04df8970cff592d98af4c.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/22424593-dc21-4abe-a9f3-573c888c9e12.html" target="element"> BP.13. Godkjenn plan </a> </td>
																		<td> <a href="../elements/id-0ebc46313839473880fdbab15337724b.html" target="element"> Plan for anskaffelse (ferdigstilt) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/edb8b781-7488-4492-9e9c-16ea4ae3e846.html" target="element">  </a> </td>
																		<td> <a href="../elements/edb8b781-7488-4492-9e9c-16ea4ae3e846.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/632af209-5d17-430a-80bc-e095b9df0df3.html" target="element"> BP.14. Implementer eventuelle endringer </a> </td>
																		<td> <a href="../elements/b8913211-5401-473f-bbd9-212bec71071d.html" target="element"> BP.16a. Ferdigstill endelig plan med eventuelle endringer </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c5b294e7aa7f4a94b556d34c14611faa.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c5b294e7aa7f4a94b556d34c14611faa.html" target="element" class="i18n-elementtype-AccessRelationship">
																		</a> </td>
																		<td> <a href="../elements/b8a307f1-c03c-45d9-a9bb-0595c662b69f.html" target="element"> BP.15. Godkjenn plan </a> </td>
																		<td> <a href="../elements/id-0ebc46313839473880fdbab15337724b.html" target="element"> Plan for anskaffelse (ferdigstilt) </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f96406b9fac04961aa3b1ba3b4077375.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f96406b9fac04961aa3b1ba3b4077375.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/b8913211-5401-473f-bbd9-212bec71071d.html" target="element"> BP.16a. Ferdigstill endelig plan med eventuelle endringer </a> </td>
																		<td> <a href="../elements/b8a307f1-c03c-45d9-a9bb-0595c662b69f.html" target="element"> BP.15. Godkjenn plan </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-203e866a271e45d1963bc2ca1b138636.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-203e866a271e45d1963bc2ca1b138636.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/255f945d-2e7f-4baa-80ae-493297a69462.html" target="element"> BP.16b. Gi innspill til plan </a> </td>
																		<td> <a href="../elements/632af209-5d17-430a-80bc-e095b9df0df3.html" target="element"> BP.14. Implementer eventuelle endringer </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d0aa68d270954aabb2ffff194e0b9064.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d0aa68d270954aabb2ffff194e0b9064.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c72167cfdca04dc383a5dfa58f615deb.html" target="element"> Beskriv og prioriter innkj&#248;psbehov </a> </td>
																		<td> <a href="../elements/a9fca6c2-5c9b-43a4-93c4-a1eef1b2d028.html" target="element"> BP.1 Fordel anskaffelsen </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/a2f67273-cce0-4477-a481-88657004a473.html" target="element">  </a> </td>
																		<td> <a href="../elements/a2f67273-cce0-4477-a481-88657004a473.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/0ab255f5-9edd-4bc5-a954-18afa0d716f2.html" target="element"> Anskaffelser - Hovedomr&#229;de </a> </td>
																		<td> <a href="../elements/736ea294-96b5-4238-a1e3-837218a49f70.html" target="element"> Anskaffelsesregister </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/3a92b401-4f7e-4d98-b1f1-10c342951691.html" target="element">  </a> </td>
																		<td> <a href="../elements/3a92b401-4f7e-4d98-b1f1-10c342951691.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/0ab255f5-9edd-4bc5-a954-18afa0d716f2.html" target="element"> Anskaffelser - Hovedomr&#229;de </a> </td>
																		<td> <a href="../elements/f3b8b440-7ae4-4d52-921f-ad061abf219a.html" target="element"> Anskaffelses Type 3 - Dokumentasjon </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-251013c1d1b5466195708b0fbf0e87cf.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-251013c1d1b5466195708b0fbf0e87cf.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/f3b8b440-7ae4-4d52-921f-ad061abf219a.html" target="element"> Anskaffelses Type 3 - Dokumentasjon </a> </td>
																				<td> <a href="../elements/id-0ebc46313839473880fdbab15337724b.html" target="element"> Plan for anskaffelse (ferdigstilt) </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-7282ae453cc342fdb05a35e6a3e753b4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7282ae453cc342fdb05a35e6a3e753b4.html" target="element" class="i18n-elementtype-AccessRelationship">
																				</a> </td>
																				<td> <a href="../elements/f3b8b440-7ae4-4d52-921f-ad061abf219a.html" target="element"> Anskaffelses Type 3 - Dokumentasjon </a> </td>
																				<td> <a href="../elements/id-f12b0c3754f94079afb0928f71735827.html" target="element"> Plan for anskaffelse (generert) </a> </td>
																			</tr>

													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>