<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>IA: Azure</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>IA: Azure</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-elementtype-SketchModel"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-SketchModel" target="hint"></a>
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-d0f3fc6916794f0aa7670beea3b23dc4.png" alt="IA: Azure" usemap="#id-d0f3fc6916794f0aa7670beea3b23dc4map"/>
			   <map name="id-d0f3fc6916794f0aa7670beea3b23dc4map">
				  				        <area shape="rect" coords="214,478,371,512" href="../objects/id-b64c7ffdd0f44aa8b13d9a9c38f800c9.html" target="element" >

				  		        <area shape="rect" coords="70,466,1343,536" href="../objects/id-ae25fcac3789465f83f092b09420d9f9.html" target="element" >
				  						        <area shape="rect" coords="622,1186,757,1256" href="../objects/id-e85ff7d949e24261b2c5e9fa07a2dc9f.html" target="element" >

				  				        <area shape="rect" coords="94,1162,1295,1271" href="../objects/id-eca33b222cd84f5ba8d6120576dd1158.html" target="element" >
				  						        <area shape="rect" coords="358,1054,493,1124" href="../objects/id-cbd1bef4a8b144628c9827e0457c355c.html" target="element" >
				  						        <area shape="rect" coords="922,1054,1057,1124" href="../objects/id-c47b8b50ca9846ba9c89537af9f4dfa9.html" target="element" >
				  						        <area shape="rect" coords="622,646,757,716" href="../objects/id-dbbc7a58c75b4c55beefea30aafae8dc.html" target="element" >
				  								        <area shape="rect" coords="1152,970,1251,1019" href="../objects/id-6708c6f1a86648728b2bf9787a7df82c.html" target="element" >
				  								        <area shape="rect" coords="754,790,1251,860" href="../objects/id-a4d0f88af0ee42fe8921926edbf0a9b8.html" target="element" >
				  								        <area shape="rect" coords="754,970,853,1019" href="../objects/id-91acf544d7c444dc8abb1c33ab249785.html" target="element" >
				  								        <area shape="rect" coords="754,874,985,944" href="../objects/id-d059abf5d008443b9d4e0a1fc9b34807.html" target="element" >
				  								        <area shape="rect" coords="1020,874,1251,944" href="../objects/id-ac22619e9d49408888fb0f1aeb898d0a.html" target="element" >

				  						        <area shape="rect" coords="730,754,1271,1043" href="../objects/id-2fdb1b644e5540f1894563e1fdc4e290.html" target="element" >
				  								        <area shape="rect" coords="152,970,251,1019" href="../objects/id-b281b95d6450427a8458bce0bc396347.html" target="element" >
				  								        <area shape="rect" coords="152,790,649,860" href="../objects/id-3611e8559a5e4ca5a59d4248b8fb16e9.html" target="element" >
				  								        <area shape="rect" coords="538,970,637,1019" href="../objects/id-5954e8df056f4e52aa2a5ac0fe1b10d0.html" target="element" >
				  								        <area shape="rect" coords="152,874,383,944" href="../objects/id-a6a5150bd93b42028394967fac9a6506.html" target="element" >
				  								        <area shape="rect" coords="418,874,649,944" href="../objects/id-4492062845a84988aa75eaeb24f5eca4.html" target="element" >

				  						        <area shape="rect" coords="118,754,659,1043" href="../objects/id-21283bfaeda04cf3980a2bfabe94b31f.html" target="element" >

				  				        <area shape="rect" coords="94,610,1295,1151" href="../objects/id-5e2ca1702a964d28a858502c95d22b61.html" target="element" >

				  		        <area shape="rect" coords="70,562,1343,1295" href="../objects/id-39eee971dbe44d76ba78324c0df8ef50.html" target="element" >
				  				        <area shape="rect" coords="1150,178,1285,248" href="../objects/id-b6ac39e56e394e1e8ac85db525fa1f8f.html" target="element" >
				  				        <area shape="rect" coords="622,334,757,404" href="../objects/id-f2aea17fa36a4171a0fedd0f609555e1.html" target="element" >
				  				        <area shape="rect" coords="622,190,757,260" href="../objects/id-b5b41f0f557c4c75bdaaa7a1206e5ebb.html" target="element" >
				  				        <area shape="rect" coords="118,178,253,248" href="../objects/id-4cc936fe3678407cb573556823022ecc.html" target="element" >

				  		        <area shape="rect" coords="70,82,1343,443" href="../objects/id-b5d4aea6f69e449499df3f992ead0aba.html" target="element" >

				          <area shape="rect" coords="10,10,1475,1331" href="../objects/id-6d9ef09c943f44d0b7cb1749a53a9791.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-6d9ef09c943f44d0b7cb1749a53a9791.html" target="element"> Sticky </a> </td>
									           <td> <a href="../objects/id-6d9ef09c943f44d0b7cb1749a53a9791.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-b5d4aea6f69e449499df3f992ead0aba.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/id-b5d4aea6f69e449499df3f992ead0aba.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-4cc936fe3678407cb573556823022ecc.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/id-4cc936fe3678407cb573556823022ecc.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-b5b41f0f557c4c75bdaaa7a1206e5ebb.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/id-b5b41f0f557c4c75bdaaa7a1206e5ebb.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-f2aea17fa36a4171a0fedd0f609555e1.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/id-f2aea17fa36a4171a0fedd0f609555e1.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-b6ac39e56e394e1e8ac85db525fa1f8f.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/id-b6ac39e56e394e1e8ac85db525fa1f8f.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													
											        <tr>
											           <td> <a href="../objects/id-39eee971dbe44d76ba78324c0df8ef50.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/id-39eee971dbe44d76ba78324c0df8ef50.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-5e2ca1702a964d28a858502c95d22b61.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/id-5e2ca1702a964d28a858502c95d22b61.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

															        <tr>
															           <td> <a href="../objects/id-21283bfaeda04cf3980a2bfabe94b31f.html" target="element"> Sticky </a> </td>
															           <td> <a href="../objects/id-21283bfaeda04cf3980a2bfabe94b31f.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
															        </tr>

																	        <tr>
																	           <td> <a href="../objects/id-4492062845a84988aa75eaeb24f5eca4.html" target="element"> Sticky </a> </td>
																	           <td> <a href="../objects/id-4492062845a84988aa75eaeb24f5eca4.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
																	        </tr>

																	        <tr>
																	           <td> <a href="../objects/id-a6a5150bd93b42028394967fac9a6506.html" target="element"> Sticky </a> </td>
																	           <td> <a href="../objects/id-a6a5150bd93b42028394967fac9a6506.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
																	        </tr>

																	        <tr>
																	           <td> <a href="../objects/id-5954e8df056f4e52aa2a5ac0fe1b10d0.html" target="element"> Sticky </a> </td>
																	           <td> <a href="../objects/id-5954e8df056f4e52aa2a5ac0fe1b10d0.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
																	        </tr>

																	        <tr>
																	           <td> <a href="../objects/id-3611e8559a5e4ca5a59d4248b8fb16e9.html" target="element"> Sticky </a> </td>
																	           <td> <a href="../objects/id-3611e8559a5e4ca5a59d4248b8fb16e9.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
																	        </tr>

																	        <tr>
																	           <td> <a href="../objects/id-b281b95d6450427a8458bce0bc396347.html" target="element"> Sticky </a> </td>
																	           <td> <a href="../objects/id-b281b95d6450427a8458bce0bc396347.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
																	        </tr>

																	
															        <tr>
															           <td> <a href="../objects/id-2fdb1b644e5540f1894563e1fdc4e290.html" target="element"> Sticky </a> </td>
															           <td> <a href="../objects/id-2fdb1b644e5540f1894563e1fdc4e290.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
															        </tr>

																	        <tr>
																	           <td> <a href="../objects/id-ac22619e9d49408888fb0f1aeb898d0a.html" target="element"> Sticky </a> </td>
																	           <td> <a href="../objects/id-ac22619e9d49408888fb0f1aeb898d0a.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
																	        </tr>

																	        <tr>
																	           <td> <a href="../objects/id-d059abf5d008443b9d4e0a1fc9b34807.html" target="element"> Sticky </a> </td>
																	           <td> <a href="../objects/id-d059abf5d008443b9d4e0a1fc9b34807.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
																	        </tr>

																	        <tr>
																	           <td> <a href="../objects/id-91acf544d7c444dc8abb1c33ab249785.html" target="element"> Sticky </a> </td>
																	           <td> <a href="../objects/id-91acf544d7c444dc8abb1c33ab249785.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
																	        </tr>

																	        <tr>
																	           <td> <a href="../objects/id-a4d0f88af0ee42fe8921926edbf0a9b8.html" target="element"> Sticky </a> </td>
																	           <td> <a href="../objects/id-a4d0f88af0ee42fe8921926edbf0a9b8.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
																	        </tr>

																	        <tr>
																	           <td> <a href="../objects/id-6708c6f1a86648728b2bf9787a7df82c.html" target="element"> Sticky </a> </td>
																	           <td> <a href="../objects/id-6708c6f1a86648728b2bf9787a7df82c.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
																	        </tr>

																	
															        <tr>
															           <td> <a href="../objects/id-dbbc7a58c75b4c55beefea30aafae8dc.html" target="element"> Sticky </a> </td>
															           <td> <a href="../objects/id-dbbc7a58c75b4c55beefea30aafae8dc.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
															        </tr>

															        <tr>
															           <td> <a href="../objects/id-c47b8b50ca9846ba9c89537af9f4dfa9.html" target="element"> Sticky </a> </td>
															           <td> <a href="../objects/id-c47b8b50ca9846ba9c89537af9f4dfa9.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
															        </tr>

															        <tr>
															           <td> <a href="../objects/id-cbd1bef4a8b144628c9827e0457c355c.html" target="element"> Sticky </a> </td>
															           <td> <a href="../objects/id-cbd1bef4a8b144628c9827e0457c355c.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
															        </tr>

															
													        <tr>
													           <td> <a href="../objects/id-eca33b222cd84f5ba8d6120576dd1158.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/id-eca33b222cd84f5ba8d6120576dd1158.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

															        <tr>
															           <td> <a href="../objects/id-e85ff7d949e24261b2c5e9fa07a2dc9f.html" target="element"> Sticky </a> </td>
															           <td> <a href="../objects/id-e85ff7d949e24261b2c5e9fa07a2dc9f.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
															        </tr>

															
													
											        <tr>
											           <td> <a href="../objects/id-ae25fcac3789465f83f092b09420d9f9.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/id-ae25fcac3789465f83f092b09420d9f9.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-b64c7ffdd0f44aa8b13d9a9c38f800c9.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/id-b64c7ffdd0f44aa8b13d9a9c38f800c9.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																			<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																			<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																			<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																			<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																			<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																	
																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																			<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																			<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																			<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																			<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																			<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																	
																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															
													
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>