<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>IKT-Tjenestestyring</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>IKT-Tjenestestyring</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-e6196c1ce09d4a4bb6731760d13307fd.png" alt="IKT-Tjenestestyring" usemap="#id-e6196c1ce09d4a4bb6731760d13307fdmap"/>
			   <map name="id-e6196c1ce09d4a4bb6731760d13307fdmap">
				  		<area shape="rect" coords="520,10,857,65" href="../elements/0e0263bf-8a0e-4891-81f4-ff880fb56b18.html"  target="element">
				  		<area shape="rect" coords="16,10,173,65" href="../elements/037f7ab1-1bb7-43b8-8c99-f3621f57127c.html"  target="element">
				  		<area shape="rect" coords="184,10,509,65" href="../elements/a7729be1-115e-41d2-b87d-ea6881b0c366.html"  target="element">
				  				<area shape="rect" coords="707,430,827,485" href="../elements/id-f7daea36e73f4e22ac5358a728cfe591.html"  target="element">
				  				<area shape="rect" coords="682,130,851,335" href="../elements/id-7790679597bd4d5eae7fddd61de836db.html"  target="element">
				  				<area shape="rect" coords="706,346,826,401" href="../elements/id-2f0ebeec026248d7a7ad20571e43da91.html"  target="element">

				  		<area shape="rect" coords="682,94,851,1007" href="../elements/id-4de714011e3743698f524b55bc6f1d0a.html"  target="element">
				  				<area shape="rect" coords="514,130,683,335" href="../elements/id-b2a48eda115346c7b23123b65946960b.html"  target="element">
				  				<area shape="rect" coords="538,598,658,653" href="../elements/60f0584f-94f7-4862-a18c-f6ac52f4b8d2.html"  target="element">
				  				<area shape="rect" coords="538,850,658,905" href="../elements/id-09e86047e81e4eae913f4eda839a9913.html"  target="element">
				  				<area shape="rect" coords="538,766,658,821" href="../elements/id-98cc5d631e394a228abf02b5e2bbb32d.html"  target="element">
				  				<area shape="rect" coords="538,682,658,737" href="../elements/id-568fec1a4e754a6fbe1aca42b762c325.html"  target="element">
				  				<area shape="rect" coords="538,514,658,569" href="../elements/id-5a79a7c658d74bfba2b3ca485975ac1f.html"  target="element">
				  				<area shape="rect" coords="538,430,658,485" href="../elements/id-33756e18e319416da1ed723e59b5cd00.html"  target="element">
				  				<area shape="rect" coords="538,346,658,401" href="../elements/id-29ec16acc3524bbeaf23e83412f9779d.html"  target="element">

				  		<area shape="rect" coords="514,94,683,1007" href="../elements/id-0ba6cc4f3dee47a9ab194222c04a011f.html"  target="element">
				  				<area shape="rect" coords="346,130,503,335" href="../elements/id-35449a1e04c84966831a8d28e7dd890a.html"  target="element">
				  				<area shape="rect" coords="370,766,490,821" href="../elements/id-55372618f84b48bb9fb28c5a0cbb7060.html"  target="element">
				  				<area shape="rect" coords="370,682,490,737" href="../elements/id-ad5135758dac48938ca35adafd323c7d.html"  target="element">
				  				<area shape="rect" coords="370,598,490,653" href="../elements/id-86b971676e2a4361b2f5f4c24389c01d.html"  target="element">
				  				<area shape="rect" coords="370,346,490,401" href="../elements/id-97012ed3c77a461f923ae93bc759a701.html"  target="element">
				  				<area shape="rect" coords="370,430,490,485" href="../elements/id-88f505927b044d7d8c8dcd9ee1cfbefa.html"  target="element">
				  				<area shape="rect" coords="370,514,490,569" href="../elements/a96ca088-b87d-41e2-b705-a3e9790ec58f.html"  target="element">

				  		<area shape="rect" coords="346,94,503,1007" href="../elements/id-aaa80959e34447efaa80d3142d8757ee.html"  target="element">
				  				<area shape="rect" coords="190,130,347,335" href="../elements/id-03d641af4bca4372b76b5a3dc7c2d88a.html"  target="element">
				  				<area shape="rect" coords="214,934,334,989" href="../elements/id-22af3161b6df406b917c3d7da323385a.html"  target="element">
				  				<area shape="rect" coords="214,850,334,905" href="../elements/id-2f0ebeec026248d7a7ad20571e43da91.html"  target="element">
				  				<area shape="rect" coords="214,766,334,821" href="../elements/id-3000491dee3c48558c13cd8eb7223695.html"  target="element">
				  				<area shape="rect" coords="214,682,334,737" href="../elements/id-18b489176cbe4d40a4c1d598c99386b2.html"  target="element">
				  				<area shape="rect" coords="214,598,334,653" href="../elements/id-bc96fd87752947eebb7b499e3f65c7d7.html"  target="element">
				  				<area shape="rect" coords="214,514,334,569" href="../elements/id-98cc5d631e394a228abf02b5e2bbb32d.html"  target="element">
				  				<area shape="rect" coords="214,430,334,485" href="../elements/c1230933-88f1-48c8-80a7-60a56bd9d40b.html"  target="element">
				  				<area shape="rect" coords="214,346,334,401" href="../elements/id-a376e9647d0e4a2b9fc724cfd25ba948.html"  target="element">

				  		<area shape="rect" coords="190,94,359,1007" href="../elements/id-9de00466e85746ada2557bddf217fe36.html"  target="element">
				  				<area shape="rect" coords="10,130,179,335" href="../elements/id-f7ef94c095fb4214a6f55aa35b57f4dc.html"  target="element">
				  				<area shape="rect" coords="35,670,155,725" href="../elements/207b7adc-ef90-44a7-8021-d75156b9370c.html"  target="element">
				  				<area shape="rect" coords="34,514,154,569" href="../elements/b1ecab9a-852a-4354-ba30-013facfeac6e.html"  target="element">
				  				<area shape="rect" coords="35,598,155,653" href="../elements/6692ae8a-964c-4334-8161-b99afe8f6c5e.html"  target="element">
				  				<area shape="rect" coords="34,346,154,401" href="../elements/68954305-c4b0-4846-87f9-9619c21c6ac6.html"  target="element">
				  				<area shape="rect" coords="34,430,154,485" href="../elements/b04cd7a7-9d7a-4a62-9e93-253df39b6eb5.html"  target="element">

				  		<area shape="rect" coords="10,94,179,1007" href="../elements/id-c80af346f57e4a6b920c6d0b13d48962.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-c80af346f57e4a6b920c6d0b13d48962.html" target="element"> Service Strategy </a> </td>
											    <td> <a href="../elements/id-c80af346f57e4a6b920c6d0b13d48962.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/b04cd7a7-9d7a-4a62-9e93-253df39b6eb5.html" target="element"> ITIL Tjenesteniv&#229; og leverand&#248;rstyring </a> </td>
													    <td> <a href="../elements/b04cd7a7-9d7a-4a62-9e93-253df39b6eb5.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/68954305-c4b0-4846-87f9-9619c21c6ac6.html" target="element"> ITIL Digital strategi </a> </td>
													    <td> <a href="../elements/68954305-c4b0-4846-87f9-9619c21c6ac6.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/6692ae8a-964c-4334-8161-b99afe8f6c5e.html" target="element"> ITIL Budsjettstyring </a> </td>
													    <td> <a href="../elements/6692ae8a-964c-4334-8161-b99afe8f6c5e.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/b1ecab9a-852a-4354-ba30-013facfeac6e.html" target="element"> ITIL Portef&#248;ljestyring </a> </td>
													    <td> <a href="../elements/b1ecab9a-852a-4354-ba30-013facfeac6e.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/207b7adc-ef90-44a7-8021-d75156b9370c.html" target="element"> ITIL Ressursstyring </a> </td>
													    <td> <a href="../elements/207b7adc-ef90-44a7-8021-d75156b9370c.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f7ef94c095fb4214a6f55aa35b57f4dc.html" target="element"> Process Objective: To decide on a strategy to serve customers. Starting from an assessment of customer needs and the market place, the Service Strategy process determines which services the IT organization is to offer and what capabilities need to be developed. Its ultimate goal is to make the IT organization think and act in a strategic manner. </a> </td>
													    <td> <a href="../elements/id-f7ef94c095fb4214a6f55aa35b57f4dc.html" target="element" class="i18n-elementtype-Driver">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-9de00466e85746ada2557bddf217fe36.html" target="element"> Service Design </a> </td>
											    <td> <a href="../elements/id-9de00466e85746ada2557bddf217fe36.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-a376e9647d0e4a2b9fc724cfd25ba948.html" target="element"> ITIL SD Availability Management </a> </td>
													    <td> <a href="../elements/id-a376e9647d0e4a2b9fc724cfd25ba948.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/c1230933-88f1-48c8-80a7-60a56bd9d40b.html" target="element"> ITIL Informasjonssikkerhetsstyring </a> </td>
													    <td> <a href="../elements/c1230933-88f1-48c8-80a7-60a56bd9d40b.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-98cc5d631e394a228abf02b5e2bbb32d.html" target="element"> ITIL SO Service Level Management </a> </td>
													    <td> <a href="../elements/id-98cc5d631e394a228abf02b5e2bbb32d.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bc96fd87752947eebb7b499e3f65c7d7.html" target="element"> ITIL SD Service Capacity Management </a> </td>
													    <td> <a href="../elements/id-bc96fd87752947eebb7b499e3f65c7d7.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-18b489176cbe4d40a4c1d598c99386b2.html" target="element"> ITIL SD Design Coordination </a> </td>
													    <td> <a href="../elements/id-18b489176cbe4d40a4c1d598c99386b2.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-3000491dee3c48558c13cd8eb7223695.html" target="element"> ITIL SD Supplier Management </a> </td>
													    <td> <a href="../elements/id-3000491dee3c48558c13cd8eb7223695.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-2f0ebeec026248d7a7ad20571e43da91.html" target="element"> ITIL SD Service Continuity Management </a> </td>
													    <td> <a href="../elements/id-2f0ebeec026248d7a7ad20571e43da91.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-22af3161b6df406b917c3d7da323385a.html" target="element"> Service Catalog Management </a> </td>
													    <td> <a href="../elements/id-22af3161b6df406b917c3d7da323385a.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-03d641af4bca4372b76b5a3dc7c2d88a.html" target="element"> Process Objective: To design new IT services. The scope of the process includes the design of new services, as well as changes and improvements to existing ones. </a> </td>
													    <td> <a href="../elements/id-03d641af4bca4372b76b5a3dc7c2d88a.html" target="element" class="i18n-elementtype-Driver">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-aaa80959e34447efaa80d3142d8757ee.html" target="element"> Service Transition </a> </td>
											    <td> <a href="../elements/id-aaa80959e34447efaa80d3142d8757ee.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/a96ca088-b87d-41e2-b705-a3e9790ec58f.html" target="element"> ITIL SO Service Request fulfilment </a> </td>
													    <td> <a href="../elements/a96ca088-b87d-41e2-b705-a3e9790ec58f.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-88f505927b044d7d8c8dcd9ee1cfbefa.html" target="element"> ITIL Leveransestyring </a> </td>
													    <td> <a href="../elements/id-88f505927b044d7d8c8dcd9ee1cfbefa.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-97012ed3c77a461f923ae93bc759a701.html" target="element"> ITIL ST Change Evaluation </a> </td>
													    <td> <a href="../elements/id-97012ed3c77a461f923ae93bc759a701.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-86b971676e2a4361b2f5f4c24389c01d.html" target="element"> ITIL ST Knowledge Management </a> </td>
													    <td> <a href="../elements/id-86b971676e2a4361b2f5f4c24389c01d.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-ad5135758dac48938ca35adafd323c7d.html" target="element"> ITIL ST Transition Planning and SUpport </a> </td>
													    <td> <a href="../elements/id-ad5135758dac48938ca35adafd323c7d.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-55372618f84b48bb9fb28c5a0cbb7060.html" target="element"> ITIL ST Service Validation and Testing </a> </td>
													    <td> <a href="../elements/id-55372618f84b48bb9fb28c5a0cbb7060.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-35449a1e04c84966831a8d28e7dd890a.html" target="element"> Process Objective: To build and deploy IT services. Service Transition also makes sure that changes to services and Service Management processes are carried out in a coordinated way. </a> </td>
													    <td> <a href="../elements/id-35449a1e04c84966831a8d28e7dd890a.html" target="element" class="i18n-elementtype-Driver">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-0ba6cc4f3dee47a9ab194222c04a011f.html" target="element"> Service Operations </a> </td>
											    <td> <a href="../elements/id-0ba6cc4f3dee47a9ab194222c04a011f.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-29ec16acc3524bbeaf23e83412f9779d.html" target="element"> ITIL SO Incident Management </a> </td>
													    <td> <a href="../elements/id-29ec16acc3524bbeaf23e83412f9779d.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-33756e18e319416da1ed723e59b5cd00.html" target="element"> ITIL SO Event Management </a> </td>
													    <td> <a href="../elements/id-33756e18e319416da1ed723e59b5cd00.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-5a79a7c658d74bfba2b3ca485975ac1f.html" target="element"> ITIL SO Access Management </a> </td>
													    <td> <a href="../elements/id-5a79a7c658d74bfba2b3ca485975ac1f.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-568fec1a4e754a6fbe1aca42b762c325.html" target="element"> ITIL SO Problem Management </a> </td>
													    <td> <a href="../elements/id-568fec1a4e754a6fbe1aca42b762c325.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-98cc5d631e394a228abf02b5e2bbb32d.html" target="element"> ITIL SO Service Level Management </a> </td>
													    <td> <a href="../elements/id-98cc5d631e394a228abf02b5e2bbb32d.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-09e86047e81e4eae913f4eda839a9913.html" target="element"> ITIL ST Service Assets &amp; Configuration Management </a> </td>
													    <td> <a href="../elements/id-09e86047e81e4eae913f4eda839a9913.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/60f0584f-94f7-4862-a18c-f6ac52f4b8d2.html" target="element"> ITIL Endringsstyring </a> </td>
													    <td> <a href="../elements/60f0584f-94f7-4862-a18c-f6ac52f4b8d2.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-b2a48eda115346c7b23123b65946960b.html" target="element"> Process Objective: To make sure that IT services are delivered effectively and efficiently. The Service Operation process includes fulfilling user requests, resolving service failures, fixing problems, as well as carrying out routine operational tasks. </a> </td>
													    <td> <a href="../elements/id-b2a48eda115346c7b23123b65946960b.html" target="element" class="i18n-elementtype-Driver">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-4de714011e3743698f524b55bc6f1d0a.html" target="element"> Service Continous Improvement </a> </td>
											    <td> <a href="../elements/id-4de714011e3743698f524b55bc6f1d0a.html" target="element" class="i18n-elementtype-Grouping">
											    </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-2f0ebeec026248d7a7ad20571e43da91.html" target="element"> ITIL SD Service Continuity Management </a> </td>
													    <td> <a href="../elements/id-2f0ebeec026248d7a7ad20571e43da91.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-7790679597bd4d5eae7fddd61de836db.html" target="element"> Process Objective: To use methods from quality management in order to learn from past successes and failures. The Continual Service Improvement process aims to continually improve the effectiveness and efficiency of IT processes and services, in line with the concept of continual improvement adopted in ISO 20000. </a> </td>
													    <td> <a href="../elements/id-7790679597bd4d5eae7fddd61de836db.html" target="element" class="i18n-elementtype-Driver">
													    </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f7daea36e73f4e22ac5358a728cfe591.html" target="element"> Application Lifecycle Management </a> </td>
													    <td> <a href="../elements/id-f7daea36e73f4e22ac5358a728cfe591.html" target="element" class="i18n-elementtype-BusinessProcess">
													    </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/a7729be1-115e-41d2-b87d-ea6881b0c366.html" target="element"> Prosessansvarlig </a> </td>
											    <td> <a href="../elements/a7729be1-115e-41d2-b87d-ea6881b0c366.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/037f7ab1-1bb7-43b8-8c99-f3621f57127c.html" target="element"> Prosesseier </a> </td>
											    <td> <a href="../elements/037f7ab1-1bb7-43b8-8c99-f3621f57127c.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/0e0263bf-8a0e-4891-81f4-ff880fb56b18.html" target="element"> Prosessledelse </a> </td>
											    <td> <a href="../elements/0e0263bf-8a0e-4891-81f4-ff880fb56b18.html" target="element" class="i18n-elementtype-BusinessRole">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-c10d36b44aac43148c7832a3fa93bc54.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c10d36b44aac43148c7832a3fa93bc54.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c80af346f57e4a6b920c6d0b13d48962.html" target="element"> Service Strategy </a> </td>
																		<td> <a href="../elements/b04cd7a7-9d7a-4a62-9e93-253df39b6eb5.html" target="element"> ITIL Tjenesteniv&#229; og leverand&#248;rstyring </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6103f380ec544c21909e5331495dbfe1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6103f380ec544c21909e5331495dbfe1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c80af346f57e4a6b920c6d0b13d48962.html" target="element"> Service Strategy </a> </td>
																		<td> <a href="../elements/68954305-c4b0-4846-87f9-9619c21c6ac6.html" target="element"> ITIL Digital strategi </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-345d7040b1764102a9fbaec6ab4f1706.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-345d7040b1764102a9fbaec6ab4f1706.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c80af346f57e4a6b920c6d0b13d48962.html" target="element"> Service Strategy </a> </td>
																		<td> <a href="../elements/6692ae8a-964c-4334-8161-b99afe8f6c5e.html" target="element"> ITIL Budsjettstyring </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-601196cc128e45b89a48e5831f98d9f2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-601196cc128e45b89a48e5831f98d9f2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c80af346f57e4a6b920c6d0b13d48962.html" target="element"> Service Strategy </a> </td>
																		<td> <a href="../elements/b1ecab9a-852a-4354-ba30-013facfeac6e.html" target="element"> ITIL Portef&#248;ljestyring </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3455359b282e4183b067ff66da28ecab.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3455359b282e4183b067ff66da28ecab.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c80af346f57e4a6b920c6d0b13d48962.html" target="element"> Service Strategy </a> </td>
																		<td> <a href="../elements/207b7adc-ef90-44a7-8021-d75156b9370c.html" target="element"> ITIL Ressursstyring </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a463016684d94dfe9115095d169b3b9d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a463016684d94dfe9115095d169b3b9d.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-c80af346f57e4a6b920c6d0b13d48962.html" target="element"> Service Strategy </a> </td>
																		<td> <a href="../elements/id-f7ef94c095fb4214a6f55aa35b57f4dc.html" target="element"> Process Objective: To decide on a strategy to serve customers. Starting from an assessment of customer needs and the market place, the Service Strategy process determines which services the IT organization is to offer and what capabilities need to be developed. Its ultimate goal is to make the IT organization think and act in a strategic manner. </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/474fca67-ad3c-4420-8537-dff33a493672.html" target="element">  </a> </td>
																				<td> <a href="../elements/474fca67-ad3c-4420-8537-dff33a493672.html" target="element" class="i18n-elementtype-FlowRelationship">
																				</a> </td>
																				<td> <a href="../elements/b1ecab9a-852a-4354-ba30-013facfeac6e.html" target="element"> ITIL Portef&#248;ljestyring </a> </td>
																				<td> <a href="../elements/c1230933-88f1-48c8-80a7-60a56bd9d40b.html" target="element"> ITIL Informasjonssikkerhetsstyring </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/35b9f38a-c14b-4b3e-8d2e-339677c90533.html" target="element">  </a> </td>
																				<td> <a href="../elements/35b9f38a-c14b-4b3e-8d2e-339677c90533.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/b1ecab9a-852a-4354-ba30-013facfeac6e.html" target="element"> ITIL Portef&#248;ljestyring </a> </td>
																				<td> <a href="../elements/60f0584f-94f7-4862-a18c-f6ac52f4b8d2.html" target="element"> ITIL Endringsstyring </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-39b38f3ed19844d3a519802f481d91ed.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-39b38f3ed19844d3a519802f481d91ed.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9de00466e85746ada2557bddf217fe36.html" target="element"> Service Design </a> </td>
																		<td> <a href="../elements/id-a376e9647d0e4a2b9fc724cfd25ba948.html" target="element"> ITIL SD Availability Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fda3cd8d8a3b4f28b8829b85a6f77421.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fda3cd8d8a3b4f28b8829b85a6f77421.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9de00466e85746ada2557bddf217fe36.html" target="element"> Service Design </a> </td>
																		<td> <a href="../elements/c1230933-88f1-48c8-80a7-60a56bd9d40b.html" target="element"> ITIL Informasjonssikkerhetsstyring </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fcb8aaf586d24c6d979cadb00868a166.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fcb8aaf586d24c6d979cadb00868a166.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9de00466e85746ada2557bddf217fe36.html" target="element"> Service Design </a> </td>
																		<td> <a href="../elements/id-98cc5d631e394a228abf02b5e2bbb32d.html" target="element"> ITIL SO Service Level Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-723f158a53ce4220874041e1e44058ce.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-723f158a53ce4220874041e1e44058ce.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9de00466e85746ada2557bddf217fe36.html" target="element"> Service Design </a> </td>
																		<td> <a href="../elements/id-bc96fd87752947eebb7b499e3f65c7d7.html" target="element"> ITIL SD Service Capacity Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-46f982bbe9a44dca8405bdf302be078b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-46f982bbe9a44dca8405bdf302be078b.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9de00466e85746ada2557bddf217fe36.html" target="element"> Service Design </a> </td>
																		<td> <a href="../elements/id-18b489176cbe4d40a4c1d598c99386b2.html" target="element"> ITIL SD Design Coordination </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3fad608e5b494b4f888b29d1bade2d61.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3fad608e5b494b4f888b29d1bade2d61.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9de00466e85746ada2557bddf217fe36.html" target="element"> Service Design </a> </td>
																		<td> <a href="../elements/id-3000491dee3c48558c13cd8eb7223695.html" target="element"> ITIL SD Supplier Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c6fbab6a09f04dc88f323e708ae2501c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c6fbab6a09f04dc88f323e708ae2501c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9de00466e85746ada2557bddf217fe36.html" target="element"> Service Design </a> </td>
																		<td> <a href="../elements/id-2f0ebeec026248d7a7ad20571e43da91.html" target="element"> ITIL SD Service Continuity Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ac78fca076494280a20a82bb6a5e591a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ac78fca076494280a20a82bb6a5e591a.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9de00466e85746ada2557bddf217fe36.html" target="element"> Service Design </a> </td>
																		<td> <a href="../elements/id-22af3161b6df406b917c3d7da323385a.html" target="element"> Service Catalog Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-544176b6899d47bda50cc97fcb6db807.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-544176b6899d47bda50cc97fcb6db807.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-9de00466e85746ada2557bddf217fe36.html" target="element"> Service Design </a> </td>
																		<td> <a href="../elements/id-03d641af4bca4372b76b5a3dc7c2d88a.html" target="element"> Process Objective: To design new IT services. The scope of the process includes the design of new services, as well as changes and improvements to existing ones. </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/c691b8ba-8a12-4ed3-a0b0-2421b551d2ac.html" target="element">  </a> </td>
																				<td> <a href="../elements/c691b8ba-8a12-4ed3-a0b0-2421b551d2ac.html" target="element" class="i18n-elementtype-ServingRelationship">
																				</a> </td>
																				<td> <a href="../elements/c1230933-88f1-48c8-80a7-60a56bd9d40b.html" target="element"> ITIL Informasjonssikkerhetsstyring </a> </td>
																				<td> <a href="../elements/a96ca088-b87d-41e2-b705-a3e9790ec58f.html" target="element"> ITIL SO Service Request fulfilment </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/f1cf6577-a507-48e3-b3c4-0558c9fbefaf.html" target="element">  </a> </td>
																				<td> <a href="../elements/f1cf6577-a507-48e3-b3c4-0558c9fbefaf.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/c1230933-88f1-48c8-80a7-60a56bd9d40b.html" target="element"> ITIL Informasjonssikkerhetsstyring </a> </td>
																				<td> <a href="../elements/60f0584f-94f7-4862-a18c-f6ac52f4b8d2.html" target="element"> ITIL Endringsstyring </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-1d2c6642c231414bbb4763fadfb70be2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1d2c6642c231414bbb4763fadfb70be2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-aaa80959e34447efaa80d3142d8757ee.html" target="element"> Service Transition </a> </td>
																		<td> <a href="../elements/a96ca088-b87d-41e2-b705-a3e9790ec58f.html" target="element"> ITIL SO Service Request fulfilment </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c1a67167c2654c92b407065044c2639f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c1a67167c2654c92b407065044c2639f.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-aaa80959e34447efaa80d3142d8757ee.html" target="element"> Service Transition </a> </td>
																		<td> <a href="../elements/id-88f505927b044d7d8c8dcd9ee1cfbefa.html" target="element"> ITIL Leveransestyring </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6a1c202f41514c8eb7df2e9b499c38ac.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6a1c202f41514c8eb7df2e9b499c38ac.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-aaa80959e34447efaa80d3142d8757ee.html" target="element"> Service Transition </a> </td>
																		<td> <a href="../elements/id-97012ed3c77a461f923ae93bc759a701.html" target="element"> ITIL ST Change Evaluation </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-76c2de443be64b83876f63b664424021.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-76c2de443be64b83876f63b664424021.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-aaa80959e34447efaa80d3142d8757ee.html" target="element"> Service Transition </a> </td>
																		<td> <a href="../elements/id-86b971676e2a4361b2f5f4c24389c01d.html" target="element"> ITIL ST Knowledge Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6a02262e43ad42d9901ead13a380baf1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6a02262e43ad42d9901ead13a380baf1.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-aaa80959e34447efaa80d3142d8757ee.html" target="element"> Service Transition </a> </td>
																		<td> <a href="../elements/id-ad5135758dac48938ca35adafd323c7d.html" target="element"> ITIL ST Transition Planning and SUpport </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f72f1a5634874927a081b3662ec7d1a5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f72f1a5634874927a081b3662ec7d1a5.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-aaa80959e34447efaa80d3142d8757ee.html" target="element"> Service Transition </a> </td>
																		<td> <a href="../elements/id-55372618f84b48bb9fb28c5a0cbb7060.html" target="element"> ITIL ST Service Validation and Testing </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-03a92abf7d8a4f799508f6056ce9d9bc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-03a92abf7d8a4f799508f6056ce9d9bc.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-aaa80959e34447efaa80d3142d8757ee.html" target="element"> Service Transition </a> </td>
																		<td> <a href="../elements/id-35449a1e04c84966831a8d28e7dd890a.html" target="element"> Process Objective: To build and deploy IT services. Service Transition also makes sure that changes to services and Service Management processes are carried out in a coordinated way. </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-d9b5f28827c24f04926b868d6e94e6eb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d9b5f28827c24f04926b868d6e94e6eb.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0ba6cc4f3dee47a9ab194222c04a011f.html" target="element"> Service Operations </a> </td>
																		<td> <a href="../elements/id-29ec16acc3524bbeaf23e83412f9779d.html" target="element"> ITIL SO Incident Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c905a05c942a458487c875d36c9297c2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c905a05c942a458487c875d36c9297c2.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0ba6cc4f3dee47a9ab194222c04a011f.html" target="element"> Service Operations </a> </td>
																		<td> <a href="../elements/id-33756e18e319416da1ed723e59b5cd00.html" target="element"> ITIL SO Event Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-fcd4fed71a57430f83374291fc03c108.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-fcd4fed71a57430f83374291fc03c108.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0ba6cc4f3dee47a9ab194222c04a011f.html" target="element"> Service Operations </a> </td>
																		<td> <a href="../elements/id-5a79a7c658d74bfba2b3ca485975ac1f.html" target="element"> ITIL SO Access Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a18c029ddf4d41fe8c1cc641385c0402.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a18c029ddf4d41fe8c1cc641385c0402.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0ba6cc4f3dee47a9ab194222c04a011f.html" target="element"> Service Operations </a> </td>
																		<td> <a href="../elements/id-568fec1a4e754a6fbe1aca42b762c325.html" target="element"> ITIL SO Problem Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9630c178e7114852a0cca1723c8ad91e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9630c178e7114852a0cca1723c8ad91e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0ba6cc4f3dee47a9ab194222c04a011f.html" target="element"> Service Operations </a> </td>
																		<td> <a href="../elements/id-98cc5d631e394a228abf02b5e2bbb32d.html" target="element"> ITIL SO Service Level Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a2533f0b32a749a2805bc100dc21c6d9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a2533f0b32a749a2805bc100dc21c6d9.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0ba6cc4f3dee47a9ab194222c04a011f.html" target="element"> Service Operations </a> </td>
																		<td> <a href="../elements/id-09e86047e81e4eae913f4eda839a9913.html" target="element"> ITIL ST Service Assets &amp; Configuration Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9630c178e7114852a0cca1723c8ad91e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9630c178e7114852a0cca1723c8ad91e.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0ba6cc4f3dee47a9ab194222c04a011f.html" target="element"> Service Operations </a> </td>
																		<td> <a href="../elements/id-98cc5d631e394a228abf02b5e2bbb32d.html" target="element"> ITIL SO Service Level Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-cf79c725a7e84f9ead13ca611550181c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-cf79c725a7e84f9ead13ca611550181c.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0ba6cc4f3dee47a9ab194222c04a011f.html" target="element"> Service Operations </a> </td>
																		<td> <a href="../elements/60f0584f-94f7-4862-a18c-f6ac52f4b8d2.html" target="element"> ITIL Endringsstyring </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-28f8f8991d5e463980d4b6c8f241df73.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-28f8f8991d5e463980d4b6c8f241df73.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-0ba6cc4f3dee47a9ab194222c04a011f.html" target="element"> Service Operations </a> </td>
																		<td> <a href="../elements/id-b2a48eda115346c7b23123b65946960b.html" target="element"> Process Objective: To make sure that IT services are delivered effectively and efficiently. The Service Operation process includes fulfilling user requests, resolving service failures, fixing problems, as well as carrying out routine operational tasks. </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/0879211a-4af6-4e7d-9f3a-da12fac277fe.html" target="element">  </a> </td>
																				<td> <a href="../elements/0879211a-4af6-4e7d-9f3a-da12fac277fe.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																				</a> </td>
																				<td> <a href="../elements/60f0584f-94f7-4862-a18c-f6ac52f4b8d2.html" target="element"> ITIL Endringsstyring </a> </td>
																				<td> <a href="../elements/a96ca088-b87d-41e2-b705-a3e9790ec58f.html" target="element"> ITIL SO Service Request fulfilment </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-51da99a12adf477cb6711bfaf14086cf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-51da99a12adf477cb6711bfaf14086cf.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4de714011e3743698f524b55bc6f1d0a.html" target="element"> Service Continous Improvement </a> </td>
																		<td> <a href="../elements/id-2f0ebeec026248d7a7ad20571e43da91.html" target="element"> ITIL SD Service Continuity Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-51da99a12adf477cb6711bfaf14086cf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-51da99a12adf477cb6711bfaf14086cf.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4de714011e3743698f524b55bc6f1d0a.html" target="element"> Service Continous Improvement </a> </td>
																		<td> <a href="../elements/id-2f0ebeec026248d7a7ad20571e43da91.html" target="element"> ITIL SD Service Continuity Management </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ef863b36ae1d4aa38b3fedcac9720c28.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ef863b36ae1d4aa38b3fedcac9720c28.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4de714011e3743698f524b55bc6f1d0a.html" target="element"> Service Continous Improvement </a> </td>
																		<td> <a href="../elements/id-7790679597bd4d5eae7fddd61de836db.html" target="element"> Process Objective: To use methods from quality management in order to learn from past successes and failures. The Continual Service Improvement process aims to continually improve the effectiveness and efficiency of IT processes and services, in line with the concept of continual improvement adopted in ISO 20000. </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-586f81c677304a9fb7aa43a656504cbf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-586f81c677304a9fb7aa43a656504cbf.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4de714011e3743698f524b55bc6f1d0a.html" target="element"> Service Continous Improvement </a> </td>
																		<td> <a href="../elements/id-f7daea36e73f4e22ac5358a728cfe591.html" target="element"> Application Lifecycle Management </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-09b9881c7bbb41b3a3ee72cb9bcccfa6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-09b9881c7bbb41b3a3ee72cb9bcccfa6.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/a7729be1-115e-41d2-b87d-ea6881b0c366.html" target="element"> Prosessansvarlig </a> </td>
																		<td> <a href="../elements/id-9de00466e85746ada2557bddf217fe36.html" target="element"> Service Design </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-44a8ff4bd6d54f57a89b6d8aef29cdca.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-44a8ff4bd6d54f57a89b6d8aef29cdca.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/a7729be1-115e-41d2-b87d-ea6881b0c366.html" target="element"> Prosessansvarlig </a> </td>
																		<td> <a href="../elements/id-aaa80959e34447efaa80d3142d8757ee.html" target="element"> Service Transition </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8582015ea2bb432ebdd67c17ea3ce6a1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8582015ea2bb432ebdd67c17ea3ce6a1.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/037f7ab1-1bb7-43b8-8c99-f3621f57127c.html" target="element"> Prosesseier </a> </td>
																		<td> <a href="../elements/id-c80af346f57e4a6b920c6d0b13d48962.html" target="element"> Service Strategy </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e728526254084674a7e9abab917929a8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e728526254084674a7e9abab917929a8.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/0e0263bf-8a0e-4891-81f4-ff880fb56b18.html" target="element"> Prosessledelse </a> </td>
																		<td> <a href="../elements/id-4de714011e3743698f524b55bc6f1d0a.html" target="element"> Service Continous Improvement </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f5672cf5756445c48ba0a5e5a7358a4e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f5672cf5756445c48ba0a5e5a7358a4e.html" target="element" class="i18n-elementtype-InfluenceRelationship">
																		</a> </td>
																		<td> <a href="../elements/0e0263bf-8a0e-4891-81f4-ff880fb56b18.html" target="element"> Prosessledelse </a> </td>
																		<td> <a href="../elements/id-0ba6cc4f3dee47a9ab194222c04a011f.html" target="element"> Service Operations </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>