<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Arkivdel (Enkel)</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Arkivdel (Enkel)</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-elementtype-SketchModel"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-SketchModel" target="hint"></a>
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-fbb45520974046db87ec2cac00acd155.png" alt="Arkivdel (Enkel)" usemap="#id-fbb45520974046db87ec2cac00acd155map"/>
			   <map name="id-fbb45520974046db87ec2cac00acd155map">
				  		        <area shape="rect" coords="118,328,275,365" href="../objects/id-291da9908ed24485bfa543b927c951ed.html" target="element" >
				  		        <area shape="rect" coords="22,244,167,281" href="../objects/id-5f17dd678c824051b2de8762865309cc.html" target="element" >
				  		        <area shape="rect" coords="22,52,275,89" href="../objects/id-c6fd63d476634acea7fad9812ded22db.html" target="element" >
				  		        <area shape="rect" coords="22,148,275,185" href="../objects/id-6e496881cca74315a562d78b846ea4b1.html" target="element" >

				          <area shape="rect" coords="10,10,287,491" href="../objects/id-b6bc0c9a71bb4b2298ac0b4ff2495cf8.html" target="element" >
				  						        <area shape="rect" coords="1444,862,1637,899" href="../objects/id-f9ff2c920173422d948d9b1e3d136f3c.html" target="element" >
				  						        <area shape="rect" coords="988,862,1181,899" href="../objects/id-9e871469fab4415a92a3c501e693e0f0.html" target="element" >
				  						        <area shape="rect" coords="544,862,737,899" href="../objects/id-d45c473a15974139889eaf369b30b4a0.html" target="element" >

				  				        <area shape="rect" coords="478,814,1709,947" href="../objects/id-07d71930137b48f789b733ae7a439fe1.html" target="element" >
				  				        <area shape="rect" coords="1450,142,1727,167" href="../objects/id-284040ced2f54e5bba1ad047b24a6192.html" target="element" >
				  						        <area shape="rect" coords="1354,358,1547,395" href="../objects/id-9cec750d741f4336817a1198a1236bb8.html" target="element" >
				  						        <area shape="rect" coords="1354,322,1535,347" href="../objects/id-dfe4177b7b4040c890f1cd99f9868b2e.html" target="element" >
				  						        <area shape="rect" coords="1354,250,1535,275" href="../objects/id-810ffba6525a49f69161b51a239b31d9.html" target="element" >
				  						        <area shape="rect" coords="1354,286,1535,311" href="../objects/id-249ad5a3c19440e7bda40fe4fe4439fa.html" target="element" >
				  						        <area shape="rect" coords="1354,550,1717,577" href="../objects/id-a5d0ef1e80b64c71a39f44e3b5bcdd1f.html" target="element" >
				  						        <area shape="rect" coords="1354,598,1489,659" href="../objects/id-34b6696a7fde4b1aa03acf408e5aacc3.html" target="element" >
				  						        <area shape="rect" coords="1582,478,1717,539" href="../objects/id-66d8ec934e8741cd8f3368b383bbb8b6.html" target="element" >
				  						        <area shape="rect" coords="1354,478,1489,539" href="../objects/id-9a8b4a326d4c4814a65cce0e0a9c0c9b.html" target="element" >
				  						        <area shape="rect" coords="1354,430,1489,467" href="../objects/id-629528b65404470fbca36bd5ebe10e0d.html" target="element" >

				  				        <area shape="rect" coords="1342,202,1727,743" href="../objects/id-59d998050dca4330876f50b21e323305.html" target="element" >
				  						        <area shape="rect" coords="706,598,841,623" href="../objects/id-41cc4278f95842c192fc44e253072f43.html" target="element" >
				  						        <area shape="rect" coords="478,358,671,395" href="../objects/id-9005ffc0a3b14eb2a3a0fcaffaf14970.html" target="element" >
				  						        <area shape="rect" coords="478,286,659,311" href="../objects/id-b6b11c30706b4537831342a98d29b30b.html" target="element" >
				  						        <area shape="rect" coords="478,250,659,275" href="../objects/id-36a7d3ded39b41d6b0eb1cdcdfa90480.html" target="element" >
				  						        <area shape="rect" coords="478,550,841,577" href="../objects/id-9d74fe6af9b74c208f8b3bd66a0a39cf.html" target="element" >
				  						        <area shape="rect" coords="501,598,636,659" href="../objects/id-76523c35733d4767ae1403c27c2f7ac2.html" target="element" >
				  						        <area shape="rect" coords="706,478,841,539" href="../objects/id-79584197c84848659eb490ac63c3af6b.html" target="element" >
				  						        <area shape="rect" coords="478,478,613,539" href="../objects/id-bb288858493a462d832081061320de5b.html" target="element" >
				  						        <area shape="rect" coords="478,430,613,467" href="../objects/id-ab157a3e1c8e46ea98e45078069976e0.html" target="element" >

				  				        <area shape="rect" coords="466,202,851,743" href="../objects/id-5431553a2335498d83cf3968486ffbe9.html" target="element" >
				  						        <area shape="rect" coords="1126,682,1261,712" href="../objects/id-e0d09ee7b2cf4cc8aa6f362071e4576e.html" target="element" >
				  						        <area shape="rect" coords="1126,614,1261,644" href="../objects/id-9d49ab7b282f4aa1a3a262f9edc9373a.html" target="element" >
				  						        <area shape="rect" coords="1150,670,1285,695" href="../objects/id-047206b5ea2748a5b646da5929745a93.html" target="element" >
				  						        <area shape="rect" coords="1150,598,1285,623" href="../objects/id-9cf836bf69d6462b8f44bb7684eed9c3.html" target="element" >
				  						        <area shape="rect" coords="922,358,1115,395" href="../objects/id-9c818845b00f4ab1928c29e45819160b.html" target="element" >
				  						        <area shape="rect" coords="922,286,1103,311" href="../objects/id-e0073f0fb20b40b8b1ef49522eb7374b.html" target="element" >
				  						        <area shape="rect" coords="922,250,1103,275" href="../objects/id-19524fe6d5784b8fbc3affbd73146c86.html" target="element" >
				  						        <area shape="rect" coords="922,550,1285,577" href="../objects/id-0fcb87d7bccd401e8b73d266709422d8.html" target="element" >
				  						        <area shape="rect" coords="922,598,1057,659" href="../objects/id-9c0f03c2840c42c999f125630e27c44f.html" target="element" >
				  						        <area shape="rect" coords="1150,478,1285,539" href="../objects/id-7e5ff1c55a3e4b4a9abccf373065c5e9.html" target="element" >
				  						        <area shape="rect" coords="922,478,1057,539" href="../objects/id-bf229b6f6ddd433f8e4cfdaa4cd4c3e0.html" target="element" >
				  						        <area shape="rect" coords="922,430,1057,467" href="../objects/id-9529e94eba234e548eb754f6fb589bc1.html" target="element" >

				  				        <area shape="rect" coords="910,202,1295,743" href="../objects/id-ece8d4c6943c4db8b79c122e5141ed47.html" target="element" >

				  		        <area shape="rect" coords="442,106,1751,995" href="../objects/id-1c6fb8ff6c2f4f0fb09b3dde32efd599.html" target="element" >

				          <area shape="rect" coords="358,10,1835,1103" href="../objects/id-9aa039e2a71f4c17a4ddbfcf9c254207.html" target="element" >

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
									        <tr>
									           <td> <a href="../objects/id-9aa039e2a71f4c17a4ddbfcf9c254207.html" target="element"> Sticky </a> </td>
									           <td> <a href="../objects/id-9aa039e2a71f4c17a4ddbfcf9c254207.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-1c6fb8ff6c2f4f0fb09b3dde32efd599.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/id-1c6fb8ff6c2f4f0fb09b3dde32efd599.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

													        <tr>
													           <td> <a href="../objects/id-ece8d4c6943c4db8b79c122e5141ed47.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/id-ece8d4c6943c4db8b79c122e5141ed47.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

															        <tr>
															           <td> <a href="../objects/id-9529e94eba234e548eb754f6fb589bc1.html" target="element"> Sticky </a> </td>
															           <td> <a href="../objects/id-9529e94eba234e548eb754f6fb589bc1.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
															        </tr>

															        <tr>
															           <td> <a href="../objects/id-bf229b6f6ddd433f8e4cfdaa4cd4c3e0.html" target="element"> Sticky </a> </td>
															           <td> <a href="../objects/id-bf229b6f6ddd433f8e4cfdaa4cd4c3e0.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
															        </tr>

															        <tr>
															           <td> <a href="../objects/id-7e5ff1c55a3e4b4a9abccf373065c5e9.html" target="element"> Sticky </a> </td>
															           <td> <a href="../objects/id-7e5ff1c55a3e4b4a9abccf373065c5e9.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
															        </tr>

															        <tr>
															           <td> <a href="../objects/id-9c0f03c2840c42c999f125630e27c44f.html" target="element"> Sticky </a> </td>
															           <td> <a href="../objects/id-9c0f03c2840c42c999f125630e27c44f.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
															        </tr>

															        <tr>
															           <td> <a href="../objects/id-0fcb87d7bccd401e8b73d266709422d8.html" target="element"> Sticky </a> </td>
															           <td> <a href="../objects/id-0fcb87d7bccd401e8b73d266709422d8.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
															        </tr>

															        <tr>
															           <td> <a href="../objects/id-19524fe6d5784b8fbc3affbd73146c86.html" target="element"> Sticky </a> </td>
															           <td> <a href="../objects/id-19524fe6d5784b8fbc3affbd73146c86.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
															        </tr>

															        <tr>
															           <td> <a href="../objects/id-e0073f0fb20b40b8b1ef49522eb7374b.html" target="element"> Sticky </a> </td>
															           <td> <a href="../objects/id-e0073f0fb20b40b8b1ef49522eb7374b.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
															        </tr>

															        <tr>
															           <td> <a href="../objects/id-9c818845b00f4ab1928c29e45819160b.html" target="element"> Sticky </a> </td>
															           <td> <a href="../objects/id-9c818845b00f4ab1928c29e45819160b.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
															        </tr>

															        <tr>
															           <td> <a href="../objects/id-9cf836bf69d6462b8f44bb7684eed9c3.html" target="element"> Sticky </a> </td>
															           <td> <a href="../objects/id-9cf836bf69d6462b8f44bb7684eed9c3.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
															        </tr>

															        <tr>
															           <td> <a href="../objects/id-047206b5ea2748a5b646da5929745a93.html" target="element"> Sticky </a> </td>
															           <td> <a href="../objects/id-047206b5ea2748a5b646da5929745a93.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
															        </tr>

															        <tr>
															           <td> <a href="../objects/id-9d49ab7b282f4aa1a3a262f9edc9373a.html" target="element"> Sticky </a> </td>
															           <td> <a href="../objects/id-9d49ab7b282f4aa1a3a262f9edc9373a.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
															        </tr>

															        <tr>
															           <td> <a href="../objects/id-e0d09ee7b2cf4cc8aa6f362071e4576e.html" target="element"> Sticky </a> </td>
															           <td> <a href="../objects/id-e0d09ee7b2cf4cc8aa6f362071e4576e.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
															        </tr>

															
													        <tr>
													           <td> <a href="../objects/id-5431553a2335498d83cf3968486ffbe9.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/id-5431553a2335498d83cf3968486ffbe9.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

															        <tr>
															           <td> <a href="../objects/id-ab157a3e1c8e46ea98e45078069976e0.html" target="element"> Sticky </a> </td>
															           <td> <a href="../objects/id-ab157a3e1c8e46ea98e45078069976e0.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
															        </tr>

															        <tr>
															           <td> <a href="../objects/id-bb288858493a462d832081061320de5b.html" target="element"> Sticky </a> </td>
															           <td> <a href="../objects/id-bb288858493a462d832081061320de5b.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
															        </tr>

															        <tr>
															           <td> <a href="../objects/id-79584197c84848659eb490ac63c3af6b.html" target="element"> Sticky </a> </td>
															           <td> <a href="../objects/id-79584197c84848659eb490ac63c3af6b.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
															        </tr>

															        <tr>
															           <td> <a href="../objects/id-76523c35733d4767ae1403c27c2f7ac2.html" target="element"> Sticky </a> </td>
															           <td> <a href="../objects/id-76523c35733d4767ae1403c27c2f7ac2.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
															        </tr>

															        <tr>
															           <td> <a href="../objects/id-9d74fe6af9b74c208f8b3bd66a0a39cf.html" target="element"> Sticky </a> </td>
															           <td> <a href="../objects/id-9d74fe6af9b74c208f8b3bd66a0a39cf.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
															        </tr>

															        <tr>
															           <td> <a href="../objects/id-36a7d3ded39b41d6b0eb1cdcdfa90480.html" target="element"> Sticky </a> </td>
															           <td> <a href="../objects/id-36a7d3ded39b41d6b0eb1cdcdfa90480.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
															        </tr>

															        <tr>
															           <td> <a href="../objects/id-b6b11c30706b4537831342a98d29b30b.html" target="element"> Sticky </a> </td>
															           <td> <a href="../objects/id-b6b11c30706b4537831342a98d29b30b.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
															        </tr>

															        <tr>
															           <td> <a href="../objects/id-9005ffc0a3b14eb2a3a0fcaffaf14970.html" target="element"> Sticky </a> </td>
															           <td> <a href="../objects/id-9005ffc0a3b14eb2a3a0fcaffaf14970.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
															        </tr>

															        <tr>
															           <td> <a href="../objects/id-41cc4278f95842c192fc44e253072f43.html" target="element"> Sticky </a> </td>
															           <td> <a href="../objects/id-41cc4278f95842c192fc44e253072f43.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
															        </tr>

															
													        <tr>
													           <td> <a href="../objects/id-59d998050dca4330876f50b21e323305.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/id-59d998050dca4330876f50b21e323305.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

															        <tr>
															           <td> <a href="../objects/id-629528b65404470fbca36bd5ebe10e0d.html" target="element"> Sticky </a> </td>
															           <td> <a href="../objects/id-629528b65404470fbca36bd5ebe10e0d.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
															        </tr>

															        <tr>
															           <td> <a href="../objects/id-9a8b4a326d4c4814a65cce0e0a9c0c9b.html" target="element"> Sticky </a> </td>
															           <td> <a href="../objects/id-9a8b4a326d4c4814a65cce0e0a9c0c9b.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
															        </tr>

															        <tr>
															           <td> <a href="../objects/id-66d8ec934e8741cd8f3368b383bbb8b6.html" target="element"> Sticky </a> </td>
															           <td> <a href="../objects/id-66d8ec934e8741cd8f3368b383bbb8b6.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
															        </tr>

															        <tr>
															           <td> <a href="../objects/id-34b6696a7fde4b1aa03acf408e5aacc3.html" target="element"> Sticky </a> </td>
															           <td> <a href="../objects/id-34b6696a7fde4b1aa03acf408e5aacc3.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
															        </tr>

															        <tr>
															           <td> <a href="../objects/id-a5d0ef1e80b64c71a39f44e3b5bcdd1f.html" target="element"> Sticky </a> </td>
															           <td> <a href="../objects/id-a5d0ef1e80b64c71a39f44e3b5bcdd1f.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
															        </tr>

															        <tr>
															           <td> <a href="../objects/id-249ad5a3c19440e7bda40fe4fe4439fa.html" target="element"> Sticky </a> </td>
															           <td> <a href="../objects/id-249ad5a3c19440e7bda40fe4fe4439fa.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
															        </tr>

															        <tr>
															           <td> <a href="../objects/id-810ffba6525a49f69161b51a239b31d9.html" target="element"> Sticky </a> </td>
															           <td> <a href="../objects/id-810ffba6525a49f69161b51a239b31d9.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
															        </tr>

															        <tr>
															           <td> <a href="../objects/id-dfe4177b7b4040c890f1cd99f9868b2e.html" target="element"> Sticky </a> </td>
															           <td> <a href="../objects/id-dfe4177b7b4040c890f1cd99f9868b2e.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
															        </tr>

															        <tr>
															           <td> <a href="../objects/id-9cec750d741f4336817a1198a1236bb8.html" target="element"> Sticky </a> </td>
															           <td> <a href="../objects/id-9cec750d741f4336817a1198a1236bb8.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
															        </tr>

															
													        <tr>
													           <td> <a href="../objects/id-284040ced2f54e5bba1ad047b24a6192.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/id-284040ced2f54e5bba1ad047b24a6192.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

													        <tr>
													           <td> <a href="../objects/id-07d71930137b48f789b733ae7a439fe1.html" target="element"> Sticky </a> </td>
													           <td> <a href="../objects/id-07d71930137b48f789b733ae7a439fe1.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
													        </tr>

															        <tr>
															           <td> <a href="../objects/id-d45c473a15974139889eaf369b30b4a0.html" target="element"> Sticky </a> </td>
															           <td> <a href="../objects/id-d45c473a15974139889eaf369b30b4a0.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
															        </tr>

															        <tr>
															           <td> <a href="../objects/id-9e871469fab4415a92a3c501e693e0f0.html" target="element"> Sticky </a> </td>
															           <td> <a href="../objects/id-9e871469fab4415a92a3c501e693e0f0.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
															        </tr>

															        <tr>
															           <td> <a href="../objects/id-f9ff2c920173422d948d9b1e3d136f3c.html" target="element"> Sticky </a> </td>
															           <td> <a href="../objects/id-f9ff2c920173422d948d9b1e3d136f3c.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
															        </tr>

															
													
											
									        <tr>
									           <td> <a href="../objects/id-b6bc0c9a71bb4b2298ac0b4ff2495cf8.html" target="element"> Sticky </a> </td>
									           <td> <a href="../objects/id-b6bc0c9a71bb4b2298ac0b4ff2495cf8.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
									        </tr>

											        <tr>
											           <td> <a href="../objects/id-6e496881cca74315a562d78b846ea4b1.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/id-6e496881cca74315a562d78b846ea4b1.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-c6fd63d476634acea7fad9812ded22db.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/id-c6fd63d476634acea7fad9812ded22db.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-5f17dd678c824051b2de8762865309cc.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/id-5f17dd678c824051b2de8762865309cc.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											        <tr>
											           <td> <a href="../objects/id-291da9908ed24485bfa543b927c951ed.html" target="element"> Sticky </a> </td>
											           <td> <a href="../objects/id-291da9908ed24485bfa543b927c951ed.html" target="element" class="i18n-elementtype-SketchModelSticky"> </a> </td>
											        </tr>

											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
																	<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
															
													
											
											<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
													<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.SketchModelSticky -->
											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>